<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="isry.couns.mngr.hpgemng.mapper.CounselorMngMapper">
    <select id="selectCounselorMngList" parameterType="HashMap" resultType="HashMap">
    /**
    *   컴슬러관리 화면 리스트
    */    
    
    SELECT 
		A.ENFSN_NO AS ENFSN_NO,
		MAX(C##RG.DEC_B64(D.FLNM_ENCPT))  AS CNSLTNT_NM,
		MAX(E.USER_ID)  AS CNSLTNT_ID,     
		MAX(D.NCKN_NM)  AS CNSLTNT_NCKN,     
		NVL( MAX(A.SUBJCT_NM), MAX(F.CMMNS_CD_VALUE_NM)) AS  MAJOR_NM,
		LISTAGG(NVL(B.ENFSN_NTN_CERTI_SE_ETC_CN, C.CMMNS_CD_VALUE_NM),',') WITHIN GROUP(ORDER BY B.ENFSN_NTN_CERTI_SE_CD) AS CERTI_NM,
		MAX(E.FRST_REG_DT)  AS REG_DT,
		MAX(A.INDCT_YN)  AS INDCT_YN
    FROM 
        AKA600 A, 
        AKA610 B, 
        SAC100 C, 
        SCA100 D, 
        SAA200 E, 
        SAC100 F
	WHERE 1=1
		AND A.CNTER_INST_NO = '1000000947'
		AND A.ENFSN_NO = D.ENFSN_NO
		AND A.ENFSN_NO = E.ENFSN_NO
		AND A.ENFSN_NO = B.ENFSN_NO
		AND B.DEL_YN = 'N' AND D.DEL_YN = 'N' 
		AND C.CMMNS_CD_ID (+) = 'ENFSN_NTN_CERTI_SE_CD'
        AND C.CMMNS_CD_VALUE (+)  = B.ENFSN_NTN_CERTI_SE_CD
        AND F.CMMNS_CD_ID (+)= 'EMPMN_INFO_MAJOR_SE_CD'
        AND F.CMMNS_CD_VALUE (+)= A.EMPMN_INFO_MAJOR_SE_CD
		
		<if test='INDCT_YN != null and INDCT_YN != "" and INDCT_YN != "all"'>
		  AND A.INDCT_YN = #{INDCT_YN}
		</if>
		
		<if test='CNSLTNT_NM != null and CNSLTNT_NM != ""'>
          AND C##RG.DEC_B64(D.FLNM_ENCPT) LIKE '%' || #{CNSLTNT_NM} || '%'
        </if>
        
        <if test='CNSLTNT_ID != null and CNSLTNT_ID != ""'>
          AND E.USER_ID LIKE '%' || #{CNSLTNT_ID} || '%'
        </if>
        
        <if test='CNSLTNT_NCKN != null and CNSLTNT_NCKN != ""'>
          AND D.NCKN_NM LIKE '%' || #{CNSLTNT_NCKN} || '%'
        </if>
				
	GROUP BY A.ENFSN_NO 
	ORDER BY CNSLTNT_NM
    
    </select>
    
    <update id="updateCounselorIndct">
    UPDATE AKA600 SET
        INDCT_YN = #{INDCT_YN}
    WHERE 1=1
        AND ENFSN_NO = #{ENFSN_NO}            
    </update>
</mapper>