<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri April 29 17:59:19 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.eduLink.mapper.EduLinkMapper">

    <!-- CAD100 조회 -->
    <select id="selectCad100" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        SELECT ESB_SEQ                  AS ESB_SEQ                  -- PK
            , STU_FLNM                  AS STDNT_FLNM_ENCPT         -- 학생성명암호화
            , STU_BRDT                  AS STDNT_BRTH_YMD           -- 학생생년월일
            , SXDS_SC_CD                AS STDNT_SXDC_NM            -- 학생성별
            , STU_ADDR_POST_NO          AS ADDR_ZIP                 -- 우편번호
            , STU_ADDR                  AS STDNT_ADDR               -- 학생주소
            , STU_DTL_ADDR              AS STDNT_DTL_ADDR           -- 학생상세주소
            , STU_TELNO                 AS STDNT_TELNO              -- 학생전화번호
            , STU_MBL_TELNO             AS STDNT_MBL_TELNO_ENCPT
            , STU_EML_ADDR              AS STDNT_EML_ADDR_ENCPT
            , STTY_AGT_TELNO
            , STTY_AGT_EML_ADDR         AS STTY_AGT_EML_ADDR_ENCPT
            , SHL_NM                    AS LAST_SCHL_GRADE_NM       -- 최종학교명
            , SHL_CD                    AS SHL_CD
            , substr(SHL_CD, 0,3)       AS MOE_OFCDC_SE_CD          -- 
            , SCWK_HALT_YMD             AS SCHULW_DSCNTC_YMD        -- 학업중단일자
            , SCWK_HALT_RSN_CD          AS SCHULW_DSCNTC_CS_CN      -- 학업중단사유내용
            , HOP_COSE_ETC_CN           AS HNCFRT_HPE_COSE_NM       -- 향후진로명
            , STU_AGRE_STS_CD           AS STDNT_WRTCNS_SBMSN_YN    -- 학생동의여부
            , STTY_AGT_AGRE_STS_CD      AS STTY_AGT_WRTCNS_SBMSN_YN -- 법정대리인동의여부
        FROM CAD100
        WHERE ESB_STATUS = 'S'
    ]]>
    </select>
    
    <!-- 특별관리리스트 코드 리스트 조회 -->
    <select id="moeSchulmCodeList" resultType="String">
        SELECT CMMNS_CD_VALUE_NM 
        FROM SAC100
        WHERE CMMNS_CD_ID = 'MOE_SCHULW_DSCNTC_SCLAS_SE_CD'
        AND UP_CMMNS_CD_VALUE IN ('04','06')    
    </select>
    
    <!-- 중복등록확인 -->
    <select id="selectDupChk" parameterType="HashMap" resultType="String">
    
        SELECT /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.selectDupChk(중복등록확인) */
               COUNT(1) AS sDupChk
         FROM AKA221     /* 교육청집단연계-업로드파일상세 */
        WHERE 1=1
          AND STDNT_FLNM_ENCPT      = #{STDNT_FLNM_ENCPT}
          AND STDNT_BRTH_YMD        = #{STDNT_BRTH_YMD}
          AND STDNT_MBL_TELNO_ENCPT = #{STDNT_MBL_TELNO_ENCPT}         
    </select>
    
    <!-- 학생나이구하기 -->
    <select id="selectStdntAge" parameterType="String" resultType="String">
    
        SELECT /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.selectStdntAge(학생나이구하기) */
               TRUNC(MONTHS_BETWEEN(TRUNC(SYSDATE), TO_DATE(#{STDNT_BRTH_YMD},'YYYYMMDD')) / 12) AS AGE
         FROM DUAL     /* 교육청집단연계-업로드파일상세 */        
    </select>
    
    <select id="selectSac100" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        SELECT CMMNS_CD_ID
            , CMMNS_CD_VALUE
            , UP_CMMNS_CD_VALUE
            , CMMNS_CD_VALUE_NM
            , ADDTNG_MNG_VALUE1
            , ADDTNG_MNG_VALUE2
            , ADDTNG_MNG_VALUE3
            , ADDTNG_MNG_VALUE4
            , ADDTNG_MNG_VALUE5
        FROM SAC100
        WHERE CMMNS_CD_ID = #{CMMNS_CD_ID}
    ]]>
    </select>
    
    <!-- 기관번호,담당자종사자번호 구하기 -->
    <select id="selectInstEnfsnNo" parameterType="HashMap" resultType="HashMap">
    
        SELECT /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.selectInstEnfsnNo(기관번호,담당자종사자번호 구하기) */
               NVL(T1.INST_NO,'0')       AS INST_NO          --기관번호
              ,NVL(T1.PIC_ENFSN_NO,'0')  AS PIC_ENFSN_NO     --담당자종사자번호
              ,T1.SGG_CD                 AS SGG_CD           --시군구코드
         FROM SAA000 T1 /* 통합기관 */
         WHERE 1=1
           AND T1.UNT_TASKWK_SE_CD = 'U03'
           AND T1.INST_TYPE_SE_CD = '8'
           AND (T1.INST_NM LIKE '%꿈드림%' OR T1.INST_NM LIKE '%학교밖%')
           AND T1.SGG_CD = (SELECT X.SGG_CD
                              FROM SAA020 X/* 시군구코드 */
                             WHERE 1=1
                               AND X.CTPV_NM = #{CTPV_NM}                                                      
                               <if test='CTPV_NM != "세종특별자치시"'>
                                   <![CDATA[                                   
                                       AND X.SGG_NM = #{SGG_NM}
                                   ]]>
                               </if>         
                               )          
        UNION ALL
        
        SELECT 
               NVL(T1.INST_NO,'0')       AS INST_NO          --기관번호
              ,NVL(T1.PIC_ENFSN_NO,'0')  AS PIC_ENFSN_NO     --담당자종사자번호
              ,T1.SGG_CD                 AS SGG_CD           --시군구코드
         FROM SAA000 T1 /* 통합기관 */
         WHERE 1=1
           AND T1.UNT_TASKWK_SE_CD = 'U03'
           AND (T1.INST_NM LIKE '%꿈드림%' OR T1.INST_NM LIKE '%학교밖%')
           AND T1.INST_TYPE_SE_CD = '8'
           AND T1.SGG_CD = (SELECT X.SGG_CD
                              FROM SAA020 X/* 시군구코드 */
                             WHERE 1=1
                               AND X.CTPV_NM = #{CTPV_NM}                                                      
                               <if test='CTPV_NM != "세종특별자치시"'>
                                   <![CDATA[                                   
                                       AND X.SGG_NM = #{SGG_NM1}
                                   ]]>
                               </if>         
                               )          
        UNION ALL
        
        SELECT
                NVL(T1.INST_NO,'0')       AS INST_NO          --기관번호
              ,NVL(T1.PIC_ENFSN_NO,'0')  AS PIC_ENFSN_NO     --담당자종사자번호
              ,T1.SGG_CD                 AS SGG_CD           --시군구코드
         FROM SAA000 T1 /* 통합기관 */
         WHERE 1=1
           AND T1.UNT_TASKWK_SE_CD = 'U03'
           AND (T1.INST_NM LIKE '%꿈드림%' OR T1.INST_NM LIKE '%학교밖%')
           AND T1.CTPV_CD = #{CTPV_SE_CD}
           AND INST_TYPE_SE_CD = '5'                                       
    </select>
    
    <!-- SEB400(서비스제공의뢰) insert -->
    <insert id="insertSrvcPvsnRqst" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertSrvcPvsnRqst(SEB400(서비스제공의뢰) insert) */
         
          INSERT INTO SEB400     /* 서비스제공의뢰 */
            (SRVC_PVSN_RQST_NO
            , RESRCE_NO
            , HPE_SRVC_YN
            , RQST_UNT_TASKWK_SE_CD
            , RCPT_RQST_COURS_SE_CD
            , RQST_YMD
            , CLINT_NO
            , RQST_INST_NO
            , RQST_CS_CN
            , PRNMNT_USE_BGNG_YMD
            , PRNMNT_USE_BGNG_HR
            , PRNMNT_USE_END_YMD
            , PRNMNT_USE_END_HR
            , RCPT_UNT_TASKWK_SE_CD
            , CLR_NO
            , RCPT_INST_NO
            , RQST_TRPR_INFO_NO
            , CASE_MNG_NO
            , CASE_MNG_ODRNO
            , RQST_APLY_YN
            , RQST_DTL_CN
            , LINK_TYPE_SE_CD
            , ATFINO
            , TRMN_PRCS_YN
            , DEL_YN
            , LINK_SN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT
            ) VALUES (
              #{SRVC_PVSN_RQST_NO}
            , #{RESRCE_NO}
            , #{HPE_SRVC_YN}
            , #{RQST_UNT_TASKWK_SE_CD}
            , #{RCPT_RQST_COURS_SE_CD}
            , #{RQST_YMD}
            , #{CLINT_NO}
            , #{RQST_INST_NO}
            , #{RQST_CS_CN}
            , #{PRNMNT_USE_BGNG_YMD}
            , #{PRNMNT_USE_BGNG_HR}
            , #{PRNMNT_USE_END_YMD}
            , #{PRNMNT_USE_END_HR}
            , #{RCPT_UNT_TASKWK_SE_CD}
            , #{CLR_NO}
            , #{RCPT_INST_NO}
            , #{RQST_TRPR_INFO_NO}
            , #{CASE_MNG_NO}
            , #{CASE_MNG_ODRNO}
            , #{RQST_APLY_YN}
            , #{RQST_DTL_CN}
            , #{LINK_TYPE_SE_CD}
            , #{ATFINO}
            , #{TRMN_PRCS_YN}
            , #{DEL_YN}
            , #{LINK_SN}
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEB401(서비스제공의뢰이력) insert -->
    <insert id="insertSrvcPvsnRqstHstr" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertSrvcPvsnRqstHstr(SEB401(서비스제공의뢰이력) insert) */
         
          INSERT INTO SEB401     /* 서비스제공의뢰이력 */
            ( MDFCN_DT
            , SRVC_PVSN_RQST_NO
            , DATAA_CHG_SE_CD
            , RESRCE_NO
            , HPE_SRVC_YN
            , RQST_UNT_TASKWK_SE_CD
            , RCPT_RQST_COURS_SE_CD
            , RQST_YMD
            , CLINT_NO
            , RQST_INST_NO
            , RQST_CS_CN
            , PRNMNT_USE_BGNG_YMD
            , PRNMNT_USE_BGNG_HR
            , PRNMNT_USE_END_YMD
            , PRNMNT_USE_END_HR
            , RCPT_UNT_TASKWK_SE_CD
            , CLR_NO
            , RCPT_INST_NO
            , RQST_TRPR_INFO_NO
            , CASE_MNG_NO
            , CASE_MNG_ODRNO
            , RQST_APLY_YN
            , RQST_DTL_CN
            , LINK_TYPE_SE_CD
            , ATFINO
            , TRMN_PRCS_YN
            , DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              SYSDATE
            , #{SRVC_PVSN_RQST_NO}
            , #{DATAA_CHG_SE_CD}
            , #{RESRCE_NO}
            , #{HPE_SRVC_YN}
            , #{RQST_UNT_TASKWK_SE_CD}
            , #{RCPT_RQST_COURS_SE_CD}
            , #{RQST_YMD}
            , #{CLINT_NO}
            , #{RQST_INST_NO}
            , #{RQST_CS_CN}
            , #{PRNMNT_USE_BGNG_YMD}
            , #{PRNMNT_USE_BGNG_HR}
            , #{PRNMNT_USE_END_YMD}
            , #{PRNMNT_USE_END_HR}
            , #{RCPT_UNT_TASKWK_SE_CD}
            , #{CLR_NO}
            , #{RCPT_INST_NO}
            , #{RQST_TRPR_INFO_NO}
            , #{CASE_MNG_NO}
            , #{CASE_MNG_ODRNO}
            , #{RQST_APLY_YN}
            , #{RQST_DTL_CN}
            , #{LINK_TYPE_SE_CD}
            , #{ATFINO}
            , #{TRMN_PRCS_YN}
            , #{DEL_YN} 
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEB420(서비스제공접수) insert -->
    <insert id="insertSrvcPvsnRcpt" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertSrvcPvsnRcpt(SEB420(서비스제공접수) insert) */
         
          INSERT INTO SEB420     /* 서비스제공접수 */
            (SRVC_PVSN_RQST_NO
            , RCPT_SN
            , RESRCE_NO
            , LINK_TYPE_SE_CD
            , RCPT_UNT_TASKWK_SE_CD
            , CLR_NO
            , RCPT_TRPR_INFO_NO
            , FRST_RQST_NO
            , RCPT_INST_NO
            , RCPT_YMD
            , RCPT_SE_CD
            , RCPT_DTL_CN
            , RJCT_CS_SE_CD
            , RJCT_CS_ETC_CN
            , RRQST_YN
            , RRQST_RCPT_UNT_TASKWK_SE_CD
            , RRQST_CLR_NO
            , RRQST_RCPT_INST_NO
            , RRQST_YMD
            , APRV_USE_BGNG_YMD
            , APRV_USE_BGNG_HR
            , APRV_USE_END_YMD
            , APRV_USE_END_HR
            , HPE_SRVC_YN
            , ATFINO
            , DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{SRVC_PVSN_RQST_NO}
            ,(SELECT NVL(MAX(RCPT_SN),0)+1 FROM SEB420 WHERE SRVC_PVSN_RQST_NO = #{SRVC_PVSN_RQST_NO})
            , #{RESRCE_NO}
            , #{LINK_TYPE_SE_CD}             
            , #{RCPT_UNT_TASKWK_SE_CD}
            , #{CLR_NO}
            , #{RCPT_TRPR_INFO_NO}
            , #{FRST_RQST_NO}
            , #{RCPT_INST_NO}
            , #{RCPT_YMD}
            , #{RCPT_SE_CD}
            , #{RCPT_DTL_CN}
            , #{RJCT_CS_SE_CD}
            , #{RJCT_CS_ETC_CN}
            , #{RRQST_YN}
            , #{RRQST_RCPT_UNT_TASKWK_SE_CD}
            , #{RRQST_CLR_NO}
            , #{RRQST_RCPT_INST_NO} 
            , #{RRQST_YMD}
            , #{APRV_USE_BGNG_YMD}
            , #{APRV_USE_BGNG_HR}
            , #{APRV_USE_END_YMD}
            , #{APRV_USE_END_HR}
            , #{HPE_SRVC_YN}
            , #{ATFINO}
            , 'N'
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEB421(서비스제공접수이력) insert    -->
    <insert id="insertSrvcPvsnRcptHstr" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertSrvcPvsnRcptHstr(SEB421(서비스제공접수이력) insert) */
         
          INSERT INTO SEB421     /* 서비스제공접수이력 */
            ( MDFCN_DT
            , SRVC_PVSN_RQST_NO
            , RCPT_SN
            , RESRCE_NO
            , DATAA_CHG_SE_CD
            , LINK_TYPE_SE_CD
            , RCPT_UNT_TASKWK_SE_CD
            , CLR_NO
            , RCPT_TRPR_INFO_NO
            , FRST_RQST_NO
            , RCPT_INST_NO
            , RCPT_YMD
            , RCPT_SE_CD
            , RCPT_DTL_CN
            , RJCT_CS_SE_CD
            , RJCT_CS_ETC_CN
            , RRQST_YN
            , RRQST_RCPT_UNT_TASKWK_SE_CD
            , RRQST_CLR_NO
            , RRQST_RCPT_INST_NO
            , RRQST_YMD
            , APRV_USE_BGNG_YMD
            , APRV_USE_BGNG_HR
            , APRV_USE_END_YMD
            , APRV_USE_END_HR
            , HPE_SRVC_YN
            , ATFINO
            , DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              SYSDATE
            , #{SRVC_PVSN_RQST_NO}
            ,(SELECT NVL(MAX(RCPT_SN),0)+1 FROM SEB421 WHERE SRVC_PVSN_RQST_NO = #{SRVC_PVSN_RQST_NO})
            , #{RESRCE_NO}
            , #{DATAA_CHG_SE_CD}
            , #{LINK_TYPE_SE_CD}             
            , #{RCPT_UNT_TASKWK_SE_CD}
            , #{CLR_NO}
            , #{RCPT_TRPR_INFO_NO}
            , #{FRST_RQST_NO}
            , #{RCPT_INST_NO}
            , #{RCPT_YMD}
            , #{RCPT_SE_CD}
            , #{RCPT_DTL_CN}
            , #{RJCT_CS_SE_CD}
            , #{RJCT_CS_ETC_CN}
            , #{RRQST_YN}
            , #{RRQST_RCPT_UNT_TASKWK_SE_CD}
            , #{RRQST_CLR_NO}
            , #{RRQST_RCPT_INST_NO} 
            , #{RRQST_YMD}
            , #{APRV_USE_BGNG_YMD}
            , #{APRV_USE_BGNG_HR}
            , #{APRV_USE_END_YMD}
            , #{APRV_USE_END_HR}
            , #{HPE_SRVC_YN}
            , #{ATFINO}
            , 'N'
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEA200(대상자정보) insert -->
    <insert id="insertTrprInfo" parameterType="HashMap">
         /* isry.drmgs.link.OfcdcLinkAplyMapper.insertTrprInfo(SEA200(대상자정보) insert) */
         
          INSERT INTO SEA200     /* 대상자정보 */
            (TRPR_INFO_NO
            , INDV_IDNTFC_NO
            , UNT_TASKWK_SE_CD
            , TRPR_NM_ENCPT
            , TRPR_BRTH_YMD
            , SXDC_SE_CD
            , MRG_YN
            , TRPR_USER_ID
            , TRPR_TELNO
            , MBL_TELNO_ENCPT
            , EML_ADDR_ENCPT
            , SNS_SE_CD
            , MSNGR_ID_ENCPT
            , ZIP
            , PST_ADDR
            , DADDR
            , ACBG_SE_CD
            , GRDTN_STTS_SE_CD
            , GRADE_SE_CD
            , PSPT_ENG_FLNM_ENCPT
            , TRPR_BCRN_TYPE_SE_CD
            , TRPR_BCRN_TYPE_RM_NM
            , NLTY_NTN_SE_CD
            , ENTCNY_YMD
            , BRTH_NTN_SE_CD
            , GROWTH_NTN_SE_CD
            , VISA_TYPE_SE_CD
            , HANAWO_PENU_NO
            , RELGN_SE_CD
            , QLFC_INFO_MNG_NO
            , RCPT_PIC_NO
            , RCPT_INST_NO
            , CASE_TRPR_TYPE_SE_CD
            , CASE_MNG_SE_CD
            , CASE_TRPR_SLCTN_YMD
            , CASE_TRPR_UNSL_CS_CN
            , PRTCR_NM_ENCPT
            , TRPR_REL_SE_CD
            , LIVTGT_YN
            , PRTCR_AGRE_YN
            , PRVC_PVSN_AGRE_YN
            , SRVC_CTRT_AGRE_YN
            , TAG_NM
            , TAG_NO
            , CASE_TRPR_NOAP_CS_SE_CD
            , PRTCR_TELNO
            , PRTCR_MBL_TELNO_ENCPT
            , PRTCR_EML_ADDR_ENCPT
            , PRTCR_ZIP
            , PRTCR_PST_ADDR
            , PRTCR_DADDR
            , RESDN_SHAPE_SE_CD
            , RESIDE_SHAPE_SE_CD
            , RESIDE_SHAPE_ETC_CN
            , FAM_CHAR_SE_CD
            , INDV_IDNTFC_INFO_UNIPT_CS_CN
            , INDV_IDNTFC_CRTR_YMD
            , ORGNL_USER_ID
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{TRPR_INFO_NO} 
            , #{INDV_IDNTFC_NO} 
            , #{UNT_TASKWK_SE_CD} 
            , NVL(C##RG.ENC_B64(#{TRPR_NM_ENCPT}), '')
            , #{TRPR_BRTH_YMD} 
            , #{SXDC_SE_CD} 
            , #{MRG_YN} 
            , #{TRPR_USER_ID} 
            , #{TRPR_TELNO} 
            , NVL(C##RG.ENC_B64(#{MBL_TELNO_ENCPT}), '')  
            , #{EML_ADDR_ENCPT}           
            , #{SNS_SE_CD} 
            , NVL(C##RG.ENC_B64(#{MSNGR_ID_ENCPT}), '')             
            , #{ZIP} 
            , #{PST_ADDR} 
            , #{DADDR} 
            , #{ACBG_SE_CD} 
            , #{GRDTN_STTS_SE_CD} 
            , #{GRADE_SE_CD} 
            , NVL(C##RG.ENC_B64(#{PSPT_ENG_FLNM_ENCPT}), '')             
            , #{TRPR_BCRN_TYPE_SE_CD} 
            , #{TRPR_BCRN_TYPE_RM_NM} 
            , #{NLTY_NTN_SE_CD} 
            , #{ENTCNY_YMD} 
            , #{BRTH_NTN_SE_CD} 
            , #{GROWTH_NTN_SE_CD} 
            , #{VISA_TYPE_SE_CD} 
            , #{HANAWO_PENU_NO} 
            , #{RELGN_SE_CD} 
            , #{QLFC_INFO_MNG_NO} 
            , #{RCPT_PIC_NO} 
            , #{RCPT_INST_NO} 
            , #{CASE_TRPR_TYPE_SE_CD} 
            , #{CASE_MNG_SE_CD} 
            , #{CASE_TRPR_SLCTN_YMD} 
            , #{CASE_TRPR_UNSL_CS_CN} 
            , NVL(C##RG.ENC_B64(#{PRTCR_NM_ENCPT}), '')             
            , #{TRPR_REL_SE_CD} 
            , #{LIVTGT_YN}             
            , #{PRTCR_AGRE_YN}
            , #{PRVC_PVSN_AGRE_YN}
            , #{SRVC_CTRT_AGRE_YN}
            , #{TAG_NM}
            , #{TAG_NO}
            , #{CASE_TRPR_NOAP_CS_SE_CD}
            , #{PRTCR_TELNO}
            , NVL(C##RG.ENC_B64(#{PRTCR_MBL_TELNO_ENCPT}), '')
            , NVL(C##RG.ENC_B64(#{PRTCR_EML_ADDR_ENCPT}), '')             
            , #{PRTCR_ZIP}
            , #{PRTCR_PST_ADDR}
            , #{PRTCR_DADDR}
            , #{RESDN_SHAPE_SE_CD}
            , #{RESIDE_SHAPE_SE_CD}
            , #{RESIDE_SHAPE_ETC_CN}
            , #{FAM_CHAR_SE_CD}
            , #{INDV_IDNTFC_INFO_UNIPT_CS_CN}
            , #{INDV_IDNTFC_CRTR_YMD}
            , #{ORGNL_USER_ID}            
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEA201(대상자정보이력) insert -->
    <insert id="insertTrprInfoHstr" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertTrprInfoHstr(SEA201(대상자정보이력) insert) */
         
          INSERT INTO SEA201     /* 대상자정보이력 */
            (TRPR_INFO_NO
            , INDV_IDNTFC_NO
            , MDFCN_DT
            , DATAA_CHG_SE_CD
            , UNT_TASKWK_SE_CD
            , TRPR_NM_ENCPT
            , TRPR_BRTH_YMD
            , SXDC_SE_CD
            , MRG_YN
            , TRPR_USER_ID
            , TRPR_TELNO
            , MBL_TELNO_ENCPT
            , EML_ADDR_ENCPT
            , SNS_SE_CD
            , MSNGR_ID_ENCPT
            , ZIP
            , PST_ADDR
            , DADDR
            , ACBG_SE_CD
            , GRDTN_STTS_SE_CD
            , GRADE_SE_CD
            , PSPT_ENG_FLNM_ENCPT
            , TRPR_BCRN_TYPE_SE_CD
            , TRPR_BCRN_TYPE_RM_NM
            , NLTY_NTN_SE_CD
            , ENTCNY_YMD
            , BRTH_NTN_SE_CD
            , GROWTH_NTN_SE_CD
            , VISA_TYPE_SE_CD
            , HANAWO_PENU_NO
            , RELGN_SE_CD
            , QLFC_INFO_MNG_NO
            , RCPT_PIC_NO
            , RCPT_INST_NO
            , CASE_TRPR_TYPE_SE_CD
            , CASE_MNG_SE_CD
            , CASE_TRPR_SLCTN_YMD
            , CASE_TRPR_UNSL_CS_CN
            , PRTCR_NM_ENCPT
            , TRPR_REL_SE_CD
            , LIVTGT_YN
            , PRTCR_AGRE_YN
            , PRVC_PVSN_AGRE_YN
            , SRVC_CTRT_AGRE_YN
            , TAG_NM
            , TAG_NO
            , CASE_TRPR_NOAP_CS_SE_CD
            , PRTCR_TELNO
            , PRTCR_MBL_TELNO_ENCPT
            , PRTCR_EML_ADDR_ENCPT
            , PRTCR_ZIP
            , PRTCR_PST_ADDR
            , PRTCR_DADDR
            , RESDN_SHAPE_SE_CD
            , RESIDE_SHAPE_SE_CD
            , RESIDE_SHAPE_ETC_CN
            , FAM_CHAR_SE_CD
            , INDV_IDNTFC_INFO_UNIPT_CS_CN
            , INDV_IDNTFC_CRTR_YMD
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{TRPR_INFO_NO} 
            , #{INDV_IDNTFC_NO} 
            , SYSDATE
            , #{DATAA_CHG_SE_CD} 
            , #{UNT_TASKWK_SE_CD} 
            , #{TRPR_NM_ENCPT} 
            , #{TRPR_BRTH_YMD} 
            , #{SXDC_SE_CD} 
            , #{MRG_YN} 
            , #{TRPR_USER_ID} 
            , #{TRPR_TELNO} 
            , #{MBL_TELNO_ENCPT} 
            , #{EML_ADDR_ENCPT} 
            , #{SNS_SE_CD} 
            , #{MSNGR_ID_ENCPT} 
            , #{ZIP} 
            , #{PST_ADDR} 
            , #{DADDR} 
            , #{ACBG_SE_CD} 
            , #{GRDTN_STTS_SE_CD} 
            , #{GRADE_SE_CD} 
            , #{PSPT_ENG_FLNM_ENCPT} 
            , #{TRPR_BCRN_TYPE_SE_CD} 
            , #{TRPR_BCRN_TYPE_RM_NM} 
            , #{NLTY_NTN_SE_CD} 
            , #{ENTCNY_YMD} 
            , #{BRTH_NTN_SE_CD} 
            , #{GROWTH_NTN_SE_CD} 
            , #{VISA_TYPE_SE_CD} 
            , #{HANAWO_PENU_NO} 
            , #{RELGN_SE_CD} 
            , #{QLFC_INFO_MNG_NO} 
            , #{RCPT_PIC_NO} 
            , #{RCPT_INST_NO} 
            , #{CASE_TRPR_TYPE_SE_CD} 
            , #{CASE_MNG_SE_CD} 
            , #{CASE_TRPR_SLCTN_YMD} 
            , #{CASE_TRPR_UNSL_CS_CN} 
            , #{PRTCR_NM_ENCPT} 
            , #{TRPR_REL_SE_CD} 
            , #{LIVTGT_YN}             
            , #{PRTCR_AGRE_YN}
            , #{PRVC_PVSN_AGRE_YN}
            , #{SRVC_CTRT_AGRE_YN}
            , #{TAG_NM}
            , #{TAG_NO}
            , #{CASE_TRPR_NOAP_CS_SE_CD}
            , #{PRTCR_TELNO}
            , #{PRTCR_MBL_TELNO_ENCPT}
            , #{PRTCR_EML_ADDR_ENCPT}
            , #{PRTCR_ZIP}
            , #{PRTCR_PST_ADDR}
            , #{PRTCR_DADDR}
            , #{RESDN_SHAPE_SE_CD}
            , #{RESIDE_SHAPE_SE_CD}
            , #{RESIDE_SHAPE_ETC_CN}
            , #{FAM_CHAR_SE_CD}
            , #{INDV_IDNTFC_INFO_UNIPT_CS_CN}
            , #{INDV_IDNTFC_CRTR_YMD}         
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEA240(학업중단) insert -->
    <insert id="insertSchulwDscntc" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertSchulwDscntc(SEA240(학업중단) insert) */
         
          INSERT INTO SEA240     /* 학업중단 */
            (TRPR_INFO_NO
            , INDV_IDNTFC_NO
            , MNG_SN
            , SCHULW_DSCNTC_YMD
            , ACBG_SE_CD
            , GRADE_SE_CD
            , DSCNTC_CS_LCLAS_SE_CD
            , DSCNTC_CS_SCLAS_SE_CD
            , RM_CN, DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{TRPR_INFO_NO} 
            , #{INDV_IDNTFC_NO} 
            , #{MNG_SN} 
            , #{SCHULW_DSCNTC_YMD} 
            , #{ACBG_SE_CD} 
            , #{GRADE_SE_CD} 
            , #{DSCNTC_CS_LCLAS_SE_CD} 
            , #{DSCNTC_CS_SCLAS_SE_CD} 
            , #{RM_CN} 
            , #{DEL_YN}             
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEA230(학력상태) insert -->
    <insert id="insertAcbgStts" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertAcbgStts(SEA230(학력상태) insert) */
         
          INSERT INTO SEA230     /* 학력상태 */
            (TRPR_INFO_NO
            , INDV_IDNTFC_NO
            , MNG_SN
            , DGRI_ACQS_ERA_YM
            , MTCLTN_YMD
            , GRDTN_YMD
            , SCHL_NM
            , DGRI_ACQS_MTHD_SE_CD
            , ACBG_SE_CD
            , SGG_CD
            , MAJOR_NM
            , GRDTN_STTS_SE_CD
            , GRADE_SE_CD
            , STCLS_NO
            , SCHULW_DSCNTC_YN
            , RM_CN
            , DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{TRPR_INFO_NO}
            , #{INDV_IDNTFC_NO}
            , #{MNG_SN}
            , #{DGRI_ACQS_ERA_YM}
            , #{MTCLTN_YMD}
            , #{GRDTN_YMD}
            , #{SCHL_NM}
            , #{DGRI_ACQS_MTHD_SE_CD}
            , #{ACBG_SE_CD}
            , #{SGG_CD}
            , #{MAJOR_NM}
            , #{GRDTN_STTS_SE_CD}
            , #{GRADE_SE_CD}
            , #{STCLS_NO}
            , #{SCHULW_DSCNTC_YN}
            , #{RM_CN}
            , #{DEL_YN}              
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEA241(학업중단이력) insert -->
    <insert id="insertSchulwDscntcHstr" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertSchulwDscntcHstr(SEA241(학업중단이력) insert) */
         
          INSERT INTO SEA241     /* 학업중단이력 */
            (TRPR_INFO_NO
            , INDV_IDNTFC_NO
            , MNG_SN
            , MDFCN_DT
            , DATAA_CHG_SE_CD
            , SCHULW_DSCNTC_YMD
            , ACBG_SE_CD
            , GRADE_SE_CD
            , DSCNTC_CS_LCLAS_SE_CD
            , DSCNTC_CS_SCLAS_SE_CD
            , RM_CN
            , DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{TRPR_INFO_NO} 
            , #{INDV_IDNTFC_NO} 
            , #{MNG_SN}
            , SYSDATE
            , #{DATAA_CHG_SE_CD} 
            , #{SCHULW_DSCNTC_YMD} 
            , #{ACBG_SE_CD} 
            , #{GRADE_SE_CD} 
            , #{DSCNTC_CS_LCLAS_SE_CD} 
            , #{DSCNTC_CS_SCLAS_SE_CD} 
            , #{RM_CN} 
            , #{DEL_YN}             
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <!-- SEA231(학력상태이력) insert -->
    <insert id="insertAcbgSttsHstr" parameterType="HashMap">
         /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.insertAcbgSttsHstr(SEA231(학력상태이력) insert) */
         
          INSERT INTO SEA231     /* 학력상태이력 */
            (TRPR_INFO_NO
            , MNG_SN
            , MDFCN_DT
            , DATAA_CHG_SE_CD
            , DGRI_ACQS_ERA_YM
            , MTCLTN_YMD
            , GRDTN_YMD
            , SCHL_NM
            , DGRI_ACQS_MTHD_SE_CD
            , ACBG_SE_CD
            , SGG_CD
            , MAJOR_NM
            , GRDTN_STTS_SE_CD
            , GRADE_SE_CD
            , STCLS_NO
            , SCHULW_DSCNTC_YN
            , RM_CN
            , DEL_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{TRPR_INFO_NO}
            , #{MNG_SN}
            , SYSDATE
            , #{DATAA_CHG_SE_CD}             
            , #{DGRI_ACQS_ERA_YM}
            , #{MTCLTN_YMD}
            , #{GRDTN_YMD}
            , #{SCHL_NM}
            , #{DGRI_ACQS_MTHD_SE_CD}
            , #{ACBG_SE_CD}
            , #{SGG_CD}
            , #{MAJOR_NM}
            , #{GRDTN_STTS_SE_CD}
            , #{GRADE_SE_CD}
            , #{STCLS_NO}
            , #{SCHULW_DSCNTC_YN}
            , #{RM_CN}
            , #{DEL_YN}              
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
    
    <update id="updateEsbStatus" parameterType="HashMap">
        <![CDATA[
        /* isry.batchJobs.drmgs.eduLink.mapper.EduLinkMapper.updateEsbStatus */
        UPDATE CAD100
           SET ESB_STATUS = 'Y'
         WHERE ESB_SEQ               = #{ESB_SEQ}
        ]]>
    </update>
    
    <insert id="insertOfcdcGrFileUldDtl" parameterType="HashMap">
         /* isry.drmgs.link.OfcdcLinkAplyMapper.insertOfcdcGrFileUldDtl(교육청집단연계-업로드파일상세) */
         
          INSERT INTO AKA221     /* 교육청집단연계-업로드파일상세 */
            (MNG_SN
            , ENFSN_NO
            , INDEX_SN
            , ULD_RQSTDO_STTS_SE_CD
            , STDNT_WRTCNS_SBMSN_YN
            , STTY_AGT_WRTCNS_SBMSN_YN
            , STDNT_FLNM_ENCPT
            , STDNT_BRTH_YMD
            , STDNT_SXDC_NM
            , STDNT_ADDR
            , STDNT_MBL_TELNO_ENCPT
            , STDNT_TELNO
            , STDNT_EML_ADDR_ENCPT
            , STTY_AGT_CTTPC_TELNO
            , STTY_AGT_EML_ADDR_ENCPT
            , LAST_SCHL_GRADE_NM
            , SCHULW_DSCNTC_YMD
            , SCHULW_DSCNTC_CS_CN
            , HNCFRT_HPE_COSE_NM
            , ERR_INFO_DTL_CN
            , LINK_SN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT)
            VALUES(
              #{MNG_SN}
            , #{ENFSN_NO}
            , #{INDEX_SN}
            , #{ULD_RQSTDO_STTS_SE_CD}
            , #{STDNT_WRTCNS_SBMSN_YN}
            , #{STTY_AGT_WRTCNS_SBMSN_YN}
            , C##RG.ENC_B64(#{STDNT_FLNM_ENCPT})
            , #{STDNT_BRTH_YMD}
            , #{STDNT_SXDC_NM}
            , #{STDNT_ADDR}
            , C##RG.ENC_B64(#{STDNT_MBL_TELNO_ENCPT})
            , #{STDNT_TELNO}
            , C##RG.ENC_B64(#{STDNT_EML_ADDR_ENCPT})
            , #{STTY_AGT_CTTPC_TELNO}
            , C##RG.ENC_B64(#{STTY_AGT_EML_ADDR_ENCPT})
            , #{LAST_SCHL_GRADE_NM}
            , #{SCHULW_DSCNTC_YMD}
            , #{SCHULW_DSCNTC_CS_CN}
            , #{HNCFRT_HPE_COSE_NM}
            , #{ERR_INFO_DTL_CN}
            , #{LINK_SN}
            , #{FRST_RGTR_ID} 
            , SYSDATE
            , #{LAST_MDFR_ID} 
            , SYSDATE
            )
    </insert>
</mapper>
