<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.pubms.casemng.sheltrreg.mapper.SprtPrfmncMapper">

    <!-- 자립지원관 사례목록-->
    <select id="selectSLfrlSprtPagingCount" parameterType="HashMap" resultType="String">
      SELECT   
            /* isry.pubms.casemng.sheltrreg.mapper.SprtPrfmncMapper.selectSLfrlSprtPagingCount */
            COUNT(*)
        FROM SEB100 T1
         , SEA200 T2
         , SCA100 X          
         , SEB150 Y
         , SAA000 Z
         , AEB120 T5
        WHERE 1=1 
        AND T1.TRPR_INFO_NO= T2.TRPR_INFO_NO                                                                       
        AND Z.INST_NO = Y.PIC_INST_NO
        AND X.ENFSN_NO = Y.CASE_PIC_NO
        AND Y.PCHPRS_YN = 'Y' 
        AND Y.CASE_MNG_NO = T1.CASE_MNG_NO
        AND Y.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO 
        AND T1.CASE_MNG_NO = T5.CASE_MNG_NO(+)
        AND T1.CASE_MNG_ODRNO = T5.CASE_MNG_ODRNO(+) 
        <include refid="SLFRL_LIST_WHERE"></include>
    </select>

    <select id="selectSlfrlSprtPagingList" parameterType="HashMap" resultType="HashMap">
            SELECT           
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
            /* isry.pubms.casemng.sheltrreg.mapper.SprtPrfmncMapper.selectSlfrlSprtPagingList */
            TT.*
            , A.UP_CMMNS_CD_VALUE                 AS CASE_PRGRS_STTS_TYPE_SE_CD   /* 사례진행상태유형구분코드 */
        FROM (    
            SELECT
                  T1.*              
             FROM (
                    <include refid="SLFRL_PAGING_LIST">
                    </include>
                  ) T1
           WHERE 1 = 1
           <![CDATA[
            AND T1.SEQ >= #{START_IDX} AND T1.SEQ <= #{LAST_IDX}
            ]]>
        ) TT, SAC100 A
        WHERE TT.CASE_PRGRS_STTS_SE_CD = A.CMMNS_CD_VALUE(+)
        AND 'CASE_PRGRS_STTS_SE_CD' = A.CMMNS_CD_ID(+)
    
    </select>
    
    <sql id="SLFRL_PAGING_LIST">
       SELECT /*+ INDEX_DESC(T1 SEB100_IX05) USE_NL(Y)*/ T1.CASE_MNG_NO                     AS CASE_MNG_NO                  /* 사례관리번호 */
             , T1.CASE_MNG_ODRNO                                                  AS CASE_MNG_ODRNO               /* 사례관리차수 */
             , TO_CHAR(T1.FRST_REG_DT,  'YYYY-MM-DD')                             AS FRST_REG_DT                  /* 등록일자 */
             , NVL(T5.SLFRL_SPRT_TRPR_SE_CD, '1')                                 AS SHELTR_TRPR_SE_CD            /* 쉼터대상자구분 */
             , T2.TRPR_INFO_NO                                                    AS TRPR_INFO_NO                 /* 대상자정보번호 */
             , C##RG.DEC_B64(T2.TRPR_NM_ENCPT)                                 AS TRPR_NM_ENCPT                /* 대상자명 */
             , TO_CHAR(TO_DATE(REPLACE(T2.TRPR_BRTH_YMD, '-', '')), 'YYYY-MM-DD') AS TRPR_BRTH_YMD                /* 대상자출생일자 */
             , T2.SXDC_SE_CD                                                   AS SXDC_SE_CD                   /* 대상자성별구분코드 */
             , T1.YNGBGS_STTS_LCLAS_SE_CD                                         AS YNGBGS_STTS_LCLAS_SE_CD      /* 청소년상태대분류구분코드 */
             , T1.YNGBGS_STTS_SCLAS_SE_CD                                         AS YNGBGS_STTS_SCLAS_SE_CD      /* 청소년상태소분류구분코드 */
             , T1.YNGBGS_SE_NO                                                    AS YNGBGS_SE_NO                 /* 청소년구분번호 */
             , C##RG.DEC_B64(X.FLNM_ENCPT)                                    AS PIC_NM_ENCPT                 /* 담당자명(주담당자기준) */
             , Y.PIC_INST_NO                                                     AS PIC_INST_NO                  /* 담당기관(주담당자기준) */
             , CASE WHEN X.JBPS_NM IS NOT NULL THEN X.JBPS_NM
               ELSE (SELECT TT1.CMMNS_CD_VALUE_NM FROM SAC100 TT1
                       WHERE TT1.CMMNS_CD_ID = 'JBPS_SE_CD'
                       AND TT1.CMMNS_CD_VALUE = X.JBPS_SE_CD) END                AS JBPS_NM                 /* 담당자직위명(주담당자기준) */
              , X.JBPS_SE_CD                                                    AS JBPS_SE_CD                 /* 담당자직위구분코드(주담당자기준) */
              , Z.INST_NM                                                       AS INST_NM                      /* 담당기관명(주담당자기준) */
              , T2.CASE_TRPR_TYPE_SE_CD                                            AS CASE_TRPR_TYPE_SE_CD         /* 사례대상자유형구분코드 */
            , T1.CASE_PRGRS_STTS_SE_CD                                           AS CASE_PRGRS_STTS_SE_CD        /* 사례진행상태구분코드 */
            , T1.UNT_TASKWK_SE_CD                                                AS UNT_TASKWK_SE_CD             /* 단위업무구분코드 */
            /* 
            , (SELECT UP_CMMNS_CD_VALUE
                 FROM SAC100
                WHERE CMMNS_CD_ID    = 'CASE_PRGRS_STTS_SE_CD'
                  AND CMMNS_CD_VALUE = T1.CASE_PRGRS_STTS_SE_CD)                 AS CASE_PRGRS_STTS_TYPE_SE_CD   /* 사례진행상태유형구분코드 *--/
            */
        
            /* 2022.08.22 
             *  - 권한적용을 위한 항목 추가
             */
            
            /*
            , ( SELECT LISTAGG(X.CASE_PIC_NO, ',') WITHIN GROUP (ORDER BY X.PCHPRS_YN DESC, X.CASE_PIC_NO)
                  FROM SEB150 X
                 WHERE X.CASE_MNG_NO    = T1.CASE_MNG_NO
                   AND X.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO )                    AS ENFSN_NO
            , ( SELECT LISTAGG(X.PIC_INST_NO, ',') WITHIN GROUP (ORDER BY X.PCHPRS_YN DESC, X.CASE_PIC_NO)
                  FROM SEB150 X
                 WHERE X.CASE_MNG_NO    = T1.CASE_MNG_NO
                   AND X.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO )                    AS INST_NO
            */
        
            , T2.TRMN_CASE_MNG_NO                                                AS TRMN_CASE_MNG_NO             /* 종결사례관리번호 */
            , T2.TRMN_CASE_MNG_ODRNO                                             AS TRMN_CASE_MNG_ODRNO          /* 종결사례관리차수 */
            , TO_CHAR(T2.MDFCN_DT, 'YYYYMMDDHH24MISS')                           AS SEA201_MDFCN_DT              /* 수정일시(SEA201) */
            , T1.CASE_BGNG_YMD AS CASE_BGNG_YMD
            , T1.CASE_TRMN_YMD AS CASE_TRMN_YMD
            , CASE WHEN T1.CASE_PRGRS_STTS_SE_CD = '01'                   THEN 'REG'   /* 등록 */
                WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('02','03','06','12') THEN 'PRGRS' /* 진행 */
                WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10')      THEN 'TRMN'  /* 종결 */
                ELSE ''
            END                                 AS STEP_SE
            , T2.RCPT_PIC_NO                    AS RCPT_PIC_NO
            , Z.CTPV_CD                         AS CTPV_CD
            , T1.ORGNL_CASE_MNG_NO              AS ORGNL_CASE_MNG_NO
            , DECODE(T1.CASE_TRMN_YMD, NULL, TRUNC(SYSDATE - TO_DATE(T1.CASE_BGNG_YMD, 'YYYYMMDD')),
              TO_DATE(T1.CASE_TRMN_YMD, 'YYYYMMDD') - TO_DATE(T1.CASE_BGNG_YMD, 'YYYYMMDD')) +1 AS PROTECT_DAYCNT  /* 일수 */
            , NVL(T6.MEAL_SPRT_NOCS, 0) AS MEAL_SPRT_NOCS                                                        /* 식사지원 */
            , NVL(T6.CLTHA_SPRT_NOCS, 0) AS CLTHA_SPRT_NOCS                                                      /* 의복지원건수 */
            , NVL(T6.SNITAT_SPRT_NOCS, 0) AS SNITAT_SPRT_NOCS                                                    /* 위생지원건수 */
            , ROWNUM AS SEQ
        FROM SEB100 T1
         , SEA201 T2
         , SCA100 X          
         , SEB150 Y
         , SAA000 Z
         , AEB120 T5
         , AEA160 T6
        WHERE 1=1 
        AND T1.TRPR_INFO_NO          = T2.TRPR_INFO_NO
        AND T2.MDFCN_DT              = ( SELECT MAX(MDFCN_DT)
                                              FROM SEA201
                                             WHERE TRPR_INFO_NO                = T2.TRPR_INFO_NO
                                               AND NVL(TRMN_CASE_MNG_NO, '1')  = CASE WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10','11') THEN T1.CASE_MNG_NO
                                                                              ELSE '1'
                                                                          END
                                       AND NVL(TRMN_CASE_MNG_ODRNO, 1) = CASE WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10','11') THEN T1.CASE_MNG_ODRNO
                                                                                      ELSE 1
                                                                                  END )                                                                         
        AND Z.INST_NO        = Y.PIC_INST_NO
        AND X.ENFSN_NO       = Y.CASE_PIC_NO
        AND Y.PCHPRS_YN      = 'Y' 
        AND Y.CASE_MNG_NO    = T1.CASE_MNG_NO
        AND Y.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO 
        AND T1.CASE_MNG_NO = T5.CASE_MNG_NO(+)
        AND T1.CASE_MNG_ODRNO = T5.CASE_MNG_ODRNO(+)
        AND T1.CASE_MNG_NO = T6.CASE_MNG_NO(+)
        AND T1.CASE_MNG_ODRNO = T6.CASE_MNG_ODRNO(+)
        <include refid="SLFRL_LIST_WHERE"></include>

    </sql>

    <sql id="SLFRL_LIST_WHERE">
        <choose>
           <when test="SEARCH_GUBN == '02'">
               <![CDATA[
                  /* 진행일자 조회 */
                  AND T1.CASE_BGNG_YMD <= #{END_DATE} AND NVL(T1.CASE_TRMN_YMD, T1.CASE_BGNG_YMD) >= #{START_DATE}
                ]]>
           </when>
           <otherwise>
               <![CDATA[
                  /* 등록일자 조회 */                        
                  AND T1.FRST_REG_DT >= TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS') 
                  AND T1.FRST_REG_DT <= TO_DATE(#{END_DATE} || '235959', 'YYYYMMDDHH24MISS') 
                ]]>
           </otherwise>
        </choose>
        <if test="CASE_PRGRS_STTS_SE_CD != null and CASE_PRGRS_STTS_SE_CD != ''">
         <![CDATA[
           AND T1.CASE_PRGRS_STTS_SE_CD IN (SELECT CMMNS_CD_VALUE FROM SAC100
                                             WHERE CMMNS_CD_ID       = 'CASE_PRGRS_STTS_SE_CD'
                                               AND UP_CMMNS_CD_VALUE = #{CASE_PRGRS_STTS_SE_CD})
         ]]>
        </if>
        <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
         <![CDATA[
           AND T1.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
         ]]>
        </if>
        /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
        <include refid="GroupAuthrtMapper.caseinqGropuListAuthrt"/>   
        /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
        <if test="YNGBGS_STTS_LCLAS_SE_CD != null and YNGBGS_STTS_LCLAS_SE_CD != ''">
        <![CDATA[
          AND T1.YNGBGS_SE_NO LIKE '%' || #{YNGBGS_STTS_LCLAS_SE_CD} || '%'
        ]]>
        </if>
        <if test="YNGBGS_STTS_SCLAS_SE_CD != null and YNGBGS_STTS_SCLAS_SE_CD != ''">
        <![CDATA[
          AND T1.YNGBGS_STTS_SCLAS_SE_CD = #{YNGBGS_STTS_SCLAS_SE_CD}
        ]]>
        </if>
        <if test="CASE_TRPR_TYPE_SE_CD != null and CASE_TRPR_TYPE_SE_CD != ''">
        <![CDATA[
          AND T2.CASE_TRPR_TYPE_SE_CD  = #{CASE_TRPR_TYPE_SE_CD}
        ]]>
        </if>
        <if test="ENFSN_ROLE_SE_CD != null and ENFSN_ROLE_SE_CD != ''">
          <if test='ENFSN_ROLE_SE_CD !="1" and ENFSN_ROLE_SE_CD !="2"'>
          <![CDATA[
          AND T2.RCPT_PIC_NO = #{USER_ID}
          ]]>
        </if>
        </if>
        <if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
        <![CDATA[
          AND #{SRVC_EXCN_BIZ_NO} IN (SELECT SRVC_EXCN_BIZ_NO
                                        FROM SEB120
                                       WHERE CASE_MNG_NO     = T1.CASE_MNG_NO
                                         AND CASE_MNG_ODRNO  = T1.CASE_MNG_ODRNO
                                         AND DEL_YN         != 'Y')
        ]]>
        </if>
        <if test="PIC_NM_ENCPT != null and PIC_NM_ENCPT != ''">
        <![CDATA[
            AND C##RG.DEC_B64(X.FLNM_ENCPT) = #{PIC_NM_ENCPT}
        ]]>
        </if>
        <if test="TRPR_NM_ENCPT != null and TRPR_NM_ENCPT != ''">
        <![CDATA[
            AND C##RG.DEC_B64(T2.TRPR_NM_ENCPT) = #{TRPR_NM_ENCPT}
        ]]>
        </if>
        <if test="INST_NM != null and INST_NM != ''">
        <![CDATA[
            AND(Y.PIC_INST_NO       = #{INST_NO}
             OR Z.INST_NM           = #{INST_NM})
        ]]>
        </if>         
        <if test="JBPS_SE_CD != null and JBPS_SE_CD != ''">
            AND X.JBPS_SE_CD = #{JBPS_SE_CD}
        </if>
         <if test="SHELTR_TRPR_SE_CD != null and SHELTR_TRPR_SE_CD != ''">
             AND T5.SLFRL_SPRT_TRPR_SE_CD = #{SHELTR_TRPR_SE_CD}                    /* 자립지원대상자구분 */
         </if>
    </sql>


    <!-- 쉼터 사례 목록 조회 -->
    <select id="selectSheltrSprtPagingCount" parameterType="HashMap" resultType="String">
           
      SELECT   
            /* isry.pubms.casemng.sheltrreg.mapper.SprtPrfmncMapper.selectSheltrSprtPagingCount */
            COUNT(*)
        FROM SEB100 T1
         , SEA200 T2
         , SCA100 X          
         , SEB150 Y
         , SAA000 Z
         , AEA100 T5
        WHERE 1=1 
        AND T1.TRPR_INFO_NO= T2.TRPR_INFO_NO                                                                       
        AND Z.INST_NO = Y.PIC_INST_NO
        AND X.ENFSN_NO = Y.CASE_PIC_NO
        AND Y.PCHPRS_YN = 'Y' 
        AND Y.CASE_MNG_NO = T1.CASE_MNG_NO
        AND Y.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO
        AND T1.CASE_MNG_NO    = T5.CASE_MNG_NO(+)
        AND T1.CASE_MNG_ODRNO = T5.CASE_MNG_ODRNO(+) 
        <include refid="SHELTR_LIST_WHERE"></include>
    </select>

    <!-- 쉼터 사례 목록 조회 -->
    <select id="selectSheltrSprtPagingList" parameterType="HashMap" resultType="HashMap">

        SELECT           
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
            /* isry.pubms.casemng.sheltrreg.mapper.SprtPrfmncMapper.selectSheltrSprtPagingList */
            TT.*
            , A.UP_CMMNS_CD_VALUE                 AS CASE_PRGRS_STTS_TYPE_SE_CD   /* 사례진행상태유형구분코드 */
        FROM (    
            SELECT
                  T1.*              
             FROM (
                    <include refid="SHELTR_PAGING_LIST">
                    </include>
                  ) T1
           WHERE 1 = 1
           <![CDATA[
            AND T1.SEQ >= #{START_IDX} AND T1.SEQ <= #{LAST_IDX}
            ]]>
        ) TT, SAC100 A
        WHERE TT.CASE_PRGRS_STTS_SE_CD = A.CMMNS_CD_VALUE(+)
        AND 'CASE_PRGRS_STTS_SE_CD' = A.CMMNS_CD_ID(+)
    
    </select>

    <sql id="SHELTR_PAGING_LIST">
       SELECT /*+ INDEX_DESC(T1 SEB100_IX05) USE_NL(Y) USE_NL(X) USE_NL(Z) USE_NL(T5)*/ 
               T1.CASE_MNG_NO                                                     AS CASE_MNG_NO                  /* 사례관리번호 */
             , T1.CASE_MNG_ODRNO                                                  AS CASE_MNG_ODRNO               /* 사례관리차수 */
             , TO_CHAR(T1.FRST_REG_DT,  'YYYY-MM-DD')                             AS FRST_REG_DT                  /* 등록일자 */
             , NVL(T5.SHELTR_TRPR_SE_CD, '1')                                     AS SHELTR_TRPR_SE_CD            /* 쉼터대상자구분 */
             , T2.TRPR_INFO_NO                                                    AS TRPR_INFO_NO                 /* 대상자정보번호 */
             , C##RG.DEC_B64(T2.TRPR_NM_ENCPT)                                 AS TRPR_NM_ENCPT                /* 대상자명 */
             , TO_CHAR(TO_DATE(REPLACE(T2.TRPR_BRTH_YMD, '-', '')), 'YYYY-MM-DD') AS TRPR_BRTH_YMD                /* 대상자출생일자 */
             , T2.SXDC_SE_CD                                                   AS SXDC_SE_CD                   /* 대상자성별구분코드 */
             , T1.YNGBGS_STTS_LCLAS_SE_CD                                         AS YNGBGS_STTS_LCLAS_SE_CD      /* 청소년상태대분류구분코드 */
             , T1.YNGBGS_STTS_SCLAS_SE_CD                                         AS YNGBGS_STTS_SCLAS_SE_CD      /* 청소년상태소분류구분코드 */
             , T1.YNGBGS_SE_NO                                                    AS YNGBGS_SE_NO                 /* 청소년구분번호 */
             , C##RG.DEC_B64(X.FLNM_ENCPT)                                    AS PIC_NM_ENCPT                 /* 담당자명(주담당자기준) */
             , Y.PIC_INST_NO                                                     AS PIC_INST_NO                  /* 담당기관(주담당자기준) */
             , CASE WHEN X.JBPS_NM IS NOT NULL THEN X.JBPS_NM
               ELSE (SELECT TT1.CMMNS_CD_VALUE_NM FROM SAC100 TT1
                       WHERE TT1.CMMNS_CD_ID = 'JBPS_SE_CD'
                       AND TT1.CMMNS_CD_VALUE = X.JBPS_SE_CD) END                AS JBPS_NM                 /* 담당자직위명(주담당자기준) */
              , X.JBPS_SE_CD                                                    AS JBPS_SE_CD                 /* 담당자직위구분코드(주담당자기준) */
              , Z.INST_NM                                                       AS INST_NM                      /* 담당기관명(주담당자기준) */
              , T2.CASE_TRPR_TYPE_SE_CD                                            AS CASE_TRPR_TYPE_SE_CD         /* 사례대상자유형구분코드 */
            , T1.CASE_PRGRS_STTS_SE_CD                                           AS CASE_PRGRS_STTS_SE_CD        /* 사례진행상태구분코드 */
            , T1.UNT_TASKWK_SE_CD                                                AS UNT_TASKWK_SE_CD             /* 단위업무구분코드 */
            /* 
            , (SELECT UP_CMMNS_CD_VALUE
                 FROM SAC100
                WHERE CMMNS_CD_ID    = 'CASE_PRGRS_STTS_SE_CD'
                  AND CMMNS_CD_VALUE = T1.CASE_PRGRS_STTS_SE_CD)                 AS CASE_PRGRS_STTS_TYPE_SE_CD   /* 사례진행상태유형구분코드 *--/
            */
        
            /* 2022.08.22 
             *  - 권한적용을 위한 항목 추가
             */
            
            /*
            , ( SELECT LISTAGG(X.CASE_PIC_NO, ',') WITHIN GROUP (ORDER BY X.PCHPRS_YN DESC, X.CASE_PIC_NO)
                  FROM SEB150 X
                 WHERE X.CASE_MNG_NO    = T1.CASE_MNG_NO
                   AND X.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO )                    AS ENFSN_NO
            , ( SELECT LISTAGG(X.PIC_INST_NO, ',') WITHIN GROUP (ORDER BY X.PCHPRS_YN DESC, X.CASE_PIC_NO)
                  FROM SEB150 X
                 WHERE X.CASE_MNG_NO    = T1.CASE_MNG_NO
                   AND X.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO )                    AS INST_NO
            */
        
            , T2.TRMN_CASE_MNG_NO                                                AS TRMN_CASE_MNG_NO             /* 종결사례관리번호 */
            , T2.TRMN_CASE_MNG_ODRNO                                             AS TRMN_CASE_MNG_ODRNO          /* 종결사례관리차수 */
            , TO_CHAR(T2.MDFCN_DT, 'YYYYMMDDHH24MISS')                           AS SEA201_MDFCN_DT              /* 수정일시(SEA201) */
            , T1.CASE_BGNG_YMD AS CASE_BGNG_YMD
            , T1.CASE_TRMN_YMD AS CASE_TRMN_YMD
            , CASE WHEN T1.CASE_PRGRS_STTS_SE_CD = '01'                   THEN 'REG'   /* 등록 */
                WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('02','03','06','12') THEN 'PRGRS' /* 진행 */
                WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10')      THEN 'TRMN'  /* 종결 */
                ELSE ''
            END                                 AS STEP_SE
            , T2.RCPT_PIC_NO                    AS RCPT_PIC_NO
            , Z.CTPV_CD                         AS CTPV_CD
            , T1.ORGNL_CASE_MNG_NO              AS ORGNL_CASE_MNG_NO
            , DECODE(T1.CASE_TRMN_YMD, NULL, TRUNC(SYSDATE - TO_DATE(T1.CASE_BGNG_YMD, 'YYYYMMDD')),
              TO_DATE(T1.CASE_TRMN_YMD, 'YYYYMMDD') - TO_DATE(T1.CASE_BGNG_YMD, 'YYYYMMDD')) +1 AS PROTECT_DAYCNT  /* 일수 */
            , NVL(T6.MEAL_SPRT_NOCS, 0) AS MEAL_SPRT_NOCS                                                        /* 식사지원 */
            , NVL(T6.CLTHA_SPRT_NOCS, 0) AS CLTHA_SPRT_NOCS                                                      /* 의복지원건수 */
            , NVL(T6.SNITAT_SPRT_NOCS, 0) AS SNITAT_SPRT_NOCS                                                    /* 위생지원건수 */
            , ROWNUM AS SEQ
        FROM SEB100 T1
         , SEA201 T2
         , SCA100 X          
         , SEB150 Y
         , SAA000 Z
         , AEA100 T5
         , AEA160 T6
        WHERE 1=1 
        AND T1.TRPR_INFO_NO          = T2.TRPR_INFO_NO
        AND T2.MDFCN_DT              = ( SELECT MAX(MDFCN_DT)
                                              FROM SEA201
                                             WHERE TRPR_INFO_NO                = T2.TRPR_INFO_NO
                                               AND NVL(TRMN_CASE_MNG_NO, '1')  = CASE WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10','11') THEN T1.CASE_MNG_NO
                                                                              ELSE '1'
                                                                          END
                                       AND NVL(TRMN_CASE_MNG_ODRNO, 1) = CASE WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10','11') THEN T1.CASE_MNG_ODRNO
                                                                                      ELSE 1
                                                                                  END )                                                                         
        AND Z.INST_NO        = Y.PIC_INST_NO
        AND X.ENFSN_NO       = Y.CASE_PIC_NO
        AND Y.PCHPRS_YN      = 'Y' 
        AND Y.CASE_MNG_NO    = T1.CASE_MNG_NO
        AND Y.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO 
        AND T1.CASE_MNG_NO    = T5.CASE_MNG_NO(+)
        AND T1.CASE_MNG_ODRNO = T5.CASE_MNG_ODRNO(+) 
        AND T1.CASE_MNG_NO    = T6.CASE_MNG_NO(+)
        AND T1.CASE_MNG_ODRNO = T6.CASE_MNG_ODRNO(+) 
        <include refid="SHELTR_LIST_WHERE"></include>
    </sql>

    <sql id="SHELTR_LIST_WHERE">
        <choose>
           <when test="SEARCH_GUBN == '02'">
               <![CDATA[
                  /* 진행일자 조회 */
                  AND T1.CASE_BGNG_YMD <= #{END_DATE} AND NVL(T1.CASE_TRMN_YMD, T1.CASE_BGNG_YMD) >= #{START_DATE}
                ]]>
           </when>
           <otherwise>
               <![CDATA[
                  /* 등록일자 조회 */                        
                  AND T1.FRST_REG_DT >= TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS') 
                  AND T1.FRST_REG_DT <= TO_DATE(#{END_DATE} || '235959', 'YYYYMMDDHH24MISS') 
                ]]>
           </otherwise>
        </choose>
        <if test="CASE_PRGRS_STTS_SE_CD != null and CASE_PRGRS_STTS_SE_CD != ''">
         <![CDATA[
           AND T1.CASE_PRGRS_STTS_SE_CD IN (SELECT CMMNS_CD_VALUE FROM SAC100
                                             WHERE CMMNS_CD_ID       = 'CASE_PRGRS_STTS_SE_CD'
                                               AND UP_CMMNS_CD_VALUE = #{CASE_PRGRS_STTS_SE_CD})
         ]]>
        </if>
        <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
         <![CDATA[
           AND T1.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
         ]]>
        </if>
        /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
        <include refid="GroupAuthrtMapper.caseinqGropuListAuthrt"/>   
        /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
        <if test="YNGBGS_STTS_LCLAS_SE_CD != null and YNGBGS_STTS_LCLAS_SE_CD != ''">
        <![CDATA[
          AND T1.YNGBGS_SE_NO LIKE '%' || #{YNGBGS_STTS_LCLAS_SE_CD} || '%'
        ]]>
        </if>
        <if test="YNGBGS_STTS_SCLAS_SE_CD != null and YNGBGS_STTS_SCLAS_SE_CD != ''">
        <![CDATA[
          AND T1.YNGBGS_STTS_SCLAS_SE_CD = #{YNGBGS_STTS_SCLAS_SE_CD}
        ]]>
        </if>
        <if test="CASE_TRPR_TYPE_SE_CD != null and CASE_TRPR_TYPE_SE_CD != ''">
        <![CDATA[
          AND T2.CASE_TRPR_TYPE_SE_CD  = #{CASE_TRPR_TYPE_SE_CD}
        ]]>
        </if>
        <if test="ENFSN_ROLE_SE_CD != null and ENFSN_ROLE_SE_CD != ''">
          <if test='ENFSN_ROLE_SE_CD !="1" and ENFSN_ROLE_SE_CD !="2"'>
          <![CDATA[
          AND T2.RCPT_PIC_NO = #{USER_ID}
          ]]>
        </if>
        </if>
        <if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
        <![CDATA[
          AND #{SRVC_EXCN_BIZ_NO} IN (SELECT SRVC_EXCN_BIZ_NO
                                        FROM SEB120
                                       WHERE CASE_MNG_NO     = T1.CASE_MNG_NO
                                         AND CASE_MNG_ODRNO  = T1.CASE_MNG_ODRNO
                                         AND DEL_YN         != 'Y')
        ]]>
        </if>
        <if test="PIC_NM_ENCPT != null and PIC_NM_ENCPT != ''">
        <![CDATA[
            AND C##RG.DEC_B64(X.FLNM_ENCPT) = #{PIC_NM_ENCPT}
        ]]>
        </if>
        <if test="TRPR_NM_ENCPT != null and TRPR_NM_ENCPT != ''">
        <![CDATA[
            AND C##RG.DEC_B64(T2.TRPR_NM_ENCPT) = #{TRPR_NM_ENCPT}
        ]]>
        </if>
        <if test="INST_NM != null and INST_NM != ''">
        <![CDATA[
            AND(Y.PIC_INST_NO       = #{INST_NO}
             OR Z.INST_NM           = #{INST_NM})
        ]]>
        </if>         
        <if test="JBPS_SE_CD != null and JBPS_SE_CD != ''">
            AND X.JBPS_SE_CD = #{JBPS_SE_CD}
        </if>
         <if test="SHELTR_TRPR_SE_CD != null and SHELTR_TRPR_SE_CD != ''">
             AND T5.SHELTR_TRPR_SE_CD = #{SHELTR_TRPR_SE_CD}                    /* 자립지원대상자구분 */
         </if>
    </sql>

    <update id="saveData" parameterType="HashMap">
    <![CDATA[
         /* saveData - Lee  MS */
         
        MERGE INTO AEA160 /* 기본지원실적 */
        USING DUAL
           ON (CASE_MNG_NO = #{CASE_MNG_NO}
           AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO})
         WHEN MATCHED THEN
       UPDATE SET
              MEAL_SPRT_NOCS = #{MEAL_SPRT_NOCS},             /* 식사지원건수 */
              CLTHA_SPRT_NOCS = #{CLTHA_SPRT_NOCS},           /* 의복지원건수 */
              SNITAT_SPRT_NOCS = #{SNITAT_SPRT_NOCS},         /* 위생지원건수 */

              LAST_MDFR_ID = #{USER_ID},                      /* 최종수정자아이디 */
              LAST_MDFCN_DT = SYSDATE                         /* 최종수정일시 */
         WHEN NOT MATCHED THEN
        INSERT (
              CASE_MNG_NO,          /* 사례관리번호 */
              CASE_MNG_ODRNO,       /* 사례관리차수 */

              MEAL_SPRT_NOCS,      /* 식사지원건수 */
              CLTHA_SPRT_NOCS,     /* 의복지원건수 */
              SNITAT_SPRT_NOCS,    /* 위생지원건수 */
             
              FRST_RGTR_ID,
              FRST_REG_DT,
              LAST_MDFR_ID,
              LAST_MDFCN_DT
        )
        VALUES (
              #{CASE_MNG_NO},
              #{CASE_MNG_ODRNO},
              
              #{MEAL_SPRT_NOCS},
              #{CLTHA_SPRT_NOCS},
              #{SNITAT_SPRT_NOCS},

              #{USER_ID},
              SYSDATE,
              #{USER_ID},
              SYSDATE
        )
        
    ]]>
    </update>


</mapper>