<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri April 29 17:59:19 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* @Class Name  : LinkMmaRcptJobMapper.xml
* @Description : 병무청 관련 연계 SQL Mapper
*
* @author  : Lee.Tae.Ho
* @since   : 2022. 08. 04.
* @version : 1.0
* @see
* <pre>
* ******************************************************************
* Modification Information
* ******************************************************************
* 수정일         수정자          수정내용
* ******************************************************************
* 2022. 08. 04.  Lee.Tae.Ho    최초작성
* </pre>
-->
<mapper namespace="isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper">


    <!-- 병무청 병역의무자 상담지원의뢰 목록 -->
    <select id="selectMmaRqstList" parameterType="HashMap" resultType="HashMap">

        <!-- 페이지 인덱서 헤더 -->
        <include refid="ComPagingMapper.pageHeader" />
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
			  T1.SRVC_RQST_APLY_NO               AS      SRVC_RQST_APLY_NO
			, T1.TRPR_RRNO                       AS      TRPR_RRNO
			, T1.TRPR_NM                         AS      TRPR_NM
			, T1.TRPR_TELNO                      AS      TRPR_TELNO
			, T1.TRPR_MBL_TELNO                  AS      TRPR_MBL_TELNO
			, T1.TRPR_ROAD_NM_ZIP                AS      TRPR_ROAD_NM_ZIP
			, T1.TRPR_ROAD_NM_ADDR               AS      TRPR_ROAD_NM_ADDR
			, T1.TRPR_ROAD_NM_DADDR              AS      TRPR_ROAD_NM_DADDR
			, T1.DEPT_NM                         AS      DEPT_NM
			, T1.UNT_TASKWK_SE_CD                AS      UNT_TASKWK_SE_CD
			, T1.CLNT_DSCSN_OPIN_CN              AS      CLNT_DSCSN_OPIN_CN
			, T1.RQST_YMD                        AS      RQST_YMD
			, T1.PIC_TELNO                       AS      PIC_TELNO
			, T1.PIC_NM                          AS      PIC_NM
			, T1.RQST_SRVC_INST_NO               AS      RQST_SRVC_INST_NO
			, T1.INST_NO                         AS      INST_NO
            , (SELECT INST_NM FROM SAA000 WHERE INST_NO = T1.INST_NO) AS INST_NM
			, T1.DSCSN_SE_CD                     AS      DSCSN_SE_CD
			, T1.DSCSN_CN                        AS      DSCSN_CN
			, T1.RQST_ATCFL_NM                   AS      RQST_ATCFL_NM
			, T1.ESB_TX_ID                       AS      ESB_TX_ID
			, T1.ESB_SEQ                         AS      ESB_SEQ
			, T1.ESB_IF_ID                       AS      ESB_IF_ID
			, T1.SND_CD                          AS      SND_CD
			, T1.RCV_CD                          AS      RCV_CD
			, T1.CREATE_TIME                     AS      CREATE_TIME
			, T1.ESB_FILE_NAME                   AS      ESB_FILE_NAME
			, T1.ESB_INIT_TIME                   AS      ESB_INIT_TIME
			, T1.ESB_COMPLITE_TIME               AS      ESB_COMPLITE_TIME
			, T1.ESB_STATUS                      AS      ESB_STATUS
			, T1.TRPR_RRNO_ENCPT                 AS      TRPR_RRNO_ENCPT
			, T2.ESB_STATUS                      AS      CAA100_ESB_STATUS
			, T2.RCPT_SE_CD                      AS      CAA100_RCPT_SE_CD
			, T2.PIC_NM                          AS      CAA100_PIC_NM
          FROM CAA130 T1/* 병역의무자 상담지원의뢰*/
               LEFT OUTER JOIN CAA100 T2    /* 병역의무자 상담지원의뢰 접수결과*/
            ON (T1.SRVC_RQST_APLY_NO = T2.SRVC_RQST_APLY_NO)  /* 서비스의뢰신청번호 */
		 WHERE 1 = 1
           AND T1.UNT_TASKWK_SE_CD  IN ('U01', 'U02', 'U04', 'U09')
        <if test="RQST_BGNG_YMD != null and RQST_BGNG_YMD != '' and RQST_END_YMD != null and RQST_END_YMD != ''">
        <![CDATA[
            AND T1.RQST_YMD   BETWEEN  #{RQST_BGNG_YMD}    AND #{RQST_END_YMD} /* 접수일자 */
        ]]>
        </if>
        <if test="TRPR_NM != null and TRPR_NM != ''">
        <![CDATA[
            AND T1.TRPR_NM             = #{TRPR_NM}                            /* 대상자명 */
        ]]>
        </if>
        <if test="RCPT_SE_CD != null and RCPT_SE_CD != ''">
        <![CDATA[
            AND T2.RCPT_SE_CD          = #{RCPT_SE_CD}                         /* 접수구분코드 */
        ]]>
        </if>
        <if test="RQST_SRVC_INST_NO != null and RQST_SRVC_INST_NO != ''">
        <![CDATA[
            AND T1.RQST_SRVC_INST_NO   = #{RQST_SRVC_INST_NO}                  /* 의뢰기관 */
        ]]>
        </if>
        <if test="PIC_NM != null and PIC_NM != ''">
        <![CDATA[
            AND T1.PIC_NM              = #{PIC_NM}                             /* 의뢰담당자 */
        ]]>
        </if>
      <!-- 페이지 인덱서 OFFSET 조건 -->
      <include refid="ComPagingMapper.pageOffset"/>

    </select>

    <!-- 병무청 병역의무자 상담지원의뢰정보 조회 -->
    <select id="selectMmaRqstInfo" parameterType="HashMap" resultType="HashMap">
        <![CDATA[
       SELECT
			  T1.SRVC_RQST_APLY_NO               AS      SRVC_RQST_APLY_NO
			, T1.TRPR_RRNO                       AS      TRPR_RRNO
			, T1.TRPR_NM                         AS      TRPR_NM
			, T1.TRPR_TELNO                      AS      TRPR_TELNO
			, T1.TRPR_MBL_TELNO                  AS      TRPR_MBL_TELNO
			, T1.TRPR_ROAD_NM_ZIP                AS      TRPR_ROAD_NM_ZIP
			, T1.TRPR_ROAD_NM_ADDR               AS      TRPR_ROAD_NM_ADDR
			, T1.TRPR_ROAD_NM_DADDR              AS      TRPR_ROAD_NM_DADDR
			, T1.DEPT_NM                         AS      DEPT_NM
			, T1.UNT_TASKWK_SE_CD                AS      UNT_TASKWK_SE_CD
			, T1.CLNT_DSCSN_OPIN_CN              AS      CLNT_DSCSN_OPIN_CN
			, T1.RQST_YMD                        AS      RQST_YMD
			, T1.PIC_TELNO                       AS      PIC_TELNO
			, T1.PIC_NM                          AS      PIC_NM
            , T1.RQST_SRVC_INST_NO               AS      RQST_SRVC_INST_NO        /* 의뢰요청기관 */
            , T1.RQST_SRVC_INST_NO               AS      RQST_SRVC_INST_NM        /* 의뢰요청기관명 */
			, T1.INST_NO                         AS      INST_NO
            , (SELECT INST_NM FROM SAA000 WHERE INST_NO = T1.INST_NO) AS INST_NM
			, T1.DSCSN_SE_CD                     AS      DSCSN_SE_CD
			, T1.DSCSN_CN                        AS      DSCSN_CN
			, T1.RQST_ATCFL_NM                   AS      RQST_ATCFL_NM
			, T1.ESB_TX_ID                       AS      ESB_TX_ID
			, T1.ESB_SEQ                         AS      ESB_SEQ
			, T1.ESB_IF_ID                       AS      ESB_IF_ID
			, T1.SND_CD                          AS      SND_CD
			, T1.RCV_CD                          AS      RCV_CD
			, T1.CREATE_TIME                     AS      CREATE_TIME
			, T1.ESB_FILE_NAME                   AS      ESB_FILE_NAME
			, T1.ESB_INIT_TIME                   AS      ESB_INIT_TIME
			, T1.ESB_COMPLITE_TIME               AS      ESB_COMPLITE_TIME
			, T1.ESB_STATUS                      AS      ESB_STATUS
			, T1.TRPR_RRNO_ENCPT                 AS      TRPR_RRNO_ENCPT
            , (SELECT ESB_STATUS FROM CAA100 X WHERE X.SRVC_RQST_APLY_NO = T1.SRVC_RQST_APLY_NO  ) AS CAA100_ESB_STATUS
          FROM CAA130 T1/* 병역의무자 상담지원의뢰*/
		 WHERE 1 = 1
           AND T1.UNT_TASKWK_SE_CD  IN ('U01', 'U02', 'U04', 'U09')
           AND T1.ESB_SEQ           =  TO_NUMBER(#{ESB_SEQ})            /* 연계시퀀스 (PK)*/
           AND T1.SRVC_RQST_APLY_NO =  #{SRVC_RQST_APLY_NO}  /* 서비스의뢰신청번호 */
	        ]]>
    </select>
   <!-- 병무청 병역의무자 상담지원의뢰 접수 결과 조회 -->
    <select id="selectMmaRqstInfoResult" parameterType="HashMap" resultType="HashMap">
        SELECT
	          T1.SRVC_RQST_APLY_NO
			, T1.TRPR_RRNO
			, T1.TRPR_NM
			, T1.RQST_PRCS_SRVC_INST_NO     AS      RQST_PRCS_SRVC_INST_NO
			, (SELECT INST_NM FROM SAA000 WHERE INST_NO = T1.RQST_PRCS_SRVC_INST_NO)          AS RQST_PRCS_SRVC_INST_NM
			, (SELECT UNT_TASKWK_SE_CD FROM SAA000 WHERE INST_NO = T1.RQST_PRCS_SRVC_INST_NO) AS UNT_TASKWK_SE_CD
			, T1.PIC_NM                     AS      PRCS_PIC_NM
			, T1.PIC_TELNO                  AS      PRCS_PIC_TELNO
			, T1.RCPT_SE_CD
			, T1.RQST_PRCS_YMD
			, T1.PRCS_YMD
			, T1.RJCT_CS_CN
			, T1.ESB_TX_ID
			, T1.ESB_SEQ
			, T1.ESB_IF_ID
			, T1.SND_CD
			, T1.RCV_CD
			, T1.CREATE_TIME
			, T1.ESB_FILE_NAME
			, T1.ESB_INIT_TIME
			, T1.ESB_COMPLITE_TIME
			, T1.ESB_STATUS
			, T1.TRPR_RRNO_ENCPT
			, T2.TRPR_INFO_NO
			, T2.RCPT_PIC_NO         AS      PRCS_PIC_NO
			, T2.RCPT_INST_NO        AS      PRCS_RCPT_INST_NO
			, CASE WHEN T2.INDV_IDNTFC_NO IS NOT NULL THEN T2.SXDC_SE_CD
			       ELSE ''
			             END     AS  SXDC_SE_CD
			, CASE WHEN T2.INDV_IDNTFC_NO IS NOT NULL THEN T2.TRPR_BRTH_YMD
			       ELSE ''
			             END     AS  TRPR_BRTH_YMD
            , (SELECT X.TRPR_INFO_NO FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})              AS TRPR_INFO_NO    /* 대상자번호*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE2 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS PROBM_STTS_LCLAS_SE_CD    /* 문제상태대분류*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE3 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS PROBM_STTS_MLSFC_SE_CD    /* 문제상태중분류*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE4 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS PROBM_STTS_SCLAS_SE_CD    /* 문제상태소분류*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE5 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS PROBM_CAS_LCLAS_SE_CD     /* 문제원인대분류*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE6 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS PROBM_CAS_SCLAS_SE_CD     /* 문제원인소분류*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE7 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS PROBM_CAS_ETC_CN          /* 문제원인기타내용*/
            , (SELECT X.LINK_ADDTNG_DATAA_VALUE8 FROM SEA200 X WHERE X.LINK_ADDTNG_DATAA_VALUE1  = #{SRVC_RQST_APLY_NO})  AS YNGBGS_STTS_LCLAS_SE_CD   /* 청소년상태구분코드*/
          FROM CAA100 T1 LEFT OUTER JOIN SEA200 T2
            ON (T1.SRVC_RQST_APLY_NO = T2.LINK_ADDTNG_DATAA_VALUE1)
         WHERE 1 = 1
           AND SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}
    </select>
    
    <select id="selectLinkMmaFileInfo" parameterType="HashMap" resultType="HashMap">
        SELECT /* selectLinkMmaFileInfo 병무청연계수신파일정보 조회*/
               RQST_ATCFL_NM
             , RQST_ATCFL_PATH
             , RQST_ATCFL_SYN_YN
             , RQST_ATCFL_YMD
          FROM CAA130 
         WHERE 1 = 1
           AND SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}
           AND ESB_SEQ           = #{ESB_SEQ} 
    </select>    
    
    
    <insert id="insertMmaRqstResult" parameterType="HashMap">
        <![CDATA[
        INSERT
          INTO CAA100 /* 병역의무자 상담지원의뢰 접수 결과*/
           (  SRVC_RQST_APLY_NO
		    , TRPR_RRNO
		    , TRPR_NM
		    , RQST_PRCS_SRVC_INST_NO
		    , PIC_NM
		    , PIC_TELNO
		    , RCPT_SE_CD
		    , RQST_PRCS_YMD
		    , PRCS_YMD
		    , RJCT_CS_CN
		    , ESB_TX_ID
		    , ESB_SEQ
		    , ESB_IF_ID
		    , SND_CD
		    , RCV_CD
		    , CREATE_TIME
		    , ESB_FILE_NAME
		    , ESB_INIT_TIME
		    , ESB_COMPLITE_TIME
		    , ESB_STATUS
		    , TRPR_RRNO_ENCPT
             )
      VALUES
           (  #{SRVC_RQST_APLY_NO}
            , REGEXP_REPLACE(#{TRPR_RRNO},'[\n\r\t|]+', '')
            , REGEXP_REPLACE(#{TRPR_NM},'[\n\r\t|]+', '')
            , REGEXP_REPLACE(#{RQST_PRCS_SRVC_INST_NO},'[\n\r\t|]+', '')
            , REGEXP_REPLACE(#{PRCS_PIC_NM},'[\n\r\t|]+', '')
            , REGEXP_REPLACE(#{PRCS_PIC_TELNO},'[\n\r\t|]+', '')
            , #{RCPT_SE_CD}
            , REGEXP_REPLACE(#{RQST_PRCS_YMD},'[\n\r\t|]+', '')
            , REGEXP_REPLACE(#{PRCS_YMD},'[\n\r\t|]+', '')
            , REGEXP_REPLACE(#{RJCT_CS_CN},'[\n\r\t|]+', '')
            , #{ESB_TX_ID}
            , CAA100_SQ01.nextval
            , #{ESB_IF_ID}
            , #{SND_CD}
            , #{RCV_CD}
            , TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3')
            , ''
            , ''
            , ''
            , #{ESB_STATUS}
            , (C##RG.ENC_B64(#{TRPR_RRNO_ENCPT}))
            )
        ]]>
    </insert>

    <update id="updateMmaRqstResult" parameterType="HashMap">
        <![CDATA[
           UPDATE CAA100
              SET     RQST_PRCS_SRVC_INST_NO   =    #{RQST_PRCS_SRVC_INST_NO}
					, PIC_NM                   =    REGEXP_REPLACE(#{PRCS_PIC_NM},'[\n\r\t|]+', '')
					, PIC_TELNO                =    REGEXP_REPLACE(#{PRCS_PIC_TELNO},'[\n\r\t|]+', '')
					, RCPT_SE_CD               =    #{RCPT_SE_CD}
					, RQST_PRCS_YMD            =    REGEXP_REPLACE(#{RQST_PRCS_YMD},'[\n\r\t|]+', '')
					, PRCS_YMD                 =    REGEXP_REPLACE(#{PRCS_YMD},'[\n\r\t|]+', '')
					, RJCT_CS_CN               =    REGEXP_REPLACE(#{RJCT_CS_CN},'[\n\r\t|]+', '')
            WHERE SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}
        ]]>
    </update>

   <!-- 심리취약 병역의무자지원 구분 및 지원기관정보 송신 대상 목록조회 -->
    <select id="selectMmaSprtList" parameterType="HashMap" resultType="HashMap">
        <![CDATA[
        SELECT T1.UNT_TASKWK_SE_CD          AS UNT_TASKWK_SE_CD   /* 단위업무구분코드 */
             , T1.INST_NO                   AS INST_NO            /* 기관번호 */
             , T1.INST_NM                   AS INST_NM            /* 기관명 */
             , T1.RGN_CD                    AS RGN_CD             /* 지역코드 */
             , T1.BPLC_ZIP                  AS BPLC_ZIP           /* 사업장우편번호 */
             , REGEXP_REPLACE(T1.BPLC_PST_ADDR, '[\n\r\t|]+', '')             AS BPLC_PST_ADDR      /* 사업장우편주소 */
             , REGEXP_REPLACE(T1.BPLC_DADDR, '[\n\r\t|]+', '')                AS BPLC_DADDR          /* 사업장상세주소 */
          FROM SAA000 T1 /* 통합기관 */
         WHERE 1=1
			AND (
			(UNT_TASKWK_SE_CD IN ('U09') AND INST_TYPE_SE_CD IN ('5'))
			OR (UNT_TASKWK_SE_CD IN ('U01') AND INST_TYPE_SE_CD IN ('5','8'))
			OR (UNT_TASKWK_SE_CD IN ('U02') AND INST_TYPE_SE_CD IN ('5','8'))
			OR (UNT_TASKWK_SE_CD IN ('U04') AND INST_TYPE_SE_CD IN ('5','8'))
			)
			AND inst_nm NOT LIKE '%경찰청%'
			AND inst_nm NOT LIKE '%교육청%'
			AND DEL_YN  = 'N'    /* 삭제여부*/
			AND APRV_YN = 'Y'    /* 승인여부*/
			AND NOT EXISTS ( SELECT *
                              FROM CAA140 T2
                             WHERE T2.INST_NO = T1.INST_NO
                             AND   T2.ESB_STATUS  IN ('S')
                            )
        ]]>
    </select>

    <!-- 심리취약 병역의무자지원 구분 및 지원기관정보 송신 데이터 삭제 -->
    <delete id="deleteMmaSprt" parameterType="HashMap">
        DELETE
          FROM CAA140 /* 심리취약 병역의무자지원 구분 및 지원기관정보 송신 */
         WHERE 1 = 1
           AND ESB_STATUS != 'S'
    </delete>

    <!-- 심리취약 병역의무자지원 구분 및 지원기관정보 송신 데이터 등록 -->
    <insert id="insertMmaSprt" parameterType="HashMap">
        INSERT
          INTO CAA140 /* 병역의무자 지원 구분 및 지원기관정보 */
           ( UNT_TASKWK_SE_CD    /* 단위업무구분코드 */
           , INST_NO             /* 기관번호 */
           , INST_NM             /* 기관명 */
           , RGN_CD              /* 지역코드 */
           , BPLC_ZIP            /* 사업장우편번호 */
           , BPLC_PST_ADDR       /* 사업장우편주소 */
           , BPLC_DADDR          /* 사업장상세주소 */
           , ESB_TX_ID           /* 연계트랜젝션아이디 */
           , ESB_SEQ             /* 연계시퀸스 */
           , ESB_IF_ID           /* 연계인터페이스ID */
           , SND_CD              /* 송신기관코드 */
           , RCV_CD              /* 수신기관코드 */
           , ESB_FILE_NAME       /* 연계파일이름 */
           , CREATE_TIME         /* 데이터생성일시 */
           , ESB_INIT_TIME       /* 연계시작일시 */
           , ESB_COMPLITE_TIME   /* 연계종료일시 */
           , ESB_STATUS          /* 연계상태 */
           )
      VALUES
           (  #{UNT_TASKWK_SE_CD}
            , #{INST_NO}
            , #{INST_NM}
            , #{RGN_CD}
            , #{BPLC_ZIP}
            , #{BPLC_PST_ADDR}
            , #{BPLC_DADDR}
            , ''
            , ( SELECT /*+ INDEX_DESC(T1 INDEX1) */
	               NVL(MAX(T1.ESB_SEQ),0) + 1
	          FROM CAA140 T1 )
	        , 'INFIF_IR_MMA_FS_04'
	        , 'MOG'                                         /* 수정 */
	        , 'MMA'
	        , ''
	        , TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3')
	        , ''
	        , ''
	        , 'N'
	        )
    </insert>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 데이터 삭제 -->
    <delete id="deleteMmaTrmn" parameterType="HashMap">

        DELETE /* isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper.deleteMmaTrmn(심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 데이터 삭제) */
          FROM CAA120 /* 병역의무자 상담지원의뢰 종결처리 현황 */
         WHERE 1 = 1
           AND ESB_STATUS != 'S'
    </delete>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 데이터 등록 -->
    <insert id="insertMmaTrmn" parameterType="HashMap">

        INSERT /* isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper.insertMmaTrmn(심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 데이터 등록) */
          INTO CAA120 T1 /* 병역의무자 상담지원의뢰 종결처리 현황 */
             (SRVC_RQST_APLY_NO             /* 서비스의뢰신청번호 */
            , TRPR_RRNO                     /* 대상자주민등록번호 */
            , TRPR_NM                       /* 대상자명 */
            , TRMN_CS_SE_CD                 /* 종결사유구분코드 */
            , GOAL_PLAN_CN                  /* 목표계획내용 */
            , GOAL_ACHIV_OUTC_CN            /* 목표달성성과내용 */
            , TRMN_SRNG_YMD                 /* 종결심사일자 */
            , TRMN_SRNG_RESULT_SE_CD        /* 종결심사결과 */
            , ESB_TX_ID                     /* 연계트랜젝션아이디 */
            , ESB_SEQ                       /* 연계시퀸스 */
            , ESB_IF_ID                     /* 연계인터페이스아이디 */
            , SND_CD                        /* 송신기관번호 */
            , RCV_CD                        /* 수신기관번호 */
            , CREATE_TIME                   /* 데이터생성일시 */
            , ESB_FILE_NAME                 /* 연계파일이름 */
            , ESB_INIT_TIME                 /* 연계시작일시 */
            , ESB_COMPLITE_TIME             /* 연계종료일시 */
            , ESB_STATUS                    /* 연계상태 */
            , TRPR_RRNO_ENCPT               /* 대상자주민등록번호암호화 */
            )
        VALUES
             ( #{SRVC_RQST_APLY_NO}
             , #{TRPR_RRNO}
             , #{TRPR_NM}
             , #{TRMN_CS_SE_CD}
             , #{GOAL_PLAN_CN}
             , #{GOAL_ACHIV_OUTC_CN}
             , #{TRMN_SRNG_YMD}
             , #{TRMN_SRNG_RESULT_SE_CD}
             , ''                                                  /* 'ESB_'||TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3') */
             , ( SELECT /*+ INDEX_DESC(T1 INDEX1) */
                        NVL(MAX(T1.ESB_SEQ),0) + 1
                   FROM CAA120 T1 )
             , ''                                                  /* 'INFIF_IR_MMA_FS_03' */
             , 'MOG'                                            /* 수정 */
             , 'MMA'
             , TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3')
             , ''
             , ''
             , #{ESB_COMPLITE_TIME}
             , 'N'
             , #{TRPR_RRNO_ENCPT}
             )
    </insert>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 목록조회 -->
    <select id="selectMmaTrmnList" parameterType="HashMap" resultType="HashMap">

        <![CDATA[
        WITH VW_TAB AS
            (
                SELECT a.TRPR_RRNO          AS TRPR_RRNO --대상자주민등록번호
                      ,a.TRPR_RRNO_ENCPT    AS TRPR_RRNO_ENCPT --대상자주민등록번호암호화
                  FROM CAA100 a /* 병역의무자 상담지원의뢰 접수 결과 */
                 WHERE 1=1
            )
        SELECT /* isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper.selectMmaTrmnList(심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 목록조회) */
               T4.RRNO_ENCPT                                        AS TRPR_RRNO                --대상자주민등록번호
              ,T4.FLNM_ENCPT                                        AS TRPR_NM                  --대상자명_성명암호화
              ,T3.TRMN_CS_SE_CD                                     AS TRMN_CS_SE_CD            --종결사유구분코드
              ,CASE WHEN T3.GOAL_ACHIV_DGREE_SE_CD = '01' THEN '미달성'
                    WHEN T3.GOAL_ACHIV_DGREE_SE_CD = '02' THEN '일부달성(50%이하)'
                    WHEN T3.GOAL_ACHIV_DGREE_SE_CD = '03' THEN '일부달성(50%초과)'
                    WHEN T3.GOAL_ACHIV_DGREE_SE_CD = '04' THEN '주요목표 달성'
                    WHEN T3.GOAL_ACHIV_DGREE_SE_CD = '05' THEN '목표 달성'
                    ELSE '목표 이상 달성' END                            AS GOAL_PLAN_CN             --목표계획내용
              ,T3.YNGBGS_CHNG_LAST_RESULT_CN                                AS GOAL_ACHIV_OUTC_CN       --목표달성성과내용
              ,T3.TRMN_SRNG_YMD                                     AS TRMN_SRNG_YMD            --종결심사일자
              ,T3.TRMN_SRNG_RESULT_SE_CD                            AS TRMN_SRNG_RESULT_SE_CD   --종결심사결과
              ,T2.CASE_PRGRS_STTS_SE_CD                             AS CASE_PRGRS_STTS_SE_CD    --사례진행상태구분코드
              ,T3.CASE_TRMN_YMD                                     AS CASE_TRMN_YMD            --사례종결일자
              ,T1.CASE_BGNG_YMD                                     AS CASE_BGNG_YMD            --사례시작일자
        FROM SEB100 T1 /* 사례기본 */
            ,SEB110 T2 /* 사례관리이력 */
            ,SEC100 T3 /* 사례종결 */
            ,SCA300 T4 /* 개인정보 */
            ,SEA200 T5 /* 대상자정보 */
            ,VW_TAB T6
            ,(
             /* 신규로 생성된 대상건 조회 */
             SELECT a.CASE_MNG_NO
                   ,a.CASE_MNG_ODRNO
               FROM SEC100 a /* 사례종결 */
                   ,SEB100 b /* 사례기본 */
                   ,SCA300 c /* 개인정보 */
                   ,SEA200 d /* 대상자정보 */
              WHERE a.CASE_MNG_NO       = b.CASE_MNG_NO
                AND a.CASE_MNG_ODRNO    = b.CASE_MNG_ODRNO
                AND b.TRPR_INFO_NO      = d.TRPR_INFO_NO
                AND c.INDV_IDNTFC_NO    = d.INDV_IDNTFC_NO
                AND NOT EXISTS ( SELECT *
                                   FROM CAA120 y /* 병역의무자 상담지원의뢰 종결처리 현황 */
                                  WHERE y.ESB_COMPLITE_TIME = a.CASE_TRMN_YMD
                                    AND y.TRPR_RRNO_ENCPT   = c.RRNO_ENCPT
                                    AND y.ESB_STATUS        = 'Y'
                                )
             ) T7
             ,(
             /* 신규로 생성된 대상건 조회 */
             SELECT a.CASE_MNG_NO
                   ,a.CASE_MNG_ODRNO
               FROM SEB110 a /* 사례관리이력 */
                   ,SEB100 b /* 사례기본 */
                   ,SCA300 c /* 개인정보 */
                   ,SEA200 d /* 대상자정보 */
              WHERE a.CASE_MNG_NO       = b.CASE_MNG_NO
                AND a.CASE_MNG_ODRNO    = b.CASE_MNG_ODRNO
                AND b.TRPR_INFO_NO      = d.TRPR_INFO_NO
                AND c.INDV_IDNTFC_NO    = d.INDV_IDNTFC_NO
                AND a.CASE_PRGRS_STTS_SE_CD IN ('04', '08')           /* 08 추가 */
                AND NOT EXISTS ( SELECT *
                                   FROM CAA110 y /* 병역의무자 상담지원의뢰 대상자선정 결과 */
                                  WHERE y.TRPR_RRNO_ENCPT = c.RRNO_ENCPT
                                    AND y.ESB_STATUS        = 'Y'
                                )
             ) T8
        WHERE 1=1
          AND T1.CASE_MNG_NO        = T2.CASE_MNG_NO
          AND T1.CASE_MNG_ODRNO     = T2.CASE_MNG_ODRNO
          AND T1.CASE_MNG_NO        = T3.CASE_MNG_NO
          AND T1.CASE_MNG_ODRNO     = T3.CASE_MNG_ODRNO
          AND T1.TRPR_INFO_NO       = T5.TRPR_INFO_NO(+)
          AND T4.INDV_IDNTFC_NO     = T5.INDV_IDNTFC_NO
          AND T4.RRNO_ENCPT         = T6.TRPR_RRNO_ENCPT
          AND T1.CASE_MNG_NO        = T7.CASE_MNG_NO
          AND T1.CASE_MNG_ODRNO     = T7.CASE_MNG_ODRNO
          AND T1.CASE_MNG_NO        = T8.CASE_MNG_NO
          AND T1.CASE_MNG_ODRNO     = T8.CASE_MNG_ODRNO
          AND T1.CASE_MNG_ODRNO = (SELECT MAX(CASE_MNG_ODRNO)
                                     FROM SEB110 X
                                   WHERE x.CASE_MNG_NO = T1.CASE_MNG_NO)
        ]]>
    </select>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 사례관리 대상자선정 연계 목록조회 -->
    <select id="selectMmaCaseTrprSlctnList" parameterType="HashMap" resultType="HashMap">
        <![CDATA[
            WITH VW_TAB AS
			( SELECT T1.SRVC_RQST_APLY_NO
			       , T1.TRPR_RRNO
			       , T1.TRPR_NM
			       , T1.RCPT_SE_CD
			       , T1.RJCT_CS_CN
			       , REGEXP_REPLACE(T1.RJCT_CS_CN, '[\n\r\t|]+', '')
			    FROM CAA100 T1
			   WHERE ((T1.ESB_STATUS = 'Y' AND T1.RCPT_SE_CD =  '21') OR
			          (T1.ESB_STATUS = 'S' AND T1.RCPT_SE_CD != '21'))
			)
			SELECT /* isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper.selectMmaCaseTrprSlctnList(병무청 사례대상자 선정 목록조회) */
			       T1.SRVC_RQST_APLY_NO                          AS SRVC_RQST_APLY_NO
			     , T1.TRPR_RRNO                                  AS TRPR_RRNO
			     , T1.TRPR_NM                                    AS TRPR_NM
			     , CASE WHEN T1.RCPT_SE_CD = '21' THEN '04'
			            ELSE '03'
			        END                                          AS CASE_MNG_SE_CD
			     , NVL(T2.CASE_TRPR_SLCTN_YMD, T3.CASE_BGNG_YMD) AS CASE_TRPR_SLCTN_YMD
			     , CASE WHEN T1.RCPT_SE_CD != '21' THEN T1.RJCT_CS_CN
			            ELSE ''
			        END                                          AS CASE_TRPR_UNSL_CS_CN
			  FROM VW_TAB T1
			     , SEA200 T2
			     , SEB100 T3
			 WHERE T1.SRVC_RQST_APLY_NO       = T2.LINK_ADDTNG_DATAA_VALUE1(+)
			   AND T2.TRPR_INFO_NO            = T3.TRPR_INFO_NO(+)
			   AND T2.CASE_TRPR_TYPE_SE_CD(+) = '03'
			   AND T2.CASE_MNG_SE_CD(+)       = '04'
			   AND NOT EXISTS                   ( SELECT *
			                                        FROM CAA110 X
			                                       WHERE X.SRVC_RQST_APLY_NO = T1.SRVC_RQST_APLY_NO
			                                         AND X.ESB_STATUS        = 'S' )
        ]]>
    </select>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 종결처리 현황 연계 목록조회 -->
    <select id="selectMmaCaseTrmnPrcsList" parameterType="HashMap" resultType="HashMap">
        <![CDATA[
            WITH VW_TAB AS
			( SELECT T1.SRVC_RQST_APLY_NO
			       , T1.TRPR_RRNO
			       , T1.TRPR_NM
			       , T1.RCPT_SE_CD
			       , REGEXP_REPLACE(T1.RJCT_CS_CN, '[\n\r\t|]+', '')
			    FROM CAA100 T1 /* 병역의무자 상담지원의뢰 접수 결과 */
			   WHERE T1.ESB_STATUS = 'Y'
			     AND T1.RCPT_SE_CD = '21'
			)
			SELECT T1.SRVC_RQST_APLY_NO           AS SRVC_RQST_APLY_NO      /* 서비스의뢰신청번호 */
			     , T1.TRPR_RRNO                   AS TRPR_RRNO              /* 대상자주민등록번호 */
			     , T1.TRPR_NM                     AS TRPR_NM                /* 대상자명 */
			     , CASE WHEN T4.TRMN_CS_SE_CD = '001' THEN '1'
			            WHEN T4.TRMN_CS_SE_CD = '002' THEN '2'
			            WHEN T4.TRMN_CS_SE_CD = '003' THEN '3'
			            WHEN T4.TRMN_CS_SE_CD = '004' THEN '4'
			            WHEN T4.TRMN_CS_SE_CD = '017' THEN '6'
			            ELSE '5'
			            END                          AS TRMN_CS_SE_CD          /* 종결사유구분코드 */
			     , ''                             AS GOAL_PLAN_CN           /* 목표계획내용  */
			     , REGEXP_REPLACE(T4.GOAL_ACHIV_OUTC_CN, '[\n\r\t|]+', '')  AS GOAL_ACHIV_OUTC_CN     /* 목표달성성과내용 */
			     , T4.TRMN_SRNG_YMD               AS TRMN_SRNG_YMD          /* 종결심사일자 */
			     , T4.TRMN_SRNG_RESULT_SE_CD      AS TRMN_SRNG_RESULT_SE_CD /* 종결심사결과 */
			     , T3.CASE_PRGRS_STTS_SE_CD       AS CASE_PRGRS_STTS_SE_CD  /* 사례진행상태구분코드 */
			     , T3.CASE_TRMN_YMD               AS CASE_TRMN_YMD          /* 사례종결일자 */
			     , T3.CASE_BGNG_YMD               AS CASE_BGNG_YMD          /* 사례시작일자 */
			  FROM VW_TAB T1
			     , SEA200 T2 /* 대상자정보 */
			     , SEB100 T3 /* 사례기본 */
			     , SEC100 T4 /* 사례종결 */
			 WHERE T1.SRVC_RQST_APLY_NO      = T2.LINK_ADDTNG_DATAA_VALUE1
			   AND T2.TRPR_INFO_NO           = T3.TRPR_INFO_NO
			   AND T3.CASE_MNG_NO            = T4.CASE_MNG_NO
			   AND T3.CASE_MNG_ODRNO         = T4.CASE_MNG_ODRNO
			   AND T2.CASE_TRPR_TYPE_SE_CD   = '03'
			   AND T2.CASE_MNG_SE_CD         = '04'
			   AND T3.CASE_PRGRS_STTS_SE_CD  IN ('04', '08')           /* 08 추가 */
			   AND T4.TRMN_SRNG_RESULT_SE_CD = '02'
			   AND NOT EXISTS                ( SELECT *
			                                     FROM CAA120 X
			                                    WHERE X.SRVC_RQST_APLY_NO = T1.SRVC_RQST_APLY_NO
			                                      AND X.ESB_STATUS        = 'S' )
        ]]>
    </select>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 사례관리 대상자선정결과 연계 데이터 삭제 -->
    <delete id="deleteMmaTrpr" parameterType="HashMap">

        DELETE /* isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper.deleteMmaTrpr(심리취약한 병역의무자 상담지원 의뢰 사례관리 대상자선정결과 연계 데이터 삭제) */
          FROM CAA110 /* 병역의무자 상담지원의뢰 대상자선정 결과 */
         WHERE 1 = 1
           AND ESB_STATUS != 'S'
    </delete>

    <!-- 심리취약한 병역의무자 상담지원 의뢰 사례관리 대상자선정결과 연계 데이터 등록 -->
    <insert id="insertMmaTrpr" parameterType="HashMap">

        INSERT /* isry.itgcm.linkmng.outsd.mapper.LinkMmaRcptJobMapper.insertMmaTrpr(심리취약한 병역의무자 상담지원 의뢰 사례관리 대상자선정결과 연계 데이터 등록) */
          INTO CAA110 T1 /* 병역의무자 상담지원의뢰 대상자선정 결과 */
             (SRVC_RQST_APLY_NO             /* 서비스의뢰신청번호 */
		    , TRPR_RRNO                     /* 대상자주민등록번호 */
		    , TRPR_RRNO_ENCPT               /* 대상자주민등록번호암호화 */
		    , TRPR_NM                       /* 대상자명 */
		    , CASE_MNG_SE_CD                /* 사례관리구분코드 */
		    , CASE_TRPR_SLCTN_YMD           /* 사례대상자선정일자 */
		    , CASE_TRPR_UNSL_CS_CN          /* 사례대상자미선정사유내용 */
		    , ESB_TX_ID                     /* 연계트랜젝션아이디 */
		    , ESB_SEQ                       /* 연계시퀸스 */
		    , ESB_IF_ID                     /* 연계인터페이스아이디 */
		    , SND_CD                        /* 송신기관번호 */
		    , RCV_CD                        /* 수신기관번호 */
		    , CREATE_TIME                   /* 데이터생성일시 */
		    , ESB_FILE_NAME                 /* 연계파일이름 */
		    , ESB_INIT_TIME                 /* 연계시작일시 */
		    , ESB_COMPLITE_TIME             /* 연계종료일시 */
		    , ESB_STATUS                    /* 연계상태 */
		    )
        VALUES
             ( #{SRVC_RQST_APLY_NO}
             , #{TRPR_RRNO}
             , #{TRPR_RRNO_ENCPT}
             , #{TRPR_NM}
             , #{CASE_MNG_SE_CD}
             , #{CASE_TRPR_SLCTN_YMD}
             , ''
             , ''                                       /* 'ESB_'||TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3') */
             , ( SELECT /*+ INDEX_DESC(T1 INDEX1) */
                        NVL(MAX(T1.ESB_SEQ),0) + 1
                   FROM CAA110 T1 )
             , ''                                       /* ITGCM_CO_024_03 */
             , 'MOG'                                        /* 수정 */
             , 'MMA'
             , TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3')
             , ''
             , ''
             , ''
             , 'N'
             )
    </insert>

    <!-- 병무청 연계의뢰 접수처리 목록 -->
    <select id="selectLinkMmaList" parameterType="HashMap" resultType="HashMap">

        <!-- 페이지 인덱서 헤더 -->
        <include refid="ComPagingMapper.pageHeader" />
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->

             T1.SRVC_RQST_APLY_NO              AS SRVC_RQST_APLY_NO        /* 서비스의뢰신청번호 */
            ,T1.TRPR_RRNO                        AS TRPR_RRNO                /* 대상자주민등록번호 */
            ,T1.TRPR_NM                          AS TRPR_NM                  /* 대상자명 */
            ,C##RG.DEC_B64(T3.TRPR_NM_ENCPT)  AS TRPR_NM_ENCPT            /* 대상자명 암호화*/
            ,T1.TRPR_TELNO                       AS TRPR_TELNO               /* 대상자전화번호 */
            ,T1.TRPR_MBL_TELNO                   AS TRPR_MBL_TELNO           /* 대상자휴대전화번호 */
            ,T1.TRPR_ROAD_NM_ZIP                 AS TRPR_ROAD_NM_ZIP         /* 대상자도로명우편번호 */
            ,T1.TRPR_ROAD_NM_ADDR                AS TRPR_ROAD_NM_ADDR        /* 대상자도로명주소 */
            ,T1.TRPR_ROAD_NM_DADDR               AS TRPR_ROAD_NM_DADDR       /* 대상자도로명상세주소 */
            ,T1.DEPT_NM                          AS DEPT_NM                  /* 의뢰부서명 */
            ,T1.UNT_TASKWK_SE_CD                 AS UNT_TASKWK_SE_CD         /* 단위업무구분코드 */
            ,T1.INST_NO                          AS INST_NO                  /* 기관번호 */
            , (SELECT Y.INST_NM
                 FROM SAA000 Y
                 WHERE Y.INST_NO = T1.INST_NO) AS INST_NM                    /* 기관명 */
            , (SELECT C##RG.DEC_B64(X.PIC_NM_ENCPT)
                 FROM SAA000 X
                 WHERE X.INST_NO = T1.INST_NO) AS PIC_NM_ENCPT               /* 의뢰대상담당자명 */
            ,T1.CLNT_DSCSN_OPIN_CN               AS CLNT_DSCSN_OPIN_CN       /* 서비스의뢰신청기관담당자의견내용 */
            ,T1.RQST_YMD                         AS RQST_YMD                 /* 의뢰일자 */
            ,T1.PIC_TELNO                        AS PIC_TELNO                /* 담당자연락처 */
            ,T1.PIC_NM                           AS RQST_PIC_NM              /* 의뢰담당자 */
            ,T1.PIC_NM                           AS RQST_PIC_NM_ENCPT        /* 의뢰담당자 */
            ,T1.RQST_SRVC_INST_NO                AS RQST_SRVC_INST_NO        /* 의뢰요청기관 */
            ,T1.RQST_SRVC_INST_NO                AS RQST_SRVC_INST_NM        /* 의뢰요청기관명 */
            ,T1.DSCSN_SE_CD                      AS DSCSN_SE_CD              /* 상담구분 */
            ,T1.DSCSN_CN                         AS DSCSN_CN                 /* 상담내용 */
            ,T1.RQST_ATCFL_NM                    AS RQST_ATCFL_NM            /* 첨부파일명 */
            ,T1.ESB_SEQ                          AS ESB_SEQ                  /* 연계시퀀스*/
            ,T2.SRVC_RQST_APLY_NO                AS SRVC_RQST_APLY_NO2       /* CAA100번 서비스의뢰신청번호 */
            ,CASE WHEN T2.RQST_PRCS_SRVC_INST_NO IS NULL THEN T1.INST_NO
                  ELSE (SELECT LINK_ADDTNG_DATAA_VALUE3
                          FROM SEA200
                         WHERE LINK_ADDTNG_DATAA_VALUE1 = #{SRVC_RQST_APLY_NO})
              END                                AS RQST_PRCS_SRVC_INST_NO   /* 처리기관번호 */
            ,CASE WHEN T2.RQST_PRCS_SRVC_INST_NO IS NULL THEN (SELECT X.INST_NM FROM SAA000 X WHERE X.INST_NO = T1.INST_NO)
                  ELSE T2.RQST_PRCS_SRVC_INST_NO
              END                                AS RQST_PRCS_SRVC_INST_NM   /* 처리기관명 */
            ,T2.RCPT_SE_CD                       AS RCPT_SE_CD               /* 접수구분코드 */
            ,CASE WHEN T2.PIC_NM IS NULL THEN (SELECT PIC_NM_ENCPT FROM SAA000 WHERE INST_NO = T1.INST_NO)
                  ELSE T2.PIC_NM
              END                                AS PRCS_PIC_NM              /* 처리담당자 */
            ,CASE WHEN T2.PIC_TELNO IS NULL THEN (SELECT PIC_TELNO FROM SAA000 WHERE INST_NO = T1.INST_NO)
                  ELSE T2.PIC_TELNO
              END                                AS PRCS_PIC_TELNO           /* 처리담당자연락처 */
            ,CASE WHEN T2.PIC_NM IS NULL THEN ''
                  ELSE T3.LINK_ADDTNG_DATAA_VALUE2
              END                                AS PRCS_PIC_NO           /* 처리담당자번호 */
            ,T2.RQST_PRCS_YMD                    AS RQST_PRCS_YMD            /* 접수일자 */
            ,T2.PRCS_YMD                         AS PRCS_YMD                 /* 처리일자 */
            ,T2.RJCT_CS_CN                       AS RJCT_CS_CN               /* 반려사유내용 */
            ,T3.TRPR_INFO_NO                     AS TRPR_INFO_NO             /* 대상자정보번호 */
            ,CASE WHEN T1.TRPR_RRNO IS NOT NULL THEN
                  CASE WHEN SUBSTR(T1.TRPR_RRNO,7,1) IN ('1','2') THEN '19'||SUBSTR(T1.TRPR_RRNO,1,6)
                       WHEN SUBSTR(T1.TRPR_RRNO,7,1) IN ('3','4') THEN '20'||SUBSTR(T1.TRPR_RRNO,1,6)
                       ELSE '19'||SUBSTR(T1.TRPR_RRNO,1,6)
                           END
                     ELSE ''
                 END                             AS BRDT                     /* 생년월일 */
            , ( SELECT CMMNS_CD_VALUE_NM
	              FROM SAC100
	             WHERE CMMNS_CD_ID    = 'SXDC_SE_CD'
	               AND CMMNS_CD_VALUE = ( CASE WHEN T1.TRPR_RRNO IS NOT NULL THEN
	                                                CASE WHEN SUBSTR(T1.TRPR_RRNO,7,1) IN ('1','3') THEN 'M'
	                                                     WHEN SUBSTR(T1.TRPR_RRNO,7,1) IN ('2','4') THEN 'F'
	                                                     ELSE 'X'
	                                                 END
	                                           ELSE 'X'
	                                       END
	                                    )
	          )                                  AS SXDC_SE                  /* 성별구분 */
            , T2.ESB_STATUS                      AS      CAA100_ESB_STATUS
            , T2.RCPT_SE_CD                      AS      CAA100_RCPT_SE_CD
            , T2.PIC_NM                          AS      CAA100_PIC_NM
            , T2.SRVC_RQST_APLY_NO               AS      CAA100_SRVC_RQST_APLY_NO            /* 서비스의뢰접수결과 서비스의뢰신청번호*/
            , T2.RQST_PRCS_SRVC_INST_NO          AS      CAA100_RQST_PRCS_SRVC_INST_NO       /* 처리기관번호*/
            , (SELECT INST_NM FROM SAA000 WHERE TO_CHAR(INST_NO) = T2.RQST_PRCS_SRVC_INST_NO) AS CAA100_RQST_PRCS_SRVC_INST_NM       /* 처리기관명*/
          FROM CAA130 T1    /* 병역의무자 상담지원의뢰 */
             , CAA100 T2    /* 병역의무자 상담지원의뢰 접수 결과 */
             , SEA200 T3    /* 대상자정보 */
         WHERE T1.SRVC_RQST_APLY_NO =  T2.SRVC_RQST_APLY_NO(+)              /* 서비스의뢰신청번호 */
	       AND T1.SRVC_RQST_APLY_NO =  T3.LINK_ADDTNG_DATAA_VALUE1(+)
	       AND T1.UNT_TASKWK_SE_CD  IN ('U01', 'U02', 'U04', 'U09')

            /* 20230421_유치훈_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
            <include refid="GroupAuthrtMapper.linkMmaSrvcRqstGropuAuthrt"/>
            /* 20230421_유치훈_권한 쿼리 최종변경사항 수정_권한쿼리종료*/

        <if test="RQST_BGNG_YMD != null and RQST_BGNG_YMD != '' and RQST_END_YMD != null and RQST_END_YMD != ''">
        <![CDATA[
            AND T1.RQST_YMD   BETWEEN  #{RQST_BGNG_YMD}    AND #{RQST_END_YMD} /* 접수일자 */
        ]]>
        </if>
        <if test="TRPR_NM != null and TRPR_NM != ''">
        <![CDATA[
            AND T1.TRPR_NM             = #{TRPR_NM}                            /* 대상자명 */
        ]]>
        </if>
        <if test="RCPT_SE_CD != null and RCPT_SE_CD != ''">
        <![CDATA[
            AND T2.RCPT_SE_CD          = #{RCPT_SE_CD}                         /* 접수구분코드 */
        ]]>
        </if>
        <if test="RQST_SRVC_INST_NO != null and RQST_SRVC_INST_NO != ''">
        <![CDATA[
            AND T1.RQST_SRVC_INST_NO   = #{RQST_SRVC_INST_NO}                  /* 의뢰기관 */
        ]]>
        </if>
        <if test="PIC_NM != null and PIC_NM != ''">
        <![CDATA[
            AND T1.PIC_NM              = #{PIC_NM}                             /* 의뢰담당자 */
        ]]>
        </if>
        <if test="SRVC_RQST_APLY_NO != null and SRVC_RQST_APLY_NO != ''">
        <![CDATA[
            AND T1.SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}                    /* 서비스의뢰신청번호 */
        ]]>
        </if>

      <!-- 페이지 인덱서 OFFSET 조건 -->
      <include refid="ComPagingMapper.pageOffset"/>

    </select>

    <!-- 병역의무자 상담지원 의뢰접수 처리 -->
    <update id="updateLinkMma" parameterType="HashMap">
    <![CDATA[

       MERGE INTO
        CAA100 T1
        USING DUAL
           ON (T1.SRVC_RQST_APLY_NO    = #{SRVC_RQST_APLY_NO})
         WHEN MATCHED THEN
            UPDATE SET
	            T1.PRCS_YMD                            = #{PRCS_YMD}
	          , T1.RCPT_SE_CD                          = #{RCPT_SE_CD}
	          , T1.PIC_TELNO                           = #{PRCS_PIC_TELNO}
	          , T1.PIC_NM                              = #{PRCS_PIC_NM}
	          , T1.RQST_PRCS_SRVC_INST_NO              = #{RQST_PRCS_SRVC_INST_NM}
	          , T1.RJCT_CS_CN                          = #{RJCT_CS_CN}

         WHEN NOT MATCHED THEN

            INSERT
           (  T1.SRVC_RQST_APLY_NO      /* 서비스의뢰신청번호 */
	    	, T1.TRPR_RRNO              /* 대상자주민등록번호 */
			, T1.TRPR_NM                /* 대상자명 */
			, T1.RQST_PRCS_SRVC_INST_NO /* 처리기관명 */
			, T1.PIC_NM                 /* 담당자 */
			, T1.PIC_TELNO              /* 담당자연락처 */
			, T1.RCPT_SE_CD             /* 접수구분코드 */
			, T1.RQST_PRCS_YMD          /* 접수일자 */
			, T1.PRCS_YMD               /* 처리일자 */
    		, T1.RJCT_CS_CN             /* 반려사유내용 */
    		, T1.ESB_STATUS             /* 연계상태 */
    		, T1.ESB_SEQ                /* 연계시퀀스 */
    		, T1.SND_CD                 /* 송신기관번호 */
    		, T1.RCV_CD                 /* 수신기관번호 */
    		, T1.CREATE_TIME            /* 데이터생성일시 */
            )
            VALUES
            (
			  #{SRVC_RQST_APLY_NO}
			, #{TRPR_RRNO}
			, #{TRPR_NM}
			, #{RQST_PRCS_SRVC_INST_NM}
			, #{PRCS_PIC_NM}
			, #{PRCS_PIC_TELNO}
			, #{RCPT_SE_CD}
			, #{RQST_PRCS_YMD}
			, #{PRCS_YMD}
			, REGEXP_REPLACE(#{RJCT_CS_CN}, '[\n\r\t|]+', '')
            , 'N'
            ,  ( SELECT /*+ INDEX_DESC(T1 INDEX1) */
                   NVL(MAX(T1.ESB_SEQ),0) + 1
              FROM CAA100 T1 )
            , 'MOG'
            , 'MMA'
            , TO_CHAR(SYSTIMESTAMP,'YYYYMMDDHH24MISSFF3')
            )
    ]]>
    </update>

    <update id="updateEsbStatus" parameterType="HashMap">
	    <![CDATA[
	       UPDATE CAA130
	          SET ESB_STATUS = 'Y'
	        WHERE SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}
	    ]]>
    </update>

    <!-- 대상자 등록여부 확인 -->
    <select id="selectTrprInfoNo" parameterType="HashMap" resultType="Integer">
	   SELECT count(T2.TRPR_INFO_NO)
		 FROM SCA300 T1  /* 개인정보 */
		    , SEA200 T2  /* 대상자정보 */
		WHERE T1.RRNO_ENCPT       = (C##RG.ENC_B64(#{RRNO_ENCPT}))
		  AND T1.INDV_IDNTFC_NO   = T2.INDV_IDNTFC_NO  /* 개인식별번호 */
		  AND T2.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}  /* 단위업무 */
    </select>

    <!-- 연계상태 확인("S"일 경우 의뢰신청정보 수정 불가능) -->
    <select id="selectEsbStatus" parameterType="HashMap" resultType="String">
		SELECT T1.ESB_STATUS
		  FROM CAA100 T1
		  WHERE SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}
    </select>

    <!-- 사례기본생성 대상자조회 -->
    <select id="seachTrpr"  resultType="HashMap">
        SELECT T1.TRPR_INFO_NO
             , T1.UNT_TASKWK_SE_CD
             , T1.LINK_ADDTNG_DATAA_VALUE9            AS CASE_PIC_NO /* 사례담당자번호 */
             , T1.LINK_ADDTNG_DATAA_VALUE10           AS PIC_INST_NO /* 담당자기관번호 */
             , T1.LINK_ADDTNG_DATAA_VALUE1            AS SRVC_RQST_APLY_NO
             , T1.LINK_ADDTNG_DATAA_VALUE2            AS PROBM_STTS_LCLAS_SE_CD
             , T1.LINK_ADDTNG_DATAA_VALUE3            AS PROBM_STTS_MLSFC_SE_CD
             , T1.LINK_ADDTNG_DATAA_VALUE4            AS PROBM_STTS_SCLAS_SE_CD
             , T1.LINK_ADDTNG_DATAA_VALUE5            AS PROBM_CAS_LCLAS_SE_CD
             , T1.LINK_ADDTNG_DATAA_VALUE6            AS PROBM_CAS_SCLAS_SE_CD
             , T1.LINK_ADDTNG_DATAA_VALUE7            AS PROBM_CAS_ETC_CN
             , T1.LINK_ADDTNG_DATAA_VALUE8            AS YNGBGS_STTS_LCLAS_SE_CD
             , T1.RCPT_PIC_NO                         AS RCPT_PIC_NO
             , T1.RCPT_INST_NO                        AS RCPT_INST_NO
          FROM SEA200 T1
             , CAA100 T2
         WHERE T1.LINK_ADDTNG_DATAA_VALUE1 = T2.SRVC_RQST_APLY_NO
           AND T2.ESB_STATUS               = 'S'
           AND T2.RCPT_SE_CD               = '21'
    </select>

    <update id="esbStatus" parameterType="HashMap">
	    <![CDATA[
	       UPDATE CAA100
	          SET ESB_STATUS = 'Y'
	        WHERE SRVC_RQST_APLY_NO = #{SRVC_RQST_APLY_NO}
	    ]]>
    </update>

    <!-- 서비스접수결과 연계시퀀스번호로 대상자번호 조회(대상자 연계추가데이터값수정시) -->
    <select id ="selectSeqTrprInfoNo" parameterType="String" resultType="HashMap">
        SELECT
               T1.TRPR_INFO_NO              AS              TRPR_INFO_NO     /* 대상자번호*/
             , T1.TRPR_NM_ENCPT             AS              TRPR_NM_ENCPT    /* 대상자명*/
             , T1.TRPR_BRTH_YMD             AS              TRPR_BRTH_YMD    /* 생년월일*/
             , T1.SXDC_SE_CD                AS              SXDC_SE_CD       /* 성별*/
          FROM SEA200 T1/* 대상자*/
         WHERE LINK_ADDTNG_DATAA_VALUE1     =       #{LINK_ADDTNG_DATAA_VALUE1}         /* 연계추가데이값1(연계시퀀스)*/
    </select>

</mapper>