<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.stats.dscsnstats.mapper.GenderStatsMapper">

	<select id="list" parameterType="HashMap" resultType="HashMap">
    WITH    ZZ  AS
    (
            SELECT
                    #{writeType}                                                AS  WRITE_TYPE
                ,   TO_DATE(#{startDate} || '000000', 'YYYYMMDDHH24MISS')       AS  START_DATE
                ,   TO_DATE(#{endDate} || '000000', 'YYYYMMDDHH24MISS')+1       AS  END_DATE
            FROM
                    DUAL
    )
    SELECT  /*SQL-ID : isry.couns.stats.dscsnstats.mapper.GenderStatsMapper : 성별통계 LIST */
            FF.CMMNS_CD_VALUE                               AS  BBSCTT_TYPE_SE_CD
        ,   MAX(FF.CMMNS_CD_VALUE_NM)                       AS  GUBUN
        ,   MAX(FF.SRTNG_SQNCE)                             AS  SRTNG_SQNCE
        ,   SUM(DECODE(CC.SXDC_SE_CD, 'M', CC.CCNT, 0) )    AS  G1      /* 남 */
        ,   SUM(DECODE(CC.SXDC_SE_CD, 'F', CC.CCNT, 0) )    AS  G2      /* 여 */
        ,   SUM(NVL(CC.CCNT, 0))                            AS  SSUM
    FROM
            (
            SELECT
                    AA.BBSCTT_TYPE_SE_CD
                ,   AA.SXDC_SE_CD
                ,   COUNT(*)                                AS  CCNT
            FROM
                    <if test='writeType.equals("1") '>
                    AYE100      AA      /* 사이버상담게시글 */
                    </if>
                    <if test='writeType.equals("2") '>
                    AYE120      AA      /* 사이버상담답글 */
                    </if>
                ,   ZZ
            WHERE   1=1
                    <![CDATA[
                AND AA.FRST_REG_DT          >=      ZZ.START_DATE
                AND AA.FRST_REG_DT          <       ZZ.END_DATE
                    ]]>
                AND AA.SXDC_SE_CD           IN      ('M', 'F')
            GROUP BY
                    AA.BBSCTT_TYPE_SE_CD
                ,   AA.SXDC_SE_CD
            )       CC
        ,   (
            SELECT
                    AA.*
            FROM
                    SAC100      AA
            WHERE   1=1
                AND AA.CMMNS_CD_ID      =   'MM_DSCSN_STATS_TYPE_SE_CD'  /* 월상담통계유형구분코드 */
            )       FF
    WHERE   1=1
        AND CC.BBSCTT_TYPE_SE_CD(+)     =       FF.CMMNS_CD_VALUE
    GROUP BY
            FF.CMMNS_CD_VALUE
    ORDER BY
            3

	</select>
	
</mapper>