<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.stats.dscsnstats.mapper.MobileCrisisStatsMapper">

    <select id="selectmobileCrisisStats" parameterType="HashMap" resultType="HashMap">        


			SELECT  /*SQL-ID : isry.couns.stats.dscsnstats.mapper.MobileCrisisStatsMapper."selectmobileCrisisStats" : (모바일)위기상담 유형별 통계*/
			        TYPENAME                           AS  TYPENAME    
			      , SUM(L1)                            AS  L1
			      , SUM(L2)                            AS  L2
			      , SUM(L3)                            AS  L3
			      , SUM(L4)                            AS  L4
			      , SUM(L5)                            AS  L5
			      , SUM(L6)                            AS  L6
			      , SUM(L7)                            AS  L7
			      , SUM(L8)                            AS  L8
			      , SUM(L9)                            AS  L9
			      , SUM(L10)                           AS  L10
			      , SUM(TOTAL)                         AS  TOTAL
			FROM    (
			        SELECT  '모바일'                     AS  TYPENAME      /*모바일*/           
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '01'  THEN  COUNT(1)  ELSE  0  END    AS  L1
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '02'  THEN  COUNT(1)  ELSE  0  END    AS  L2
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '03'  THEN  COUNT(1)  ELSE  0  END    AS  L3 
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '04'  THEN  COUNT(1)  ELSE  0  END    AS  L4
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '05'  THEN  COUNT(1)  ELSE  0  END    AS  L5
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '06'  THEN  COUNT(1)  ELSE  0  END    AS  L6
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '07'  THEN  COUNT(1)  ELSE  0  END    AS  L7
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '08'  THEN  COUNT(1)  ELSE  0  END    AS  L8
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '09'  THEN  COUNT(1)  ELSE  0  END    AS  L9
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '99' OR CRISIS_TYPE_SE_CD IS NULL 
			                                                           THEN  COUNT(1)  ELSE  0  END    AS  L10
			              , COUNT(*)                         AS  TOTAL
			        FROM    AYA120
                    WHERE  FRST_REG_DT    BETWEEN   TO_DATE(#{startDate}, 'YYYYMMDD')
                                          AND       TO_DATE(#{endDate},  'YYYYMMDD') + 0.99999
			        AND     EXISTS      (SELECT  'Y'
			                             FROM    AYB200 
			                             WHERE   AYA120.CHRO_NO          =  AYB200.CHRO_NO
                                         AND     AYB200.DEL_YN           =  'N' 
			                             AND     AYB200.CHTT_TYPE_SE_CD  IN ('2', '3', '4')
			                             )
                    <if test='cbxLinkMod == "1"'>
			        AND     (   YNGBGS_DSCSN_WLFAR_CNTER_RQST_MTHD_SE_CD    =  '1'  /*직접연계*/
			                OR  FAM_RQST_MTHD_SE_CD                         =  '1'
			                OR  DT_CACE_SHELTR_RQST_MTHD_SE_CD              =  '1'
			                OR  EMRG_RESC_RQST_MTHD_SE_CD                   =  '1'
			                OR  LEADER_RQST_MTHD_SE_CD                      =  '1'
			                OR  ETC_SPCLTY_INST_RQST_MTHD_SE_CD             =  '1'
			                )
			        </if>        
			        GROUP   BY  CRISIS_TYPE_SE_CD
			        UNION   ALL
			        SELECT  '오픈채팅'                     AS  TYPENAME      /*오픈채팅*/                         
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '01'  THEN  COUNT(1)  ELSE  0  END    AS  L1
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '02'  THEN  COUNT(1)  ELSE  0  END    AS  L2
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '03'  THEN  COUNT(1)  ELSE  0  END    AS  L3 
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '04'  THEN  COUNT(1)  ELSE  0  END    AS  L4
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '05'  THEN  COUNT(1)  ELSE  0  END    AS  L5
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '06'  THEN  COUNT(1)  ELSE  0  END    AS  L6
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '07'  THEN  COUNT(1)  ELSE  0  END    AS  L7
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '08'  THEN  COUNT(1)  ELSE  0  END    AS  L8
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '09'  THEN  COUNT(1)  ELSE  0  END    AS  L9
                          , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '99' OR CRISIS_TYPE_SE_CD IS NULL 
                                                                       THEN  COUNT(1)  ELSE  0  END    AS  L10
			              , COUNT(*)                         AS  TOTAL
			        FROM    AYA120
			        WHERE   BBSCTT_TYPE_SE_CD  =  '18'            
			        AND     (CHRO_NO           IS NULL
			                OR CHRO_NO         =  ''
			                )
                    AND     FRST_REG_DT    BETWEEN   TO_DATE(#{startDate}, 'YYYYMMDD')
                                           AND       TO_DATE(#{endDate},  'YYYYMMDD') + 0.99999
                    <if test='cbxLinkMod == "1"'>
			        AND     (   YNGBGS_DSCSN_WLFAR_CNTER_RQST_MTHD_SE_CD    =  '1'  /*직접연계*/
			                OR  FAM_RQST_MTHD_SE_CD                         =  '1'
			                OR  DT_CACE_SHELTR_RQST_MTHD_SE_CD              =  '1'
			                OR  EMRG_RESC_RQST_MTHD_SE_CD                   =  '1'
			                OR  LEADER_RQST_MTHD_SE_CD                      =  '1'
			                OR  ETC_SPCLTY_INST_RQST_MTHD_SE_CD             =  '1'
			                )
			        </if>         
			        GROUP   BY  CRISIS_TYPE_SE_CD
			)   A 
			GROUP BY  TYPENAME

   </select>

    <select id="selectmobileCrisisStatsCounselor" parameterType="HashMap" resultType="HashMap">        


            SELECT  /*SQL-ID : isry.couns.stats.dscsnstats.mapper.MobileCrisisStatsMapper."selectmobileCrisisStatsCounselor" : (모바일)위기상담 상담자별 통계*/
			        (SELECT  C##RG.DEC_B64(SCA100.FLNM_ENCPT)   
			         FROM    SCA100          
			               , SAA200 
			         WHERE  TYPENAME             =  SAA200.USER_ID
			         AND    SAA200.ENFSN_NO      =  SCA100.ENFSN_NO
			         AND    DEL_YN      =   'N'
			        )                                          AS TYPENAME  
			      , SUM(L1)                            AS  L1
			      , SUM(L2)                            AS  L2
			      , SUM(L3)                            AS  L3
			      , SUM(L4)                            AS  L4
			      , SUM(L5)                            AS  L5
			      , SUM(L6)                            AS  L6
			      , SUM(L7)                            AS  L7
			      , SUM(L8)                            AS  L8
			      , SUM(L9)                            AS  L9
			      , SUM(L10)                           AS  L10
			      , SUM(TOTAL)                         AS  TOTAL
			FROM    (
			        SELECT  FRST_RGTR_ID                    AS  TYPENAME      /*모바일*/           
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '01'  THEN  COUNT(1)  ELSE  0  END    AS  L1
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '02'  THEN  COUNT(1)  ELSE  0  END    AS  L2
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '03'  THEN  COUNT(1)  ELSE  0  END    AS  L3 
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '04'  THEN  COUNT(1)  ELSE  0  END    AS  L4
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '05'  THEN  COUNT(1)  ELSE  0  END    AS  L5
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '06'  THEN  COUNT(1)  ELSE  0  END    AS  L6
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '07'  THEN  COUNT(1)  ELSE  0  END    AS  L7
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '08'  THEN  COUNT(1)  ELSE  0  END    AS  L8
			              , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '09'  THEN  COUNT(1)  ELSE  0  END    AS  L9
                          , CASE  WHEN  CRISIS_TYPE_SE_CD     =  '99' OR CRISIS_TYPE_SE_CD IS NULL 
                                                                       THEN  COUNT(1)  ELSE  0  END    AS  L10
			              , COUNT(*)                         AS  TOTAL
			        FROM    AYA120
<!-- <![CDATA[ -->
<!-- 			        WHERE   FRST_REG_DT        >=  '20210101' -->
<!-- 			        AND     FRST_REG_DT        <=  '20220621' -->
<!-- ]]>			         -->
                    WHERE   FRST_REG_DT    BETWEEN   TO_DATE(#{startDate}, 'YYYYMMDD')
                                           AND       TO_DATE(#{endDate},  'YYYYMMDD') + 0.99999
   
                    <if test='cbxLinkMod == "1"'>
			        AND     (   YNGBGS_DSCSN_WLFAR_CNTER_RQST_MTHD_SE_CD    =  '1'  /*직접연계*/
			                OR  FAM_RQST_MTHD_SE_CD                         =  '1'
			                OR  DT_CACE_SHELTR_RQST_MTHD_SE_CD              =  '1'
			                OR  EMRG_RESC_RQST_MTHD_SE_CD                   =  '1'
			                OR  LEADER_RQST_MTHD_SE_CD                      =  '1'
			                OR  ETC_SPCLTY_INST_RQST_MTHD_SE_CD             =  '1'
			                )
                    </if>  
			        AND     (       BBSCTT_TYPE_SE_CD  =  18            
			                   AND (CHRO_NO           IS NULL   OR  CHRO_NO   =  '' )
			                OR      EXISTS      (SELECT  'Y'
			                                     FROM    AYB200 
			                                     WHERE   AYA120.CHRO_NO          =  AYB200.CHRO_NO
                                                 AND     AYB200.DEL_YN           =  'N' 
			                                     AND     AYB200.CHTT_TYPE_SE_CD  IN ('2', '3', '4')
			                                     )   
			                  )   
			        GROUP   BY  FRST_RGTR_ID
			                  , CRISIS_TYPE_SE_CD
			)   A 
			GROUP BY  TYPENAME
			ORDER BY  1    
 
   </select>
   
</mapper>