<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.stats.dscsnstats.mapper.MomTouchStatsMapper">

	<select id="selectmomTouchStats" parameterType="HashMap" resultType="HashMap">        
	/*
	 * isry.couns.stats.dscsnstats.mapper.MomTouchStatsMapper.selectmomTouchStats
	 */
		SELECT 
				AA.NM               AS NM,      /* 제목 */
				AA.CNT              AS CNT,     /* 게시글 수 */
				AA.MCNT             AS MCNT,    /* 남성수(게시글 남성수 = 댓글의 남성수  ※상담원 남성수,여성수는 의미없어보입니다. */
				AA.FCNT             AS FCNT,    /* 여성수(게시글 여성수 = 댓글의 여성수 ※상담원 남성수,여성수는 의미없어보입니다. */
				AA.XCNT             AS XCNT,    /* 성별 미확인 건수  - AA.MCNT - AA.FCNT */
				NVL(BB.CNT, 0)      AS BBCNT,   /* 댓글수 */
				NVL(BB.MCNT, 0)     AS BBMCNT,  /* */
				NVL(BB.FCNT, 0)     AS BBFCNT,  /* */
				NVL(BB.XCNT, 0)     AS BBXCNT   /* */
		FROM 
				(
				 SELECT 
						 A.INDEX_SN CD,
						 MAX(A.BBSCTT_TTL_NM) NM,
						 COUNT(B.BBSCTT_ESNTAL_NO) CNT, 
						 SUM(CASE WHEN B.SXDC_SE_CD = 'M' THEN 1 ELSE 0 END) MCNT,
						 SUM(CASE WHEN B.SXDC_SE_CD = 'F' THEN 1 ELSE 0 END) FCNT,
						 SUM(CASE WHEN B.SXDC_SE_CD IS NULL THEN 1 ELSE 0 END) XCNT
				 FROM    AYA300     A
				         , (
					        SELECT *
					        FROM   AYE100
					        WHERE  1=1
					        AND    BBSCTT_TYPE_SE_CD = #{bbscttTypeSeCd}
					       )        B
				 WHERE   1=1
				 AND     A.INDEX_SN         =   B.CHMT_LAW_SN(+)
				 AND     A.DEL_YN(+)        =   'N'
				 AND     B.DEL_YN(+)        =   'N'
				 <![CDATA[
				 AND     B.FRST_REG_DT(+)   >=  TO_DATE(#{startDate} || '000000', 'YYYYMMDDHH24MISS')
				 AND     B.FRST_REG_DT(+)   <=  TO_DATE(#{endDate} || '000000', 'YYYYMMDDHH24MISS')
				 ]]> 
				 GROUP BY A.INDEX_SN
				)   AA,
				(
				 SELECT 
						 A.CHMT_LAW_SN CD,
						 COUNT(B.BBSCTT_ESNTAL_NO) CNT,
						 SUM(CASE WHEN D.SXDC_SE_CD = 'M' THEN 1 ELSE 0 END) MCNT,
						 SUM(CASE WHEN D.SXDC_SE_CD = 'F' THEN 1 ELSE 0 END) FCNT,
						 SUM(CASE WHEN D.SXDC_SE_CD IS NULL THEN 1 ELSE 0 END) XCNT
				 FROM    AYE100     A
				         , AYE110   B
				         , SAA200   C
				         , SCA100   D
				 WHERE   1=1
				 AND     A.BBSCTT_TYPE_SE_CD    =   #{bbscttTypeSeCd}
				 AND     A.BBSCTT_ESNTAL_NO     =   B.BBSCTT_ESNTAL_NO
				 AND     A.BBSCTT_TYPE_SE_CD    =   B.BBSCTT_TYPE_SE_CD
				 AND     B.DEL_YN               =   'N'
				 <![CDATA[
				 AND     A.FRST_REG_DT          >=  TO_DATE(#{startDate} || '000000', 'YYYYMMDDHH24MISS')
				 AND     A.FRST_REG_DT          <=  TO_DATE(#{endDate} || '000000', 'YYYYMMDDHH24MISS')
				 ]]>  
				 AND     A.DEL_YN               =   'N'
				 AND     C.USER_ID              =   B.FRST_RGTR_ID
				 AND     D.ENFSN_NO             =   C.ENFSN_NO
				 GROUP BY A.CHMT_LAW_SN 
				)   BB
		WHERE   AA.CD     =   BB.CD(+)
		ORDER BY AA.CD
	</select>

    <!-- <select id="selectmomTouchStats" parameterType="HashMap" resultType="HashMap">        

			
			WITH    LIST_A  AS(                                                                     /*컨텐츠별 남여별  구분 합계*/
					SELECT  TITLE                                                            AS  TITLE 
					      , SUM(TOTAL)                                                       AS  TOTAL
					      , SUM(MAN)                                                         AS  MAN
					      , SUM(WOMAN)                                                       AS  WOMAN
					      , SUM(TOTAL2)                                                      AS  TOTAL2
					      , SUM(MAN2)                                                        AS  MAN2
					      , SUM(WOMAN2)                                                      AS  WOMAN2
					FROM(  
					SELECT  AYE100.BBSCTT_TTL_NM                                                         AS  TITLE                          
					      , NVL(COUNT(AYE100.SXDC_SE_CD),0)                                              AS  TOTAL
					      , NVL((CASE  WHEN  AYE100.SXDC_SE_CD  =  'M'  THEN  COUNT(AYE100.SXDC_SE_CD)  
					                   ELSE  0  END), 0)                                                 AS  MAN
					      , NVL((CASE  WHEN  AYE100.SXDC_SE_CD  =  'F'  THEN  COUNT(AYE100.SXDC_SE_CD)  
					                   ELSE  0  END), 0)                                                 AS  WOMAN
					      , NVL(COUNT(AYE120.SXDC_SE_CD),0)                                              AS  TOTAL2
					      , NVL((CASE  WHEN  AYE120.SXDC_SE_CD  =  'M'  THEN  COUNT(AYE120.SXDC_SE_CD)  
					                   ELSE  0  END), 0)                                                 AS  MAN2
					      , NVL((CASE  WHEN  AYE120.SXDC_SE_CD  =  'F'  THEN  COUNT(AYE120.SXDC_SE_CD)  
					                   ELSE  0  END), 0)                                                 AS  WOMAN2
					FROM    AYE100
					        LEFT  OUTER  JOIN   AYE120
					                     ON     AYE100.BBSCTT_ESNTAL_NO    =  AYE120.BBSCTT_ESNTAL_NO
					                     AND    AYE100.BBSCTT_TYPE_SE_CD   =  AYE120.BBSCTT_TYPE_SE_CD
					                     AND    AYE120.DEL_YN              =  'N'
					WHERE   AYE100.BBSCTT_TYPE_SE_CD    =  '15'
					AND     AYE100.CHMT_LAW_SN          IS  NOT  NULL
					AND     AYE100.DEL_YN               =  'N'
					 AND   AYE100.FRST_REG_DT   BETWEEN   TO_DATE(#{startDate}, 'YYYYMMDD')  
					                            AND       TO_DATE(#{endDate},   'YYYYMMDD') + 0.99999  
					AND     AYE100.BBSCTT_TTL_NM IS NOT NULL
					GROUP   BY  AYE100.BBSCTT_TTL_NM 
					          , AYE100.SXDC_SE_CD
					          , AYE120.SXDC_SE_CD
					) A
					GROUP   BY TITLE
			)
			,       LIST_B  AS( 
					SELECT  '내 짐을 들어주는 사람'             AS  TITLE1            /*콘텐츠*/
					      , '누구와 싸우시나요?'               AS  TITLE2
					      , '눈이 보는 세상 마음이 보는 세상'     AS  TITLE3
					      , '마음은 있는데 시간이 없다면'        AS  TITLE4
					      , '칭찬보다 중요한 것'               AS  TITLE5
					      , '                  합계'       AS  TITLE6
					FROM    DUAL
			)
			,       LIST_C  AS( 
			SELECT  TITLE1                        AS  TITLE
			      , NVL(TOTAL,0)                  AS  TOTAL
			      , NVL(MAN, 0)                   AS  MAN
			      , NVL(WOMAN, 0)                 AS  WOMAN
			      , NVL(TOTAL2,0)                 AS  TOTAL2
			      , NVL(MAN2, 0)                  AS  MAN2
			      , NVL(WOMAN2, 0)                AS  WOMAN2
			FROM    LIST_B  
			        LEFT  OUTER  JOIN  LIST_A
			                       ON  LIST_B.TITLE1   =  LIST_A.TITLE
			UNION   ALL
			SELECT  TITLE2                        AS  TITLE
			      , NVL(TOTAL,0)                  AS  TOTAL
			      , NVL(MAN, 0)                   AS  MAN
			      , NVL(WOMAN, 0)                 AS  WOMAN
			      , NVL(TOTAL2,0)                 AS  TOTAL2
			      , NVL(MAN2, 0)                  AS  MAN2
			      , NVL(WOMAN2, 0)                AS  WOMAN2
			FROM    LIST_B  
			        LEFT  OUTER  JOIN  LIST_A
			                       ON  LIST_B.TITLE2   =  LIST_A.TITLE
			UNION   ALL
			SELECT  TITLE3                        AS  TITLE
			      , NVL(TOTAL,0)                  AS  TOTAL
			      , NVL(MAN, 0)                   AS  MAN
			      , NVL(WOMAN, 0)                 AS  WOMAN
			      , NVL(TOTAL2,0)                 AS  TOTAL2
			      , NVL(MAN2, 0)                  AS  MAN2
			      , NVL(WOMAN2, 0)                AS  WOMAN2
			FROM    LIST_B  
			        LEFT  OUTER  JOIN  LIST_A
			                       ON  LIST_B.TITLE3   =  LIST_A.TITLE
			UNION   ALL
			SELECT  TITLE4                        AS  TITLE
			      , NVL(TOTAL,0)                  AS  TOTAL
			      , NVL(MAN, 0)                   AS  MAN
			      , NVL(WOMAN, 0)                 AS  WOMAN
			      , NVL(TOTAL2,0)                 AS  TOTAL2
			      , NVL(MAN2, 0)                  AS  MAN2
			      , NVL(WOMAN2, 0)                AS  WOMAN2
			FROM    LIST_B  
			        LEFT  OUTER  JOIN  LIST_A
			                       ON  LIST_B.TITLE4   =  LIST_A.TITLE
			UNION   ALL
			SELECT  TITLE5                        AS  TITLE
			      , NVL(TOTAL,0)                  AS  TOTAL
			      , NVL(MAN, 0)                   AS  MAN
			      , NVL(WOMAN, 0)                 AS  WOMAN
			      , NVL(TOTAL2,0)                 AS  TOTAL2
			      , NVL(MAN2, 0)                  AS  MAN2
			      , NVL(WOMAN2, 0)                AS  WOMAN2
			FROM    LIST_B  
			        LEFT  OUTER  JOIN  LIST_A
			                       ON  LIST_B.TITLE5   =  LIST_A.TITLE  
			UNION   ALL
			SELECT  TITLE6                        AS  TITLE               /*합계*/
			      , SUM(NVL(TOTAL,0))             AS  TOTAL
			      , SUM(NVL(MAN,0))               AS  MAN
			      , SUM(NVL(WOMAN,0))             AS  WOMAN
			      , SUM(NVL(TOTAL2,0))            AS  TOTAL2
			      , SUM(NVL(MAN2,0))              AS  MAN2
			      , SUM(NVL(WOMAN2,0))            AS  WOMAN2
			FROM    LIST_B 
			        LEFT  OUTER  JOIN  LIST_A
                                   ON  1 = 1
			GROUP   BY  TITLE6     
			)
			SELECT  /*SQL-ID :isry.couns.stats.dscsnstats.mapper.MomTouchStatsMapper."selectmomTouchStats" : 자녀맘 터치법 상담 통계*/
			        TITLE                                                AS  TITLE
			      , TOTAL  || ' 건'                                       AS  TOTAL
			      , '(남:'  || MAN || ' 건 / 여:' || WOMAN || ' 건)'         AS  GENDER
			      , TOTAL2 || ' 건'                                       AS  TOTAL2
			      , '(남:' || MAN2 || ' 건 / 여:' || WOMAN2 || ' 건)'        AS  GENDER2
			FROM    LIST_C 

   </select> -->
 
    

</mapper>