<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.stats.dscsnstats.mapper.ProblemSolvingStatsMapper">

	<select id="selectproblemSolvingStats" parameterType="HashMap" resultType="HashMap">        
	/*
	 * isry.couns.stats.dscsnstats.mapper.ProblemSolvingStatsMapper.selectproblemSolvingStats
	 */
		SELECT
				AA.TTL_NM        NM,    /* 고민해결백과명칭 */
				NVL(BB.CNT,0)   CNT     /* 댓글건수 */
		FROM
				(
				 SELECT 
						 GRIEF_SLTN_ALKIOL_SN CD,         /* 고민해결백과일련번호 */
						 GRIEF_SLTN_ALKIOL_THMA_SN  SN,
						 SQNCE_NO   SQNCE,
						 TTL_NM                           /* 제목명 */
				 FROM    AYE410
				)   AA, 
				(
				 SELECT 
						 A.GRIEF_SLTN_ALKIOL_SN CD,
						 COUNT(B.BBSCTT_ESNTAL_NO) CNT
				 FROM    AYE100 A
				         , AYE110 B
				 WHERE   1=1
				 AND     A.BBSCTT_TYPE_SE_CD    =   #{bbscttTypeSeCd}
				 AND     A.BBSCTT_ESNTAL_NO     =   B.BBSCTT_ESNTAL_NO
				 AND     A.BBSCTT_TYPE_SE_CD    =   B.BBSCTT_TYPE_SE_CD
				 <![CDATA[
				 AND     A.FRST_REG_DT          >=  TO_DATE(#{startDate} || '000000', 'YYYYMMDDHH24MISS')
				 AND     A.FRST_REG_DT          <=  TO_DATE(#{endDate} || '000000', 'YYYYMMDDHH24MISS')
				 ]]> 
				 AND     A.DEL_YN               =   'N' 
				 AND     B.DEL_YN               =   'N'
				 GROUP BY A.GRIEF_SLTN_ALKIOL_SN 
				)   BB
		WHERE   AA.CD     =   BB.CD(+)
		ORDER BY AA.SN, AA.SQNCE
	</select>

    <!-- <select id="selectproblemSolvingStats" parameterType="HashMap" resultType="HashMap">        

			SELECT  /*SQL-ID :isry.couns.stats.dscsnstats.mapper.ProblemSolvingStatsMapper."selectproblemSolvingStats" : 고민해결백과 상담 통계*/
			        SBA110.BBSCTT_TTL_NM                              AS  TITLE
			      , NVL(COUNT(AYE100.GRIEF_SLTN_ALKIOL_SN), 0)        AS  CNT
			FROM    SBA110 
			        LEFT  OUTER  JOIN  AYE100
			                     ON    SBA110.BBSCTT_ESNTAL_NO     =  AYE100.GRIEF_SLTN_ALKIOL_SN
			                     AND   AYE100.BBSCTT_TYPE_SE_CD    =  '14' 
			                     AND   AYE100.DEL_YN               =  'N'
			                     AND   AYE100.FRST_REG_DT   BETWEEN   TO_DATE(#{startDate}, 'YYYYMMDD')  
			                                               AND       TO_DATE(#{endDate},   'YYYYMMDD') + 0.99999  
			WHERE   SBA110.NTABRD_ESNTAL_NO   =  '74'
			AND     SBA110.DEL_YN      =  'N'  
			GROUP   BY  SBA110.BBSCTT_ESNTAL_NO
			          , SBA110.BBSCTT_TTL_NM
			ORDER   BY  SBA110.BBSCTT_ESNTAL_NO  
    </select> -->

</mapper>