<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper">

    <select id="selectWebTrlInspKndList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectWebTrlInspKndList - 응용2팀 지원 정원제
     */
		SELECT 
				AA.NO              AS  TRL_MLSFC_CD,       /* 검사번호 */
				AA.NM1             AS  TRL_MLSFC_NM,       /* 검사종류 */ 
				AA.NM2             AS  TRL_LCLAS_NM,       /* 검사구분 */ 
				NVL(BB.CNT,0)      AS  TOT_CNT,            /* 실시건수 */
				NVL(CC.CNT,0)      AS  REPLE_CNT           /* 댓글건수 */
		FROM
				(
				 SELECT 
						 A.ADDTNG_MNG_VALUE1 NO,     /* 검사번호 */
						 A.CMMNS_CD_VALUE_NM NM1,    /* 검사종류 */ 
						 B.CMMNS_CD_VALUE_NM NM2     /* 검사구분 */ 
				 FROM    SAC100     A
				         , SAC100   B
				 WHERE   1=1   
				 AND     A.CMMNS_CD_ID          =   'TRL_INSP_MLSFC_TYPE_SE_CD' 
				 AND     A.USE_YN               =   'Y'
				 AND     A.ADDTNG_MNG_VALUE1    IS NOT NULL
				 AND     B.CMMNS_CD_ID          =   'TRL_INSP_LCLAS_TYPE_SE_CD' 
				 AND     A.UP_CMMNS_CD_VALUE    =   B.CMMNS_CD_VALUE
				)   AA,
				(
				 SELECT 
						 KOGU_PVSN_NO NO, 
						 COUNT(*) CNT  
				 FROM    AYD440 
				 WHERE   1=1
				 <![CDATA[
				 AND     FRST_REG_DT >= TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
				 AND     FRST_REG_DT <= TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
				 ]]> 
				 GROUP BY KOGU_PVSN_NO
				)   BB,
				(
				 SELECT                                                                   
					    A.TRL_INSP_SN NO,                                                  
					    COUNT(*) CNT                                                       
				 FROM AYE100 A, AYE110 B                                                
				 WHERE 1=1                                                              
					 AND A.BBSCTT_TYPE_SE_CD = '04'                                        
					 AND A.BBSCTT_ESNTAL_NO   = B.BBSCTT_ESNTAL_NO                         
					 AND A.BBSCTT_TYPE_SE_CD  = B.BBSCTT_TYPE_SE_CD                        
					 <![CDATA[
					 AND B.FRST_REG_DT >= TO_DATE('20230601' || '000000', 'YYYYMMDDHH24MISS')
					 AND B.FRST_REG_DT <= TO_DATE('20230630' || '235959', 'YYYYMMDDHH24MISS')
					 ]]>
					 AND A.DEL_YN = 'N' 
					 AND B.DEL_YN = 'N'                                 
				 GROUP BY A.TRL_INSP_SN                                				 
				)   CC
		WHERE   AA.NO     =   BB.NO(+) 
		AND     AA.NO     =   CC.NO(+)
		ORDER BY AA.NO
    </select>
    
    <select id="selectTwdpsnRelPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectTwdpsnRelPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				AA.NM               AS NM,     /* 패턴명 */
				NVL(BB.LCNT,0)      AS LCNT,   /* 하 */
				NVL(BB.MCNT,0)      AS MCNT,   /* 중 */
				NVL(BB.HCNT,0)      AS HCNT,   /* 상 */
				BB.CNT              AS CNT     /* 합계 */
		FROM
				(
				 SELECT 
						 WEPOS_ANS_PTTRN_NO NO,
						 WEPOS_PTTRN_NM     NM
				 FROM    AYD330
				 WHERE   WEPOS_SCLAS_SN = #{WEPOS_SCLAS_SN}       /* 대인관계고민 , 대인관계원인 */
				)   AA,
				(
				 SELECT 
						 WEPOS_ANS_PTTRN_NO NO,
						 <![CDATA[
						 SUM(CASE WHEN WEPOS_PTTRN_SUM_SCORE < 4   THEN 1 ELSE 0 END)             LCNT,     /* 20점만점기준으로 40%미만: 하 */
						 ]]>
						 SUM(CASE WHEN WEPOS_PTTRN_SUM_SCORE BETWEEN 4 AND 12 THEN 1 ELSE 0 END)  MCNT,     /* 20점만점기준으로 40%~60%: 중 */
						 <![CDATA[  
						 SUM(CASE WHEN WEPOS_PTTRN_SUM_SCORE > 12 THEN 1 ELSE 0 END)              HCNT,     /* 20점만점기준으로 60%초과: 상 */
						 ]]>  
						 COUNT(*) CNT
				 FROM    AYD500
				 WHERE   1 = 1
				 <if test='WEPOS_SCLAS_SN == "1"'>
				 AND     WEPOS_ANS_PTTRN_NO BETWEEN     1 
				                            AND         8       /* 패턴 */
				 </if>
				 <if test='WEPOS_SCLAS_SN == "2"'>
                 AND     WEPOS_ANS_PTTRN_NO BETWEEN     9 
                                            AND         17       /* 패턴 */
                 </if>
				 <![CDATA[
				 AND     FRST_REG_DT        >=          TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
				 AND     FRST_REG_DT        <=          TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
				 ]]> 
				 GROUP BY WEPOS_ANS_PTTRN_NO
				) BB
		WHERE   AA.NO = BB.NO(+)
		ORDER BY AA.NO
    </select>
    
    <select id="selectTwdpsnRelResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectTwdpsnRelResultList - 응용2팀 지원 정원제
     */
		SELECT 
				A.USER_ID                                       AS ID, 
				TO_CHAR(A.EVL_DT,'YYYY-MM-DD AM HH12:MI:SS')    AS YMD,
				B.WEPOS_PTTRN_NM                                AS NM,
				A.WEPOS_PTTRN_SUM_SCORE                         AS SCORE,
				CASE
				    <![CDATA[ 
					WHEN A.WEPOS_PTTRN_SUM_SCORE  < 4             THEN '하'
					WHEN A.WEPOS_PTTRN_SUM_SCORE BETWEEN 4 AND 12 THEN '중'          
					WHEN A.WEPOS_PTTRN_SUM_SCORE  > 12            THEN '상'
					ELSE '' 
					]]>
				END                                             AS RESULT
		FROM    AYD500    A
		        , AYD330  B
		WHERE   1=1 
		AND     A.WEPOS_ANS_PTTRN_NO  =   B.WEPOS_ANS_PTTRN_NO
		<![CDATA[
		AND     A.EVL_DT         >=  TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     A.EVL_DT         <=  TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>
		AND     B.WEPOS_SCLAS_SN      =   #{WEPOS_SCLAS_SN}     /* 대인관계고민 , 대인관계원인 */
		ORDER BY TO_CHAR(A.EVL_DT, 'YYYYMMDDHH24') DESC, A.USER_ID, A.EVL_SCORE_SN
    </select>
    
    <select id="selectCoupleAngerAspectCrtronPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectCoupleAngerAspectCrtronPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				MAX(A.WEPOS_FCTR_NM1)                         AS NM,    /* 패턴명(껍질형,안개형,난장이형,산만형,군림형) */ 
				NVL(SUM(CASE 
				            WHEN A.WEPOS_FCTR_NM = 'a' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'b' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'L' THEN 1
							<if test='TRL_INSP_MNG_NO == "ANGR" or TRL_INSP_MNG_NO == "UR"'> 
							WHEN A.WEPOS_FCTR_NM = 'c' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'L' THEN 1
							</if>
							<if test='TRL_INSP_MNG_NO == "UR"'> 
							WHEN A.WEPOS_FCTR_NM = 'd' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,19,1) = 'L' THEN 1
							</if> 
							ELSE 0 
						END),0)                               AS LCNT,  /* 하 */
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'a' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'b' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'M' THEN 1
							<if test='TRL_INSP_MNG_NO == "ANGR" or TRL_INSP_MNG_NO == "UR"'> 
							WHEN A.WEPOS_FCTR_NM = 'c' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'M' THEN 1
							</if>
							<if test='TRL_INSP_MNG_NO == "UR"'> 
							WHEN A.WEPOS_FCTR_NM = 'd' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,19,1) = 'M' THEN 1
							</if> 
							ELSE 0 
						END),0)                               AS MCNT,  /* 중 */      
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'a' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'b' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'H' THEN 1
							<if test='TRL_INSP_MNG_NO == "ANGR" or TRL_INSP_MNG_NO == "UR"'> 
							WHEN A.WEPOS_FCTR_NM = 'c' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'H' THEN 1
							</if>
							<if test='TRL_INSP_MNG_NO == "UR"'> 
							WHEN A.WEPOS_FCTR_NM = 'd' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,19,1) = 'H' THEN 1
							</if> 
							ELSE 0 
						END),0)                               AS HCNT,  /* 상 */   
				COUNT(*)                                      AS CNT    /* 합계  */
		FROM    AYD430    A
		        , AYD440  B
		WHERE   1=1
		AND     A.TRL_INSP_MNG_NO     =       #{TRL_INSP_MNG_NO}          /* 관리번호 */
		<if test='TRL_INSP_MNG_NO == "LIFE"'>
		AND     A.QESITM_NO           IN      ('1','13')                  /* 패턴 */
		</if>
		<if test='TRL_INSP_MNG_NO == "ANGR"'>
        AND     A.QESITM_NO           IN      ('1','2','3')               /* 패턴 */
        </if>
        <if test='TRL_INSP_MNG_NO == "UR"'>
        AND     A.QESITM_NO           IN      ('1','2','3','4','5')       /* 패턴 */
        </if>
		AND     B.KOGU_PVSN_NO        =       #{WEPOS_MLSFC_SN}           /* 가이던스번호 */
		<![CDATA[ 
		AND     B.FRST_REG_DT         >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT         <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
		GROUP BY A.WEPOS_FCTR_NM 
		ORDER BY A.WEPOS_FCTR_NM
    </select>
    
    <select id="selectCoupleAngerAspectCrtronResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectCoupleAngerAspectCrtronResultList - 응용2팀 지원 정원제
     */
		WITH PETTERN AS 
		( 
		 SELECT 
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'a' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) A,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'b' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) B,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'c' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) C,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'd' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) D,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'e' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) E 
		 FROM    AYD430  
		 WHERE   TRL_INSP_MNG_NO      =   #{TRL_INSP_MNG_NO}
		)  
		SELECT 
				B.WRTR_ID                                                                                                               AS ID,      /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')                                                                           AS YMD,     /* 실시일자 */
				<if test='WEPOS_MLSFC_SN == "47"'>
				CASE 
					WHEN B.SXDC_SE_CD = 'F' THEN '여' 
	                WHEN B.SXDC_SE_CD = 'M' THEN '남' 
	                ELSE ' '         
                END                                                                                                                     AS SXDC,    /* 성별 */
				</if>
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN,       'a:',PT.A),'b:',PT.B),'c:',PT.C),'d:',PT.D) ,'e:',PT.E)   AS SCORE,   /* 원점수 */
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_RESULT_DTL_NM,'a:',PT.A),'b:',PT.B),'c:',PT.C),'d:',PT.D) ,'e:',PT.E)   AS RESULT   /* 결과 */
		FROM    AYD440        B
		        , PETTERN     PT
		WHERE   1=1
		AND     B.KOGU_PVSN_NO    =   #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT     >=  TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT     <=  TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
		ORDER BY B.WRTR_ID, B.WRT_DT
    </select>
    
    <select id="selectCoseSchulwPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectCoseSchulwPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				MAX(A.WEPOS_FCTR_NM1)                 AS NM,   /* 패턴명 */ 
				NVL(SUM(CASE 
				            WHEN A.WEPOS_FCTR_NM = '1' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'L' THEN 1             
				            WHEN A.WEPOS_FCTR_NM = '2' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'L' THEN 1                          
				            WHEN A.WEPOS_FCTR_NM = '3' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'L' THEN 1
				            <if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02" or TRL_INSP_MNG_NO == "03"'>                          
				            WHEN A.WEPOS_FCTR_NM = '4' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'L' THEN 1
				            </if>
				            <if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02"'>                          
				            WHEN A.WEPOS_FCTR_NM = '5' AND SUBSTR(B.WEPOS_RESULT_NM,19,1) = 'L' THEN 1
				            </if> 
				            ELSE 0 
				        END),0)                       AS LCNT, /* 하 */
				NVL(SUM(CASE 
				            WHEN A.WEPOS_FCTR_NM = '1' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'M' THEN 1             
							WHEN A.WEPOS_FCTR_NM = '2' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'M' THEN 1                          
							WHEN A.WEPOS_FCTR_NM = '3' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'M' THEN 1
							<if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02" or TRL_INSP_MNG_NO == "03"'>                          
							WHEN A.WEPOS_FCTR_NM = '4' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'M' THEN 1
							</if>
							<if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02"'>                          
							WHEN A.WEPOS_FCTR_NM = '5' AND SUBSTR(B.WEPOS_RESULT_NM,19,1) = 'M' THEN 1
							</if> 
							ELSE 0 
						END),0)                       AS MCNT, /* 중 */  
				NVL(SUM(CASE 
				            WHEN A.WEPOS_FCTR_NM = '1' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'H' THEN 1             
							WHEN A.WEPOS_FCTR_NM = '2' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'H' THEN 1                          
							WHEN A.WEPOS_FCTR_NM = '3' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'H' THEN 1
							<if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02" or TRL_INSP_MNG_NO == "03"'>                          
							WHEN A.WEPOS_FCTR_NM = '4' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'H' THEN 1
							</if>
							<if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02"'>                          
							WHEN A.WEPOS_FCTR_NM = '5' AND SUBSTR(B.WEPOS_RESULT_NM,19,1) = 'H' THEN 1
							</if> 
							ELSE 0 
						END),0)                       AS HCNT, /* 상 */  
				COUNT(*)                              AS CNT   /* 합계 */
		FROM    AYD430    A
		        , AYD440  B
		        
		WHERE   1=1
		AND     A.TRL_INSP_MNG_NO     =       #{TRL_INSP_MNG_NO}          /* 관리번호 */
		<if test='TRL_INSP_MNG_NO == "04"'>
        AND     A.QESITM_NO           IN      ('1','2','3')               /* 패턴 */
        </if>
        <if test='TRL_INSP_MNG_NO == "03"'>
        AND     A.QESITM_NO           IN      ('1','2','3','4')           /* 패턴 */
        </if>
		<if test='TRL_INSP_MNG_NO == "01" or TRL_INSP_MNG_NO == "02"'>
		AND     A.QESITM_NO           IN      ('1','2','3','4','5')       /* 패턴 */
		</if>
		AND     B.KOGU_PVSN_NO        =       #{WEPOS_MLSFC_SN}           /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT         >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT         <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
		GROUP BY A.WEPOS_FCTR_NM 
		ORDER BY A.WEPOS_FCTR_NM
    </select>
    
    <select id="selectCoseSchulwResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectCoseSchulwResultList - 응용2팀 지원 정원제
     */
		WITH PETTERN AS 
		( 
		 SELECT 
				 MAX(CASE WHEN WEPOS_FCTR_NM = '1' THEN  WEPOS_FCTR_NM1 || ':' ELSE '' END) A,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '2' THEN  WEPOS_FCTR_NM1 || ':' ELSE '' END) B,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '3' THEN  WEPOS_FCTR_NM1 || ':' ELSE '' END) C,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '4' THEN  WEPOS_FCTR_NM1 || ':' ELSE '' END) D,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '5' THEN  WEPOS_FCTR_NM1 || ':' ELSE '' END) E 
		 FROM    AYD430  
		 WHERE   TRL_INSP_MNG_NO      =       #{TRL_INSP_MNG_NO} 
		)   
		SELECT 
				B.WRTR_ID                                                                                                               AS ID,      /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')                                                                           AS YMD,     /* 실시일자 */
				<![CDATA[
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN, '/', '</br>'),       '1:',PT.A),'2:',PT.B),'3:',PT.C),'4:',PT.D) ,'5:',PT.E)   AS SCORE,   /* 원점수 */
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_RESULT_DTL_NM, '/', '</br>'),'1:',PT.A),'2:',PT.B),'3:',PT.C),'4:',PT.D) ,'5:',PT.E)   AS RESULT   /* 결과 */
				]]>
		FROM    AYD440        B
		        , PETTERN     PT
		WHERE   1=1
		AND     B.KOGU_PVSN_NO    =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT     >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT     <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>  
		ORDER BY B.WRTR_ID, B.WRT_DT
    </select>
    
    <select id="selectCoseDirectivityPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectCoseDirectivityPreconList - 응용2팀 지원 정원제
     */
        SELECT 
                '진로지향성'                                                         AS NM,     /* 패턴명 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:LL' THEN 1 ELSE 0 END),0)    AS LLCNT,  /* 가장낮음 */       
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:L'  THEN 1 ELSE 0 END),0)    AS LCNT,   /* 낮음 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:LM' THEN 1 ELSE 0 END),0)    AS LMCNT,  /* 중간낮음 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:M'  THEN 1 ELSE 0 END),0)    AS MCNT,   /* 중간 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:HM' THEN 1 ELSE 0 END),0)    AS HMCNT,  /* 중간보다높음 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:LH' THEN 1 ELSE 0 END),0)    AS LHCNT,  /* 다소높음 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:H'  THEN 1 ELSE 0 END),0)    AS HCNT,   /* 높음 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:HH' THEN 1 ELSE 0 END),0)    AS HHCNT,  /* 가장높음 */
                COUNT(*)                                                             AS CNT     /* 합계 */
        FROM    AYD440 
        WHERE   1=1
        AND     KOGU_PVSN_NO      =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
        <![CDATA[
        AND     FRST_REG_DT       >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
        AND     FRST_REG_DT       <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
        ]]>
    </select>
    
    <select id="selectCoseDirectivityResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectCoseDirectivityResultList - 응용2팀 지원 정원제
     */
		SELECT 
				B.WRTR_ID                                       AS ID,      /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')   AS YMD,     /* 실시일자 */
				CASE 
					WHEN B.SXDC_SE_CD = 'F' THEN '여' 
					WHEN B.SXDC_SE_CD = 'M' THEN '남'   
					ELSE ' ' 
				END                                             AS SXDC,    /* 성별 */ 
				REPLACE(B.WEPOS_SUM_CN,'b:','')                 AS SCORE,   /* 원점수 */
				REPLACE(B.WEPOS_RESULT_DTL_NM,'b:','')          AS RESULT   /* 결과 */
		FROM    AYD440 B
		WHERE   1=1
		AND     B.KOGU_PVSN_NO    =       #{WEPOS_MLSFC_SN}          /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT     >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT     <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>    
		ORDER BY B.WRTR_ID, B.WRT_DT 
    </select>
    
    <select id="selectAddictionStressPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectAddictionStressPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				#{PATTERN_TITLE}                                                    AS NM,   /* 패턴명 */
				<if test='WEPOS_MLSFC_SN == "31" or WEPOS_MLSFC_SN == "32"'>
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'k:L' THEN 1 ELSE 0 END),0)    AS LCNT, /* 일반사용자군 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'k:M' THEN 1 ELSE 0 END),0)    AS MCNT, /* 주의사용자군 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'k:H' THEN 1 ELSE 0 END),0)    AS HCNT, /* 위험사용자군 */
				</if>
				<if test='WEPOS_MLSFC_SN == "33" or WEPOS_MLSFC_SN == "34" or WEPOS_MLSFC_SN == "35"'>
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 's:L' THEN 1 ELSE 0 END),0)    AS LCNT, /* 일반사용자군 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 's:M' THEN 1 ELSE 0 END),0)    AS MCNT, /* 주의사용자군 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 's:H' THEN 1 ELSE 0 END),0)    AS HCNT, /* 위험사용자군 */
				</if>
				<if test='WEPOS_MLSFC_SN == "36"'>
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'p:L' THEN 1 ELSE 0 END),0)    AS NCNT, /* 비문제 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'p:M' THEN 1 ELSE 0 END),0)    AS DCNT, /* 위험 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'p:H' THEN 1 ELSE 0 END),0)    AS HCNT, /* 고위험 */
                </if>
                <if test='WEPOS_MLSFC_SN == "45"'>
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'p:L' THEN 1 ELSE 0 END),0)    AS LCNT, /* 하 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'p:M' THEN 1 ELSE 0 END),0)    AS MCNT, /* 중 */
                NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'p:H' THEN 1 ELSE 0 END),0)    AS HCNT, /* 상 */
                </if>
				COUNT(*)                                                            AS CNT   /* 합계 */
		FROM    AYD440 
		WHERE   1=1
		AND     KOGU_PVSN_NO      =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     FRST_REG_DT       >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     FRST_REG_DT       <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>
    </select>
    
    <select id="selectAddictionStressResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectAddictionStressResultList - 응용2팀 지원 정원제
     */
        <if test='WEPOS_MLSFC_SN == "31" or WEPOS_MLSFC_SN == "32" or WEPOS_MLSFC_SN == "33" or WEPOS_MLSFC_SN == "34" or WEPOS_MLSFC_SN == "35"'>
		WITH PETTERN AS 
		( 
		 SELECT 
		         <if test='WEPOS_MLSFC_SN != "35"'>
				 MAX(CASE WHEN WEPOS_FCTR_NM = '1' THEN WEPOS_FCTR_NM1 || ':' ELSE '' END) A,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '2' THEN WEPOS_FCTR_NM1 || ':' ELSE '' END) B,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '3' THEN WEPOS_FCTR_NM1 || ':' ELSE '' END) C,
				 MAX(CASE WHEN WEPOS_FCTR_NM = '4' THEN WEPOS_FCTR_NM1 || ':' ELSE '' END) D
				 </if>
				 <if test='WEPOS_MLSFC_SN == "35"'>
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'a' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) A,
			     MAX(CASE WHEN WEPOS_FCTR_NM = 'b' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) B,
			     MAX(CASE WHEN WEPOS_FCTR_NM = 'c' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) C
				 </if>
		 FROM    AYD430  
		 WHERE   TRL_INSP_MNG_NO      =       #{TRL_INSP_MNG_NO} 
		)
		</if>
		SELECT 
				B.WRTR_ID                                                                                                           AS ID,      /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')                                                                       AS YMD,     /* 실시일자 */
				<if test='WEPOS_MLSFC_SN == "31" or WEPOS_MLSFC_SN == "32" or WEPOS_MLSFC_SN == "34"'>
				CASE 
					WHEN B.ACBG_SE_CD = '1' THEN '초등' 
					WHEN B.ACBG_SE_CD = '2' THEN '중등' 
					WHEN B.ACBG_SE_CD = '3' THEN '고등'  
				    ELSE ' ' 
				END                                                                                                                 AS ACBG,     /* 학교 */
				</if>
				<if test='WEPOS_MLSFC_SN == "31" or WEPOS_MLSFC_SN == "32"'>
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN,'k:','합계:'),'1:',PT.A),'2:',PT.B),'3:',PT.C) ,'4:',PT.D)   AS SCORE,   /* 원점수 */
				REPLACE(B.WEPOS_RESULT_DTL_NM,'k:','')                                                                              AS RESULT   /* 결과 */
				</if>
				<if test='WEPOS_MLSFC_SN == "33" or WEPOS_MLSFC_SN == "34"'>
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN,'s:','합계:'),'1:',PT.A),'2:',PT.B),'3:',PT.C) ,'4:',PT.D)   AS SCORE,   /* 원점수 */
                REPLACE(B.WEPOS_RESULT_DTL_NM,'s:','')                                                                              AS RESULT   /* 결과 */
				</if>
				<if test='WEPOS_MLSFC_SN == "35"'>
                REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN,'s:','합계:'),'a:',PT.A),'b:',PT.B),'c:',PT.C)                       AS SCORE,   /* 원점수 */
                REPLACE(B.WEPOS_RESULT_DTL_NM,'s:',' ')                                                                             AS RESULT   /* 결과 */
                </if>
                <if test='WEPOS_MLSFC_SN == "36" or WEPOS_MLSFC_SN == "45"'>
                REPLACE(B.WEPOS_SUM_CN,       'p:','')                                                                              AS SCORE,   /* 원점수 */
                REPLACE(B.WEPOS_RESULT_DTL_NM,'p:','')                                                                              AS RESULT   /* 결과 */
                </if>
		FROM    AYD440        B
		        <if test='WEPOS_MLSFC_SN == "31" or WEPOS_MLSFC_SN == "32" or WEPOS_MLSFC_SN == "33" or WEPOS_MLSFC_SN == "34" or WEPOS_MLSFC_SN == "35"'>
		        , PETTERN     PT
		        </if>
		WHERE   1=1
		AND     B.KOGU_PVSN_NO    =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT     >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT     <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>     
		ORDER BY B.WRTR_ID, B.WRT_DT
    </select>
    
    <select id="selectGnrlCharctPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectGnrlCharctPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				MAX(A.WEPOS_FCTR_NM1)                         AS NM,        /* 패턴명 */
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'i' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'o' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 's' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'L' THEN 1 
							ELSE 0 
						END),0)                               AS LCNT,      /* 하 */
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'i' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'o' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 's' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'M' THEN 1 
							ELSE 0 
						END),0)                               AS MCNT,      /* 중 */   
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,3,1)  = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'i' AND SUBSTR(B.WEPOS_RESULT_NM,7,1)  = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'o' AND SUBSTR(B.WEPOS_RESULT_NM,11,1) = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 's' AND SUBSTR(B.WEPOS_RESULT_NM,15,1) = 'H' THEN 1 
							ELSE 0 
						END),0)                               AS HCNT,      /* 상 */   
				COUNT(*)                                      AS CNT        /* 합계 */
		FROM    AYD430    A
		        , AYD440  B
		WHERE   1=1
		AND     A.TRL_INSP_MNG_NO     =       #{TRL_INSP_MNG_NO}  /* 관리번호 */
		AND     A.QESITM_NO           IN      ('1','2','3','4')   /* 패턴 */
		AND     B.KOGU_PVSN_NO        =       #{WEPOS_MLSFC_SN}   /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT         >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT         <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
		GROUP BY A.WEPOS_FCTR_NM 
		ORDER BY A.WEPOS_FCTR_NM
    </select>
    
    <select id="selectGnrlCharctResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectGnrlCharctResultList - 응용2팀 지원 정원제
     */
		WITH PETTERN AS 
		( 
		 SELECT 
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'e' THEN   WEPOS_FCTR_NM1 || ':' ELSE '' END) E,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'i' THEN   WEPOS_FCTR_NM1 || ':' ELSE '' END) I,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'o' THEN   WEPOS_FCTR_NM1 || ':' ELSE '' END) O,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 's' THEN   WEPOS_FCTR_NM1 || ':' ELSE '' END) S
		 FROM    AYD430  
		 WHERE   TRL_INSP_MNG_NO  =   #{TRL_INSP_MNG_NO} 
		)   
		SELECT 
				B.WRTR_ID                                                                                         AS ID,    /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')                                                     AS YMD,   /* 실시일자 */
				REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN,       'e:',PT.E),'i:',PT.I),'o:',PT.O),'s:',PT.S) AS SCORE, /* 원점수 */
				REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_RESULT_DTL_NM,'e:',PT.E),'i:',PT.I),'o:',PT.O),'s:',PT.S) AS RESULT /* 결과 */
		FROM    AYD440        B
		        , PETTERN     PT
		WHERE   1=1
		AND     B.KOGU_PVSN_NO    =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT     >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT     <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>     
		ORDER BY B.WRTR_ID, B.WRT_DT
    </select>
    
    <select id="selectEmtStablePreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectEmtStablePreconList - 응용2팀 지원 정원제
     */
		SELECT 
				'정서안정성'                                                        AS NM,    /* 패턴명 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:LL' THEN 1 ELSE 0 END),0)   AS LLCNT, /* 최하 */ 
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:LH' THEN 1 ELSE 0 END),0)   AS LHCNT, /* 하 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:ML' THEN 1 ELSE 0 END),0)   AS MLCNT, /* 중하 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:MM' THEN 1 ELSE 0 END),0)   AS MMCNT, /* 중 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:MH' THEN 1 ELSE 0 END),0)   AS MHCNT, /* 중상 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:HL' THEN 1 ELSE 0 END),0)   AS HLCNT, /* 상하 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:HM' THEN 1 ELSE 0 END),0)   AS HMCNT, /* 상 */
				NVL(SUM(CASE WHEN WEPOS_RESULT_NM  = 'b:HH' THEN 1 ELSE 0 END),0)   AS HHCNT, /* 최상 */
				COUNT(*)                                                            AS CNT    /* 합계 */
		FROM    AYD440 
		WHERE   1=1
		AND     KOGU_PVSN_NO      =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     FRST_REG_DT       >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     FRST_REG_DT       <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>
    </select>
    
    <select id="selectEmtStableResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectEmtStableResultList - 응용2팀 지원 정원제
     */
		SELECT 
				B.WRTR_ID                                       AS ID,     /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')   AS YMD,    /* 실시일자 */
				CASE                                                
					WHEN B.ACBG_SE_CD = '1' THEN '초등'             
					WHEN B.ACBG_SE_CD = '2' THEN '중등'             
					WHEN B.ACBG_SE_CD = '3' THEN '고등'             
					WHEN B.ACBG_SE_CD = '4' THEN '대학'             
					WHEN B.ACBG_SE_CD = 'G' THEN '일반성인 '        
				    ELSE ' '                                        
				END                                             AS ACBG,    /* 학교 */       
				CASE                                                
					WHEN B.SXDC_SE_CD = 'F' THEN '여'               
					WHEN B.SXDC_SE_CD = 'M' THEN '남'               
					ELSE ' '                                        
				END                                             AS SXDC,   /* 성별 */          
				REPLACE(B.WEPOS_SUM_CN,       'b:','')          AS SCORE,  /* 원점수 */
				REPLACE(B.WEPOS_RESULT_DTL_NM,'b:','')          AS RESULT  /* 결과 */
		FROM    AYD440 B
		WHERE   1=1
		AND     B.KOGU_PVSN_NO    =   #{WEPOS_MLSFC_SN}             /* 가이던스번호 */
		<![CDATA[
		AND     B.FRST_REG_DT     >=  TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT     <=  TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]>     
		ORDER BY B.WRTR_ID, B.WRT_DT  
    </select>
    
    <select id="selectSoctyAnxietParntsADHDDepresPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectSoctyAnxietParntsADHDDepresPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				#{PATTERN_TITLE}                                                                AS NM,    /* 패턴명 */
				<if test='WEPOS_MLSFC_SN == "48"'>
				NVL(SUM(CASE 
				            WHEN WEPOS_RESULT_DTL_NM  = 's:비문제/' OR WEPOS_RESULT_DTL_NM  = 's:비문제1/' THEN 1 
				            ELSE 0 
				        END),0)                                                                 AS NCNT,  /* 비문제 */   
				NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:고위험/'  THEN 1 ELSE 0 END),0)     AS HCNT,  /* 고위험 */
				</if>
			    <if test='WEPOS_MLSFC_SN == "52"'>
			    NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:비문제/'  THEN 1 ELSE 0 END),0)     AS NCNT, /* 비문제 */   
                NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:문제/'   THEN 1 ELSE 0 END),0)      AS MCNT, /* 문제 */
			    </if>
			    <if test='WEPOS_MLSFC_SN == "53"'>
                NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:비문제/'  THEN 1 ELSE 0 END),0)     AS NCNT, /* 비문제 */   
			    NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:가벼움/'  THEN 1 ELSE 0 END),0)     AS LCNT, /* 가벼움 */
			    NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:위험/'  THEN 1 ELSE 0 END),0)       AS DCNT, /* 위험 */
			    NVL(SUM(CASE WHEN WEPOS_RESULT_DTL_NM  = 's:고위험/'  THEN 1 ELSE 0 END),0)     AS HCNT, /* 고위험 */
                </if>
				COUNT(*)                                                                        AS CNT    /* 합계 */
		FROM    AYD440 
		WHERE   1=1
		AND     KOGU_PVSN_NO      =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     FRST_REG_DT       >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     FRST_REG_DT       <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
    </select>
    
    <select id="selectSoctyAnxietParntsADHDDepresResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectSoctyAnxietParntsADHDDepresResultList - 응용2팀 지원 정원제
     */
		SELECT 
				WRTR_ID                                                     AS ID,      /* 아이디 */
				TO_CHAR(WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')                 AS YMD,     /* 실시일자 */
				REPLACE(REPLACE(WEPOS_SUM_CN,       's:',''),'/', ' ')      AS SCORE,   /* 원점수 */
				REPLACE(REPLACE(WEPOS_RESULT_DTL_NM,'s:',''),'/', ' ')      AS RESULT   /* 결과 */
		FROM    AYD440 
		WHERE   1=1
		AND     KOGU_PVSN_NO      =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[
		AND     FRST_REG_DT       >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     FRST_REG_DT       <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
    </select>
    
    <select id="selectMomNurtureEfficaPreconList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectMomNurtureEfficaPreconList - 응용2팀 지원 정원제
     */
		SELECT 
				MAX(A.WEPOS_FCTR_NM1)                                 AS NM,        /* 패턴명 */
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'a' AND SUBSTR(B.WEPOS_RESULT_NM,6,1)  = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'b' AND SUBSTR(B.WEPOS_RESULT_NM,10,1) = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'c' AND SUBSTR(B.WEPOS_RESULT_NM,14,1) = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'd' AND SUBSTR(B.WEPOS_RESULT_NM,18,1) = 'L' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,22,1) = 'L' THEN 1 
							ELSE 0 
						END),0)                                       AS LCNT,      /* 하 */
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'a' AND SUBSTR(B.WEPOS_RESULT_NM,6,1)  = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'b' AND SUBSTR(B.WEPOS_RESULT_NM,10,1) = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'c' AND SUBSTR(B.WEPOS_RESULT_NM,14,1) = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'd' AND SUBSTR(B.WEPOS_RESULT_NM,18,1) = 'M' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,22,1) = 'M' THEN 1 
							ELSE 0 
						END),0)                                       AS MCNT,      /* 중 */      
				NVL(SUM(CASE 
							WHEN A.WEPOS_FCTR_NM = 'a' AND SUBSTR(B.WEPOS_RESULT_NM,6,1)  = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'b' AND SUBSTR(B.WEPOS_RESULT_NM,10,1) = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'c' AND SUBSTR(B.WEPOS_RESULT_NM,14,1) = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'd' AND SUBSTR(B.WEPOS_RESULT_NM,18,1) = 'H' THEN 1 
							WHEN A.WEPOS_FCTR_NM = 'e' AND SUBSTR(B.WEPOS_RESULT_NM,22,1) = 'H' THEN 1 
							ELSE 0 
						END),0)                                       AS HCNT,      /* 상 */   
				COUNT(*)                                              AS CNT        /* 합계 */ 
		FROM    AYD430    A
		        , AYD440  B
		WHERE   1=1 
		AND     A.TRL_INSP_MNG_NO     =       #{TRL_INSP_MNG_NO}                 /* 관리번호 */
		AND     A.QESITM_NO           IN      ('1','2','3','17','18')            /* 패턴 */
		AND     B.KOGU_PVSN_NO        =       #{WEPOS_MLSFC_SN}                  /* 가이던스번호 */
		<![CDATA[ 
		AND     B.FRST_REG_DT         >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT         <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
		GROUP BY A.WEPOS_FCTR_NM 
		ORDER BY A.WEPOS_FCTR_NM
    </select>
    
    <select id="selectMomNurtureEfficaResultList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectMomNurtureEfficaResultList - 응용2팀 지원 정원제
     */
		WITH PETTERN AS 
		( 
		 SELECT 
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'a' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) A,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'b' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) B,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'c' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) C,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'd' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) D,
				 MAX(CASE WHEN WEPOS_FCTR_NM = 'e' THEN  WEPOS_FCTR_NM1 || ':'  ELSE '' END) E 
		 FROM    AYD430  
		 WHERE   TRL_INSP_MNG_NO      =       #{TRL_INSP_MNG_NO}
		)  
		SELECT 
				B.WRTR_ID                                                                                                 AS ID,  /* 아이디 */
				TO_CHAR(B.WRT_DT, 'YYYY-MM-DD AM HH12:MI:SS')                                                             AS YMD, /* 실시일자 */
				<![CDATA[
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_SUM_CN, '/', '</br>'),       's:','총점:'),'a:',PT.a),'b:',PT.b),'c:',PT.c),'d:',PT.d) ,'e:',PT.e)   AS SCORE, /* 원점수 */
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(B.WEPOS_RESULT_DTL_NM, '/', '</br>'),'s:','총점:'),'a:',PT.a),'b:',PT.b),'c:',PT.c),'d:',PT.d) ,'e:',PT.e)       AS RESULT /* 결과 */
				]]>
		FROM    AYD440        B
		        , PETTERN     PT
		WHERE   1=1
		AND     B.KOGU_PVSN_NO        =       #{WEPOS_MLSFC_SN}                /* 가이던스번호 */
		<![CDATA[ 
		AND     B.FRST_REG_DT         >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
		AND     B.FRST_REG_DT         <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
		]]> 
		ORDER BY B.WRTR_ID, B.WRT_DT 
    </select>
    
    <select id="selectWebTrlInspProbmSttsList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectWebTrlInspProbmSttsList - 응용2팀 지원 정원제
     */
		SELECT 
				AA.NO                                                                                                  AS NO,                  /* 검사번호 */
				AA.NM                                                                                                  AS NM,                  /* 검사종류 */
				0                                                                                                      AS PROBM_STTS_01,
				0                                                                                                      AS PROBM_STTS_02,
				CASE WHEN AA.NO IN ('11','12','16','51')           THEN NVL(BB.CNT,0) ELSE 0 END                       AS PROBM_STTS_03,       /* 대인관계 */
				CASE WHEN AA.NO IN ('21','22','23','24','25','26') THEN NVL(BB.CNT,0) ELSE 0 END                       AS PROBM_STTS_04,       /* 학업진로 */
				CASE WHEN AA.NO IN ('31','32','33','34','35','36') THEN NVL(BB.CNT,0) ELSE 0 END                       AS PROBM_STTS_05,       /* 과의존·중독 */
				CASE WHEN AA.NO IN ('41','410','43','45','46','47','48','52','53') THEN NVL(BB.CNT,0) ELSE 0 END       AS PROBM_STTS_06,       /* 정신건강 */
				0                                                                                                      AS PROBM_STTS_07,
				0                                                                                                      AS PROBM_STTS_08,
				0                                                                                                      AS PROBM_STTS_09,
				0                                                                                                      AS PROBM_STTS_10,
				0                                                                                                      AS PROBM_STTS_11,
				0                                                                                                      AS PROBM_STTS_12,
				0                                                                                                      AS PROBM_STTS_13,
				0                                                                                                      AS PROBM_STTS_14,
				0                                                                                                      AS PROBM_STTS_99
		FROM
				(
				 SELECT 
						 ADDTNG_MNG_VALUE1        AS  NO,  /* 검사번호 */
						 CMMNS_CD_VALUE_NM        AS  NM   /* 검사종류 */
				 FROM    SAC100 
				 WHERE   CMMNS_CD_ID        =   'TRL_INSP_MLSFC_TYPE_SE_CD' 
				 AND     USE_YN             =   'Y'
				 AND     ADDTNG_MNG_VALUE1 IS NOT NULL
				)   AA,
				(
				SELECT 
						KOGU_PVSN_NO              AS  NO, 
						COUNT(*)                  AS  CNT  
				FROM    AYD440 
				WHERE   1=1
				<![CDATA[
				AND     FRST_REG_DT     >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
				AND     FRST_REG_DT     <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
				]]> 
				GROUP BY KOGU_PVSN_NO
				)   BB
		WHERE   AA.NO     =   BB.NO(+)
		ORDER BY AA.NO
    </select>
    
    <select id="selectWebTrlInspDgstfnKndList" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectWebTrlInspDgstfnKndLIst - 응용2팀 지원 정원제
     */
		SELECT 
				AA.NO               AS NO,      /* 검사번호 */
				AA.NM               AS NM,      /* 검사종류 */
				NVL(BB.CNT,0)       AS CNT 
		FROM
				(
				 SELECT 
						 ADDTNG_MNG_VALUE1 NO,  /* 검사번호 */
						 CMMNS_CD_VALUE_NM NM   /* 검사종류 */
				 FROM    SAC100 
				 WHERE   CMMNS_CD_ID    =   'TRL_INSP_MLSFC_TYPE_SE_CD' 
				 AND     USE_YN         =   'Y'
				 AND     ADDTNG_MNG_VALUE1 IS NOT NULL
				)   AA,
				(
				 SELECT 
						 A.TRL_INSP_SN NO, 
						 COUNT(*) CNT  
				 FROM    AYE100     A
				         , AYE195   B
				 WHERE   1=1
				 AND     A.BBSCTT_TYPE_SE_CD    =       #{BBSCTT_TYPE_SE_CD}
				 AND     A.BBSCTT_ESNTAL_NO     =       B.BBSCTT_ESNTAL_NO
				 AND     A.BBSCTT_TYPE_SE_CD    =       B.BBSCTT_TYPE_SE_CD
				 <![CDATA[
				 AND     B.FRST_REG_DT          >=      TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
				 AND     B.FRST_REG_DT          <=      TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
				 ]]>
				 AND     A.DEL_YN               =       'N'
				 AND     B.DEL_YN               =       'N'
				 GROUP BY A.TRL_INSP_SN
				)   BB
		WHERE   AA.NO     =       BB.NO(+)
		ORDER BY AA.NO
    </select>
    
    <select id="selectWebTrlInspDgstfnKndDetail" parameterType="HashMap" resultType="HashMap">
    /*
     * isry.couns.stats.dscsnstats.mapper.WebTrlInspStatsMapper.selectWebTrlInspDgstfnKndDetail - 응용2팀 지원 정원제
     */
		SELECT
				AA.NO           AS NO,           /* 문항번호 */ 
				AA.CN           AS CN,           /* 문항내용 */ 
				BB.CNT1         AS CNT1,         /* 1점건수 */ 
				BB.CNT2         AS CNT2,         /* 2점건수 */ 
				BB.CNT3         AS CNT3,         /* 3점건수 */ 
				BB.CNT4         AS CNT4,         /* 4점건수 */ 
				BB.CNT5         AS CNT5,         /* 5점건수 */
				<![CDATA[
				CASE WHEN (CNT1 + CNT2 + CNT3 + CNT4 + CNT5) > 0 
				     THEN (CNT1 + CNT2*2 + CNT3*3 + CNT4*4 + CNT5*5)/(CNT1 + CNT2 + CNT3 + CNT4 + CNT5)
				     ELSE 0
				END             AS AVER          /* 평균만족도 */
				]]>
		FROM
				(
				 SELECT 
						 QESITM_ESNTAL_NO     AS NO,        /* 문항번호 */
						 QESITM_CN            AS CN         /* 문항내용 */
				 FROM    AYE197 
				 WHERE   1=1
				 AND     QESITM_TYPE_SE_CD  =   '04'        /* 웹심리 */
				)   AA,
				(
				 SELECT 
						 C.QESITM_ESNTAL_NO AS  NO,
						 NVL(SUM(CASE WHEN C.RSPNS_CN = '1' THEN 1 ELSE 0 END),0) AS CNT1,      /* 1점건수 */
						 NVL(SUM(CASE WHEN C.RSPNS_CN = '2' THEN 1 ELSE 0 END),0) AS CNT2,      /* 2점건수 */
						 NVL(SUM(CASE WHEN C.RSPNS_CN = '3' THEN 1 ELSE 0 END),0) AS CNT3,      /* 3점건수 */
						 NVL(SUM(CASE WHEN C.RSPNS_CN = '4' THEN 1 ELSE 0 END),0) AS CNT4,      /* 4점건수 */
						 NVL(SUM(CASE WHEN C.RSPNS_CN = '5' THEN 1 ELSE 0 END),0) AS CNT5       /* 5점건수 */ 
				 FROM    AYE100     A
				         , AYE195   B
				         , AYE196   C
				 WHERE   1=1
				 AND     A.DEL_YN               =   'N'
				 AND     A.TRL_INSP_SN          =   #{TRL_INSP_SN}                    /* 리스트에서 클릭한 검사번호 */ 
				 AND     A.BBSCTT_TYPE_SE_CD    =   #{BBSCTT_TYPE_SE_CD}              /* 게시글유형구분 */
				 AND     A.BBSCTT_ESNTAL_NO     =   B.BBSCTT_ESNTAL_NO
				 AND     A.BBSCTT_TYPE_SE_CD    =   B.BBSCTT_TYPE_SE_CD
				 <![CDATA[
				 AND     B.FRST_REG_DT          >=  TO_DATE(#{START_DT} || '000000', 'YYYYMMDDHH24MISS')
				 AND     B.FRST_REG_DT          <=  TO_DATE(#{END_DT} || '235959', 'YYYYMMDDHH24MISS')
				 ]]> 
				 AND     C.INDEX_SN             =   B.INDEX_SN
				 AND     B.DEL_YN               =   'N'
				 AND     C.DEL_YN               =   'N'
				 GROUP BY C.QESITM_ESNTAL_NO
				) BB
		WHERE   AA.NO     =   BB.NO(+)
		ORDER BY AA.NO
    </select>

</mapper>