<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.sysmgmt.config.mapper.MgmtCmmnConfigMapper">
    
    <select id="selectConfigList" parameterType="String" resultType="HashMap">
        /* isry.itgcms.sysmgmt.cmmncode.mapper.MgmtCmmnConfigMapper."selectConfigList" */
        SELECT STNG_ID
		    , STNG_NM 
		    , STNG_MNG_YN 
		    , STNG_PARA_VALUE1
		    , STNG_PARA_VALUE2 
		    , STNG_PARA_VALUE3 
		    , STNG_PARA_VALUE4 
		    , STNG_PARA_VALUE5 
		    , STNG_PARA_VALUE6 
		    , STNG_PARA_VALUE7 
		    , STNG_PARA_VALUE8 
		    , STNG_PARA_VALUE9
		    , STNG_PARA_VALUE10
		    , FRST_RGTR_ID
		    , FRST_REG_DT 
		    , LAST_MDFR_ID 
		    , LAST_MDFCN_DT
		FROM SAB710
		WHERE STNG_ID = #{STNG_ID}
    </select>

    <insert id="insertConfigList" parameterType="HashMap">
        /* isry.itgcms.sysmgmt.cmmncode.mapper.MgmtCmmnConfigMapper."updateConfigList" */
        INSERT INTO SAB710
        (
            STNG_ID
            , STNG_NM 
            , STNG_MNG_YN 
            , STNG_PARA_VALUE1
            , STNG_PARA_VALUE2 
            , STNG_PARA_VALUE3 
            , STNG_PARA_VALUE4 
            , STNG_PARA_VALUE5 
            , STNG_PARA_VALUE6 
            , STNG_PARA_VALUE7 
            , STNG_PARA_VALUE8 
            , STNG_PARA_VALUE9
            , STNG_PARA_VALUE10
            , FRST_RGTR_ID
            , FRST_REG_DT 
            , LAST_MDFR_ID 
            , LAST_MDFCN_DT
        ) VALUES (
            #{STNG_ID}
          , #{STNG_PARA_VALUE1}
          , #{STNG_PARA_VALUE2}
          , #{STNG_PARA_VALUE3}
          , #{STNG_PARA_VALUE4}
          , #{STNG_PARA_VALUE5}
          , #{STNG_PARA_VALUE6}
          , #{STNG_PARA_VALUE7}
          , #{STNG_PARA_VALUE8}
          , #{STNG_PARA_VALUE9}
          , #{STNG_PARA_VALUE10}
          , #{USER_ID}
          , SYSDATE
          , #{USER_ID}
          , SYSDATE
        )
    </insert>

    <update id="updateConfigList" parameterType="HashMap">
        /* isry.itgcms.sysmgmt.cmmncode.mapper.MgmtCmmnConfigMapper."updateConfigList" */
        UPDATE SAB710 SET
            STNG_PARA_VALUE1 = #{STNG_PARA_VALUE1}
          , STNG_PARA_VALUE2 = #{STNG_PARA_VALUE2}
          , STNG_PARA_VALUE3 = #{STNG_PARA_VALUE3}
          , STNG_PARA_VALUE4 = #{STNG_PARA_VALUE4}
          , STNG_PARA_VALUE5 = #{STNG_PARA_VALUE5}
          , STNG_PARA_VALUE6 = #{STNG_PARA_VALUE6}
          , STNG_PARA_VALUE7 = #{STNG_PARA_VALUE7}
          , STNG_PARA_VALUE8 = #{STNG_PARA_VALUE8}
          , STNG_PARA_VALUE9 = #{STNG_PARA_VALUE9}
          , STNG_PARA_VALUE10 = #{STNG_PARA_VALUE10}
          , LAST_MDFR_ID = #{USER_ID}
          , LAST_MDFCN_DT = SYSDATE
        WHERE STNG_ID = #{STNG_ID}
    </update>
    
    <delete id="deleteConfigList" parameterType="String">
    <![CDATA[
        /* isry.itgcms.sysmgmt.cmmncode.mapper.MgmtCmmnConfigMapper."deleteConfigList" */
        DELETE FROM SAB710
        WHERE STNG_ID = #{STNG_ID}
    ]]>
    </delete>
    
    <select id="selectConfigListLog" parameterType="String" resultType="HashMap">
        /* isry.itgcms.sysmgmt.cmmncode.mapper.MgmtCmmnConfigMapper."selectConfigListLog" */
        SELECT INDEX
            , STNG_ID
            , STNG_PARA_VALUE1
            , STNG_PARA_VALUE2 
            , STNG_PARA_VALUE3 
            , STNG_PARA_VALUE4 
            , STNG_PARA_VALUE5 
            , STNG_PARA_VALUE6 
            , STNG_PARA_VALUE7 
            , STNG_PARA_VALUE8 
            , STNG_PARA_VALUE9
            , STNG_PARA_VALUE10
            , FRST_RGTR_ID
            , FRST_REG_DT 
        FROM SAB711
        WHERE STNG_ID = #{STNG_ID}
    </select>
    
    <insert id="insertConfigListLog" parameterType="HashMap">
        /* isry.itgcms.sysmgmt.cmmncode.mapper.MgmtCmmnConfigMapper."insertConfigListLog" */
        INSERT INTO SAB711
        (
            INDEX_SN
            , STNG_ID
            , STNG_PARA_VALUE1
            , STNG_PARA_VALUE2 
            , STNG_PARA_VALUE3 
            , STNG_PARA_VALUE4 
            , STNG_PARA_VALUE5 
            , STNG_PARA_VALUE6 
            , STNG_PARA_VALUE7 
            , STNG_PARA_VALUE8 
            , STNG_PARA_VALUE9
            , STNG_PARA_VALUE10
            , FRST_RGTR_ID
            , FRST_REG_DT 
        ) VALUES (
          
          /* NVL((SELECT MAX(INDEX_SN) + 1 FROM SAB711), 0) */
          
          SAB711_SQ01.NEXTVAL
          
          , #{STNG_ID}
          , #{STNG_PARA_VALUE1}
          , #{STNG_PARA_VALUE2}
          , #{STNG_PARA_VALUE3}
          , #{STNG_PARA_VALUE4}
          , #{STNG_PARA_VALUE5}
          , #{STNG_PARA_VALUE6}
          , #{STNG_PARA_VALUE7}
          , #{STNG_PARA_VALUE8}
          , #{STNG_PARA_VALUE9}
          , #{STNG_PARA_VALUE10}
          , #{USER_ID}
          , SYSDATE
        )
    </insert>
</mapper>
