<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.itgcms.sysmgmt.userauth.mapper.InqOrgTypeListMapper">

    <select id="selectOrgType" resultType="HashMap">
    <![CDATA[
        /* selectOrgType - Lee JiSeob */
        
        SELECT
            TYPE_ID,
            TYPE_NAME,
            TYPE_LEVEL,
            WORKING_AGENCY_YN,
            LIST_ORDER
        FROM INSTITUTE_TYPE
        ORDER BY LIST_ORDER, TYPE_ID
        
    ]]>
    </select>

</mapper>