<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.itgcms.sysmgmt.userauth.mapper.InqOrgDeptListMapper">

    <select id="selectOrgDept" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectOrgDept - Lee JiSeob */
        
        SELECT
			C.DEPT_CD,
			C.INST_NO,
            C.UP_DEPT_CD,
			(SELECT D.INST_NM FROM SAA000 D /* 통합기관 */ WHERE D.INST_NO = C.INST_NO) AS INST_NM,
			C.DEPT_NM,
			C.MAIN_TASKWK_CN,
			C.DEPT_TELNO,
            C.DEPT_FXNO,
			C.DEL_YN,
			C.SRTNG_SQNCE
        FROM SAA300 C /* 기관부서 */
        WHERE C.INST_NO = #{INST_NO}
        /* AND (C.DEL_YN IS NULL OR C.DEL_YN = 'N') */
        ORDER BY C.SRTNG_SQNCE, C.DEPT_CD
        
    ]]>
    </select>


    <select id="selectSubOrgInfo" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectSubOrg - Lee JiSeob */
        
        SELECT
            C.SUB_ORG_ID,
            C.SUB_ORG_NAME,
            C.ORG_CODE,
            (SELECT D.INST_NM FROM SAA000 D /* 통합기관 */ WHERE D.INST_NO = C.ORG_CODE) AS ORG_NAME,
            C.ENG_CTPV_NM,
            (SELECT MAX(E.CTPV_NM) FROM SAA020 E WHERE E.ENG_CTPV_NM = C.ENG_CTPV_NM) AS CTPV_NM,
            C.CTPV_SGG_CD,
            (SELECT MAX(F.SGG_NM) FROM SAA020 F WHERE F.SGG_CD = C.CTPV_SGG_CD) AS SGG_NM
        
        FROM SUB_ORGANIZATION C
        
        WHERE C.ORG_CODE = #{orgCode}
    ]]>
    
        <if test="engCtpvNm != null and engCtpvNm != ''">
    <![CDATA[
        AND C.ENG_CTPV_NM = #{engCtpvNm}
    ]]>
        </if>
        
        <if test="ctpvSggCd != null and ctpvSggCd != ''">
    <![CDATA[
        AND C.CTPV_SGG_CD = #{ctpvSggCd}
    ]]>
        </if>
        
    <![CDATA[
        AND C.DEL_YN = 'N'
        
        ORDER BY C.INDCT_ORD, C.SUB_ORG_ID
        
    ]]>
    </select>

    <select id="selectMaxDeptCd" resultType="HashMap">
    <![CDATA[
        /* selectMaxDeptCd - Lee JiSeob */

        SELECT 
            SAA300_SQ01.NEXTVAL AS DEPT_CD
        FROM DUAL
    ]]>
    </select>

</mapper>