<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.sysmgmt.userauth.mapper.MgmtAuthInsertMapper">
    
    
    <select id="selectGrpAuth" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectGrpAuth - Lee JiSeob */

	    SELECT 
		
			D.MENU_NO,
			MAX(INQ_BUTTON_USE_YN) AS INQ_BUTTON_USE_YN,
			MAX(DTL_INQ_BUTTON_USE_YN) AS DTL_INQ_BUTTON_USE_YN,
			MAX(INITL_BUTTON_USE_YN) AS INITL_BUTTON_USE_YN,
			MAX(REG_BUTTON_USE_YN) AS REG_BUTTON_USE_YN,
			MAX(MDFCN_BUTTON_USE_YN) AS MDFCN_BUTTON_USE_YN,
			MAX(DEL_BUTTON_USE_YN) AS DEL_BUTTON_USE_YN,
			MAX(MNG_BUTTON_USE_YN) AS MNG_BUTTON_USE_YN
		
		FROM 
			SAB300 D /* 권한별 메뉴 */
		
		WHERE 
			D.AUTHRT_ID IN
	]]>
		
		<foreach collection="list" item="authId" index="index" separator="," open="(" close=")">
    <![CDATA[
    		#{authId}
	]]>
		</foreach>
		
    <![CDATA[
    		
		GROUP BY 
			D.MENU_NO
			
    ]]>
    </select>
    
    
    
    <insert id="insertGrpAuthToUserAuth" parameterType="HashMap">
    <![CDATA[
        /* insertGrpAuthToUserAuth - Lee JiSeob */
        
        MERGE INTO SAB250 C
        USING DUAL
        ON (C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO})
        
        WHEN MATCHED THEN
 
            UPDATE SET
            INQ_BUTTON_USE_YN = GREATEST(INQ_BUTTON_USE_YN, #{INQ_BUTTON_USE_YN}),
            DTL_INQ_BUTTON_USE_YN = GREATEST(DTL_INQ_BUTTON_USE_YN, #{DTL_INQ_BUTTON_USE_YN}),
            INITL_BUTTON_USE_YN = GREATEST(INITL_BUTTON_USE_YN, #{INITL_BUTTON_USE_YN}),
            REG_BUTTON_USE_YN = GREATEST(REG_BUTTON_USE_YN, #{REG_BUTTON_USE_YN}),
            MDFCN_BUTTON_USE_YN = GREATEST(MDFCN_BUTTON_USE_YN, #{MDFCN_BUTTON_USE_YN}),
            DEL_BUTTON_USE_YN = GREATEST(DEL_BUTTON_USE_YN, #{DEL_BUTTON_USE_YN}),
            MNG_BUTTON_USE_YN = GREATEST(MNG_BUTTON_USE_YN, #{MNG_BUTTON_USE_YN}),
			LAST_MDFR_ID = #{USER_ID2},
			LAST_MDFCN_DT = SYSDATE
 
        WHEN NOT MATCHED THEN
        
	        INSERT 
	        (
	        	USER_ID,
	        	MENU_NO,
		        INQ_BUTTON_USE_YN,
		        DTL_INQ_BUTTON_USE_YN,
				INITL_BUTTON_USE_YN,
				REG_BUTTON_USE_YN,
				MDFCN_BUTTON_USE_YN,
				DEL_BUTTON_USE_YN,
				MNG_BUTTON_USE_YN,
				FRST_RGTR_ID,
				FRST_REG_DT,
				LAST_MDFR_ID,
				LAST_MDFCN_DT
	        )
	        VALUES
	        (
	        	#{USER_ID},
	        	#{MENU_NO},
		        #{INQ_BUTTON_USE_YN},
		        #{DTL_INQ_BUTTON_USE_YN},
				#{INITL_BUTTON_USE_YN},
				#{REG_BUTTON_USE_YN},
				#{MDFCN_BUTTON_USE_YN},
				#{DEL_BUTTON_USE_YN},
				#{MNG_BUTTON_USE_YN},
				#{USER_ID2},
				SYSDATE,
				#{USER_ID2},
				SYSDATE
	        )
    ]]>
    </insert>


    
    <select id="insertGrpAuthToUserAuthCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* insertGrpAuthToUserAuthCount - Lee JiSeob */
        
        SELECT 
            COUNT(*) AS CNT
        
        FROM 
            SAB250 C
        
        WHERE 
            C.USER_ID = #{USER_ID} 
            AND C.MENU_NO = #{MENU_NO}

    ]]>
    </select>

        
    <insert id="insertGrpAuthToUserAuthHistoryUpdate" parameterType="HashMap">
    <![CDATA[
        /* insertGrpAuthToUserAuthHistoryUpdate - Lee JiSeob */
        
        INSERT INTO SAB251 D /* 사용자별 메뉴권한 이력 */
        (
            USER_ID, 
            MENU_NO, 
            MDFCN_DT, 
            DATAA_CHG_SE_CD, 
            INQ_BUTTON_USE_YN,
            DTL_INQ_BUTTON_USE_YN,  
            INITL_BUTTON_USE_YN, 
            REG_BUTTON_USE_YN, 
            MDFCN_BUTTON_USE_YN, 
            DEL_BUTTON_USE_YN, 
            MNG_BUTTON_USE_YN, 
            FRST_RGTR_ID, 
            FRST_REG_DT, 
            LAST_MDFR_ID, 
            LAST_MDFCN_DT
        )
        VALUES
        (
            #{USER_ID}, 
            #{MENU_NO}, 
            SYSDATE, 
            'U', 
            (SELECT C.INQ_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}),
            (SELECT C.DTL_INQ_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}), 
            (SELECT C.INITL_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}), 
            (SELECT C.REG_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}), 
            (SELECT C.MDFCN_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}), 
            (SELECT C.DEL_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}), 
            (SELECT C.MNG_BUTTON_USE_YN FROM SAB250 C WHERE C.USER_ID = #{USER_ID} AND C.MENU_NO = #{MENU_NO}), 
            #{USER_ID2}, 
            SYSDATE, 
            #{USER_ID2}, 
            SYSDATE
        )
 
    ]]>
    </insert>


    
    <insert id="insertGrpAuthToUserAuthHistoryInsert" parameterType="HashMap">
    <![CDATA[
        /* insertGrpAuthToUserAuthHistoryInsert - Lee JiSeob */
        
        INSERT INTO SAB251 /* 사용자별 메뉴권한 이력 */
        (
            USER_ID, 
            MENU_NO, 
            MDFCN_DT, 
            DATAA_CHG_SE_CD, 
            INQ_BUTTON_USE_YN,
            DTL_INQ_BUTTON_USE_YN, 
            INITL_BUTTON_USE_YN, 
            REG_BUTTON_USE_YN, 
            MDFCN_BUTTON_USE_YN, 
            DEL_BUTTON_USE_YN, 
            MNG_BUTTON_USE_YN, 
            FRST_RGTR_ID, 
            FRST_REG_DT, 
            LAST_MDFR_ID, 
            LAST_MDFCN_DT
        )
        VALUES
        (
            #{USER_ID}, 
            #{MENU_NO}, 
            SYSDATE, 
            'I', 
            #{INQ_BUTTON_USE_YN},
            #{DTL_INQ_BUTTON_USE_YN}, 
            #{INITL_BUTTON_USE_YN}, 
            #{REG_BUTTON_USE_YN}, 
            #{MDFCN_BUTTON_USE_YN}, 
            #{DEL_BUTTON_USE_YN}, 
            #{MNG_BUTTON_USE_YN}, 
            #{USER_ID2}, 
            SYSDATE, 
            #{USER_ID2}, 
            SYSDATE
        )
    
    ]]>
    </insert>
</mapper>
