<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="isry.itgcms.sysmgmt.userauth.mapper.OffcsSgnngMngMapper">

	<select id="selectOffcsSgnngList" parameterType="HashMap"
		resultType="HashMap">
	   <![CDATA[
        SELECT
        
            A.OFFCS_SGNNG_NO        /* 직인서명번호 */
            , A.MNG_SN              /* 관리일련번호 */
            , A.OFFCS_SGNNG_SE_CD   /* 직인서명구분코드 */
            , A.ATFINO              /* 첨부파일번호 */
            , A.ATCMFL_MNG_SN       /* 첨부파일관리일련번호 */
            , A.USE_BGNG_DT         /* 사용시작일시 */
            , A.USE_END_DT          /* 사용종료일시 */
            , A.SLNG_CNT            /* 날인수 */
            , A.USE_YN              /* 사용여부 */
            
        FROM SAA230 A       /* 직인서명상세 */
        
        WHERE 1=1
            AND A.OFFCS_SGNNG_NO = #{OFFCS_SGNNG_NO}
        
        ORDER BY A.MNG_SN DESC
	   ]]>
	</select>

	<insert id="insertOffcsSgnng" parameterType="HashMap">
		<selectKey resultType="HashMap"
			keyProperty="OFFCS_SGNNG_NO,MNG_SN" order="BEFORE">
			<choose>
				<when test="OFFCS_SGNNG_NO != null and OFFCS_SGNNG_NO != ''">
                    <![CDATA[
                    
        SELECT
            #{OFFCS_SGNNG_NO} AS OFFCS_SGNNG_NO     /* 직인서명번호 */
            ,NVL(MAX(MNG_SN),0)+1 AS MNG_SN          /* 관리일련번호 */
        FROM SAA230     /* 직인서명상세 */
        
        WHERE 1=1
            AND OFFCS_SGNNG_NO = #{OFFCS_SGNNG_NO}
            
                    ]]>
				</when>
				<otherwise>
                    <![CDATA[
                    
        SELECT
            NVL(MAX(OFFCS_SGNNG_NO),0)+1 AS OFFCS_SGNNG_NO  /* 직인서명번호 */
            ,'1' AS MNG_SN                                  /* 관리일련번호 */
        FROM SAA230     /* 직인서명상세 */
        
                    ]]>
				</otherwise>
			</choose>
		</selectKey>
        <![CDATA[
        /* insertOffcsSgnng - Lee Sanghoon */
        
        INSERT INTO SAA230 (        /* 직인서명상세 */
            OFFCS_SGNNG_NO      /* 직인서명번호 */
            ,MNG_SN             /* 관리일려번호 */
            ,OFFCS_SGNNG_SE_CD  /* 직인서명구분코드 */
            ,ATFINO             /* 첨부파일번호 */
            ,ATCMFL_MNG_SN      /* 첨부파일관리일련번호 */
            ,USE_BGNG_DT        /* 사용시작일시 */
            ,USE_YN             /* 사용여부 */
        ) VALUES (
            #{OFFCS_SGNNG_NO}
            ,#{MNG_SN}
            ,#{OFFCS_SGNNG_SE_CD}
            ,#{ATFINO}
            ,#{ATCMFL_MNG_SN}
            ,SYSDATE + 1/24/60/60
            ,#{USE_YN}
        )
        ]]>
	</insert>

	<update id="setOffcsSgnng" parameterType="HashMap">
	<![CDATA[
	/* setOffcsSgnng - Lee SangHoon */
	
	UPDATE SAA230 /* 직인서명상세 */ SET
		USE_END_DT = SYSDATE,
		USE_YN = 'N'
	WHERE OFFCS_SGNNG_NO = #{OFFCS_SGNNG_NO}
	   AND USE_YN = 'Y'
	]]>
	</update>

	<delete id="deleteOffcsSgnng" parameterType="HashMap">
    <![CDATA[
    /* deleteOffcsSgnng - Lee SangHoon */
    
    DELETE FROM SAA230  /* 직인서명상세 */
    WHERE OFFCS_SGNNG_NO = #{OFFCS_SGNNG_NO}
        AND MNG_SN = #{MNG_SN}
    ]]>
	</delete>
	
	<update id="updateOffcsSgnggNoToInst" parameterType="HashMap">
    <![CDATA[
    /* updateOffcsSgnggNoToInst - Lee SangHoon */
    
    UPDATE SAA000 /* 통합기관 */ SET
        OFFCS_SGNNG_NO = #{OFFCS_SGNNG_NO}
    WHERE INST_NO = #{INST_NO}
    ]]>
	</update>
	
	<insert id="insertAprvData" parameterType="HashMap">
	   INSERT INTO SAA010 (
	       INST_NO
	       , APLY_DT
	       , OFFCS_SGNNG_NO
	       , ATFINO
	       , APRV_STTS_SE_CD
	   ) VALUES (
	       #{INST_NO}
           , SYSDATE
           , #{OFFCS_SGNNG_NO}
           , #{ATFINO}
           , '1'
	   )
	</insert>
</mapper>