<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.sysmgmt.userauth.mapper.RsfrInstAprvMapper">

    <!-- 자원제공주체기관승인 목록 -->
    <select id="selectRsfrInstAprvList" parameterType="HashMap" resultType="HashMap">
        /* isry.itgcms.sysmgmt.userauth.mapper.RsfrInstMngMapper.selectRsfrInstAprvList(순수자원제공주체기관승인 목록)*/
        WITH V_SDA600_LIST AS (
            SELECT  T2.INST_NO                           AS  INST_NO                     /* 기관번호*/
                , T2.UNT_TASKWK_SE_CD                  AS  UNT_TASKWK_SE_CD            /* 단위업무구분코드*/
                ,(SELECT X.CMMNS_CD_VALUE_NM FROM SAC100 X WHERE X.CMMNS_CD_ID = 'UNT_TASKWK_SE_CD' AND X.CMMNS_CD_VALUE = T2.UNT_TASKWK_SE_CD) AS UNT_TASKWK_NM
                , T2.INST_NM                           AS  INST_NM                     /* 기관명*/
                , NVL(C.UP_APRV_INST_NO, C.UP_INST_NO) AS  UP_INST_NO                  /* 상위기관번호(기관SAA000)*/
                , T2.INST_TYPE_SE_CD                   AS  INST_TYPE_SE_CD             /* 기관유형구분코드*/
                ,(SELECT X.CMMNS_CD_VALUE_NM FROM SAC100 X WHERE X.CMMNS_CD_ID = 'INST_TYPE_SE_CD' AND X.CMMNS_CD_VALUE = T2.INST_TYPE_SE_CD) AS INST_TYPE_NM
                , T2.RGN_CD                            AS  RGN_CD                      /* 지역코드*/
                , ''                                   AS  HPGE_URL_ADDR               /* 홈페이지주소(기관SAA000)*/
                , ''                                   AS  MAIN_ENFC_INST_SE_CD        /* 주요시행기관구분코드 (기관SAA000)*/
                , ''                                   AS  CTPV_CD                     /* 시도코드(기관SAA000)*/
                , ''                                   AS  SGG_CD                      /* 시군구코드(기관SAA000)*/
                , T2.BPLC_ZIP                          AS  BPLC_ZIP                    /* 사업장우편번호*/
                , T2.BPLC_PST_ADDR                     AS  BPLC_PST_ADDR               /* 사업장우편주소*/
                , T2.BPLC_DADDR                        AS  BPLC_DADDR                  /* 사업장상세주소*/
                , C##RG.DEC_B64(T2.RPRSV_NM_ENCPT)  AS  RPRSV_NM              /* 대표자명암호화*/
                , T2.RPRS_TELNO                        AS  RPRS_TELNO                  /* 대표전화번호*/
                , ''                                   AS  RPRS_FXNO                   /* 대표팩스번호(기관SAA000)*/
                , T2.APLCN_BGNG_YMD                    AS  APLCN_BGNG_YMD              /* 적용시작일자*/
                , T2.APLCN_END_YMD                     AS  APLCN_END_YMD               /* 적용종료일자*/
                , T2.PIC_ENFSN_NO                      AS  PIC_ENFSN_NO                /* 담당자종사자번호*/
                , C##RG.DEC_B64(T2.PIC_NM_ENCPT)    AS  PIC_NM                /* 담당자명암호화*/
                , T2.PIC_TELNO                         AS  PIC_TELNO                   /* 담당자전화번호*/
                , C##RG.DEC_B64(T2.PIC_MBL_TELNO_ENCPT)               AS  PIC_MBL_TELNO         /* 담당자휴대전화번호암호화*/
                , C##RG.DEC_B64(T2.PIC_EML_ADDR_ENCPT)                AS  PIC_EML_ADDR          /* 담당자이메일주소암호화*/
                , ''                                   AS  CNSGN_YMD                   /* 위탁일자(기관SAA000)*/
                , T2.APLY_YMD                          AS  APLY_YMD                    /* 신청일자*/
                , T2.APLCNT_ID                         AS  APLCNT_ID                   /* 신청자아이디*/
                , T2.APRV_YN                           AS  APRV_YN                     /* 승인여부*/
                , T2.APRV_STTS_SE_CD                   AS APRV_STTS_SE_CD         /*승인구분코드*/
                , T2.RJCT_CS_CN                        AS  RJCT_CS_CN                  /* 반려사유내용*/
                , T2.PRCS_YMD                          AS  PRCS_YMD                    /* 처리일자*/
                , T2.AUTZR_ID                          AS  AUTZR_ID                    /* 승인자아이디*/
                , ''                                   AS  CTPV_LINK_PBADMS_RGN_CD     /* 시도연계행정지역코드(기관SAA000)*/
                , T2.SGG_LINK_PBADMS_RGN_CD            AS  SGG_LINK_PBADMS_RGN_CD      /* 시군구연계행정지역코드*/
                , T2.EMD_LINK_PBADMS_RGN_CD            AS  EMD_LINK_PBADMS_RGN_CD      /* 읍면동연계행정지역코드*/
                , ''                                   AS  ORGNL_INST_NO               /* 원본기관번호(기관SAA000)*/
                , ''                                   AS  OFFCS_SGNNG_NO              /* 직인서명번호(기관SAA000)*/
                , T2.ATFINO                            AS  ATFINO                      /* 첨부파일번호*/
                , ''                                   AS  CNTER_PRECON_WRT_YN         /* 센터현황작성여부(기관SAA000)*/
                , ''                                   AS  RSFR_INST_YN                /* 자원제공기관여부(기관SAA000)*/
                , T2.DEL_YN                            AS  DEL_YN                      /* 삭제여부*/
                , T2.BRNO                              AS  BRNO                        /* 사업자등록번호*/
                , T2.RSFR_MBY_SE_CD                    AS  RSFR_MBY_SE_CD              /* 자원제공주체구분코드*/
                , T2.BZMN_SE_CD                        AS  BZMN_SE_CD                  /* 사업자구분코드*/
                , T2.FCLTY_INST_SE_CD                  AS  FCLTY_INST_SE_CD            /* 시설기관구분코드*/
                , T2.PVSN_MBY_DSCRP_CN                 AS  PVSN_MBY_DSCRP_CN           /* 제공주체설명내용*/
                , T2.FRST_RGTR_ID                      AS  FRST_RGTR_ID                /* 최초등록자아이디*/
                , C##RG.DEC_B64( C##RG.SA_FN_GET_NAME(T2.FRST_RGTR_ID)) AS FRST_RGTR_NM             /* 최초등록자명*/
                , T2.FRST_REG_DT                       AS  FRST_REG_DT                 /* 최초등록일시*/
                , T2.LAST_MDFR_ID                      AS  LAST_MDFR_ID                /* 최종수정자아이디*/
                , T2.LAST_MDFCN_DT                     AS  LAST_MDFCN_DT               /* 최종수정일시*/
                , B.OGDP_INST_NO                          AS OGDP_INST_NO                 /*종사자 기관 정보*/
            FROM SDA600 T2 /*순수자원제공주체*/
                        , SCA100 B /*종사자*/
                        , SAA000 C /*통합기관*/
            WHERE 1 = 1
            AND T2.DEL_YN = 'N'
            AND T2.PIC_ENFSN_NO = B.ENFSN_NO
            AND B.OGDP_INST_NO = C.INST_NO
        )
        <!-- 페이지 인덱서 헤더 -->
        <include refid="ComPagingMapper.pageHeader" />
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
            T11.INST_NO                           AS  INST_NO                     /* 기관번호*/
            , T11.UNT_TASKWK_SE_CD                  AS  UNT_TASKWK_SE_CD            /* 단위업무구분코드*/
            , T11.UNT_TASKWK_NM
            , T11.INST_NM                           AS  INST_NM                     /* 기관명*/
            , T11.UP_INST_NO                                   AS  UP_INST_NO                  /* 상위기관번호(기관SAA000)*/
            , T11.INST_TYPE_SE_CD                   AS  INST_TYPE_SE_CD             /* 기관유형구분코드*/
            , T11.INST_TYPE_NM  AS INST_TYPE_NM
            , T11.RGN_CD                            AS  RGN_CD                      /* 지역코드*/
            , T11.HPGE_URL_ADDR                                AS  HPGE_URL_ADDR               /* 홈페이지주소(기관SAA000)*/
            , T11.MAIN_ENFC_INST_SE_CD                                   AS  MAIN_ENFC_INST_SE_CD        /* 주요시행기관구분코드 (기관SAA000)*/
            , T11.CTPV_CD                                   AS  CTPV_CD                     /* 시도코드(기관SAA000)*/
            , T11.SGG_CD                                   AS  SGG_CD                      /* 시군구코드(기관SAA000)*/
            , T11.BPLC_ZIP                          AS  BPLC_ZIP                    /* 사업장우편번호*/
            , T11.BPLC_PST_ADDR                     AS  BPLC_PST_ADDR               /* 사업장우편주소*/
            , T11.BPLC_DADDR                        AS  BPLC_DADDR                  /* 사업장상세주소*/
            , T11.RPRSV_NM                    		AS  RPRSV_NM              		/* 대표자명암호화*/
            , T11.RPRS_TELNO                        AS  RPRS_TELNO                  /* 대표전화번호*/
            , T11.RPRS_FXNO                         AS  RPRS_FXNO                   /* 대표팩스번호(기관SAA000)*/
            , T11.APLCN_BGNG_YMD                    AS  APLCN_BGNG_YMD              /* 적용시작일자*/
            , T11.APLCN_END_YMD                     AS  APLCN_END_YMD               /* 적용종료일자*/
            , T11.PIC_ENFSN_NO                      AS  PIC_ENFSN_NO                /* 담당자종사자번호*/
            , T11.PIC_NM                      AS  PIC_NM                /* 담당자명암호화*/
            , T11.PIC_TELNO                         AS  PIC_TELNO                   /* 담당자전화번호*/
            , T11.PIC_MBL_TELNO               AS  PIC_MBL_TELNO         /* 담당자휴대전화번호암호화*/
            , T11.PIC_EML_ADDR                AS  PIC_EML_ADDR          /* 담당자이메일주소암호화*/
            , T11.CNSGN_YMD                                   AS  CNSGN_YMD                   /* 위탁일자(기관SAA000)*/
            , T11.APLY_YMD                          AS  APLY_YMD                    /* 신청일자*/
            , T11.APLCNT_ID                         AS  APLCNT_ID                   /* 신청자아이디*/
            , T11.APRV_YN                           AS  APRV_YN                     /* 승인여부*/
            , T11.APRV_STTS_SE_CD                   AS  APRV_STTS_SE_CD              /* 승인여부구분코드*/
            , T11.RJCT_CS_CN                        AS  RJCT_CS_CN                  /* 반려사유내용*/
            , T11.PRCS_YMD                          AS  PRCS_YMD                    /* 처리일자*/
            , T11.AUTZR_ID                          AS  AUTZR_ID                    /* 승인자아이디*/
            , T11.CTPV_LINK_PBADMS_RGN_CD                                   AS  CTPV_LINK_PBADMS_RGN_CD     /* 시도연계행정지역코드(기관SAA000)*/
            , T11.SGG_LINK_PBADMS_RGN_CD            AS  SGG_LINK_PBADMS_RGN_CD      /* 시군구연계행정지역코드*/
            , T11.EMD_LINK_PBADMS_RGN_CD            AS  EMD_LINK_PBADMS_RGN_CD      /* 읍면동연계행정지역코드*/
            , T11.ORGNL_INST_NO                     AS  ORGNL_INST_NO               /* 원본기관번호(기관SAA000)*/
            , T11.OFFCS_SGNNG_NO                    AS  OFFCS_SGNNG_NO              /* 직인서명번호(기관SAA000)*/
            , T11.ATFINO                            AS  ATFINO                      /* 첨부파일번호*/
            , T11.CNTER_PRECON_WRT_YN               AS  CNTER_PRECON_WRT_YN         /* 센터현황작성여부(기관SAA000)*/
            , T11.RSFR_INST_YN                      AS  RSFR_INST_YN                /* 자원제공기관여부(기관SAA000)*/
            , T11.DEL_YN                            AS  DEL_YN                      /* 삭제여부*/
            , T11.BRNO                              AS  BRNO                        /* 사업자등록번호*/
            , T11.RSFR_MBY_SE_CD                    AS  RSFR_MBY_SE_CD              /* 자원제공주체구분코드*/
            , T11.BZMN_SE_CD                        AS  BZMN_SE_CD                  /* 사업자구분코드*/
            , T11.FCLTY_INST_SE_CD                  AS  FCLTY_INST_SE_CD            /* 시설기관구분코드*/
            , T11.PVSN_MBY_DSCRP_CN                 AS  PVSN_MBY_DSCRP_CN           /* 제공주체설명내용*/
            , T11.FRST_RGTR_ID                      AS  FRST_RGTR_ID                /* 최초등록자아이디*/
            , T11.FRST_RGTR_NM AS FRST_RGTR_NM             /* 최초등록자명*/
            , T11.FRST_REG_DT                       AS  FRST_REG_DT                 /* 최초등록일시*/
            , T11.LAST_MDFR_ID                      AS  LAST_MDFR_ID                /* 최종수정자아이디*/
            , T11.LAST_MDFCN_DT                     AS  LAST_MDFCN_DT               /* 최종수정일시*/
            , T11.OGDP_INST_NO                            AS OGDP_INST_NO                 /*종사자 기관 정보*/
        FROM V_SDA600_LIST T11
        WHERE 1 = 1
        AND T11.APRV_STTS_SE_CD = '1' /* 요청만 보기 */
        <if test = "OGDP_UP_INST_NO != null and OGDP_UP_INST_NO != '' ">
          <![CDATA[
          AND T11.UP_INST_NO = #{OGDP_UP_INST_NO}    /* 로그인한 소속기관번호*/
           ]]>
        </if>
        <if test = "OGDP_INST_NO != null and OGDP_INST_NO != '' ">
          <![CDATA[
          AND T11.OGDP_INST_NO = #{OGDP_INST_NO}    /* 로그인한 소속기관번호*/
           ]]>
        </if>
        <if test = "UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != '' ">
          <![CDATA[
          AND T11.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}    /* 단위업무구분코드*/
           ]]>
        </if>
        <if test = "INST_NM != null and INST_NM != '' ">
          <![CDATA[
          AND T11.INST_NM LIKE '%'||#{INST_NM}||'%'         /* 기관명*/
          ]]>
        </if>
        <if test = "RPRSV_NM != null and RPRSV_NM != '' ">
          <![CDATA[
          AND T11.RPRSV_NM = #{RPRSV_NM}         /* 대표자명*/
          ]]>
        </if>
        <if test = "RGN_CD != null and RGN_CD != '' ">
          <![CDATA[
          AND T11.RGN_CD = #{RGN_CD}                        /* 지역코드*/
          ]]>
        </if>
        <if test = "PIC_NM != null and PIC_NM != '' ">
          <![CDATA[
          AND T11.PIC_NM = #{PIC_NM}            /* 담당자명*/
          ]]>
        </if>
        ORDER BY T11.FRST_REG_DT DESC
        <!-- 페이지 인덱서 OFFSET 조건 -->
        <include refid="ComPagingMapper.pageOffset"/>
    </select>

    <update id="updateRsfrInstAprv" parameterType="HashMap">
    <![CDATA[
        UPDATE /* isry.itgcms.sysmgmt.userauth.mapper.RsfrInstMngMapper.updateRsfrInstAprv(순수자원제공주체기관 승인)*/
            SDA600 T2
           SET
               T2.APLY_YMD                   = TO_CHAR(SYSDATE, 'YYYYMMDD')             /* 신청일자*/
             , T2.APRV_YN                    = 'Y'                                      /* 승인여부*/
             , T2.APRV_STTS_SE_CD            = #{APRV_STTS_SE_CD}                       /* 승인여부상태구분 승인*/
             , T2.RJCT_CS_CN                 = ''
             , T2.PRCS_YMD                   = TO_CHAR(SYSDATE, 'YYYYMMDD')             /* 처리일자*/
             , T2.APLCNT_ID                  = #{APLCNT_ID}                             /* 신청자아이디*/
             , T2.AUTZR_ID                   = #{AUTZR_ID}                              /* 승인자아이디*/
             , T2.LAST_MDFR_ID               = #{LAST_MDFR_ID}                          /* 최종수정자아이디*/
             , T2.LAST_MDFCN_DT              = SYSDATE                                  /* 최종수정일시*/
         WHERE T2.INST_NO   =   #{INST_NO}                                              /* 기관번호*/
    ]]>
    </update>

    <update id="updateRsfrInstRjct" parameterType="HashMap">
    <![CDATA[
        UPDATE /* isry.itgcms.sysmgmt.userauth.mapper.RsfrInstMngMapper.updateRsfrInstRjct(순수자원제공주체기관 반려)*/
            SDA600 T2
           SET
               T2.APLY_YMD                   = TO_CHAR(SYSDATE, 'YYYYMMDD')             /* 신청일자*/
             , T2.APRV_YN                    = 'N'                                      /* 승인여부*/
             , T2.APRV_STTS_SE_CD            = #{APRV_STTS_SE_CD}                       /* 승인여부 반려.*/
             , T2.RJCT_CS_CN                 = #{RJCT_CS_CN}                            /* 반려사유내용*/
             , T2.PRCS_YMD                   = TO_CHAR(SYSDATE, 'YYYYMMDD')             /* 처리일자*/
             , T2.APLCNT_ID                  = #{APLCNT_ID}                             /* 신청자아이디*/
             , T2.AUTZR_ID                   = #{AUTZR_ID}                              /* 승인자아이디*/
             , T2.LAST_MDFR_ID               = #{LAST_MDFR_ID}                          /* 최종수정자아이디*/
             , T2.LAST_MDFCN_DT              = SYSDATE                                  /* 최종수정일시*/
         WHERE T2.INST_NO   =   #{INST_NO}                                              /* 기관번호*/
    ]]>
    </update>


</mapper>