<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper">
	
	<select id="selectGriefSltnAlkoolThemaList" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.selectGriefSltnAlkoolThemaList - 개발지원팀 이태호  */
        
        SELECT a.GRIEF_SLTN_ALKIOL_THMA_SN AS GRIEF_SLTN_ALKIOL_THMA_SN
		      ,a.TTL_NM                     AS TTL_NM
		      ,a.SBTLE_NM                   AS SBTLE_NM
		      ,a.ATFINO                     AS ATFINO
		      ,a.FRST_RGTR_ID               AS FRST_RGTR_ID
		      ,TO_CHAR(a.FRST_REG_DT,'YYYY-MM-DD')              AS FRST_REG_DT
		      ,C##RG.DEC_B64(c.FLNM_ENCPT)                 AS FLNM_ENCPT		     
		FROM AYE400 a /* 고민해결백과주제 */
		    ,SAA200 b /* 사용자 */ 
		    ,SCA100 c /* 종사자 */
		WHERE 1=1
		 AND a.FRST_RGTR_ID  = b.USER_ID
		 AND b.ENFSN_NO      = c.ENFSN_NO 
		 AND c.DEL_YN        = 'N'    
          ]]>
          <if test="TTL_NM != null and TTL_NM != ''">
              <![CDATA[
                    AND a.TTL_NM LIKE '%' || #{TTL_NM} || '%'
               ]]> 
          </if>          
          <if test="FLNM_ENCPT != null and FLNM_ENCPT != ''">
              <![CDATA[
                    AND c.FLNM_ENCPT = C##RG.ENC_B64(#{FLNM_ENCPT})  
               ]]> 
          </if>  
    </select>
    
    <insert id="InsertGriefSltnAlkoolThema" parameterType="HashMap">
    
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.InsertGriefSltnAlkoolThema - 개발지원팀 이태호  */        
        INSERT INTO AYE400 /* 고민해결백과주제 */
            (GRIEF_SLTN_ALKIOL_THMA_SN
            , TTL_NM
            , SBTLE_NM
            , ATFINO           
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT
            )
        VALUES
            (AYE400_SQ01.NEXTVAL            
            , #{TTL_NM}
            , #{SBTLE_NM}
            , #{ATFINO}            
            , #{FRST_RGTR_ID}
            , SYSDATE
            , #{LAST_MDFR_ID}
            , SYSDATE 
            )
             
    </insert>
    
    <select id="selectGriefSltnAlkoolThemaUpdate" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.selectGriefSltnAlkoolThemaUpdate - 개발지원팀 이태호  */
        
        SELECT GRIEF_SLTN_ALKIOL_THMA_SN AS GRIEF_SLTN_ALKIOL_THMA_SN
		      ,TTL_NM                    AS TTL_NM
		      ,SBTLE_NM                  AS SBTLE_NM
		      ,ATFINO                    AS ATFINO      
		FROM AYE400 /* 고민해결백과주제 */
		WHERE 1=1
		  AND GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}
    ]]>          
    </select>
    
    <update id="DeleteGriefSltnAlkoolThema" parameterType="HashMap">
        
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.DeleteGriefSltnAlkoolThema - 개발지원팀 이태호  */
        DELETE AYE400 /* 고민해결백과주제 */            
        WHERE GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}
    </update>
    
    <update id="DeleteGriefSltnAlkool" parameterType="HashMap">
        
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.DeleteGriefSltnAlkool - 개발지원팀 이태호  */
        DELETE AYE410 /* 고민해결백과 */            
        WHERE GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}
          AND GRIEF_SLTN_ALKIOL_SN      = #{GRIEF_SLTN_ALKIOL_SN}
    </update>
    
    <update id="UpdateGriefSltnAlkoolThema" parameterType="HashMap">
        
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.UpdateGriefSltnAlkoolThema - 개발지원팀 이태호  */
        UPDATE AYE400 /* 고민해결백과주제 */
		SET TTL_NM          = #{TTL_NM}
		  , SBTLE_NM        = #{SBTLE_NM}
		  , ATFINO          = #{ATFINO}
		  , LAST_MDFR_ID    = #{LAST_MDFR_ID}
		  , LAST_MDFCN_DT   = SYSDATE
		WHERE GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}
    </update>
    
    <update id="UpdateGriefSltnAlkool" parameterType="HashMap">
        
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.UpdateGriefSltnAlkool - 개발지원팀 이태호  */
        UPDATE AYE410 /* 고민해결백과 */
        SET GRIEF_SLTN_ALKIOL_THMA_SN   = #{GRIEF_SLTN_ALKIOL_THMA_SN}
          , TTL_NM                      = #{TTL_NM}
          , SUPRV_NM                    = #{SUPRV_NM}
          , SQNCE_NO                    = #{SQNCE_NO}
          , OPEN_RSVT_DT                = TO_DATE(#{OPEN_RSVT_DT},'YYYY-MM-DD:HH24:MI')          
          , ATFINO                      = #{ATFINO}
          , LAST_MDFR_ID                = #{LAST_MDFR_ID}
          , LAST_MDFCN_DT               = SYSDATE
        WHERE GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}
          AND GRIEF_SLTN_ALKIOL_SN      = #{GRIEF_SLTN_ALKIOL_SN}
    </update>
    
    <select id="selectGriefSltnAlkool" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.selectGriefSltnAlkool - 개발지원팀 이태호  */
        
        SELECT TTL_NM                       AS TTL_NM
		      ,GRIEF_SLTN_ALKIOL_THMA_SN    AS GRIEF_SLTN_ALKIOL_THMA_SN
		FROM AYE400
		ORDER BY GRIEF_SLTN_ALKIOL_THMA_SN 
	]]>	
    </select>
    
    <select id="selectGriefSltnAlkoolList" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
    
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.selectGriefSltnAlkoolList - 개발지원팀 이태호  */        
        SELECT a.GRIEF_SLTN_ALKIOL_THMA_SN          AS GRIEF_SLTN_ALKIOL_THMA_SN
		      ,a.GRIEF_SLTN_ALKIOL_SN               AS GRIEF_SLTN_ALKIOL_SN
		      ,a.SQNCE_NO                           AS SQNCE_NO
		      ,a.TTL_NM                             AS TTL_NM
		      ,a.SUPRV_NM                           AS SUPRV_NM
		      ,a.OPEN_RSVT_DT                       AS OPEN_RSVT_DT
		      ,a.ATFINO                             AS ATFINO
		      ,TO_CHAR(a.FRST_REG_DT,'YYYY-MM-DD')  AS FRST_REG_DT
		      ,C##RG.DEC_B64(c.FLNM_ENCPT)       AS FLNM_ENCPT
		      ,a.FRST_RGTR_ID               AS FRST_RGTR_ID
		      ,(SELECT x.TTL_NM
		          FROM AYE400 x
		         WHERE x.GRIEF_SLTN_ALKIOL_THMA_SN = a.GRIEF_SLTN_ALKIOL_THMA_SN  ) AS GRIEF_THMA
		FROM AYE410 a
		    ,SAA200 b /* 사용자 */ 
		    ,SCA100 c /* 종사자 */
		WHERE 1=1
		 AND a.FRST_RGTR_ID  = b.USER_ID
		 AND b.ENFSN_NO      = c.ENFSN_NO    
		 AND c.DEL_YN        = 'N'
          ]]>
          <if test="TTL_NM != null and TTL_NM != ''">
              <![CDATA[
                     AND a.TTL_NM LIKE '%' || #{TTL_NM} || '%' 
              ]]>  
          </if>          
          <if test="FLNM_ENCPT != null and FLNM_ENCPT != ''">
              <![CDATA[
                     AND c.FLNM_ENCPT = C##RG.ENC_B64(#{FLNM_ENCPT})   
              ]]>  
          </if>  
          <if test="GRIEF_SLTN_ALKIOL_THMA_SN != null and GRIEF_SLTN_ALKIOL_THMA_SN != ''">
              <![CDATA[
                     AND a.GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}   
              ]]>  
          </if>  
        ORDER BY a.GRIEF_SLTN_ALKIOL_THMA_SN ASC ,a.SQNCE_NO DESC 
    </select>
    
    <insert id="InsertGriefSltnAlkool" parameterType="HashMap">
    
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.InsertGriefSltnAlkool - 개발지원팀 이태호  */        
        INSERT INTO AYE410 /* 고민해결백과 */
            (GRIEF_SLTN_ALKIOL_SN
			, GRIEF_SLTN_ALKIOL_THMA_SN
			, TTL_NM
			, SUPRV_NM
			, SQNCE_NO
			, OPEN_RSVT_DT
			, ATFINO
			, FRST_RGTR_ID
			, FRST_REG_DT
			, LAST_MDFR_ID
			, LAST_MDFCN_DT
			)
        VALUES
            (AYE410_SQ01.NEXTVAL   
            , #{GRIEF_SLTN_ALKIOL_THMA_SN}
            , #{TTL_NM}
            , #{SUPRV_NM}                    
            , #{SQNCE_NO}    
            , TO_DATE(#{OPEN_RSVT_DT},'YYYY-MM-DD:HH24:MI')    
            , #{ATFINO}                    
            , #{FRST_RGTR_ID}
            , SYSDATE
            , #{LAST_MDFR_ID}
            , SYSDATE 
            )
             
    </insert>
    
    <select id="selectGriefSltnAlkoolUpdate" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* isry.couns.mngr.onlineCnttMng.mapper.GriefSltnAlkoolMapper.selectGriefSltnAlkoolUpdate - 개발지원팀 이태호  */
        
        SELECT a.GRIEF_SLTN_ALKIOL_SN           AS GRIEF_SLTN_ALKIOL_SN
		      ,a.GRIEF_SLTN_ALKIOL_THMA_SN      AS GRIEF_SLTN_ALKIOL_THMA_SN
		      ,C##RG.DEC_B64(c.FLNM_ENCPT)   AS PIC
		      ,a.TTL_NM                         AS TTL_NM
		      ,a.SUPRV_NM                       AS SUPRV_NM
		      ,a.SQNCE_NO                       AS SQNCE_NO
		      ,a.OPEN_RSVT_DT                   AS OPEN_RSVT_DT
		      ,a.ATFINO                         AS ATFINO
		      ,SUBSTR(TO_CHAR(a.OPEN_RSVT_DT,'YYYYMMDDHH24MI'),9,2)   AS HH
              ,SUBSTR(TO_CHAR(a.OPEN_RSVT_DT,'YYYYMMDDHH24MI'),11,2)  AS MM              
		FROM AYE410 a /* 고민해결백과 */
		     , SAA200 b   /* 사용자 */
		     , SCA100 c   /* 종사자 */
		WHERE 1=1
          AND a.GRIEF_SLTN_ALKIOL_THMA_SN = #{GRIEF_SLTN_ALKIOL_THMA_SN}
          AND a.GRIEF_SLTN_ALKIOL_SN      = #{GRIEF_SLTN_ALKIOL_SN}
          AND a.FRST_RGTR_ID              = b.USER_ID
          AND b.ENFSN_NO                  = c.ENFSN_NO
    ]]>          
    </select>
	
	
</mapper>