<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.util.mapper.ArticleCheckMapper">

    <!-- 1뷴 이내 중복 등록 방지 -->
    <select id="checkDuplicateArticleRegist" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        
        SELECT
            COUNT(*) AS CNT
        
        FROM SAB920 C /* 시스템 로그 */
        
        WHERE METHDA_NM = #{METHDA_NM}
        AND DMND_IP_ADDR = #{IP}
        AND FRST_REG_DT >= TO_DATE(#{LIMIT_TIME}, 'YYYY-MM-DD HH24:MI:SS')
        AND FRST_REG_DT <= SYSDATE
        AND FRST_RGTR_ID = #{FRST_RGTR_ID}
        
    ]]>
    </select>

                    
</mapper>
