<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.constt.chttmng.mapper.InqChacttListMapper">
    <resultMap type="HashMap" id="clobMap02">
        <result property="CHTT_DSCSN_CN" column="CHTT_DSCSN_CN" jdbcType="CLOB" javaType="java.lang.String" />
    </resultMap>
    
    <select id="getTotalCount" parameterType="HashMap" resultType="int">
    SELECT  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.getTotalCount : 채팅내역 게시글 수 */
            COUNT(*)
	FROM 
	        AYB200  AA
        ,   (
            SELECT 
                    AVG(BB.RSPNS_CN) AS AVRG_DGSTFN_SCORE
                ,   AA.BBSCTT_ESNTAL_NO
            FROM
                    AYE195  AA
                ,   (
                    SELECT 
                            INDEX_SN
                        ,   TYPE_SE_NM
                        ,   RSPNS_CN
                    FROM 
                            AYE196
                    WHERE   REGEXP_LIKE(RSPNS_CN, '[[:digit:]]+$')
                    )  BB
            WHERE   1=1
                AND BB.INDEX_SN             =       AA.INDEX_SN 
                AND BB.TYPE_SE_NM           =       'chat'          /* 유형구분명 */
            GROUP   BY  AA.BBSCTT_ESNTAL_NO
            )       BB
	WHERE 1=1
        AND (
            AA.DEL_YN                   !=       'Y'
        OR  AA.DEL_YN                   IS NULL
            )
        AND BB.BBSCTT_ESNTAL_NO          (+) =       AA.CHRO_NO
        <if test='CHTT_TYPE_SE_CD != null and CHTT_TYPE_SE_CD != ""'>
        AND AA.CHTT_TYPE_SE_CD      =       #{CHTT_TYPE_SE_CD}              /* 채팅유형 조회 */
        </if>
        <if test='CNTN_IP_ADDR != null and CNTN_IP_ADDR != ""'>
        AND AA.CNTN_IP_ADDR         =       #{CNTN_IP_ADDR}                 /* 아이피 조회 */
        </if>
        <if test='CNSLTNT_NM_ENCPT != null and CNSLTNT_NM_ENCPT != ""'>
        AND C##RG.DEC_B64(AA.CNSLTNT_NM_ENCPT) LIKE '%' || #{CNSLTNT_NM_ENCPT} || '%'
        </if>
        <if test='CLIENA_NM_ENCPT != null and CLIENA_NM_ENCPT != ""'>
        <![CDATA[
        AND (
            AA.CLIENA_ID LIKE '%' || #{CLIENA_NM_ENCPT} || '%'
            
            OR
        
            C##RG.DEC_B64(AA.CLIENA_NM_ENCPT) LIKE '%' || #{CLIENA_NM_ENCPT} || '%'
            )
        ]]>
        </if>
        <if test="START_DATE != null and START_DATE != '' and END_DATE != null and END_DATE != ''">
        <![CDATA[
        AND AA.FRST_REG_DT              >=      TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS')
        AND AA.FRST_REG_DT              <=      TO_DATE(#{END_DATE} || '000000', 'YYYYMMDDHH24MISS')+1
        ]]>
        </if>
        <if test='SUPV_SLCTN_CASE_YN != null and SUPV_SLCTN_CASE_YN != ""'>
        AND AA.SUPV_SLCTN_CASE_YN        =      #{SUPV_SLCTN_CASE_YN}       /* 위기유형구분 조회 */
        </if>   
        <if test='PROBM_STTS_LCLAS_SE_CD != null and PROBM_STTS_LCLAS_SE_CD != ""'>
        AND AA.PROBM_STTS_LCLAS_SE_CD    =      #{PROBM_STTS_LCLAS_SE_CD}   /* 문제상태대분류 조회 */
        </if>  
        <if test='PROBM_STTS_MLSFC_SE_CD != null and PROBM_STTS_MLSFC_SE_CD != ""'>
        AND AA.PROBM_STTS_MLSFC_SE_CD    =      #{PROBM_STTS_MLSFC_SE_CD}   /* 문제상태중분류 조회 */
        </if>  
        <if test='PROBM_STTS_SCLAS_SE_CD != null and PROBM_STTS_SCLAS_SE_CD != ""'>
        AND AA.PROBM_STTS_SCLAS_SE_CD    =      #{PROBM_STTS_SCLAS_SE_CD}   /* 문제상태소분류 조회 */
        </if>  
        <if test='PROBM_CAS_LCLAS_SE_CD != null and PROBM_CAS_LCLAS_SE_CD != ""'>
        AND AA.PROBM_CAS_LCLAS_SE_CD     =      #{PROBM_CAS_LCLAS_SE_CD}    /* 문제원인대분류 조회 */
        </if>  
        <if test='PROBM_CAS_SCLAS_SE_CD != null and PROBM_CAS_SCLAS_SE_CD != ""'>
        AND AA.PROBM_CAS_SCLAS_SE_CD     =      #{PROBM_CAS_SCLAS_SE_CD}    /* 문제원인중분류 조회 */
        </if>  
        <if test='ETC_CN != null and ETC_CN != ""'>
        AND AA.ETC_CN                    LIKE   '%' || #{ETC_CN} || '%'     /* 기타내용 조회 */
        </if>      
        <if test='AVRG_DGSTFN_SCORE_MIN != null and AVRG_DGSTFN_SCORE_MIN != "" and
        AVRG_DGSTFN_SCORE_MAX != null and AVRG_DGSTFN_SCORE_MAX'>
        <![CDATA[
        AND BB.AVRG_DGSTFN_SCORE              >=      #{AVRG_DGSTFN_SCORE_MIN}      /* 상담만족도 최소점수 */
        AND BB.AVRG_DGSTFN_SCORE              <=      #{AVRG_DGSTFN_SCORE_MAX}      /* 상담만족도 최대점수 */
        ]]>
        </if>
    </select>
    
    <select id="selectInqchacttList" parameterType="HashMap" resultType="HashMap">
	SELECT  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.selectInqchacttList : 채팅내역 게시글 목록 */
	        AA.CHRO_NO                                                         AS CHRO_NO                /* 채팅번호 */
	    ,   B1.CMMNS_CD_VALUE_NM                                               AS CHTT_TYPE_SE_CD        /* 채팅유형 */
        ,   AA.CHTT_TYPE_SE_CD                                                 AS CHTT_TYPE_SE_NM        /* 채팅유형 (CODE) */
	    ,   B2.CMMNS_CD_VALUE_NM                                               AS PROBM_STTS_LCLAS_SE_CD /* 문제상태대분류  */
	    ,   TO_CHAR(DD.BRTH_YMD, 'YYYY')                                       AS BRTH_Y                 /* 출생년도 */
	    ,   CC.CRISIS_TYPE_SE_CD                                               AS CRISIS_TYPE_SE_CD      /* 위기유형구분코드*/
 	    ,   B3.CMMNS_CD_VALUE_NM                                               AS CRISIS_TYPE_SE_NM      /* 위기유형구분명 */
	    ,   AA.CNSLTNT_ID                                                      AS CNSLTNT_ID             /* 상담원아이디   */
	    ,   C##RG.DEC_B64(AA.CNSLTNT_NM_ENCPT)                              AS CNSLTNT_NM_ENCPT       /* 상담원명 */
	    ,   C##RG.DEC_B64(AA.CLIENA_NM_ENCPT)                               AS CLIENA_NM_ENCPT        /* 내담자명 */
	    ,   AA.CLIENA_ID                                                       AS CLIENA_ID              /* 내담자아이디   */
	    ,   TO_CHAR(AA.CHTT_BGNG_DT, 'YYYY-MM-DD HH24:MI:SS')                  AS CHTT_BGNG_DT           /* 채팅시작일자   */
	    ,   TO_CHAR(AA.CHTT_END_DT, 'YYYY-MM-DD HH24:MI:SS')                   AS CHTT_END_DT            /* 채팅종료일자   */
	    ,   EE.AVRG_DGSTFN_SCORE                                               AS CNSLTNT_SRVY_WRT_YN    /* 설문결과점수   */	               
        ,   COUNT(*) OVER()                                                    AS TOTAL_COUNT            
        ,   AA.PROBM_CAS_LCLAS_SE_CD                                           AS PROBM_CAS_LCLAS_SE_CD  /* 문제원인대분류  코드 */ 
        ,   B4.CMMNS_CD_VALUE_NM                                               AS PROBM_CAS_LCLAS_SE_NM  /* 문제원인대분류 코드명  */
        ,   DECODE(FF.CLIENA_ID         , NULL , ''  , 'Y')                    AS SPCLA_MNG_TRPR_YN      /* 특별관리대상자 여부 */
        ,   DECODE(AA.SRVC_PVSN_RQST_NO , 'Y'  , 'Y' , '')                     AS SUPV_SLCTN_CASE_YN     /* 슈퍼비전선정사례여부 */
        ,   DECODE(AA.SRVC_PVSN_RQST_NO , NULL , ''  , 'Y')                    AS SRVC_PVSN_RQST_YN      /* 연계의뢰유무 */
        ,   AA.PROBM_STTS_MLSFC_SE_CD                                          AS PROBM_STTS_MLSFC_SE_CD /* 문제원인중분류 코드 */
        ,   B5.CMMNS_CD_VALUE_NM                                               AS PROBM_STTS_MLSFC_SE_NM /* 문제원인중분류 코드명 */
        ,   CASE 
               WHEN AA.CLIENA_DEL_YN     = 'Y' THEN '[내담자삭제]'
               ELSE '' END                  AS CLIENA_DEL_YN      /*내담자 삭제 여부 */             
	FROM    AYB200  AA
	    ,   SAC100  B1
	    ,   SAC100  B2
	    ,   SAC100  B3
	    ,   SAC100  B4
	    ,   SAC100  B5
        ,   AYA110  CC      /* 위기상담게시판 */
	    ,   SCA100  DD      /* 종사자 */
	     /*수정시작*/
	     <![CDATA[
		,   (
		        SELECT  AVG(BB.RSPNS_CN) AS AVRG_DGSTFN_SCORE
		              , NVL(AA.BBSCTT_ESNTAL_NO, 0)   AS BBSCTT_ESNTAL_NO
		              , NVL(AA.BBSCTT_TYPE_SE_CD, '') AS BBSCTT_TYPE_SE_CD
		        FROM AYE195  AA, AYE196 BB
		        WHERE   1=1
		        AND BB.INDEX_SN             =       AA.INDEX_SN
		        AND BB.TYPE_SE_NM           =       'chat'          /* 유형구분명 */
		        AND BB.QESITM_ESNTAL_NO     < 11
		        GROUP   BY  AA.BBSCTT_ESNTAL_NO, AA.BBSCTT_TYPE_SE_CD
		     ) EE      /* 설문점수 평균 */
	     ]]>
		/* 수정끝*/
        ,   ( SELECT DISTINCT A.CLIENA_ID AS  CLIENA_ID  /* 내담자아이디 */
                   --, A.CNSLTNT_ID AS CNSLTNT_ID /* 상담원아이디 */
                FROM AYB110 A /* 특별관리대상자 */
               WHERE (A.DEL_YN != 'Y' OR A.DEL_YN IS NULL)
               GROUP BY A.CLIENA_ID, A.CNSLTNT_ID
            ) FF
	WHERE   1=1
        AND (
            AA.DEL_YN                   !=       'Y'
        OR  AA.DEL_YN                   IS NULL
            )
	    AND B1.CMMNS_CD_VALUE   (+) =       AA.CHTT_TYPE_SE_CD
	    AND B1.CMMNS_CD_ID      (+) =       'CHTT_TYPE_SE_CD'               /* 채팅유형 코드ID */
	    AND B2.CMMNS_CD_VALUE   (+) =       AA.PROBM_STTS_LCLAS_SE_CD
        AND B2.CMMNS_CD_ID      (+) =       'PROBM_STTS_LCLAS_SE_CD'        /* 문제유형대분류 코드ID */
	    AND CC.CHRO_NO          (+) =       AA.CHRO_NO
	    AND B3.CMMNS_CD_VALUE   (+) =       CC.CRISIS_TYPE_SE_CD
        AND B3.CMMNS_CD_ID      (+) =       'CRISIS_TYPE_SE_CD'             /* 위기유형구분 코드ID */
        AND B4.CMMNS_CD_VALUE   (+) =       AA.PROBM_CAS_LCLAS_SE_CD
        AND B4.CMMNS_CD_ID      (+) =       'PROBM_CAS_LCLAS_SE_CD'         /* 문제원인대분류 코드ID*/
        AND B5.CMMNS_CD_VALUE   (+) =       AA.PROBM_STTS_MLSFC_SE_CD
        AND B5.CMMNS_CD_ID      (+) =       'PROBM_STTS_MLSFC_SE_CD'         /* 문제상태중분류 코드ID*/
	    AND DD.INDV_IDNTFC_NO   (+) =       AA.CLIENA_ID
        AND EE.BBSCTT_ESNTAL_NO          (+) =       AA.CHRO_NO             /* 채팅번호 */
        AND FF.CLIENA_ID        (+) =       AA.CLIENA_ID                    /* 내담자아이디 */
        <!-- AND FF.CNSLTNT_ID       (+) =       AA.CNSLTNT_ID                   /* 상담원아이디 */ -->
	    <if test='CHTT_TYPE_SE_CD != null and CHTT_TYPE_SE_CD != ""'>
        AND AA.CHTT_TYPE_SE_CD      =       #{CHTT_TYPE_SE_CD}              /* 채팅유형 조회 */
        </if>
        <if test='CNTN_IP_ADDR != null and CNTN_IP_ADDR != ""'>
        AND AA.CNTN_IP_ADDR         =       #{CNTN_IP_ADDR}                 /* 아이피 조회 */
        </if>
        <if test='CNSLTNT_NM_ENCPT != null and CNSLTNT_NM_ENCPT != ""'>
        AND C##RG.DEC_B64(AA.CNSLTNT_NM_ENCPT) LIKE '%' || #{CNSLTNT_NM_ENCPT} || '%'
        </if>
        <if test='CLIENA_NM_ENCPT != null and CLIENA_NM_ENCPT != ""'>
        <![CDATA[
        AND (
            AA.CLIENA_ID LIKE '%' || #{CLIENA_NM_ENCPT} || '%'
            
            OR
        
            C##RG.DEC_B64(AA.CLIENA_NM_ENCPT) LIKE '%' || #{CLIENA_NM_ENCPT} || '%'
            )
        ]]>
        </if>
        <if test="START_DATE != null and START_DATE != '' and END_DATE != null and END_DATE != ''">
        <![CDATA[
        AND AA.CHTT_BGNG_DT              >=      TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS')
        AND AA.CHTT_BGNG_DT              <       TO_DATE(#{END_DATE} || '000000', 'YYYYMMDDHH24MISS')+1
        ]]>
        </if>
        <if test='SUPV_SLCTN_CASE_YN == "Y"'>
        AND AA.SUPV_SLCTN_CASE_YN        =      #{SUPV_SLCTN_CASE_YN}       /* 슈퍼비전선정사례 조회 */
        </if>   
        <if test='PROBM_STTS_LCLAS_SE_CD != null and PROBM_STTS_LCLAS_SE_CD != ""'>
        AND AA.PROBM_STTS_LCLAS_SE_CD    =      #{PROBM_STTS_LCLAS_SE_CD}   /* 문제상태대분류 조회 */
        </if>  
        <if test='PROBM_STTS_MLSFC_SE_CD != null and PROBM_STTS_MLSFC_SE_CD != ""'>
        AND AA.PROBM_STTS_MLSFC_SE_CD    =      #{PROBM_STTS_MLSFC_SE_CD}   /* 문제상태중분류 조회 */
        </if>  
        <if test='PROBM_STTS_SCLAS_SE_CD != null and PROBM_STTS_SCLAS_SE_CD != ""'>
        AND AA.PROBM_STTS_SCLAS_SE_CD    =      #{PROBM_STTS_SCLAS_SE_CD}   /* 문제상태소분류 조회 */
        </if>  
        <if test='PROBM_CAS_LCLAS_SE_CD != null and PROBM_CAS_LCLAS_SE_CD != ""'>
        AND AA.PROBM_CAS_LCLAS_SE_CD     =      #{PROBM_CAS_LCLAS_SE_CD}    /* 문제원인대분류 조회 */
        </if>  
        <if test='PROBM_CAS_SCLAS_SE_CD != null and PROBM_CAS_SCLAS_SE_CD != ""'>
        AND AA.PROBM_CAS_SCLAS_SE_CD     =      #{PROBM_CAS_SCLAS_SE_CD}    /* 문제원인중분류 조회 */
        </if>  
        <if test='ETC_CN != null and ETC_CN != ""'>
        AND AA.ETC_CN                    =      '%' || #{ETC_CN} || '%'     /* 기타내용 조회 */
        </if>
        <!--   
        <if test='AVRG_DGSTFN_SCORE_MIN != null and AVRG_DGSTFN_SCORE_MIN != "" and
        AVRG_DGSTFN_SCORE_MAX != null and AVRG_DGSTFN_SCORE_MAX'>
        <![CDATA[
        AND EE.AVRG_DGSTFN_SCORE              >=      #{AVRG_DGSTFN_SCORE_MIN}      /* 상담만족도 최소점수 */
        AND EE.AVRG_DGSTFN_SCORE              <=      #{AVRG_DGSTFN_SCORE_MAX}      /* 상담만족도 최대점수 */
        ]]>
        </if>
         -->
        <if test='AVRG_DGSTFN_SCORE_MIN != null and AVRG_DGSTFN_SCORE_MIN != ""'>
        <![CDATA[
        AND EE.AVRG_DGSTFN_SCORE      >=      #{AVRG_DGSTFN_SCORE_MIN}      /* 상담만족도 최소점수 */
        ]]>
        </if> 
        <if test='AVRG_DGSTFN_SCORE_MAX != null and AVRG_DGSTFN_SCORE_MAX != ""'>
        <![CDATA[
        AND EE.AVRG_DGSTFN_SCORE      <=      #{AVRG_DGSTFN_SCORE_MAX}      /* 상담만족도 최대점수 */
        ]]>
        </if>        
        <if test='PROBM_STTS_LCLAS_SE_CD_EMPTY == "Y"'>
        AND AA.PROBM_STTS_LCLAS_SE_CD IS NULL
        </if>
        <if test='CRISIS_TYPE_SE_CD != null and CRISIS_TYPE_SE_CD != ""'>
        AND CC.CRISIS_TYPE_SE_CD      = #{CRISIS_TYPE_SE_CD}  /* 위기유형구분코드 조회 */
        </if>
        <if test='SPCLA_MNG_TRPR_YN == "Y"'>
        AND FF.CLIENA_ID         IS NOT NULL             /* 특별관리대상자 조회 */
        </if>
        <if test='CNSLTNT_ID != null and CNSLTNT_ID != ""'>
        AND AA.CNSLTNT_ID        = #{CNSLTNT_ID}         /* 상담원아이디 조회             */
        </if>                
        <if test='SRVC_PVSN_RQST_YN == "Y"'>
        AND AA.SRVC_PVSN_RQST_NO IS NOT NULL             /* 서비스 제공의뢰번호             */
        </if>                
    ORDER BY 
            AA.CHRO_NO     DESC
    OFFSET #{START_IDX} ROWS FETCH NEXT #{ROW_COUNT} ROWS ONLY
    </select>
	
	<select id="selectInqchacttDetail" parameterType="HashMap" resultType="HashMap" resultMap="clobMap02">
	/* 
	 * isry.couns.constt.chttmng.mapper.inqChacttListMapper.selectInqchacttDetail : 채팅내역 게시판 상세 
	 */
		SELECT 
			   AA.CHRO_NO                                                 AS CHRO_NO                /* 채팅방번호 */
			,  AA.CHTT_TYPE_SE_CD                                         AS CHTT_TYPE_SE_CD        /* 채팅유형구분코드 */
			,  DECODE(AA.CNTN_IP_ADDR, 'systemNull', '', AA.CNTN_IP_ADDR) AS CNTN_IP_ADDR           /* 아이피 */
			,  C##RG.DEC_B64(AA.CLIENA_NM_ENCPT)                       AS CLIENA_NM_ENCPT        /* 내담자명 */
			,  AA.CLIENA_ID                                               AS CLIENA_ID              /* 내담자아이디 */
			,  C##RG.DEC_B64(AA.CNSLTNT_NM_ENCPT)                      AS CNSLTNT_NM_ENCPT       /* 상담원명 */
			,  AA.CNSLTNT_ID                                              AS CNSLTNT_ID             /* 상담원아이디 */
			,  TO_CHAR(AA.CHTT_BGNG_DT, 'YYYY-MM-DD HH24:MI:SS')          AS CHTT_BGNG_DT           /* 내담자 입장시간 */
			,  TO_CHAR(AA.CHTT_END_DT, 'YYYY-MM-DD HH24:MI:SS')           AS CHTT_END_DT            /* 내담자 퇴장시간 */
			,  TO_CHAR(AA.CHTT_DSCSN_BGNG_DT, 'YYYY-MM-DD HH24:MI:SS')    AS CHTT_DSCSN_BGNG_DT     /* 채팅상담시작시간 */
			,  AA.CHTT_DSCSN_CN                                           AS CHTT_DSCSN_CN          /* 채팅내용 */
			,  DECODE(EE.CLIENA_ID, NULL, 'N', 'Y')                       AS SPCLA_MNG_TRPR_YN      /* 특별관리대상자 여부 */
			,  DD.CMMNS_CD_VALUE_NM                                       AS CRISIS_TYPE_SE_NM      /* 위기유형구분명 */
			,  AA.SUPV_SLCTN_CASE_YN                                      AS SUPV_SLCTN_CASE_YN     /* 슈퍼비전선정사례 */
			,  AA.CHTT_MEMO_CN                                            AS CHTT_MEMO_CN           /* 채팅메모 */
			,  AA.SXDC_SE_CD                                              AS SXDC_SE_CD             /* 성별구분코드 */
			,  AA.ACBG_SE_CD                                              AS ACBG_SE_CD             /* 학력구분코드 */
			,  AA.GRADE_SE_CD                                             AS GRADE_SE_CD            /* 학년구분코드 */
			,  AA.GRDTN_STTS_SE_CD                                        AS GRDTN_STTS_SE_CD       /* 졸업상태구분코드 */
			,  AA.REAL_CONSTT_SE_CD                                       AS REAL_CONSTT_SE_CD      /* 실제상담자구분코드 */
			,  AA.REAL_CONSTT_ETC_CN                                      AS REAL_CONSTT_ETC_CN     /* 실제상담자기타내용 */
			,  AA.YNGBGS_SE_NO                                            AS YNGBGS_SE_NO           /* 청소년구분번호 */
			,  AA.PROBM_STTS_LCLAS_SE_CD                                  AS PROBM_STTS_LCLAS_SE_CD /* 문제상태대분류 */
			,  AA.PROBM_STTS_MLSFC_SE_CD                                  AS PROBM_STTS_MLSFC_SE_CD /* 문제상태중분류 */
			,  AA.PROBM_STTS_SCLAS_SE_CD                                  AS PROBM_STTS_SCLAS_SE_CD /* 문제상태소분류 */
			,  AA.PROBM_CAS_LCLAS_SE_CD                                   AS PROBM_CAS_LCLAS_SE_CD  /* 문제원인대분류 */
			,  AA.PROBM_CAS_SCLAS_SE_CD                                   AS PROBM_CAS_SCLAS_SE_CD  /* 문제원인소분류 */ 
			,  AA.ETC_CN                                                  AS ETC_CN                 /* 문제상세 */
			,  AA.LINK_PRCS_SE_CN                                         AS LINK_PRCS_SE_CN        /* 연계처리구분내용 */
			,  AA.RCPT_RQST_COURS_SE_CD                                   AS RCPT_RQST_COURS_SE_CD  /* 접수의뢰경로구분코드 */
			,  (
			    SELECT CMMNS_CD_VALUE_NM 
			    FROM   SAC100 x
			    WHERE  x.CMMNS_CD_ID         =   'RCPT_RQST_COURS_SE_CD'  
			    AND    x.CMMNS_CD_VALUE      =   AA.RCPT_RQST_COURS_SE_CD
			   )                                                          AS RCPT_RQST_COURS_SE_NM  /* 접수의뢰경로구분명 */
			,  AA.LINK_INST_NM                                            AS LINK_INST_NM           /* 연계기관명 */
			,  FF.INST_NM                                                 AS RCPT_INST_NM           /* 연계접수기관명 */
		FROM   AYB200  AA /* 채팅이력 */
		    ,  AYA110  CC /* 위기상담게시판 */
		    ,  SAC100  DD /* 공통코드 값 */
		    ,  (
		        SELECT A.CLIENA_ID  AS  CLIENA_ID  /* 내담자아이디 */
		             , A.CNSLTNT_ID AS  CNSLTNT_ID /* 상담원아이디 */
		        FROM   AYB110 A /* 특별관리대상자 */
		        WHERE  (A.DEL_YN != 'Y' OR A.DEL_YN IS NULL)
		        GROUP BY A.CLIENA_ID, A.CNSLTNT_ID
		       ) EE
		    ,  (
		        SELECT A.SRVC_PVSN_RQST_NO AS SRVC_PVSN_RQST_NO /* 서비스제공의뢰번호 */
		             , B.INST_NM           AS INST_NM           /* 접수기관명 */
		        FROM   SEB400 A
		             , SAA000 B
		        WHERE A.RCPT_INST_NO = B.INST_NO   
		       ) FF    
		WHERE  AA.CHRO_NO           = #{CHRO_NO}
		AND    AA.CHRO_NO           = CC.CHRO_NO(+)
		AND    AA.CLIENA_ID         = EE.CLIENA_ID(+)         /* 내담자아이디 */
		AND    AA.SRVC_PVSN_RQST_NO = FF.SRVC_PVSN_RQST_NO(+) /* 서비스제공의뢰번호 */
		AND    CC.CRISIS_TYPE_SE_CD = DD.CMMNS_CD_VALUE(+)    /* 위기유형구분 코드ID */
		AND    'CRISIS_TYPE_SE_CD'  = DD.CMMNS_CD_ID(+)
	</select>

    <select id="selectSulmun" parameterType="HashMap" resultType="HashMap">
    SELECT  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.selectSulmun : 채팅내역 설문결과 */
	        CC.QESITM_ESNTAL_NO
	    ,   CC.QESITM_CN
	    ,   BB.RSPNS_CN
	FROM 
	        AYE195  AA
	    ,   AYE196  BB
	    ,   AYE197  CC
	WHERE   1=1
	    AND AA.BBSCTT_ESNTAL_NO     =       #{CHRO_NO}
	    AND BB.INDEX_SN             =       AA.INDEX_SN
	    AND BB.TYPE_SE_NM           =       'chat'                  /* 유형구분명 */
	    AND CC.QESITM_ESNTAL_NO     =       BB.QESITM_ESNTAL_NO
	    AND CC.TYPE_SE_NM           =       BB.TYPE_SE_NM
	ORDER BY
	        CC.QESITM_ESNTAL_NO 
    </select>
    
    <select id="selectCrisBrdCnt" parameterType="HashMap" resultType="int">
    SELECT 
            COUNT(CHRO_NO) 
    FROM 
            AYA110
    WHERE   1=1
        AND CHRO_NO        =       #{CHRO_NO}
    </select>
    
    <select id="selectCrisPrsCnt" parameterType="HashMap" resultType="int">
    SELECT 
            COUNT(CHRO_NO) 
    FROM 
            AYA120
    WHERE   1=1
        AND CHRO_NO        =       #{CHRO_NO}
    </select>
    
    <update id="updateChactt" parameterType="HashMap">
    /* 
     * isry.couns.constt.chttmng.mapper.inqChacttListMapper.updateChactt : 채팅내역 게시글수정
     * 2023.04.18 수정 : 불필요한 컬럼 삭제 / 컬럼 추가 - Jeong.Won.Je
     */
	    UPDATE  
	            AYB200 
	    SET
	            CHTT_MEMO_CN                =       #{CHTT_MEMO_CN}                 /* 채팅메모내용 */
	        ,   SXDC_SE_CD                  =       #{SXDC_SE_CD}                   /* 성별구분코드 */
	        ,   ACBG_SE_CD                  =       #{ACBG_SE_CD}                   /* 학력구분코드 */
	        ,   GRADE_SE_CD                 =       #{GRADE_SE_CD}                  /* 학년구분코드 */
	        ,   GRDTN_STTS_SE_CD            =       #{GRDTN_STTS_SE_CD}             /* 졸업상태구분코드 */
	        ,   REAL_CONSTT_SE_CD           =       #{REAL_CONSTT_SE_CD}            /* 실제상담자구분코드 */
	        ,   REAL_CONSTT_ETC_CN          =       #{REAL_CONSTT_ETC_CN}           /* 실제상담자기타내용 */
	        ,   YNGBGS_SE_NO                =       #{YNGBGS_SE_NO}                 /* 청소년구분번호 */
	        ,   PROBM_STTS_LCLAS_SE_CD      =       #{PROBM_STTS_LCLAS_SE_CD}       /* 문제상태대분류 */
	        ,   PROBM_STTS_MLSFC_SE_CD      =       #{PROBM_STTS_MLSFC_SE_CD}       /* 문제상태중분류 */
	        ,   PROBM_STTS_SCLAS_SE_CD      =       #{PROBM_STTS_SCLAS_SE_CD}       /* 문제상태소분류 */
	        ,   PROBM_CAS_LCLAS_SE_CD       =       #{PROBM_CAS_LCLAS_SE_CD}        /* 문제원인대분류 */
	        ,   PROBM_CAS_SCLAS_SE_CD       =       #{PROBM_CAS_SCLAS_SE_CD}        /* 문제원인소분류 */ 
	        ,   ETC_CN                      =       #{ETC_CN}                       /* 문제상세 */
	        ,   LINK_PRCS_SE_CN             =       #{LINK_PRCS_SE_CN}              /* 연계처리구분내용 */
	        ,   RCPT_RQST_COURS_SE_CD       =       #{RCPT_RQST_COURS_SE_CD}        /* 접수의뢰경로구분코드 */
	        ,   LINK_INST_NM                =       #{LINK_INST_NM}                 /* 연계기관명 */
	        ,   LAST_MDFR_ID                =       #{LAST_MDFR_ID}    
	        ,   LAST_MDFCN_DT               =       SYSDATE      
	    WHERE   CHRO_NO                     =       #{CHRO_NO}
    </update>
    
    <update id="deleteChactt" parameterType="HashMap">
    UPDATE  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.deleteChactt : 채팅내역 게시글삭제 */
            AYB200 
    SET
            DEL_YN                  =       'Y'
        ,   LAST_MDFCN_DT           =       SYSDATE      
        ,   LAST_MDFR_ID            =       #{LAST_MDFR_ID}    
    WHERE   CHRO_NO                 =       #{CHRO_NO}
    </update>
    
    <update id="updateChacttMemo" parameterType="HashMap">
    UPDATE  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.updateChacttMemo : 채팅내역 채팅메모저장 */
            AYB200  
    SET   
            CHTT_MEMO_CN            =       #{CHTT_MEMO_CN}
    WHERE   CHRO_NO                 =       #{CHRO_NO}
    </update>
    
    <insert id="insertCrisisBoard" parameterType="HashMap">
    INSERT  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.insertCrisisBoard : 채팅내역 위기유형저장 */
    INTO
            AYA110
    (
	        INDEX_SN            /* 색인일련번호 */
	    ,   CHRO_NO             /* 채팅방번호 */
        ,   BBSCTT_ESNTAL_NO             /* 채팅방번호 */
        ,   CRISIS_TYPE_SE_CD   /* 위기유형구분 */
        ,   FRST_RGTR_ID
        ,   FRST_REG_DT
        ,   LAST_MDFR_ID
        ,   LAST_MDFCN_DT
        ,   BBSCTT_TYPE_SE_CD
    )
    VALUES
    (
	        (
            SELECT 
                NVL(MAX(INDEX_SN),0) +1     
            FROM 
                AYA110
            ) 
        ,   #{CHRO_NO}
        ,   #{CHRO_NO}
        ,   #{CRISIS_TYPE_SE_CD}
        ,   #{FRST_RGTR_ID}
        ,   SYSDATE 
        ,   #{LAST_MDFR_ID}
        ,   SYSDATE
        /*  ,   '24' */
        ,   (
            select
                    CASE    
                            WHEN    ADDTNG_MNG_VALUE5   =   'chat'    THEN    '24'
                            WHEN    ADDTNG_MNG_VALUE5   =   'mobile'  THEN    '91'
                            ELSE    NULL
                    END
            from
                    SAC100
            WHERE   CMMNS_CD_ID     =       'CHTT_TYPE_SE_CD'
                AND CMMNS_CD_VALUE  =       #{CHTT_TYPE_SE_CD}
            )   
    )
    </insert>
    
    <insert id="insertCrisisPerson" parameterType="HashMap">
    INSERT  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.insertCrisisPerson : 채팅내역 위기유형저장 */
    INTO
            AYA120
    (
	        INDEX_SN            /* 색인일련번호 */
	    ,   CHRO_NO             /* 채팅방번호 */
        ,   BBSCTT_ESNTAL_NO
        ,   CRISIS_TYPE_SE_CD   /* 위기유형구분 */
        ,   CLIENA_ID           /* 내담자아이디 */
        ,   FRST_RGTR_ID
        ,   FRST_REG_DT
        ,   LAST_MDFR_ID
        ,   LAST_MDFCN_DT
        ,   BBSCTT_TYPE_SE_CD
        ,   CONSTT_ID
    )
    VALUES
    (
	        (
            SELECT 
                NVL(MAX(INDEX_SN),0) +1     
            FROM 
                AYA120
            ) 
        ,   #{CHRO_NO}
        ,   #{CHRO_NO}
        ,   #{CRISIS_TYPE_SE_CD}
        ,   #{CLIENA_ID}
        ,   #{FRST_RGTR_ID}
        ,   SYSDATE 
        ,   #{LAST_MDFR_ID}
        ,   SYSDATE
        /* ,   '24'  */
        ,   (
            select
                    CASE    
                            WHEN    ADDTNG_MNG_VALUE5   =   'chat'    THEN    '24'
                            WHEN    ADDTNG_MNG_VALUE5   =   'mobile'  THEN    '91'
                            ELSE    NULL
                    END
            from
                    SAC100
            WHERE   CMMNS_CD_ID     =       'CHTT_TYPE_SE_CD'
                AND CMMNS_CD_VALUE  =       #{CHTT_TYPE_SE_CD}
            )   
        ,   #{CNSLTNT_ID}
    )
    </insert>
    
    <update id="updateCrisisBoard" parameterType="HashMap">
    UPDATE  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.updateCrisisBoard : 채팅내역 위기유형등록 */
            AYA110  
    SET
            CRISIS_TYPE_SE_CD       =       #{CRISIS_TYPE_SE_CD} 
        ,   LAST_MDFR_ID            =       #{LAST_MDFR_ID}
        ,   LAST_MDFCN_DT           =       SYSDATE
    WHERE   1=1
        AND CHRO_NO                 =       #{CHRO_NO}
    </update>
    
    <update id="updateCrisisPerson" parameterType="HashMap">
    UPDATE  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.updateCrisisPerson : 채팅내역 위기유형등록 */
            AYA120  
    SET
            CRISIS_TYPE_SE_CD       =       #{CRISIS_TYPE_SE_CD} 
        ,   CLIENA_ID               =       #{CLIENA_ID}
        ,   LAST_MDFR_ID            =       #{LAST_MDFR_ID}
        ,   LAST_MDFCN_DT           =       SYSDATE
        ,   CONSTT_ID               =       #{CNSLTNT_ID}
    WHERE   1=1
        AND CHRO_NO                 =       #{CHRO_NO}
    </update>
    
    <update id="updateCase" parameterType="HashMap">
    UPDATE  /* isry.couns.constt.chttmng.mapper.inqChacttListMapper.updateCase : 채팅내역 슈퍼비전등록 */
            AYB200 
    SET
            SUPV_SLCTN_CASE_YN      =       #{SUPV_SLCTN_CASE_YN}
    WHERE   CHRO_NO                 =       #{CHRO_NO}
    </update>
    
    <insert id="insertSpcla" parameterType="HashMap">
    MERGE /* isry.couns.constt.chttmng.mapper.InqChacttListMapper.insertSpcla : 특별관리대상자 게시글등록 */
     INTO AYB110 AA
    USING (
           SELECT #{CLIENA_ID}       AS CLIENA_ID       /* 내담자아이디 */
                , #{CLIENA_NM_ENCPT} AS CLIENA_NM_ENCPT /* 내담자명      */
                , #{CNSLTNT_ID}      AS CNSLTNT_ID      /* 상담사아이디 */
                , #{FRST_RGTR_ID}    AS FRST_RGTR_ID    /* 최초등록자아이디 */
                , #{LAST_MDFR_ID}    AS LAST_MDFR_ID    /* 최종수정자아이디 */
             FROM DUAL
          ) BB
       ON (
            AA.CLIENA_ID      = BB.CLIENA_ID
            AND AA.CNSLTNT_ID = BB.CNSLTNT_ID
            AND ( AA.DEL_YN != 'Y'
                  OR AA.DEL_YN IS NULL
                )
          )        
     WHEN NOT MATCHED THEN
          INSERT
                 (
                  SPCLA_MNG_TRPR_SN /* 게시글번호    */
                  , CLIENA_ID       /* 내담자아이디 */
                  , CLIENA_NM_ENCPT /* 내담자명      */
                  , CNSLTNT_ID      /* 상담사아이디 */
                  , FRST_RGTR_ID    /* 최초등록자아이디 */
                  , FRST_REG_DT     /* 최초등록일시 */
                  , LAST_MDFR_ID    /* 최종수정자아이디 */
                  , LAST_MDFCN_DT   /* 최종수정일시 */
                 )
          VALUES
                 (
                  AYB110_SQ01.NEXTVAL  /* 게시글번호    */
                  , #{CLIENA_ID}       /* 내담자아이디 */
                  , #{CLIENA_NM_ENCPT} /* 내담자명      */
                  , #{CNSLTNT_ID}      /* 상담사아이디 */
                  , #{FRST_RGTR_ID}    /* 최초등록자아이디 */                              
                  , SYSDATE            /* 최초등록일시 */
                  , #{LAST_MDFR_ID}    /* 최종수정자아이디 */
                  , SYSDATE            /* 최종수정일시 */
                 )    
    </insert>            
</mapper>