<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="isry.subms.preconmng.prtpntexmn.mapper.PrtpntExmnMapper">
	
	<select id="selectExcnBizSemstr" resultType="HashMap">
        /* selectExcnBizSemstr - LeeSangHoon */

        SELECT
            SRVC_EXCN_BIZ_NO
            , SEMSTR_SE_CD
        FROM AFA310 /* 학기관리 */
        WHERE USE_YN = 'Y'
    </select>
    
	<!-- Seoung Jae Lee -->
	<!-- 참여자조사표 목록 조회 -->
	<select id="selectPrtpntExmnList" resultType="HashMap">
	<![CDATA[
	/* selectPrtpntExmnList - 참여자조사표 목록조회 Lee.Seoung.Jae */
	SELECT *
	FROM (
		SELECT 
		    A.SRVC_PVSN_NO                                                                         --서비스제공번호
		    , C.CASE_MNG_NO                                                                        --사례번호
		    , C.CASE_MNG_ODRNO                                                                     --사례관리차수
		    , B.RESRCE_NO                                                                          --자원번호
		    , K.BIZ_YR                                                                             --사업연도
		    , L.INST_NM                                                                            --기관명
		    , J.SRVC_EXCN_BIZ_NM                                                                   --서비스실행사업명
		    , B.PVSN_RESRCE_NM                                                                     --자원명
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
	            WHERE CMMNS_CD_ID = 'OPER_SHAPE_SE_CD'
	            AND B.OPER_SHAPE_SE_CD = CMMNS_CD_VALUE) AS OPER_SHAPE_SE_CD                       --운영형태
		    , TO_CHAR(TO_DATE(H.BGNG_YMD,'YYYYMMDD'),'YYYY-MM-DD') || ' ~ ' ||
		        NVL(TO_CHAR(TO_DATE(H.END_YMD,'YYYYMMDD'),'YYYY-MM-DD'), '') AS CLASS_TERM         --교육기간
		    , DEC_B64(D.TRPR_NM_ENCPT) AS TRPR_NM                                                  --대상자명
		    , D.TRPR_BRTH_YMD                                                                      --대상자 생년월일
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		        WHERE CMMNS_CD_ID = 'SXDC_SE_CD'
		        AND D.SXDC_SE_CD = CMMNS_CD_VALUE) AS SXDC_SE_NM
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		        WHERE CMMNS_CD_ID = 'BRTH_NTN_SE_CD'
		        AND D.BRTH_NTN_SE_CD = CMMNS_CD_VALUE) AS BRTH_NTN_SE_NM                         --출생국
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		        WHERE CMMNS_CD_ID = 'GROWTH_NTN_SE_CD'
		        AND D.GROWTH_NTN_SE_CD = CMMNS_CD_VALUE) AS GROWTH_NTN_SE_NM                     --성장국
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		        WHERE CMMNS_CD_ID = 'NLTY_NTN_SE_CD'
		        AND D.NLTY_NTN_SE_CD = CMMNS_CD_VALUE) AS NLTY_NTN_SE_NM                         --현재 국적
		    , I.ACBG_SE_CD                            AS ACBG_SE_NM                                --학력구분코드
		    , I.GRDTN_STTS_SE_CD                      AS GRDTN_STTS_SE_NM                          --졸업상태구분코드
		    , D.ENTCNY_YMD                                                                        -- 입국일자
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		        WHERE CMMNS_CD_ID = 'VISA_TYPE_SE_CD'
		        AND D.VISA_TYPE_SE_CD = CMMNS_CD_VALUE) AS VISA_TYPE_SE_NM                       --비자유형코드
		    , H.BGNG_YMD                                                                          --제공시작일자
		    , H.END_YMD                                                                           --제공종료일자
		    , J.BFE_FNSH_YR                             AS BFE_FNSH_YR                            --과거수료연도
		    , (SELECT CASE WHEN (
		        SELECT COUNT(*) 
		        FROM AFA700 AA
		        WHERE AA.CASE_MNG_NO = A.CASE_MNG_NO
		            AND AA.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
		            AND AA.RESRCE_NO = B.RESRCE_NO
		            AND AA.SEMSTR_SE_CD = '01'
		            ) >= 1 THEN 'O' ELSE '' END FROM DUAL ) AS FISE_PTCPTN_YN                      -- 1학기 참여여부
		    , (SELECT CASE WHEN (
		        SELECT COUNT(*) 
		        FROM AFA700 AA
		        WHERE  1=1
		            AND AA.CASE_MNG_NO = A.CASE_MNG_NO
		            AND AA.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
		            AND AA.RESRCE_NO = B.RESRCE_NO
		            AND AA.SEMSTR_SE_CD = '02'
		                
                ) >= 1 THEN 'O' ELSE '' END FROM DUAL ) AS SESE_PTCPTN_YN                           -- 2학기 참여여부
		    , E.FNSH_SE_CD                                                                          --수료여부
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		            WHERE CMMNS_CD_ID = 'PRTPNT_LINK_PRECON_SE_CD'
		            AND E.LINK_PRECON_SE_CD = CMMNS_CD_VALUE) AS LINK_PRECON_SE_CD                   --참여자연계현황 구분명
		    , E.LINK_PRECON_ETC_CN                                                                 --참여자연계현황 비고
		    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
		        WHERE CMMNS_CD_ID = 'TRPR_BCRN_TYPE_SE_CD'
		        AND D.TRPR_BCRN_TYPE_SE_CD = CMMNS_CD_VALUE) AS TRPR_BCRN_TYPE_SE_NM             --대상자배경유형구분코드
		    , E.BEFFAT_TRL_INSP_YN                                                                --사전심리검사여부
		    , E.AFTFCT_TRL_INSP_YN                                                                --사후심리검사여부
		    , E.LEVELA_TEST_REDNG_SCORE                                                           --레벨테스트 읽기점수
		    , E.LEVELA_TEST_LSTNA_SCORE                                                           --레벨테스트 듣기점수
		    , E.MIDDLE_EVL_REDNG_SCORE                                                            --중간평가 읽기점수
		    , E.MIDDLE_EVL_WRITN_SCORE                                                            --중간평가 쓰기점수
		    , E.SCCESD_EVL_REDNG_SCORE                                                            --성취도평가 읽기점수
		    , E.SCCESD_EVL_LSTNA_SCORE                                                            --성취도평가 듣기점수
		    , E.SCCESD_EVL_SPKNG_SCORE                                                            --성취도평가 말하기점수
		    , E.SCCESD_EVL_WRITN_SCORE                                                            --성취도평가 쓰기점수
		    , E.MIDDLE_EVFO_KND_SE_CD                                                             --중간평가지 종류 구분 코드
		    , E.SCCESD_EVFO_KND_SE_CD                                                              --성취도평가지 종류 구분 코드
		    , E.QLFC_ACBG_ACQS_PRECON_NM                                                           --자격 및 학력취득현황
		    , E.RM_CN                                                                              --비고
		FROM SEB510 A                                                                             --서비스제공대상자 테이블
		JOIN SDA100 B                                                                       --자원기본 테이블
		    ON A.RESRCE_NO = B.RESRCE_NO                                                          --자원번호
		JOIN SDA420 J
		    ON J.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO
		JOIN SDA400 K
		    ON K.SRVC_BIZ_NO = J.SRVC_BIZ_NO
		JOIN SAA000 L                                                                        --통합기관 테이블
		    ON L.INST_NO = B.RSFR_INST_NO                                                         --기관번호
		JOIN SEB100 C                                                                       --사례기본 테이블
		    ON A.CASE_MNG_NO = C.CASE_MNG_NO                                                      --사례관리번호
		    AND A.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO                                               --사례관리차수
		JOIN SEA200 D                                                                       --대상자정보 테이블
		    ON C.TRPR_INFO_NO = D.TRPR_INFO_NO                                                    --대상자 정보번호
		LEFT JOIN AFA320 E                                                                        --참여자조사표 테이블
		    ON A.SRVC_PVSN_NO = E.SRVC_PVSN_NO                                                    --서비스제공번호
		    AND A.CASE_MNG_NO = E.CASE_MNG_NO                                                     --사례관리번호
		    AND A.CASE_MNG_ODRNO = E.CASE_MNG_ODRNO                                               --사례관리차수
		    AND B.RESRCE_NO = E.RESRCE_NO
		LEFT JOIN AFA330 H                                                                        --교육이수일정내역 테이블
		    ON H.CASE_MNG_NO = A.CASE_MNG_NO
		    AND H.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
		LEFT JOIN (
		    SELECT SCHL_NM, GRDTN_STTS_SE_CD, ACBG_SE_CD, TRPR_INFO_NO FROM (
		        SELECT 
		            ROW_NUMBER() OVER(PARTITION BY A.TRPR_INFO_NO ORDER BY E.SRTNG_SQNCE DESC, D.SRTNG_SQNCE DESC) ROW_NO,
		              B.SCHL_NM AS SCHL_NM
		            , D.CMMNS_CD_VALUE_NM AS GRDTN_STTS_SE_CD
		            , E.CMMNS_CD_VALUE_NM AS ACBG_SE_CD
		            , A.TRPR_INFO_NO
		        FROM SEA200 A
		            JOIN SEA230 B
		                ON A.TRPR_INFO_NO = B.TRPR_INFO_NO
		            LEFT JOIN SAC100 D
		                ON D.CMMNS_CD_ID = 'GRDTN_STTS_SE_CD' AND D.CMMNS_CD_VALUE = B.GRDTN_STTS_SE_CD
		            LEFT JOIN SAC100 E
		                ON E.CMMNS_CD_ID = 'ACBG_SE_CD' AND E.CMMNS_CD_VALUE = B.ACBG_SE_CD
		           WHERE 1=1
		           AND A.DEL_YN = 'N'
		           AND B.DEL_YN = 'N'
		    ) AA
		    WHERE ROW_NO = 1
		) I
		    ON I.TRPR_INFO_NO = D.TRPR_INFO_NO
		LEFT JOIN (
	        SELECT 
	            SRVC_PVSN_NO  
	            , CASE_MNG_NO   
	            , CASE_MNG_ODRNO
	            , RESRCE_NO   
	            , LISTAGG(BFE_FNSH_YR, ',') WITHIN GROUP(ORDER BY BFE_FNSH_YR) AS BFE_FNSH_YR
	        FROM AFA321
	        GROUP BY SRVC_PVSN_NO, CASE_MNG_NO, CASE_MNG_ODRNO, RESRCE_NO
	    ) J
	        ON J.SRVC_PVSN_NO      = E.SRVC_PVSN_NO
	        AND J.CASE_MNG_NO      = E.CASE_MNG_NO
	        AND J.CASE_MNG_ODRNO   = E.CASE_MNG_ODRNO
	        AND J.RESRCE_NO        = E.RESRCE_NO
		WHERE 1=1
		    AND B.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
		    AND B.RSFR_INST_NO LIKE #{INST_NO} || '%'
		    AND B.SRVC_RESRCE_LCLAS_SE_CD != '01'
		    AND B.APRV_STTS_SE_CD = '2'
		    AND B.RESRCE_NO LIKE #{RESRCE_NO} || '%'
		    AND K.BIZ_YR = #{BIZ_YR}
		    AND D.TRPR_NM_ENCPT LIKE ENC_B64(#{TRPR_NM}) || '%'
		    AND B.OPER_SHAPE_SE_CD LIKE #{OPER_SHAPE_SE_CD} || '%'
		    
		    AND D.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
		    AND L.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
		    AND C.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
		    AND A.DEL_YN = 'N'
		    AND B.USE_YN = 'Y'
	)
    ORDER BY INST_NM, SRVC_EXCN_BIZ_NM, PVSN_RESRCE_NM, OPER_SHAPE_SE_CD, TRPR_NM
    ]]>
	</select>
	
	
	<update id="savePrtpntExmn">
    /* savePrtpntExmn - 참여자조사표 등록/수정 Lee.Seoung.Jae */
    MERGE INTO AFA320
    USING DUAL ON
    (
       SRVC_PVSN_NO = #{SRVC_PVSN_NO}
           AND CASE_MNG_NO = #{CASE_MNG_NO}
           AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
           AND RESRCE_NO = #{RESRCE_NO}
    )
    WHEN MATCHED THEN
       UPDATE SET
           BEFFAT_TRL_INSP_YN = #{BEFFAT_TRL_INSP_YN}
           , AFTFCT_TRL_INSP_YN = #{AFTFCT_TRL_INSP_YN}
           , LEVELA_TEST_REDNG_SCORE = #{LEVELA_TEST_REDNG_SCORE} 
           , LEVELA_TEST_LSTNA_SCORE = #{LEVELA_TEST_LSTNA_SCORE} 
           , MIDDLE_EVL_REDNG_SCORE = #{MIDDLE_EVL_REDNG_SCORE} 
           , MIDDLE_EVL_WRITN_SCORE = #{MIDDLE_EVL_WRITN_SCORE} 
           , SCCESD_EVL_REDNG_SCORE = #{SCCESD_EVL_REDNG_SCORE} 
           , SCCESD_EVL_LSTNA_SCORE = #{SCCESD_EVL_LSTNA_SCORE} 
           , SCCESD_EVL_SPKNG_SCORE = #{SCCESD_EVL_SPKNG_SCORE} 
           , SCCESD_EVL_WRITN_SCORE = #{SCCESD_EVL_WRITN_SCORE} 
           , MIDDLE_EVFO_KND_SE_CD = #{MIDDLE_EVFO_KND_SE_CD}
           , SCCESD_EVFO_KND_SE_CD = #{SCCESD_EVFO_KND_SE_CD}
           , RM_CN = #{RM_CN}
           , FNSH_SE_CD = #{FNSH_SE_CD}
           , QLFC_ACBG_ACQS_PRECON_NM = #{QLFC_ACBG_ACQS_PRECON_NM}
           , LAST_MDFR_ID = #{USER_ID}
           , LAST_MDFCN_DT = SYSDATE
    WHEN NOT MATCHED THEN
       INSERT(
           SRVC_PVSN_NO                              /*서비스제공번호*/
           , CASE_MNG_NO                               /*사례관리번호*/
           , CASE_MNG_ODRNO                            /*사례관리차수*/
           , RESRCE_NO                                 /*자원번호*/
           , BEFFAT_TRL_INSP_YN                        /*사전심리검사여부*/
           , AFTFCT_TRL_INSP_YN                        /*사후심리검사여부*/
           , LEVELA_TEST_REDNG_SCORE                   /*레벨테스트읽기점수*/
           , LEVELA_TEST_LSTNA_SCORE                   /*레벨테스트듣기점수*/
           , MIDDLE_EVL_REDNG_SCORE                    /*중간평가읽기점수*/
           , MIDDLE_EVL_WRITN_SCORE                    /*중간평가쓰기점수*/
           , SCCESD_EVL_REDNG_SCORE                    /*성취도평가읽기점수*/
           , SCCESD_EVL_LSTNA_SCORE                    /*성취도평가듣기점수*/
           , SCCESD_EVL_SPKNG_SCORE                    /*성취도평가말하기점수*/
           , SCCESD_EVL_WRITN_SCORE                    /*성취도평가쓰기점수*/
           , MIDDLE_EVFO_KND_SE_CD                     /*중간평가지종류구분코드*/
           , SCCESD_EVFO_KND_SE_CD                     /*성취도평가지종류구분코드*/
           , QLFC_ACBG_ACQS_PRECON_NM                   /*자격 및 학력취득현황*/
           , RM_CN                                      /*비고내용*/
           , FRST_RGTR_ID
           , LAST_MDFR_ID
       )
       VALUES(
           #{SRVC_PVSN_NO}
           , #{CASE_MNG_NO}
           , #{CASE_MNG_ODRNO}
           , #{RESRCE_NO}
           , #{BEFFAT_TRL_INSP_YN}
           , #{AFTFCT_TRL_INSP_YN}
           , #{LEVELA_TEST_REDNG_SCORE}
           , #{LEVELA_TEST_LSTNA_SCORE}
           , #{MIDDLE_EVL_REDNG_SCORE}
           , #{MIDDLE_EVL_WRITN_SCORE}
           , #{SCCESD_EVL_REDNG_SCORE}
           , #{SCCESD_EVL_LSTNA_SCORE}
           , #{SCCESD_EVL_SPKNG_SCORE}
           , #{SCCESD_EVL_WRITN_SCORE}
           , #{MIDDLE_EVFO_KND_SE_CD}
           , #{SCCESD_EVFO_KND_SE_CD}
           , #{QLFC_ACBG_ACQS_PRECON_NM}
           , #{RM_CN}
           , #{USER_ID}
           , #{USER_ID}
       )
    </update>
    
    
    <delete id="deleteBfeFnshYr">
    /* deleteBfeFnshYr - 참여자이전수료연도 삭제 Lee.Seoung.Jae */
    DELETE FROM AFA321
    WHERE SRVC_PVSN_NO = #{SRVC_PVSN_NO}
		AND CASE_MNG_NO    = #{CASE_MNG_NO}
		AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
		AND RESRCE_NO      = #{RESRCE_NO}
    </delete>
    
    <insert id="insertBfeFnshYr">
    /* insertBfeFnshYr - 참여자이전수료연도 추가 Lee.Seoung.Jae */
    INSERT INTO AFA321(
        SRVC_PVSN_NO
		, CASE_MNG_NO
		, CASE_MNG_ODRNO
		, RESRCE_NO
		, BFE_FNSH_YR
		, FRST_RGTR_ID
		, LAST_MDFR_ID
    ) VALUES(
        #{SRVC_PVSN_NO}
        , #{CASE_MNG_NO}
        , #{CASE_MNG_ODRNO}
        , #{RESRCE_NO}
        , #{BFE_FNSH_YR}
        , #{USER_ID}
        , #{USER_ID}
    )
    </insert>

</mapper>