<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.extrnltaskwk.extrnlsprtactvt.mapper.ExtrnlSprtActvtMapper">

    <!-- 메뉴 정보 조회 -->
    <select id="selectTaskwkSeCd" parameterType="HashMap" resultType="string">
    <![CDATA[
        /* selectTaskwkSeCd - kim.seong.ok */

        SELECT D.CMMNS_CD_VALUE

			FROM SAB200 C /* 메뉴 */, SAC100 D /* 공통코드 값 */

			WHERE
			    C.MENU_NO = (
			     SELECT E.MENU_NO
			        FROM SAB200 E
			        WHERE E.MENU_LEVELA_NO = 1
			        START WITH E.MENU_NO = #{MENU_NO}
			        CONNECT BY PRIOR E.UP_MENU_NO = E.MENU_NO
			    )

			AND D.CMMNS_CD_ID = 'UNT_TASKWK_SE_CD'
			AND D.CMMNS_CD_VALUE_NM = C.MENU_NM
        ]]>

    </select>


    <!-- 대외지원활동 목록 겟 수 조회 -->
    <select id="getTotalCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* getTotalCount - kim.seong.ok */

        SELECT

		    COUNT(*)

		FROM SBC110
		WHERE DEL_YN = 'N'
        ]]>
        <if test='SEARCH_KEY == "01" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND LINK_SPRT_NM LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SEARCH_KEY == "02" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND LINK_SPRT_INST_NM LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SEARCH_KEY == "03" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND LINK_VLNTR_NM_ENCPT LIKE '%' || ENC_B64(#{SEARCH_DATA}) || '%'
            ]]>
        </if>
        <if test="START_DATE != null and START_DATE != '' and END_DATE != null and END_DATE != ''">
            <![CDATA[
            AND (LINK_SPRT_YMD BETWEEN #{START_DATE} AND #{END_DATE})
            ]]>
        </if>

    </select>

    <!-- 대외지원활동 목록 조회 -->
    <select id="selectExtrnlSprtActvtList" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectExtrnlSprtActvtList - kim.seong.ok */

        SELECT

		    GR_LINK_SPRT_MNG_NO         /* 집단연계지원관리번호       */
		    ,TASKWK_SYS_SE_CD            /* 업무시스템구분코드       */
		    ,LINK_SPRT_NM                /* 연계지원명           */
		    ,LINK_SPRT_YMD               /* 연계지원일자          */
		    ,ACTVT_SE_CD                 /* 활동구분코드          */
		    ,(SELECT D.CMMNS_CD_VALUE_NM FROM SAC100 D /* 공통코드 값 */ WHERE D.CMMNS_CD_ID = 'ACTVT_SE_CD' AND D.CMMNS_CD_VALUE = ACTVT_SE_CD) AS ACTVT_SE_NM
		    ,LINK_VLNTR_ID               /* 연계지원자아이디        */
		    ,LINK_SPRT_INST_SE_CD        /* 연계지원기관구분코드      */
		    ,LINK_SPRT_INST_NM           /* 연계지원기관명         */
		    ,LINK_RESRCE_INST_NO         /* 연계자원기관번호        */
		    ,FAM_TRPR_NO                 /* 가족대상자번호         */
		    ,TRGT_NOPE                   /* 대상인원수           */
		    ,LINK_SPRT_MAIN_CN           /* 연계지원주요내용        */
		    ,DSCSN_RGN_CD                /* 상담지역코드          */
		    ,DSCSN_INST_NO               /* 상담기관번호          */
		    ,USER_ID                     /* 사용자아이디          */
		    ,REG_YMD                     /* 등록일자                */
		    ,LINK_INST_SE_CD             /* 연계기관구분코드        */
		    ,PIC_ID                      /* 담당자아이디          */
		    ,PIC_NM_ENCPT                /* 담당자명암호화         */
		    ,LINK_VLNTR_NM_ENCPT         /* 연계지원자명암호화       */
		    ,LINK_SPRT_INST_CHC_TYPE_CD  /* 연계지원기관선택유형코드    */
		    ,ATFINO                      /* 첨부파일번호          */
		    ,DEL_YN                      /* 삭제여부                */
		    ,FRST_RGTR_ID                /* 최초등록자아이디        */
		    ,FRST_REG_DT                 /* 최초등록일시          */
		    ,LAST_MDFR_ID                /* 최종수정자아이디        */
		    ,LAST_MDFCN_DT               /* 최종수정일시          */

		FROM SBC110
		WHERE DEL_YN = 'N'
        ]]>
        <if test='SEARCH_KEY == "01" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND LINK_SPRT_NM LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SEARCH_KEY == "02" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND LINK_SPRT_INST_NM LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SEARCH_KEY == "03" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND LINK_VLNTR_NM_ENCPT LIKE '%' || ENC_B64(#{SEARCH_DATA}) || '%'
            ]]>
        </if>
        <if test="START_DATE != null and START_DATE != '' and END_DATE != null and END_DATE != ''">
            <![CDATA[
            AND (LINK_SPRT_YMD BETWEEN #{START_DATE} AND #{END_DATE})
            ]]>
        </if>

    </select>



    <!-- 사용자 정보 조회 : 기관번호 추출용 -->
    <select id="selectUserInfo" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectUserInfo - kim.seong.ok */

        SELECT

            *

        FROM
            SAA200 /* 사용자 */

        WHERE
            USER_ID = #{USER_ID}    /* 사용자아이디사용구분코드 사용자접속차단여부 추후 체크 정책 확인필요*/
        ]]>

    </select>


    <!-- 사용자 기관 정보 조회 : 담당자 추출용 -->
    <select id="selectUserInstInfo" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectUserInstInfo - kim.seong.ok */

        SELECT

		    *

		FROM
		    SAA000 /* 통합기관 */

		WHERE DEL_YN = 'N'
		AND INST_NO = #{INST_NO} /* 승인여부 등 추가 조건 체크사항 정책 확인 필요*/
        ]]>

    </select>


    <!-- 사용자가 속한 기관에 모든 종사자 -->
    <select id="selectEnfsnList" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectEnfsnList - kim.seong.ok */

        SELECT

            A.USER_ID
            ,DEC_B64(B.FLNM_ENCPT) AS FLNM_ENCPT

        FROM
            SAA200 A /* 사용자 */
            JOIN SCA100 B ON A.ENFSN_NO = B.ENFSN_NO  /* 종사자 */

        WHERE
            B.OGDP_INST_NO = #{INST_NO}        /* A 사용자아이디사용구분코드 사용자접속차단여부 B 삭제여부 추후 체크 정책 확인필요 */

        ]]>

    </select>


    <!-- 대외지원활동 등록 -->
    <insert id="insertExtrnlSprtActvtDetail" parameterType="HashMap">
    <![CDATA[
        /* insertExtrnlSprtActvtDetail - kim.seong.ok */

        INSERT INTO SBC110
        (
            GR_LINK_SPRT_MNG_NO                /* 집단연계지원관리번호        */
			,TASKWK_SYS_SE_CD                  /* 업무시스템구분코드       */
			,LINK_SPRT_NM                      /* 연계지원명            */
			,LINK_SPRT_YMD                     /* 연계지원일자           */
			,ACTVT_SE_CD                       /* 활동구분코드           */
			,LINK_VLNTR_ID                     /* 연계지원자아이디        */
			,LINK_SPRT_INST_SE_CD              /* 연계지원기관구분코드      */
			,LINK_SPRT_INST_NM                 /* 연계지원기관명         */
			,LINK_RESRCE_INST_NO               /* 연계자원기관번호        */
			,FAM_TRPR_NO                       /* 가족대상자번호         */
			,TRGT_NOPE                         /* 대상인원수            */
			,LINK_SPRT_MAIN_CN                 /* 연계지원주요내용        */
			,DSCSN_RGN_CD                      /* 상담지역코드           */
			,DSCSN_INST_NO                     /* 상담기관번호           */
			,USER_ID                           /* 사용자아이디           */
			,REG_YMD                           /* 등록일자             */
			,LINK_INST_SE_CD                   /* 연계기관구분코드        */
			,PIC_ID                            /* 담당자아이디           */
			,PIC_NM_ENCPT                      /* 담당자명암호화         */
			,LINK_VLNTR_NM_ENCPT               /* 연계지원자명암호화       */
			,LINK_SPRT_INST_CHC_TYPE_CD        /* 연계지원기관선택유형코드  */
			,ATFINO                            /* 첨부파일번호           */
			,DEL_YN                            /* 삭제여부             */
			,FRST_RGTR_ID                      /* 최초등록자아이디        */
			,FRST_REG_DT                       /* 최초등록일시           */
			,LAST_MDFR_ID                      /* 최종수정자아이디        */
			,LAST_MDFCN_DT                     /* 최종수정일시           */
        )
        VALUES
        (

            #{GR_LINK_SPRT_MNG_NO},                                         /* 집단연계지원관리번호       */
			(SELECT
			    D.CMMNS_CD_VALUE

			    FROM SAB200 C /* 메뉴 */, SAC100 D /* 공통코드 값 */

			    WHERE
			        C.MENU_NO = (
			            SELECT E.MENU_NO
			                FROM SAB200 E
			                WHERE E.MENU_LEVELA_NO = 1
			                START WITH E.MENU_NO = #{MENU_NO}
			                CONNECT BY PRIOR E.UP_MENU_NO = E.MENU_NO
			                )
			                AND D.CMMNS_CD_ID = 'UNT_TASKWK_SE_CD'
			                AND D.CMMNS_CD_VALUE_NM = C.MENU_NM),           /* 업무시스템구분코드       */
			#{LINK_SPRT_NM},                                                /* 연계지원명            */
			#{LINK_SPRT_YMD},                                               /* 연계지원일자           */
			#{ACTVT_SE_CD},                                                 /* 활동구분코드           */
			#{LINK_VLNTR_ID},                                               /* 연계지원자아이디        */
			#{LINK_SPRT_INST_SE_CD},                                        /* 연계지원기관구분코드      */
			#{LINK_SPRT_INST_NM},                                           /* 연계지원기관명         */
			#{LINK_RESRCE_INST_NO},                                         /* 연계자원기관번호        */
			#{FAM_TRPR_NO},                                                 /* 가족대상자번호         */
			#{TRGT_NOPE},                                                   /* 대상인원수            */
			#{LINK_SPRT_MAIN_CN},                                           /* 연계지원주요내용        */
			#{DSCSN_RGN_CD},                                                /* 상담지역코드           */
			#{DSCSN_INST_NO},                                               /* 상담기관번호           */
			#{USER_ID},                                                     /* 사용자아이디           */
			#{REG_YMD},                                                     /* 등록일자             */
			#{LINK_INST_SE_CD},                                             /* 연계기관구분코드        */
			#{PIC_ID},                                                      /* 담당자아이디           */
			#{PIC_NM_ENCPT},                                                /* 담당자명암호화         */
			#{LINK_VLNTR_NM_ENCPT},                                         /* 연계지원자명암호화       */
			#{LINK_SPRT_INST_CHC_TYPE_CD},                                  /* 연계지원기관선택유형코드 */
			#{ATFINO},                                                      /* 첨부파일번호           */
			'N',                                                            /* 삭제여부             */
			#{FRST_RGTR_ID},                                                /* 최초등록자아이디        */
			SYSDATE,                                                        /* 최초등록일시           */
			#{LAST_MDFR_ID},                                                /* 최종수정자아이디        */
			SYSDATE                                                         /* 최종수정일시           */
        )

    ]]>
    </insert>



    <!-- 연계자원기관 목록 겟 수 조회 -->
    <select id="getLinkResrceInstChcTotalCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* getLinkResrceInstChcTotalCount - kim.seong.ok */

        SELECT

		    COUNT(*)

		FROM
            SAA000 A    /* 통합기관 */
            JOIN SDA100 B ON A.INST_NO = B.RSFR_INST_NO  /* 자원기본 */

        WHERE
            A.INST_NO = #{INST_NO}        /* 사용여부 승인상태구분코드 제공시작일자 제공종료일자 등 추가 조건 체크사항 정책 확인 필요*/
        AND A.DEL_YN = 'N'
        AND B.USE_YN = 'Y'
        ]]>
        <if test='SEARCH_KEY == "01" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND A.INST_NM LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SEARCH_KEY == "02" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND A.BPLC_PST_ADDR LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SRVC_RESRCE_LCLAS_SE_CD != null and SRVC_RESRCE_LCLAS_SE_CD != ""'>
            <![CDATA[
            AND B.SRVC_RESRCE_LCLAS_SE_CD = #{SRVC_RESRCE_LCLAS_SE_CD}
            ]]>
        </if>

    </select>

    <!-- 연계자원기관 목록 조회 -->
    <select id="selectLinkResrceInstChcList" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectLinkResrceInstChcList - kim.seong.ok */

        SELECT

            A.INST_NO                                   /* 기관번호 */
            ,A.INST_NM                                  /* 기관명 */
            ,A.INST_TYPE_SE_CD                          /* 기관유형구분코드 */
            ,(SELECT D.CMMNS_CD_VALUE_NM FROM SAC100 D /* 공통코드 값 */ WHERE D.CMMNS_CD_ID = 'INST_TYPE_SE_CD' AND D.CMMNS_CD_VALUE = A.INST_TYPE_SE_CD) AS INST_TYPE_SE_NM    /* 기관유형구분명 */
            ,A.RPRS_TELNO                               /* 대표전화번호 */
            ,B.RESRCE_NO                                /* 자원번호 */
            ,B.SRVC_RESRCE_LCLAS_SE_CD                  /* 자원제공서비스대분류구분코드 */
            ,(SELECT D.CMMNS_CD_VALUE_NM FROM SAC100 D /* 공통코드 값 */ WHERE D.CMMNS_CD_ID = 'SRVC_RESRCE_LCLAS_SE_CD' AND D.CMMNS_CD_VALUE = B.SRVC_RESRCE_LCLAS_SE_CD) AS SRVC_RESRCE_LCLAS_SE_NM    /* 자원제공서비스대분류구분명 */

        FROM
            SAA000 A    /* 통합기관 */
            JOIN SDA100 B ON A.INST_NO = B.RSFR_INST_NO  /* 자원기본 */

        WHERE
            A.INST_NO = #{INST_NO}        /* 사용여부 승인상태구분코드 제공시작일자 제공종료일자 등 추가 조건 체크사항 정책 확인 필요*/
        AND A.DEL_YN = 'N'
        AND B.USE_YN = 'Y'
        ]]>
        <if test='SEARCH_KEY == "01" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND A.INST_NM LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SEARCH_KEY == "02" and SEARCH_DATA != null and SEARCH_DATA != ""'>
            <![CDATA[
            AND A.BPLC_PST_ADDR LIKE '%'|| #{SEARCH_DATA} || '%'
            ]]>
        </if>
        <if test='SRVC_RESRCE_LCLAS_SE_CD != "00" and SRVC_RESRCE_LCLAS_SE_CD != ""'>
            <![CDATA[
            AND B.SRVC_RESRCE_LCLAS_SE_CD = #{SRVC_RESRCE_LCLAS_SE_CD}
            ]]>
        </if>

    </select>



    <!-- 대외지원활동 상세 조회 -->
    <select id="selectExtrnlSprtActvtDetail" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectExtrnlSprtActvtDetail - kim.seong.ok */

        SELECT

            GR_LINK_SPRT_MNG_NO         /* 집단연계지원관리번호       */
            ,TASKWK_SYS_SE_CD            /* 업무시스템구분코드       */
            ,LINK_SPRT_NM                /* 연계지원명           */
            ,LINK_SPRT_YMD               /* 연계지원일자          */
            ,ACTVT_SE_CD                 /* 활동구분코드          */
            ,(SELECT D.CMMNS_CD_VALUE_NM FROM SAC100 D /* 공통코드 값 */ WHERE D.CMMNS_CD_ID = 'ACTVT_SE_CD' AND D.CMMNS_CD_VALUE = ACTVT_SE_CD) AS ACTVT_SE_NM
            ,LINK_VLNTR_ID               /* 연계지원자아이디        */
            ,LINK_SPRT_INST_SE_CD        /* 연계지원기관구분코드      */
            ,LINK_SPRT_INST_NM           /* 연계지원기관명         */
            ,LINK_RESRCE_INST_NO         /* 연계자원기관번호        */
            ,FAM_TRPR_NO                 /* 가족대상자번호         */
            ,TRGT_NOPE                   /* 대상인원수           */
            ,LINK_SPRT_MAIN_CN           /* 연계지원주요내용        */
            ,DSCSN_RGN_CD                /* 상담지역코드          */
            ,DSCSN_INST_NO               /* 상담기관번호          */
            ,USER_ID                     /* 사용자아이디          */
            ,REG_YMD                     /* 등록일자                */
            ,LINK_INST_SE_CD             /* 연계기관구분코드        */
            ,PIC_ID                      /* 담당자아이디          */
            ,PIC_NM_ENCPT                /* 담당자명암호화         */
            ,LINK_VLNTR_NM_ENCPT         /* 연계지원자명암호화       */
            ,LINK_SPRT_INST_CHC_TYPE_CD  /* 연계지원기관선택유형코드    */
            ,ATFINO                      /* 첨부파일번호          */
            ,DEL_YN                      /* 삭제여부                */
            ,FRST_RGTR_ID                /* 최초등록자아이디        */
            ,FRST_REG_DT                 /* 최초등록일시          */
            ,LAST_MDFR_ID                /* 최종수정자아이디        */
            ,LAST_MDFCN_DT               /* 최종수정일시          */

        FROM SBC110
        WHERE GR_LINK_SPRT_MNG_NO = #{GR_LINK_SPRT_MNG_NO}
        AND DEL_YN = 'N'

        ]]>

    </select>



    <update id="updateExtrnlSprtActvtDetail" parameterType="HashMap">
        /* updateExtrnlSprtActvtDetail - kim.seong.ok */

        <![CDATA[
        UPDATE SBC110 SET

            GR_LINK_SPRT_MNG_NO               = #{GR_LINK_SPRT_MNG_NO},               /* 집단연계지원관리번호            */
            TASKWK_SYS_SE_CD               = #{TASKWK_SYS_SE_CD},               /* 업무시스템구분코드            */
	        LINK_SPRT_NM               = #{LINK_SPRT_NM},               /* 연계지원명            */
			LINK_SPRT_YMD              = #{LINK_SPRT_YMD},              /* 연계지원일자           */
			ACTVT_SE_CD                = #{ACTVT_SE_CD},                /* 활동구분코드           */
			LINK_VLNTR_ID              = #{LINK_VLNTR_ID},              /* 연계지원자아이디        */
			LINK_SPRT_INST_SE_CD       = #{LINK_SPRT_INST_SE_CD},       /* 연계지원기관구분코드      */
			LINK_SPRT_INST_NM          = #{LINK_SPRT_INST_NM},          /* 연계지원기관명         */
			LINK_RESRCE_INST_NO        = #{LINK_RESRCE_INST_NO},        /* 연계자원기관번호        */
			FAM_TRPR_NO                = #{FAM_TRPR_NO},                /* 가족대상자번호         */
			TRGT_NOPE                  = #{TRGT_NOPE},                  /* 대상인원수            */
			LINK_SPRT_MAIN_CN          = #{LINK_SPRT_MAIN_CN},          /* 연계지원주요내용        */
			DSCSN_RGN_CD               = #{DSCSN_RGN_CD},               /* 상담지역코드           */
			DSCSN_INST_NO              = #{DSCSN_INST_NO},              /* 상담기관번호           */
			USER_ID                    = #{USER_ID},                    /* 사용자아이디           */
			REG_YMD                    = #{REG_YMD},                    /* 등록일자             */
			LINK_INST_SE_CD            = #{LINK_INST_SE_CD},            /* 연계기관구분코드        */
			PIC_ID                     = #{PIC_ID},                     /* 담당자아이디           */
			PIC_NM_ENCPT               = #{PIC_NM_ENCPT},               /* 담당자명암호화         */
			LINK_VLNTR_NM_ENCPT        = #{LINK_VLNTR_NM_ENCPT},        /* 연계지원자명암호화       */
			LINK_SPRT_INST_CHC_TYPE_CD = #{LINK_SPRT_INST_CHC_TYPE_CD}, /* 연계지원기관선택유형코드 */
			ATFINO                     = #{ATFINO},                     /* 첨부파일번호           */
			DEL_YN                     = #{DEL_YN},                     /* 삭제여부             */
			LAST_MDFR_ID               = #{LAST_MDFR_ID},               /* 최종수정자아이디        */
			LAST_MDFCN_DT              = SYSDATE                        /* 최종수정일시           */

        WHERE 1=1
        AND GR_LINK_SPRT_MNG_NO = #{GR_LINK_SPRT_MNG_NO}    /* 로그인 아이디 비교 조건 정책 확인필요 */

        ]]>
    </update>


    <update id="deleteExtrnlSprtActvtDetail" parameterType="HashMap">
        /* deleteExtrnlSprtActvtDetail - kim.seong.ok */

        <![CDATA[
        UPDATE SBC110 SET

        DEL_YN = 'Y'

        WHERE 1=1
        AND GR_LINK_SPRT_MNG_NO = #{GR_LINK_SPRT_MNG_NO}    /* 로그인 아이디 비교 조건 정책 확인필요 */

        ]]>
    </update>




    <!-- 직접입력 기관 겟 수 조회 -->
    <select id="getSearchCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* getSearchCount - kim.seong.ok */

        SELECT

		    COUNT(*)

		FROM
		    SAA000 A /* 통합기관 */
		    JOIN SDA100 B ON A.INST_NO = B.RSFR_INST_NO  /* 자원기본 */

		WHERE
		    A.INST_NM = #{INPUT_INST_NM}   /* 사용여부 승인상태구분코드 제공시작일자 제공종료일자 등 추가 조건 체크사항 정책 확인 필요*/
		AND A.DEL_YN = 'N'
		AND B.USE_YN = 'Y'
        ]]>

    </select>

    <!-- 직접입력 기관 조회 -->
    <select id="selectSearchInstInfo" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectSearchInstInfo - kim.seong.ok */

        SELECT

		    A.INST_NO AS SEARCH_INST_NO                                    /* 기관번호 */
		    ,A.INST_NM AS SEARCH_INST_NM                                  /* 기관명 */

		FROM
		    SAA000 A /* 통합기관 */
		    JOIN SDA100 B ON A.INST_NO = B.RSFR_INST_NO  /* 자원기본 */

		WHERE
		    A.INST_NM = #{INPUT_INST_NM}   /* 사용여부 승인상태구분코드 제공시작일자 제공종료일자 등 추가 조건 체크사항 정책 확인 필요*/
		AND A.DEL_YN = 'N'
		AND B.USE_YN = 'Y'
        ]]>

    </select>


</mapper>