<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.subms.uneart.notregcasedscsn.mapper.NotRegCaseDscsnMapper">

    <!--  -> 긴급대응지원기구 - 공통) -->
    <sql id="cysnsBasicGropuAuthrt">
        AND A.INST_NO IN
        <foreach collection="INST_NOS" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
        <if test=" GROUP_AUTHRT_SE_CD.SUBSTR(1,3) eq '40'.toString() ">
            /*종사자*/
            AND A.PIC_NO = #{ENFSN_NO}
        </if>  
    </sql>


    <select id="selectKeyValue" resultType="String">
    <![CDATA[
        /* selectKeyValue - Lee MS */
        
        SELECT 
            ISRY_APP.SA_FN_GET_RENU_NO('CO', #{USER_ID}, TO_CHAR(SYSDATE, 'YYYYMMDD'))
        FROM DUAL

    ]]>
    </select>

    <select id="selectReqList" resultType="HashMap">
        <![CDATA[
        /* isry.subms.uneart.notregcasedscsn.mapper.NotRegCaseDscsnMapper.selectReqList - Lee Seoung Jae - 비등록사례상담 */
        WITH 
            V_REQ_LIST AS (
            SELECT
                A.DSCSN_YMD AS DSCSN_YMD,               /* 상담일자 */
                A.DSCSN_BGNG_HR AS DSCSN_BGNG_HR,       /* 상담시작일시 */
                A.DSCSN_END_HR AS DSCSN_END_HR,         /* 상담종료일시 */
                C##RG.DEC_B64(B.TRPR_NM_ENCPT) AS TRPR_NM,       /* 대상자명 */ 
                B.TRPR_BRTH_YMD AS TRPR_BRTH_YMD,       /* 생년월일 */
                B.SXDC_SE_CD AS SXDC_SE_CD,             /* 성별 */
                
                C##RG.DEC_B64(B.MBL_TELNO_ENCPT) AS MBL_TELNO,
                B.TRPR_TELNO AS TRPR_TELNO,
                C##RG.DEC_B64(B.EML_ADDR_ENCPT) AS EML_ADDR,
                B.SNS_SE_CD AS SNS_SE_CD
                , (SELECT CMMNS_CD_VALUE_NM
                    FROM SAC100 
                    WHERE CMMNS_CD_ID = 'SRVC_RESRCE_MLSFC_SE_CD'
                        AND CMMNS_CD_VALUE = A.SRVC_RESRCE_MLSFC_SE_CD
                ) AS SRVC_RESRCE_MLSFC_SE_CD                                  /*서비스자원중분류구분코드*/
                , (SELECT CMMNS_CD_VALUE_NM
                    FROM SAC100 
                    WHERE CMMNS_CD_ID = 'SRVC_PVSN_MTHD_SE_CD'
                        AND CMMNS_CD_VALUE = A.SRVC_PVSN_MTHD_SE_CD
                ) AS SRVC_PVSN_MTHD_SE_CD                                     /*서비스제공방식구분코드*/
                , C##RG.DEC_B64(B.MSNGR_ID_ENCPT) AS MSNGR_ID,
                
                A.DSCSN_TTL_NM AS DSCSN_TTL_NM,         /* 상담제목 */
                C##RG.DEC_B64(C.FLNM_ENCPT) AS FLNM_ENCPT,             /* 담당자명 */
                D.INST_NM AS INST_NM,                   /* 기관명 */
                DECODE(A.UNEART_REG_YMD, NULL, '', 'Y') AS UNEART_REGIST_YN, /* 발굴등록여부 */  
                A.CO13_MNG_NO AS CO13_MNG_NO            /*1388상담관리번호 */
            /* 대상자(B), 종사자(C), 통합기관(D) */
            FROM ACA140 A 
            LEFT JOIN SEA200 B ON A.TRPR_INFO_NO = B.TRPR_INFO_NO
            LEFT JOIN SCA100 C ON A.PIC_NO = C.ENFSN_NO
            LEFT JOIN SAA000 D ON A.INST_NO = D.INST_NO 
            WHERE A.DSCSN_YMD >= #{BGNG_YMD}
            AND A.DSCSN_YMD <= #{END_YMD}
        ]]>
            <if test="TRPR_NM != null and TRPR_NM != ''">
            <![CDATA[
                AND B.TRPR_NM_ENCPT = ENC_B64(#{TRPR_NM})
            ]]> 
            </if>
            <if test="FLNM != null and FLNM != ''">
            <![CDATA[
                AND C.FLNM_ENCPT = ENC_B64(#{FLNM})
            ]]> 
            </if>
            <if test="DSCSN_TTL_NM != null and DSCSN_TTL_NM != ''">
            <![CDATA[
                AND A.DSCSN_TTL_NM LIKE '%'||#{DSCSN_TTL_NM}||'%'
            ]]> 
            </if>
            <if test="RCPT_INST_NO != null and RCPT_INST_NO != ''">
            <![CDATA[
                AND C.OGDP_INST_NO = #{RCPT_INST_NO}
            ]]> 
            </if>
            <if test="MBL_TELNO != null and MBL_TELNO != ''">
            <![CDATA[
                AND B.MBL_TELNO_ENCPT = C##RG.ENC_B64(#{MBL_TELNO})
            ]]>
            </if>
            <if test="TRPR_TELNO != null and TRPR_TELNO != ''">
            <![CDATA[
                AND B.TRPR_TELNO = #{TRPR_TELNO}
                ]]>
            </if>
            <if test="EML_ADDR != null and EML_ADDR != ''">
            <![CDATA[
                AND B.EML_ADDR_ENCPT = C##RG.ENC_B64(#{EML_ADDR})
                ]]>
            </if>
            <if test="MSNGR_ID != null and MSNGR_ID != ''">
                <![CDATA[
                AND B.MSNGR_ID_ENCPT = C##RG.ENC_B64(#{MSNGR_ID})
                ]]>
            </if>
            <if test="SRVC_RESRCE_MLSFC_SE_CD != null and SRVC_RESRCE_MLSFC_SE_CD != ''">
                <![CDATA[
                AND A.SRVC_RESRCE_MLSFC_SE_CD = #{SRVC_RESRCE_MLSFC_SE_CD}
                ]]>
            </if>
            <if test="SRVC_PVSN_MTHD_SE_CD != null and SRVC_PVSN_MTHD_SE_CD != ''">
                <![CDATA[
                AND A.SRVC_PVSN_MTHD_SE_CD = #{SRVC_PVSN_MTHD_SE_CD}
                ]]>
            </if>
            <![CDATA[
                AND A.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
            ]]>
            /* 20230410_권한 쿼리_권한쿼리시작*/                               
            <include refid="cysnsBasicGropuAuthrt"/>                                   
            /* 20230410_권한 쿼리_권한쿼리종료*/
            ORDER BY A.DSCSN_YMD DESC, A.DSCSN_BGNG_HR DESC
        ) 
        <!-- 페이지 인덱서 헤더 -->
        <include refid="ComPagingMapper.pageHeader" />           
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
                    T.DSCSN_YMD AS DSCSN_YMD, 
                    TO_CHAR(TO_DATE(T.DSCSN_BGNG_HR, 'HH24MI'), 'HH24:MI') AS DSCSN_BGNG_HR,       /* 상담시작일시 */
                    TO_CHAR(TO_DATE(T.DSCSN_END_HR, 'HH24MI'), 'HH24:MI') AS DSCSN_END_HR,         /* 상담종료일시 */
                    T.TRPR_NM AS TRPR_NM,
                    T.TRPR_BRTH_YMD AS TRPR_BRTH_YMD,       /* 생년월일 */
                    T.SXDC_SE_CD AS SXDC_SE_CD,             /* 성별 */
        
                    T.MBL_TELNO AS MBL_TELNO,
                    T.TRPR_TELNO AS TRPR_TELNO,
                    T.EML_ADDR AS EML_ADDR,
                    T.SNS_SE_CD AS SNS_SE_CD,
                    T.MSNGR_ID AS MSNGR_ID
                    , T.SRVC_RESRCE_MLSFC_SE_CD                                  /*서비스자원중분류구분코드*/
                    , T.SRVC_PVSN_MTHD_SE_CD                                   /*서비스제공방식구분코드*/
        
                    , T.DSCSN_TTL_NM AS DSCSN_TTL_NM,         /* 상담제목 */
                    T.FLNM_ENCPT AS FLNM,             /* 담당자명 */
                    T.INST_NM AS INST_NM,                   /* 기관명 */
                    T.UNEART_REGIST_YN AS UNEART_REGIST_YN, /* 발굴등록여부 */  
                    T.CO13_MNG_NO AS CO13_MNG_NO            /*1388상담관리번호 */
        FROM V_REQ_LIST T
        <include refid="ComPagingMapper.pageOffset"/>
    </select>

    <select id="selectReqById" parameterType="String" resultType="HashMap">
    <![CDATA[
        /* selectReqById - Lee MS */
        
		SELECT
            A.TRPR_INFO_NO AS TRPR_INFO_NO,                     /* 대상자정보번호*/
            
            B.TRPR_NM_ENCPT AS TRPR_NM_ENCPT,                   /* 대상자명 암호화*/ 
            DEC_B64(B.TRPR_NM_ENCPT) AS TRPR_NM,                   /* 대상자명 */ 
            B.SXDC_SE_CD AS SXDC_SE_CD,                         /* 성별 */ 
            B.TRPR_BRTH_YMD AS TRPR_BRTH_YMD,                   /* 생년월일 */ 
            B.TRPR_TELNO AS TRPR_TELNO,                         /* 전화번호 */ 
            B.MBL_TELNO_ENCPT AS MBL_TELNO_ENCPT,               /* 휴대전화 */ 
            DEC_B64(B.MBL_TELNO_ENCPT) AS MBL_TELNO,               /* 휴대전화 암호화*/ 
            B.EML_ADDR_ENCPT AS EML_ADDR_ENCPT,                 /* 이메일주소 */ 
            DEC_B64(B.EML_ADDR_ENCPT) AS EML_ADDR,                 /* 이메일주소 */ 
            B.MSNGR_ID_ENCPT AS MSNGR_ID_ENCPT,                 /* SNS아이디 */ 
            DEC_B64(B.MSNGR_ID_ENCPT) AS MSNGR_ID,                 /* SNS아이디 */ 
            B.PST_ADDR AS PST_ADDR,                             /* 주소 */ 
            B.DADDR AS DADDR,                                   /* 상세주소 */ 
            B.RCPT_RQST_COURS_SE_CD AS RCPT_RQST_COURS_SE_CD,   /* 접수의뢰경로구분코드 */ 

            A.DSCSN_YMD AS DSCSN_YMD,                           /* 상담일자 */
            A.DSCSN_BGNG_HR AS DSCSN_BGNG_HR,                   /* 상담시작시간 */
            A.DSCSN_END_HR AS DSCSN_END_HR,                     /* 상담종료시간 */
            
            A.YNGBGS_SE_NO AS YNGBGS_SE_NO,                     /* 청소년구분번호 */
            A.REAL_CONSTT_SE_CD AS REAL_CONSTT_SE_CD,           /* 실제상담자구분코드 */
            A.REAL_CONSTT_ETC_CN AS REAL_CONSTT_ETC_CN         /* 실제상담자기타내용 */
            
            , A.SRVC_RESRCE_MLSFC_SE_CD                         /*서비스자원중분류구분코드*/
            , A.SRVC_PVSN_MTHD_SE_CD                            /*서비스제공방식구분코드*/

            , A.LINK_PRCS_SE_CN AS LINK_PRCS_SE_CN,             /* 연계처리구분내용 */
            A.LINK_INST_NO AS LINK_INST_NO,                     /* 연계기관번호 */
            A.LINK_INST_NM AS LINK_INST_NM,                     /* 연계기관명 */
            A.RCPT_RQST_COURS_SE_CD AS RCPT_RQST_COURS_SE_CD,   /* 접수의뢰경로구분코드 */
            (SELECT D.CMMNS_CD_VALUE_NM FROM SAC100 D WHERE D.CMMNS_CD_VALUE = A.RCPT_RQST_COURS_SE_CD) AS RCPT_RQST_COURS_SE_NM,       /* 접수의뢰경로구분명 */
            A.DSCSN_TTL_NM AS DSCSN_TTL_NM,                     /* 상담제목 */
            A.DSCSN_CN AS DSCSN_CN,                             /* 상담내용 */
            
            A.PIC_NO AS PIC_NO,                                 /* 담당자번호 */
            C##RG.DEC_B64(C.FLNM_ENCPT) AS PIC_NM,           /* 담당자명 */
            A.INST_NO AS INST_NO,                               /* 기관번호 */
            (SELECT D.INST_NM FROM SAA000 D WHERE D.INST_NO = A.INST_NO) AS INST_NM, /* 기관명 */
            A.UNEART_REG_YMD AS UNEART_REG_YMD,                 /* 발굴등록일자 */
            A.CO13_MNG_NO AS CO13_MNG_NO                        /* 1388상담관리번호 */
            
		/* 대상자(B), 공통코드 값(C) */
		FROM ACA140 A
        LEFT JOIN SEA200 B ON A.TRPR_INFO_NO = B.TRPR_INFO_NO
        LEFT JOIN SCA100 C ON A.PIC_NO = C.ENFSN_NO     
		WHERE A.CO13_MNG_NO = #{CO13_MNG_NO}      

    ]]>
    </select>

    <update id="saveData" parameterType="HashMap">
    <![CDATA[
         /* saveData - Lee  MS */
         
        MERGE INTO ACA140 /* 1388전화상담 */
        USING DUAL
           ON (CO13_MNG_NO = #{CO13_MNG_NO})
         WHEN MATCHED THEN
       UPDATE SET
              TRPR_INFO_NO = #{TRPR_INFO_NO}                       /* 대상자정보번호 */
              , DSCSN_YMD = #{DSCSN_YMD}                             /* 상담일자 */
              , DSCSN_BGNG_HR = #{DSCSN_BGNG_HR}                     /* 상담시작시간 */
              , DSCSN_END_HR = #{DSCSN_END_HR}                       /* 상담종료시간 */
              , YNGBGS_SE_NO = #{YNGBGS_SE_NO}                       /* 청소년구분번호 */
              
              , SRVC_RESRCE_MLSFC_SE_CD = #{SRVC_RESRCE_MLSFC_SE_CD}  /* 자원제공서비스중분류구분코드*/
              , SRVC_PVSN_MTHD_SE_CD = #{SRVC_PVSN_MTHD_SE_CD}      /* 서비스제공방식구분코드*/

              , DSCSN_TTL_NM = #{DSCSN_TTL_NM}                       /* 상담제목 */
              , DSCSN_CN = #{DSCSN_CN}                               /* 상담내용 */
              , PIC_NO = #{PIC_NO}                                   /* 담당자번호 */
              , INST_NO = #{INST_NO}                                 /* 기관번호 */
              , LAST_MDFR_ID = #{USER_ID}                            /* 수정아이디 */
              , LAST_MDFCN_DT = SYSDATE                               /* 수정일시 */
         WHEN NOT MATCHED THEN
        INSERT (
             CO13_MNG_NO              /* 1388상담관리번호 */
             , TRPR_INFO_NO             /* 대상자정보번호 */
             , DSCSN_YMD                /* 상담일자 */
             , DSCSN_BGNG_HR            /* 상담시작시간 */
             , DSCSN_END_HR             /* 상담종료시간 */
             
             , YNGBGS_SE_NO             /* 청소년구분번호 */

             , SRVC_RESRCE_LCLAS_SE_CD    /* 자원제공서비스대분류구분코드*/
             , SRVC_RESRCE_MLSFC_SE_CD  /* 자원제공서비스중분류구분코드*/
             , SRVC_PVSN_MTHD_SE_CD     /* 서비스제공방식구분코드*/
             
             , DSCSN_TTL_NM            /* 상담제목 */
             , DSCSN_CN                 /* 상담내용 */
             , PIC_NO                   /* 담당자번호 */
             , INST_NO                  /* 기관번호 */

             , FRST_RGTR_ID
             , FRST_REG_DT
             , LAST_MDFR_ID
             , LAST_MDFCN_DT
             , UNT_TASKWK_SE_CD        /* 단위업무구분코드*/
        )
        VALUES (
             #{CO13_MNG_NO}
             , #{TRPR_INFO_NO}
             , #{DSCSN_YMD}
             , #{DSCSN_BGNG_HR}
             , #{DSCSN_END_HR}
             
             , #{YNGBGS_SE_NO}

             , #{SRVC_RESRCE_LCLAS_SE_CD}
             , #{SRVC_RESRCE_MLSFC_SE_CD}
             , #{SRVC_PVSN_MTHD_SE_CD}

             , #{DSCSN_TTL_NM}
             , #{DSCSN_CN}
             , #{PIC_NO}
             , #{INST_NO}
             
             , #{USER_ID}
             , SYSDATE
             , #{USER_ID}
             , SYSDATE
             , #{UNT_TASKWK_SE_CD}
        )
        
    ]]>
    </update>

    <delete id="deleteData" parameterType="String">
    <![CDATA[
         /* deleteData - Lee  MS */
    
        DELETE FROM ACA140 /* 1388전화상담 */
        WHERE CO13_MNG_NO = #{CO13_MNG_NO}
    
    ]]>
    </delete>

    <select id="selectCo13DtlById" parameterType="String" resultType="HashMap">
    <![CDATA[
        /* selectCo13DtlById - Lee MS */
        
        SELECT
            A.PROBM_STTS_LCLAS_SE_CD AS PROBM_STTS_LCLAS_SE_CD,     /* 문제상태대분류구분코드 */
            A.PROBM_STTS_MLSFC_SE_CD AS PROBM_STTS_MLSFC_SE_CD,     /* 문제상태중분류구분코드 */
            A.PROBM_STTS_SCLAS_SE_CD AS PROBM_STTS_SCLAS_SE_CD,     /* 문제상태소분류구분코드 */

            A.PROBM_CAS_LCLAS_SE_CD AS PROBM_CAS_LCLAS_SE_CD,       /* 문제원인대분류구분코드 */
            A.PROBM_CAS_SCLAS_SE_CD AS PROBM_CAS_SCLAS_SE_CD,       /* 문제원인소분류구분코드 */
            A.PROBM_CAS_ETC_CN AS PROBM_CAS_ETC_CN,                 /* 문제원인기타내용 */

            A.CO13_MNG_NO AS CO13_MNG_NO,                           /* 1388상담관리번호 */
            A.CO13_SN AS CO13_SN                                    /* 1388상담일련번호 */
            
        FROM ACA141 A                                  
        WHERE A.CO13_MNG_NO = #{CO13_MNG_NO}      

    ]]>
    </select>

    <update id="saveCo13DtlData" parameterType="HashMap">
    <![CDATA[
         /* saveCo13DtlData - Lee  MS */
         
        MERGE INTO ACA141 /* 1388전화상담상세 */
        USING DUAL
           ON (CO13_MNG_NO = #{CO13_MNG_NO}
          AND CO13_SN = #{CO13_SN})
         WHEN MATCHED THEN
       UPDATE SET
              PROBM_STTS_LCLAS_SE_CD = #{PROBM_STTS_LCLAS_SE_CD},   /* 문제상태대분류구분코드 */
              PROBM_STTS_MLSFC_SE_CD = #{PROBM_STTS_MLSFC_SE_CD},   /* 문제상태중분류구분코드 */
              PROBM_STTS_SCLAS_SE_CD = #{PROBM_STTS_SCLAS_SE_CD},   /* 문제상태소분류구분코드 */
              
              PROBM_CAS_LCLAS_SE_CD = #{PROBM_CAS_LCLAS_SE_CD},     /* 문제원인대분류구분코드 */
              PROBM_CAS_SCLAS_SE_CD = #{PROBM_CAS_SCLAS_SE_CD},     /* 문제원인소분류구분코드 */
              PROBM_CAS_ETC_CN = #{PROBM_CAS_ETC_CN},               /* 문제원인기타내용 */

              LAST_MDFR_ID = #{USER_ID},                            /* 수정아이디 */
              LAST_MDFCN_DT = SYSDATE                               /* 수정일시 */
         WHEN NOT MATCHED THEN
        INSERT (
             CO13_MNG_NO,              /* 1388상담관리번호 */
             CO13_SN,                  /* 1388상담일련번호 */
             PROBM_STTS_LCLAS_SE_CD,   /* 문제상태대분류구분코드 */
             PROBM_STTS_MLSFC_SE_CD,   /* 문제상태중분류구분코드 */
             PROBM_STTS_SCLAS_SE_CD,   /* 문제상태소분류구분코드 */
             
             PROBM_CAS_LCLAS_SE_CD,     /* 문제원인대분류구분코드 */
             PROBM_CAS_SCLAS_SE_CD,     /* 문제원인소분류구분코드 */
             PROBM_CAS_ETC_CN,          /* 문제원인기타내용 */

             FRST_RGTR_ID,
             FRST_REG_DT,
             LAST_MDFR_ID,
             LAST_MDFCN_DT
        )
        VALUES (
             #{CO13_MNG_NO},
             (SELECT NVL(MAX(CO13_SN),0)+1 FROM ACA141 WHERE CO13_MNG_NO = #{CO13_MNG_NO}),
             #{PROBM_STTS_LCLAS_SE_CD},
             #{PROBM_STTS_MLSFC_SE_CD},
             #{PROBM_STTS_SCLAS_SE_CD},
             
             #{PROBM_CAS_LCLAS_SE_CD},
             #{PROBM_CAS_SCLAS_SE_CD},
             #{PROBM_CAS_ETC_CN},

             #{USER_ID},
             SYSDATE,
             #{USER_ID},
             SYSDATE
        )
        
    ]]>
    </update>

    <delete id="deleteCo13DtlData" parameterType="HashMap">
    <![CDATA[
         /* deleteData - Lee  MS */
    
        DELETE FROM ACA141 /* 1388전화상담상세 */
        WHERE CO13_MNG_NO = #{CO13_MNG_NO}
        AND CO13_SN = #{CO13_SN}
    
    ]]>
    </delete>

    <delete id="deleteCo13DtlAllData" parameterType="String">
    <![CDATA[
         /* deleteData - Lee  MS */
    
        DELETE FROM ACA141 /* 1388전화상담상세 */
        WHERE CO13_MNG_NO = #{CO13_MNG_NO}
    
    ]]>
    </delete>

    
    <update id="updateUneartData" parameterType="String">
    <![CDATA[
         /* updateData - Lee  MS */
    
        UPDATE ACA140 /* 1388전화상담 */
           SET UNEART_REG_YMD = TO_CHAR(SYSDATE, 'YYYYMMDD')
        WHERE CO13_MNG_NO = #{CO13_MNG_NO}
    
    ]]>
    </update>
    
        <!-- 발굴(초기상담) 상세등록 -->
    <insert id="insertDscsnUneartDetail" parameterType="HashMap">
    <![CDATA[
        INSERT INTO SEA100 ( /* 초기상담 */
             ERYY_DSCSN_NO,                 -- 초기상담번호(ER)
             UNT_TASKWK_SE_CD,              -- 단위업무구분코드
             CONSTT_NO,                     -- 상담자번호
             DSCSN_YMD,                     -- 상담일자
             DSCSN_BGNG_HR,                 -- 상담시작시간
             DSCSN_END_HR,                  -- 상담종료시간
             DSCSN_COURS_SE_CD,             -- 상담경로구분코드
             UNEART_MKCTT_MTHD_SE_CD,       -- 발굴접촉방법구분코드
             ACTVT_TRGT_RGN_SGG_CD,         -- 활동대상지역시군구코드
             ACTVT_TRGT_RGN_DTL_PLACE_NM,   -- 활동대상지역상세장소명
             DSCSN_PRCS_HISTB_SE_CD,        -- 상담처리내역구분코드
             PETBC_SE_CD,                   -- 피상담자구분코드
             DSCSN_TTL_NM,                  -- 상담제목명
             DSCSN_CN,                      -- 상담내용
             CONSTT_INST_NO,                -- 상담자기관번호
             RQST_TRGT_INST_NO,             -- 의뢰대상기관번호
             RCPT_RQST_COURS_SE_CD,         -- 접수의뢰경로구분코드
             PROBM_STTS_CAS_NO,             -- 문제상태원인번호
             ATFINO,                        -- 첨부파일번호
             FRST_RGTR_ID,                  -- 최초등록자아이디
             FRST_REG_DT,                   -- 최초등록일시
             LAST_MDFR_ID,                  -- 최종수정자아이디
             LAST_MDFCN_DT                  -- 최종수정일시
        )
        VALUES (
             #{ERYY_DSCSN_NO},                 -- 초기상담번호(ER)
             #{UNT_TASKWK_SE_CD},              -- 단위업무구분코드
             #{CONSTT_NO},                     -- 상담자번호
             #{DSCSN_YMD},                     -- 상담일자
             #{DSCSN_BGNG_HR},                 -- 상담시작시간
             #{DSCSN_END_HR},                  -- 상담종료시간
             #{DSCSN_COURS_SE_CD},             -- 상담경로구분코드
             #{UNEART_MKCTT_MTHD_SE_CD},       -- 발굴접촉방법구분코드
             #{ACTVT_TRGT_RGN_SGG_CD},         -- 활동대상지역시군구코드
             #{ACTVT_TRGT_RGN_DTL_PLACE_NM},   -- 활동대상지역상세장소명
             #{DSCSN_PRCS_HISTB_SE_CD},        -- 상담처리내역구분코드
             #{PETBC_SE_CD},                   -- 피상담자구분코드
             #{DSCSN_TTL_NM},                  -- 상담제목명
             #{DSCSN_CN},                      -- 상담내용
             #{CONSTT_INST_NO},                -- 상담자기관번호
             #{RQST_TRGT_INST_NO},             -- 의뢰대상기관번호
             #{RCPT_RQST_COURS_SE_CD},         -- 접수의뢰경로구분코드
             #{PROBM_STTS_CAS_NO},             -- 문제상태원인번호
             #{ATFINO},                        -- 첨부파일번호
             #{USER_ID},                       -- 최초등록자아이디
             SYSDATE,                          -- 최초등록일시
             #{USER_ID},                       -- 최종수정자아이디
             SYSDATE                           -- 최종수정일시
       )
    ]]>
    </insert>

    <!-- 발굴(초기상담) 조치일련번호 발번 -->
    <select id="selectDscsnUneartActnSn" parameterType="String" resultType="Integer">
    <![CDATA[
        SELECT NVL(MAX(ACTN_SN) + 1, 1) AS ACTN_SN
          FROM SEA110 T /* 상담후조치 */
         WHERE T.ERYY_DSCSN_NO = #{ERYY_DSCSN_NO}   -- 초기상담번호(ER)
    ]]>
    </select>
    
        <!-- 발굴(초기상담) 조치등록 -->
    <insert id="insertDscsnUneartActn" parameterType="HashMap">
    <![CDATA[
        INSERT INTO SEA110 (    /* 상담후조치 */
             ERYY_DSCSN_NO,                 -- 초기상담번호(ER)
             ACTN_SN,                       -- 조치일련번호
             ACTN_TYPE_SE_CD,               -- 조치유형구분코드
             ACTN_TYPE_DTL_SE_CD,           -- 조치유형상세구분코드
             ACTN_ETC_CN,                   -- 조치기타내용
             SPRT_SRVC_SE_CD,               -- 지원서비스구분코드
             SPRT_SRVC_DTL_CN,              -- 지원서비스상세내용
             RUAW_LVING_PLACE_SE_CD,        -- 가출중생활장소구분코드
             RUAW_LVING_PLACE_ETC_CN,       -- 가출중생활장소기타내용
             RUNAWS_SE_CD,                  -- 가출팸구분코드
             AVRG_LVM_CONT,                 -- 평균가출횟수
             TRPR_INFO_NO,                  -- 대상자정보번호
             RCPT_APLY_YN,                  -- 접수신청여부
             DEL_YN,                        -- 삭제여부
             FRST_RGTR_ID,                  -- 최초등록자아이디
             FRST_REG_DT,                   -- 최초등록일시
             LAST_MDFR_ID,                  -- 최종수정자아이디
             LAST_MDFCN_DT                  -- 최종수정일시
        )
        VALUES (
             #{ERYY_DSCSN_NO},                 -- 초기상담번호(ER)
             #{ACTN_SN},                       -- 조치일련번호
             NVL(#{ACTN_TYPE_SE_CD},'99'),     -- 조치유형구분코드
             #{ACTN_TYPE_DTL_SE_CD},           -- 조치유형상세구분코드
             #{ACTN_ETC_CN},                   -- 조치기타내용
             #{SPRT_SRVC_SE_CD},               -- 지원서비스구분코드
             #{SPRT_SRVC_DTL_CN},              -- 지원서비스상세내용
             #{RUAW_LVING_PLACE_SE_CD},        -- 가출중생활장소구분코드
             #{RUAW_LVING_PLACE_ETC_CN},       -- 가출중생활장소기타내용
             NVL(#{RUNAWS_SE_CD},'1'),         -- 가출팸구분코드
             #{AVRG_LVM_CONT},                 -- 평균가출횟수
             #{TRPR_INFO_NO},                  -- 대상자정보번호
             'N',                              -- 접수신청여부
             'N',                              -- 삭제여부
             #{USER_ID},                       -- 최초등록자아이디
             SYSDATE,                          -- 최초등록일시
             #{USER_ID},                       -- 최종수정자아이디
             SYSDATE                           -- 최종수정일시
             )
    ]]>
    </insert>
    

</mapper>