<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.subms.cmmn.mapper.SubmsMapper">

	<!-- 사업연도 콤보데이터 -->
	<select id="selectBizYrCombo" parameterType="HashMap"
		resultType="HashMap">
    <![CDATA[
        /* selectBizYrCombo1 - Lee SangHoon */
        
        SELECT DISTINCT
        
            BIZ_YR  /* 사업연도 */
            
        FROM SDA400 A       /* 서비스사업 */
        
        WHERE 1=1
        AND A.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        
        ORDER BY BIZ_YR DESC
    ]]>
	</select>

	<!-- 서비스실행사업콤보데이터 -->
	<select id="selectSrvcExcnBizCombo" parameterType="HashMap"
		resultType="HashMap">
    <![CDATA[
        /* selectSrvcExcnBizCombo - Lee SangHoon */
        
        SELECT DISTINCT
        
            B.BIZ_YR AS BIZ_YR,                     /* 사업연도 */
            A.SRVC_EXCN_BIZ_NO AS SRVC_EXCN_BIZ_NO, /* 서비스실행사업번호 */
            A.SRVC_EXCN_BIZ_NM AS SRVC_EXCN_BIZ_NM  /* 서비스실행사업명 */
            
        FROM SDA420 A       /* 서비스실행사업 */
        LEFT JOIN SDA400 B  /* 서비스사업 */
        ON A.SRVC_BIZ_NO = B.SRVC_BIZ_NO
        
        WHERE 1=1
        AND B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        AND (A.EXCN_BIZ_CL_SE_CD != '02' OR A.EXCN_BIZ_CL_SE_CD IS NULL)
        
        ORDER BY A.SRVC_EXCN_BIZ_NM
    ]]>
	</select>

	<!-- 기관콤보데이터 -->
	<select id="selectInstNmCombo" parameterType="HashMap"
		resultType="HashMap">
    <![CDATA[
	/* selectInstNmCombo - Lee SangHoon */
	
	SELECT
	    A.INST_NO AS INST_NO
	    ,A.INST_NM AS INST_NM
	    ,MAX(SYS_CONNECT_BY_PATH(A.BIZ_YR,'|')) AS BIZ_YR
	    ,MAX(SYS_CONNECT_BY_PATH(A.SRVC_EXCN_BIZ_NO,'|')) AS SRVC_EXCN_BIZ_NO
	    ,'Y' AS FILTER
	FROM
	    (SELECT
	        A.INST_NO AS INST_NO      /* 기관번호 */
	        ,A.INST_NM AS INST_NM    /* 기관명 */
	        ,B.BIZ_YR AS BIZ_YR       /* 사업연도 */
	        ,B.SRVC_EXCN_BIZ_NO AS SRVC_EXCN_BIZ_NO       /* 서비스실행사업번호*/
	        ,(ROW_NUMBER () OVER(PARTITION BY A.INST_NO ORDER BY A.INST_NO, B.BIZ_YR, B.SRVC_EXCN_BIZ_NO )) RNUM
	    FROM SAA000 A     /* 통합기관 */
	    
	    LEFT JOIN
            (SELECT DISTINCT
                T1.BIZ_YR
            ,   T2.SRVC_EXCN_BIZ_NO
            ,   T3.RSFR_INST_NO
            FROM SDA400 T1
            JOIN SDA420 T2
                ON T2.SRVC_BIZ_NO = T1.SRVC_BIZ_NO
            JOIN SDA100 T3
                ON T3.SRVC_EXCN_BIZ_NO = T2.SRVC_EXCN_BIZ_NO
            WHERE T3.APRV_STTS_SE_CD = '2'
            ) B
            ON B.RSFR_INST_NO = A.INST_NO
	    
	    WHERE 1=1
	    AND (A.INST_NO = #{INST_NO} OR #{INST_TYPE_SE_CD} != '8')
	    AND A.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
	    AND A.DEL_YN != 'Y'
        AND A.APRV_YN = 'Y'
	    AND A.INST_TYPE_SE_CD = '8') A
	START WITH A.RNUM = 1 CONNECT BY PRIOR A.RNUM = (A.RNUM - 1)  
	AND PRIOR A.INST_NO = A.INST_NO
	
	GROUP BY A.INST_NO, A.INST_NM
	
	ORDER BY A.INST_NM
    ]]>
	</select>

	<!-- 자원콤보데이터 -->
	<select id="selectResrceNmCombo" parameterType="HashMap"
		resultType="HashMap">
        <![CDATA[
            /* selectResrceNmCombo - Lee SangHoon */
            
            SELECT
                A.RESRCE_NO AS RESRCE_NO                /* 자원번호 */
                , A.PVSN_RESRCE_NM AS PVSN_RESRCE_NM    /* 자원제공명 */
                , A.RSFR_INST_NO AS INST_NO             /* 자원제공주체번호 */
                , D.BIZ_YR AS BIZ_YR                    /* 사업연도 */
                , A.SRVC_RESRCE_LCLAS_SE_CD             /* 서비스자원대분류구분코드 */
                , C.SRVC_EXCN_BIZ_NO                    /* 서비스실행사업번호 */
                , A.PVSN_BGNG_YMD                       /*제공시작일자*/
                , A.PVSN_END_YMD                        /*제공종료일자*/
            FROM SDA100 A       /* 자원기본 */
            JOIN SAA000 B  /* 통합기관 */
            ON A.RSFR_INST_NO LIKE B.INST_NO
            AND B.DEL_YN = 'N'
            JOIN SDA420 C
            ON  C.SRVC_EXCN_BIZ_NO = A.SRVC_EXCN_BIZ_NO
            JOIN SDA400 D
            ON  D.SRVC_BIZ_NO = C.SRVC_BIZ_NO
            
			WHERE 1=1
			AND (B.INST_NO = #{INST_NO} OR #{INST_TYPE_SE_CD} != '8')
			AND B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
            AND A.USE_YN = 'Y'
            AND A.APRV_STTS_SE_CD = '2'
            
            ORDER BY A.PVSN_RESRCE_NM
	   ]]>
	</select>

</mapper>