@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, address, code, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; font-style: normal; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

/* common */
* { box-sizing: border-box; }

html { font-size: 62.5%; }

body { line-height: 1; font-family: "Nanum Gothic", "나눔고딕", "Malgun Gothic", "맑은고딕", "굴림", Gulim, '돋움', Dotum, Arial, Verdana, sans-serif, AppleGothic; color: #333; font-weight: 400; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a { text-decoration: none; color: inherit; }

a:active, a:hover { color: #454cb5; }

a.basic { text-decoration: underline; color: #333; }

a.basic:active, a.basic:hover { color: #ea817b; text-decoration: underline; }

table { table-layout: fixed; width: 100%; border-spacing: 0; font-size: inherit; }

caption { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -9999px; }

:root caption { overflow: hidden; width: 0; font-size: 0; line-height: 0; height: 0; }

legend { overflow: hidden; position: absolute; left: -1000%; height: 0; }

input { margin: 0; padding: 0; }

::placeholder { color: #ddd; }

button { background: none; border: 0; margin: 0; padding: 0; cursor: pointer; }

label { cursor: pointer; }

img { vertical-align: top; max-width: 100%; border: 0; }

/* 접근성 */
.skip { position: relative; height: 1px; margin-top: -1px; z-index: 1000; }

.skip a { position: absolute; top: -1000px; left: 0; background: rgba(0, 0, 0, 0.5); width: 100%; line-height: 58px; color: #FFF; }

.skip a:hover, .skip a:focus { left: 0; top: 0px; text-align: center; }

/* ====== style ====== */
html, body { height: 100%; }

.teen-wrapper { min-width: 1400px; overflow-x: auto; width: 100%; height: 100%; background: url(../../../../images/isry/itgcms/login/bg_login2.svg) no-repeat top -120px left 0 fixed; }

/* .teen-wrapper .page-container { height: calc(100% - 140px); } */

/* .teen-wrapper .contents { width: 100%; padding-top: 6.8%; padding-bottom: 6.7%; } */
.teen-wrapper .contents { width: 100%; padding-top: 4%; }

.teen-wrapper .contents .inner { width: 1320px; margin: 0 auto; }

.teen-wrapper .contents .logo { margin-bottom: 30px; }

.teen-wrapper .content_box { display: flex; padding: 65px 0; border-radius: 20px; box-shadow: 0px 3px 6px rgba(100, 100, 100, 0.1); background-color: #fff; }

.teen-wrapper .content_box .sec-tit { height: 47px; padding-top: 20px; letter-spacing: -.44px; font-size: 2.2rem; color: #595857; font-weight: 900; }

.teen-wrapper .login_wrap { width: 50%; padding: 0 81px 0 75px; }

.teen-wrapper .login_wrap .sec-tit { padding-left: 62px; background: url(../../../../images/isry/itgcms/login/icon_people1.svg) no-repeat left bottom/46px; }

.teen-wrapper .login_wrap .inp_area { margin-top: 17px; }

.teen-wrapper .login_wrap .inp_box input { position: relative; width: 100%; padding: 22px 25px 22px 56px; border: 1px solid #efefef; font-size: 16px; font-size: 1.6rem; }

.teen-wrapper .login_wrap .inp_box .id_inp { background: url(../../../../images/isry/itgcms/login/icon_people2.svg) no-repeat 25px/16px; }

.teen-wrapper .login_wrap .inp_box .pw_inp { background: url(../../../../images/isry/itgcms/login/icon_lock1.svg) no-repeat 25px/16px; }

.teen-wrapper .login_wrap .save_id { margin-top: 13px; font-size: 0; }

.teen-wrapper .login_wrap .save_id input { display: inline-block; width: 16px; height: 16px; border: 1px solid #f9f9f9; background-color: #fff; }

.teen-wrapper .login_wrap .save_id label { display: inline-block; margin-left: 8px; font-size: 1.4rem; color: #595857; vertical-align: top; }

.teen-wrapper .pass_simple_box { padding-top: 25px; background: url(../../../../images/isry/itgcms/login/icon_plus02.svg) no-repeat top center/25px; }

.teen-wrapper .pass_simple_box .list { display: flex; width: 100%; margin-top: 28px; padding: 11px 0; background-color: #f8f8f8; }

.teen-wrapper .pass_simple_box .list li { width: 25%; text-align: center; }

.teen-wrapper .pass_simple_box .list li + li { border-left: 1px dashed #ddd; }

.teen-wrapper .pass_simple_box .list a, .teen-wrapper .pass_simple_box .list img, .teen-wrapper .pass_simple_box .list .txt { display: block; }

.teen-wrapper .pass_simple_box .list img { margin: 0 auto; }

.teen-wrapper .pass_simple_box .list .txt { font-size: 1.6rem; font-weight: 700; color: #595857; }

.teen-wrapper .pass_simple_box .financial_pass a { padding-top: 14px; }

.teen-wrapper .pass_simple_box .financial_pass .txt { margin-top: 14px; }

.teen-wrapper .pass_simple_box .joint_pass a { padding-top: 10px; }

.teen-wrapper .pass_simple_box .joint_pass .txt { margin-top: 7px; }

.teen-wrapper .pass_simple_box .joint_pass .txt .subtxt { font-size: 1.2rem; }

.teen-wrapper .pass_simple_box .phone_pass a { padding-top: 10px; }

.teen-wrapper .pass_simple_box .phone_pass .txt { margin-top: 10px; }

.teen-wrapper .pass_simple_box .simple_pass a { padding-top: 10px; }

.teen-wrapper .pass_simple_box .simple_pass .txt { margin-top: 13px; }

.teen-wrapper .login_box { margin-top: 7px; border: 1px solid #2D76E2; }

.teen-wrapper .login_box .btn { display: block; padding: 20px 0; font-size: 18px; color: #fff; background: #2D76E2 url(../../../../images/isry/itgcms/login/icon_lock1.svg) no-repeat 202px center/15px; text-align: center; }

.teen-wrapper .other_box { display: flex; justify-content: center; margin-top: 16px; }

.teen-wrapper .other_box li { padding: 0 20px; }

.teen-wrapper .other_box li + li { border-left: 1px solid #595857; }

.teen-wrapper .other_box a { color: #595857; font-size: 1.4rem; letter-spacing: .28px; }

.teen-wrapper .other_box a:hover, .teen-wrapper .other_box a:active, .teen-wrapper .other_box a:focus { text-decoration: underline; }

.teen-wrapper .other_box .btn_area { padding-top: 5px; }

.teen-wrapper .help_wrap { width: 50%; border-left: 1px solid #ddd; padding: 0 76px 0 82px; }

.teen-wrapper .help_wrap .sec-tit { padding-left: 63px; background: url(../../../../images/isry/itgcms/login/icon_board1.svg) no-repeat left bottom/48px; }

.teen-wrapper .help_wrap .head { position: relative; }

.teen-wrapper .help_wrap .head .link_more { display: block; width: 20px; height: 20px; position: absolute; right: 0; bottom: 0; background: url(../../../../images/isry/itgcms/login/icon_plus01.svg) no-repeat center bottom/15px; }

.teen-wrapper .help_wrap .body { margin-top: 17px; }

.teen-wrapper .help_wrap .body .board_simple { width: 500px; border: 1px solid #ddd; padding: 38px 48px 46px 42px; font-size: 1.6rem; }

.teen-wrapper .help_wrap .body .board_simple li { display: flex; align-items: center; }

.teen-wrapper .help_wrap .body .board_simple li + li { margin-top: 24px; }

.teen-wrapper .help_wrap .body .board_simple .preface { display: block; margin-right: 20px; color: #1586DE; font-weight: 700; white-space: nowrap; }

.teen-wrapper .help_wrap .body .board_simple .tit { padding-right: 20px; color: #595857; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: left; }

.teen-wrapper .help_wrap .body .board_simple .tit:hover { text-decoration: underlince; }

.teen-wrapper .help_wrap .body .board_simple .pubdate { display: inline-block; max-width: 100px; margin-left: auto; color: #AFAFAF; }

.teen-wrapper .help_wrap .foot { position: relative; }

.teen-wrapper .help_desk { margin-top: 42px; }

.teen-wrapper .help_desk .infor { padding-left: 63px; background: url(../../../../images/isry/itgcms/login/icon_phone1.svg) no-repeat left top 10px/44px; }

.teen-wrapper .help_desk .tit { font-size: 1.6rem; font-weight: 900; color: #595857; letter-spacing: .3px; }

.teen-wrapper .help_desk .help_number { margin-top: 3px; font-size: 3.5rem; font-weight: 900; color: #1586DE; letter-spacing: .7px; }

.teen-wrapper .help_desk .email { margin-top: 20px; color: #595857; letter-spacing: .3px; font-size: 0; }

.teen-wrapper .help_desk .email .txt { font-size: 1.6rem; }

.teen-wrapper .help_desk .help_mail { margin-left: 9px; font-size: 1.6rem; }

.teen-wrapper .install_program { position: absolute; bottom: 0; right: 0; width: 173px; }

.teen-wrapper .install_program .btn { display: block; padding: 10px 0 11px; border: 1px solid #ddd; background-color: #fff; color: #595857; letter-spacing: .3px; text-align: center; font-weight: 700; font-size: 1.4rem; }

.teen-wrapper .install_program .btn:hover, .teen-wrapper .install_program .btn:focus, .teen-wrapper .install_program .btn:active { text-decoration: underline; }

/* .teen-wrapper .footer { margin-top: auto; background-color: #303237; } */
.teen-wrapper .footer { position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; background-color: #303237; }



/* .teen-wrapper .footer .inner { position: relative; width: 1320px; padding: 30px 0 3.6%; margin: 0 auto; color: #A4A4A4; } */
.teen-wrapper .footer .inner { position: relative; width: 1320px; padding: 30px 0 30px; margin: 0 auto; color: #A4A4A4; }

.teen-wrapper .footer .adrs, .teen-wrapper .footer .copyright { font-size: 1.4rem; }

.teen-wrapper .footer .copyright { margin-top: 12px; }

.teen-wrapper .footer .law { position: absolute; right: 0; top: 30px; }

.teen-wrapper .footer .law a { display: block; font-size: 1.6rem; color: #1586DE; }

.teen-wrapper .footer .law a:hover, .teen-wrapper .footer .law a:focus, .teen-wrapper .footer .law a:active { text-decoration: underline; }
/*# sourceMappingURL=style.css.map */