<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.constt.etcntabrd.mapper.BbsContentlistMapper">

    <select id="getTotalCount" parameterType="HashMap" resultType="int">
        SELECT /*SQL-ID : isry.couns.constt.etcntabrd.mapper.BbsContentlistMapper :  콘텐츠활용신청*/
                    count(*)
        FROM        AYE100
        WHERE 
                    1=1
            AND     BBSCTT_TYPE_SE_CD = '13'        /*게시글유형구분코드*/
            AND     DEL_YN = 'N'        /*삭제여부*/
    </select>    

    <select id="selectInqBbsContentList" parameterType="String" resultType="HashMap">
        SELECT /*SQL-ID : isry.couns.constt.etcntabrd.mapper.BbsContentlistMapper :  콘텐츠활용신청(조회)*/
                    BBSCTT_ESNTAL_NO                                        /*게시글번호*/
                ,   BBSCTT_TYPE_SE_CD                                       /* 게시글유형구분코드 */
                ,   TO_CHAR(FRST_REG_DT, 'YYYY-MM-DD')  AS FRST_REG_DT      /*신청일자*/
                ,   C##RG.DEC_B64(WRTR_NM_ENCPT)     AS WRTR_NM_ENCPT    /*신청자명*/
                ,   INST_NM                                                 /*신청기관명*/
                ,   APRV_STTS_SE_CD                                         /*상태*/
                ,   COUNT(*) OVER() AS TOTAL_COUNT
        FROM        AYE100 
        WHERE 
                    1=1
            AND     DEL_YN = 'N'        /*삭제여부*/
            AND     BBSCTT_TYPE_SE_CD = '13'        /*게시글유형구분코드*/
                    <if test="BBSCTT_ESNTAL_NO != null and BBSCTT_ESNTAL_NO != ''">
            AND     BBSCTT_ESNTAL_NO LIKE '%'||#{BBSCTT_ESNTAL_NO}||'%'      
                    </if>                
                    <if test="INST_NM != null and INST_NM != ''">
            AND     INST_NM LIKE '%'||#{INST_NM}||'%'
                    </if> 
                    <if test='WRTR_NM_ENCPT != null and WRTR_NM_ENCPT != ""'>
			<![CDATA[
			AND C##RG.DEC_B64(WRTR_NM_ENCPT) LIKE '%' || #{WRTR_NM_ENCPT} || '%'
			]]>
                    </if>
                    
                    
                    
            ORDER BY FRST_REG_DT DESC
            OFFSET #{START_IDX} ROWS FETCH NEXT #{ROW_COUNT} ROWS ONLY
    </select>
    
    <select id="bbsContentList" parameterType="String" resultType="HashMap">
        SELECT      
                    *
        FROM        SAC100 
        WHERE       CMMNS_CD_ID = #{CONTEN_PRCUSE_DMND_SE_CD}
    </select>
    
    <select id="selectBbsContentDetail" parameterType="String" resultType="HashMap">
    /* 
     * SQL-ID : isry.couns.constt.etcntabrd.mapper.BbsContentlistMapper :  콘텐츠활용신청(상세)
     * 2023.06.16 수정 - Jeong.Won.Je
     */
		SELECT  A.BBSCTT_ESNTAL_NO                                AS BBSCTT_ESNTAL_NO             /* 게시글고유번호 */
		        , A.BBSCTT_TYPE_SE_CD                             AS BBSCTT_TYPE_SE_CD            /* 게시글유형구분코드 */
		        , C##RG.DEC_B64(A.WRTR_NM_ENCPT)               AS WRTR_NM_ENCPT                /* 작성자명암호화 */
		        --, A.WRTR_NM_ENCPT                                 AS WRTR_NM_ENCPT                /* 작성자명암호화 */
		        , A.INST_NM                                       AS INST_NM                      /* 신청기관명 */
		        , C##RG.DEC_B64(A.EML_ADDR_ENCPT)              AS EML_ADDR_ENCPT               /* 이메일주소암호화 */
		        --, A.EML_ADDR_ENCPT                                AS EML_ADDR_ENCPT               /* 이메일주소암호화 */
		        , NVL(C##RG.DEC_B64(A.MBL_TELNO_ENCPT), '-')   AS MBL_TELNO_ENCPT              /* 휴대전화번호암호화 */
		        --, NVL(A.MBL_TELNO_ENCPT, '-')                     AS MBL_TELNO_ENCPT              /* 휴대전화번호암호화 */
		        , A.INST_TELNO                                    AS INST_TELNO                   /* 신청기관번호 */
		        , A.HPGE_LINKA_PRCUSE_DMND_YN                     AS HPGE_LINKA_PRCUSE_DMND_YN    /* 홈페이지링크활용요청여부 */
		        , A.WEPS_LINKA_PRCUSE_DMND_YN                     AS WEPS_LINKA_PRCUSE_DMND_YN    /* 웹심리검사링크활용요청여부 */
		        , A.SRVC_DTL_CN                                   AS SRVC_DTL_CN                  /* 기타 서비스상세내용 */
		        , A.APRV_STTS_SE_CD                               AS APRV_STTS_SE_CD              /* 승인상태구분코드 */
		        , A.BBSCTT_CN                                     AS BBSCTT_CN                    /* 게시글내용 - 요청사유 */
		        , A.FRST_REG_DT                                   AS FRST_REG_DT                  /* 최초등록일자 */
		        , B.RETE_ESNTAL_NO                                AS RETE_ESNTAL_NO               /* 답글고유번호 */
		        , B.RETE_CN                                       AS RETE_CN                      /* 답글내용 - 결과안내 */
		FROM    AYE100      A
		LEFT OUTER JOIN AYE120  B
		ON      A.BBSCTT_ESNTAL_NO      =   B.BBSCTT_ESNTAL_NO
		AND     A.BBSCTT_TYPE_SE_CD     =   B.BBSCTT_TYPE_SE_CD
		AND     B.DEL_YN                =   'N'
		WHERE   A.DEL_YN                =   'N'
		AND     A.BBSCTT_ESNTAL_NO      =   #{BBSCTT_ESNTAL_NO}
		AND     A.BBSCTT_TYPE_SE_CD     =   #{BBSCTT_TYPE_SE_CD}
    </select>
	
	<update id="updateBbsContent" parameterType="HashMap">
	/*
	 * SQL-ID : isry.couns.constt.etcntabrd.mapper.BbsContentlistMapper :  콘텐츠활용신청(상태값 변경)
	 * 2023.06.16 수정 - Jeong.Won.Je
	 */
        UPDATE 
                AYE100 
        SET 
                APRV_STTS_SE_CD     =   #{APRV_STTS_SE_CD}
                , LAST_MDFR_ID      =   #{loginId}
                , LAST_MDFCN_DT     =   SYSDATE
        WHERE   1=1
        AND     BBSCTT_ESNTAL_NO    =   #{BBSCTT_ESNTAL_NO}                                 
        AND     BBSCTT_TYPE_SE_CD   =   #{BBSCTT_TYPE_SE_CD}
    </update>
	
	<update id="insertBbsContentReply" parameterType="HashMap">
	/*
     * SQL-ID : isry.couns.constt.etcntabrd.mapper.BbsContentlistMapper.insertBbsContentReply :  
     * 2023.06.16 추가 - Jeong.Won.Je
     */
		INSERT INTO AYE120 
		       (
				RETE_ESNTAL_NO
				, BBSCTT_ESNTAL_NO
				, BBSCTT_TYPE_SE_CD
				, RETE_CN
				, CNTN_IP_ADDR
				, FRST_RGTR_ID
				, FRST_REG_DT
			   ) 
		VALUES (
				AYE120_SQ01.NEXTVAL
				, #{BBSCTT_ESNTAL_NO}
				, #{BBSCTT_TYPE_SE_CD}
				, #{RETE_CN}
				, #{loginIp}
				, #{loginId}
				, SYSDATE
			   )
	</update>
</mapper>