<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.drmgs.stats.mapper.StatsDrmgsMapper">
    <select id="selectOccpAbilitStats" parameterType="HashMap" resultType="HashMap">
        /* isry.drmgs.stats.mapper.StatsDrmgsMapper.selectOccpAbilitStats */
        SELECT TT1.CTPV_CD
            , TT2.CTPV_NM
            , TT3.SGG_CD
            , TT3.SGG_NM
            , TT1.INST_NO
            , TT1.INST_NM
            , COUNT(DISTINCT TT1.TRPR_INFO_NO) AS TRPR_CNT
            , COUNT(1) AS CASE_CNT
            , SUM(STG1_CNT) AS STG1_CNT
            , SUM(STG2_FNSH_CNT) AS STG2_FNSH_CNT
            , SUM(STG2_FAILR_CNT) AS STG2_FAILR_CNT
            , SUM(STG3_FNSH_CNT) AS STG3_FNSH_CNT
            , SUM(STG3_FAILR_CNT) AS STG3_FAILR_CNT
            , SUM(STG4_FNSH_CNT) AS STG4_FNSH_CNT
            , SUM(STG4_FAILR_CNT) AS STG4_FAILR_CNT
            , SUM(FOUND_CNT) AS FOUND_CNT
            , SUM(JOB_CNT) AS JOB_CNT
            , SUM(JOB_CNT2) AS JOB_CNT2
            , SUM(NEIL_CNT) AS NEIL_CNT
            , SUM(PACKAGE_CNT) AS PACKAGE_CNT
            , SUM(PRVATE_CNT) AS PRVATE_CNT
            , SUM(NTN_CNT) AS NTN_CNT
            , SUM(UNIVA_CNT) AS UNIVA_CNT
            , SUM(CERTI_CNT) AS CERTI_CNT
            , DECODE(SUM(STG1_CNT), 0, 0, ROUND(SUM(STG4_FNSH_CNT) / SUM(STG1_CNT) * 100, 2)) AS FNSH_PERCENTAGE
        FROM (SELECT T1.CTPV_CD
                    , T1.SGG_CD
                    , T1.INST_NO 
                    , T1.INST_NM 
                    , T1.CASE_MNG_NO
                    , T1.CASE_MNG_ODRNO
                    , T1.TRPR_INFO_NO
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT + UNIVA_CNT + CERTI_CNT + 
                        T1.STG2_FNSH_CNT + T1.STG2_FAILR_CNT + T1.STG3_FNSH_CNT + T1.STG3_FAILR_CNT + T1.STG4_FNSH_CNT + T1.STG4_FAILR_CNT = 0 THEN T1.STG1_CNT ELSE 0 END AS STG1_CNT
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT + UNIVA_CNT + CERTI_CNT + 
                        T1.STG3_FNSH_CNT + T1.STG3_FAILR_CNT + T1.STG4_FNSH_CNT + T1.STG4_FAILR_CNT = 0 THEN T1.STG2_FNSH_CNT ELSE 0 END AS STG2_FNSH_CNT
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT + UNIVA_CNT + CERTI_CNT + 
                        T1.STG3_FNSH_CNT + T1.STG3_FAILR_CNT + T1.STG4_FNSH_CNT + T1.STG4_FAILR_CNT = 0 THEN T1.STG2_FAILR_CNT ELSE 0 END AS STG2_FAILR_CNT
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT + UNIVA_CNT + CERTI_CNT + T1.STG4_FNSH_CNT + T1.STG4_FAILR_CNT = 0 THEN T1.STG3_FNSH_CNT ELSE 0 END AS STG3_FNSH_CNT
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT + UNIVA_CNT + CERTI_CNT + T1.STG4_FNSH_CNT + T1.STG4_FAILR_CNT = 0 THEN T1.STG3_FAILR_CNT ELSE 0 END AS STG3_FAILR_CNT
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT + UNIVA_CNT + CERTI_CNT = 0 THEN T1.STG4_FNSH_CNT ELSE 0 END AS STG4_FNSH_CNT
                    , CASE WHEN FOUND_CNT + JOB_CNT + JOB_CNT2 + NEIL_CNT + PACKAGE_CNT + PRVATE_CNT + NTN_CNT +UNIVA_CNT + CERTI_CNT = 0 THEN T1.STG4_FAILR_CNT ELSE 0 END AS STG4_FAILR_CNT
                    , T1.FOUND_CNT
                    , T1.JOB_CNT
                    , T1.JOB_CNT2
                    , T1.NEIL_CNT
                    , T1.PACKAGE_CNT
                    , T1.PRVATE_CNT
                    , T1.NTN_CNT
                    , T1.UNIVA_CNT
                    , T1.CERTI_CNT
            FROM (SELECT E.CTPV_CD
                    , E.SGG_CD
                    , E.INST_NO 
                    , E.INST_NM
                    , A.CASE_MNG_NO
                    , A.CASE_MNG_ODRNO
                    , B.TRPR_INFO_NO 
                    , (SELECT COUNT(1) FROM AKA100 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND STG1_PTCPTN_STTS_SE_CD = '01') AS STG1_CNT 
                    , DECODE(A.STG2_FNSH_YMD, NULL, 0, 1) AS  STG2_FNSH_CNT 
                    , DECODE(A.STG2_MDSTRM_FAILR_YMD, NULL, 0, 1) AS  STG2_FAILR_CNT
                    , DECODE(A.STG3_FNSH_YMD, NULL, 0, 1) AS  STG3_FNSH_CNT
                    , DECODE(A.STG3_MDSTRM_FAILR_YMD, NULL, 0, 1) AS  STG3_FAILR_CNT
                    , DECODE(A.STG4_FNSH_YMD, NULL, 0, 1) AS  STG4_FNSH_CNT
                    , DECODE(A.STG4_MDSTRM_FAILR_YMD, NULL, 0, 1) AS  STG4_FAILR_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_MLSFC_SE_CD = '0203') AS FOUND_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_SCLAS_SE_CD = '020101') AS JOB_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_SCLAS_SE_CD = '020102') AS JOB_CNT2
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_SCLAS_SE_CD = '020402') AS NEIL_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_SCLAS_SE_CD = '020403') AS PACKAGE_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_SCLAS_SE_CD = '020404') AS NTN_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_SCLAS_SE_CD IN ('020405','020408')) AS PRVATE_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_MLSFC_SE_CD = '0108') AS UNIVA_CNT
                    , (SELECT COUNT(1) FROM AKA130 WHERE CASE_MNG_NO = B.CASE_MNG_NO AND CASE_MNG_ODRNO = B.CASE_MNG_ODRNO AND UNT_TASKWK_SE_CD = B.UNT_TASKWK_SE_CD AND USE_YN = 'Y' AND OUTC_CN_MLSFC_SE_CD = '0202') AS CERTI_CNT
                FROM AKA100 A, SEB100 B, SEA200 C, SEB150 D, SAA000 E, SCA100 F
                WHERE A.CASE_MNG_NO = B.CASE_MNG_NO 
                AND A.CASE_MNG_ODRNO = B.CASE_MNG_ODRNO
                AND B.UNT_TASKWK_SE_CD = 'U03' 
                AND B.TRPR_INFO_NO = C.TRPR_INFO_NO 
                AND A.CASE_MNG_NO = D.CASE_MNG_NO 
                AND A.CASE_MNG_ODRNO = D.CASE_MNG_ODRNO
                AND D.PCHPRS_YN = 'Y'
                AND D.CASE_PIC_NO = F.ENFSN_NO
                AND F.OGDP_INST_NO = E.INST_NO
		        /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
                <include refid="GroupAuthrtMapper.meditationStatsGropuAuthrt"/>   
                /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
		        <if test="SRT_DT != null and SRT_DT != ''">
		          AND B.CASE_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
		        </if>
		        <if test="CTPV_CD != null and CTPV_CD != ''">
                   AND E.CTPV_CD = #{CTPV_CD}
                </if>
                <if test="SGG_CD != null and SGG_CD != ''">
                   AND E.SGG_CD = #{SGG_CD}
                </if>
                <if test="INST_NO != null and INST_NO != ''">
                   AND E.INST_NO = #{INST_NO}
                </if>
                <if test="SXDC_SE_CD != null and SXDC_SE_CD != ''">
                   AND C.SXDC_SE_CD = #{SXDC_SE_CD}
                </if>
                <if test="AGE_SE == 1">
                <![CDATA[
                    -- 만 6세 이하
                    AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) <= 6
                ]]>
                </if>
                <if test="AGE_SE == 2">
                <![CDATA[
                    -- 만 7~12세
                    AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 7 AND 12
                ]]>
                </if>
                <if test="AGE_SE == 3">
                <![CDATA[
                    -- 만 13~15세
                    AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 13 AND 15
                ]]>
                </if>
                <if test="AGE_SE == 4">
                <![CDATA[
                    -- 만 16~18세
                    AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 16 AND 18
                ]]>
                </if>
                <if test="AGE_SE == 5">
                <![CDATA[
                    -- 만 19~24세
                    AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 19 AND 24
                ]]>
                </if>
                <if test="AGE_SE == 6">
                    -- 연령 미확인
                    AND C.TRPR_BRTH_YMD IS NULL
                </if>
                <if test="AGE_SE == 7">
                    -- 연령 기타
                </if>
                AND ( 1=2 /* 청소년상태 체크를 모두 해제 한 경우 데이터 안나오게 하기 위한 false 조건 */
                <if test="YNGBGS_0 != null and YNGBGS_0 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_0}||'%'
                </if>
                <if test="YNGBGS_1 != null and YNGBGS_1 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_1}||'%'
                </if>
                <if test="YNGBGS_2 != null and YNGBGS_2 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_2}||'%'
                </if>
                <if test="YNGBGS_3 != null and YNGBGS_3 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_3}||'%'
                </if>
                <if test="YNGBGS_4 != null and YNGBGS_4 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_4}||'%'
                </if>
                <if test="YNGBGS_5 != null and YNGBGS_5 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_5}||'%'
                </if>
                )
		      ) T1 
          ) TT1
        , (SELECT DISTINCT T2.CTPV_SE_CD, T2.CTPV_NM FROM SAA020 T2) TT2
        , (SELECT DISTINCT T3.SGG_CD, T3.SGG_NM FROM SAA020 T3) TT3
		WHERE TT1.CTPV_CD = TT2.CTPV_SE_CD
		  AND TT1.SGG_CD = TT3.SGG_CD
		GROUP BY TT1.CTPV_CD
		    , TT1.INST_NO
		    , TT1.INST_NM
		    , TT2.CTPV_NM
		    , TT3.SGG_CD
            , TT3.SGG_NM
    </select>
    
    <select id="selectMeditationStats" parameterType="HashMap" resultType="HashMap">
        /* isry.drmgs.stats.mapper.StatsDrmgsMapper.selectMeditationStats 학업숙려제통계 */
        SELECT TT1.CTPV_CD
		    , TT2.CTPV_NM
		    , TT3.SGG_CD
		    , TT3.SGG_NM
		    , TT1.INST_NO
		    , TT1.INST_NM
		    , COUNT(DISTINCT TT1.M_TRPR) AS M_TRPR_CNT
		    , COUNT(DISTINCT TT1.F_TRPR) AS F_TRPR_CNT
		    , SUM(TT1.M_CASE_CNT) AS M_CASE_CNT
		    , SUM(TT1.F_CASE_CNT) AS F_CASE_CNT
		    , SUM(TT1.M0101) AS M0101_CNT
		    , SUM(TT1.F0101) AS F0101_CNT
		    , SUM(TT1.M0102) AS M0102_CNT
		    , SUM(TT1.F0102) AS F0102_CNT
		    , SUM(TT1.M0103) AS M0103_CNT
		    , SUM(TT1.F0103) AS F0103_CNT
		    , SUM(TT1.M0104) AS M0104_CNT
		    , SUM(TT1.F0104) AS F0104_CNT
		    , SUM(TT1.M0105) AS M0105_CNT
		    , SUM(TT1.F0105) AS F0105_CNT
		    , SUM(TT1.M0106) AS M0106_CNT
		    , SUM(TT1.F0106) AS F0106_CNT
		    , SUM(TT1.M0201) AS M0201_CNT
		    , SUM(TT1.F0201) AS F0201_CNT
		    , SUM(TT1.M0202) AS M0202_CNT
		    , SUM(TT1.F0202) AS F0202_CNT
		    , SUM(TT1.M0203) AS M0203_CNT
		    , SUM(TT1.F0203) AS F0203_CNT
		    , SUM(TT1.M0204) AS M0204_CNT
		    , SUM(TT1.F0204) AS F0204_CNT
		    , SUM(TT1.M0205) AS M0205_CNT
		    , SUM(TT1.F0205) AS F0205_CNT
		    , SUM(TT1.M0206) AS M0206_CNT
		    , SUM(TT1.F0206) AS F0206_CNT
		    , SUM(TT1.COL0300) AS COL0300_CNT
		    , SUM(TT1.COL0400) AS COL0400_CNT
		    , SUM(TT1.COL0500) AS COL0500_CNT
		FROM (
		    SELECT T1.CTPV_CD
		        , T1.INST_NO 
		        , T1.INST_NM
		        , T1.SGG_CD
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.SXDC_SE_CD||T1.TRPR_INFO_NO END AS M_TRPR
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.SXDC_SE_CD||T1.TRPR_INFO_NO END AS F_TRPR
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN 1 ELSE 0 END AS M_CASE_CNT
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN 1 ELSE 0 END AS F_CASE_CNT
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0101 ELSE 0 END AS M0101
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0101 ELSE 0 END AS F0101
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0102 ELSE 0 END AS M0102
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0102 ELSE 0 END AS F0102
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0103 ELSE 0 END AS M0103
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0103 ELSE 0 END AS F0103
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0104 ELSE 0 END AS M0104  
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0104 ELSE 0 END AS F0104
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0105 ELSE 0 END AS M0105
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0105 ELSE 0 END AS F0105
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0106 ELSE 0 END AS M0106
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0106 ELSE 0 END AS F0106
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0201 ELSE 0 END AS M0201
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0201 ELSE 0 END AS F0201
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0202 ELSE 0 END AS M0202
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0202 ELSE 0 END AS F0202
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0203 ELSE 0 END AS M0203
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0203 ELSE 0 END AS F0203
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0204 ELSE 0 END AS M0204  
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0204 ELSE 0 END AS F0204
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0205 ELSE 0 END AS M0205
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0205 ELSE 0 END AS F0205
		        , CASE WHEN T1.SXDC_SE_CD = 'M' OR T1.SXDC_SE_CD = 'X' THEN T1.COL0206 ELSE 0 END AS M0206
		        , CASE WHEN T1.SXDC_SE_CD = 'F' THEN T1.COL0206 ELSE 0 END AS F0206
		        , T1.COL0300
		        , T1.COL0400
		        , T1.COL0500
		    FROM (
		        SELECT E.CTPV_CD
		            , E.INST_NO 
		            , E.INST_NM
		            , E.SGG_CD
		            , A.CASE_MNG_NO
		            , A.CASE_MNG_ODRNO
		            , B.TRPR_INFO_NO
		            , C.SXDC_SE_CD
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '01', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '01', 1, 0) ,0) AS COL0101
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '01', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '02', 1, 0) ,0) AS COL0102
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '01', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '03', 1, 0) ,0) AS COL0103
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '01', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '04', 1, 0) ,0) AS COL0104
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '01', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '05', 1, 0) ,0) AS COL0105
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '01', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '06', 1, 0) ,0) AS COL0106
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '02', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '01', 1, 0) ,0) AS COL0201
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '02', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '02', 1, 0) ,0) AS COL0202
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '02', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '03', 1, 0) ,0) AS COL0203
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '02', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '04', 1, 0) ,0) AS COL0204
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '02', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '05', 1, 0) ,0) AS COL0205
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '02', DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_END_AFTR_SPRT_SE_CD, '06', 1, 0) ,0) AS COL0206
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '03', 1, 0) AS COL0300
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, '04', 1, 0) AS COL0400
		            , DECODE(A.SCHULW_DSCNTC_CNSDRA_TRGT_DSCSN_RESULT_SE_CD, NULL, 1, 0) AS COL0500
		        FROM AKA100 A, SEB100 B, SEA200 C, SEB150 D, SAA000 E
		        WHERE A.CASE_MNG_NO(+) = B.CASE_MNG_NO 
		        AND A.CASE_MNG_ODRNO(+) = B.CASE_MNG_ODRNO
		        AND B.UNT_TASKWK_SE_CD = 'U03' 
		        AND B.TRPR_INFO_NO = C.TRPR_INFO_NO 
		        AND B.CASE_MNG_NO = D.CASE_MNG_NO 
		        AND B.CASE_MNG_ODRNO = D.CASE_MNG_ODRNO
		        AND D.PCHPRS_YN = 'Y'
		        AND D.PIC_INST_NO = E.INST_NO
		        AND B.YNGBGS_SE_NO  LIKE '%02%'
		        /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
	           <include refid="GroupAuthrtMapper.meditationStatsGropuAuthrt"/>   
	            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
		        
                <if test="SRT_DT != null and SRT_DT != ''">
                    AND B.CASE_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
                </if>
                <if test="CTPV_CD != null and CTPV_CD != ''">
                   AND E.CTPV_CD = #{CTPV_CD}
                </if>
                <if test="SGG_CD != null and SGG_CD != ''">
                   AND E.SGG_CD = #{SGG_CD}
                </if>
                <if test="INST_NO != null and INST_NO != ''">
                   AND E.INST_NO = #{INST_NO}
                </if>
                <if test="SXDC_SE_CD != null and SXDC_SE_CD != ''">
                   AND C.SXDC_SE_CD = #{SXDC_SE_CD}
                </if>
                <if test="AGE_SE == 1">
		        <![CDATA[
		            -- 만 6세 이하
		            AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) <= 6
		        ]]>
		        </if>
		        <if test="AGE_SE == 2">
		        <![CDATA[
		            -- 만 7~12세
		            AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 7 AND 12
		        ]]>
		        </if>
		        <if test="AGE_SE == 3">
		        <![CDATA[
		            -- 만 13~15세
		            AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 13 AND 15
		        ]]>
		        </if>
		        <if test="AGE_SE == 4">
		        <![CDATA[
		            -- 만 16~18세
		            AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 16 AND 18
		        ]]>
		        </if>
		        <if test="AGE_SE == 5">
		        <![CDATA[
		            -- 만 19~24세
		            AND TRUNC(MONTHS_BETWEEN(SYSDATE,C.TRPR_BRTH_YMD)/12,0) BETWEEN 19 AND 24
		        ]]>
		        </if>
		        <if test="AGE_SE == 6">
		            -- 연령 미확인
		            AND C.TRPR_BRTH_YMD IS NULL
		        </if>
		        <if test="AGE_SE == 7">
		            -- 연령 기타
		        </if>
		        AND ( 1=2 /* 청소년상태 체크를 모두 해제 한 경우 데이터 안나오게 하기 위한 false 조건 */
                <if test="YNGBGS_0 != null and YNGBGS_0 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_0}||'%'
                </if>
                <if test="YNGBGS_1 != null and YNGBGS_1 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_1}||'%'
                </if>
                <if test="YNGBGS_2 != null and YNGBGS_2 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_2}||'%'
                </if>
                <if test="YNGBGS_3 != null and YNGBGS_3 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_3}||'%'
                </if>
                <if test="YNGBGS_4 != null and YNGBGS_4 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_4}||'%'
                </if>
                <if test="YNGBGS_5 != null and YNGBGS_5 != ''">
                   OR B.YNGBGS_SE_NO LIKE '%'||#{YNGBGS_5}||'%'
                </if>
                )
              ) T1 
          ) TT1
        , (SELECT DISTINCT T2.CTPV_SE_CD, T2.CTPV_NM FROM SAA020 T2) TT2
        , (SELECT DISTINCT T3.SGG_CD, T3.SGG_NM FROM SAA020 T3) TT3
        WHERE TT1.CTPV_CD = TT2.CTPV_SE_CD
          AND TT1.SGG_CD = TT3.SGG_CD
        GROUP BY TT1.CTPV_CD
            , TT1.INST_NO
            , TT1.INST_NM
            , TT2.CTPV_NM
            , TT3.SGG_CD
            , TT3.SGG_NM
    </select>
    
    <select id="selectGgBizStats" parameterType="HashMap" resultType="HashMap">
        /* isry.drmgs.stats.mapper.StatsDrmgsMapper.selectGgBizStats 경기도사업통계 */
	    SELECT CTPV_CD
	        , CTPV_NM
	        , SGG_CD
	        , SGG_NM
	        , INST_NO
	        , INST_NM
	        , INST_TYPE_SE_CD
	        , SUM(COL010101) AS COL010101
	        , SUM(COL010102) AS COL010102
	        , SUM(COL010103) AS COL010103
	        , SUM(COL010201) AS COL010201
	        , SUM(COL010202) AS COL010202
	        , SUM(COL010203) AS COL010203
	        , SUM(COL010204) AS COL010204
	        , SUM(COL010205) AS COL010205
	        , SUM(COL010206) AS COL010206
	        , SUM(COL010301) AS COL010301
	        , SUM(COL010302) AS COL010302
	        , SUM(COL010303) AS COL010303
	        , SUM(COL010304) AS COL010304
	        , SUM(COL010401) AS COL010401
	        , SUM(COL010402) AS COL010402
	        , SUM(COL020101) AS COL020101
	        , SUM(COL020201) AS COL020201
	        , SUM(COL020301) AS COL020301
	        , SUM(COL020401) AS COL020401
	        , SUM(COL020501) AS COL020501
	        , SUM(COL030101) AS COL030101
	        , SUM(COL030201) AS COL030201
	        , SUM(COL030301) AS COL030301
	        , SUM(COL040101) AS COL040101
	        , SUM(COL040201) AS COL040201
	        , SUM(COL040301) AS COL040301
	        , SUM(CASE_CNT)  AS SRVC_SUM
	    FROM (<include refid="selectGgBizStatsBase"></include>)TT2
	    GROUP BY CTPV_CD
	        , CTPV_NM
	        , SGG_CD
	        , SGG_NM
	        , INST_NO
	        , INST_NM
	        , INST_TYPE_SE_CD
	    ORDER BY INST_TYPE_SE_CD, INST_NM
    </select>
    
    <select id="selectGgBizStatsTrpr" parameterType="HashMap" resultType="HashMap">
        /* isry.drmgs.stats.mapper.StatsDrmgsMapper.selectGgBizStatsTrpr 경기도사업통계인원 */
        SELECT 
            INST_NO
            , COUNT(DISTINCT TRPR_INFO_NO) + COUNT(DISTINCT INDV_IDNTFC_NO) AS TRPR_CNT
        FROM (<include refid="selectGgBizStatsBase"></include>)TT2
        GROUP BY INST_NO
    </select>
    
    <sql id="selectGgBizStatsBase">
        /* selectGgBizStatsBase 경기도사업통계Base */
        SELECT CTPV_CD
        , CTPV_NM
        , SGG_CD
        , SGG_NM
        , INST_NO
        , INST_NM
        , INST_TYPE_SE_CD
        , DECODE(CASE_CNT, 0, DECODE(INDV_IDNTFC_NO, '', TRPR_INFO_NO, ''), '') AS TRPR_INFO_NO
        , DECODE(CASE_CNT, 0, '', INDV_IDNTFC_NO) AS INDV_IDNTFC_NO
        , CASE_MNG
        , COL010101
        , COL010102
        , COL010103
        , COL010201
        , COL010202
        , COL010203
        , COL010204
        , COL010205
        , COL010206
        , COL010301
        , COL010302
        , COL010303
        , COL010304
        , COL010401
        , COL010402
        , COL020101
        , COL020201
        , COL020301
        , COL020401
        , COL020501
        , COL030101
        , COL030201
        , COL030301
        , COL040101
        , COL040201
        , COL040301
        , CASE_CNT
    FROM (
        SELECT T1.CTPV_CD
            , T2.CTPV_NM
            , T3.SGG_CD
            , T3.SGG_NM
            , T1.INST_NO
            , T1.INST_NM
            , T1.INST_TYPE_SE_CD
            , T1.TRPR_INFO_NO
            , T1.INDV_IDNTFC_NO
            , CASE_MNG
            , SUM(COL010101) AS COL010101
            , SUM(COL010102) AS COL010102
            , SUM(COL010103) AS COL010103
            , SUM(COL010201) AS COL010201
            , SUM(COL010202) AS COL010202
            , SUM(COL010203) AS COL010203
            , SUM(COL010204) AS COL010204
            , SUM(COL010205) AS COL010205
            , SUM(COL010206) AS COL010206
            , SUM(COL010301) AS COL010301
            , SUM(COL010302) AS COL010302
            , SUM(COL010303) AS COL010303
            , SUM(COL010304) AS COL010304
            , SUM(COL010401) AS COL010401
            , SUM(COL010402) AS COL010402
            , SUM(COL020101) AS COL020101
            , SUM(COL020201) AS COL020201
            , SUM(COL020301) AS COL020301
            , SUM(COL020401) AS COL020401
            , SUM(COL020501) AS COL020501
            , SUM(COL030101) AS COL030101
            , SUM(COL030201) AS COL030201
            , SUM(COL030301) AS COL030301
            , SUM(COL040101) AS COL040101
            , SUM(COL040201) AS COL040201
            , SUM(COL040301) AS COL040301
            , CASE WHEN SUM(COL010101) + SUM(COL010102) + SUM(COL010103) + SUM(COL010201) + SUM(COL010202) + SUM(COL010203) + SUM(COL010204) + SUM(COL010205) + SUM(COL010206) + SUM(COL010301) + SUM(COL010302) + SUM(COL010303) + SUM(COL010304) + SUM(COL010401) + SUM(COL010402    ) + SUM(COL020101) + SUM(COL020201) + SUM(COL020301) + SUM(COL020401) + SUM(COL020501) + SUM(COL030101) + SUM(COL030201) + SUM(COL030301) + SUM(COL040101) + SUM(COL040201) + SUM(COL040301) > 0 THEN 1 ELSE 0 END AS CASE_CNT
		FROM (
		    SELECT E.CTPV_CD
                , E.SGG_CD
                , E.INST_NO 
                , E.INST_NM
                , E.INST_TYPE_SE_CD
                , B.TRPR_INFO_NO
                , D.INDV_IDNTFC_NO
                , H.SRVC_RESRCE_LCLAS_SE_CD
                , H.SRVC_RESRCE_MLSFC_SE_CD
                , H.SRVC_RESRCE_SCLAS_SE_CD
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_SCLAS_SE_CD IN 
		        <foreach collection="CODE_0" item="code0" index="index" separator="," open="(" close=")">
                    #{code0}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010101
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_SCLAS_SE_CD IN 
		        <foreach collection="CODE_1" item="code1" index="index" separator="," open="(" close=")">
                    #{code1}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010102
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_SCLAS_SE_CD IN 
		        <foreach collection="CODE_2" item="code2" index="index" separator="," open="(" close=")">
                    #{code2}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010103
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_3" item="code3" index="index" separator="," open="(" close=")">
                    #{code3}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010201
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_4" item="code4" index="index" separator="," open="(" close=")">
                    #{code4}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010202
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_5" item="code5" index="index" separator="," open="(" close=")">
                    #{code5}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010203
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_6" item="code6" index="index" separator="," open="(" close=")">
                    #{code6}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010204
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_7" item="code7" index="index" separator="," open="(" close=")">
                    #{code7}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010205
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_8" item="code8" index="index" separator="," open="(" close=")">
                    #{code8}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010206
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_9" item="code9" index="index" separator="," open="(" close=")">
                    #{code9}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010301
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_10" item="code10" index="index" separator="," open="(" close=")">
                    #{code10}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010302
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_11" item="code11" index="index" separator="," open="(" close=")">
                    #{code11}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010303
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_12" item="code12" index="index" separator="," open="(" close=")">
                    #{code12}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010304
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_13" item="code13" index="index" separator="," open="(" close=")">
                    #{code13}
                </foreach> OR H.SRVC_RESRCE_SCLAS_SE_CD IN 
                <foreach collection="CODE_13" item="code13" index="index" separator="," open="(" close=")">
                    #{code13}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010401
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '13' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_14" item="code14" index="index" separator="," open="(" close=")">
                    #{code14}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL010402
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '14' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_15" item="code15" index="index" separator="," open="(" close=")">
                    #{code15}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL020101
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '14' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_16" item="code16" index="index" separator="," open="(" close=")">
                    #{code16}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL020201
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '14' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_17" item="code17" index="index" separator="," open="(" close=")">
                    #{code17}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL020301
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '14' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_18" item="code18" index="index" separator="," open="(" close=")">
                    #{code18}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL020401
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '14' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_19" item="code19" index="index" separator="," open="(" close=")">
                    #{code19}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL020501
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '15' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_20" item="code20" index="index" separator="," open="(" close=")">
                    #{code20}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL030101
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '15' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_21" item="code21" index="index" separator="," open="(" close=")">
                    #{code21}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL030201
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '15' THEN (CASE WHEN H.SRVC_RESRCE_MLSFC_SE_CD IN 
		        <foreach collection="CODE_22" item="code22" index="index" separator="," open="(" close=")">
                    #{code22}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL030301
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '16' THEN (CASE WHEN H.SRVC_RESRCE_SCLAS_SE_CD IN 
		        <foreach collection="CODE_23" item="code23" index="index" separator="," open="(" close=")">
                    #{code23}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL040101
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '16' THEN (CASE WHEN H.SRVC_RESRCE_SCLAS_SE_CD IN 
		        <foreach collection="CODE_24" item="code24" index="index" separator="," open="(" close=")">
                    #{code24}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL040201
		        , CASE WHEN I.EXCN_SRVC_DETAIA_BIZ_CL_SE_CD = '16' THEN (CASE WHEN H.SRVC_RESRCE_SCLAS_SE_CD IN 
		        <foreach collection="CODE_25" item="code25" index="index" separator="," open="(" close=")">
                    #{code25}
                </foreach> THEN 1 ELSE 0 END) ELSE 0 END AS COL040301
		        , A.CASE_MNG_NO||A.CASE_MNG_ODRNO AS CASE_MNG
		    FROM SEB100 A, SEA200 B, SEB150 C, SCA100 D, SAA000 E, SEB510 F, SEB540 G, SDA100 H, SDA440 I
            WHERE A.UNT_TASKWK_SE_CD = 'U03'            
            AND A.TRPR_INFO_NO = B.TRPR_INFO_NO 
            AND A.CASE_MNG_NO = C.CASE_MNG_NO 
            AND A.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO
            AND C.PCHPRS_YN = 'Y'
            AND C.CASE_PIC_NO = D.ENFSN_NO
            AND D.OGDP_INST_NO = E.INST_NO
            AND A.UNT_TASKWK_SE_CD = E.UNT_TASKWK_SE_CD
            AND E.CTPV_CD = '41' -- 경기도
            AND A.CASE_MNG_NO = F.CASE_MNG_NO 
            AND A.CASE_MNG_ODRNO = F.CASE_MNG_ODRNO
            AND F.SRVC_PVSN_NO = G.SRVC_PVSN_NO(+)
            AND F.RESRCE_NO = G.RESRCE_NO(+)
            AND F.CASE_MNG_NO = G.CASE_MNG_NO(+) 
            AND F.CASE_MNG_ODRNO = G.CASE_MNG_ODRNO(+)
            AND 'N' = G.DEL_YN(+)
            AND G.RESRCE_NO = H.RESRCE_NO(+)
            AND G.EXCN_SRVC_BIZ_CL_NO = I.EXCN_SRVC_BIZ_CL_NO(+)
            AND G.EXCN_SRVC_DETAIA_BIZ_NO = I.EXCN_SRVC_DETAIA_BIZ_NO(+)
		    /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
            <include refid="GroupAuthrtMapper.ggBizStatsGropuAuthrt"/>   
            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
            <if test="SRT_DT != null and SRT_DT != ''">
                    AND A.CASE_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
                </if>
		    <if test="SRVC_PVSN_MTHD_SE_CD != null and SRVC_PVSN_MTHD_SE_CD != ''">
                   AND G.SRVC_PVSN_MTHD_SE_CD = #{SRVC_PVSN_MTHD_SE_CD}
            </if>
            <if test="SXDC_SE_CD != null and SXDC_SE_CD != ''">
                   AND DECODE(B.SXDC_SE_CD, 'X', 'M', B.SXDC_SE_CD) = #{SXDC_SE_CD}
            </if>
		    ) T1
		    , (SELECT DISTINCT T2.CTPV_SE_CD, T2.CTPV_NM FROM SAA020 T2) T2
		    , (SELECT DISTINCT T3.SGG_CD, T3.SGG_NM FROM SAA020 T3) T3
		WHERE T1.CTPV_CD = T2.CTPV_SE_CD
		AND T1.SGG_CD = T3.SGG_CD
        GROUP BY T1.CTPV_CD
            , T2.CTPV_NM
            , T3.SGG_CD
            , T3.SGG_NM
            , T1.INST_NO
            , T1.INST_NM
            , T1.INST_TYPE_SE_CD
            , T1.CASE_MNG
            , T1.TRPR_INFO_NO
            , T1.INDV_IDNTFC_NO) TT1
    </sql>
    
    <select id="selectGgCodeList" parameterType="String" resultType="HashMap">
        /* isry.drmgs.stats.mapper.StatsDrmgsMapper.selectGgCodeList */
        SELECT CMMNS_CD_VALUE
		    , UP_CMMNS_CD_VALUE
		    , CMMNS_CD_VALUE_NM
		    , ADDTNG_MNG_VALUE1
		    , ADDTNG_MNG_VALUE2
		    , ADDTNG_MNG_VALUE3
		    , ADDTNG_MNG_VALUE4
		    , ADDTNG_MNG_VALUE5
		FROM SAC100
		WHERE CMMNS_CD_ID = #{CMMNS_CD_ID}
    </select>
</mapper>

