<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.drmgs.chup.mapper.ChupPreconMapper">

    <select id="selectChupPreconList" parameterType="HashMap" resultType="HashMap">
        <!-- 페이지 인덱서 헤더 -->
        <include refid="ComPagingMapper.pageHeader" />
        <![CDATA[
        /* isry.drmgs.chup.mapper.ChupPreconMapper.selectChupPreconList - 응용2팀 강화영  */
        
            TT10.*
          FROM ( SELECT A.CASE_MNG_NO   AS CASE_MNG_NO          /* 사례관리번호 */
			      , A.CASE_MNG_ODRNO         AS CASE_MNG_ODRNO       /* 사례관리차수 */
			      , A.CASE_BGNG_YMD          AS CASE_BGNG_YMD        /* 사례시작일자 */
			      , C##RG.DEC_B64(B.TRPR_NM_ENCPT) AS YNGBGS      /* 이름 */
			      , NVL(B.SXDC_SE_CD, 'X')   AS SXDC                 /* 성별 */    
			      , B.TRPR_BRTH_YMD                                  /* 생년월일 */
			      , NVL2(D.SRVC_PVSN_BGNG_YMD, 'Y', 'N')                          AS INSPTN_YN            /* 수검여부 */
			      , D.SRVC_PVSN_BGNG_YMD      AS INSPTN_YMD           /* 수검일자 */
			      , TO_CHAR(D.FRST_REG_DT, 'YYYYMMDD') AS JOIN_FRST_DT
			      , A.FRST_REG_DT
			      , A.YNGBGS_STTS_LCLAS_SE_CD
			      , A.YNGBGS_STTS_SCLAS_SE_CD
			      , (SELECT UP_CMMNS_CD_VALUE
			          FROM SAC100
			         WHERE CMMNS_CD_ID    = 'CASE_PRGRS_STTS_SE_CD'
			           AND CMMNS_CD_VALUE = A.CASE_PRGRS_STTS_SE_CD)                 AS CASE_PRGRS_STTS_SE_CD   /* 사례진행상태유형구분코드 */
			      /* 2022.08.22 Lee SeungYeon - 권한적용을 위한 항목 추가 */
			      , C.CASE_PIC_NO            AS ENFSN_NO             /* 사례담당자번호(종사자번호) */
			      , C.PIC_INST_NO            AS INST_NO              /* 담당자기관번호(기관번호) */
			      , A.YNGBGS_SE_NO                                   /* 청소년구분번호 */      
			   FROM SEB100 A /* 사례기본 */
			      , SEA200 B /* 대상자정보 */
			      , SEB150 C /* 사례담당자 */
			      , (SELECT T1.CASE_MNG_NO, T1.CASE_MNG_ODRNO, T1.RESRCE_NO, MAX(T2.SRVC_PVSN_BGNG_YMD) AS SRVC_PVSN_BGNG_YMD, MAX(T2.FRST_REG_DT) AS FRST_REG_DT
                       FROM SEB510 T1, SEB500 T2, SDA100 T3
                       WHERE 1=1
                       AND T1.SRVC_PVSN_NO = T2.SRVC_PVSN_NO AND T1.RESRCE_NO = T2.RESRCE_NO 
                       AND T1.RESRCE_NO = T3.RESRCE_NO
                       /* 20230710 건강검진수검 판단여부 변경
                        * SRVC_RESRCE_MLSFC_SE_CD = '0203' 을 SRVC_RESRCE_SCLAS_SE_CD = '020304'으로 변경
                        */
                       --AND T3.SRVC_RESRCE_MLSFC_SE_CD = '0203' /* 건강검진 */
                       AND T3.SRVC_RESRCE_SCLAS_SE_CD = '020304' /* 건강검진수검 */
                       GROUP BY T1.CASE_MNG_NO, T1.CASE_MNG_ODRNO, T1.RESRCE_NO) D
			  WHERE 1 = 1
			    AND A.UNT_TASKWK_SE_CD = 'U03'
			    AND A.TRPR_INFO_NO     = B.TRPR_INFO_NO
			    AND A.CASE_MNG_NO      = C.CASE_MNG_NO
			    AND A.CASE_MNG_ODRNO   = C.CASE_MNG_ODRNO
			    AND 'Y'                 = C.PCHPRS_YN
			    AND A.CASE_MNG_NO = D.CASE_MNG_NO(+)
			    AND A.CASE_MNG_ODRNO = D.CASE_MNG_ODRNO(+)
				    ]]>
				/* 20230228_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/                               
                <include refid="GroupAuthrtMapper.actvtSafetyMuaiasGropuAuthrt"/>                                   
                /* 20230228_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/   
				    <if test="CASE_PRGRS_STTS_SE_CD != null and CASE_PRGRS_STTS_SE_CD != ''">
			          <![CDATA[
			               AND A.CASE_PRGRS_STTS_SE_CD IN (SELECT CMMNS_CD_VALUE FROM SAC100
			                                                 WHERE CMMNS_CD_ID       = 'CASE_PRGRS_STTS_SE_CD'
			                                                   AND UP_CMMNS_CD_VALUE = #{CASE_PRGRS_STTS_SE_CD})
			          ]]>
			        </if>
				    <![CDATA[
			   ) TT10
		   WHERE 1=1
		]]>
		<if test='INSPTN_YN != null and INSPTN_YN != ""'>
           AND TT10.INSPTN_YN  = #{INSPTN_YN}
        </if>
		<if test="START_CASE_YMD != null and START_CASE_YMD != '' and END_CASE_YMD != null and END_CASE_YMD != ''">
		    <![CDATA[
		    AND TT10.CASE_BGNG_YMD BETWEEN #{START_CASE_YMD} AND #{END_CASE_YMD}
            ]]>
		</if>
		<if test="START_DATE != null and START_DATE != ''">
	      <![CDATA[
	           AND TO_CHAR(TT10.FRST_REG_DT, 'YYYYMMDD') BETWEEN #{START_DATE} AND #{END_DATE}
	      ]]>
	    </if>
	    <if test='TRPR_NM_ENCPT != null and TRPR_NM_ENCPT != ""'>
           AND TT10.YNGBGS  = #{TRPR_NM_ENCPT}
        </if>
        <!-- 페이지 인덱서 OFFSET 조건 -->
        <include refid="ComPagingMapper.pageOffset"/>
    </select>
    
    <select id="selectChupPopupList" parameterType="HashMap" resultType="HashMap">
        <![CDATA[
            SELECT A.CASE_MNG_NO
			    , A.CASE_MNG_ODRNO
			    , ROWNUM AS INDEX_SN
			    , B.FRST_REG_DT
			    , B.SRVC_PVSN_BGNG_YMD AS INSPTN_YMD
			    , B.SRVC_PVSN_TTL_NM AS RESRCE
			FROM SEB510 A, SEB500 B, SDA100 C
			WHERE A.CASE_MNG_NO = #{CASE_MNG_NO}
			AND A.CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
			AND A.SRVC_PVSN_NO = B.SRVC_PVSN_NO
			AND A.RESRCE_NO = B.RESRCE_NO
			AND B.RESRCE_NO = C.RESRCE_NO
			AND C.SRVC_RESRCE_MLSFC_SE_CD = '0203' /* 건강검진 */
        ]]>
    </select>
    
    <!-- 사례 목록 조회 -->
    <select id="selectChilIltrtCrisisScrennCnt" parameterType="HashMap" resultType="String">
       SELECT           
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
            /* isry.drmgs.chup.mapper.ChupPreconMapper.selectChilIltrtCrisisScrennCnt */
            count(1)
        FROM (    
            SELECT
                  T99.*              
             FROM (
                    SELECT /*+ INDEX_DESC(T1 SEB100_PK)*/ T1.CASE_MNG_NO                                                     AS CASE_MNG_NO                  /* 사례관리번호 */
                        , T1.CASE_MNG_ODRNO                                                  AS CASE_MNG_ODRNO               /* 사례관리차수 */
                        , T1.FRST_REG_DT                                                     AS FRST_REG_DT2                  /* 등록일자 */
                        , T2.TRPR_INFO_NO                                                    AS TRPR_INFO_NO                 /* 대상자정보번호 */
                        , C##RG.DEC_B64(T2.TRPR_NM_ENCPT)                                 AS TRPR_NM_ENCPT                /* 대상자명 */
                        , TO_CHAR(TO_DATE(REPLACE(T2.TRPR_BRTH_YMD, '-', '')), 'YYYY-MM-DD') AS TRPR_BRTH_YMD                /* 대상자출생일자 */
                        , T2.SXDC_SE_CD                                                   AS SXDC_SE_CD                   /* 대상자성별구분코드 */
                        , T1.YNGBGS_STTS_LCLAS_SE_CD                                         AS YNGBGS_STTS_LCLAS_SE_CD      /* 청소년상태대분류구분코드 */
                        , T1.YNGBGS_STTS_SCLAS_SE_CD                                         AS YNGBGS_STTS_SCLAS_SE_CD      /* 청소년상태소분류구분코드 */
                        , T1.YNGBGS_SE_NO                                                    AS YNGBGS_SE_NO                 /* 청소년구분번호 */
                        , C##RG.DEC_B64(X.FLNM_ENCPT)                                    AS PIC_NM_ENCPT                 /* 담당자명(주담당자기준) */
                        , Y.PIC_INST_NO                                                     AS PIC_INST_NO                  /* 담당기관(주담당자기준) */
                        , CASE WHEN X.JBPS_NM IS NOT NULL THEN X.JBPS_NM
                           ELSE (SELECT TT1.CMMNS_CD_VALUE_NM FROM SAC100 TT1
                                   WHERE TT1.CMMNS_CD_ID = 'JBPS_SE_CD'
                                   AND TT1.CMMNS_CD_VALUE = X.JBPS_SE_CD) END                AS JBPS_NM                 /* 담당자직위명(주담당자기준) */
                        , X.JBPS_SE_CD                                                    AS JBPS_SE_CD                 /* 담당자직위구분코드(주담당자기준) */
                        , Z.INST_NM                                                       AS INST_NM                      /* 담당기관명(주담당자기준) */
                        , T2.CASE_TRPR_TYPE_SE_CD                                            AS CASE_TRPR_TYPE_SE_CD         /* 사례대상자유형구분코드 */
                        , T1.CASE_PRGRS_STTS_SE_CD                                           AS CASE_PRGRS_STTS_SE_CD        /* 사례진행상태구분코드 */
                        , T1.UNT_TASKWK_SE_CD                                                AS UNT_TASKWK_SE_CD             /* 단위업무구분코드 */
                        , T2.TRMN_CASE_MNG_NO                                                AS TRMN_CASE_MNG_NO             /* 종결사례관리번호 */
                        , T2.TRMN_CASE_MNG_ODRNO                                             AS TRMN_CASE_MNG_ODRNO          /* 종결사례관리차수 */
                        , T1.CASE_BGNG_YMD AS CASE_BGNG_YMD
                        , T1.CASE_TRMN_YMD AS CASE_TRMN_YMD
                        , CASE WHEN T1.CASE_PRGRS_STTS_SE_CD = '01'                   THEN 'REG'   /* 등록 */
                            WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('02','03','06','12') THEN 'PRGRS' /* 진행 */
                            WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10')      THEN 'TRMN'  /* 종결 */
                            ELSE ''
                        END                                 AS STEP_SE
                        , T2.RCPT_PIC_NO                    AS RCPT_PIC_NO
                        , Z.CTPV_CD                         AS CTPV_CD
                        , T1.ORGNL_CASE_MNG_NO              AS ORGNL_CASE_MNG_NO
                        , ROWNUM AS SEQ
                    FROM SEB100 T1
                     , SEA200 T2
                     , SCA100 X          
                     , SEB150 Y
                    ,  SAA000 Z
                    WHERE 1=1 
                    AND T1.TRPR_INFO_NO  = T2.TRPR_INFO_NO                                                                      
                    AND Z.INST_NO        = Y.PIC_INST_NO
                    AND X.ENFSN_NO       = Y.CASE_PIC_NO
                    AND Y.PCHPRS_YN      = 'Y' 
                    AND Y.CASE_MNG_NO    = T1.CASE_MNG_NO
                    AND Y.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO 
                    <include refid="CASE_LIST_WHERE"></include>
                  ) T99
           WHERE 1 = 1
        ) TT, SAC100 A, AKA000 T2
        WHERE TT.CASE_PRGRS_STTS_SE_CD = A.CMMNS_CD_VALUE(+)
        AND 'CASE_PRGRS_STTS_SE_CD' = A.CMMNS_CD_ID(+)
        AND TT.CASE_MNG_NO = T2.CASE_MNG_NO(+)
        AND TT.CASE_MNG_ODRNO = T2.CASE_MNG_ODRNO(+)
        <if test="CRISIS_SCRENN_YN != null and CRISIS_SCRENN_YN != ''">
        <![CDATA[
            AND T2.CRISIS_SCRENN_YN     = #{CRISIS_SCRENN_YN}
        ]]>
        </if>
        <if test="CLIENA_RPT_YN != null and CLIENA_RPT_YN != ''">
        <![CDATA[
            AND T2.CLIENA_RPT_YN     = #{CLIENA_RPT_YN}
        ]]>
        </if>
        <if test="OUTHFA_FTSPT_EXPMN_YN != null and OUTHFA_FTSPT_EXPMN_YN != ''">
        <![CDATA[
            AND T2.OUTHFA_FTSPT_EXPMN_YN     = #{OUTHFA_FTSPT_EXPMN_YN}
        ]]>
        </if>
        <if test="ETC_CRISIS_SITTN_SGN_YN != null and ETC_CRISIS_SITTN_SGN_YN != ''">
        <![CDATA[
            AND T2.ETC_CRISIS_SITTN_SGN_YN     = #{ETC_CRISIS_SITTN_SGN_YN}
        ]]>
        </if>
    </select>
    
    <!-- 사례 목록 조회 -->
    <select id="selectChilIltrtCrisisScrennList" parameterType="HashMap" resultType="HashMap">
        SELECT           
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
            /* isry.drmgs.chup.mapper.ChupPreconMapper.selectChilIltrtCrisisScrennList */
            TT.*
            , A.UP_CMMNS_CD_VALUE                 AS CASE_PRGRS_STTS_TYPE_SE_CD   /* 사례진행상태유형구분코드 */
            , TO_CHAR(TT.FRST_REG_DT2,  'YYYY-MM-DD')                             AS FRST_REG_DT                  /* 등록일자 */
            , T2.CRISIS_SCRENN_YN
            , T2.CLIENA_RPT_YN
            , T2.OUTHFA_FTSPT_EXPMN_YN
            , T2.ETC_CRISIS_SITTN_SGN_YN
        FROM (    
            SELECT
                  T99.*              
             FROM (
                    SELECT /*+ INDEX_DESC(T1 SEB100_PK)*/ T1.CASE_MNG_NO                                                     AS CASE_MNG_NO                  /* 사례관리번호 */
                        , T1.CASE_MNG_ODRNO                                                  AS CASE_MNG_ODRNO               /* 사례관리차수 */
                        , T1.FRST_REG_DT                                                     AS FRST_REG_DT2                  /* 등록일자 */
                        , T2.TRPR_INFO_NO                                                    AS TRPR_INFO_NO                 /* 대상자정보번호 */
                        , C##RG.DEC_B64(T2.TRPR_NM_ENCPT)                                 AS TRPR_NM_ENCPT                /* 대상자명 */
                        , TO_CHAR(TO_DATE(REPLACE(T2.TRPR_BRTH_YMD, '-', '')), 'YYYY-MM-DD') AS TRPR_BRTH_YMD                /* 대상자출생일자 */
                        , T2.SXDC_SE_CD                                                   AS SXDC_SE_CD                   /* 대상자성별구분코드 */
                        , T1.YNGBGS_STTS_LCLAS_SE_CD                                         AS YNGBGS_STTS_LCLAS_SE_CD      /* 청소년상태대분류구분코드 */
                        , T1.YNGBGS_STTS_SCLAS_SE_CD                                         AS YNGBGS_STTS_SCLAS_SE_CD      /* 청소년상태소분류구분코드 */
                        , T1.YNGBGS_SE_NO                                                    AS YNGBGS_SE_NO                 /* 청소년구분번호 */
                        , C##RG.DEC_B64(X.FLNM_ENCPT)                                    AS PIC_NM_ENCPT                 /* 담당자명(주담당자기준) */
                        , Y.PIC_INST_NO                                                     AS PIC_INST_NO                  /* 담당기관(주담당자기준) */
                        , CASE WHEN X.JBPS_NM IS NOT NULL THEN X.JBPS_NM
                           ELSE (SELECT TT1.CMMNS_CD_VALUE_NM FROM SAC100 TT1
                                   WHERE TT1.CMMNS_CD_ID = 'JBPS_SE_CD'
                                   AND TT1.CMMNS_CD_VALUE = X.JBPS_SE_CD) END                AS JBPS_NM                 /* 담당자직위명(주담당자기준) */
                        , X.JBPS_SE_CD                                                    AS JBPS_SE_CD                 /* 담당자직위구분코드(주담당자기준) */
                        , Z.INST_NM                                                       AS INST_NM                      /* 담당기관명(주담당자기준) */
                        , T2.CASE_TRPR_TYPE_SE_CD                                            AS CASE_TRPR_TYPE_SE_CD         /* 사례대상자유형구분코드 */
                        , T1.CASE_PRGRS_STTS_SE_CD                                           AS CASE_PRGRS_STTS_SE_CD        /* 사례진행상태구분코드 */
                        , T1.UNT_TASKWK_SE_CD                                                AS UNT_TASKWK_SE_CD             /* 단위업무구분코드 */
                        , T2.TRMN_CASE_MNG_NO                                                AS TRMN_CASE_MNG_NO             /* 종결사례관리번호 */
                        , T2.TRMN_CASE_MNG_ODRNO                                             AS TRMN_CASE_MNG_ODRNO          /* 종결사례관리차수 */
                        , T1.CASE_BGNG_YMD AS CASE_BGNG_YMD
                        , T1.CASE_TRMN_YMD AS CASE_TRMN_YMD
                        , CASE WHEN T1.CASE_PRGRS_STTS_SE_CD = '01'                   THEN 'REG'   /* 등록 */
                            WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('02','03','06','12') THEN 'PRGRS' /* 진행 */
                            WHEN T1.CASE_PRGRS_STTS_SE_CD IN ('04','08','10')      THEN 'TRMN'  /* 종결 */
                            ELSE ''
                        END                                 AS STEP_SE
                        , T2.RCPT_PIC_NO                    AS RCPT_PIC_NO
                        , Z.CTPV_CD                         AS CTPV_CD
                        , T1.ORGNL_CASE_MNG_NO              AS ORGNL_CASE_MNG_NO
                        , ROWNUM AS SEQ
                    FROM SEB100 T1
                     , SEA200 T2
                     , SCA100 X          
                     , SEB150 Y
                    ,  SAA000 Z
                    WHERE 1=1 
                    AND T1.TRPR_INFO_NO  = T2.TRPR_INFO_NO                                                                      
                    AND Z.INST_NO        = Y.PIC_INST_NO
                    AND X.ENFSN_NO       = Y.CASE_PIC_NO
                    AND Y.PCHPRS_YN      = 'Y' 
                    AND Y.CASE_MNG_NO    = T1.CASE_MNG_NO
                    AND Y.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO 
                    <include refid="CASE_LIST_WHERE"></include>
                  ) T99
           WHERE 1 = 1
           <![CDATA[
            AND T99.SEQ >= #{START_IDX} AND T99.SEQ <= #{LAST_IDX}
            ]]>
        ) TT, SAC100 A, AKA000 T2
        WHERE TT.CASE_PRGRS_STTS_SE_CD = A.CMMNS_CD_VALUE(+)
        AND 'CASE_PRGRS_STTS_SE_CD' = A.CMMNS_CD_ID(+)
        AND TT.CASE_MNG_NO = T2.CASE_MNG_NO(+)
        AND TT.CASE_MNG_ODRNO = T2.CASE_MNG_ODRNO(+)
        <if test="CRISIS_SCRENN_YN != null and CRISIS_SCRENN_YN != ''">
        <![CDATA[
            AND T2.CRISIS_SCRENN_YN     = #{CRISIS_SCRENN_YN}
        ]]>
        </if>
        <if test="CLIENA_RPT_YN != null and CLIENA_RPT_YN != ''">
        <![CDATA[
            AND T2.CLIENA_RPT_YN     = #{CLIENA_RPT_YN}
        ]]>
        </if>
        <if test="OUTHFA_FTSPT_EXPMN_YN != null and OUTHFA_FTSPT_EXPMN_YN != ''">
        <![CDATA[
            AND T2.OUTHFA_FTSPT_EXPMN_YN     = #{OUTHFA_FTSPT_EXPMN_YN}
        ]]>
        </if>
        <if test="ETC_CRISIS_SITTN_SGN_YN != null and ETC_CRISIS_SITTN_SGN_YN != ''">
        <![CDATA[
            AND T2.ETC_CRISIS_SITTN_SGN_YN     = #{ETC_CRISIS_SITTN_SGN_YN}
        ]]>
        </if>
    </select>

    <sql id="CASE_LIST_WHERE">
        <![CDATA[
           /* 등록일자 조회 */                        
           AND T1.FRST_REG_DT >= TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS') 
           AND T1.FRST_REG_DT <= TO_DATE(#{END_DATE} || '235959', 'YYYYMMDDHH24MISS') 
         ]]>
        <if test="CASE_PRGRS_STTS_TYPE_SE_CD != null and CASE_PRGRS_STTS_TYPE_SE_CD != ''">
         <![CDATA[
           AND T1.CASE_PRGRS_STTS_SE_CD IN (SELECT CMMNS_CD_VALUE FROM SAC100
                                             WHERE CMMNS_CD_ID       = 'CASE_PRGRS_STTS_SE_CD'
                                               AND UP_CMMNS_CD_VALUE = #{CASE_PRGRS_STTS_TYPE_SE_CD})
         ]]>
        </if>
        <if test="CASE_PRGRS_STTS_SE_CD != null and CASE_PRGRS_STTS_SE_CD != ''">
           AND T1.CASE_PRGRS_STTS_SE_CD = #{CASE_PRGRS_STTS_SE_CD}
        </if>
        <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
         <![CDATA[
           AND T1.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
         ]]>
        </if>
        <choose>
            <when test="INST_NOS != null and INST_NOS.size == 1">
                <![CDATA[
                AND (T1.CASE_MNG_NO, T1.CASE_MNG_ODRNO) 
                    IN (SELECT YY.CASE_MNG_NO,YY.CASE_MNG_ODRNO  
                        FROM SEB150 YY
                        WHERE 1=1
                        AND YY.PIC_INST_NO = #{INST_NOS[0]}
                   ]]>
                   )
            </when>
            <when test="INST_NOS != null and INST_NOS.size > 1">
                <![CDATA[
                AND (T1.CASE_MNG_NO, T1.CASE_MNG_ODRNO) 
                    IN (SELECT YY.CASE_MNG_NO,YY.CASE_MNG_ODRNO  
                        FROM SEB150 YY
                        WHERE 1=1
                        AND YY.PIC_INST_NO IN             
                    ]]>
                    <foreach collection="INST_NOS" item="item" open="("
                        separator="," close=")">
                        #{item}
                    </foreach>
                )
            </when>
        </choose>
        <if test=" GROUP_AUTHRT_SE_CD.SUBSTR(1,3) eq '40'.toString() ">
            <![CDATA[
            AND EXISTS (SELECT 1 FROM SEB150 YY
                WHERE 1=1
                AND T1.CASE_MNG_NO = YY.CASE_MNG_NO 
                AND T1.CASE_MNG_ODRNO = YY.CASE_MNG_ODRNO
                AND YY.PIC_DSGN_YMD <= TO_CHAR(SYSDATE,'YYYYMMDD')
                AND YY.CASE_PIC_NO = #{ENFSN_NO}
            )
            ]]>
        </if>
        <if test="YNGBGS_STTS_LCLAS_SE_CD != null and YNGBGS_STTS_LCLAS_SE_CD != ''">
        <![CDATA[
          AND T1.YNGBGS_SE_NO LIKE '%' || #{YNGBGS_STTS_LCLAS_SE_CD} || '%'
        ]]>
        </if>
        <if test="YNGBGS_STTS_SCLAS_SE_CD != null and YNGBGS_STTS_SCLAS_SE_CD != ''">
        <![CDATA[
          AND T1.YNGBGS_STTS_SCLAS_SE_CD = #{YNGBGS_STTS_SCLAS_SE_CD}
        ]]>
        </if>
        <if test="CASE_TRPR_TYPE_SE_CD != null and CASE_TRPR_TYPE_SE_CD != ''">
        <![CDATA[
          AND T2.CASE_TRPR_TYPE_SE_CD  = #{CASE_TRPR_TYPE_SE_CD}
        ]]>
        </if>
        <if test="ENFSN_ROLE_SE_CD != null and ENFSN_ROLE_SE_CD != ''">
          <if test='ENFSN_ROLE_SE_CD !="1" and ENFSN_ROLE_SE_CD !="2"'>
          <![CDATA[
          AND T2.RCPT_PIC_NO = #{USER_ID}
          ]]>
        </if>
        </if>
        <if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
        <![CDATA[
            AND EXISTS (SELECT 1 FROM SEB120 B
            WHERE B.CASE_MNG_NO     = T1.CASE_MNG_NO
              AND B.CASE_MNG_ODRNO  = T1.CASE_MNG_ODRNO
              AND B.DEL_YN         = 'N'
              AND B.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
            )
        ]]>
        </if>
        <if test="APRV_YN != null and APRV_YN != ''">
        <![CDATA[
            AND EXISTS (SELECT 1 FROM AFA410 B
            WHERE B.CASE_MNG_NO     = T1.CASE_MNG_NO
             AND B.CASE_MNG_ODRNO   = T1.CASE_MNG_ODRNO
             AND B.APRV_YN          = #{APRV_YN}
            )
        ]]>
        </if>
        <if test="PIC_NM_ENCPT != null and PIC_NM_ENCPT != ''">
        <![CDATA[
            AND X.FLNM_ENCPT      = C##RG.ENC_B64(#{PIC_NM_ENCPT})
        ]]>
        </if>
        <if test="TRPR_NM_ENCPT != null and TRPR_NM_ENCPT != ''">
        <![CDATA[
            AND T2.TRPR_NM_ENCPT     = C##RG.ENC_B64(#{TRPR_NM_ENCPT})
        ]]>
        </if>
        <if test="INST_NM != null and INST_NM != ''">
        <![CDATA[
            AND(Y.PIC_INST_NO       = #{INST_NO}
             OR Z.INST_NM           = #{INST_NM})
        ]]>
        </if>         
        <if test="JBPS_SE_CD != null and JBPS_SE_CD != ''">
            AND X.JBPS_SE_CD = #{JBPS_SE_CD}
        </if>
        <if test="ORGNL_CASE_MNG_NO != null and ORGNL_CASE_MNG_NO != ''">
            AND T1.ORGNL_CASE_MNG_NO IS NOT NULL
        </if>
        <if test="CASE_MNG_NO != null and CASE_MNG_NO != ''">
            AND T1.CASE_MNG_NO      = #{CASE_MNG_NO}
        </if>
        <if test="CASE_MNG_ODRNO != null and CASE_MNG_ODRNO != ''">
            AND T1.CASE_MNG_ODRNO      = #{CASE_MNG_ODRNO}
        </if>
    </sql>
</mapper>
