<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.sysmgmt.userlogin.mapper.DisconnectUserMapper">

    <select id="selectDisconnectUser" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectDisconnectUser */
        
        SELECT
            X.USER_ID,
            X.DISCONNECT_YN,
            C##RG.DEC_B64(X.USER_NM) AS USER_NM,
            X.USER_TYPE,
            TO_CHAR(X.LAST_LOGIN_TIME, 'YYYY-MM-DD HH24:MI:SS') AS LAST_LOGIN_TIME,
            TO_CHAR(X.JOIN_APLY_DT, 'YYYY-MM-DD HH24:MI:SS') AS JOIN_APLY_DT
            , X.UNT_TASKWK_SE_CD
            , X.INST_NM
            , X.INST_TYPE_SE_CD /* 기관유형 */
            , X.USER_CNTN_INTRCP_SE_CD
            , X.USER_CNTN_INTRCP_CS_CN
            
        FROM 
        (
        SELECT 
            AA.*
        ,   G.FRST_REG_DT AS LAST_LOGIN_TIME
        FROM (
            SELECT
                C.USER_ID, 
                NVL(C.USER_CNTN_INTRCP_YN, 'N') AS DISCONNECT_YN, 
                CASE 
                    WHEN C.ENFSN_NO is not null THEN D.FLNM_ENCPT  
                    WHEN C.YNGBGS_PRTCR_NO  is not null THEN F.FLNM_ENCPT 
                ELSE '' 
                END AS USER_NM, 
                CASE 
                    WHEN C.ENFSN_NO  is not null  THEN 'WORKER'  
                    WHEN C.YNGBGS_PRTCR_NO  is not null AND F.YNGBGS_PRTCR_SE_CD = 'Y' THEN 'YOUTH' 
                    WHEN C.YNGBGS_PRTCR_NO  is not null AND F.YNGBGS_PRTCR_SE_CD = 'G' THEN 'GUARDIAN' 
                    ELSE '' 
                END AS USER_TYPE, 
                C.JOIN_APLY_DT AS JOIN_APLY_DT
                , E.UNT_TASKWK_SE_CD
                , E.INST_NM
                , E.INST_TYPE_SE_CD /* 기관유형 */
                , C.USER_CNTN_INTRCP_SE_CD
                , C.USER_CNTN_INTRCP_CS_CN
                
            FROM SAA200 C /* 사용자 */
                LEFT JOIN SCA100 D /* 종사자 */ ON D.ENFSN_NO = C.ENFSN_NO
                LEFT JOIN SAA000 E /* 기관 */ ON E.INST_NO = D.OGDP_INST_NO
                LEFT JOIN SCA200 F /* 청소년 보호자 */ ON F.YNGBGS_PRTCR_NO = C.YNGBGS_PRTCR_NO
            WHERE 1=1
    ]]>
    <if test='USER_TYPE == "WORKER"'>
        <![CDATA[
            -- 사용자유형 - 종사자로 조회
            AND C.ENFSN_NO is not null
        ]]>
    </if>
    <if test='USER_TYPE == "YOUTH"'>
        <![CDATA[
            -- 사용자유형 - 청소년로 조회
            AND C.YNGBGS_PRTCR_NO is not null
            AND F.YNGBGS_PRTCR_SE_CD = 'Y'
        ]]>
    </if>
    <if test='USER_TYPE == "GUARDIAN"'>
        <![CDATA[
            -- 사용자유형 - 보호자로 조회
            AND C.YNGBGS_PRTCR_NO is not null
            AND F.YNGBGS_PRTCR_SE_CD = 'G'
        ]]>
    </if>
    <if test='UNT_TASKWK_SE_CD != NULL and UNT_TASKWK_SE_CD != ""'>
        <![CDATA[
            -- 업무단위구분으로 조회
            AND E.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        ]]>
    </if>
    <if test='INST_NM != NULL and INST_NM != ""'>
        <![CDATA[
            -- 기관으로 조회
            AND E.INST_NM LIKE '%' || #{INST_NM} ||'%'
        ]]>
    </if>
    <if test='USER_NM != NULL and USER_NM != ""'>
        <![CDATA[
            -- 사용자명
            AND (D.FLNM_ENCPT = C##RG.ENC_B64(#{USER_NM}) OR F.FLNM_ENCPT = C##RG.ENC_B64(#{USER_NM}))
    ]]>
    </if>
    <if test="USER_ID != null and USER_ID != ''">
    <![CDATA[
            -- 사용자 ID
            AND C.USER_ID LIKE '%' || #{USER_ID} || '%'
    ]]>
    </if>
    <if test="DISCONNECT_YN != null and DISCONNECT_YN != ''">
    <![CDATA[
            -- 차단 여부
            AND C.USER_CNTN_INTRCP_YN = #{DISCONNECT_YN}
    ]]>
    </if>
    <if test="INST_TYPE_SE_CD != null and INST_TYPE_SE_CD != ''">
    <![CDATA[
            -- 기관 유형
            AND E.INST_TYPE_SE_CD = #{INST_TYPE_SE_CD}
    ]]>
    </if>
    <![CDATA[
        ) AA
        
        LEFT JOIN 
            (SELECT T.*
                , ROW_NUMBER() OVER(PARTITION BY T.FRST_RGTR_ID ORDER BY T.FRST_REG_DT DESC) AS RN
            FROM SAB930 T
            WHERE T.LGN_LGT_SE_CD = 'I'
            AND T.LGN_SCS_YN = 'S'
            ) G /* 접속 로그 */ 
            ON G.FRST_RGTR_ID = AA.USER_ID AND G.RN = 1
            WHERE 1=1
    ]]>
    <if test="LAST_LOGIN_FROM != null and LAST_LOGIN_FROM != ''">
    <![CDATA[
            -- 마지막로그인 시작일자
            AND G.FRST_REG_DT >= TO_DATE(#{LAST_LOGIN_FROM} || ' 00:00:00', 'YYYYMMDD HH24:MI:SS')
    ]]>
    </if>
    <if test="LAST_LOGIN_TO != null and LAST_LOGIN_TO != ''">
    <![CDATA[
            -- 마지막로그인 종료일자
            AND G.FRST_REG_DT <= TO_DATE(#{LAST_LOGIN_TO} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
    ]]>
    </if>
        ) X
        ORDER BY X.JOIN_APLY_DT DESC
        OFFSET #{START_IDX} ROWS FETCH NEXT #{ROW_SIZE} ROWS ONLY
    </select>


    <select id="selectDisconnectUserCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* selectDisconnectUserCount */
    
        SELECT
            COUNT(*)
        FROM 
        (
        SELECT 
            AA.*
        ,   G.FRST_REG_DT AS LAST_LOGIN_TIME
        FROM (
            SELECT
                C.USER_ID, 
                NVL(C.USER_CNTN_INTRCP_YN, 'N') AS DISCONNECT_YN, 
                CASE 
                    WHEN C.ENFSN_NO > '0' THEN D.FLNM_ENCPT 
--                  WHEN C.INST_NO > '0' THEN E.INST_NM 
                    WHEN C.YNGBGS_PRTCR_NO > '0' THEN F.FLNM_ENCPT 
                ELSE '' 
                END AS USER_NM, 
                CASE 
                    WHEN C.ENFSN_NO is not null  THEN 'WORKER'  
                    WHEN C.YNGBGS_PRTCR_NO is not null AND F.YNGBGS_PRTCR_SE_CD = 'Y' THEN 'YOUTH' 
                    WHEN C.YNGBGS_PRTCR_NO is not null AND F.YNGBGS_PRTCR_SE_CD = 'G' THEN 'GUARDIAN' 
                    ELSE '' 
                END AS USER_TYPE, 
                C.JOIN_APLY_DT AS JOIN_APLY_DT
                , E.UNT_TASKWK_SE_CD
                , E.INST_NM
            FROM SAA200 C /* 사용자 */
                LEFT JOIN SCA100 D /* 종사자 */ ON D.ENFSN_NO = C.ENFSN_NO
                LEFT JOIN SAA000 E /* 기관 */ ON E.INST_NO = D.OGDP_INST_NO
                LEFT JOIN SCA200 F /* 청소년 보호자 */ ON F.YNGBGS_PRTCR_NO = C.YNGBGS_PRTCR_NO
            WHERE 1=1
    ]]>
    <if test='USER_TYPE == "WORKER"'>
        <![CDATA[
            -- 사용자유형 - 종사자로 조회
            AND C.ENFSN_NO is not null
        ]]>
    </if>
    <if test='USER_TYPE == "YOUTH"'>
        <![CDATA[
            -- 사용자유형 - 청소년로 조회
            AND C.YNGBGS_PRTCR_NO is not null
            AND F.YNGBGS_PRTCR_SE_CD = 'Y'
        ]]>
    </if>
    <if test='USER_TYPE == "GUARDIAN"'>
        <![CDATA[
            -- 사용자유형 - 보호자로 조회
            AND C.YNGBGS_PRTCR_NO is not null
            AND F.YNGBGS_PRTCR_SE_CD = 'G'
        ]]>
    </if>
    <if test='UNT_TASKWK_SE_CD != NULL and UNT_TASKWK_SE_CD != ""'>
        <![CDATA[
            -- 업무단위구분으로 조회
            AND E.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        ]]>
    </if>
    <if test='INST_NM != NULL and INST_NM != ""'>
        <![CDATA[
            -- 기관으로 조회
            AND E.INST_NM LIKE '%' || #{INST_NM} ||'%'
        ]]>
    </if>
    <if test='USER_NM != NULL and USER_NM != ""'>
        <![CDATA[
            -- 사용자명
            AND (D.FLNM_ENCPT = C##RG.ENC_B64(#{USER_NM}) OR F.FLNM_ENCPT = C##RG.ENC_B64(#{USER_NM}))
    ]]>
    </if>
    <if test="USER_ID != null and USER_ID != ''">
    <![CDATA[
            -- 사용자 ID
            AND C.USER_ID LIKE '%' || #{USER_ID} || '%'
    ]]>
    </if>
    <if test="DISCONNECT_YN != null and DISCONNECT_YN != ''">
    <![CDATA[
            -- 차단 여부
            AND C.USER_CNTN_INTRCP_YN = #{DISCONNECT_YN}
    ]]>
    </if>
    <if test="INST_TYPE_SE_CD != null and INST_TYPE_SE_CD != ''">
    <![CDATA[
            -- 기관 유형
            AND E.INST_TYPE_SE_CD = #{INST_TYPE_SE_CD}
    ]]>
    </if>
    <![CDATA[
        ) AA
        
        LEFT JOIN 
            (SELECT T.*
                , ROW_NUMBER() OVER(PARTITION BY T.FRST_RGTR_ID ORDER BY T.FRST_REG_DT DESC) AS RN
            FROM SAB930 T
            WHERE T.LGN_LGT_SE_CD = 'I'
            AND T.LGN_SCS_YN = 'S'
            ) G /* 접속 로그 */ 
            ON G.FRST_RGTR_ID = AA.USER_ID AND G.RN = 1
            WHERE 1=1
    ]]>
    <if test="LAST_LOGIN_FROM != null and LAST_LOGIN_FROM != ''">
    <![CDATA[
            -- 마지막로그인 시작일자
            AND G.FRST_REG_DT >= TO_DATE(#{LAST_LOGIN_FROM} || ' 00:00:00', 'YYYYMMDD HH24:MI:SS')
    ]]>
    </if>
    <if test="LAST_LOGIN_TO != null and LAST_LOGIN_TO != ''">
    <![CDATA[
            -- 마지막로그인 종료일자
            AND G.FRST_REG_DT <= TO_DATE(#{LAST_LOGIN_TO} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
    ]]>
    </if>
        ) X
        ORDER BY X.JOIN_APLY_DT DESC
    </select>


    <update id="saveDisconnectUser" parameterType="HashMap">
    <![CDATA[
        
        /* saveDisconnectUser - Lee JiSeob */
            
        UPDATE SAA200 C /* 사용자 */
        
        SET
            C.USER_CNTN_INTRCP_YN = #{DISCONNECT_YN},
            C.USER_CNTN_INTRCP_SE_CD = #{DISCONNECT_CODE},
            C.USER_CNTN_INTRCP_CS_CN = #{DISCONNECT_REASON},
            C.LAST_MDFR_ID = #{USER_ID2},
            C.LAST_MDFCN_DT = SYSDATE
            
        WHERE 
            C.USER_ID = #{USER_ID}
    ]]>
    </update>
    

    <insert id="insetLoginHistory" parameterType="String">
    <![CDATA[
        /* insetLoginHistory - Lee JiSeob */

		INSERT INTO SAB930 /* 접속로그 */
		(
			CNTN_IP_ADDR,
			LGN_LGT_SE_CD,
			LGN_SCS_YN,
			MNGR_YN,
			FRST_RGTR_ID,
			FRST_REG_DT
		)
		VALUES
		(
		    '1.1.1.1',
		    'I',
		    'S',
		    'N',
		    #{USER_ID},
		    SYSDATE
		)
    ]]>
    </insert>


    <select id="selectDisconnectUserInfo" parameterType="String" resultType="HashMap">
    <![CDATA[
        /* selectDisconnectUserInfo - Lee JiSeob */

        SELECT
            C.USER_CNTN_INTRCP_SE_CD,
            D.ADDTNG_MNG_VALUE1
            
        FROM SAA200 C /* 사용자 */, SAC100 D /* 공통코드 값 */
        
        WHERE C.USER_ID = #{USER_ID}
        AND D.CMMNS_CD_ID = 'USER_CNTN_INTRCP_SE_CD'
        AND C.USER_CNTN_INTRCP_SE_CD = D.CMMNS_CD_VALUE
        
    ]]>
    </select>

    
</mapper>
