<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.regns.common.popup.mapper.PopupMapper">

    <select id="selectCmitMtgList" resultType="HashMap">
    <![CDATA[
        /* selectReqList - Lee MS */
        
        SELECT 
            A.CMIT_SE_CD AS CMIT_SE_CD,
            A.ESNTL_LINK_INST_SE_CD AS ESNTL_LINK_INST_SE_CD,
            B.INST_NM AS INST_NM,
            C##RG.DEC_B64(A.ENTRST_PIC_NM_ENCPT) AS ENTRST_PIC_NM, 
            A.CMIT_JBTTL_SE_CD AS CMIT_JBTTL_SE_CD,
            A.NOW_ACTVT_YN AS NOW_ACTVT_YN,
            A.JBTTL_NM AS JBTTL_NM, 
            A.ESNTL_LINK_MNG_NO AS ESNTL_LINK_MNG_NO,
            A.CMIT_CNSTTN_MNG_NO AS CMIT_CNSTTN_MNG_NO
        FROM ACA610 A, ACA600 B               /*필수연계기관(B) */
        WHERE A.ESNTL_LINK_MNG_NO = B.ESNTL_LINK_MNG_NO
        AND B.INST_NM LIKE '%'||#{INST_NM}||'%'
    ]]>
    
        <if test="CMIT_SE_CD != '' and CMIT_SE_CD != null">
            AND A.CMIT_SE_CD = #{CMIT_SE_CD}
        </if>

        <if test="CMIT_SE_CD != '' and CMIT_SE_CD != null">
            AND A.CMIT_SE_CD = #{CMIT_SE_CD}
        </if>

        <if test="ESNTL_LINK_INST_SE_CD != '' and ESNTL_LINK_INST_SE_CD != null">
            AND A.ESNTL_LINK_INST_SE_CD = #{ESNTL_LINK_INST_SE_CD}
        </if>
    
    </select>

    <select id="selectLinkInstList" resultType="HashMap">
    <![CDATA[
        /* selectLinkInstList - Lee MS */

        SELECT 
            A.INST_NM AS LINK_INST_NM,
            A.ESNTL_LINK_INST_SE_CD AS ESNTL_LINK_INST_SE_CD,  
            A.OGDP_INST_DTL_SE_CD AS OGDP_INST_DTL_SE_CD,
            DECODE(A.CMIT_MFCMM_ENTRST_YN, 'Y', '위촉', '미위촉') AS ENTRST_YN,
            DECODE(A.NOW_ACTVT_YN, 'Y', '예', '아니오') AS ACTVT_YN,
            B.INST_NM AS INST_NM,
            A.ESNTL_LINK_MNG_NO AS ESNTL_LINK_MNG_NO
        FROM ACA600 A, SAA000 B  /* 통합기관(B) */
        WHERE A.INST_NO = B.INST_NO
        AND A.NOW_ACTVT_YN LIKE #{ACTVT_YN}||'%'
        AND NVL(A.INST_NM, ' ') LIKE '%'||#{INST_NM}||'%'
    ]]>
    <choose>
        <when test="UNT_TASKWK_SE_CD == 'U01'">
            AND A.ESNTL_LINK_INST_SE_CD IN ('1', '2')
        </when>

        <when test="UNT_TASKWK_SE_CD == 'U02'">
            AND A.ESNTL_LINK_INST_SE_CD IN ('3', '4')
        </when>
        
        <otherwise>
            AND A.ESNTL_LINK_INST_SE_CD LIKE #{INST_SE}||'%'
        </otherwise>
    </choose>
    
    </select>

    <select id="selectEmrgRptList" resultType="HashMap">
    <![CDATA[
        /* selectemrgRptList - Lee MS */
        
        SELECT
            A.INCDNT_OCRN_YMD AS INCDNT_OCRN_YMD,                                          /* 사건발생일자 */
            A.INCDNT_TTL_NM AS INCDNT_TTL_NM,                                              /* 사건제목명 */
            A.OCRN_RPT_YMD AS OCRN_RPT_YMD,                                                /* 발생보고일자 */
            C##RG.DEC_B64(D.FLNM_ENCPT) AS PIC_NM,                                      /* 담당자명 */
            C.INST_NM AS INST_NM,                                                          /* 기관명 */

            A.EMRG_CNTRMS_INCDNT_LCLAS_SE_CD AS EMRG_CNTRMS_INCDNT_LCLAS_SE_CD,            /* 긴급대응사건대분류구분코드 */
            A.EMRG_CNTRMS_INCDNT_MLSFC_SE_CD AS EMRG_CNTRMS_INCDNT_MLSFC_SE_CD,            /* 긴급대응사건중분류구분코드 */
            A.EMRG_CNTRMS_INCDNT_SCLAS_SE_CD AS EMRG_CNTRMS_INCDNT_SCLAS_SE_CD,            /* 긴급대응사건소분류구분코드 */
            A.INCDNT_CN AS INCDNT_CN,                                                      /* 사건내용 */
            A.INCDNT_RELATA_SCALE_CN AS INCDNT_RELATA_SCALE_CN,                            /* 사건관련규모내용 */ 
            A.PIC_NO AS PIC_NO,                                                            /* 담당자번호 */
            A.INST_NO AS INST_NO,                                                          /* 기관번호 */

            D.WRD_TELNO AS WRD_TELNO,                                                      /* 유선전화번호 */
            C##RG.DEC_B64(D.MBL_TELNO_ENCPT) AS MBL_TELNO,                              /* 휴대전화번호 */
            C##RG.DEC_B64(D.EML_ADDR_ENCPT) AS EML_ADDR,                                /* 이메일 */
            E.CTPV_NM AS CTPV_NM,                                                          /* 시도명 */
            E.SGG_NM AS SGG_NM,                                                            /* 시군구명 */
            A.RM_CN AS RM_CN,                                                              /* 비고내용 */
            A.ATFINO AS ATFINO,                                                             /* 첨부화일번호 */
            A.EMRG_CNTRMS_INCDNT_NO AS EMRG_CNTRMS_INCDNT_NO                              /* 긴급대응사건번호 */
        FROM ACA700 A, SAA000 C, SCA100 D, SAA020 E, ACA720 F  /* 긴급대응보고(B), 통합기관(C), 종사자(D) 시군구코드(E) 긴급대응종결(F)*/
        WHERE A.INST_NO = C.INST_NO
        AND C.SGG_CD = E.SGG_CD(+)
        AND A.PIC_NO = D.ENFSN_NO
        AND A.EMRG_CNTRMS_INCDNT_NO = F.EMRG_CNTRMS_INCDNT_NO(+)
        AND A.INCDNT_OCRN_YMD >= #{BGNG_YMD}
        AND A.INCDNT_OCRN_YMD <= #{END_YMD}
        AND A.INCDNT_TTL_NM LIKE #{INCDNT_TTL_NM}||'%'
        AND F.EMRG_CNTRMS_INCDNT_NO IS NULL
    ]]>
    
    </select>

    <select id="selectEmrgActnList" resultType="HashMap">
    <![CDATA[
        /* selectEmrgActnList - Lee MS */
        
        SELECT
            A.INCDNT_OCRN_YMD AS INCDNT_OCRN_YMD,                                          /* 사건발생일자 */
            A.INCDNT_TTL_NM AS INCDNT_TTL_NM,                                              /* 사건제목명 */
            A.OCRN_RPT_YMD AS OCRN_RPT_YMD,                                                /* 발생보고일자 */
            C##RG.DEC_B64(D.FLNM_ENCPT) AS PIC_NM,                                      /* 담당자명 */
            C.INST_NM AS INST_NM,                                                          /* 기관명 */

            A.EMRG_CNTRMS_INCDNT_LCLAS_SE_CD AS EMRG_CNTRMS_INCDNT_LCLAS_SE_CD,            /* 긴급대응사건대분류구분코드 */
            A.EMRG_CNTRMS_INCDNT_MLSFC_SE_CD AS EMRG_CNTRMS_INCDNT_MLSFC_SE_CD,            /* 긴급대응사건중분류구분코드 */
            A.EMRG_CNTRMS_INCDNT_SCLAS_SE_CD AS EMRG_CNTRMS_INCDNT_SCLAS_SE_CD,            /* 긴급대응사건소분류구분코드 */
            A.INCDNT_CN AS INCDNT_CN,                                                      /* 사건내용 */
            A.INCDNT_RELATA_SCALE_CN AS INCDNT_RELATA_SCALE_CN,                            /* 사건관련규모내용 */ 
            A.PIC_NO AS PIC_NO,                                                            /* 담당자번호 */
            A.INST_NO AS INST_NO,                                                          /* 기관번호 */

            D.WRD_TELNO AS WRD_TELNO,                                                      /* 유선전화번호 */
            C##RG.DEC_B64(D.MBL_TELNO_ENCPT) AS MBL_TELNO,                              /* 휴대전화번호 */
            C##RG.DEC_B64(D.EML_ADDR_ENCPT) AS EML_ADDR,                                /* 이메일 */
            E.CTPV_NM AS CTPV_NM,                                                          /* 시도명 */
            E.SGG_NM AS SGG_NM,                                                            /* 시군구명 */
            A.RM_CN AS RM_CN,                                                              /* 비고내용 */
            A.ATFINO AS ATFINO,                                                            /* 첨부화일번호 */
            
            A.EMRG_CNTRMS_INCDNT_NO AS EMRG_CNTRMS_INCDNT_NO                              /* 긴급대응사건번호 */
        FROM ACA700 A, SAA000 C, SCA100 D, SAA020 E, ACA720 F  /* 긴급대응보고(B), 통합기관(C), 종사자(D) 시군구코드(E) 긴급대응종결(F)*/
        WHERE A.EMRG_CNTRMS_INCDNT_NO = F.EMRG_CNTRMS_INCDNT_NO(+) 
        AND A.INST_NO = C.INST_NO
        AND C.SGG_CD = E.SGG_CD(+)
        AND A.PIC_NO = D.ENFSN_NO
        AND A.INCDNT_OCRN_YMD >= #{BGNG_YMD}
        AND A.INCDNT_OCRN_YMD <= #{END_YMD}
        AND A.INCDNT_TTL_NM LIKE #{INCDNT_TTL_NM}||'%'
        AND F.EMRG_CNTRMS_INCDNT_NO IS NULL
        AND EXISTS (SELECT 1 FROM ACA710 B WHERE A.EMRG_CNTRMS_INCDNT_NO = B.EMRG_CNTRMS_INCDNT_NO)
        
    ]]>
    
    </select>
    
    

</mapper>