<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.cysns.casemng.caseaftfct.mapper.CysnsAftfctMapper">

    <select id="selectReqById" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* isry.cysns.casemng.caseaftfct.mapper.selectReqById - Lee MS */
        SELECT 
            MIN(DECODE(A.QUSTNB_SHAPE_SE_CD, '06', '1')) AS QUSTNB_SHAPE1,  /* 정신건강-자살 */  
            MIN(DECODE(A.QUSTNB_SHAPE_SE_CD, '13', '1')) AS QUSTNB_SHAPE2,  /* 정신건강-자해 */  
            MIN(DECODE(A.QUSTNB_SHAPE_SE_CD, '15', '1')) AS QUSTNB_SHAPE3,  /* 정신건강-폭력 */  
            A.CASE_MNG_NO AS CASE_MNG_NO,
		    A.CASE_MNG_ODRNO AS CASE_MNG_ODRNO
		FROM SBB110 A
		WHERE A.CASE_MNG_NO = #{CASE_MNG_NO}
		AND A.CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
		AND A.QUSTNB_SHAPE_SE_CD IN ('06', '13', '15') 
		GROUP BY A.CASE_MNG_NO, A.CASE_MNG_ODRNO
    ]]>
    </select>
    

    <update id="saveData" parameterType="HashMap">
    <![CDATA[
        /* saveData */
        UPDATE ACA200
           SET LTRN_INTNET_DGNSS_SE_CD = #{LTRN_INTNET_DGNSS_SE_CD},
               LTRN_SMRTP_DGNSS_SE_CD = #{LTRN_SMRTP_DGNSS_SE_CD},
               MEDIAA_SCHL_SE_CD = #{SCHL_SE_CD},
               LAST_MDFCN_DT = SYSDATE,
               LAST_MDFR_ID = #{USER_ID}
         WHERE CASE_MNG_NO = #{CASE_MNG_NO}
           AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
    ]]>
    </update>

    
</mapper>