<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.sysmgmt.logging.mapper.ErrorLoggingMapper">


	<insert id="insertErrorLog" parameterType="HashMap" useGeneratedKeys="true" keyProperty="LOG_MNG_NO" keyColumn="LOG_MNG_NO">
	<![CDATA[
		/* insertErrorLog - Lee JiSeob */

		INSERT INTO SAB910 
		(
            LOG_MNG_NO,
			URL_ADDR,
			CLSSA_NM,
			METHDA_NM,
			ERR_MSSAGE_CN,
			METHDA_CALL_LIST_CN,
			MENU_NM,
			UP_MENU_NM,
			PROGRM_ID,
			DMND_IP_ADDR,
			FORMDA_CN,
			FRST_RGTR_ID,
			FRST_REG_DT
		)
		VALUES
		(
            SAB910_SQ01.NEXTVAL,
			#{REQUEST_URL},
			#{CLASS_NM},
			#{METHOD_NM},
			#{ERROR_MSG},
			#{STACKTRACE},
    ]]>
            <if test="_AUTH_MENU_NO != null and _AUTH_MENU_NO != 0">
    <![CDATA[
            (SELECT C.MENU_NM FROM SAB200 C /* 메뉴 */ WHERE C.MENU_NO = #{_AUTH_MENU_NO}),
            (
            SELECT F.MENU_NM 
            FROM SAB200 F /* 메뉴 */
            WHERE F.MENU_LEVELA_NO = 1
            START WITH F.MENU_NO = #{_AUTH_MENU_NO}
            CONNECT BY PRIOR F.UP_MENU_NO = F.MENU_NO
            ),
    ]]>
            </if>
            <if test="_AUTH_MENU_NO == null or _AUTH_MENU_NO == 0">
    <![CDATA[
            '',
            #{TOP_MENU_NM},
    ]]>
            </if>
    <![CDATA[
			#{_AUTH_APP_ID},
			#{REQUEST_IP},
			#{FORM_DATA},
			#{CREATOR},
			SYSDATE
		)
		
	]]>
	</insert>

</mapper>
