<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcms.sysmgmt.logging.mapper.SystemLoggingMapper">


	<insert id="insertSystemLog" parameterType="HashMap">
	<![CDATA[
		/* insertSystemLog - Lee JiSeob */

		INSERT INTO SAB920 
		(
			URL_ADDR,
			CLSSA_NM,
			METHDA_NM,
			SYS_PRCS_SE_CD,
			PRCS_HR,
			DMND_IP_ADDR,
            MENU_NM,
            UP_MENU_NM,
            PROGRM_ID,
            SRCH_FACTR_CN,
			FRST_RGTR_ID,
			FRST_REG_DT
		)
		VALUES
		(
			#{REQUEST_URL},
			#{CLASS_NM},
			#{METHOD_NM},
			#{PROCESS_SE_CODE},
			#{PROCESS_TIME},
			#{REQUEST_IP},
    ]]>
            <if test="_AUTH_MENU_NO != null and _AUTH_MENU_NO != 0">
    <![CDATA[
            (SELECT C.MENU_NM FROM SAB200 C /* 메뉴 */ WHERE C.MENU_NO = #{_AUTH_MENU_NO}),
            (SELECT C.MENU_NM FROM SAB200 C /* 메뉴 */ WHERE C.MENU_NO = #{_AUTH_UP_MENU_ID}),
    ]]>
            </if>
            <if test="_AUTH_MENU_NO == null or _AUTH_MENU_NO == 0">
    <![CDATA[
            '',
            '',
    ]]>
            </if>
    <![CDATA[
            #{_AUTH_APP_ID},
            '',
			#{CREATOR},
			SYSDATE
		)
		
	]]>
	</insert>


    <select id="getMenuId" parameterType="String" resultType="Integer">
    <![CDATA[
    
        /* getMenuId - Lee JiSeob */
        
        SELECT
            C.MENU_NO
        FROM
            SAB200 C, SAB100 D
        WHERE
            C.PROGRM_ID = D.PROGRM_ID
            AND D.URL_ADDR = #{URL_ADDR}
    ]]>
    </select>

    
    <select id="getMenuNm" parameterType="String" resultType="String">
    <![CDATA[
    
        /* getMenuNm - Lee JiSeob */
        
        SELECT
            C.MENU_NM
        FROM
            SAB200 C, SAB100 D
        WHERE
            C.PROGRM_ID = D.PROGRM_ID
            AND D.URL_ADDR = #{URL_ADDR}
    ]]>
    </select>
    
    <select id="checkUserRights" parameterType="HashMap" resultType="String">
    <![CDATA[
    
        /* checkUserRights - Lee JiSeob */
        
        SELECT
    ]]>
        <choose>
            <when test='ACT == "VIEW"'>
    <![CDATA[
            NVL(MAX(INQ_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "DETAIL"'>
    <![CDATA[
            NVL(MAX(DTL_INQ_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "CREATE"'>
    <![CDATA[
            NVL(MAX(REG_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "UPDATE"'>
    <![CDATA[
            NVL(MAX(MDFCN_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "MANAGE"'>
    <![CDATA[
            NVL(MAX(MNG_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "DELETE"'>
    <![CDATA[
            NVL(MAX(DEL_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "INIT"'>
    <![CDATA[
            NVL(MAX(INITL_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <otherwise>
    <![CDATA[
            'Y' AS RIGHT
    ]]>
            </otherwise>
        </choose>
    <![CDATA[
        FROM
            SAB250 C /* 사용자별 메뉴권한 */
        WHERE   
            USER_ID = #{USER_ID}
            AND MENU_NO = #{MENU_NO}
            AND ROWNUM = 1
    ]]>
    </select>


    
    <select id="checkGroupRights" parameterType="HashMap" resultType="String">
    <![CDATA[
    
        /* checkGroupRights - Lee JiSeob */
        
        SELECT
    ]]>
        <choose>
            <when test='ACT == "VIEW"'>
    <![CDATA[
            NVL(MAX(INQ_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "DETAIL"'>
    <![CDATA[
            NVL(MAX(DTL_INQ_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "CREATE"'>
    <![CDATA[
            NVL(MAX(REG_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "UPDATE"'>
    <![CDATA[
            NVL(MAX(MDFCN_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "MANAGE"'>
    <![CDATA[
            NVL(MAX(MNG_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "DELETE"'>
    <![CDATA[
            NVL(MAX(DEL_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <when test='ACT == "INIT"'>
    <![CDATA[
            NVL(MAX(INITL_BUTTON_USE_YN), 'N') AS RIGHT
    ]]>
            </when>
            <otherwise>
    <![CDATA[
            'Y' AS RIGHT
    ]]>
            </otherwise>
        </choose>
    <![CDATA[
        FROM
            SAB250 C /* 권한별 메뉴 */
        WHERE
        	1=1
            AND C.MENU_NO = #{MENU_NO}
            AND C.USER_ID = #{USER_ID}
    ]]>
    </select>


    <select id="checkUserRightsExists" parameterType="HashMap" resultType="Integer">
    <![CDATA[
    
        /* checkUserRightsExists - Lee JiSeob */

        SELECT
            COUNT(*)
        FROM
            SAB250 C /* 사용자별 메뉴권한 */
        WHERE   
            USER_ID = #{USER_ID} 
    ]]>
    </select>


</mapper>
