<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri April 29 17:59:19 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.gitple.mapper.GitpleEventMapper">

    <!-- 깃플챗 event 등록 -->
    <insert id="insertAyb201Data" parameterType="HashMap" useGeneratedKeys="true" keyProperty="INDEX_SN">
        <selectKey keyProperty="INDEX_SN" resultType="int" order="BEFORE">
            SELECT AYB201_SQ01.NEXTVAL FROM DUAL
        </selectKey>    
    <![CDATA[
        /* insertAyb201 - HeeSung Yoon */
        INSERT INTO AYB201
            (
                INDEX_SN,
                GITPLE_EVENTA_RCPTN_CN,
                GITPLE_EVENTA_TYPE_NM,
                FRST_RGTR_ID,
                FRST_REG_DT,
                LAST_MDFR_ID,
                LAST_MDFCN_DT
            ) values (
                #{INDEX_SN},
                #{GITPLE_EVENTA_RCPTN_CN},
                #{GITPLE_EVENTA_TYPE_NM},
                #{USER_ID},
                SYSDATE,
                #{USER_ID},
                SYSDATE
            )
      ]]>
    </insert>
    
    <insert id="insertAyb200Data" parameterType="HashMap">
    <![CDATA[
        /* insertAyb200 - HeeSung Yoon */
        INSERT INTO AYB200
		(
	        CHRO_NO,
			CHRO_NM,
			CNSLTNT_ID,
			CLIENA_ID,
			CHTT_BGNG_DT,
			CHTT_END_DT,
			CHTT_DSCSN_CN,
			EMPLA_NO,
			NCKN_NM,
			DEL_YN,
			CNSLTNT_NM_ENCPT,
			CLIENA_NM_ENCPT,
			CNSLTNT_SRVY_WRT_YN,
			SXDC_SE_CD,
			NTABRD_CSC_OCCP_SE_CD,
			ACBG_SE_CD,
			GRADE_SE_CD,
			PROBM_STTS_LCLAS_SE_CD,
			PROBM_STTS_MLSFC_SE_CD,
			PROBM_STTS_SCLAS_SE_CD,
			PROBM_CAS_LCLAS_SE_CD,
			PROBM_CAS_SCLAS_SE_CD,
			ETC_CN,
			DSCSN_RELM_SE_CD,
			CYSNET_ESNTAL_NO,
			CNTN_IP_ADDR,
			END_CS_DTL_CN,
			CHTT_MEMO_CN,
			SUPV_SLCTN_CASE_YN,
			MBLA_YN,
			CHTT_TYPE_SE_CD,
			CHTT_END_SE_CD,
			OVTIME_WORK_YMD,
			CHTT_DSCSN_BGNG_DT,
			FRST_RGTR_ID,
			FRST_REG_DT,
			LAST_MDFR_ID,
			LAST_MDFCN_DT
		)VALUES(
		    #{CHRO_NO}, 
		    #{CHRO_NM}, 
		    #{CNSLTNT_ID}, 
		    #{CLIENA_ID}, 
		    TO_DATE(#{CHTT_BGNG_DT}, 'YYYYMMDD HH24:MI:SS'),
		    TO_DATE(#{CHTT_END_DT}, 'YYYYMMDD HH24:MI:SS'),
		    #{CHTT_DSCSN_CN}, 
		    '', 
		    #{NCKN_NM},
		    #{DEL_YN}, 
		    #{CNSLTNT_NM_ENCPT},
		    C##RG.ENC_B64(#{CLIENA_NM_ENCPT}), 
		    'N', 
		    #{SXDC_SE_CD}, 
		    '', 
		    '', 
		    '', 
		    '', 
		    '', 
		    '',
		    '',  
		    '', 
		    '', 
		    '', 
		    '', 
		    #{CNTN_IP_ADDR}, 
		    #{END_CS_DTL_CN}, 
		    '', 
		    'N', 
		    'N', 
		    #{CHTT_TYPE_SE_CD},
		    (SELECT CMMNS_CD_VALUE FROM SAC100 WHERE CMMNS_CD_ID = 'CHTT_END_SE_CD' AND CMMNS_CD_VALUE_NM = #{CHTT_END_SE_CD}),
		    '', 
		    TO_DATE(#{CHTT_DSCSN_BGNG_DT}, 'YYYYMMDD HH24:MI:SS'),
		    #{CNSLTNT_ID},
		    SYSDATE, 
		    #{CNSLTNT_ID},
		    SYSDATE
		)
    ]]>
    </insert>
    
    <insert id="insertAyb230Data" parameterType="HashMap" useGeneratedKeys="true" keyProperty="CHTT_LOG_ESNTAL_NO">
        <selectKey keyProperty="CHTT_LOG_ESNTAL_NO" resultType="int" order="BEFORE">
            SELECT AYB230_SQ01.NEXTVAL FROM DUAL
        </selectKey>    
    <![CDATA[
        /* insertAyb230 - HeeSung Yoon */
        INSERT INTO AYB230
            (
                CHTT_LOG_ESNTAL_NO,
			    CNSLTNT_ID,
			    CNSLTNT_NM_ENCPT,
			    CHRO_NO,
			    BGNG_DT,
			    END_DT,
			    WAIT_DT,
			    CLIENA_EXIT_DT,
			    REST_HR,
			    FRST_RGTR_ID,
			    FRST_REG_DT,
			    LAST_MDFR_ID,
			    LAST_MDFCN_DT
            ) values (
                #{CHTT_LOG_ESNTAL_NO},
                #{CNSLTNT_ID},
                #{CNSLTNT_NM_ENCPT},
                #{CHRO_NO},
                TO_DATE(#{BGNG_DT}, 'YYYYMMDD HH24:MI:SS'),
                TO_DATE(#{END_DT}, 'YYYYMMDD HH24:MI:SS'),
                TO_DATE(#{WAIT_DT}, 'YYYYMMDD HH24:MI:SS'),
                TO_DATE(#{CLIENA_EXIT_DT}, 'YYYYMMDD HH24:MI:SS'),
                '',
                #{CNSLTNT_ID},
	            SYSDATE, 
	            #{CNSLTNT_ID},
	            SYSDATE
            )
      ]]>
    </insert>
    
    <insert id="insertAyb240Data" parameterType="HashMap" useGeneratedKeys="true" keyProperty="CHTT_LOG_ESNTAL_NO">
        <selectKey keyProperty="CHTT_LOG_ESNTAL_NO" resultType="int" order="BEFORE">
            SELECT AYB240_SQ01.NEXTVAL FROM DUAL
        </selectKey>    
    <![CDATA[
        /* insertAyb240 - HeeSung Yoon */
        INSERT INTO AYB240
			(
				CHTT_LOG_ESNTAL_NO,
				CHRO_NO,
				CNSLTNT_ID,
				CHRO_NM,
				BGNG_DT,
				END_DT,
				RPLNSM_WORK_YMD,
				FRST_RGTR_ID,
				FRST_REG_DT,
				LAST_MDFR_ID,
				LAST_MDFCN_DT
			)VALUES(
                #{CHTT_LOG_ESNTAL_NO},
                #{CHRO_NO},
                #{CNSLTNT_ID},
                #{CHRO_NM},
                TO_DATE(#{BGNG_DT}, 'YYYYMMDD HH24:MI:SS'),
                TO_DATE(#{END_DT}, 'YYYYMMDD HH24:MI:SS'),
                '',
                #{CNSLTNT_ID},
                SYSDATE, 
                #{CNSLTNT_ID},
                SYSDATE
            )
      ]]>
    </insert>
    
    <insert id="insertAyb250Data" parameterType="HashMap" useGeneratedKeys="true" keyProperty="CHTT_LOG_ESNTAL_NO">
        <selectKey keyProperty="CHTT_LOG_ESNTAL_NO" resultType="int" order="BEFORE">
            SELECT AYB250_SQ01.NEXTVAL FROM DUAL
        </selectKey>    
    <![CDATA[
        /* insertAyb250 - HeeSung Yoon */
        INSERT INTO AYB250
            (
                CHTT_LOG_ESNTAL_NO,
                CHRO_NO,
                USER_ID,
                USER_NM_ENCPT,
                CNTN_DT,
                CHTT_END_DT,
                CNTN_IP_ADDR,
                DEL_YN,
                FRST_RGTR_ID,
                FRST_REG_DT,
                LAST_MDFR_ID,
                LAST_MDFCN_DT
            )VALUES(
                #{CHTT_LOG_ESNTAL_NO},
                #{CHRO_NO},
                #{USER_ID},
                #{USER_NM_ENCPT},
                TO_DATE(#{CNTN_DT}, 'YYYYMMDD HH24:MI:SS'),
                TO_DATE(#{CHTT_END_DT}, 'YYYYMMDD HH24:MI:SS'),
                #{CNTN_IP_ADDR},
                'N',
                #{FRST_RGTR_ID},
                SYSDATE, 
                #{FRST_RGTR_ID},
                SYSDATE
            )
      ]]>
    </insert>
    
    <insert id="insertAyb260Data" parameterType="HashMap" useGeneratedKeys="true" keyProperty="CHTT_LOG_ESNTAL_NO">
        <selectKey keyProperty="CHTT_LOG_ESNTAL_NO" resultType="int" order="BEFORE">
            SELECT AYB260_SQ01.NEXTVAL FROM DUAL
        </selectKey>    
    <![CDATA[
        /* insertAyb260 - HeeSung Yoon */
        INSERT INTO AYB260
            (
                CHTT_LOG_ESNTAL_NO,
                REG_DT,
                CLIENA_ID,
                CNSLTNT_ID,
                CNSLTNT_NCKN_NM,
                CHTT_MEMO_CN,
                RDCNT_NOCS,
                DEL_YN,
                FRST_RGTR_ID,
                FRST_REG_DT,
                LAST_MDFR_ID,
                LAST_MDFCN_DT
            )VALUES(
                #{CHTT_LOG_ESNTAL_NO},
                TO_DATE(#{REG_DT}, 'YYYYMMDD HH24:MI:SS'),
                #{CLIENA_ID},
                #{CNSLTNT_ID},
                #{CNSLTNT_NCKN_NM},
                #{CHTT_MEMO_CN},
                0,
                'N',
                #{CNSLTNT_ID},
                SYSDATE, 
                #{CNSLTNT_ID},
                SYSDATE
            )
      ]]>
    </insert>
    
    <select id="selectAyb202Data" parameterType="HashMap" resultType="int">
        SELECT /* selectAyb202Data - HeeSung Yoon */
                    count(*)
        FROM AYB202
        WHERE       1=1
            AND CNSLTNT_ID = #{CNSLTNT_ID}
            AND STTS_NM = #{STTS_NM}
            AND CHG_DT = TO_DATE(#{CHG_DT}, 'YYYYMMDD HH24:MI:SS')
    </select>
    
    <insert id="insertAyb202Data" parameterType="HashMap" useGeneratedKeys="true" keyProperty="INDEX_SN">
        <selectKey keyProperty="INDEX_SN" resultType="int" order="BEFORE">
            SELECT AYB202_SQ01.NEXTVAL FROM DUAL
        </selectKey>    
    <![CDATA[
        /* insertAyb202 - HeeSung Yoon */
        INSERT INTO AYB202
            (
                INDEX_SN,
                CNSLTNT_ID,
                STTS_NM,
                CHG_DT,
                FRST_RGTR_ID,
                FRST_REG_DT,
                LAST_MDFR_ID,
                LAST_MDFCN_DT,
                DSCSN_STTS_SE_CD
            )VALUES(
                #{INDEX_SN},
                #{CNSLTNT_ID},
                #{STTS_NM},
                TO_DATE(#{CHG_DT}, 'YYYYMMDD HH24:MI:SS'),
                'SYSTEM',
                SYSDATE, 
                'SYSTEM',
                SYSDATE,
                #{DSCSN_STTS_SE_CD}
            )
      ]]>
    </insert>
    
    <select id="selectChttType" parameterType="HashMap" resultType="HashMap">
        SELECT /* selectChttType - HeeSung Yoon */
            C.CMMNS_CD_ID,
		    C.CMMNS_CD_VALUE,
		    C.CMMNS_CD_VALUE_NM,
		    C.UP_CMMNS_CD_VALUE,
		    C.ADDTNG_MNG_VALUE1,
		    C.ADDTNG_MNG_VALUE2,
		    C.ADDTNG_MNG_VALUE3,
		    C.ADDTNG_MNG_VALUE4,
		    C.ADDTNG_MNG_VALUE5,
		    C.LACA_ADDTNG_MNG_CN,
		    C.USE_YN,
		    C.SRTNG_SQNCE,
		    1 AS CMMNS_CD_LEVELA_NO
		FROM SAC100 C
		WHERE C.CMMNS_CD_ID = 'CHTT_TYPE_SE_CD'
		ORDER BY C.SRTNG_SQNCE
    </select>
    
    <select id="gitpleManager" parameterType="String" resultType="HashMap">
    <![CDATA[
        SELECT A.ENFSN_NO
            ,A.GITPLE_ID
		FROM SCA100 A
		    ,SAA200 B 
		WHERE A.ENFSN_NO = B.ENFSN_NO 
		  AND B.USER_ID = #{USER_ID}
    ]]>
    </select>
    
    <update id="updateUniverEsntalIdfrNo" parameterType="HashMap">
        <![CDATA[
        UPDATE SCA100 SET
        UNIVER_ESNTAL_IDFR_NO = #{UNIVER_ESNTAL_IDFR_NO}
        WHERE GITPLE_ID = #{GITPLE_ID}
          AND ENFSN_NO = #{ENFSN_NO}
        ]]>
    </update>
    
    <select id="getGitpleIdToken" parameterType="String" resultType="String">
    <![CDATA[
        SELECT GITPLE_ID
        FROM SCA100
        WHERE UNIVER_ESNTAL_IDFR_NO = #{UNIVER_ESNTAL_IDFR_NO}
    ]]>
    </select>
    
    <select id="getGitpleIdUserId" parameterType="String" resultType="String">
    <![CDATA[
        SELECT A.GITPLE_ID 
		FROM SCA100 A, SAA200 B
		WHERE A.ENFSN_NO  = B.ENFSN_NO
		  AND B.USER_ID = #{USER_ID}
    ]]>
    </select>
    
    <select id="getMogefId" parameterType="String" resultType="HashMap">
    <![CDATA[
        SELECT B.USER_ID, A.FLNM_ENCPT
		FROM SCA100 A, SAA200 B
		WHERE A.ENFSN_NO = B.ENFSN_NO
		  AND DEL_YN != 'Y'
		  AND A.GITPLE_ID = #{GITPLE_ID}
    ]]>
    </select>
    
    <select id="getLastBatch" resultType="String">
    <![CDATA[
        SELECT STNG_PARA_VALUE2
		FROM SAB710
		WHERE STNG_ID = 'GITPLE_STATE_BATCH'
    ]]>
    </select>
    
    <update id="updateBatchTime" parameterType="HashMap">
        <![CDATA[
        UPDATE SAB710 SET
            STNG_PARA_VALUE1 = #{STNG_PARA_VALUE1}
          , STNG_PARA_VALUE2 = #{STNG_PARA_VALUE2}
          , STNG_PARA_VALUE3 = #{STNG_PARA_VALUE3}
          , STNG_PARA_VALUE4 = #{STNG_PARA_VALUE4}
          , STNG_PARA_VALUE5 = #{STNG_PARA_VALUE5}
        WHERE STNG_ID = 'GITPLE_STATE_BATCH'
        ]]>
    </update>
    
    <insert id="insertBatchTime" parameterType="HashMap">
    <![CDATA[
        /* insertAyb200 - HeeSung Yoon */
        INSERT INTO SAB711(
		    INDEX_SN
		    , STNG_ID
		    , STNG_PARA_VALUE1
		    , STNG_PARA_VALUE2
		    , STNG_PARA_VALUE3
		    , STNG_PARA_VALUE4
		    , STNG_PARA_VALUE5
		    , FRST_RGTR_ID
		    , FRST_REG_DT 
		) VALUES (
		    
		    /* NVL((SELECT MAX(INDEX_SN) + 1 FROM SAB711 WHERE STNG_ID = 'GITPLE_STATE_BATCH'), 0) */
		    
		    SAB711_SQ01.NEXTVAL
		    
		    , 'GITPLE_STATE_BATCH'
		    , #{STNG_PARA_VALUE1}
		    , #{STNG_PARA_VALUE2}
		    , #{STNG_PARA_VALUE3}
		    , #{STNG_PARA_VALUE4}
		    , #{STNG_PARA_VALUE5}
		    , 'piko'
		    , SYSDATE 
		)
    ]]>
    </insert>
    
    <select id="getCommute" parameterType="String" resultType="HashMap">
    <![CDATA[
        SELECT COUNT(1) AS CNT
            , A.CONSTT_ID
		FROM AYC495 A
		WHERE LVFFC_DT IS NULL
		AND CONSTT_ID = #{CONSTT_ID}
		AND INDEX_SN = (SELECT MAX(INDEX_SN) FROM AYC495 WHERE CONSTT_ID = A.CONSTT_ID)
		GROUP BY CONSTT_ID
    ]]>
    </select>
    
    <insert id="insertAyc495Data" parameterType="HashMap">
    <![CDATA[
        /* insertAyc495 - HeeSung Yoon */
        INSERT INTO AYC495(
            INDEX_SN
            , CONSTT_ID
            , ATENDB_DT
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT
        ) VALUES (
            
            /* NVL((SELECT MAX(INDEX_SN) + 1 FROM SAB711 WHERE STNG_ID = 'GITPLE_STATE_BATCH'), 0) */
            
            SAB711_SQ01.NEXTVAL
            
            , #{CONSTT_ID}
            , TO_DATE(#{ATENDB_DT}, 'YYYY-MM-DD HH24:MI:SS')
            , 'SYSTEM'
            , SYSDATE
            , 'SYSTEM'
            , SYSDATE
        )
    ]]>
    </insert>
    
    <select id="selectGitpleCnt" parameterType="String" resultType="HashMap">
    <![CDATA[
        SELECT COUNT(1) AS CNT
        FROM AYB200
        WHERE CHRO_NO = #{CHRO_NO}
    ]]>
    </select>
</mapper>
