<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Oct 22 16:29:19 KST 2021-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.ytosp.portalmng.menuandprogrm.mapper.YtospMgmtMenuMapper">

    <resultMap id="testMenu" type="HashMap"></resultMap>
    
    <resultMap type="String" id="clobMap05">
        <result property="MENU_LIST_DATAA_CN" column="MENU_LIST_DATAA_CN" jdbcType="CLOB" javaType="java.lang.String" />
    </resultMap>
	
	<select id="selectMenu" parameterType="HashMap" resultType="HashMap">
	<![CDATA[
		/* selectMenu - Lee JiSeob */
		
		SELECT


			MENU_ID,
			MENU_NM,
			PORTAL_UP_MENU_ID,
			MENU_LEVELA_NO,
			PROGRM_ID,
			PARA_CN,
			RM_CN,
			SRTNG_SQNCE,
			PORTAL_HGHRK_MENU_ID,
			LGN_YN,
			USE_YN,
			DEL_YN,
			FRST_RGTR_ID,
			FRST_REG_DT,
			LAST_MDFR_ID,
			LAST_MDFCN_DT,

            URL_ADDR,
            PROGRM_NM,
            HELP_ATFINO,
            HELP_FILE_NM,
            PROGRAM_RM_CN
            


            /*
            E."LEVEL",
            E.MENU_NO, 
            E.MENU_NM, 
            E.URL_ADDR, 
            E.PROGRM_NM,
            E.UP_MENU_NO AS UP_MENU_ID, 
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_ID = E.UP_MENU_NO) AS UP_MENU_NM,
            E.MENU_LEVELA_NO, 
            E.MENU_RM_CN,
            E.PROGRAM_RM_CN,
            E.PROGRM_ID,
            (SELECT G.OUTSD_PROGRM_YN FROM PSA100 G * 프로그램 * WHERE G.PROGRM_ID = E.PROGRM_ID) AS OUTSD_PROGRM_YN,
            E.PARA_CN,
            E.TOP_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_ID = E.TOP_MENU_ID) AS TOP_MENU_NM,
            E.TWO_DEPTH_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_ID = E.TWO_DEPTH_MENU_ID) AS TWO_DEPTH_MENU_NM,
            E.HELP_ATFINO,
            E.HELP_FILE_NM,
            E.UNT_TASKWK_SE_CD
            */
            
		FROM (
		SELECT 
		
		
            MENU_ID,
            MENU_NM,
            PORTAL_UP_MENU_ID,
            MENU_LEVELA_NO,
            PROGRM_ID,
            PARA_CN,
            RM_CN,
            SRTNG_SQNCE,
            PORTAL_HGHRK_MENU_ID,
            LGN_YN,
            USE_YN,
            DEL_YN,
            FRST_RGTR_ID,
            FRST_REG_DT,
            LAST_MDFR_ID,
            LAST_MDFCN_DT,

            (SELECT G.URL_ADDR FROM PSA100 G WHERE G.PROGRM_USE_SE_CD IN ('1', '2') AND G.PROGRM_ID = C.PROGRM_ID) AS URL_ADDR,
            (SELECT G.PROGRM_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRM_NM,
            (SELECT G.ATFINO FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS HELP_ATFINO,
            (SELECT G.ATCMFL_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS HELP_FILE_NM,
		    (SELECT G.RM_CN FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRAM_RM_CN
            
            /*
            
			LEVEL, 
			* LPAD(' ', 4 * (LEVEL-1)) || MENU_NM AS ENAME, *
			C.MENU_ID AS MENU_NO, 
			C.MENU_NM, 
			(SELECT G.URL_ADDR FROM PSA100 G WHERE G.PROGRM_USE_SE_CD IN ('1', '2') AND G.PROGRM_ID = C.PROGRM_ID) AS URL_ADDR,
			(SELECT G.PROGRM_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRM_NM,
			(SELECT G.ATFINO FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS HELP_ATFINO,
			(SELECT G.ATCMFL_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS HELP_FILE_NM, 
			C.UP_MENU_NO,
			C.MENU_LEVELA_NO, 
			C.RM_CN AS MENU_RM_CN,
			(SELECT G.RM_CN FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRAM_RM_CN,
			C.PROGRM_ID,
			C.PARA_CN,
			C.HGHRK_MENU_NO AS TOP_MENU_ID,
            
            CASE WHEN C.MENU_LEVELA_NO < 2 THEN 0
            ELSE C.ME2D_NO
            END AS TWO_DEPTH_MENU_ID,
            
            C.UNT_TASKWK_SE_CD
            */

		FROM PSA110 C /* 메뉴 */

		START WITH C.PORTAL_UP_MENU_ID = '0'

		CONNECT BY PRIOR C.MENU_ID = C.PORTAL_UP_MENU_ID
    
		ORDER SIBLINGS BY C.SRTNG_SQNCE, C.MENU_ID 
		) E
	]]>
	</select>
	
    <select id="selectUserMenu" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectUserMenu - Lee JiSeob */
        
        WITH T1 AS (
            SELECT 
                C.MENU_ID AS MENU_NO, 
                C.MENU_NM,
                (SELECT G.URL_ADDR FROM PSA100 G WHERE G.PROGRM_USE_SE_CD IN ('1', '2') AND G.PROGRM_ID = C.PROGRM_ID) AS URL_ADDR,
                (SELECT G.PROGRM_NM FROM PSA100 G WHERE G.PROGRM_USE_SE_CD IN ('1', '2') AND G.PROGRM_ID = C.PROGRM_ID) AS PROGRM_NM, 
                (SELECT G.ATFINO 
                   FROM PSA100 G /* 프로그램 */
                  WHERE G.PROGRM_ID = C.PROGRM_ID) AS HELP_ATFINO,
                (SELECT G.ATCMFL_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS HELP_FILE_NM, 
                C.UP_MENU_NO, 
                C.MENU_LEVELA_NO, 
                C.RM_CN AS MENU_RM_CN,
                (SELECT G.RM_CN FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRAM_RM_CN,
                C.PROGRM_ID,
                C.PARA_CN,
                C.HGHRK_MENU_NO AS TOP_MENU_ID,
                CASE WHEN C.MENU_LEVELA_NO < 2 THEN 0
                ELSE C.ME2D_NO
                END AS TWO_DEPTH_MENU_ID,
                C.SRTNG_SQNCE,
                C.UNT_TASKWK_SE_CD,
                
	            (SELECT NVL(MAX(D.INQ_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS INQ_BUTTON_USE_YN,
	            (SELECT NVL(MAX(D.DTL_INQ_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS DTL_INQ_BUTTON_USE_YN,
	            (SELECT NVL(MAX(D.INITL_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS INITL_BUTTON_USE_YN,
	            (SELECT NVL(MAX(D.REG_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS REG_BUTTON_USE_YN,
	            (SELECT NVL(MAX(D.MDFCN_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS MDFCN_BUTTON_USE_YN,
	            (SELECT NVL(MAX(D.DEL_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS DEL_BUTTON_USE_YN,
	            (SELECT NVL(MAX(D.MNG_BUTTON_USE_YN), 'N') FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS MNG_BUTTON_USE_YN,
	            (SELECT CASE WHEN COUNT(D.USER_ID) > 0 THEN 'Y' ELSE 'N' END FROM SAB250 D /* 사용자별 메뉴권한 */ WHERE D.USER_ID = #{USER_ID} AND D.MENU_NO = C.MENU_ID) AS RIGHT_EXISTS
	            
            FROM PSA110 C
            WHERE C.MENU_ID IN (
        
                SELECT '0' AS MENU_NO
                FROM DUAL
                
                UNION ALL
                
                SELECT TO_CHAR(D.MENU_NO)
                FROM SAB250 D  /* 사용자별 메뉴권한 */
                WHERE D.USER_ID = #{USER_ID}
            )
        )
        SELECT 
            LEVEL, 
            /* LPAD(' ', 4 * (LEVEL-1)) || E.MENU_NM AS ENAME, */
            E.MENU_NO, 
            E.MENU_NM, 
            E.URL_ADDR,
            E.PROGRM_NM, 
            E.UP_MENU_NO AS UP_MENU_ID, 
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_NO = E.UP_MENU_NO) AS UP_MENU_NM, 
            E.HELP_ATFINO,
            E.HELP_FILE_NM, 
            E.MENU_LEVELA_NO, 
            E.MENU_RM_CN,
            E.PROGRAM_RM_CN,
            E.PROGRM_ID,
            (SELECT G.OUTSD_PROGRM_YN FROM PSA100 G /* 프로그램 */ WHERE G.PROGRM_ID = E.PROGRM_ID) AS OUTSD_PROGRM_YN,
            E.PARA_CN,
            E.TOP_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_NO = E.TOP_MENU_ID) AS TOP_MENU_NM,
            E.TWO_DEPTH_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_NO = E.TWO_DEPTH_MENU_ID) AS TWO_DEPTH_MENU_NM,
            
            E.UNT_TASKWK_SE_CD,
            
            E.INQ_BUTTON_USE_YN,
            E.DTL_INQ_BUTTON_USE_YN,
            E.INITL_BUTTON_USE_YN,
            E.REG_BUTTON_USE_YN,
            E.MDFCN_BUTTON_USE_YN,
            E.DEL_BUTTON_USE_YN,
            E.MNG_BUTTON_USE_YN,
            E.RIGHT_EXISTS
            
        FROM T1 E
        START WITH E.UP_MENU_NO = '0'
        CONNECT BY PRIOR E.MENU_NO = E.UP_MENU_NO
    ]]>
        <if test='profile != "local" and profile != "dev2"'>
    <![CDATA[
            AND E.MENU_NO != 161
    ]]>
        </if>
    <![CDATA[
    
        ORDER SIBLINGS BY E.SRTNG_SQNCE, E.MENU_NO 
        
    ]]>
    </select>
    
    <select id="selectMenuPivot" statementType="CALLABLE" parameterType="HashMap">
    <![CDATA[
        /* selectMenuPivot - Lee JiSeob */
        
        {CALL SA_SP_SELECT_MENU_PIVOT (
            #{pivotStr, mode=IN, jdbcType=VARCHAR, javaType=String},
            #{resultList, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=testMenu}
        )
        }
        
    ]]>
    </select>
    
    
	<select id="selectMenuPivot_backup" parameterType="HashMap" resultType="HashMap">
	<![CDATA[
		/* selectMenuPivot_backup - Lee JiSeob */
		
		WITH T (RIGHT_ID, RIGHT_NAME, MENU_ID_PIVOT, RIGHT_EXISTS) AS (
			SELECT 
				C.RIGHT_ID, E.RIGHT_NAME, C.MENU_NO AS MENU_ID_PIVOT,
				CASE WHEN C.RIGHT_ID IS NULL THEN 'N' ELSE 'Y' END AS RIGHT_EXISTS
			FROM RIGHT_MANAGE E
			LEFT JOIN RIGHT_GROUP C ON C.RIGHT_ID = E.RIGHT_ID 
		)
		SELECT *
		FROM T PIVOT (
			MAX(RIGHT_EXISTS)
			FOR MENU_ID_PIVOT IN (
				#{pivotStr}
			)
		)

	]]>
	</select>



	<select id="selectMenuRights" parameterType="HashMap" resultType="HashMap">
	<![CDATA[
		/* selectMenuRights - Lee JiSeob */
		
		SELECT
			LEVEL, 
			LPAD(' ', 4 * (LEVEL-1)) || C.MENU_NM AS ENAME,
			C.MENU_NO, 
			C.MENU_NM,
			(SELECT G.URL_ADDR FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS URL_ADDR,
            (SELECT G.PROGRM_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRM_NM, 
			C.UP_MENU_NO AS UP_MENU_ID,
			(SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_NO = C.UP_MENU_NO) AS UP_MENU_NM, 
			C.MENU_LEVELA_NO, 
			C.RM_CN AS MENU_RM_CN,
			(SELECT G.RM_CN FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRAM_RM_CN,
			C.TOP_MENU_ID,
			(SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_NO = C.TOP_MENU_ID) AS TOP_MENU_NM,
			(SELECT NVL(MAX(D.INQ_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_VIEW,
			(SELECT NVL(MAX(D.DTL_INQ_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_DETAIL,
			(SELECT NVL(MAX(D.INITL_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_INIT,
			(SELECT NVL(MAX(D.REG_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_CREATE,
			(SELECT NVL(MAX(D.MDFCN_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_UPDATE,
			(SELECT NVL(MAX(D.DEL_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_DELETE,
			(SELECT NVL(MAX(D.MNG_BUTTON_USE_YN), 'N') FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_MANAGE,
			(SELECT CASE WHEN COUNT(D.AUTHRT_ID) > 0 THEN 'Y' ELSE 'N' END FROM SAB300 D WHERE D.AUTHRT_ID = #{rightId} AND D.MENU_NO = C.MENU_ID) AS RIGHT_EXISTS
		FROM PSA110 C
		START WITH C.UP_MENU_NO = 0
		CONNECT BY PRIOR C.MENU_ID = C.UP_MENU_NO
			
	]]>
	</select>


	<delete id="deleteAllMenu">
	<![CDATA[
		/* deleteAllMenu - Lee JiSeob */

		DELETE FROM PSA110
		
	]]>
	
        <if test="list == null or list.size == 0">
    <![CDATA[ 
          WHERE MENU_ID = '0'
    ]]>        
        </if>
        
		<foreach collection="list" item="id" index="index" separator="," open="WHERE MENU_ID IN (" close=")">
	<![CDATA[ 
		  #{id}
	]]>
	   </foreach>
	</delete>
	
	<insert id="insertSAB301">
    <![CDATA[
        /* insertSAB301 - Kang hwayoung */
        INSERT INTO SAB301 (
	        AUTHRT_ID
			, MENU_NO
			, MDFCN_DT
			, DATAA_CHG_SE_CD
			, INQ_BUTTON_USE_YN
			, INITL_BUTTON_USE_YN
			, REG_BUTTON_USE_YN
			, MDFCN_BUTTON_USE_YN
			, DEL_BUTTON_USE_YN
			, MNG_BUTTON_USE_YN
			, DTL_INQ_BUTTON_USE_YN
			, FRST_RGTR_ID
			, FRST_REG_DT
			, LAST_MDFR_ID
			, LAST_MDFCN_DT
        ) SELECT
            AUTHRT_ID
            , MENU_NO
            , SYSDATE
            , 'D'
            , INQ_BUTTON_USE_YN
            , INITL_BUTTON_USE_YN
            , REG_BUTTON_USE_YN
            , MDFCN_BUTTON_USE_YN
            , DEL_BUTTON_USE_YN
            , MNG_BUTTON_USE_YN
            , DTL_INQ_BUTTON_USE_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT
        FROM SAB300
        ]]>
        <if test="list == null or list.size == 0">
		  <![CDATA[ 
		       WHERE MENU_NO = 0
		  ]]>        
		</if>		     
		<foreach collection="list" item="item" index="index" separator="," open="WHERE MENU_NO IN (" close=")">
		  <![CDATA[ 
		       #{item.MENU_NO}
		  ]]>
		</foreach>
    </insert>
    
    <delete id="deleteSAB300">
       <![CDATA[
            /* deleteSAB300 - Kang hwayoung */

            DELETE FROM SAB300	        
	   ]]>
	   <if test="list == null or list.size == 0">
	       <![CDATA[ 
	          WHERE MENU_NO = 0
	       ]]>        
	   </if>
       <foreach collection="list" item="item" index="index" separator="," open="WHERE MENU_NO IN (" close=")">
          <![CDATA[ 
               #{item.MENU_NO}
          ]]>
        </foreach>
       
    </delete>
    
    <insert id="insertSAB251">
        INSERT INTO SAB251 (
            USER_ID
			, MENU_NO
			, MDFCN_DT
			, DATAA_CHG_SE_CD
			, INQ_BUTTON_USE_YN
			, INITL_BUTTON_USE_YN
			, REG_BUTTON_USE_YN
			, MDFCN_BUTTON_USE_YN
			, DEL_BUTTON_USE_YN
			, MNG_BUTTON_USE_YN
			, DTL_INQ_BUTTON_USE_YN
			, FRST_RGTR_ID
			, FRST_REG_DT
			, LAST_MDFR_ID
			, LAST_MDFCN_DT
        ) SELECT
            USER_ID
            , MENU_NO
            , SYSDATE
            , 'D'
            , INQ_BUTTON_USE_YN
            , INITL_BUTTON_USE_YN
            , REG_BUTTON_USE_YN
            , MDFCN_BUTTON_USE_YN
            , DEL_BUTTON_USE_YN
            , MNG_BUTTON_USE_YN
            , DTL_INQ_BUTTON_USE_YN
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT
        FROM SAB250
        <if test="list == null or list.size == 0">
           <![CDATA[ 
              WHERE MENU_NO = 0
           ]]>        
       </if>
       <foreach collection="list" item="item" index="index" separator="," open="WHERE MENU_NO IN (" close=")">
          <![CDATA[ 
               #{item.MENU_NO}
          ]]>
        </foreach>
    </insert>
    
    <delete id="deleteSAB250">
       <![CDATA[
            /* deleteSAB250 - Kang hwayoung */

            DELETE FROM SAB250          
       ]]>
       <if test="list == null or list.size == 0">
           <![CDATA[ 
              WHERE MENU_NO = 0
           ]]>        
       </if>
       <foreach collection="list" item="item" index="index" separator="," open="WHERE MENU_NO IN (" close=")">
          <![CDATA[ 
               #{item.MENU_NO}
          ]]>
        </foreach>
    </delete>
    
    <delete id="deleteSAB210">
       <![CDATA[
            /* deleteSAB210 - Kang hwayoung */

            DELETE FROM SAB210          
       ]]>
       <if test="list == null or list.size == 0">
           <![CDATA[ 
              WHERE MENU_NO = 0
           ]]>        
       </if>
       <foreach collection="list" item="item" index="index" separator="," open="WHERE MENU_NO IN (" close=")">
          <![CDATA[ 
               #{item.MENU_NO}
          ]]>
        </foreach>
    </delete>

	<insert id="saveMenu" parameterType="HashMap">
	<![CDATA[
		/* saveMenu - Lee JiSeob */

		INSERT INTO PSA110 /* 메뉴 */
		(
			MENU_ID,
			MENU_NM,
			UP_MENU_NO,
			MENU_LEVELA_NO,
			RM_CN,
			PROGRM_ID,
			PARA_CN,
			SRTNG_SQNCE,
			FRST_RGTR_ID,
			FRST_REG_DT,
			LAST_MDFR_ID,
			LAST_MDFCN_DT,
			
			HGHRK_MENU_NO,
			ME2D_NO,
			UNT_TASKWK_SE_CD
		)
		VALUES
		(
			#{MENU_NO},
			#{MENU_NM},
			#{UP_MENU_ID},
			#{MENU_LEVELA_NO},
			#{RM_CN},
			#{PROGRM_ID},
			#{PARA_CN},
			#{INDEX},
            #{USER_ID},
            SYSDATE,
            #{USER_ID},
            SYSDATE,
            
            #{TOP_MENU_ID},
            #{TWO_DEPTH_MENU_ID},
            #{UNT_TASKWK_SE_CD}
		)
	]]>
	</insert>


	<select id="getUntTaskwk" parameterType="Integer" resultType="String">
	<![CDATA[
		/* getUntTaskwk - Lee JiSeob */
		
		SELECT
            H.CMMNS_CD_VALUE

        FROM PSA110 G /* 메뉴 */, SAC100 H /* 공통코드 값 */
            
        WHERE 
            G.MENU_ID = #{topMenu}
            AND H.CMMNS_CD_ID = 'UNT_TASKWK_SE_CD'
            AND H.CMMNS_CD_VALUE_NM = G.MENU_NM
		
	]]>
	</select>


	<select id="selectMaxMenuId" resultType="int">
	<![CDATA[
		/* selectMaxMenuId - Lee JiSeob */
		
        /*
        SELECT NVL(MAX(MENU_NO), 0) 
        FROM PSA110
        */
        
        SELECT PSA110_SQ01.NEXTVAL 
        FROM DUAL
		
	]]>
	</select>

    
    <select id="selectRootMenu" resultType="HashMap">
    <![CDATA[
        /* selectRootMenu - Lee JiSeob */
        
        SELECT
            E.MENU_NO, 
            E.MENU_NM, 
            E.URL_ADDR, 
            E.PROGRM_NM,
            E.UP_MENU_NO AS UP_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_ID = E.UP_MENU_NO) AS UP_MENU_NM, 
            E.MENU_LEVELA_NO, 
            E.MENU_RM_CN,
            E.PROGRAM_RM_CN,
            E.PROGRM_ID,
            E.PARA_CN,
            E.TOP_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_ID = E.TOP_MENU_ID) AS TOP_MENU_NM,
            E.TWO_DEPTH_MENU_ID,
            (SELECT F.MENU_NM FROM PSA110 F WHERE F.MENU_ID = E.TWO_DEPTH_MENU_ID) AS TWO_DEPTH_MENU_NM,
            E.UNT_TASKWK_SE_CD
        FROM (
        SELECT 
            C.MENU_ID AS MENU_NO, 
            C.MENU_NM, 
            (SELECT G.URL_ADDR FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS URL_ADDR,
            (SELECT G.PROGRM_NM FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRM_NM, 
            C.UP_MENU_NO, 
            C.MENU_LEVELA_NO, 
            C.RM_CN AS MENU_RM_CN,
            (SELECT G.RM_CN FROM PSA100 G WHERE G.PROGRM_ID = C.PROGRM_ID) AS PROGRAM_RM_CN,
            C.PROGRM_ID,
            C.PARA_CN,
            C.HGHRK_MENU_NO AS TOP_MENU_ID,
            CASE WHEN C.MENU_LEVELA_NO < 2 THEN 0
            ELSE C.ME2D_NO
            END AS TWO_DEPTH_MENU_ID,
            C.UNT_TASKWK_SE_CD
        FROM PSA110 C
        WHERE C.UP_MENU_NO = 0
        ORDER BY C.SRTNG_SQNCE, C.MENU_ID 
        ) E
    ]]>
    </select>
    
    <insert id="insertMenuHistory" parameterType="HashMap">
    <![CDATA[
        /* saveMenu - Park Kyuyoung */

        INSERT INTO SAB201 /* 메뉴 이력 */
        (
            MENU_NO,
            MDFCN_DT,
            DATAA_CHG_SE_CD,
            MENU_NM,
            UP_MENU_ID,
            MENU_LEVELA_NO,
            RM_CN,
            PROGRM_ID,
            PARA_CN,
            FRST_RGTR_ID,
            FRST_REG_DT,
            LAST_MDFR_ID,
            LAST_MDFCN_DT
        )
        VALUES
        (
            #{MENU_NO},
            SYSDATE,
            #{DATAA_CHG_SE_CD},
            #{MENU_NM},
            (
             SELECT D.MENU_ID 
                FROM PSA110 D
                WHERE D.MENU_LEVELA_NO = 1
                START WITH D.MENU_ID = #{MENU_NO}
                CONNECT BY PRIOR D.UP_MENU_NO = D.MENU_ID
            ),
            #{MENU_LEVELA_NO},
            #{RM_CN},
            #{PROGRM_ID},
            #{PARA_CN},
            #{USER_ID},
            SYSDATE,
            #{USER_ID},
            SYSDATE
        )
    ]]>
    </insert>

    <select id="selectTopMenuCd" parameterType="String" resultType="String">
    <![CDATA[
        /* selectTopMenuCd - Lee JiSeob */
        
        SELECT
            D.CMMNS_CD_VALUE

        FROM PSA110 C /* 메뉴 */, SAC100 D /* 공통코드 값 */
        
        WHERE 
            C.MENU_ID = #{MENU_NO}
            AND D.CMMNS_CD_ID = 'UNT_TASKWK_SE_CD'
            AND D.CMMNS_CD_VALUE_NM = C.MENU_NM

    ]]>
    </select>
    
    <select id="selectMenuDetails" parameterType="java.lang.String" resultType="resultMap">
    <![CDATA[
        SELECT      /* SQL-ID : isry.itgcms.sysmgmt.pgmemu.mapper.MgmtMenuMapper.selectMenuDetails : 메뉴 상세 조회 */
		    A.MENU_ID               /* 메뉴번호 */
		    , A.MENU_NM             /* 메뉴명 */
		    , A.UP_MENU_NO          /* 상위메뉴번호 */
		    , A.MENU_LEVELA_NO      /* 메뉴레벨번호 */
		    , A.PROGRM_ID           /* 프로그램아이디 */
		    , A.HGHRK_MENU_NO       /* 최상위메뉴번호 */
		    , A.ME2D_NO             /* 중메뉴번호 */
		    , A.PARA_CN             /* 파라미터내용 */
		    , A.RM_CN               /* 비고내용 */
		    , A.SRTNG_SQNCE         /* 정렬순서 */
		    , A.UNT_TASKWK_SE_CD    /* 단위업무구분코드 */
		
		FROM PSA110 A   /** 메뉴 */
		
		WHERE A.MENU_ID = #{menuNo}   /* 조회할 메뉴번호 */
		
    ]]>
    </select>
    
    <select id="selectUserMenuIdList" parameterType="java.lang.String" resultType="String">
    <![CDATA[
        /* selectUserMenuIdList - Lee JiSeob */

        SELECT
            DISTINCT USER_ID
        
        FROM SAB230 /* 사용자별 기관 권한 */
        
        WHERE AUTHRT_SE_CD = #{AUTHRT_SE_CD}
    ]]>
    </select>
    
    <select id="selectUserMenuCount" parameterType="java.lang.String" resultType="Integer">
    <![CDATA[
        /* selectUserMenuCount - Lee JiSeob */

        SELECT
            COUNT(*) AS CNT

        FROM SAB520 /* 로그인 메뉴목록 */

        WHERE USER_ID = #{USER_ID}

    ]]>
    </select>

    
    <update id="updateUserMenuUpdateCountIncrease" parameterType="java.lang.String">
    <![CDATA[
        /* updateUserMenuUpdateCountIncrease - Lee JiSeob */

        UPDATE SAB520 /* 로그인 메뉴목록 */

        SET
            UPDATA_CONT = UPDATA_CONT + 1
            
        WHERE USER_ID = #{USER_ID}
    ]]>
    </update>


    <update id="updateUserMenuUpdateCountIncreaseAll">
    <![CDATA[
        /* updateUserMenuUpdateCountIncrease - Lee JiSeob */

        UPDATE SAB520 /* 로그인 메뉴목록 */

        SET
            UPDATA_CONT = UPDATA_CONT + 1
            
    ]]>
    </update>

    
    <select id="selectUserMenuCached" parameterType="java.lang.String" resultType="String" resultMap="clobMap05">
    <![CDATA[
        /* selectUserMenuCached - Lee JiSeob */

        SELECT
            MENU_LIST_DATAA_CN
             
        FROM SAB520 /* 로그인 메뉴목록 */
        
        WHERE USER_ID = #{USER_ID}
        
        AND UPDATA_CONT = 0
        
    ]]>
    </select>


    <update id="saveUserMenuCache" parameterType="HashMap">
    <![CDATA[
        /* saveUserMenuCache - Lee JiSeob */

        MERGE INTO SAB520 /* 로그인 메뉴목록 */
        USING DUAL
        ON (USER_ID = #{userId})
        
        WHEN MATCHED THEN
        
            UPDATE SET
            MENU_LIST_DATAA_CN = #{jsonString},
            UPDATA_CONT = 0,
            LAST_MDFR_ID = #{userId},
            LAST_MDFCN_DT = SYSDATE
            
        WHEN NOT MATCHED THEN
        
            INSERT 
            (
                USER_ID,
	            MENU_LIST_DATAA_CN,
				UPDATA_CONT,
				FRST_RGTR_ID,
				FRST_REG_DT,
				LAST_MDFR_ID,
				LAST_MDFCN_DT
            )
            VALUES
            (
                #{userId},
                #{jsonString},
                0,
                #{userId},
                SYSDATE,
                #{userId},
                SYSDATE
            )

    ]]>
    </update>


    <select id="selectTopMenuNm" parameterType="String" resultType="String">
    <![CDATA[
        /* selectTopMenuNm - Lee JiSeob */
        
        SELECT
            D.CMMNS_CD_VALUE_NM

        FROM SAC100 D /* 공통코드 값 */
        
        WHERE 
            D.CMMNS_CD_VALUE = #{UNT_TASKWK}
            AND D.CMMNS_CD_ID = 'UNT_TASKWK_SE_CD'
         
    ]]>
    </select>

</mapper>
