<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.drmgs.link.mapper.DrmgsEduLinkMapper">
    <select id="selectEduLinkListCnt" parameterType="HashMap" resultType="String">
        SELECT COUNT(1)
        <include refid="EDU_LINK_FROM" />
        <include refid="EDU_LINK_WHERE" />
    </select>
    
    <select id="selectEduLinkList" parameterType="HashMap" resultType="HashMap">
        SELECT TTT1.*
        FROM (
	        SELECT   SRVC_PVSN_RQST_NO
			, RESRCE_NO
			, RQST_UNT_TASKWK_SE_CD
			, RQST_UNT_TASKWK_SE_NM
			, RCPT_RQST_COURS_SE_CD
			, RCPT_RQST_COURS_SE_NM
			, RQST_YMD
			, CLINT_NO
			, CLINT_NM
			, RQST_CS_CN
			, PRNMNT_USE_BGNG_YMD
			, PRNMNT_USE_BGNG_HR
			, PRNMNT_USE_END_YMD
			, PRNMNT_USE_END_HR
			, RCPT_UNT_TASKWK_SE_CD
			, RCPT_UNT_TASKWK_SE_NM
			, CLR_NO
			, CLR_NM
			, RCPT_INST_NO
			, RCPT_INST_NM
			, RQST_TRPR_INFO_NO
			, RQST_TRPR_INFO_NM
			, INDV_IDNTFC_NO
			, RQST_APLY_YN
			, RQST_DTL_CN
			, LINK_TYPE_SE_CD
			, LINK_TYPE_SE_NM
			, ATFINO
			, TRMN_PRCS_YN
			, RQST_INST_NO
			, RQST_INST_NM
			, RCPT_SE_CD
			, RCPT_TRPR_INFO_NO
			, RCPT_DTL_CN
			, RCPT_YMD
			, RRQST_RCPT_INST_NO
			, FIRST_RCPT_YMD
			, CASE_TRPR_NOAP_CS_SE_CD
			, CASE_MNG_SE_CD
			, STU_AGRE_STS_CD
			, STTY_AGT_AGRE_STS_CD
			, CASE_PRGRS_STTS_SE_CD
			, ESB_SEQ
			, PRVC_PVSN_AGRE_YN
	        , ROWNUM AS SEQ 
	        <include refid="EDU_LINK_FROM" />
	        <include refid="EDU_LINK_WHERE" />
        ) TTT1
        <![CDATA[
           WHERE TTT1.SEQ >= #{START_IDX} AND TTT1.SEQ <= #{LAST_IDX}
        ]]>
    </select>
        
    <sql id="EDU_LINK_FROM">
	    FROM ( SELECT T1.SRVC_PVSN_RQST_NO
		    , T1.RESRCE_NO
		    , T1.RQST_UNT_TASKWK_SE_CD
		    , T1.RQST_UNT_TASKWK_SE_NM
		    , T1.RCPT_RQST_COURS_SE_CD
		    , T1.RCPT_RQST_COURS_SE_NM
		    , T1.RQST_YMD
		    , T1.CLINT_NO
		    , T1.CLINT_NM
		    , T1.RQST_CS_CN
		    , T1.PRNMNT_USE_BGNG_YMD
		    , T1.PRNMNT_USE_BGNG_HR
		    , T1.PRNMNT_USE_END_YMD
		    , T1.PRNMNT_USE_END_HR
		    , T1.RCPT_UNT_TASKWK_SE_CD
		    , T1.RCPT_UNT_TASKWK_SE_NM
		    , T1.CLR_NO
		    , T1.CLR_NM
		    , T1.RCPT_INST_NO
		    , T1.RCPT_INST_NM
		    , T1.RQST_TRPR_INFO_NO
		    , C##RG.DEC_B64(T1.RQST_TRPR_INFO_NM) AS RQST_TRPR_INFO_NM
		    , T1.INDV_IDNTFC_NO
		    , T1.RQST_APLY_YN
		    , T1.RQST_DTL_CN
		    , T1.LINK_TYPE_SE_CD
		    , T1.LINK_TYPE_SE_NM
		    , T1.ATFINO
		    , T1.TRMN_PRCS_YN
		    , T1.RQST_INST_NO
		    , T1.RQST_INST_NM
		    , T2.RCPT_SE_CD
		    , T2.RCPT_TRPR_INFO_NO
		    , T2.RCPT_DTL_CN
		    , T2.RCPT_YMD
		    , T2.RRQST_RCPT_INST_NO
		    , (SELECT RCPT_YMD FROM SEB421 WHERE SRVC_PVSN_RQST_NO = T2.SRVC_PVSN_RQST_NO AND RCPT_SE_CD = T2.RCPT_SE_CD AND RCPT_UNT_TASKWK_SE_CD = T2.RCPT_UNT_TASKWK_SE_CD AND MDFCN_DT = 
		        (SELECT MIN(MDFCN_DT) FROM SEB421 WHERE SRVC_PVSN_RQST_NO = T2.SRVC_PVSN_RQST_NO AND RCPT_SE_CD = T2.RCPT_SE_CD AND RCPT_UNT_TASKWK_SE_CD = T2.RCPT_UNT_TASKWK_SE_CD)) AS FIRST_RCPT_YMD
		    , T1.CASE_TRPR_NOAP_CS_SE_CD
		    , T1.CASE_MNG_SE_CD
		    , T1.STU_AGRE_STS_CD
		    , T1.STTY_AGT_AGRE_STS_CD
		    , (SELECT CASE_PRGRS_STTS_SE_CD FROM SEB100 WHERE UNT_TASKWK_SE_CD = 'U03' AND TRPR_INFO_NO = T2.RCPT_TRPR_INFO_NO AND CASE_BGNG_YMD = 
		        (SELECT MAX(CASE_BGNG_YMD) FROM SEB100 WHERE UNT_TASKWK_SE_CD = 'U03' AND TRPR_INFO_NO = T2.RCPT_TRPR_INFO_NO)) AS CASE_PRGRS_STTS_SE_CD
		    , T1.ESB_SEQ
		    , T1.PRVC_PVSN_AGRE_YN
		FROM (
		    SELECT
		         A.SRVC_PVSN_RQST_NO
		       , A.RESRCE_NO
		       , A.RQST_UNT_TASKWK_SE_CD
		       , B.CMMNS_CD_VALUE_NM AS RQST_UNT_TASKWK_SE_NM
		       , A.RCPT_RQST_COURS_SE_CD
		       , C.CMMNS_CD_VALUE_NM AS RCPT_RQST_COURS_SE_NM
		       , A.RQST_YMD
		       , A.CLINT_NO
		       , C##RG.DEC_B64(F.FLNM_ENCPT) AS CLINT_NM
		       , A.RQST_CS_CN
		       , A.PRNMNT_USE_BGNG_YMD
		       , A.PRNMNT_USE_BGNG_HR
		       , A.PRNMNT_USE_END_YMD
		       , A.PRNMNT_USE_END_HR
		       , A.RCPT_UNT_TASKWK_SE_CD
		       , D.CMMNS_CD_VALUE_NM AS RCPT_UNT_TASKWK_SE_NM
		       , A.CLR_NO
		       , C##RG.DEC_B64(G.FLNM_ENCPT) AS CLR_NM
		       , A.RCPT_INST_NO
		       , H.INST_NM AS RCPT_INST_NM
		       , A.RQST_TRPR_INFO_NO
		       , I.TRPR_NM_ENCPT AS RQST_TRPR_INFO_NM
		       , I.INDV_IDNTFC_NO AS INDV_IDNTFC_NO
		       , A.CASE_MNG_NO
		       , A.CASE_MNG_ODRNO
		       , A.RQST_APLY_YN
		       , A.RQST_DTL_CN
		       , A.LINK_TYPE_SE_CD
		       , E.CMMNS_CD_VALUE_NM AS LINK_TYPE_SE_NM
		       , A.ATFINO
		       , A.TRMN_PRCS_YN
		       , A.RQST_INST_NO
		       , J.INST_NM AS RQST_INST_NM
		       , I.CASE_TRPR_NOAP_CS_SE_CD
		       , I.CASE_MNG_SE_CD
		       , K.STU_AGRE_STS_CD
		       , K.STTY_AGT_AGRE_STS_CD
		       , K.ESB_SEQ
		       , I.PRVC_PVSN_AGRE_YN
		       FROM SEB400 A, SAC100 B, SAC100 C, SAC100 D, SAC100 E, SCA100 F, SCA100 G, SAA000 H, SEA200 I, SAA000 J, CAD100 K
		       WHERE 1=1
		       AND A.RQST_UNT_TASKWK_SE_CD = B.CMMNS_CD_VALUE(+)
		       AND 'RQST_UNT_TASKWK_SE_CD' = B.CMMNS_CD_ID(+)
		       AND A.RCPT_RQST_COURS_SE_CD = C.CMMNS_CD_VALUE(+)
		       AND 'RCPT_RQST_COURS_SE_CD' = C.CMMNS_CD_ID(+)
		       AND A.RCPT_UNT_TASKWK_SE_CD = D.CMMNS_CD_VALUE(+)
		       AND 'RCPT_UNT_TASKWK_SE_CD' = D.CMMNS_CD_ID(+)
		       AND A.LINK_TYPE_SE_CD = E.CMMNS_CD_VALUE(+)
		       AND 'LINK_TYPE_SE_CD' = E.CMMNS_CD_ID(+)
		       AND A.CLINT_NO = F.ENFSN_NO(+)
		       AND A.CLR_NO = G.ENFSN_NO(+)
		       AND A.RCPT_INST_NO = H.INST_NO(+)
		       AND A.RQST_TRPR_INFO_NO = I.TRPR_INFO_NO(+)
		       AND A.RQST_INST_NO = J.INST_NO(+)
		       AND A.LINK_SN = K.ESB_SEQ(+)
		       ) T1, SEB420 T2
		    WHERE 1=1
		    AND T1. SRVC_PVSN_RQST_NO = T2.SRVC_PVSN_RQST_NO
		    AND T2.LINK_TYPE_SE_CD = '06'
		    AND T2.RCPT_SN = (CASE WHEN T2.RCPT_SE_CD = '40' THEN (SELECT MAX(RCPT_SN) FROM SEB420 WHERE SRVC_PVSN_RQST_NO = T2.SRVC_PVSN_RQST_NO AND RCPT_UNT_TASKWK_SE_CD = 'U03') ELSE ((SELECT MAX(RCPT_SN) FROM SEB420 WHERE SRVC_PVSN_RQST_NO = T2.SRVC_PVSN_RQST_NO) )END)
		 ) TT1
    </sql>
    
    <sql id="EDU_LINK_WHERE">
        WHERE 1=1
        <choose>
	        <when test="GROUP_AUTHRT_SE_CD.SUBSTR(0,1) eq '1'.toString() or GROUP_AUTHRT_SE_CD.SUBSTR(0,1) eq '2'.toString()">
	            AND 1=1
	        </when>
	        <otherwise>
	            AND ((TT1.RCPT_INST_NO IN
		        <foreach collection="INST_NOS" item="item" open="("
		            separator="," close=")">
		            #{item}
		        </foreach>
		        ) or (TT1.RRQST_RCPT_INST_NO IN
		        <foreach collection="INST_NOS" item="item" open="("
		            separator="," close=")">
		            #{item}
		        </foreach>
		        ))
		        <if test=" GROUP_AUTHRT_SE_CD.SUBSTR(1,3) eq '40'.toString() ">
		            /*종사자*/
		            AND ((TT1.CLR_NO IS NULL OR TT1.CLR_NO = '0') OR (TT1.CLR_NO IS NOT NULL AND TT1.CLR_NO = #{ENFSN_NO}))
		        </if>
	        </otherwise>
        </choose>
        <if test="RQST_TRPR_INFO_NM != null and RQST_TRPR_INFO_NM != ''">
        <![CDATA[
            AND TT1.RQST_TRPR_INFO_NM = #{RQST_TRPR_INFO_NM} 
        ]]>
        </if>
        <if test="CLINT_NO != null and CLINT_NO != ''">
        <![CDATA[
            AND TT1.CLINT_NO LIKE '%' || #{CLINT_NO} || '%'
        ]]>
        </if>
        <if test="CLINT_NM != null and CLINT_NM != ''">
        <![CDATA[
            AND TT1.CLINT_NM = #{CLINT_NM} 
        ]]>
        </if>
        <if test="RQST_INST_NO != null and RQST_INST_NO != ''">
        <![CDATA[
            AND TT1.RQST_INST_NO LIKE '%' || #{RQST_INST_NO} || '%'
        ]]>
        </if>
        <if test="RQST_INST_NM != null and RQST_INST_NM != ''">
        <![CDATA[
            AND TT1.RQST_INST_NM LIKE '%' || #{RQST_INST_NM} || '%'
        ]]>
        </if>
        <if test="RCPT_INST_NO != null and RCPT_INST_NO != ''">
        <![CDATA[
            AND TT1.RCPT_INST_NO LIKE '%' || #{RCPT_INST_NO} || '%'
        ]]>
        </if>
        <if test="RCPT_INST_NM != null and RCPT_INST_NM != ''">
        <![CDATA[
            AND TT1.RCPT_INST_NM LIKE '%' || #{RCPT_INST_NM} || '%'
        ]]>
        </if>
        <if test="RCPT_SE_CD != null and RCPT_SE_CD != ''">
        <![CDATA[
            AND TT1.RCPT_SE_CD = #{RCPT_SE_CD}
        ]]>
        </if>
        <if test="PRNMNT_USE_BGNG_YMD != null and PRNMNT_USE_BGNG_YMD != '' and PRNMNT_USE_END_YMD != null and PRNMNT_USE_END_YMD != ''">
        <![CDATA[
            AND TT1.RQST_YMD BETWEEN #{PRNMNT_USE_BGNG_YMD} AND #{PRNMNT_USE_END_YMD}
        ]]>
        </if>
        <if test="RCPT_YMD != null and RCPT_YMD != ''">
        <![CDATA[
            AND TT1.RCPT_YMD = #{RCPT_YMD}
        ]]>
        </if>
        <if test="CASE_PRGRS_STTS_TYPE_SE_CD != null and CASE_PRGRS_STTS_TYPE_SE_CD != ''">
        <![CDATA[
           AND TT1.CASE_PRGRS_STTS_SE_CD IN (SELECT CMMNS_CD_VALUE FROM SAC100
                                             WHERE CMMNS_CD_ID       = 'CASE_PRGRS_STTS_SE_CD'
                                               AND UP_CMMNS_CD_VALUE = #{CASE_PRGRS_STTS_TYPE_SE_CD})
        ]]>
        </if>
        <if test="CASE_PRGRS_STTS_SE_CD != null and CASE_PRGRS_STTS_SE_CD != ''">
           AND TT1.CASE_PRGRS_STTS_SE_CD = #{CASE_PRGRS_STTS_SE_CD}
        </if>
        <if test="CASE_TRPR_NOAP_CS_SE_CD != null and CASE_TRPR_NOAP_CS_SE_CD != ''">
        <![CDATA[
            AND TT1.CASE_TRPR_NOAP_CS_SE_CD = #{CASE_TRPR_NOAP_CS_SE_CD}
        ]]>
        </if>
        <if test="CASE_MNG_SE_CD != null and CASE_MNG_SE_CD != ''">
        <![CDATA[
            AND TT1.CASE_MNG_SE_CD = #{CASE_MNG_SE_CD}
        ]]>
        </if>
        <if test="STU_AGRE_STS_CD != null and STU_AGRE_STS_CD != ''">
        <![CDATA[
            AND TT1.STU_AGRE_STS_CD = #{STU_AGRE_STS_CD}
        ]]>
        </if>
        <if test="STTY_AGT_AGRE_STS_CD != null and STTY_AGT_AGRE_STS_CD != ''">
        <![CDATA[
            AND TT1.STTY_AGT_AGRE_STS_CD = #{STTY_AGT_AGRE_STS_CD}
        ]]>
        </if>
        <if test='TWO_WEEKS_YN == "Y"'>
        <![CDATA[
            AND (TO_CHAR(TO_DATE(TT1.RQST_YMD) + 13, 'YYYYMMDD') < TO_CHAR(SYSDATE, 'YYYYMMDD') AND TT1.RCPT_SE_CD = '11')
        ]]>
        </if>
    </sql>
    
    <select id="selectEduDetInfo" parameterType="HashMap" resultType="HashMap">
        SELECT A.AYR
			, A.SHL_CD
			, A.SHL_NM
			, A.STU_FLNM
			, A.STU_BRDT
			, A.SXDS_SC_CD
			, DECODE(A.SXDS_SC_CD, 'M', '남자', 'F', '여자', '미확인') AS SXDS_SC_NM
			, A.STU_TELNO
			, A.STU_MBL_TELNO
			, A.STU_EML_ADDR
			, A.STU_ADDR_POST_NO
			, A.STU_ADDR
			, A.STU_DTL_ADDR
			, A.STTY_AGT_TELNO
			, A.STTY_AGT_EML_ADDR
			, A.SCWK_HALT_KND_CD
			, A.SCWK_HALT_YMD
			, A.SCWK_HALT_YR
			, A.SCWK_HALT_RSN_CD
			, B.CMMNS_CD_VALUE_NM AS SCWK_HALT_RSN_NM
			, NVL(A.STU_AGRE_STS_CD, '03') AS STU_AGRE_STS_CD
			, NVL(A.STTY_AGT_AGRE_STS_CD, '03') AS STTY_AGT_AGRE_STS_CD
			, NVL(A.ADD_INFO_AGRE_STS_CD, '03') AS ADD_INFO_AGRE_STS_CD
			, A.HOP_COSE_LFTM_EDU_FA_YN
			, A.HOP_COSE_BRC_CMMU_MHSCH_YN
			, A.HOP_COSE_ATNT_EDU_YN
			, A.HOP_COSE_SQE_PRPRT_YN
			, A.HOP_COSE_SYAR_YN
			, A.HOP_COSE_EMPLO_YN
			, A.HOP_COSE_ETC_YN
			, A.OFCDC_HOP_COSE_GBTS_YN
			, A.HOP_COSE_LFTM_EDU_FA_NM
			, A.HOP_COSE_BRC_CMMU_MHSCH_NM
			, A.HOP_COSE_ATNT_EDU_NM
			, A.HOP_COSE_SQE_PRPRT_NM
			, A.HOP_COSE_SYAR_NM
			, A.HOP_COSE_EMPLO_NM
			, A.HOP_COSE_LFTM_EDU_FA_PARNG_YMD
			, A.HOP_COSE_BRC_CMMU_MHSCH_PARNG_YMD
			, A.HOP_COSE_ATNT_EDU_PARNG_YMD
			, A.HOP_COSE_SQE_PRPRT_PARNG_YMD
			, A.HOP_COSE_SYAR_PARNG_YMD
			, A.HOP_COSE_EMPLO_PARNG_YMD
			, A.HOP_COSE_ETC_CN
			, A.ESB_TX_ID
			, A.ESB_SEQ
			, A.ESB_IF_ID
			, A.SND_CD
			, A.RCV_CD
			, A.CREATE_TIME
			, A.ESB_INIT_TIME
			, A.ESB_COMPLITE_TIME
			, A.ESB_STATUS
			, C.MOE_LINK_ERR_SE_CD_CN
			, C.ERR_INFO_DTL_CN
			FROM CAD100 A, SAC100 B, AKA221 C
			WHERE ESB_SEQ = #{ESB_SEQ}
			AND A.SCWK_HALT_RSN_CD = B.CMMNS_CD_VALUE(+)
			AND 'MOE_SCHULW_DSCNTC_SCLAS_SE_CD' = B.CMMNS_CD_ID(+)
			AND A.ESB_SEQ = C.LINK_SN(+)
    </select>
</mapper>

