<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.itgcms.itgBrd.mapper.ItgBrdCmnCmntMapper">

    <select id="selectItgBrdCmntList" parameterType="HashMap" resultType="HashMap">

        /* 댓글 데이터 조회 sry.itgcms.itgBrd.mapper.ItgBrdCmnCmntMapper.selectItgBrdCmntList 공통팀 유민상 */
        <![CDATA[
            SELECT  A.UNITY_BBSCTT_ESNTAL_NO
                  , A.UNITY_CMNT_SN
                  , A.OGDP_INST_NO
                  , A.OGDP_DEPT_CD
                  , A.UNITY_CMNT_CN
                  , A.ATFINO
                  , (SELECT NVL(C.WRD_TELNO, DEC_B64(C.MBL_TELNO_ENCPT)) FROM SAA200 B, SCA100 C WHERE B.USER_ID = A.FRST_RGTR_ID AND B.ENFSN_NO = C.ENFSN_NO) AS WRD_TELNO
                  , A.FRST_RGTR_ID
                  , DEC_B64(SA_FN_GET_NAME(A.FRST_RGTR_ID)) AS FRST_RGTR_NM
                  , TO_CHAR(A.FRST_REG_DT, 'YYYYMMDDHH24MISS') AS FRST_REG_DT
                  , A.TASKWK_PRCS_SE_CD
                  , A.TASKWK_TASKFO_SE_CD
                  , (SELECT CMMNS_CD_VALUE_NM
                    FROM SAC100
                    WHERE CMMNS_CD_ID = 'TASKWK_PRCS_SE_CD'
                        AND CMMNS_CD_VALUE = A.TASKWK_PRCS_SE_CD) AS TASKWK_PRCS_SE_NM
                  , (SELECT CMMNS_CD_VALUE_NM
                    FROM SAC100
                    WHERE CMMNS_CD_ID = 'TASKWK_TASKFO_SE_CD'
                        AND CMMNS_CD_VALUE = A.TASKWK_TASKFO_SE_CD) AS TASKWK_TASKFO_SE_NM
             FROM SBA131 A
            WHERE 1=1
              AND NVL(A.DEL_YN, 'N') != 'Y'
              AND A.UNITY_BBSCTT_ESNTAL_NO = #{UNITY_BBSCTT_ESNTAL_NO}
            ORDER BY A.FRST_REG_DT DESC
            ]]>
    </select>

    <insert id="insertItgBrdCmntList" parameterType="HashMap" useGeneratedKeys="true" keyProperty="UNITY_CMNT_SN">

        <selectKey resultType="String" keyProperty="UNITY_CMNT_SN" order="BEFORE">
            <![CDATA[
                SELECT SBA131_SQ01.NEXTVAL AS UNITY_CMNT_SN
                  FROM DUAL
            ]]>
        </selectKey>

        /* 공통팀 유민상 sry.itgcms.itgBrd.mapper.ItgBrdCmnCmntMapper.insertItgBrdCmntList 공통팀 유민상 */
        INSERT INTO SBA131(
              UNITY_BBSCTT_ESNTAL_NO
            , UNITY_CMNT_SN
            , OGDP_INST_NO
            , OGDP_DEPT_CD
            , UNITY_CMNT_CN
            <if test="ATFINO != null and ATFINO != ''">
                , ATFINO
            </if>
            , CNTN_IP_ADDR
            , DEL_YN
            <if test="TASKWK_PRCS_SE_CD != null and TASKWK_PRCS_SE_CD != ''">
                , TASKWK_PRCS_SE_CD
            </if>
            <if test="TASKWK_TASKFO_SE_CD != null and TASKWK_TASKFO_SE_CD != ''">
                , TASKWK_TASKFO_SE_CD
            </if>
            , FRST_RGTR_ID
            , FRST_REG_DT
            , LAST_MDFR_ID
            , LAST_MDFCN_DT
        )VALUES(
              #{UNITY_BBSCTT_ESNTAL_NO}
            , #{UNITY_CMNT_SN}
            , #{OGDP_INST_NO}
            , #{OGDP_DEPT_CD}
            , #{UNITY_CMNT_CN}
            <if test="ATFINO != null and ATFINO != ''">
                , #{ATFINO}
            </if>
            , #{CNTN_IP_ADDR}
            , 'N'
            <if test="TASKWK_PRCS_SE_CD != null and TASKWK_PRCS_SE_CD != ''">
                , #{TASKWK_PRCS_SE_CD}
            </if>
            <if test="TASKWK_TASKFO_SE_CD != null and TASKWK_TASKFO_SE_CD != ''">
                , #{TASKWK_TASKFO_SE_CD}
            </if>
            , #{FRST_RGTR_ID}
            , SYSDATE
            , #{LAST_MDFR_ID}
            , SYSDATE
        )
    </insert>

    <update id="updateItgBrdCmntList" parameterType="HashMap">

        /* 공통팀 유민상 sry.itgcms.itgBrd.mapper.ItgBrdCmnCmntMapper.updateItgBrdCmntList 공통팀 유민상 */
        UPDATE SBA131 SET
            UNITY_CMNT_CN = #{UNITY_CMNT_CN}
            <if test="ATFINO != null and ATFINO != ''">
                , ATFINO = #{ATFINO}
            </if>
            , LAST_MDFCN_DT = SYSDATE
            , LAST_MDFR_ID = #{LAST_MDFR_ID}

        WHERE 1=1
        AND UNITY_BBSCTT_ESNTAL_NO = #{UNITY_BBSCTT_ESNTAL_NO__origin}
        AND UNITY_CMNT_SN = #{UNITY_CMNT_SN__origin}
    </update>

    <update id="deleteItgBrdCmntList" parameterType="HashMap">

        /* 공통팀 유민상 sry.itgcms.itgBrd.mapper.ItgBrdCmnCmntMapper.deleteItgBrdCmntList 공통팀 유민상 */
        UPDATE SBA131 SET
              DEL_YN = 'Y'
            , LAST_MDFCN_DT = SYSDATE
            , LAST_MDFR_ID = #{LAST_MDFR_ID}
        WHERE 1=1
        AND UNITY_BBSCTT_ESNTAL_NO = #{UNITY_BBSCTT_ESNTAL_NO__origin}
        AND UNITY_CMNT_SN = #{UNITY_CMNT_SN__origin}

    </update>
</mapper>