<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.itgcms.sysmgmt.logview.mapper.LogViewMapper">

	<select id="selectSystemLogTotalCount" parameterType="HashMap" resultType="Integer">
	<![CDATA[
		/* selectSystemLogTotalCount - Lee JiSeob */
		
		SELECT
			
			COUNT(*) AS CNT 
		
		FROM 
		(
		
        SELECT 
            
            D.URL_ADDR, 
            D.CLSSA_NM, 
            D.METHDA_NM, 
            D.SYS_PRCS_SE_CD, 
            D.PRCS_HR, 
            D.MENU_NM,
            D.UP_MENU_NM, 
            D.PROGRM_ID, 
            D.DMND_IP_ADDR, 
            D.FRST_RGTR_ID,
            
            D.FRST_REG_DT,
            
            C##RG.SA_FN_GET_NAME(D.FRST_RGTR_ID) AS FRST_RGTR_NM
        
        FROM SAB920 D /* 시스템 로그 */
        
		) C

	]]>
		<where>
			<if test="URL_ADDR != null and URL_ADDR != ''">
	<![CDATA[
				AND C.URL_ADDR LIKE '%' || #{URL_ADDR} || '%'
	]]>
			</if>
			<if test="CLSSA_NM != null and CLSSA_NM != ''">
	<![CDATA[
				AND C.CLSSA_NM LIKE '%' || #{CLSSA_NM} || '%'
	]]>
			</if>
			<if test="METHDA_NM != null and METHDA_NM != ''">
	<![CDATA[
				AND C.METHDA_NM LIKE '%' || #{METHDA_NM} || '%'
	]]>
			</if>
			<if test="MENU_NM != null and MENU_NM != ''">
	<![CDATA[
				AND C.MENU_NM LIKE '%' || #{MENU_NM} || '%'
	]]>
			</if>
			<if test="PROGRM_ID != null and PROGRM_ID != ''">
	<![CDATA[
				AND C.PROGRM_ID LIKE '%' || #{PROGRM_ID} || '%'
	]]>
			</if>
			<if test="DMND_IP_ADDR != null and DMND_IP_ADDR != ''">
	<![CDATA[
				AND C.DMND_IP_ADDR LIKE '%' || #{DMND_IP_ADDR} || '%'
	]]>
			</if>
			<if test="FRST_RGTR_ID != null and FRST_RGTR_ID != ''">
	<![CDATA[
				AND C.FRST_RGTR_ID = #{FRST_RGTR_ID}
	]]>
			</if>
            <if test="START_DATE != null and START_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT >= TO_DATE(#{START_DATE} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test="END_DATE != null and END_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT <= TO_DATE(#{END_DATE} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test='SYS_PRCS_SE_CD != null and SYS_PRCS_SE_CD != ""  and SYS_PRCS_SE_CD != "0"  '  >
    <![CDATA[
                AND C.SYS_PRCS_SE_CD = #{SYS_PRCS_SE_CD}
    ]]>
            </if>
			
		</where>

	</select>
	
	<select id="selectSystemLog" parameterType="HashMap" resultType="HashMap">
	<![CDATA[
		/* selectSystemLog - Lee JiSeob */
		
		SELECT 
		  SEQ, URL_ADDR, CLSSA_NM, METHDA_NM, SYS_PRCS_SE_CD, PRCS_HR, MENU_NM, UP_MENU_NM, PROGRM_ID, DMND_IP_ADDR, FRST_RGTR_ID, 
		  TO_CHAR(FRST_REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS FRST_REG_DT, FRST_RGTR_NM, SRCH_FACTR_CN
		FROM
		(
		SELECT ROWNUM AS SEQ, URL_ADDR, CLSSA_NM, METHDA_NM, SYS_PRCS_SE_CD, PRCS_HR, MENU_NM, UP_MENU_NM, PROGRM_ID, DMND_IP_ADDR, FRST_RGTR_ID, FRST_REG_DT, FRST_RGTR_NM, SRCH_FACTR_CN
		FROM
		(
		SELECT
		              
            C.URL_ADDR, 
            C.CLSSA_NM, 
            C.METHDA_NM, 
            C.SYS_PRCS_SE_CD, 
            C.PRCS_HR, 
            C.MENU_NM,
            C.UP_MENU_NM, 
            C.PROGRM_ID, 
            C.DMND_IP_ADDR, 
            C.FRST_RGTR_ID,
            
            C.FRST_REG_DT,
            
            C.FRST_RGTR_NM,
            
            C.SRCH_FACTR_CN
		    
		FROM
		(
		SELECT 
			
			D.URL_ADDR, 
			D.CLSSA_NM, 
			D.METHDA_NM, 
			D.SYS_PRCS_SE_CD, 
			D.PRCS_HR, 
			D.MENU_NM,
			D.UP_MENU_NM, 
			D.PROGRM_ID, 
			D.DMND_IP_ADDR, 
			D.FRST_RGTR_ID,
			
			D.FRST_REG_DT,
			
			C##RG.DEC_B64(C##RG.SA_FN_GET_NAME(D.FRST_RGTR_ID)) AS FRST_RGTR_NM,
			
			D.SRCH_FACTR_CN
		
		FROM SAB920 D /* 시스템 로그 */
		
		) C
	
	]]>
		<where>
			<if test="URL_ADDR != null and URL_ADDR != ''">
	<![CDATA[
				AND C.URL_ADDR LIKE '%' || #{URL_ADDR} || '%'
	]]>
			</if>
			<if test="CLSSA_NM != null and CLSSA_NM != ''">
	<![CDATA[
				AND C.CLSSA_NM LIKE '%' || #{CLSSA_NM} || '%'
	]]>
			</if>
			<if test="METHDA_NM != null and METHDA_NM != ''">
	<![CDATA[
				AND C.METHDA_NM LIKE '%' || #{METHDA_NM} || '%'
	]]>
			</if>
			<if test="MENU_NM != null and MENU_NM != ''">
	<![CDATA[
				AND C.MENU_NM LIKE '%' || #{MENU_NM} || '%'
	]]>
			</if>
			<if test="PROGRM_ID != null and PROGRM_ID != ''">
	<![CDATA[
				AND C.PROGRM_ID LIKE '%' || #{PROGRM_ID} || '%'
	]]>
			</if>
			<if test="DMND_IP_ADDR != null and DMND_IP_ADDR != ''">
	<![CDATA[
				AND C.DMND_IP_ADDR LIKE '%' || #{DMND_IP_ADDR} || '%'
	]]>
			</if>
            <if test="FRST_RGTR_ID != null and FRST_RGTR_ID != ''">
    <![CDATA[
                AND C.FRST_RGTR_ID = #{FRST_RGTR_ID}
    ]]>
            </if>
            <if test="START_DATE != null and START_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT >= TO_DATE(#{START_DATE} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test="END_DATE != null and END_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT <= TO_DATE(#{END_DATE} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test='SYS_PRCS_SE_CD != null and SYS_PRCS_SE_CD != ""  and SYS_PRCS_SE_CD != "0"  '  >
    <![CDATA[
                AND C.SYS_PRCS_SE_CD = #{SYS_PRCS_SE_CD}
    ]]>
            </if>
			
		</where>
	<![CDATA[
		
		ORDER BY 
			C.FRST_REG_DT DESC
		) X1
		) X2
		WHERE SEQ >= #{START_IDX} AND SEQ <= #{LAST_IDX}

	]]>
	</select>
	

    <select id="selectLogInOutLogTotalCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* selectLogInOutLogTotalCount - Lee JiSeob */
        
        SELECT
        
            COUNT(*) AS CNT
        
        FROM
        (
        
        SELECT 
            D.CNTN_IP_ADDR,
			D.LGN_LGT_SE_CD,
			D.FRST_RGTR_ID,
			C##RG.DEC_B64(C##RG.SA_FN_GET_NAME(D.FRST_RGTR_ID)) AS FRST_RGTR_NM,
			D.FRST_REG_DT,
			G.INST_NM,
			G.INST_TYPE_SE_CD,
			G.UNT_TASKWK_SE_CD,
			H.AUTHRT_SE_CD
			
        FROM SAB930 D /* 접속로그 */
        LEFT JOIN SAA200 E /* 사용자 */ ON E.USER_ID = D.FRST_RGTR_ID
        LEFT JOIN SCA100 F /* 종사자 */ ON F.ENFSN_NO = E.ENFSN_NO
        LEFT JOIN SAA000 G /* 통합기관 */ ON G.INST_NO = F.OGDP_INST_NO
        LEFT JOIN SAB230 H /* 사용자별기관권한 */ ON H.USER_ID = E.USER_ID
    ]]>
        <if test='ADMIN != null and ADMIN == "Y"'>
    <![CDATA[
            WHERE MNGR_YN = 'Y'
    ]]>
        </if>
    <![CDATA[

        ) C

    ]]>
        <where>
            <if test="CNTN_IP_ADDR != null and CNTN_IP_ADDR != ''">
    <![CDATA[
                AND C.CNTN_IP_ADDR LIKE '%' || #{CNTN_IP_ADDR} || '%'
    ]]>
            </if>
            <if test="LGN_LGT_SE_CD != null and LGN_LGT_SE_CD != ''">
    <![CDATA[
                AND C.LGN_LGT_SE_CD = #{LGN_LGT_SE_CD}
    ]]>
            </if>
            <if test="FRST_RGTR_ID != null and FRST_RGTR_ID != ''">
    <![CDATA[
                AND C.FRST_RGTR_ID LIKE '%' || #{FRST_RGTR_ID} || '%'
    ]]>
            </if>
            <if test="FRST_RGTR_NM != null and FRST_RGTR_NM != ''">
    <![CDATA[
                AND C.FRST_RGTR_NM LIKE '%' || #{FRST_RGTR_NM} || '%'
    ]]>
            </if>
            <if test="START_DATE != null and START_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT >= TO_DATE(#{START_DATE} || ' 00:00:00', 'YYYYMMDD HH24:MI:SS')
    ]]>
            </if>
            <if test="END_DATE != null and END_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT <= TO_DATE(#{END_DATE} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
    ]]>
            </if>
            <if test="INST_NM != null and INST_NM != ''">
    <![CDATA[
                AND C.INST_NM LIKE '%' || #{INST_NM} || '%'
    ]]>
            </if>
            <if test="INST_TYPE_SE_CD != null and INST_TYPE_SE_CD != ''">
    <![CDATA[
                AND C.INST_TYPE_SE_CD = #{INST_TYPE_SE_CD}
    ]]>
            </if>
            <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
    <![CDATA[
                AND C.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    ]]>
            </if>
        </where>

    </select>
    
    <select id="selectLogInOutLog" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectLogInOutLog - Lee JiSeob */
        
        SELECT
         
            SEQ, CNTN_IP_ADDR, LGN_LGT_SE_CD, FRST_RGTR_ID, FRST_RGTR_NM, LGN_SCS_YN, 
            
            TO_CHAR(FRST_REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS FRST_REG_DT,
            
            INST_NM, INST_TYPE_SE_CD, UNT_TASKWK_SE_CD, AUTHRT_SE_CD /* 기관명, 기관유형, 단위업무구분코드, 권한 */
            
        FROM
        (
        SELECT 
            
            ROWNUM AS SEQ, CNTN_IP_ADDR, LGN_LGT_SE_CD, FRST_RGTR_ID, FRST_RGTR_NM, FRST_REG_DT, LGN_SCS_YN,
            
            INST_NM, INST_TYPE_SE_CD, UNT_TASKWK_SE_CD, AUTHRT_SE_CD
        
        FROM
        (
        SELECT
         
            CNTN_IP_ADDR,
            LGN_LGT_SE_CD,
            FRST_RGTR_ID,
            LGN_SCS_YN,
            FRST_RGTR_NM,
            FRST_REG_DT,
            INST_NM,
            INST_TYPE_SE_CD,
            UNT_TASKWK_SE_CD,
            AUTHRT_SE_CD
            
        FROM
        (
        
        SELECT 
            D.CNTN_IP_ADDR,
            D.LGN_LGT_SE_CD,
            D.FRST_RGTR_ID,
            D.LGN_SCS_YN,
            C##RG.DEC_B64(C##RG.SA_FN_GET_NAME(D.FRST_RGTR_ID)) AS FRST_RGTR_NM,
            D.FRST_REG_DT,
            G.INST_NM,
            G.INST_TYPE_SE_CD,
            G.UNT_TASKWK_SE_CD,
            H.AUTHRT_SE_CD
            
        FROM SAB930 D /* 접속로그 */
        LEFT JOIN SAA200 E /* 사용자 */ ON E.USER_ID = D.FRST_RGTR_ID
        LEFT JOIN SCA100 F /* 종사자 */ ON F.ENFSN_NO = E.ENFSN_NO
        LEFT JOIN SAA000 G /* 통합기관 */ ON G.INST_NO = F.OGDP_INST_NO
        LEFT JOIN SAB230 H /* 사용자별기관권한 */ ON H.USER_ID = E.USER_ID
    ]]>
        <if test='ADMIN != null and ADMIN == "Y"'>
    <![CDATA[
            WHERE MNGR_YN = 'Y'
    ]]>
        </if>
    <![CDATA[
        ) C
    
    ]]>
        <where>
            <if test="CNTN_IP_ADDR != null and CNTN_IP_ADDR != ''">
    <![CDATA[
                AND C.CNTN_IP_ADDR LIKE '%' || #{CNTN_IP_ADDR} || '%'
    ]]>
            </if>
            <if test="LGN_LGT_SE_CD != null and LGN_LGT_SE_CD != ''">
    <![CDATA[
                AND C.LGN_LGT_SE_CD = #{LGN_LGT_SE_CD}
    ]]>
            </if>
            <if test="FRST_RGTR_ID != null and FRST_RGTR_ID != ''">
    <![CDATA[
                AND C.FRST_RGTR_ID LIKE '%' || #{FRST_RGTR_ID} || '%'
    ]]>
            </if>
            <if test="FRST_RGTR_NM != null and FRST_RGTR_NM != ''">
    <![CDATA[
                AND C.FRST_RGTR_NM LIKE '%' || #{FRST_RGTR_NM} || '%'
    ]]>
            </if>
            <if test="START_DATE != null and START_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT >= TO_DATE(#{START_DATE} || ' 00:00:00', 'YYYYMMDD HH24:MI:SS')
    ]]>
            </if>
            <if test="END_DATE != null and END_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT <= TO_DATE(#{END_DATE} || ' 23:59:59', 'YYYYMMDD HH24:MI:SS')
    ]]>
            </if>
            <if test="INST_NM != null and INST_NM != ''">
    <![CDATA[
                AND C.INST_NM LIKE '%' || #{INST_NM} || '%'
    ]]>
            </if>
            <if test="INST_TYPE_SE_CD != null and INST_TYPE_SE_CD != ''">
    <![CDATA[
                AND C.INST_TYPE_SE_CD = #{INST_TYPE_SE_CD}
    ]]>
            </if>
            <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
    <![CDATA[
                AND C.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    ]]>
            </if>
        </where>
    <![CDATA[
        
        ORDER BY 
            C.FRST_REG_DT DESC
        ) X1
        ) X2
        WHERE SEQ >= #{START_IDX} AND SEQ <= #{LAST_IDX}

    ]]>
    </select>
    
    
    
    <select id="selectErrorLogTotalCount" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* selectErrorLogTotalCount - Lee JiSeob */
        
        SELECT
        
            COUNT(*) AS CNT 
        
        FROM
        (
        SELECT
            
            C.LOG_MNG_NO,
            
            (SELECT C##RG.DEC_B64(E.FLNM_ENCPT) FROM SAA200 D, SCA100 E 
            WHERE D.ENFSN_NO = E.ENFSN_NO AND D.USER_ID = C.FRST_RGTR_ID) AS FRST_RGTR_NM
        
        FROM SAB910 C /* 오류로그 */

    ]]>
        <where>
            <if test="URL_ADDR != null and URL_ADDR != ''">
    <![CDATA[
                AND C.URL_ADDR LIKE '%' || #{URL_ADDR} || '%'
    ]]>
            </if>
            <if test="CLSSA_NM != null and CLSSA_NM != ''">
    <![CDATA[
                AND C.CLSSA_NM LIKE '%' || #{CLSSA_NM} || '%'
    ]]>
            </if>
            <if test="METHDA_NM != null and METHDA_NM != ''">
    <![CDATA[
                AND C.METHDA_NM LIKE '%' || #{METHDA_NM} || '%'
    ]]>
            </if>
            <if test="ERR_MSSAGE_CN != null and ERR_MSSAGE_CN != ''">
    <![CDATA[
                AND C.ERR_MSSAGE_CN LIKE '%' || #{ERR_MSSAGE_CN} || '%'
    ]]>
            </if>
            <if test="MENU_NM != null and MENU_NM != ''">
    <![CDATA[
                AND C.MENU_NM LIKE '%' || #{MENU_NM} || '%'
    ]]>
            </if>
            <if test="UP_MENU_NM != null and UP_MENU_NM != ''">
    <![CDATA[
                AND C.UP_MENU_NM LIKE '%' || #{UP_MENU_NM} || '%'
    ]]>
            </if>
            <if test="PROGRM_ID != null and PROGRM_ID != ''">
    <![CDATA[
                AND C.PROGRM_ID LIKE '%' || #{PROGRM_ID} || '%'
    ]]>
            </if>
            <if test="DMND_IP_ADDR != null and DMND_IP_ADDR != ''">
    <![CDATA[
                AND C.DMND_IP_ADDR LIKE '%' || #{DMND_IP_ADDR} || '%'
    ]]>
            </if>
            <if test="START_DATE != null and START_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT >= TO_DATE(#{START_DATE} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test="END_DATE != null and END_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT <= TO_DATE(#{END_DATE} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test="FRST_RGTR_ID != null and FRST_RGTR_ID != ''">
    <![CDATA[
                AND C.FRST_RGTR_ID LIKE '%' || #{FRST_RGTR_ID} || '%'
    ]]>
            </if>
            <if test="LOG_MNG_NO != null and LOG_MNG_NO != ''">
    <![CDATA[
                AND C.LOG_MNG_NO = #{LOG_MNG_NO}
    ]]>
            </if>
            <if test='SESSION_TERMINATED == null or SESSION_TERMINATED == "N"'>
    <![CDATA[
                AND C.ERR_MSSAGE_CN != '세션이 종료되었습니다.'
    ]]>
            </if>
            
        </where>

    <![CDATA[

        ) X

    ]]>
        <where>
            <if test="FRST_RGTR_NM != null and FRST_RGTR_NM != ''">
    <![CDATA[
                AND FRST_RGTR_NM = #{FRST_RGTR_NM}
    ]]>
            </if>
            
        </where>        

    </select>
    
    <select id="selectErrorLog" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectErrorLog - Lee JiSeob */
        
        SELECT SEQ, 
        
            LOG_MNG_NO,


			METHDA_NM,
			ERR_MSSAGE_CN,

			MENU_NM,
			UP_MENU_NM,


			FRST_RGTR_ID,
			FRST_RGTR_NM,
			TO_CHAR(FRST_REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS FRST_REG_DT,
			LAST_MDFR_ID,
			TO_CHAR(LAST_MDFCN_DT, 'YYYY-MM-DD HH24:MI:SS') AS LAST_MDFCN_DT
        
        FROM
        (
        SELECT ROWNUM AS SEQ, 
        
            LOG_MNG_NO,

			METHDA_NM,
			ERR_MSSAGE_CN,

			MENU_NM,
			UP_MENU_NM,

			FRST_RGTR_ID,
			FRST_RGTR_NM,
			FRST_REG_DT,
			LAST_MDFR_ID,
			LAST_MDFCN_DT
        
        FROM
        (
        SELECT 
            C.LOG_MNG_NO,


			C.METHDA_NM,
			C.ERR_MSSAGE_CN,

			C.MENU_NM,
			C.UP_MENU_NM,

			C.FRST_RGTR_ID,
			(SELECT C##RG.DEC_B64(E.FLNM_ENCPT) FROM SAA200 D, SCA100 E 
			WHERE D.ENFSN_NO = E.ENFSN_NO AND D.USER_ID = C.FRST_RGTR_ID) AS FRST_RGTR_NM,
			C.FRST_REG_DT,
			C.LAST_MDFR_ID,
			C.LAST_MDFCN_DT
        
        FROM SAB910 C /* 오류로그 */
    
    ]]>
        <where>
            <if test="URL_ADDR != null and URL_ADDR != ''">
    <![CDATA[
                AND C.URL_ADDR LIKE '%' || #{URL_ADDR} || '%'
    ]]>
            </if>
            <if test="CLSSA_NM != null and CLSSA_NM != ''">
    <![CDATA[
                AND C.CLSSA_NM LIKE '%' || #{CLSSA_NM} || '%'
    ]]>
            </if>
            <if test="METHDA_NM != null and METHDA_NM != ''">
    <![CDATA[
                AND C.METHDA_NM LIKE '%' || #{METHDA_NM} || '%'
    ]]>
            </if>
            <if test="ERR_MSSAGE_CN != null and ERR_MSSAGE_CN != ''">
    <![CDATA[
                AND C.ERR_MSSAGE_CN LIKE '%' || #{ERR_MSSAGE_CN} || '%'
    ]]>
            </if>
            <if test="MENU_NM != null and MENU_NM != ''">
    <![CDATA[
                AND C.MENU_NM LIKE '%' || #{MENU_NM} || '%'
    ]]>
            </if>
            <if test="UP_MENU_NM != null and UP_MENU_NM != ''">
    <![CDATA[
                AND C.UP_MENU_NM LIKE '%' || #{UP_MENU_NM} || '%'
    ]]>
            </if>
            <if test="PROGRM_ID != null and PROGRM_ID != ''">
    <![CDATA[
                AND C.PROGRM_ID LIKE '%' || #{PROGRM_ID} || '%'
    ]]>
            </if>
            <if test="DMND_IP_ADDR != null and DMND_IP_ADDR != ''">
    <![CDATA[
                AND C.DMND_IP_ADDR LIKE '%' || #{DMND_IP_ADDR} || '%'
    ]]>
            </if>
            <if test="START_DATE != null and START_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT >= TO_DATE(#{START_DATE} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test="END_DATE != null and END_DATE != ''">
    <![CDATA[
                AND C.FRST_REG_DT <= TO_DATE(#{END_DATE} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
    ]]>
            </if>
            <if test="FRST_RGTR_ID != null and FRST_RGTR_ID != ''">
    <![CDATA[
                AND C.FRST_RGTR_ID LIKE '%' || #{FRST_RGTR_ID} || '%'
    ]]>
            </if>
            <if test="LOG_MNG_NO != null and LOG_MNG_NO != ''">
    <![CDATA[
                AND C.LOG_MNG_NO = #{LOG_MNG_NO}
    ]]>
            </if>
            <if test='SESSION_TERMINATED == null or SESSION_TERMINATED == "N"'>
    <![CDATA[
                AND C.ERR_MSSAGE_CN != '세션이 종료되었습니다.'
    ]]>
            </if>
            
        </where>
    <![CDATA[
        
        ORDER BY 
            C.FRST_REG_DT DESC
        ) X1

    ]]>
        <where>
            <if test="FRST_RGTR_NM != null and FRST_RGTR_NM != ''">
    <![CDATA[
                AND FRST_RGTR_NM = #{FRST_RGTR_NM}
    ]]>
            </if>
            
        </where>
    <![CDATA[
        
        ) X2
        WHERE SEQ >= #{START_IDX} AND SEQ <= #{LAST_IDX}

    ]]>
    </select>

    
    <select id="selectErrorDetail" parameterType="Integer" resultType="HashMap">
    <![CDATA[
        /* selectErrorDetail - Lee JiSeob */

        SELECT 
            C.LOG_MNG_NO,
            C.URL_ADDR,
            C.CLSSA_NM,
            C.METHDA_NM,
            C.ERR_MSSAGE_CN,
            C.METHDA_CALL_LIST_CN,
            C.MENU_NM,
            C.UP_MENU_NM,
            C.PROGRM_ID,
            C.DMND_IP_ADDR,
            C.FORMDA_CN AS FORM_DATA,
            C.FRST_RGTR_ID,
            (SELECT C##RG.DEC_B64(E.FLNM_ENCPT) FROM SAA200 D, SCA100 E 
            WHERE D.ENFSN_NO = E.ENFSN_NO AND D.USER_ID = C.FRST_RGTR_ID) AS FRST_RGTR_NM,
            TO_CHAR(C.FRST_REG_DT, 'YYYY-MM-DD HH24:MI:SS') AS FRST_REG_DT,
            C.LAST_MDFR_ID,
            TO_CHAR(C.LAST_MDFCN_DT, 'YYYY-MM-DD HH24:MI:SS') AS LAST_MDFCN_DT
        
        FROM SAB910 C /* 오류로그 */

        WHERE C.LOG_MNG_NO = #{LOG_MNG_NO}

    ]]>
    </select>
    
</mapper>
