<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.mngr.consultantabltymng.mapper.EvlCnsttnMapper">

    <select id="selectEvlCnsttnList" parameterType="HashMap" resultType="HashMap">
    SELECT  /*SQL-ID : isry.couns.mngr.consultantabltymng.mapper.EvlparMngMapper.selectEvlparMngList : 평가지관리 LIST */
            BB.USER_ID
        ,   MAX(EE.FLNM)                AS  FLNM
        ,   SUM(CC.NIGHT_WORK_HR)       AS  NIGHT_WORK_HR
        ,   SUM(CC.PENSN_SUM_AMT)       AS  PENSN_SUM_AMT
        ,   MAX(CC.APRV_YN)             AS  APRV_YN
    FROM
            AYC110      AA          /* 근무배정표_월별 */
        ,   AYC100      BB          /* 근무배정표_일별 */
        ,   AYC350      CC          /* 야간근무수당 */
        ,   SAA200      DD          /* 사용자 */
        ,   SCA100      EE          /* 종사자 */
    WHERE   1=1
        AND AA.CRTR_YM          =       #{yyyyMm}
        AND BB.BIZ_PLAN_MNG_NO  =       AA.BIZ_PLAN_MNG_NO
        AND BB.CRTR_YM          =       AA.CRTR_YM
        AND CC.GIVE_YM          =       AA.CRTR_YM
        AND CC.CONSTT_ID        =       BB.USER_ID
        AND DD.USER_ID          =       BB.USER_ID
        AND EE.ENFSN_NO         =       DD.ENFSN_NO
    GROUP BY
            BB.USER_ID
    ORDER BY
            1

    </select>
    
    <select id="selectNgtmWorkEtxpyReqstdMngDetail" parameterType="HashMap" resultType="HashMap">
    SELECT  /*SQL-ID : isry.couns.mngr.etxpyreqstdmng.mapper.NgtmWorkEtxpyReqstdMngMapper.selectNgtmWorkEtxpyReqstdMngDetail : 야간수당신청서상세 LIST */
            BB.USER_ID
        ,   EE.FLNM
        ,   BB.WORK_YMD
        ,   0                                   AS  WORK_TIME
        ,   AA.BGNG_HR || ' ~' || AA.END_HR     AS  DEF_WORK_TIME
    FROM
            AYC110      AA          /* 근무배정표_월별 */
        ,   AYC100      BB          /* 근무배정표_일별 */
        ,   SAA200      DD          /* 사용자 */
        ,   SCA100      EE          /* 종사자 */
    WHERE   1=1
        AND AA.CRTR_YM          =       #{yyyyMm}
        AND BB.BIZ_PLAN_MNG_NO  =       AA.BIZ_PLAN_MNG_NO
        AND BB.CRTR_YM          =       AA.CRTR_YM
        AND BB.USER_ID          =       #{userId}
        AND CC.GIVE_YM          =       AA.CRTR_YM
        AND CC.CONSTT_ID        =       BB.USER_ID
        AND DD.USER_ID          =       BB.USER_ID
        AND EE.ENFSN_NO         =       DD.ENFSN_NO
    ORDER BY
            1, 3

    </select>
    
</mapper>