<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.couns.constt.bbserr.mapper.BbsErrListMapper">

    <select id="BbsErrListCmbErr" parameterType="String" resultType="HashMap">
		SELECT /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(콤보1)*/
		          CMMNS_CD_ID     /* 공통코드아이디 */
		      ,   CMMNS_CD_VALUE     /* 공통코드값 */
		      ,   UP_CMMNS_CD_VALUE      /* 상위공통코드값 */
		      ,   CMMNS_CD_VALUE_NM      /* 공통코드값명 */
		FROM      SAC100 
		WHERE     CMMNS_CD_ID = #{DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD}        /* 전산오류신고진행상태 */
    </select>
    
    <select id="BbsErrListCmbPrgrs" parameterType="String" resultType="HashMap">
        SELECT /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(콤보2)*/
                  CMMNS_CD_ID     /* 공통코드아이디 */
              ,   CMMNS_CD_VALUE     /* 공통코드값 */
              ,   UP_CMMNS_CD_VALUE      /* 상위공통코드값 */
              ,   CMMNS_CD_VALUE_NM      /* 공통코드값명 */
        FROM      SAC100 
        WHERE     CMMNS_CD_ID = #{DTPRSN_ERR_DCLR_ERR_SE_CD}        /* 전산오류신고오류 */
    </select>
    
    <select id="BbsErrListCmbSxdc" parameterType="String" resultType="HashMap">
        SELECT /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(콤보2)*/
                  CMMNS_CD_ID     /* 공통코드아이디 */
              ,   CMMNS_CD_VALUE     /* 공통코드값 */
              ,   UP_CMMNS_CD_VALUE      /* 상위공통코드값 */
              ,   CMMNS_CD_VALUE_NM      /* 공통코드값명 */
        FROM      SAC100 
        WHERE     CMMNS_CD_ID = #{SXDC_SE_CD}        /* 전산오류신고오류 */
    </select>
    
    <select id="getTotalCount" parameterType="HashMap" resultType="int">
        SELECT /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류*/
                    count(*)
        FROM        AYE100
        WHERE       1=1
            AND     BBSCTT_TYPE_SE_CD = '30'        /*게시글유형구분코드*/
            AND     DEL_YN = 'N'        /*삭제여부*/
    </select>
	
	<select id="selectBbserrList" parameterType="String" resultType="HashMap">
		SELECT /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(조회)*/
		            EE.BBSCTT_CN AS BBSCTT_CN
		        ,   EE.BBSCTT_ESNTAL_NO AS BBSCTT_ESNTAL_NO
		        ,   CASE    WHEN    EE.NUM  =   '2'   THEN 'RE: ' || EE.BBSCTT_TTL_NM 
		            ELSE    EE.BBSCTT_TTL_NM
		            END     AS  BBSCTT_TTL_NM
		        ,   EE.DTPRSN_ERR_DCLR_ERR_SE_CD AS DTPRSN_ERR_DCLR_ERR_SE_CD
		        ,   EE.DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD AS DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD
		        ,   TO_CHAR(EE.FRST_REG_DT, 'YYYY-MM-DD') AS FRST_REG_DT     /*최초등록일*/
		        ,   EE.FRST_RGTR_ID || '(' || EE.WRTR_NM_ENCPT || ')' AS FRST_RGTR_ID       /*등록아이디*/
		        ,   EE.RDCNT_NOCS AS RDCNT_NOCS      /*조회수*/
		        ,   C##RG.DEC_B64(EE.WRTR_NM_ENCPT) AS WRTR_NM_ENCPT       /*작성자명*/
		        ,   EE.ATFINO AS ATFINO      /*첨부*/
		        ,   EE.RETE_ESNTAL_NO AS RETE_ESNTAL_NO
		        ,   NUM
		        ,   COUNT(*) OVER() AS TOTAL_COUNT
		FROM (
		       SELECT 
                            AA.BBSCTT_CN AS BBSCTT_CN       /*내용*/
                        ,   AA.BBSCTT_ESNTAL_NO AS BBSCTT_ESNTAL_NO        /*게시글번호*/
                        ,   AA.BBSCTT_TTL_NM AS BBSCTT_TTL_NM       /*게시글제목*/
                        ,   (
                                SELECT 
                                        A1.CMMNS_CD_VALUE_NM
                                FROM
                                        SAC100  A1
                                WHERE   1=1
                                    AND A1.CMMNS_CD_ID      =   'DTPRSN_ERR_DCLR_ERR_SE_CD'
                                    AND A1.CMMNS_CD_VALUE   =   AA.DTPRSN_ERR_DCLR_ERR_SE_CD
                            ) AS DTPRSN_ERR_DCLR_ERR_SE_CD      /*분류유형*/
                        ,   (
                                SELECT 
                                        A1.CMMNS_CD_VALUE_NM
                                FROM
                                        SAC100  A1
                                WHERE   1=1
                                    AND A1.CMMNS_CD_ID      =   'DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD'
                                    AND A1.CMMNS_CD_VALUE   =   AA.DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD
                            ) AS DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD       /*진행상태*/
                        ,   AA.FRST_REG_DT AS FRST_REG_DT     /*등록일*/
                        ,   AA.FRST_RGTR_ID || '(' || AA.WRTR_NM_ENCPT || ')' AS FRST_RGTR_ID       /*등록아이디*/
                        ,   AA.RDCNT_NOCS AS RDCNT_NOCS      /*조회수*/
                        ,   AA.WRTR_NM_ENCPT AS WRTR_NM_ENCPT       /*작성자명*/
                        ,   AA.ATFINO AS ATFINO      /*첨부*/
                        ,   0 AS RETE_ESNTAL_NO
                        ,   '1' AS NUM
                FROM        AYE100 AS AA
                WHERE       1=1
                    AND     AA.BBSCTT_TYPE_SE_CD = '30'
                    AND     AA.DEL_YN = 'N'
                            <if test='DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD == "01" '>              /* 상태 : 접수 ==> 기본값*/
                    AND     DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = '01'
                            </if>
                            <if test='DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD == "02" '>              /* 상태 : 접수 ==> 기본값*/
                    AND     DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = '02'
                            </if>
                            <if test='DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD == "03" '>              /* 상태 : 접수 ==> 기본값*/
                    AND     DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = '03'
                            </if>
                            <if test='DTPRSN_ERR_DCLR_ERR_SE_CD == "01" '>   /* 분류 : 채팅에러  ==> 기본값 */
                    AND     DTPRSN_ERR_DCLR_ERR_SE_CD    = '01'         /* 전산오류신고오류구분코드(분류 ==> 채팅에러(01), 그외 오류(02)) */
                            </if>
                            <if test='DTPRSN_ERR_DCLR_ERR_SE_CD == "02" '>   /* 분류 : 그외 오류 */
                    AND     DTPRSN_ERR_DCLR_ERR_SE_CD    = '02'         /* 전산오류신고오류구분코드(분류 ==> 채팅에러(01), 그외 오류(02)) */
                            </if>
                            <if test='BOX == "WRTR_NM_ENCPT" and BOX != null and BOX != "" '>         /* 검색어 조건 : 작성자 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.WRTR_NM_ENCPT LIKE '%' || #{KEYWORD} || '%'
				                </if>
							</if>
							<if test='BOX == "BBSCTT_TTL_NM" and BOX != null and BOX != "" '>         /* 검색어 조건 : 제목 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.BBSCTT_TTL_NM LIKE '%' || #{KEYWORD} || '%'
    							</if>
							</if>
							<if test='BOX == "BBSCTT_ESNTAL_NO" and BOX != null and BOX != "" '>         /* 검색어 조건 : 번호 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.BBSCTT_ESNTAL_NO LIKE '%' || #{KEYWORD} || '%'
				                </if>
							</if>
                            <if test='BOX == "BBSCTT_CN" and BOX != null and BOX != "" '>         /* 검색어 조건 : 내용 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.BBSCTT_CN LIKE '%' || #{KEYWORD} || '%'
								</if>
							</if>
							<if test="START_DATE != null and START_DATE != '' and END_DATE != null and END_DATE != ''">
	                <![CDATA[
	                AND AA.FRST_REG_DT              >=      TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS')
	                AND AA.FRST_REG_DT              <       TO_DATE(#{END_DATE} || '000000', 'YYYYMMDDHH24MISS')+1
	                ]]>
			                </if>
		UNION ALL 
                SELECT 
                            BB.RETE_CN AS BBSCTT_CN       /*내용*/
                        ,   BB.BBSCTT_ESNTAL_NO AS BBSCTT_ESNTAL_NO        /*게시글번호*/
                        ,   BB.RETE_TTL_NM AS BBSCTT_TTL_NM       /*게시글제목*/
                        ,   (
                                SELECT 
                                        A1.CMMNS_CD_VALUE_NM
                                FROM
                                        SAC100  A1
                                WHERE   1=1
                                    AND A1.CMMNS_CD_ID      =   'DTPRSN_ERR_DCLR_ERR_SE_CD'
                                    AND A1.CMMNS_CD_VALUE   =   AA.DTPRSN_ERR_DCLR_ERR_SE_CD
                            ) AS DTPRSN_ERR_DCLR_ERR_SE_CD      /*분류유형*/
                        ,   (
                                SELECT 
                                        A1.CMMNS_CD_VALUE_NM
                                FROM
                                        SAC100  A1
                                WHERE   1=1
                                    AND A1.CMMNS_CD_ID      =   'DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD'
                                    AND A1.CMMNS_CD_VALUE   =   AA.DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD
                            ) AS DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD       /*진행상태*/
                        ,   BB.FRST_REG_DT AS FRST_REG_DT     /*등록일*/
                        ,   BB.FRST_RGTR_ID || '(' || AA.WRTR_NM_ENCPT || ')' AS FRST_RGTR_ID       /*등록아이디*/
                        ,   BB.RDCNT_NOCS AS RDCNT_NOCS      /*조회수*/
                        ,   BB.WRTR_NM_ENCPT AS WRTR_NM_ENCPT       /*작성자명*/
                        ,   BB.ATFINO AS ATFINO      /*첨부*/
                        ,   BB.RETE_ESNTAL_NO AS RETE_ESNTAL_NO
                        ,   '2' AS NUM
                FROM        AYE120 AS BB
                        ,   AYE100 AS AA
                WHERE       1=1
                    AND        BB.BBSCTT_TYPE_SE_CD = '30'
                    AND     BB.BBSCTT_TYPE_SE_CD = AA.BBSCTT_TYPE_SE_CD
                    AND     BB.BBSCTT_ESNTAL_NO = AA.BBSCTT_ESNTAL_NO
                    AND     BB.BBSCTT_TYPE_SE_CD        IS NOT NULL
                    AND     BB.DEL_YN = 'N' 
                    AND     AA.DEL_YN = 'N'
                            <if test='DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD == "01" '>              /* 상태 : 접수 ==> 기본값*/
                    AND     DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = '01'
                            </if>
                            <if test='DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD == "02" '>              /* 상태 : 접수 ==> 기본값*/
                    AND     DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = '02'
                            </if>
                            <if test='DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD == "03" '>              /* 상태 : 접수 ==> 기본값*/
                    AND     DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = '03'
                            </if>
                            <if test='DTPRSN_ERR_DCLR_ERR_SE_CD == "01" '>   /* 분류 : 채팅에러  ==> 기본값 */
                    AND     DTPRSN_ERR_DCLR_ERR_SE_CD    = '01'         /* 전산오류신고오류구분코드(분류 ==> 채팅에러(01), 그외 오류(02)) */
                            </if>
                            <if test='DTPRSN_ERR_DCLR_ERR_SE_CD == "02" '>   /* 분류 : 그외 오류 */
                    AND     DTPRSN_ERR_DCLR_ERR_SE_CD    = '02'         /* 전산오류신고오류구분코드(분류 ==> 채팅에러(01), 그외 오류(02)) */
                            </if>
                            <if test='BOX == "WRTR_NM_ENCPT" and BOX != null and BOX != "" '>         /* 검색어 조건 : 작성자 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.WRTR_NM_ENCPT LIKE '%' || #{KEYWORD} || '%'
                                </if>
                            </if>
                            <if test='BOX == "BBSCTT_TTL_NM" and BOX != null and BOX != "" '>         /* 검색어 조건 : 제목 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.BBSCTT_TTL_NM LIKE '%' || #{KEYWORD} || '%'
                                </if>
                            </if>
                            <if test='BOX == "BBSCTT_ESNTAL_NO" and BOX != null and BOX != "" '>         /* 검색어 조건 : 번호 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.BBSCTT_ESNTAL_NO LIKE '%' || #{KEYWORD} || '%'
                                </if>
                            </if>
                            <if test='BOX == "BBSCTT_CN" and BOX != null and BOX != "" '>         /* 검색어 조건 : 내용 일 때 */
                                <if test='KEYWORD != null and KEYWORD != "" '>         /* 검색어로 조회 */
                    AND         AA.BBSCTT_CN LIKE '%' || #{KEYWORD} || '%'
                                </if>
                            </if>
                            <if test="START_DATE != null and START_DATE != '' and END_DATE != null and END_DATE != ''">
                    <![CDATA[
                    AND AA.FRST_REG_DT              >=      TO_DATE(#{START_DATE} || '000000', 'YYYYMMDDHH24MISS')
                    AND AA.FRST_REG_DT              <       TO_DATE(#{END_DATE} || '000000', 'YYYYMMDDHH24MISS')+1
                    ]]>
                            </if>
		            ) AS EE
		ORDER BY    EE.BBSCTT_ESNTAL_NO DESC
		         ,  EE.NUM 
        OFFSET #{START_IDX} ROWS FETCH NEXT #{ROW_COUNT} ROWS ONLY
    </select>
	
	<select id="selectBbserrDetail" parameterType="String" resultType="HashMap">
        SELECT /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(상세)*/
                        AA.BBSCTT_ESNTAL_NO AS BBSCTT_ESNTAL_NO        /*게시글 고유번호*/
                    ,   AA.DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD AS DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD        /*진행상태  */
                    ,   AA.DTPRSN_ERR_DCLR_ERR_SE_CD AS DTPRSN_ERR_DCLR_ERR_SE_CD       /*분류*/
                    ,   AA.BBSCTT_TTL_NM AS BBSCTT_TTL_NM       /*제목*/
                    ,   AA.WRTR_NM_ENCPT AS WRTR_NM_ENCPT       /*작성자이름(작성자아이디)*/   
                    ,   TO_CHAR(AA.FRST_REG_DT, 'YYYY-MM-DD') AS FRST_REG_DT
                    ,   AA.RDCNT_NOCS AS RDCNT_NOCS      /*조회*/
                    ,   AA.ATFINO AS ATFINO      /*첨부*/
                    ,   AA.BBSCTT_CN AS BBSCTT_CN       /*게시글내용*/
                    ,   SUBSTR(AA.BRTH_YMD, 1, 4) AS BRTH_YMD        /*출생년도*/
                    ,   AA.SXDC_SE_CD       /*성별*/
                    ,   AA.PSWD_ENCPT AS PSWD_ENCPT      /*글비번*/ 
                    ,   AA.CNTN_IP_ADDR AS CNTN_IP_ADDR        /*아이피*/
                    ,   AA.HPGE_URL_ADDR AS HPGE_URL_ADDR       /*홈페이지*/
                    ,   AA.EML_ADDR_ENCPT AS EML_ADDR_ENCPT      /*이메일*/
        FROM        AYE100 AS AA
        WHERE       1=1
            AND     BBSCTT_ESNTAL_NO = #{BBSCTT_ESNTAL_NO}
            AND     BBSCTT_TYPE_SE_CD = '30'
    </select>
	
	
	<insert id="insertBbserr" parameterType="HashMap" useGeneratedKeys="true" keyProperty="BBSCTT_ESNTAL_NO">
                                                                                                
        <selectKey resultType="String" keyProperty="BBSCTT_ESNTAL_NO" order="AFTER">
            <![CDATA[            
              SELECT AYE100_SQ01.CURRVAL AS BBSCTT_ESNTAL_NO
              FROM DUAL  
             ]]> 
        </selectKey>
			INSERT INTO AYE100 (/*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(등롥)*/
	                    BBSCTT_ESNTAL_NO                   /*게시글 고유번호*/
                    ,   BBSCTT_TYPE_SE_CD                  /*게시글유형구분코드*/
	                ,   DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD   /*진행상태  */
	                ,   DTPRSN_ERR_DCLR_ERR_SE_CD          /*분류*/
					,   BBSCTT_TTL_NM                      /*제목*/
					,   WRTR_NM_ENCPT                      /*작성자이름(작성자아이디)*/   
					,   FRST_RGTR_ID                       /*최초등록자아이디*/
					,   FRST_REG_DT                        /*작성일*/
                        <if test="ATFINO != null and ATFINO != ''">
                    ,   ATFINO                             /*첨부파일명*/
                        </if>
					,   BBSCTT_CN                          /*게시글내용*/
					,   BRTH_YMD                           /*출생년도*/
					,   SXDC_SE_CD                         /*성별*/
					,   PSWD_ENCPT                         /*글비번*/ 
					,   CNTN_IP_ADDR                       /*아이피*/
					,   HPGE_URL_ADDR                      /*홈페이지*/
					,   EML_ADDR_ENCPT                     /*이메일*/
					)
			 VALUES(
                        AYE100_SQ01.NEXTVAL                 /*게시글 고유번호*/
                    ,   '30'                                /*게시글유형구분코드*/
                    ,   #{DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD} /*진행상태  */
                    ,   #{DTPRSN_ERR_DCLR_ERR_SE_CD}        /*분류*/
                    ,   #{BBSCTT_TTL_NM}                    /*제목*/
                    ,   C##RG.ENC_B64(#{WRTR_NM_ENCPT})  /*작성자이름(작성자아이디)*/   
                    ,   #{FRST_RGTR_ID}                     /*최초등록자아이디*/
                    ,   SYSDATE                             /*작성일*/
                        <if test="ATFINO != null and ATFINO != ''">
                    ,   #{ATFINO}                           /*첨부파일명*/
                        </if>
                    ,   #{BBSCTT_CN}                        /*게시글내용*/
                    ,   #{BRTH_YMD}                         /*출생년도*/
                    ,   #{SXDC_SE_CD}                       /*성별*/
                    ,   #{PSWD_ENCPT}                       /*글비번*/ 
                    ,   #{CNTN_IP_ADDR}                     /*아이피*/
                    ,   #{HPGE_URL_ADDR}                    /*홈페이지*/
                    ,   #{EML_ADDR_ENCPT}                   /*이메일*/
					)
    </insert>
    
    <update id="updateBbserr" parameterType="HashMap">
        UPDATE AYE100 SET /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(수정)*/
                    BBSCTT_CN = #{BBSCTT_CN}     /*게시글내용*/
                    <if test="PSWD_ENCPT != null and PSWD_ENCPT != ''">
                ,   PSWD_ENCPT = #{PSWD_ENCPT}     /*글비번*/
                    </if>  
                    <if test="BBSCTT_TTL_NM != null and BBSCTT_TTL_NM != ''">
                ,   BBSCTT_TTL_NM = #{BBSCTT_TTL_NM}     /*게시글제목*/
                    </if>
                    <if test="DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD != null and DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD != ''">
                ,   DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD = #{DTPRSN_ERR_DCLR_PRGRS_STTS_SE_CD}        /*진행상태  */
                    </if>
                    <if test="DTPRSN_ERR_DCLR_ERR_SE_CD != null and DTPRSN_ERR_DCLR_ERR_SE_CD != ''">
                ,   DTPRSN_ERR_DCLR_ERR_SE_CD = #{DTPRSN_ERR_DCLR_ERR_SE_CD}       /*분류*/
                    </if>
                    <if test="ATFINO != null and ATFINO != ''">
                ,   ATFINO = #{ATFINO}       /*파일*/
                    </if>
                ,   LAST_MDFR_ID = #{LAST_MDFR_ID}      /*수정아이디*/
                ,   LAST_MDFCN_DT = SYSDATE     /*수정일*/
        WHERE       1=1
            AND     BBSCTT_ESNTAL_NO = #{BBSCTT_ESNTAL_NO}      /**/                                  
    </update>
    
    <update id="deleteBbserr" parameterType="HashMap">
        UPDATE AYE100 SET   /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(삭제)*/
                    DEL_YN = 'Y'      /*삭제여부*/
                ,   LAST_MDFCN_DT = SYSDATE       /*최종수정일*/  
                ,   LAST_MDFR_ID = #{LAST_MDFR_ID}        /*최종수정아이디*/
        WHERE       1=1
            AND     BBSCTT_ESNTAL_NO = #{BBSCTT_ESNTAL_NO__origin}      /*게시글고유번호*/
    </update>
    
    <select id="selectRespodDetail" parameterType="String" resultType="HashMap">
        SELECT /*SQL-ID : /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(답글상세)*/
                    AA.ATFINO     /*파일명*/
				,   AA.BBSCTT_ESNTAL_NO        /*게시글번호*/
				,   AA.BBSCTT_TYPE_SE_CD       /*게시글유형구분코드*/
				,   AA.RETE_ESNTAL_NO      /*답글고유번호*/
				,   AA.RETE_CN     /*답글내용*/
				,   AA.RETE_TTL_NM     /*답글제목명*/
				,   AA.PSWD_ENCPT      /*비밀번호암호화*/
				,   (
                     SELECT 
                             A1.CMMNS_CD_VALUE_NM
                     FROM
                             SAC100  A1
                     WHERE   1=1
                         AND A1.CMMNS_CD_ID      =   'SXDC_SE_CD'
                         AND A1.CMMNS_CD_VALUE   =   AA.SXDC_SE_CD
                     ) AS SXDC_SE_CD       /*성별*/
				,   AA.WRTR_NM_ENCPT       /*작성자명*/
				,   AA.CNTN_IP_ADDR        /*접속아이피주소*/
				,   AA.RDCNT_NOCS      /*조회수*/
				,   TO_CHAR(AA.FRST_REG_DT, 'YYYY-MM-DD') AS FRST_REG_DT
				,   AA.FRST_RGTR_ID        /*최초등록아이디*/
        FROM        AYE120 AS AA
        WHERE       1=1
            AND     BBSCTT_TYPE_SE_CD = '30'
            AND     RETE_ESNTAL_NO = #{RETE_ESNTAL_NO}
            AND     BBSCTT_ESNTAL_NO = #{BBSCTT_ESNTAL_NO}
    </select>
    
    <insert id="insertBbserrRply" parameterType="HashMap" useGeneratedKeys="true" keyProperty="RETE_ESNTAL_NO">
        <selectKey resultType="String" keyProperty="RETE_ESNTAL_NO" order="AFTER">
           <![CDATA[            
                SELECT AYE120_SQ01.CURRVAL AS RETE_ESNTAL_NO
                FROM DUAL
           ]]>
       </selectKey>
            INSERT INTO AYE120 (/*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(답글등롥)*/
                        BBSCTT_ESNTAL_NO                        /*게시글 고유번호*/
                    ,   BBSCTT_TYPE_SE_CD                       /*게시글유형구분코드*/
                    ,   RETE_ESNTAL_NO                          /*답글고유번호*/
                    ,   RETE_TTL_NM                             /*제목*/
                    ,   WRTR_NM_ENCPT                           /*작성자이름(작성자아이디)*/   
                    ,   FRST_REG_DT                             /*작성일*/
                    ,   RDCNT_NOCS                              /*조회*/
                        <if test="ATFINO != null and ATFINO != ''">
	                ,   ATFINO                                  /*첨부파일명*/
	                    </if>
                    ,   RETE_CN                                 /*답글내용*/
                    ,   SXDC_SE_CD                              /*성별*/
                    ,   PSWD_ENCPT                              /*글비번*/ 
                    ,   CNTN_IP_ADDR                            /*아이피*/
                    )
             VALUES(
                        #{BBSCTT_ESNTAL_NO}                     /*게시글 고유번호*/
                    ,   '30'                                    /*게시글유형구분코드*/
                    ,   AYE120_SQ01.NEXTVAL                     /*답글고유번호*/
                    ,   #{RETE_TTL_NM}                          /*제목*/
                    ,   C##RG.ENC_B64(#{WRTR_NM_ENCPT})      /*작성자이름(작성자아이디)*/   
                    ,   SYSDATE                                 /*작성일*/
                    ,   #{RDCNT_NOCS}                           /*조회*/
	                    <if test="ATFINO != null and ATFINO != ''">
	                ,   #{ATFINO}                               /*첨부파일명*/
		                </if>
                    ,   #{RETE_CN}                              /*답글내용*/
                    ,   #{SXDC_SE_CD}                           /*성별*/
                    ,   #{PSWD_ENCPT}                           /*글비번*/ 
                    ,   #{CNTN_IP_ADDR}                         /*아이피*/
                    )
    </insert>
    
    <update id="updateBbserrRply" parameterType="HashMap">
        UPDATE AYE120 SET /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(답글수정)*/
                    RETE_CN = #{RETE_CN}
                    <if test="RETE_TTL_NM != null and RETE_TTL_NM != ''">
                ,   RETE_TTL_NM = #{RETE_TTL_NM}     /*게시글제목*/
                    </if>    
                    <if test="PSWD_ENCPT != null and PSWD_ENCPT != ''">
                ,   PSWD_ENCPT = #{PSWD_ENCPT}     /*글비번*/
                    </if>    
                    <if test="ATFINO != null and ATFINO != ''">
                ,   ATFINO = #{ATFINO}       /*파일*/
                    </if>            
                ,   LAST_MDFCN_DT = SYSDATE 
                ,   LAST_MDFR_ID = #{LAST_MDFR_ID}
        WHERE       1=1
            AND     BBSCTT_TYPE_SE_CD = '30'
            AND     BBSCTT_ESNTAL_NO = #{BBSCTT_ESNTAL_NO__origin}
            AND     RETE_ESNTAL_NO = #{RETE_ESNTAL_NO__origin}                               
    </update>
    
    <update id="deleteBbserrRply" parameterType="HashMap">

        UPDATE AYE120 SET /*SQL-ID : isry.couns.constt.bbserr.mapper.BbsErrListMapper :  전산오류(답글삭제)*/
                      DEL_YN = 'Y'
                    , LAST_MDFCN_DT = SYSDATE     
                    , LAST_MDFR_ID = #{LAST_MDFR_ID}
        WHERE       1=1
            AND     BBSCTT_TYPE_SE_CD = '30'
            AND     BBSCTT_ESNTAL_NO = #{BBSCTT_ESNTAL_NO__origin}
            AND     RETE_ESNTAL_NO = #{RETE_ESNTAL_NO__origin}
    </update>
    
    <update id="bbserrDtlCnt" parameterType="HashMap">
    UPDATE  /*SQL-ID : isry.couns.constt.bbserr.mapper.bbserrDtlCnt :  전산오류(게시글조회수추가)*/
            AYE100  
    SET   
            RDCNT_NOCS = NVL(RDCNT_NOCS, 0) +1   
    WHERE   1=1
        AND BBSCTT_ESNTAL_NO    =   #{BBSCTT_ESNTAL_NO}     
        AND BBSCTT_TYPE_SE_CD   =   '30'
    </update>
    
        <update id="bbserrResCnt" parameterType="HashMap">
    UPDATE  /*SQL-ID : isry.couns.constt.bbserr.mapper.bbserrResCnt :  전산오류(답글조회수추가)*/
            AYE120  
    SET   
            RDCNT_NOCS = NVL(RDCNT_NOCS, 0) +1   
    WHERE   1=1
        AND BBSCTT_ESNTAL_NO    =   #{BBSCTT_ESNTAL_NO}     
        AND BBSCTT_TYPE_SE_CD   =   '30'
    </update>
</mapper>