<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="isry.subms.stats.operprfmnc.mapper.OperPrfmncMapper">

	<select id="selectSemstrCombo" parameterType="HashMap"
		resultType="HashMap">
	/* selectSemstrCombo */
	SELECT
	   A.SEMSTR_SE_CD
	,  B.SRVC_EXCN_BIZ_NO
	,  C.CMMNS_CD_VALUE_NM
	,  C.CMMNS_CD_VALUE
	FROM AFA310 A
	JOIN SDA420 B
	   ON  A.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO
	LEFT JOIN SAC100 C
	   ON  C.CMMNS_CD_ID = 'SEMSTR_SE_CD'
	   AND C.CMMNS_CD_VALUE = A.SEMSTR_SE_CD
	WHERE  A.USE_YN = 'Y'
	</select>

	<!-- 인원현황 목록 -->
	<select id="selectNmprPreconList" parameterType="HashMap"
		resultType="HashMap">
	<![CDATA[
	/* isry.subms.stats.operprfmnc.mapper.OperPrfmncMapper - selectNmprPreconList[Lee SangHoon] */
	
    SELECT
        T3.BIZ_YR                                                                                   -- 사업연도
        ,T.PVSN_RESRCE_NM                                                                           -- 제공자원명
        ,T2.SRVC_EXCN_BIZ_NM
        ,T4.INST_NM                                                                                 -- 기관명
        ,T1.*
    FROM SDA100 T
    JOIN
        (SELECT
            A.RESRCE_NO                                                                             -- 자원번호
            , TO_CHAR(TO_DATE(C.PVSN_BGNG_YMD), 'YYYY-MM-DD')               AS PVSN_BGNG_YMD
            , TO_CHAR(TO_DATE(C.PVSN_END_YMD), 'YYYY-MM-DD')                AS PVSN_END_YMD
            ,COUNT(DISTINCT A.CASE_MNG_NO)                                  AS TOT_PTCPTN_NOPE      -- 재적인원
            ,COUNT(DISTINCT CASE WHEN B.CASE_BGNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD} THEN 1 END)
                                                                            AS NEW_NOPE             -- 신규인원
            ,COUNT(DISTINCT CASE WHEN B.CASE_BGNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD} THEN 1 END)
                                                                            AS TRMN_NOPE            -- 종결인원
            ,COUNT(CASE WHEN A.ATNC_SE_CD IN ('01') THEN 1 END)             AS ATEND_NOPE           -- 출석 수
            ,COUNT(CASE WHEN A.ATNC_SE_CD IN ('02') THEN 1 END)             AS ABSNC_NOPE           -- 결석 수
            ,COUNT(CASE WHEN A.ATNC_SE_CD IN ('03') THEN 1 END)             AS LATEN_NOPE           -- 지각 수
            ,COUNT(CASE WHEN A.ATNC_SE_CD IN ('04') THEN 1 END)             AS LRLY_NOPE            -- 조퇴 수
            ,COUNT(CASE WHEN A.ATNC_SE_CD IN ('05') THEN 1 END)             AS GOOUT_NOPE           -- 외출 수
            ,COUNT(CASE WHEN A.ATNC_SE_CD IN ('06', '07', '08', '09', '10') THEN 1 END)
                                                                            AS ETC_NOPE             -- 기타 수
            ,(SELECT COUNT(DISTINCT LCTRE_YMD) FROM SDA320
                WHERE RESRCE_NO = A.RESRCE_NO
                AND LCTRE_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD})           AS CLASSCNT_NOPE        -- 수업일수
        FROM SEB530 A
        LEFT JOIN SEB100 B
        ON B.CASE_MNG_NO = A.CASE_MNG_NO
        AND B.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
        LEFT JOIN SDA100 C
        ON C.RESRCE_NO = A.RESRCE_NO
        LEFT JOIN AFA310 D
        ON D.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO
        AND A.PTCPTN_YMD BETWEEN D.BGNG_YMD AND D.END_YMD
        AND D.USE_YN  = 'Y'
        
        WHERE 1=1
        AND A.PTCPTN_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}
        AND D.SEMSTR_SE_CD LIKE #{SEMSTR_SE_CD} || '%'
        
        GROUP BY A.RESRCE_NO, C.PVSN_BGNG_YMD, C.PVSN_END_YMD
        ) T1
    ON T1.RESRCE_NO = T.RESRCE_NO
    LEFT JOIN SDA420 T2
    ON T2.SRVC_EXCN_BIZ_NO = T.SRVC_EXCN_BIZ_NO
    LEFT JOIN SDA400 T3
    ON T3.SRVC_BIZ_NO = T2.SRVC_BIZ_NO
    LEFT JOIN SAA000 T4
    ON T4.INST_NO = T.RSFR_INST_NO
    
    WHERE 1=1
    AND T.SRVC_RESRCE_LCLAS_SE_CD <> '01'
    AND T.APRV_STTS_SE_CD = '2'
    AND T4.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    AND T3.BIZ_YR = #{BIZ_YR}
	AND T2.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
	AND T4.INST_NO LIKE #{INST_NO} || '%'
	AND T.RESRCE_NO LIKE #{RESRCE_NO} || '%'
	
	ORDER BY T3.BIZ_YR DESC, T4.INST_NO, T2.SRVC_EXCN_BIZ_NO
	]]>
	</select>

	<select id="selectNmprAchivRateList" parameterType="HashMap"
		resultType="HashMap">
    <![CDATA[
        /* selectNmprAchivRateList(인원목표달성현황) - Lee Hye Sun */
	    SELECT 
	          F.BIZ_YR                                          AS BIZ_YR                           /*사업연도*/
	        , B.PVSN_RESRCE_NM                                  AS PVSN_RESRCE_NM                   /*제공자원명*/
	        , B.RESRCE_NO                                       AS RESRCE_NO                       /*자원번호*/
	        , TO_CHAR(TO_DATE(B.PVSN_BGNG_YMD), 'YYYY-MM-DD') AS PVSN_BGNG_YMD
            , TO_CHAR(TO_DATE(B.PVSN_END_YMD), 'YYYY-MM-DD') AS PVSN_END_YMD
	        , B.UTZTN_PSNCPA_NOPE                               AS GOAL_NMPR                        /*이용정원*/
	        , K.SRVC_EXCN_BIZ_NM                               AS SRVC_EXCN_BIZ_NM             /*서비스실행사업명*/
	        , K.SRVC_EXCN_BIZ_NO                                AS SRVC_EXCN_BIZ_NO                 /*서비스실행사업번호*/
	        , G.INST_NO                                         AS INST_NO                          /*기관번호*/
	        , G.INST_NM                                         AS OPER_INST_NM                     /*기관명*/
	        , H.SEMSTR_SE_CD                                    AS SEMSTR_SE_CD                     /*학기구분코드*/
	        , G.UNT_TASKWK_SE_CD                                                                    /*단위업무구분코드*/
            , COUNT(A.CASE_MNG_NO)                              AS SRVCTRPR                         /*서비스제공대상자수*/
	        , (SELECT CMMNS_CD_VALUE_NM FROM SAC100 WHERE CMMNS_CD_ID = 'SEMSTR_SE_CD' AND CMMNS_CD_VALUE = H.SEMSTR_SE_CD) AS SEMSTR_SE   /*학기구분코드*/
	        , COUNT(CASE WHEN (D.CASE_BGNG_YMD BETWEEN H.BGNG_YMD AND H.END_YMD) OR (D.CASE_TRMN_YMD BETWEEN H.BGNG_YMD AND H.END_YMD) THEN A.SRVC_PVSN_NO END) AS TOT_PTCPTN_NOPE /*재적*/ 
	        , COUNT(CASE WHEN E.CASE_TRMN_YMD BETWEEN H.BGNG_YMD AND H.END_YMD AND E.TRMN_SE_CD = '10' THEN D.CASE_MNG_NO END) AS FNSH                   /*수료*/
	        , COUNT(CASE WHEN TO_CHAR(SYSDATE, 'YYYY') - NVL(TO_CHAR(F.BIZ_YR), TO_CHAR(SYSDATE, 'YYYY')) >= 1 THEN NVL(J.INDV_IDNTFC_NO, I.TRPR_INFO_NO) END) AS DPCN_PTCPTN /*중복참여율*/
	        , COUNT(CASE WHEN E.TRMN_SE_CD = '04' AND E.TRMN_CS_SE_CD = '040' THEN D.CASE_MNG_NO END) AS MDSTRM_FAILR  /*중도포기*/
            , COUNT(CASE WHEN E.TRMN_SE_CD = '04' AND E.TRMN_CS_SE_CD IN ('028', '029', '030', '035', '036') THEN D.CASE_MNG_NO END) AS PRTPNT_LINK /*연계*/
	    FROM SEB510 A   /*서비스제공대상자*/
	    LEFT JOIN SDA100 B /*자원기본*/ ON A.RESRCE_NO = B.RESRCE_NO
	    LEFT JOIN SEB100 D /*사례기본*/ ON A.CASE_MNG_NO = D.CASE_MNG_NO
	                                    AND A.CASE_MNG_ODRNO = D.CASE_MNG_ODRNO
	    LEFT JOIN 
	        (SELECT BB.CASE_MNG_NO, BB.CASE_MNG_ODRNO, BB.TRMN_CS_SE_CD, AA.CASE_TRMN_YMD, BB.TRMN_SE_CD, BB.YNGBGS_CHNG_LAST_RESULT_CN, AA.PIC_OPNN_CN
	            ,ROW_NUMBER() OVER(PARTITION BY BB.CASE_MNG_NO, BB.CASE_MNG_ODRNO ORDER BY BB.CASE_TRMN_NO DESC) AS RN
	        FROM SEC100 AA                                                                          /*사례종결 테이블*/
	        LEFT JOIN SEC100 BB
	        ON BB.CASE_MNG_NO = AA.CASE_MNG_NO
	            AND BB.CASE_MNG_NO = AA.CASE_MNG_NO
	            AND BB.TRMN_SRNG_RESULT_SE_CD = '01'                                                /*종결심사결과구분코드(신청)*/
	        WHERE AA.TRMN_SRNG_RESULT_SE_CD = '02'                                                  /*종결심사결과구분코드(심사(승인))*/
	    )E
	        ON E.CASE_MNG_NO = A.CASE_MNG_NO
	        AND E.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
	        AND E.RN=1
	    LEFT JOIN SDA420 K /*서비스실행사업*/ ON B.SRVC_EXCN_BIZ_NO = K.SRVC_EXCN_BIZ_NO
        LEFT JOIN SDA400 F /*서비스사업*/ ON F.SRVC_BIZ_NO = K.SRVC_BIZ_NO
	    LEFT JOIN SAA000 G /*통합기관*/ ON B.RSFR_INST_NO = G.INST_NO
	    LEFT JOIN AFA310 H /*학기관리*/ ON B.SRVC_EXCN_BIZ_NO = H.SRVC_EXCN_BIZ_NO
	    LEFT JOIN SEA200 I /*대상자정보*/ ON I.TRPR_INFO_NO = D.TRPR_INFO_NO
        LEFT JOIN SCA300 J /*개인식별번호*/ ON I.INDV_IDNTFC_NO = J.INDV_IDNTFC_NO
	    
	    WHERE H.USE_YN = 'Y'
            AND B.SRVC_RESRCE_LCLAS_SE_CD <> '01'
            AND B.APRV_STTS_SE_CD = '2'
            AND A.DEL_YN = 'N'

    		AND F.BIZ_YR LIKE #{BIZ_YR} || '%' 
		    AND B.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
		    AND G.INST_NO LIKE #{INST_NO} || '%'
		    AND H.SEMSTR_SE_CD LIKE #{SEMSTR_SE_CD} || '%'
		    AND G.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
		    AND B.RESRCE_NO LIKE #{RESRCE_NO} || '%'
	       
		GROUP BY B.RESRCE_NO
		        , B.PVSN_RESRCE_NM
		        , B.PVSN_BGNG_YMD
                , B.PVSN_END_YMD
                , B.UTZTN_PSNCPA_NOPE
                , F.BIZ_YR
                , K.SRVC_EXCN_BIZ_NO
                , G.INST_NO
                , H.SEMSTR_SE_CD
                , K.SRVC_EXCN_BIZ_NM
                , G.INST_NM
                , G.UNT_TASKWK_SE_CD
        ORDER BY B.RESRCE_NO, H.SEMSTR_SE_CD
    ]]>

	</select>

    <!-- 참여자대상별현황 -->
	<select id="selectPrtpntTrgtPreconList" parameterType="HashMap"
		resultType="HashMap">
	<![CDATA[
	   /* selectPrtpntTrgtPreconList(참여자대상별현황) - Lee Sang Hoon */
	    WITH SXDC AS(
	        SELECT
	              CMMNS_CD_VALUE_NM
	            , CMMNS_CD_VALUE
	            , 1 AS SRT
	            , SRTNG_SQNCE
                , SRTNG_SQNCE AS SRTNG_SQNCE2
	        FROM SAC100
	        WHERE CMMNS_CD_ID ='SXDC_SE_CD'
	    ),
	    ACBG AS (
	        SELECT * FROM SXDC
	        UNION ALL
	        SELECT
	              X.CMMNS_CD_VALUE_NM
	            , X.CMMNS_CD_VALUE
	            , 2 AS SRT
	            , X.SRTNG_SQNCE
                , X.SRTNG_SQNCE2
	        FROM (
	            SELECT
	                  CONCAT(A.CMMNS_CD_VALUE_NM,B.CMMNS_CD_VALUE_NM) AS CMMNS_CD_VALUE_NM
	                , CONCAT(A.CMMNS_CD_VALUE,B.CMMNS_CD_VALUE) AS CMMNS_CD_VALUE
	                , A.SRTNG_SQNCE
	                , B.SRTNG_SQNCE AS SRTNG_SQNCE2
	            FROM SAC100 A
	            CROSS JOIN SAC100 B
	            WHERE A.CMMNS_CD_ID = 'ACBG_SE_CD'                               /*학력*/
	            AND B.CMMNS_CD_ID = 'GRDTN_STTS_SE_CD'                        /*졸업상태*/
	            AND A.CMMNS_CD_VALUE IN ('02','03','04','07','05','06')
	            ) X
	        WHERE X.CMMNS_CD_VALUE NOT LIKE '%99'
	    )
	    
	    SELECT
	          T2.BIZ_YR                        AS BIZ_YR
	        , T1.SRVC_EXCN_BIZ_NM              AS SRVC_EXCN_BIZ_NM
            , T0.PVSN_RESRCE_NM                AS PVSN_RESRCE_NM
	        , TO_CHAR(TO_DATE(T0.PVSN_BGNG_YMD), 'YYYY-MM-DD') AS PVSN_BGNG_YMD
            , TO_CHAR(TO_DATE(T0.PVSN_END_YMD), 'YYYY-MM-DD') AS PVSN_END_YMD
	        , T3.INST_NM                       AS OPER_INST_NM
	        , T3.INST_NO                       AS INST_NO
	        , C1.CMMNS_CD_VALUE_NM             AS SEMSTR_SE
	        , C1.CMMNS_CD_VALUE                AS SEMSTR_SE_CD
	        , CASE T.SRT
	            WHEN 1 THEN '성별'
	            WHEN 2 THEN '학력'
              END                              AS CL
	        , T.CMMNS_CD_VALUE_NM              AS TOT_PRVSON
	        , COUNT(T5.TRPR_INFO_NO)           AS PTCPTN_NOPE
	        , (SELECT COUNT(*) 
	           FROM SEB510
	           WHERE RESRCE_NO = T0.RESRCE_NO) AS TRPRNO
	    FROM ACBG T
	    CROSS JOIN SDA100 T0
	    INNER JOIN SDA420 T1
	    ON T1.SRVC_EXCN_BIZ_NO = T0.SRVC_EXCN_BIZ_NO
	    INNER JOIN SDA400 T2
	    ON T2.SRVC_BIZ_NO = T1.SRVC_BIZ_NO
	    INNER JOIN SAA000 T3
	    ON T3.INST_NO = T0.RSFR_INST_NO
	    INNER JOIN AFA310 T4
	    ON T4.SRVC_EXCN_BIZ_NO = T1.SRVC_EXCN_BIZ_NO
	    AND T4.USE_YN = 'Y'
	    LEFT JOIN
	        (SELECT DISTINCT
	              B.RESRCE_NO
	            , NVL(E.SXDC_SE_CD, C.SXDC_SE_CD) AS SXDC_SE_CD
	            , D.ACBG_SE_CD || D.GRDTN_STTS_SE_CD AS ACBG_CD
	            , C.TRPR_INFO_NO
	            , G.SEMSTR_SE_CD
	        FROM SEB100 A
	        LEFT JOIN SEB530 B
	        ON B.CASE_MNG_NO = A.CASE_MNG_NO
	        AND B.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
	        LEFT JOIN SEA200 C
	        ON C.TRPR_INFO_NO = A.TRPR_INFO_NO
	        LEFT JOIN
	            (SELECT A.*
	                , ROW_NUMBER() OVER(PARTITION BY A.TRPR_INFO_NO ORDER BY B.ADDTNG_MNG_VALUE1 DESC, A.MNG_SN DESC) AS RN
	            FROM SEA230 A
	            LEFT JOIN SAC100 B
	            ON B.CMMNS_CD_ID = 'ACBG_SE_CD'
	            AND B.CMMNS_CD_VALUE = A.ACBG_SE_CD
	            WHERE A.DEL_YN != 'Y'
	            ) D
	        ON D.RN = 1
	        AND D.TRPR_INFO_NO = C.TRPR_INFO_NO
	        LEFT JOIN SCA300 E
	        ON E.INDV_IDNTFC_NO = C.INDV_IDNTFC_NO
	        LEFT JOIN SDA100 F
	        ON F.RESRCE_NO = B.RESRCE_NO
	        LEFT JOIN AFA310 G
	        ON G.SRVC_EXCN_BIZ_NO = F.SRVC_EXCN_BIZ_NO
	        AND G.USE_YN = 'Y'
	        AND B.PTCPTN_YMD BETWEEN G.BGNG_YMD AND G.END_YMD
	        WHERE A.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
	        ) T5
	    ON T5.RESRCE_NO = T0.RESRCE_NO
	    AND T5.SEMSTR_SE_CD = T4.SEMSTR_SE_CD
	    AND (T5.SXDC_SE_CD = T.CMMNS_CD_VALUE
	        OR T5.ACBG_CD = T.CMMNS_CD_VALUE)
	    LEFT JOIN SAC100 C1
	    ON C1.CMMNS_CD_ID = 'SEMSTR_SE_CD'
	    AND C1.CMMNS_CD_VALUE = T4.SEMSTR_SE_CD
	    
	    WHERE 1=1
	    AND T0.APRV_STTS_SE_CD = '2'
	    AND T0.SRVC_RESRCE_LCLAS_SE_CD <> '01'
        AND T3.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        AND T2.BIZ_YR LIKE #{BIZ_YR} || '%' 
        AND T1.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
        AND T3.INST_NO LIKE #{INST_NO} || '%'
        AND C1.CMMNS_CD_VALUE LIKE #{SEMSTR_SE_CD} || '%'
        AND T0.RESRCE_NO LIKE #{RESRCE_NO} || '%'
	    
	    GROUP BY T2.BIZ_YR, T1.SRVC_EXCN_BIZ_NM, T0.PVSN_RESRCE_NM, T0.PVSN_BGNG_YMD, T0.PVSN_END_YMD, T3.INST_NO, T3.INST_NM, T4.SEMSTR_SE_CD, T.SRT, T.CMMNS_CD_VALUE_NM
	           , T1.SRVC_EXCN_BIZ_NO, T.SRTNG_SQNCE, T.SRTNG_SQNCE2, C1.CMMNS_CD_VALUE_NM, C1.CMMNS_CD_VALUE, T0.RESRCE_NO, T.CMMNS_CD_VALUE     
	    
	    ORDER BY T1.SRVC_EXCN_BIZ_NO DESC, T0.PVSN_RESRCE_NM, T4.SEMSTR_SE_CD, T.SRT, T.SRTNG_SQNCE, T.SRTNG_SQNCE2
   
	]]>
	</select>

</mapper>