<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.itgcms.sysmgmt.personalinfo.mapper.MyPageMapper">
	
	<insert id="saveMyPage" parameterType="HashMap">
	<![CDATA[
		/* saveMyPage - Lee JiSeob */

        MERGE INTO SAB210 /* 마이페이지 */
        USING DUAL
        ON (USER_ID = #{USER_ID} AND MENU_NO = #{MENU_NO})
        
        WHEN MATCHED THEN

            UPDATE SET
            LAST_MDFR_ID = #{USER_ID},
            LAST_MDFCN_DT = SYSDATE

            DELETE 
            WHERE (USER_ID = #{USER_ID} AND MENU_NO = #{MENU_NO})
        

        WHEN NOT MATCHED THEN
        
			INSERT 
			(
				USER_ID,
				MENU_NO,
				MENU_NM,
				SRTNG_SQNCE,
				FRST_RGTR_ID,
				FRST_REG_DT,
				LAST_MDFR_ID,
				LAST_MDFCN_DT
			)
			VALUES
			(
				#{USER_ID},
				#{MENU_NO},
				(SELECT D.MENU_NM FROM SAB200 D /* 메뉴 */ WHERE D.MENU_NO = #{MENU_NO}),
				(
				SELECT 
				CASE COUNT(*) WHEN 0 THEN 3 ELSE MAX(SRTNG_SQNCE) + 1 END  
				FROM SAB210 /* 마이페이지 */ WHERE USER_ID = #{USER_ID}
				),
				#{USER_ID},
				SYSDATE,
				#{USER_ID},
				SYSDATE
			)
		
	]]>
	</insert>
	
	<select id="selectMyPage" parameterType="HashMap" resultType="HashMap">
	<![CDATA[
		/* selectMyPage - Lee JiSeob */

		SELECT
			
            "LEVEL",
            MENU_NO, 
            MENU_NM, 
            URL_ADDR, 
            PROGRM_NM,
            UP_MENU_ID, 
            UP_MENU_NM,
            MENU_LEVELA_NO, 
            MENU_RM_CN,
            PROGRAM_RM_CN,
            PROGRM_ID,
            PARA_CN,
            TOP_MENU_ID,
            TOP_MENU_NM,
            TWO_DEPTH_MENU_ID,
            TWO_DEPTH_MENU_NM,
            SRTNG_SQNCE
  		
		FROM 
		(
			
		SELECT
			
            1 AS "LEVEL",
            1 AS MENU_NO, 
            '마이페이지' AS MENU_NM, 
            '' AS URL_ADDR, 
            '' AS PROGRM_NM,
            0 AS UP_MENU_ID, 
            '' AS UP_MENU_NM,
            1 AS MENU_LEVELA_NO, 
            '' AS MENU_RM_CN,
            '' AS PROGRAM_RM_CN,
            '' AS PROGRM_ID,
            '' AS PARA_CN,
            1 AS TOP_MENU_ID,
            '마이페이지' AS TOP_MENU_NM,
            0 AS TWO_DEPTH_MENU_ID,
            '' AS TWO_DEPTH_MENU_NM,
            1 AS SRTNG_SQNCE
  		
		FROM DUAL
		
		UNION ALL

		SELECT
            
            2 AS "LEVEL",
            2 AS MENU_NO, 
            '마이페이지' AS MENU_NM, 
            '' AS URL_ADDR, 
            '' AS PROGRM_NM,
            1 AS UP_MENU_ID, 
            '' AS UP_MENU_NM,
            2 AS MENU_LEVELA_NO, 
            '' AS MENU_RM_CN,
            '' AS PROGRAM_RM_CN,
            '' AS PROGRM_ID,
            '' AS PARA_CN,
            1 AS TOP_MENU_ID,
            '마이페이지' AS TOP_MENU_NM,
            2 AS TWO_DEPTH_MENU_ID,
            '마이페이지' AS TWO_DEPTH_MENU_NM,
            2 AS SRTNG_SQNCE
  
		FROM DUAL

		UNION ALL
		
        
        SELECT

            3 AS "LEVEL",
            1150 AS MENU_NO,
            '내 정보 수정' AS MENU_NM,
            D.URL_ADDR, 
            D.PROGRM_NM,
            
            2 AS UP_MENU_ID, 
            '마이페이지' AS UP_MENU_NM,
            
            3 AS MENU_LEVELA_NO,
            E.RM_CN AS MENU_RM_CN,
            D.RM_CN AS PROGRAM_RM_CN,
            D.PROGRM_ID,
            E.PARA_CN,
            
            1 AS TOP_MENU_ID,
            
            '마이페이지' AS TOP_MENU_NM,
            2 AS TWO_DEPTH_MENU_ID,
            '마이페이지' AS TWO_DEPTH_MENU_NM,
            3 AS SRTNG_SQNCE
            
        FROM SAB200 E /* 메뉴 */ 
        JOIN SAB100 D /* 프로그램 */ ON D.PROGRM_ID = E.PROGRM_ID
        
        WHERE E.MENU_NO = 1150
        
        
        UNION ALL

        
        SELECT

            3 AS "LEVEL",
            4803 AS MENU_NO,
            '업무및메뉴권한신청' AS MENU_NM,
            D.URL_ADDR, 
            D.PROGRM_NM,
            
            2 AS UP_MENU_ID, 
            '마이페이지' AS UP_MENU_NM,
            
            3 AS MENU_LEVELA_NO,
            E.RM_CN AS MENU_RM_CN,
            D.RM_CN AS PROGRAM_RM_CN,
            D.PROGRM_ID,
            E.PARA_CN,
            
            1 AS TOP_MENU_ID,
            
            '마이페이지' AS TOP_MENU_NM,
            2 AS TWO_DEPTH_MENU_ID,
            '마이페이지' AS TWO_DEPTH_MENU_NM,
            4 AS SRTNG_SQNCE
            
        FROM SAB200 E /* 메뉴 */ 
        JOIN SAB100 D /* 프로그램 */ ON D.PROGRM_ID = E.PROGRM_ID
        
        WHERE E.MENU_NO = 4803
        
        
        UNION ALL
        
        
		SELECT
            
            3 AS "LEVEL",
            C.MENU_NO,
            C.MENU_NM,
            D.URL_ADDR, 
            D.PROGRM_NM,
            2 AS UP_MENU_ID, 
            '마이페이지' AS UP_MENU_NM,
            3 AS MENU_LEVELA_NO, 
            E.RM_CN AS MENU_RM_CN,
            D.RM_CN AS PROGRAM_RM_CN,
            D.PROGRM_ID,
            E.PARA_CN,
            
            /*
            (
            SELECT F.MENU_NO 
            FROM SAB200 F
            WHERE F.MENU_LEVELA_NO = 1
            START WITH F.MENU_NO = C.MENU_NO
            CONNECT BY PRIOR F.UP_MENU_NO = F.MENU_NO
            ) AS TOP_MENU_ID,
            */
            
            1 AS TOP_MENU_ID,
            
            '마이페이지' AS TOP_MENU_NM,
            2 AS TWO_DEPTH_MENU_ID,
            '마이페이지' AS TWO_DEPTH_MENU_NM,
            C.SRTNG_SQNCE + 2 AS SRTNG_SQNCE
  
		FROM SAB210 C /* 마이페이지 */ 
		JOIN SAB200 E /* 메뉴 */ ON E.MENU_NO = C.MENU_NO
		JOIN SAB100 D /* 프로그램 */ ON D.PROGRM_ID = E.PROGRM_ID
		
		WHERE USER_ID = #{USER_ID}
		
		/* ORDER BY SRTNG_SQNCE, MENU_NM */
		
		UNION ALL
		
		SELECT
            3 AS "LEVEL",
            5199 AS MENU_NO,
            '기관 관리' AS MENU_NM,
            D.URL_ADDR, 
            D.PROGRM_NM,
            2 AS UP_MENU_ID, 
            '마이페이지' AS UP_MENU_NM,
            3 AS MENU_LEVELA_NO,
            E.RM_CN AS MENU_RM_CN,
            D.RM_CN AS PROGRAM_RM_CN,
            D.PROGRM_ID,
            (SELECT TO_CHAR(INST_NO) FROM SAB230 WHERE MAIST_YN = 'Y' AND (SUBSTR(GROUP_AUTHRT_SE_CD, 2, 2) = '10' OR SUBSTR(GROUP_AUTHRT_SE_CD, 2, 2) = '20' OR GROUP_AUTHRT_SE_CD = '100' OR GROUP_AUTHRT_SE_CD = '200') AND USER_ID = #{USER_ID}) AS PARA_CN,
            1 AS TOP_MENU_ID,
            '마이페이지' AS TOP_MENU_NM,
            2 AS TWO_DEPTH_MENU_ID,
            '마이페이지' AS TWO_DEPTH_MENU_NM,
            4 AS SRTNG_SQNCE
        FROM SAB200 E /* 메뉴 */ 
        JOIN SAB100 D /* 프로그램 */ ON D.PROGRM_ID = E.PROGRM_ID
        WHERE E.MENU_NO = 5199
        AND EXISTS (SELECT 1 FROM SAB230 WHERE MAIST_YN = 'Y' AND USER_ID = #{USER_ID}
                    /* 권한 확인 */
                     AND (SUBSTR(GROUP_AUTHRT_SE_CD, 2, 2) = '10' OR SUBSTR(GROUP_AUTHRT_SE_CD, 2, 2) = '20'
		                OR GROUP_AUTHRT_SE_CD = '100' OR GROUP_AUTHRT_SE_CD = '200'))
		
		) C
		
		ORDER BY C.SRTNG_SQNCE
		
	]]>
	</select>
	
	
    <select id="selectCheckedMyPage" parameterType="HashMap" resultType="Integer">
    <![CDATA[
        /* selectCheckedMyPage - Lee JiSeob */
        
        SELECT 
        
            COUNT(*) AS CNT
        
        FROM SAB210 C /* 마이페이지 */
        
        WHERE 
            USER_ID = #{USER_ID}
            AND MENU_NO = #{MENU_NO}
        
    ]]>
    </select>
    
</mapper>