<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.couns.mngr.workaltmntmng.mapper.EvdyDscsnClsMapper">
	
	<select id="selectEvdyDscsnClsList" parameterType="HashMap" resultType="HashMap">
    /**
    *       selectEvdyDscsnClsList : isry.couns.mngr.workaltmntmng.mapper.EvdyDscsnClsMapper : 일일상담 배정표 목록 조회
    */
        SELECT
	            T1.INDEX_SN                            AS      INDEX_SN
	            , T1.CONSTT_ID                         AS      USER_ID
	            , C##RG.DEC_B64(T5.FLNM_ENCPT)      AS      USER_NM
	            , T1.BBSCTT_ESNTAL_NO                  AS      BBSCTT_ESNTAL_NO
	            , T1.BBSCTT_TYPE_SE_CD                 AS      BBSCTT_TYPE_SE_CD
	            , T3.RETE_ESNTAL_NO                    AS      RETE_ESNTAL_NO
	            , NVL(T3.DEL_YN, 'N')                  AS      RETE_DEL_YN
	            , (
		           SELECT  COUNT(*)
		           FROM    AYE110
		           WHERE   1=1
		           AND     DEL_YN                  =       'N'
		           AND     BBSCTT_ESNTAL_NO        =       T1.BBSCTT_ESNTAL_NO
		           AND     BBSCTT_TYPE_SE_CD       =       T1.BBSCTT_TYPE_SE_CD
		           AND     FRST_RGTR_ID            =       T1.CONSTT_ID
		          )                                    AS      CMNT_CNT
        FROM
	            AYA150      T1          /* 상담자 배정 */
	            , AYE100    T2          /* 사이버상담게시글 */
	            , (
	               SELECT  *
	               FROM    AYE120
	               WHERE   DEL_YN      =       'N'
	               )        T3          /* 사이버상담답글 */
	            , SAA200    T4          /* 사용자 */
	            , SCA100    T5          /* 종사자 */
		WHERE   1=1
		AND     T1.BBSCTT_ESNTAL_NO         =           T2.BBSCTT_ESNTAL_NO
		AND     T1.BBSCTT_TYPE_SE_CD        =           T2.BBSCTT_TYPE_SE_CD
		AND     T2.BBSCTT_ESNTAL_NO         =           T3.BBSCTT_ESNTAL_NO(+)
		AND     T2.BBSCTT_TYPE_SE_CD        =           T3.BBSCTT_TYPE_SE_CD(+)
		AND     T1.CONSTT_ID                =           T4.USER_ID
		AND     T4.ENFSN_NO                 =           T5.ENFSN_NO
		AND     T1.DEL_YN                   =           'N'
		AND     T2.DEL_YN                   =           'N'
		<if test="inqYmd != null and inqYmd != ''">
		    <![CDATA[
		AND     T1.REG_DT                   BETWEEN     TO_DATE(#{inqYmd},'YYYY-MM-DD')    
		                                    AND         TO_DATE(#{inqYmd},'YYYY-MM-DD')+0.99999
		    ]]>
		</if>
		<if test="instNo != null and instNo != ''">
		    <![CDATA[
		AND     T5.OGDP_DEPT_CD             =           #{instNo}
		    ]]>
		</if>
		
    </select>
</mapper>