<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* @Class Name  : CaseTrprInfoMapper.xml
* @Description : 사례대상자정보조회 팝업 SQL Mapper
*
* @author  : Lee.Jun.Yeong
* @since   : 2022. 06. 29.
* @version : 1.0
* @see
* <pre>
* ******************************************************************
* Modification Information
* ******************************************************************
* 수정일         수정자          수정내용
* ******************************************************************
* 2022. 06. 29.  Lee.Jun.Yeong    최초작성
* </pre>
-->
<mapper namespace="isry.itgcm.bizcmmns.cmmns.mapper.CaseTrprInfoMapper">

    <select id="selectCaseTrprInfoListCount" parameterType="HashMap" resultType="Integer">
        <![CDATA[
        SELECT /* isry.itgcm.bizcmmns.cmmns.CaseTrprInfoMapper.selectCaseTrprInfoList(사례대상자정보 목록조회) */
               COUNT(*)
          FROM SEA200 T1 /* 대상자정보 */
             , SEB100 T2 /* 사례기본 */
             , SEB150 T3 /* 사례담당자 */
         WHERE T1.TRPR_INFO_NO          = T2.TRPR_INFO_NO
           AND T2.CASE_MNG_NO           = T3.CASE_MNG_NO
           AND T2.CASE_MNG_ODRNO        = T3.CASE_MNG_ODRNO
           AND T3.PCHPRS_YN             = 'Y'
      ]]>
      <include refid="TRPR_WHERE"></include>
    </select>

    <!-- 사례대상자정보 목록조회 -->
    <select id="selectCaseTrprInfoList" parameterType="HashMap" resultType="HashMap">
      <![CDATA[
		SELECT /* isry.itgcm.bizcmmns.cmmns.CaseTrprInfoMapper.selectCaseTrprInfoList(사례대상자정보 목록조회) */
		       T1.TRPR_INFO_NO                      AS TRPR_INFO_NO         -- 대상자정보번호
		     , T1.CASE_TRPR_SLCTN_YMD               AS CASE_TRPR_SLCTN_YMD  -- 사례대상자선정일자
		     , T4.ACBG_SE_CD                        AS ACBG_SE_CD           -- 학력구분코드
             , T4.GRDTN_STTS_SE_CD                  AS GRDTN_STTS_SE_CD     -- 졸업상태구분코드 
		     , C##RG.DEC_B64(T1.TRPR_NM_ENCPT)   AS TRPR_NM              -- 대상자명암호화
		     , T1.TRPR_BRTH_YMD                     AS TRPR_BRTH_YMD        -- 대상자출생일자
		     , T1.SXDC_SE_CD                        AS SXDC_SE_CD           -- 성별구분코드
		     , T2.CASE_MNG_NO                       AS CASE_MNG_NO          -- 사례관리번호
		     , T2.CASE_MNG_ODRNO                    AS CASE_MNG_ODRNO       -- 사례관리차수
		     , T2.CASE_BGNG_YMD                     AS CASE_BGNG_YMD        -- 사례시작일자
		     , T2.CASE_TRMN_YMD                     AS CASE_TRMN_YMD        -- 사례종결일자
		     , T2.UNT_TASKWK_SE_CD                  AS UNT_TASKWK_SE_CD     -- 단위업무구분코드
		     , T3.CASE_PIC_NO                       AS CASE_PIC_NO          -- 사례담당자번호
		     ,(SELECT C##RG.DEC_B64(FLNM_ENCPT) FROM SCA100
		        WHERE ENFSN_NO = T3.CASE_PIC_NO)    AS CASE_PIC_NM          -- 사례담당자명
		     , T3.PIC_INST_NO                       AS PIC_INST_NO          -- 담당자기관번호
		     ,(SELECT INST_NM FROM SAA000
		        WHERE INST_NO = T3.PIC_INST_NO)     AS PIC_INST_NM          -- 담당자기관명
		     , T1.TRPR_TELNO                        AS TRPR_TELNO           -- 대상자전화번호
             , C##RG.DEC_B64(T1.MBL_TELNO_ENCPT) AS MBL_TELNO_ENCPT      -- 휴대전화번호암호화
             , C##RG.DEC_B64(T1.EML_ADDR_ENCPT)  AS EML_ADDR_ENCPT       -- 이메일주소암호화
             , C##RG.DEC_B64(T1.MSNGR_ID_ENCPT)  AS MSNGR_ID_ENCPT       -- 메신저아이디암호화
             , CASE WHEN T5.DDLN_APLCN_CRTR_SE_CD = '00' THEN TO_CHAR(LAST_DAY(TO_DATE(T5.DDLN_YM,'YYYYMM')),'YYYYMMDD')
                    WHEN T5.DDLN_APLCN_CRTR_SE_CD = '99' THEN TO_CHAR(LAST_DAY(ADD_MONTHS(TO_DATE(T5.DDLN_YM,'YYYYMM'), 1)),'YYYYMMDD')
                    ELSE TO_CHAR(ADD_MONTHS(TO_DATE(T5.DDLN_YM,'YYYYMM'), 1), 'YYYYMM') || T5.DDLN_APLCN_CRTR_SE_CD
                END                      AS DDLN_CRTR_YMD         /* 마감기준년월 */
             , T5.INST_NO                AS INST_NO               /* 기관번호 */
             , T5.DDLN_YM                AS DDLN_YM               /* 마감년월 */
             , T5.DDLN_YN                AS DDLN_YN               /* 마감여부 */
             , T5.DDLN_APLCN_CRTR_SE_CD  AS DDLN_APLCN_CRTR_SE_CD /* 마감적용기준구분코드 */
		  FROM SEA200 T1 /* 대상자정보 */
		     , SEB100 T2 /* 사례기본 */
		     , SEB150 T3 /* 사례담당자 */
			 , (SELECT RM
                 , TRPR_INFO_NO
                 , MNG_SN
                 , ACBG_SE_CD
                 , GRDTN_STTS_SE_CD
                FROM (SELECT ROW_NUMBER() OVER(PARTITION BY T.TRPR_INFO_NO ORDER BY T.TRPR_INFO_NO DESC) AS RM
                       , T.*
                    FROM SEA230 T
                   WHERE 1 = 1
                     AND T.ACBG_SE_CD NOT IN ('01','91','92')
                 )
              WHERE RM = 1) T4 /* 학력상태 */   
            , (SELECT TT5.*
                FROM SEC330 TT5 /* 사례관리마감 */    
                WHERE 1=1
                AND TT5.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
                AND TT5.DDLN_YN          = 'Y'
                AND TT5.DDLN_YM          = ( SELECT MAX(DDLN_YM)
                                             FROM SEC330
                                            WHERE INST_NO          = TT5.INST_NO
                                              AND UNT_TASKWK_SE_CD = TT5.UNT_TASKWK_SE_CD ) 
            ) T5	     
		 WHERE T1.TRPR_INFO_NO          = T2.TRPR_INFO_NO
		   AND T1.TRPR_INFO_NO          = T4.TRPR_INFO_NO(+)
		   AND T2.CASE_MNG_NO           = T3.CASE_MNG_NO
		   AND T2.CASE_MNG_ODRNO        = T3.CASE_MNG_ODRNO
           AND T3.PCHPRS_YN             = 'Y'
           AND T3.PIC_INST_NO = T5.INST_NO(+)
      ]]>
      
      <include refid="TRPR_WHERE"></include>
      <![CDATA[
      ORDER BY T1.TRPR_INFO_NO
      ]]>
    </select>
    
    <sql id="TRPR_WHERE">
        <choose>
	        <when test='TRMN_YN == "N"'>
	             <![CDATA[
	            AND T2.CASE_PRGRS_STTS_SE_CD IN ('01','02','03','05')
	            ]]>
	        </when>
	        <otherwise>
	            AND T2.CASE_PRGRS_STTS_SE_CD IN ('01','02','03','05','12')
	        </otherwise>
	      </choose>
	      
	      <choose>
	        <when test="PIC_INST_NO != null and PIC_INST_NO != ''">
	             <![CDATA[
	            AND T3.PIC_INST_NO = #{PIC_INST_NO}
	            ]]>
	        </when>
	        <otherwise>
	            <choose>
	                <when test="INST_NOS != null and INST_NOS.size == 1">
	                    AND T3.PIC_INST_NO = #{INST_NOS[0]}
	                </when>
	                <otherwise>
	                    AND T3.PIC_INST_NO IN
	                    <foreach collection="INST_NOS" item="item" open="("
	                  separator="," close=")">
	                  #{item}
	              </foreach>
	                </otherwise>
	            </choose>
	        </otherwise>
	      </choose>
	    
	    <if test="TRPR_NM != null and TRPR_NM != ''">
	      <![CDATA[
	           AND T1.TRPR_NM_ENCPT       = (C##RG.ENC_B64(#{TRPR_NM}))
	      ]]>
	    </if>
	    <if test="START_DATE != null and START_DATE != ''">
	      <![CDATA[
	           AND T1.CASE_TRPR_SLCTN_YMD BETWEEN #{START_DATE} AND #{END_DATE}
	      ]]>
	    </if>
	    <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
	      <![CDATA[
	           AND T2.UNT_TASKWK_SE_CD    = #{UNT_TASKWK_SE_CD}
	      ]]>
	    </if>
	    <if test="ENFSN_NO != null and ENFSN_NO != ''">
	      <![CDATA[
	           AND EXISTS (SELECT 1 FROM SEB150 WHERE CASE_MNG_NO = T2.CASE_MNG_NO AND CASE_MNG_ODRNO = T2.CASE_MNG_ODRNO AND CASE_PIC_NO = #{ENFSN_NO})
	      ]]>
	    </if>
    
    </sql>

</mapper>
