<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri April 29 17:59:19 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* @Class Name  : RqstCoursMapper.xml
* @Description : 의뢰경로조회(팝업) SQL Mapper
*
* @author  : Seo.Hae.Seok
* @since   : 2022. 05. 17.
* @version : 1.0
* @see
* <pre>
* ******************************************************************
* Modification Information
* ******************************************************************
* 수정일         수정자          수정내용
* ******************************************************************
* 2022. 05. 17.  Seo.Hae.Seok    최초작성
* </pre>
-->
<mapper namespace="isry.itgcm.bizcmmns.cmmns.mapper.RqstCoursMapper">

    <!-- 의뢰경로 목록조회 -->
    <select id="selectRqstCoursList" parameterType="HashMap" resultType="HashMap">
        WITH /* isry.itgcm.bizcmmns.cmmns.RqstCoursMapper.selectRqstCoursList(의뢰경로목조회) */
            V_CMMNS_DTL AS (
            /*  접수의뢰경로구분코드 조회 */
            SELECT SUBSTR(T22.CMMNS_CD_VALUE,1,2)           AS LCLAS_VL_CD          -- 접수의뢰경로대분류구분코드값
                 , SUBSTR(T22.CMMNS_CD_VALUE,1,4)           AS MLSFC_VL_CD          -- 접수의뢰경로중분류구분코드값
                 , SUBSTR(T22.CMMNS_CD_VALUE,1,6)           AS SCLAS_VL_CD          -- 접수의뢰경로소분류구분코드값
                 , T22.CMMNS_CD_VALUE                       AS DTL_VL_CD            -- 접수의뢰경로구분코드값
              FROM SAC000 T21 /* 공통코드 */
                 , SAC100 T22 /* 공통코드 값 */
             WHERE T21.CMMNS_CD_ID  = 'RCPT_RQST_COURS_SE_CD'
               AND T21.CMMNS_CD_ID  = T22.CMMNS_CD_ID (+)
          ORDER BY T22.CMMNS_CD_VALUE
        ) , V_CMMNS_SCLAS AS (
            /*  접수의뢰경로소분류구분코드 조회 */
            SELECT SUBSTR(T22.CMMNS_CD_VALUE,1,2)           AS LCLAS_VL_CD          -- 접수의뢰경로대분류구분코드값
                 , SUBSTR(T22.CMMNS_CD_VALUE,1,4)           AS MLSFC_VL_CD          -- 접수의뢰경로중분류구분코드값
                 , T22.CMMNS_CD_VALUE                       AS SCLAS_VL_CD          -- 접수의뢰경로소분류구분코드값
                 , NULL                                     AS DTL_VL_CD            -- 접수의뢰경로구분코드값
              FROM SAC000 T21 /* 공통코드 */
                 , SAC100 T22 /* 공통코드 값 */
             WHERE T21.CMMNS_CD_ID  = 'RCPT_RQST_COURS_SCLAS_SE_CD'
               AND T21.CMMNS_CD_ID  = T22.CMMNS_CD_ID (+)
          ORDER BY T22.CMMNS_CD_VALUE
        ) , V_CMMNS_MLSFC AS (
            /*  접수의뢰경로중분류구분코드 조회 */
            SELECT SUBSTR(T22.CMMNS_CD_VALUE,1,2)           AS LCLAS_VL_CD          -- 접수의뢰경로대분류구분코드값
                 , T22.CMMNS_CD_VALUE                       AS MLSFC_VL_CD          -- 접수의뢰경로중분류구분코드값
                 , NULL                                     AS SCLAS_VL_CD          -- 접수의뢰경로소분류구분코드값
                 , NULL                                     AS DTL_VL_CD            -- 접수의뢰경로구분코드값
              FROM SAC000 T21 /* 공통코드 */
                 , SAC100 T22 /* 공통코드 값 */
             WHERE T21.CMMNS_CD_ID  = 'RCPT_RQST_COURS_MLSFC_SE_CD'
               AND T21.CMMNS_CD_ID  = T22.CMMNS_CD_ID (+)
          ORDER BY T22.CMMNS_CD_VALUE
        ) , V_CMMNS_LCLAS AS (
            /*  접수의뢰경로대분류구분코드 조회 */
            SELECT T22.CMMNS_CD_VALUE                       AS LCLAS_VL_CD          -- 접수의뢰경로대분류구분코드값
                 , NULL                                     AS MLSFC_VL_CD          -- 접수의뢰경로중분류구분코드값
                 , NULL                                     AS SCLAS_VL_CD          -- 접수의뢰경로소분류구분코드값
                 , NULL                                     AS DTL_VL_CD            -- 접수의뢰경로구분코드값
              FROM SAC000 T21 /* 공통코드 */
                 , SAC100 T22 /* 공통코드 값 */
             WHERE T21.CMMNS_CD_ID  = 'RCPT_RQST_COURS_LCLAS_SE_CD'
               AND T21.CMMNS_CD_ID  = T22.CMMNS_CD_ID (+)
          ORDER BY T22.CMMNS_CD_VALUE
        ) , V_CMMNS_LIST AS (
            SELECT T11.LCLAS_VL_CD                          AS RCPT_RQST_COURS_LCLAS_SE_CD      -- 접수의뢰경로대분류구분코드값
                 , T11.MLSFC_VL_CD                          AS RCPT_RQST_COURS_MLSFC_SE_CD      -- 접수의뢰경로중분류구분코드값
                 , T11.SCLAS_VL_CD                          AS RCPT_RQST_COURS_SCLAS_SE_CD      -- 접수의뢰경로소분류구분코드값
                 , T11.DTL_VL_CD                            AS RCPT_RQST_COURS_SE_CD            -- 접수의뢰경로구분코드값
                 , COUNT(*) OVER (PARTITION BY T11.LCLAS_VL_CD)                                   AS LCLAS_VL_CNT
                 , COUNT(*) OVER (PARTITION BY T11.LCLAS_VL_CD, T11.MLSFC_VL_CD)                  AS MLSFC_VL_CNT
                 , COUNT(*) OVER (PARTITION BY T11.LCLAS_VL_CD, T11.MLSFC_VL_CD, T11.SCLAS_VL_CD) AS SCLAS_VL_CNT
              FROM (
                    SELECT T21.LCLAS_VL_CD              AS LCLAS_VL_CD
                         , T21.MLSFC_VL_CD              AS MLSFC_VL_CD
                         , T21.SCLAS_VL_CD              AS SCLAS_VL_CD
                         , T21.DTL_VL_CD                AS DTL_VL_CD
                      FROM V_CMMNS_DTL T21
                     WHERE 1 = 1
                   UNION ALL
                    SELECT T21.LCLAS_VL_CD              AS LCLAS_VL_CD
                         , T21.MLSFC_VL_CD              AS MLSFC_VL_CD
                         , T21.SCLAS_VL_CD              AS SCLAS_VL_CD
                         , T21.DTL_VL_CD                AS DTL_VL_CD
                      FROM V_CMMNS_SCLAS T21
                     WHERE 1 = 1
                   UNION ALL
                    SELECT T21.LCLAS_VL_CD              AS LCLAS_VL_CD
                         , T21.MLSFC_VL_CD              AS MLSFC_VL_CD
                         , T21.SCLAS_VL_CD              AS SCLAS_VL_CD
                         , T21.DTL_VL_CD                AS DTL_VL_CD
                      FROM V_CMMNS_MLSFC T21
                     WHERE 1 = 1
                   UNION ALL
                    SELECT T21.LCLAS_VL_CD              AS LCLAS_VL_CD
                         , T21.MLSFC_VL_CD              AS MLSFC_VL_CD
                         , T21.SCLAS_VL_CD              AS SCLAS_VL_CD
                         , T21.DTL_VL_CD                AS DTL_VL_CD
                      FROM V_CMMNS_LCLAS T21
                     WHERE 1 = 1
                   )    T11
             WHERE 1 = 1
          GROUP BY T11.LCLAS_VL_CD, T11.MLSFC_VL_CD, T11.SCLAS_VL_CD, T11.DTL_VL_CD
          ORDER BY T11.LCLAS_VL_CD, T11.MLSFC_VL_CD, T11.SCLAS_VL_CD, T11.DTL_VL_CD
        ) , V_COURS_LIST AS (
            SELECT T1.RCPT_RQST_COURS_LCLAS_SE_CD           AS RCPT_RQST_COURS_LCLAS_SE_CD      -- 접수의뢰경로대분류구분코드
                 , ( SELECT X.CMMNS_CD_VALUE_NM FROM SAC100 X WHERE X.CMMNS_CD_ID = 'RCPT_RQST_COURS_LCLAS_SE_CD' AND X.CMMNS_CD_VALUE = T1.RCPT_RQST_COURS_LCLAS_SE_CD )  AS RCPT_RQST_COURS_LCLAS_SE_NM
                 , T1.RCPT_RQST_COURS_MLSFC_SE_CD           AS RCPT_RQST_COURS_MLSFC_SE_CD      -- 접수의뢰경로중분류구분코드
                 , ( SELECT X.CMMNS_CD_VALUE_NM FROM SAC100 X WHERE X.CMMNS_CD_ID = 'RCPT_RQST_COURS_MLSFC_SE_CD' AND X.CMMNS_CD_VALUE = T1.RCPT_RQST_COURS_MLSFC_SE_CD )  AS RCPT_RQST_COURS_MLSFC_SE_NM
                 , T1.RCPT_RQST_COURS_SCLAS_SE_CD           AS RCPT_RQST_COURS_SCLAS_SE_CD      -- 접수의뢰경로소분류구분코
                 , ( SELECT X.CMMNS_CD_VALUE_NM FROM SAC100 X WHERE X.CMMNS_CD_ID = 'RCPT_RQST_COURS_SCLAS_SE_CD' AND X.CMMNS_CD_VALUE = T1.RCPT_RQST_COURS_SCLAS_SE_CD )  AS RCPT_RQST_COURS_SCLAS_SE_NM
                 , T1.RCPT_RQST_COURS_SE_CD                 AS RCPT_RQST_COURS_SE_CD            -- 접수의뢰경로구분코드
                 , ( SELECT X.CMMNS_CD_VALUE_NM FROM SAC100 X WHERE X.CMMNS_CD_ID = 'RCPT_RQST_COURS_SE_CD' AND X.CMMNS_CD_VALUE = T1.RCPT_RQST_COURS_SE_CD )              AS RCPT_RQST_COURS_SE_NM
              FROM V_CMMNS_LIST T1
             WHERE 1 = 1
               AND ((T1.LCLAS_VL_CNT = 1) OR (T1.LCLAS_VL_CNT > 1 AND T1.RCPT_RQST_COURS_MLSFC_SE_CD IS NOT NULL))
               AND ((T1.MLSFC_VL_CNT = 1) OR (T1.MLSFC_VL_CNT > 1 AND T1.RCPT_RQST_COURS_SCLAS_SE_CD IS NOT NULL))
               AND ((T1.SCLAS_VL_CNT = 1) OR (T1.SCLAS_VL_CNT > 1 AND T1.RCPT_RQST_COURS_SE_CD       IS NOT NULL))
        )
            SELECT T.RCPT_RQST_COURS_LCLAS_SE_CD            AS RCPT_RQST_COURS_LCLAS_SE_CD      -- 접수의뢰경로대분류구분코드
                 , T.RCPT_RQST_COURS_LCLAS_SE_NM            AS RCPT_RQST_COURS_LCLAS_SE_NM
                 , T.RCPT_RQST_COURS_MLSFC_SE_CD            AS RCPT_RQST_COURS_MLSFC_SE_CD      -- 접수의뢰경로중분류구분코드
                 , T.RCPT_RQST_COURS_MLSFC_SE_NM            AS RCPT_RQST_COURS_MLSFC_SE_NM
                 , T.RCPT_RQST_COURS_SCLAS_SE_CD            AS RCPT_RQST_COURS_SCLAS_SE_CD      -- 접수의뢰경로소분류구분코
                 , T.RCPT_RQST_COURS_SCLAS_SE_NM            AS RCPT_RQST_COURS_SCLAS_SE_NM
                 , T.RCPT_RQST_COURS_SE_CD                  AS RCPT_RQST_COURS_SE_CD            -- 접수의뢰경로구분코드
                 , T.RCPT_RQST_COURS_SE_NM                  AS RCPT_RQST_COURS_SE_NM
              FROM V_COURS_LIST T
             WHERE 1 = 1
            <if test="RCPT_RQST_COURS_LCLAS_SE_CD != null and RCPT_RQST_COURS_LCLAS_SE_CD != ''">
               AND T.RCPT_RQST_COURS_LCLAS_SE_CD    = #{RCPT_RQST_COURS_LCLAS_SE_CD}            -- 접수의뢰경로대분류구분코드
            </if>
            <if test="RCPT_RQST_COURS_MLSFC_SE_CD != null and RCPT_RQST_COURS_MLSFC_SE_CD != ''"> 
               AND T.RCPT_RQST_COURS_MLSFC_SE_CD    = #{RCPT_RQST_COURS_MLSFC_SE_CD}          -- 접수의뢰경로중분류구분코드
            </if>
            <if test="RCPT_RQST_COURS_SCLAS_SE_CD != null and RCPT_RQST_COURS_SCLAS_SE_CD != ''"> 
               AND T.RCPT_RQST_COURS_SCLAS_SE_CD     = #{RCPT_RQST_COURS_SCLAS_SE_CD}          -- 접수의뢰경로소분류구분코
            </if>
            <if test="RCPT_RQST_COURS_SE_CD != null and RCPT_RQST_COURS_SE_CD != ''"> 
               AND ( T.RCPT_RQST_COURS_SE_CD        = #{RCPT_RQST_COURS_SE_CD}                 -- 접수의뢰경로구분코드
                OR   T.RCPT_RQST_COURS_SE_NM        LIKE '%' || #{RCPT_RQST_COURS_SE_CD} || '%' )        -- 접수의뢰경로구분명
            </if>
            <if test="RCPT_RQST_COURS_SE_NM != null and RCPT_RQST_COURS_SE_NM != ''"> 
               AND  T.RCPT_RQST_COURS_SE_NM        LIKE '%' || #{RCPT_RQST_COURS_SE_NM} || '%'   -- 접수의뢰경로구분명
            </if>
            
            <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
               /* 접수의뢰경로 대분류 단위업무 확인*/
               AND ((SELECT COUNT(1) FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_LCLAS_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_LCLAS_SE_CD) = 0
                    OR
                    EXISTS (SELECT 1 FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_LCLAS_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_LCLAS_SE_CD AND UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}))
               /* 접수의뢰경로 중분류 단위업무 확인*/
               AND ((SELECT COUNT(1) FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_MLSFC_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_MLSFC_SE_CD) = 0
                    OR
                    EXISTS (SELECT 1 FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_MLSFC_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_MLSFC_SE_CD AND UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}))        
               /* 접수의뢰경로 소분류 단위업무 확인*/
               AND ((SELECT COUNT(1) FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_SCLAS_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_SCLAS_SE_CD) = 0
                    OR
                    EXISTS (SELECT 1 FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_SCLAS_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_SCLAS_SE_CD AND UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}))
               /* 접수의뢰경로 세분류 단위업무 확인*/
               AND ((SELECT COUNT(1) FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_SE_CD) = 0
                    OR
                    EXISTS (SELECT 1 FROM SAC110 WHERE CMMNS_CD_ID = 'RCPT_RQST_COURS_SE_CD' AND CMMNS_CD_VALUE = T.RCPT_RQST_COURS_SE_CD AND UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}))
            </if>
          ORDER BY T.RCPT_RQST_COURS_LCLAS_SE_CD, T.RCPT_RQST_COURS_MLSFC_SE_CD, T.RCPT_RQST_COURS_SCLAS_SE_CD, T.RCPT_RQST_COURS_SE_CD
    </select>
            
</mapper>
