<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri April 29 17:59:19 KST 2022-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.itgcm.bizcmmns.cmmns.mapper.SrvcExcnBizMapper">

    <!-- 서비스실행사업 목록조회 -->
    <select id="selectSrvcExcnBizList" parameterType="HashMap" resultType="HashMap">
      <![CDATA[
		SELECT
               A.SRVC_BIZ_NO       AS SRVC_BIZ_NO
	         , A.SRVC_BIZ_NM       AS SRVC_BIZ_NM
	         , A.BIZ_YR            AS BIZ_YR
	         , A.BIZ_CL_SE_CD      AS BIZ_CL_SE_CD
	         , A.UNT_TASKWK_SE_CD  AS UNT_TASKWK_SE_CD
	         , (SELECT X.CMMNS_CD_VALUE_NM
                 FROM SAC100 X
                 WHERE X.CMMNS_CD_ID = 'BIZ_CL_SE_CD'
                   AND X.CMMNS_CD_VALUE = A.BIZ_CL_SE_CD
                   AND X.UP_CMMNS_CD_VALUE IS NOT NULL)  AS BIZ_NM
	         , B.SRVC_EXCN_BIZ_NO  AS SRVC_EXCN_BIZ_NO
	         , B.SRVC_EXCN_BIZ_NM  AS SRVC_EXCN_BIZ_NM
	         , B.EXCN_BIZ_CL_SE_CD
	         , B.BIZ_BGNG_YMD      AS BIZ_BGNG_YMD
	         , B.BIZ_END_YMD       AS BIZ_END_YMD
		  FROM SDA400 A
		     , SDA420 B
		 WHERE A.SRVC_BIZ_NO = B.SRVC_BIZ_NO
		 AND A.USE_YN = 'Y'
		 AND B.USE_YN = 'Y'
		 AND 1 = CASE WHEN B.INST_NO_CN IS NULL THEN 1 ELSE (CASE WHEN B.INST_NO_CN LIKE '%'||#{INST_NO}||'%' THEN 1 ELSE 2 END) END
         AND (SELECT SGG_CD FROM SAA000 WHERE INST_NO = #{INST_NO}) = CASE WHEN B.SGG_CD IS NULL THEN (SELECT SGG_CD FROM SAA000 WHERE INST_NO = #{INST_NO}) ELSE B.SGG_CD END
         AND (SELECT CTPV_CD FROM SAA000 WHERE INST_NO = #{INST_NO}) = CASE WHEN B.CTPV_CD IS NULL THEN (SELECT CTPV_CD FROM SAA000 WHERE INST_NO = #{INST_NO}) ELSE B.CTPV_CD END
	  ]]>
	<if test="BIZ_YR != null and BIZ_YR != ''">
      <![CDATA[
           AND A.BIZ_YR = #{BIZ_YR}
      ]]>
    </if>
    <if test="UNT_TASKWK_SE_CD != null and UNT_TASKWK_SE_CD != ''">
           AND A.UNT_TASKWK_SE_CD     = #{UNT_TASKWK_SE_CD}             /* 단위업무구분코드 */
    </if>
    <if test="SRVC_BIZ_NO != null and SRVC_BIZ_NO != ''">
      <![CDATA[
           AND B.SRVC_BIZ_NO = #{SRVC_BIZ_NO}
      ]]>
    </if>
    <if test="SRVC_BIZ_NM != null and SRVC_BIZ_NM != ''">
      <![CDATA[
           AND A.SRVC_BIZ_NM LIKE '%'|| #{SRVC_BIZ_NM} || '%'
      ]]>
    </if>
    <if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
      <![CDATA[
           AND B.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
      ]]>
    </if>
    <if test="SRVC_EXCN_BIZ_NM != null and SRVC_EXCN_BIZ_NM != ''">
      <![CDATA[
           AND B.SRVC_EXCN_BIZ_NM LIKE '%'|| #{SRVC_EXCN_BIZ_NM} || '%'
      ]]>
    </if>
    <if test="BIZ_CL_SE_CD != null and BIZ_CL_SE_CD != ''">
      <![CDATA[
           AND A.BIZ_CL_SE_CD = #{BIZ_CL_SE_CD}
      ]]>
    </if>
    <if test="ING_FNSH != null and ING_FNSH != ''">
        <if test='ING_FNSH == "1"'>
        <![CDATA[
           AND B.BIZ_END_YMD >= TO_CHAR(SYSDATE,'YYYYMMDD')
        ]]>
        </if>
        <if test='ING_FNSH == "2"'>
        <![CDATA[
           AND B.BIZ_END_YMD < TO_CHAR(SYSDATE,'YYYYMMDD')
        ]]>
        </if>
    </if>
      <![CDATA[
         ORDER BY A.BIZ_YR, B.SRVC_BIZ_NO, B.SRVC_EXCN_BIZ_NO DESC
      ]]>
    </select>
</mapper>