<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
    
    <display-name>isry.system</display-name>
 
    <!-- redis -->
    <!--
    <filter>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
    
    <listener>
        <listener-class>com.cleopatra.XBInitializer</listener-class>
    </listener>
 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
    
	<filter>
		<filter-name>HTMLTagFilter</filter-name>
		<filter-class>egovframework.rte.ptl.mvc.filter.HTMLTagFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>HTMLTagFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>sessionTimeoutCookieFilterBean</filter-name>
        <!--
        <filter-class>isry.itgcms.sysmgmt.util.SessionTimeoutCookieFilter</filter-class>
        <async-supported>true</async-supported>
        -->
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    	<async-supported>true</async-supported> <!-- 비동기 지원 -->
    </filter>
    <filter-mapping>
        <filter-name>sessionTimeoutCookieFilterBean</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <!--
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <!-- 
    <filter>
        <filter-name>RequestMappingFilter</filter-name>
        <filter-class>egovframework.com.cmm.filter.RequestMappingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestMappingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    -->
    
    
    
 
    
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:egovframework/spring/context-*.xml</param-value>
	</context-param>
    
    <!--  JBOSS WAS 기동을 위한 방어 코딩 송영일 -->    
	<context-param>
	   <param-name>spring.profiles.active</param-name>
	   <param-value>mysql, security</param-value>
	</context-param>
	
    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/egovframework/springmvc/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
    
	<servlet-mapping>
		<servlet-name>action</servlet-name>
	    <url-pattern>*.do</url-pattern>
		<url-pattern>*.csv</url-pattern>
	    <url-pattern>*.xls</url-pattern>
		<url-pattern>*.xlsx</url-pattern>
        
        <url-pattern>*.clx</url-pattern>
        
        <!--
        <url-pattern>*.js</url-pattern>
        -->
	</servlet-mapping>
    
    <!-- swagger 설정 추가 송영일 2021.11.11 -->
    
    
    <!--  
    <servlet>
        <servlet-name>swagger</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/egovframework/springmvc/swagger-servlet.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>swagger</servlet-name>
        <url-pattern>/swagger-ui.html</url-pattern>
        <url-pattern>/webjars/**</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    -->
    <!-- swagger  -->
    
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <!--
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    -->
    
    <!--
    <servlet-mapping>
        <servlet-name>default</servlet-name>  
        <url-pattern>/ui/theme/*</url-pattern>
        <url-pattern>/ui/cpr-lib/*</url-pattern>
        <url-pattern>/resource/*</url-pattern>  
        <url-pattern>*.json</url-pattern>  
        <url-pattern>/css/*</url-pattern>  
        <url-pattern>/images/*</url-pattern>  
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    -->
    
    <distributable/>
    
    <!--
    <session-config>
        <cookie-config>
            <name>ISRY_JSESSIONID</name>
        </cookie-config>
    </session-config>
    -->
    

    <session-config>
        <cookie-config>
            <name>ISRY_JSESSIONID</name>
            <path>/</path>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    
	<welcome-file-list>
		<welcome-file>index.do</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
    
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/error.jsp</location>
	</error-page>
    
</web-app>
