<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.csemd.stats.srvctot.mapper.SrvcTotMapper">

	<!-- 연도별통계 -->
	<select id="selectYrStats" resultType="HashMap">
	<![CDATA[
    WITH TMP AS (
    SELECT
	    T1.RESRCE_NO
	    , SRVC_PVSN_NO   AS SRVC_PVSN_NO
	    , T7.CASE_MNG_NO        AS CASE_MNG_NO
	    , T7.CASE_MNG_ODRNO     AS CASE_MNG_ODRNO

    FROM SEB510 T1
    JOIN SEB120 T2
        ON T2.CASE_MNG_NO = T1.CASE_MNG_NO
        AND T2.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO
    JOIN SDA420 T3
        ON T3.SRVC_EXCN_BIZ_NO = T2.SRVC_EXCN_BIZ_NO
    JOIN SDA400 T4
        ON T4.SRVC_BIZ_NO = T3.SRVC_BIZ_NO
    JOIN SDA100 T5
        ON T5.RESRCE_NO = T1.RESRCE_NO
    JOIN SAA000 T6
        ON T6.INST_NO = T5.RSFR_INST_NO
    JOIN SEB100 T7
        ON T7.CASE_MNG_NO = T2.CASE_MNG_NO
        AND T7.CASE_MNG_ODRNO = T2.CASE_MNG_ODRNO
    LEFT JOIN SEA200 T8
        ON T8.TRPR_INFO_NO = T7.TRPR_INFO_NO
    LEFT JOIN SCA300 T9
        ON T9.INDV_IDNTFC_NO = T8.INDV_IDNTFC_NO
    LEFT JOIN (
        SELECT TT.*
        , ROW_NUMBER() OVER(PARTITION BY TT.TRPR_INFO_NO ORDER BY D.ADDTNG_MNG_VALUE1 DESC, TT.MNG_SN DESC) AS RN

        FROM SEA230 TT  /* 학력상태 */
        LEFT JOIN SAC100 D
            ON D.CMMNS_CD_ID = 'ACBG_SE_CD'
            AND D.CMMNS_CD_VALUE = TT.ACBG_SE_CD
        WHERE TT.DEL_YN != 'Y'
       ) T10
       ON T10.RN = 1
       AND T10.TRPR_INFO_NO = T8.TRPR_INFO_NO

       WHERE 1=1
	   AND T6.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
	   AND T5.GR_TRGT_SRVC_YN = #{GR_TRGT_SRVC_YN}
	   AND T4.BIZ_YR = #{BIZ_YR}
	   AND T2.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
	   AND T5.APRV_STTS_SE_CD = '2'
    ]]>
		<if test="INST_NO != null and INST_NO != ''">
			/* 기관 */
			AND T5.RSFR_INST_NO = #{INST_NO}
		</if>

		<if test="SXDC_SE_CD != null and SXDC_SE_CD != ''">
			/* 성별 */
			AND T8.SXDC_SE_CD = #{SXDC_SE_CD}
		</if>

		<if test="ACBG_SE_CD != null and ACBG_SE_CD != ''">
			/* 학력 */
			AND T10.ACBG_SE_CD = #{ACBG_SE_CD}
		</if>

		<if test="RESIDE_SHAPE_SE_CD != null and RESIDE_SHAPE_SE_CD != ''">
			/* 주거형태 */
			AND T8.RESIDE_SHAPE_SE_CD = #{RESIDE_SHAPE_SE_CD}
		</if>

		<if test="PBLAST_SE_CD != null and PBLAST_SE_CD != ''">
			/* 사회보장구분 */
			AND T8.PBLAST_SE_CD = #{PBLAST_SE_CD}
		</if>
	<![CDATA[
	    )
    SELECT * FROM (
	    SELECT 
	    NVL(PVSN_RESRCE_NM,'합계') AS PVSN_RESRCE_NM
	    , NVL(RESRCE_NO,'SUM') AS RESRCE_NO
	    , SUM(SVC_CNT) AS NOPE
	    , GROUPING(PVSN_RESRCE_NM) AS G_PVSN
	    , GROUPING(RESRCE_NO) AS G_RESRCE
	    
	    FROM (
	        SELECT
	            A.PVSN_RESRCE_NM                                        /* 제공자원명 */
	            , A.RESRCE_NO AS RESRCE_NO                      /* 자원번호 */
	            , COUNT(C.SRVC_PVSN_NO) AS SVC_CNT          /* 서비스건수 */
	
	        FROM SDA100 A
	        JOIN SAA000 B
	            ON B.INST_NO = A.RSFR_INST_NO
            JOIN SDA420 D  /* 서비스실행사업 */
            ON  D.INST_NO = B.INST_NO
            AND D.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
	        LEFT JOIN TMP C
	            ON C.RESRCE_NO = A.RESRCE_NO

	
	        WHERE 1=1
	        AND A.GR_TRGT_SRVC_YN = #{GR_TRGT_SRVC_YN}
	        AND B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
            AND A.APRV_STTS_SE_CD = '2'
	   ]]>
		<if test="INST_NO != null and INST_NO != ''">
			AND A.RSFR_INST_NO = #{INST_NO}
		</if>
       <![CDATA[  
	        /* 여기까지 자원의 대한 합계 */
	        GROUP BY A.PVSN_RESRCE_NM, A.RESRCE_NO 
	   ]]>
		<if test='GR_TRGT_SRVC_YN != "Y"'>

			UNION

			SELECT
			'사후관리'
			, 'AFTFCT'
			, COUNT(F.TRPR_INFO_NO) AS CNT
			FROM SEC300 A
			JOIN SEB100 B
			ON B.CASE_MNG_NO = A.CASE_MNG_NO
			AND B.CASE_MNG_ODRNO = A.CASE_MNG_ODRNO
			JOIN SEB120 C
			ON C.CASE_MNG_NO = B.CASE_MNG_NO
			AND C.CASE_MNG_ODRNO = B.CASE_MNG_ODRNO
			JOIN SDA420 D
			ON D.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO
			JOIN SDA400 E
			ON E.SRVC_BIZ_NO = D.SRVC_BIZ_NO
			JOIN SEA200 F
			ON F.TRPR_INFO_NO = B.TRPR_INFO_NO
			LEFT JOIN SCA300 G
			ON G.INDV_IDNTFC_NO = F.INDV_IDNTFC_NO
			LEFT JOIN (
			SELECT TT.*
			, ROW_NUMBER() OVER(PARTITION BY TT.TRPR_INFO_NO ORDER BY
			D.ADDTNG_MNG_VALUE1 DESC, TT.MNG_SN DESC) AS RN

			FROM SEA230 TT /* 학력상태 */
			LEFT JOIN SAC100 D
			ON D.CMMNS_CD_ID = 'ACBG_SE_CD'
			AND D.CMMNS_CD_VALUE = TT.ACBG_SE_CD
			WHERE TT.DEL_YN != 'Y'
			) T10
			ON T10.RN = 1
			AND T10.TRPR_INFO_NO = F.TRPR_INFO_NO
			WHERE 1=1
			AND B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
			AND E.BIZ_YR = #{BIZ_YR}
			AND D.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
			/* 사후관리 인원에 대한 검색조건 */
			<if test="INST_NO != null and INST_NO != ''">
				/* 기관 */
				AND D.INST_NO = #{INST_NO}
			</if>

			<if test="SXDC_SE_CD != null and SXDC_SE_CD != ''">
				/* 성별 */
				AND F.SXDC_SE_CD = #{SXDC_SE_CD}
			</if>

			<if test="ACBG_SE_CD != null and ACBG_SE_CD != ''">
				/* 학력 */
				AND F.ACBG_SE_CD = #{ACBG_SE_CD}
			</if>

			<if test="RESIDE_SHAPE_SE_CD != null and RESIDE_SHAPE_SE_CD != ''">
				/* 주거형태 */
				AND F.RESIDE_SHAPE_SE_CD = #{RESIDE_SHAPE_SE_CD}
			</if>

			<if test="PBLAST_SE_CD != null and PBLAST_SE_CD != ''">
				/* 사회보장구분 */
				AND F.PBLAST_SE_CD = #{PBLAST_SE_CD}
			</if>
			GROUP BY '사후관리', 'AFTFCT'
		</if>
        <![CDATA[
        )
           GROUP BY ROLLUP(PVSN_RESRCE_NM, RESRCE_NO)
        )
        WHERE G_PVSN = G_RESRCE
        ]]>
	</select>

	<!-- 기간별통계 & 과정별통계 & 종사자별통계 피봇데이터 -->
	<select id="selectPrdCrseEnfsnStats" resultType="HashMap">
	<![CDATA[
    /* isry.csemd.stats.srvctot.mapper.SrvcTotMapper.selectCrseStats - 응용3팀 이상훈 */
    
    SELECT * FROM
    (
    SELECT
        NVL(C.CASE_MNG_VIEW,'SUM')      AS CASE_MNG_VIEW    -- 사례관리번호-차수
    ,   NVL(R.PVSN_RESRCE_NM,'합계')    AS PVSN_RESRCE_NM   -- 제공자원명
    ,   NVL(R.RESRCE_NO,'SUM')          AS RESRCE_NO        -- 자원번호
    ,   COUNT(T.CASE_MNG_VIEW)          AS NOPE             -- 인원수
    ,   GROUPING(R.RSFR_INST_NO)        AS G_RSFR           -- 그룹핑[자원제공기관번호]
    ,   GROUPING(R.PVSN_RESRCE_NM)      AS G_PVSN           -- 그룹핑[제공자원명]
    ,   GROUPING(R.RESRCE_NO)           AS G_RESRCE         -- 그룹핑[자원번호]
    FROM
        (
        SELECT DISTINCT
            C1.CASE_MNG_NO || '-' || C1.CASE_MNG_ODRNO  AS CASE_MNG_VIEW    -- 사례관리번호-차수
        ,   NVL(C6.FLNM_ENCPT, C5.TRPR_NM_ENCPT)        AS TRPR_NM_ENCPT    -- 대상자명암호화
        FROM SEB100 C1          /* 사례기본 */
        JOIN SEB120 C2          /* 서비스사업대상자 */
            ON C2.CASE_MNG_NO = C1.CASE_MNG_NO
            AND C2.CASE_MNG_ODRNO = C1.CASE_MNG_ODRNO
            AND C2.DEL_YN != 'Y'
        JOIN SDA420 C3          /* 서비스실행사업 */
            ON C3.SRVC_EXCN_BIZ_NO = C2.SRVC_EXCN_BIZ_NO
        JOIN SDA400 C4          /* 서비스사업 */
            ON C4.SRVC_BIZ_NO = C3.SRVC_BIZ_NO
        JOIN SEA200 C5          /* 대상자정보 */
            ON C5.TRPR_INFO_NO = C1.TRPR_INFO_NO
            AND C5.DEL_YN != 'Y'
        JOIN SCA300 C6          /* 개인정보 */
            ON C6.INDV_IDNTFC_NO = C5.INDV_IDNTFC_NO
            AND C6.DEL_YN != 'Y'
        LEFT JOIN SEB510 C7     /* 서비스제공대상자 */
            ON C7.CASE_MNG_NO = C1.CASE_MNG_NO
            AND C7.CASE_MNG_ODRNO = C1.CASE_MNG_ODRNO
            AND C7.DEL_YN != 'Y'
        LEFT JOIN SEB500 C8     /* 서비스제공 */
            ON C8.SRVC_PVSN_NO = C7.SRVC_PVSN_NO
            AND C8.RESRCE_NO = C7.RESRCE_NO
            AND C8.DEL_YN != 'Y'
        LEFT JOIN SEC300 C12     /* 사후관리 */
            ON C12.CASE_MNG_NO = C1.CASE_MNG_NO
            AND C12.CASE_MNG_ODRNO = C1.CASE_MNG_ODRNO
            AND C12.DEL_YN != 'Y'
        LEFT JOIN SEC310 C13     /* 사후관리담당자 */
            ON C13.AFTFCT_MNG_NO = C12.AFTFCT_MNG_NO
            AND C13.CASE_MNG_NO = C12.CASE_MNG_NO
            AND C13.CASE_MNG_ODRNO = C12.CASE_MNG_ODRNO
            AND C13.PCHPRS_YN = 'Y'
            AND C13.DEL_YN != 'Y'
        LEFT JOIN SAA200 C9     /* 사용자 */
            ON C9.ENFSN_NO = C8.PIC_NO
            OR C9.ENFSN_NO = C13.PIC_NO
        LEFT JOIN SAB230 C10    /* 사용자별기관권한 */
            ON C10.USER_ID = C9.USER_ID
            AND (C10.INST_NO = C8.TKCG_INST_NO
                OR C10.INST_NO = C13.PIC_INST_NO)
        LEFT JOIN SAC100 C11    /* 공통코드[권한구분코드] */
            ON C11.CMMNS_CD_ID = 'AUTHRT_SE_CD'
            AND C11.CMMNS_CD_VALUE = C10.AUTHRT_SE_CD
        
        WHERE 1=1
            AND C1.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    ]]>
		<if test="BIZ_YR != null and BIZ_YR != ''">
		    /* 사업연도 */
			AND C4.BIZ_YR = #{BIZ_YR}
		</if>
		<if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
		    /* 과정[서비스실행사업번호] */
			AND C2.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
		</if>
		<if test="TRPR_NM != null and TRPR_NM != ''">
		    /* 대상자명 */
			AND NVL(C6.FLNM_ENCPT, C5.TRPR_NM_ENCPT) = ENC_B64(#{TRPR_NM})
		</if>
		<if test="INST_NO != null and INST_NO != ''">
		    /* 기관[기관번호] */
			AND C3.INST_NO = #{INST_NO}
		</if>
		<if test="BGNG_YMD != null and BGNG_YMD != '' and END_YMD != null and END_YMD != ''">
			/* 조회기간 */
			AND (C8.SRVC_PVSN_BGNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}
                OR C12.AFTFCT_MNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD})
		</if>
		<if test='OUTSD_ENFSN_YN == "Y"'>
		    /* 소속구분-외부종사자 */
            AND C11.ADDTNG_MNG_VALUE2 = #{OUTSD_ENFSN_YN}
		</if>
        <if test='OUTSD_ENFSN_YN == "N"'>
            /* 소속구분-내부종사자 */
            AND C10.USER_ID IS NOT NULL
            AND C11.ADDTNG_MNG_VALUE2 IS NULL
        </if>
    <![CDATA[
        ) C
	CROSS JOIN
        (
        SELECT
            R1.RESRCE_NO            -- 자원번호
        ,   R1.PVSN_RESRCE_NM       -- 제공자원명
        ,   R1.RSFR_INST_NO         -- 자원제공기관번호
        FROM SDA100 R1  /* 자원기본 */
        JOIN SAA000 R2  /* 통합기관 */
           ON   R2.INST_NO = R1.RSFR_INST_NO
           AND  R2.DEL_YN != 'Y'
    ]]>
    <if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
        /* 과정[서비스실행사업번호] */
        JOIN SDA420 R3  /* 서비스실행사업 */
            ON  R3.INST_NO = R2.INST_NO
            AND R3.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
    </if>
    <![CDATA[
        WHERE 1=1
           AND R2.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
           AND R1.GR_TRGT_SRVC_YN = #{GR_TRGT_SRVC_YN}
           AND R1.APRV_STTS_SE_CD = '2'
    ]]>
	<if test="INST_NO != null and INST_NO != ''">
	   /* 기관[기관번호] */
	       AND R1.RSFR_INST_NO = #{INST_NO}
	</if>
	<if test='GR_TRGT_SRVC_YN == "N"'>
	   /* 사후관리 */
        UNION ALL
        
        SELECT
            'AFTFCT'
        ,   '사후관리'
        ,   NULL
        FROM DUAL
	</if>
    <![CDATA[
        ) R
    LEFT JOIN
        (
        SELECT
            T1.CASE_MNG_NO || '-' || T1.CASE_MNG_ODRNO AS CASE_MNG_VIEW
        ,   T1.RESRCE_NO
        FROM SEB510 T1
        JOIN SEB500 T2
            ON T2.SRVC_PVSN_NO = T1.SRVC_PVSN_NO
            AND T2.DEL_YN != 'Y'
        LEFT JOIN SAA200 T3
            ON T3.ENFSN_NO = T2.PIC_NO
        LEFT JOIN SAB230 T4
            ON T4.USER_ID = T3.USER_ID
            AND T4.INST_NO = T2.TKCG_INST_NO
        LEFT JOIN SAC100 T5
            ON T5.CMMNS_CD_ID = 'AUTHRT_SE_CD'
            AND T5.CMMNS_CD_VALUE = T4.AUTHRT_SE_CD
           
        WHERE 1=1
        AND T1.DEL_YN != 'Y'
	]]>
	<if test="BGNG_YMD != null and BGNG_YMD != '' and END_YMD != null and END_YMD != ''">
	    /* 조회기간 */
		AND T2.SRVC_PVSN_BGNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}
	</if>
    <if test='OUTSD_ENFSN_YN == "Y"'>
        /* 소속구분-외부종사자 */
        AND T5.ADDTNG_MNG_VALUE2 = #{OUTSD_ENFSN_YN}
    </if>
    <if test='OUTSD_ENFSN_YN == "N"'>
        /* 소속구분-내부종사자 */
        AND T4.USER_ID IS NOT NULL
        AND T5.ADDTNG_MNG_VALUE2 IS NULL
    </if>
	<![CDATA[
	   UNION ALL
	   (
	   SELECT
	       T1.CASE_MNG_NO || '-' || T1.CASE_MNG_ODRNO AS CASE_MNG_VIEW
	   ,   'AFTFCT'
	   FROM SEC300 T1
	   LEFT JOIN SEC310 T2
	       ON T2.AFTFCT_MNG_NO = T1.AFTFCT_MNG_NO
	       AND T2.CASE_MNG_NO = T1.CASE_MNG_NO
	       AND T2.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO
	       AND T2.PCHPRS_YN = 'Y'
	       AND T2.DEL_YN != 'Y'
        LEFT JOIN SAA200 T3
            ON T3.ENFSN_NO = T2.PIC_NO
        LEFT JOIN SAB230 T4
            ON T4.USER_ID = T3.USER_ID
            AND T4.INST_NO = T2.PIC_INST_NO
        LEFT JOIN SAC100 T5
            ON T5.CMMNS_CD_ID = 'AUTHRT_SE_CD'
            AND T5.CMMNS_CD_VALUE = T4.AUTHRT_SE_CD
            
	   WHERE 1=1
	   AND T1.DEL_YN != 'Y'
	]]>
	<if test="BGNG_YMD != null and BGNG_YMD != '' and END_YMD != null and END_YMD != ''">
	    /* 조회기간 */
		AND T1.AFTFCT_MNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}
	</if>
    <if test='OUTSD_ENFSN_YN == "Y"'>
        /* 소속구분-외부종사자 */
        AND T5.ADDTNG_MNG_VALUE2 = #{OUTSD_ENFSN_YN}
    </if>
    <if test='OUTSD_ENFSN_YN == "N"'>
        /* 소속구분-내부종사자 */
        AND T4.USER_ID IS NOT NULL
        AND T5.ADDTNG_MNG_VALUE2 IS NULL
    </if>
	<![CDATA[
	   )
	   ) T
	   ON T.CASE_MNG_VIEW = C.CASE_MNG_VIEW
	   AND T.RESRCE_NO = R.RESRCE_NO
	
	GROUP BY CUBE(R.RSFR_INST_NO, R.PVSN_RESRCE_NM, R.RESRCE_NO, C.CASE_MNG_VIEW)
	
	ORDER BY C.CASE_MNG_VIEW DESC, R.RSFR_INST_NO, R.RESRCE_NO DESC
	)
	WHERE 1=1
	   AND G_PVSN = G_RESRCE
	   AND G_RSFR = G_PVSN
	]]>
	</select>

	<!-- 기간별통계 & 과정별통계 & 종사자별통계 합계데이터 -->
	<select id="selectPrdCrseEnfsnStatsSum" resultType="HashMap">
	<![CDATA[
    /* isry.csemd.stats.srvctot.mapper.SrvcTotMapper.selectCrseStatsSum - 응용3팀 이상훈 */
    
    SELECT * FROM
    (
    SELECT
        NVL(CASE_MNG_VIEW, 'SUM')       AS CASE_MNG_VIEW    -- 사례관리번호-차수
    ,   NVL(DEC_B64(TRPR_NM_ENCPT), '합계')   AS TRPR_NM    -- 대상자명암호화
    ,   GROUPING(CASE_MNG_VIEW)         AS G_CASE           -- 그루핑[사례관리번호-차수]
    ,   GROUPING(TRPR_NM_ENCPT)         AS G_TRPR           -- 그루핑[대상자명암호화]
    FROM
        (
        SELECT DISTINCT
            C1.CASE_MNG_NO || '-' || C1.CASE_MNG_ODRNO  AS CASE_MNG_VIEW    -- 사례관리번호-차수
        ,   NVL(C6.FLNM_ENCPT, C5.TRPR_NM_ENCPT)        AS TRPR_NM_ENCPT    -- 대상자명암호화
        FROM SEB100 C1          /* 사례기본 */
        JOIN SEB120 C2          /* 서비스사업대상자 */
            ON C2.CASE_MNG_NO = C1.CASE_MNG_NO
            AND C2.CASE_MNG_ODRNO = C1.CASE_MNG_ODRNO
            AND C2.DEL_YN != 'Y'
        JOIN SDA420 C3          /* 서비스실행사업 */
            ON C3.SRVC_EXCN_BIZ_NO = C2.SRVC_EXCN_BIZ_NO
        JOIN SDA400 C4          /* 서비스사업 */
            ON C4.SRVC_BIZ_NO = C3.SRVC_BIZ_NO
        JOIN SEA200 C5          /* 대상자정보 */
            ON C5.TRPR_INFO_NO = C1.TRPR_INFO_NO
            AND C5.DEL_YN != 'Y'
        JOIN SCA300 C6          /* 개인정보 */
            ON C6.INDV_IDNTFC_NO = C5.INDV_IDNTFC_NO
            AND C6.DEL_YN != 'Y'
        LEFT JOIN SEB510 C7     /* 서비스제공대상자 */
            ON C7.CASE_MNG_NO = C1.CASE_MNG_NO
            AND C7.CASE_MNG_ODRNO = C1.CASE_MNG_ODRNO
            AND C7.DEL_YN != 'Y'
        LEFT JOIN SEB500 C8     /* 서비스제공 */
            ON C8.SRVC_PVSN_NO = C7.SRVC_PVSN_NO
            AND C8.RESRCE_NO = C7.RESRCE_NO
            AND C8.DEL_YN != 'Y'
        LEFT JOIN SEC300 T1     /* 사후관리 */
            ON T1.CASE_MNG_NO = C1.CASE_MNG_NO
            AND T1.CASE_MNG_ODRNO = C1.CASE_MNG_ODRNO
            AND T1.DEL_YN != 'Y'
        LEFT JOIN SEC310 T2     /* 사후관리담당자 */
            ON T2.AFTFCT_MNG_NO = T1.AFTFCT_MNG_NO
            AND T2.CASE_MNG_NO = T1.CASE_MNG_NO
            AND T2.CASE_MNG_ODRNO = T1.CASE_MNG_ODRNO
            AND T2.PCHPRS_YN = 'Y'
            AND T2.DEL_YN != 'Y'
        LEFT JOIN SAA200 C9     /* 사용자 */
            ON C9.ENFSN_NO = C8.PIC_NO
            OR C9.ENFSN_NO = T2.PIC_NO
        LEFT JOIN SAB230 C10    /* 사용자별기관권한 */
            ON C10.USER_ID = C9.USER_ID
            AND (C10.INST_NO = C8.TKCG_INST_NO
                OR C10.INST_NO = T2.PIC_INST_NO)
        LEFT JOIN SAC100 C11    /* 공통코드[권한구분코드] */
            ON C11.CMMNS_CD_ID = 'AUTHRT_SE_CD'
            AND C11.CMMNS_CD_VALUE = C10.AUTHRT_SE_CD
               
        WHERE 1=1
            AND C1.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    ]]>
		<if test="BIZ_YR != null and BIZ_YR != ''">
		/* 사업연도 */
			AND C4.BIZ_YR = #{BIZ_YR}
		</if>
		<if test="SRVC_EXCN_BIZ_NO != null and SRVC_EXCN_BIZ_NO != ''">
		/* 과정[서비스실행사업] */
			AND C2.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
		</if>
		<if test="TRPR_NM != null and TRPR_NM != ''">
		/* 대상자명 */
			AND NVL(C6.FLNM_ENCPT, C5.TRPR_NM_ENCPT) = ENC_B64(#{TRPR_NM})
		</if>
		<if test="INST_NO != null and INST_NO != ''">
		/* 기관번호 */
			AND C3.INST_NO = #{INST_NO}
		</if>
		<if test="BGNG_YMD != null and BGNG_YMD != '' and END_YMD != null and END_YMD != ''">
		/* 조회기간 */
			AND (C8.SRVC_PVSN_BGNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}
                OR T1.AFTFCT_MNG_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD})
		</if>
        <if test='OUTSD_ENFSN_YN == "Y"'>
        /* 소속구분-외부종사자 */
            AND C11.ADDTNG_MNG_VALUE2 = #{OUTSD_ENFSN_YN}
        </if>
        <if test='OUTSD_ENFSN_YN == "N"'>
        /* 소속구분-내부종사자 */
            AND C10.USER_ID IS NOT NULL
            AND C11.ADDTNG_MNG_VALUE2 IS NULL
        </if>
    <![CDATA[
	   )
	GROUP BY ROLLUP(CASE_MNG_VIEW, TRPR_NM_ENCPT)
    
    ORDER BY CASE_MNG_VIEW DESC
	)
	WHERE G_CASE = G_TRPR
	]]>
	</select>
</mapper>