<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.couns.mngr.icbtgmng.mapper.IcbtgAltmntMapper">
	
	<!-- <select id="selectIcbtgAltmntList" parameterType="HashMap" resultType="HashMap">
    /**
    *       selectIcbtgAltmntList : isry.couns.mngr.icbtgmng.mapper.IcbtgAltmntMapper : 인큐베이팅 상담자배정표 조회 
    */
        SELECT 
                AA.USER_ID                      AS      CNSLTNT_ID
            ,   AA.WORK_YMD                     AS      WORK_YMD
            ,   DD.FLNM_ENCPT                   AS      CNSLTNT_NM
            ,   EE.DEPT_NM                      AS      DEPT_NM
            ,   NVL(BB.NTABRD_EVL_YN,'N')       AS      NTABRD_EVL_YN       /** 게시판사용여부 **/
            ,   NVL(BB.CHTT_EVL_YN,'N')         AS      CHTT_EVL_YN             /** 플래그여부 **/
            ,   SUBSTR(AA.WORK_YMD,0,6)      AS      CRTR_YM
        FROM
                AYC100      AA      /** 근무배정표_일별 **/
            ,   AYC150      BB      /** 근무배정표_인큐베이팅 **/
            ,   SAA200      CC      /** 기관사용자 **/
            ,   SCA100      DD      /** 종사자 **/
            ,   SAA300      EE      /** 기관부서 **/
        WHERE   1=1
            AND AA.USER_ID       =    BB.CONSTT_ID(+)
            AND AA.USER_ID       =    CC.USER_ID
            AND CC.ENFSN_NO      =    DD.ENFSN_NO
            AND DD.OGDP_DEPT_CD  =    EE.DEPT_CD
        <if test="crtrYm != null and crtrYm != ''">
            <![CDATA[
            AND AA.WORK_YMD LIKE    #{crtrYm} || '%'
            ]]>
        </if>
        <if test="deptCd != null and deptCd != ''">
            <![CDATA[
            AND DD.OGDP_DEPT_CD =   #{deptCd}
            ]]>
        </if>
    </select> -->
	
	<select id="selectIcbtgAltmntList" parameterType="HashMap" resultType="HashMap">
	/**
	*		selectIcbtgAltmntList : isry.couns.mngr.icbtgmng.mapper.IcbtgAltmntMapper : 인큐베이팅 상담자배정표 조회 
	*/
		SELECT 
	            substr(T1.INCUBA_WORK_YMD, 0, 6)             AS    CRTR_YM         /* 인큐베이팅 근무연월 */
	            , T1.INCUBA_WORK_YMD                         AS    WORK_YMD        /* 인큐베이팅 근무일자 */
	            , T1.CONSTT_ID                               AS    CNSLTNT_ID      /* 상담원 아이디 */
	            , C##RG.DEC_B64(T3.FLNM_ENCPT)            AS    CNSLTNT_NM      /* 상담원 이름 */
	            , T1.NTABRD_EVL_YN                           AS    NTABRD_EVL_YN   /* 게시판 평가 여부 */
	            , T1.CHTT_EVL_YN                             AS    CHTT_EVL_YN     /* 채팅 평가 여부 */
	            , T1.INDEX_SN                                AS    INDEX_SN        /* 일련번호 */
		FROM
		        AYC150      T1          /* 근무배정표_인큐베이팅 */
		        , SAA200    T2          /* 사용자 */
		        , SCA100    T3          /* 종사자 */
		WHERE   1=1
		AND     T1.CONSTT_ID         =       T2.USER_ID
		AND     T2.ENFSN_NO          =       T3.ENFSN_NO
		AND     T1.INCUBA_WORK_YMD  LIKE     #{CRTR_YM}||'%'
		AND     T3.OGDP_DEPT_CD      =       #{DEPT_CD}
	</select>
	
	<insert id="insertIcbtgAltmnt" parameterType="HashMap">
	/**
    *       insertIcbtgAltmnt : isry.couns.mngr.icbtgmng.mapper.insertIcbtgAltmnt : 인큐베이팅 상담자배정표 등록 
    */
	    INSERT
	    INTO
	            AYC150
	    (
	            INDEX_SN
	        ,   CONSTT_ID
	        ,   NTABRD_EVL_YN
	        ,   CHTT_EVL_YN
	        ,   INCUBA_WORK_YMD
	    )
	    SELECT
	            AYC150_SQ01.NEXTVAL
	        ,   BB.CONSTT_ID
	        ,   BB.NTABRD_EVL_YN
	        ,   BB.CHTT_EVL_YN
	        ,   TO_CHAR(AA.INCUBA_WORK_YMD, 'YYYYMMDD') 
	    FROM
	            (
	            SELECT
	                    TRUNC(TO_DATE(#{START_DT}, 'YYYYMMDD') + (LEVEL - 1)) AS INCUBA_WORK_YMD
	            FROM
	                    DUAL
	            CONNECT BY          
	                    <![CDATA[LEVEL <= TO_DATE(#{END_DT}, 'YYYYMMDD') - TO_DATE(#{START_DT}, 'YYYYMMDD') + 1]]>
	            )       AA
	        ,   (
	            SELECT
	                    #{CONSTT_ID}             AS CONSTT_ID      
	                ,   #{NTABRD_EVL_YN}         AS NTABRD_EVL_YN
	                ,   #{CHTT_EVL_YN}           AS CHTT_EVL_YN
	            FROM
	                    DUAL
	            )       BB
    </insert>
	
	<update id="updateIcbtgAltmnt" parameterType="HashMap">
	/**
    *       updateIcbtgAltmnt : isry.couns.mngr.icbtgmng.mapper.updateIcbtgAltmnt : 인큐베이팅 상담자배정표 상세 수정 
    */
        UPDATE
                AYC150  T1      /* 근무배정표_인큐베이팅 */
        SET
                T1.INCUBA_WORK_YMD      =       #{INCUBA_WORK_YMD}
                , T1.NTABRD_EVL_YN      =       #{NTABRD_EVL_YN}
                , T1.CHTT_EVL_YN        =       #{CHTT_EVL_YN}
                , T1.LAST_MDFR_ID       =       #{USER_ID}
                , T1.LAST_MDFCN_DT      =       SYSDATE
        WHERE   1=1
        AND     T1.INDEX_SN             =       #{INDEX_SN} 
	</update>
	
	<delete id="deleteIcbtgAltmnt" parameterType="HashMap">
	/**
    *       deleteIcbtgAltmnt : isry.couns.mngr.icbtgmng.mapper.deleteIcbtgAltmnt : 인큐베이팅 상담자배정표 상세 삭제 
    */
        DELETE
        FROM    AYC150  T1      /* 근무배정표_인큐베이팅 */
        WHERE   1=1
        AND     T1.CONSTT_ID          =         #{CONSTT_ID}
        AND     T1.INCUBA_WORK_YMD    =         #{INCUBA_WORK_YMD}
	</delete>
	
	<select id="selectIcbtgAltmntYmdCheckList" parameterType="HashMap" resultType="HashMap">
    /**
    *       selectIcbtgAltmntYmdCheckList : isry.couns.mngr.icbtgmng.mapper.selectIcbtgAltmntYmdCheckList : 인큐베이팅 관리 중복된 날짜를 조회
    */
        SELECT T1.INCUBA_WORK_YMD FROM AYC150 T1
         WHERE 1 = 1
           <![CDATA[AND TO_DATE(#{START_DT}, 'YYYYMMDD') <=  TO_DATE(T1.INCUBA_WORK_YMD, 'YYYYMMDD')]]>
           <![CDATA[AND TO_DATE(T1.INCUBA_WORK_YMD, 'YYYYMMDD')   <=  TO_DATE(#{END_DT}, 'YYYYMMDD')]]>
           AND T1.CONSTT_ID =  #{CONSTT_ID}
    </select>
</mapper>