<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="isry.pubmsr.casemng.recvrytrmn.mapper.RecvryTrmnMapper">

    <select id="selectReqById" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
        /* selectReqById - Lee MS */
        
        SELECT
            A.NEW_XTND_SE_CD AS NEW_XTND_SE_CD,                                 /* 신규연장구분코드 */
            A.PRTCTN_DSPS_COURT_SE_CD AS PRTCTN_DSPS_COURT_SE_CD,               /* 보호처분법원구분코드 */
            A.PRTCTN_DSPS_YMD AS PRTCTN_DSPS_YMD,                               /* 보호처분일자 */
            A.PRTCTN_DSPS_BGNG_YMD AS PRTCTN_DSPS_BGNG_YMD,                     /* 보호처분시작일자 */
            A.PRTCTN_DSPS_END_YMD AS PRTCTN_DSPS_END_YMD,                       /* 보호처분종료일자 */

            A.PRTCTN_DSPS_CN AS PRTCTN_DSPS_CN,                                 /* 보호처분내용 */
            A.ADI_DSPS_CN AS ADI_DSPS_CN,                                       /* 부가처분내용 */
            
            A.PRTCTN_DSPS_XTND_BGNG_YMD AS PRTCTN_DSPS_XTND_BGNG_YMD,           /* 보호처분연장시작일자 */
            A.PRTCTN_DSPS_XTND_END_YMD AS PRTCTN_DSPS_XTND_END_YMD,             /* 보호처분연장종료일자 */

            A.PRTCTN_DSPS_XTND_APLCNT_SE_CD AS PRTCTN_DSPS_XTND_APLCNT_SE_CD,   /* 보호처분연장신청자구분코드 */
            A.PRTCTN_DSPS_XTND_APLCNT_ETC_CN AS PRTCTN_DSPS_XTND_APLCNT_ETC_CN, /* 보호처분연장신청자기타내용 */
            A.XTND_APLY_COURT_SE_CD AS XTND_APLY_COURT_SE_CD,                   /* 연장신청법원구분코드 */

            A.PRTCTN_DSPS_XTND_CS_SE_CD AS PRTCTN_DSPS_XTND_CS_SE_CD,           /* 보호처분연장사유구분코드 */
            A.PRTCTN_DSPS_XTND_CS_ETC_CN AS PRTCTN_DSPS_XTND_CS_ETC_CN,         /* 보호처분연장사유기타내용 */

            A.CASE_MNG_NO AS CASE_MNG_NO,                                       /* 사례관리번호 */
            A.CASE_MNG_ODRNO AS CASE_MNG_ODRNO,                                 /* 사례관리차수 */
            A.PRTCTN_DSPS_SN AS PRTCTN_DSPS_SN                                  /* 보호처분일련번호 */
        FROM AEC110 A /* 회복지원사례등록 */
        WHERE A.CASE_MNG_NO = #{CASE_MNG_NO}
        AND A.CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}

    ]]>
    </select>

    <update id="saveEntrncXtndData" parameterType="HashMap">
    <![CDATA[
         /* saveEntrncXtndData - Lee  MS */
         
        MERGE INTO AEC110 /* 회복지원사례등록 */
        USING DUAL
           ON (CASE_MNG_NO = #{CASE_MNG_NO}
           AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
           AND PRTCTN_DSPS_SN = #{PRTCTN_DSPS_SN})
         WHEN MATCHED THEN
       UPDATE SET
              NEW_XTND_SE_CD = #{NEW_XTND_SE_CD},                                 /* 신규연장구분코드 */
              PRTCTN_DSPS_XTND_BGNG_YMD = #{PRTCTN_DSPS_XTND_BGNG_YMD},           /* 보호처분연장시작일자 */
              PRTCTN_DSPS_XTND_END_YMD = #{PRTCTN_DSPS_XTND_END_YMD},             /* 보호처분연장종료일자 */
   
              PRTCTN_DSPS_XTND_APLCNT_SE_CD = #{PRTCTN_DSPS_XTND_APLCNT_SE_CD},   /* 보호처분연장신청자구분코드 */
              PRTCTN_DSPS_XTND_APLCNT_ETC_CN = #{PRTCTN_DSPS_XTND_APLCNT_ETC_CN}, /* 보호처분연장신청자기타내용 */
              XTND_APLY_COURT_SE_CD = #{XTND_APLY_COURT_SE_CD},                   /* 연장신청법원구분코드 */

              PRTCTN_DSPS_XTND_CS_SE_CD = #{PRTCTN_DSPS_XTND_CS_SE_CD},           /* 보호처분연장사유구분코드 */
              PRTCTN_DSPS_XTND_CS_ETC_CN = #{PRTCTN_DSPS_XTND_CS_ETC_CN},         /* 보호처분연장사유기타내용 */
              
              LAST_MDFR_ID = #{USER_ID},                            /* 최종수정자아이디 */
              LAST_MDFCN_DT = SYSDATE                               /* 최종수정일시 */
         WHEN NOT MATCHED THEN
        INSERT (
              CASE_MNG_NO,              /* 사례관리번호 */
              CASE_MNG_ODRNO,           /* 사례관리차수 */
              PRTCTN_DSPS_SN,           /* 보호처분일련번호 */

              NEW_XTND_SE_CD,           /* 신규연장구분코드 */
              PRTCTN_DSPS_COURT_SE_CD,  /* 보호처분법원구분코드 */
              PRTCTN_DSPS_YMD,          /* 보호처분일자 */
              
              PRTCTN_DSPS_BGNG_YMD,     /* 보호처분시작일자 */
              PRTCTN_DSPS_END_YMD,      /* 보호처분종료일자 */

              PRTCTN_DSPS_CN,           /* 보호처분내용 */
              ADI_DSPS_CN,              /* 부가처분내용 */
             
              PRTCTN_DSPS_XTND_BGNG_YMD, /* 보호처분연장시작일자 */
              PRTCTN_DSPS_XTND_END_YMD,  /* 보호처분연장종료일자 */

              PRTCTN_DSPS_XTND_APLCNT_SE_CD,   /* 보호처분연장신청자구분코드 */
              PRTCTN_DSPS_XTND_APLCNT_ETC_CN,  /* 보호처분연장신청자기타내용 */
              XTND_APLY_COURT_SE_CD,           /* 연장신청법원구분코드 */

              PRTCTN_DSPS_XTND_CS_SE_CD,       /* 보호처분연장사유구분코드 */
              PRTCTN_DSPS_XTND_CS_ETC_CN,      /* 보호처분연장사유기타내용 */

              FRST_RGTR_ID,
              FRST_REG_DT,
              LAST_MDFR_ID,
              LAST_MDFCN_DT
        )
        VALUES (
              #{CASE_MNG_NO},
              #{CASE_MNG_ODRNO},
              (SELECT NVL(MAX(PRTCTN_DSPS_SN),0)+1 FROM AEC110 WHERE CASE_MNG_NO = #{CASE_MNG_NO}
                                                                 AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}),
              
              #{NEW_XTND_SE_CD},
              #{PRTCTN_DSPS_COURT_SE_CD},
              #{PRTCTN_DSPS_YMD},
              
              #{PRTCTN_DSPS_BGNG_YMD}, 
              #{PRTCTN_DSPS_END_YMD},
              
              #{PRTCTN_DSPS_CN},
              #{ADI_DSPS_CN},

              #{PRTCTN_DSPS_XTND_BGNG_YMD},
              #{PRTCTN_DSPS_XTND_END_YMD},

              #{PRTCTN_DSPS_XTND_APLCNT_SE_CD}, 
              #{PRTCTN_DSPS_XTND_APLCNT_ETC_CN},
              #{XTND_APLY_COURT_SE_CD},
              #{PRTCTN_DSPS_XTND_CS_SE_CD},
              #{PRTCTN_DSPS_XTND_CS_ETC_CN},
                            
              #{USER_ID},
              SYSDATE,
              #{USER_ID},
              SYSDATE
        )
        
    ]]>
    </update>
    
    <delete id="deleteData" parameterType="HashMap">
    <![CDATA[
         /* deleteData - Lee  MS */
    
        DELETE FROM AEC110 /* 회복지원사례등록 */
        WHERE CASE_MNG_NO = #{CASE_MNG_NO}
        AND CASE_MNG_ODRNO = #{CASE_MNG_ODRNO}
        AND PRTCTN_DSPS_SN = #{PRTCTN_DSPS_SN}
    
    ]]>
    </delete>
    

</mapper>