<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="isry.csemd.mdlrtrehabcrsemng.lvingmng.mapper.LvingMngMapper">
    
    <!-- 생활동 담당자 콤보데이터 조회 -->
    <select id="selectPic" resultType="HashMap">
    <![CDATA[
    SELECT DISTINCT
        A.SRVC_EXCN_BIZ_NO                      --서비스실행사업번호
    ,   A.ALTMNT_GROUP_SCLAS_SE_CD              --배정그룹구분코드
    ,   A.PIC_NO                                --종사자번호
    ,   DEC_B64(B.FLNM_ENCPT) AS FLNM_ENCPT     --종사자명
    ,   A.TKCG_RELM_SE_CD                       --담당영역구분코드
    FROM AFA241 A               /*영역별담당자 테이블*/
    INNER JOIN SCA100 B         /*종사자 테이블*/
    ON A.PIC_NO = B.ENFSN_NO        --종사자번호
    INNER JOIN SAA000 C
    ON B.OGDP_INST_NO = C.INST_NO
    
    WHERE C.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    AND (A.TKCG_INST_NO = #{INST_NO} OR #{INST_TYPE_SE_CD} IN ('1'))
    --AND (A.PIC_NO = {ENFSN_NO} OR {GROUP_AUTHRT_SE_CD} IN ('310','320'))
	]]>
    </select>
    
    <!-- 복용시기 체크박스리스트 조회 -->
    <select id="selectTakingEra" resultType="HashMap">
    SELECT CMMNS_CD_VALUE
        , CMMNS_CD_VALUE_NM 
    FROM SAC100 
	WHERE CMMNS_CD_ID = 'COMPNO_TYPE_SCLAS_SE_CD' 
	    AND CMMNS_CD_VALUE LIKE '0301' || '%'
    </select>
    
    <!-- 생활동 담당자 지정할 디딤센터 종사자 콤보데이터 조회 -->
    <select id="selectEnfsn" resultType="HashMap">
    <![CDATA[
    SELECT A.ENFSN_NO                             --종사자번호
        , DEC_B64(A.FLNM_ENCPT) AS FLNM_ENCPT     --종사자명
        , A.OGDP_INST_NO                          --소속기관번호
    FROM SCA100 A
    INNER JOIN SAA000 B
    ON A.OGDP_INST_NO = B.INST_NO
    INNER JOIN SAA200 C
    ON A.ENFSN_NO = C.ENFSN_NO
    INNER JOIN SAB230 D
    ON C.USER_ID = D.USER_ID
        AND D.INST_NO = B.INST_NO
    WHERE B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        --AND D.GROUP_AUTHRT_SE_CD = '330'
        AND (A.OGDP_INST_NO = #{INST_NO} OR #{INST_TYPE_SE_CD} IN ('4','1'))
    ]]>
    </select>
    
    <!-- 생활동콤보조회 -->
    <select id="selectDormitForSearch" resultType="HashMap">
    SELECT
        A.SRVC_EXCN_BIZ_NO
        , A.ALTMNT_GROUP_SCLAS_SE_CD
        ,(SELECT CMMNS_CD_VALUE_NM FROM SAC100
           WHERE CMMNS_CD_ID = 'ALTMNT_GROUP_SCLAS_SE_CD'
           AND CMMNS_CD_VALUE = A.ALTMNT_GROUP_SCLAS_SE_CD
           ) AS DORMIT_NM
    FROM AFA240 A
    
    ORDER BY ALTMNT_GROUP_SCLAS_SE_CD
    </select>
    
    <!-- 기관콤보조회 -->
    <select id="selectInst" resultType="HashMap">
    SELECT 
        INST_NM                   /* 기관명 */
        , INST_NO                    /* 기관번호 */
        
    FROM SAA000                    /* 통합기관 */
    WHERE UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    AND INST_NO = #{INST_NO}
    
    ORDER BY INST_NO
    </select>
    
    <!-- 사업년도 콤보조회 -->
    <select id="selectBizYr" resultType="HashMap">
    SELECT DISTINCT
        A.BIZ_YR                            /* 사업연도 */
    FROM SDA400 A                           /* 서비스사업 */
    LEFT JOIN SDA420 B                      /* 서비스실행사업 */
        ON A.SRVC_BIZ_NO = B.SRVC_BIZ_NO
    
    WHERE 1=1
        AND A.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
        AND B.INST_NO = #{INST_NO}
    
    ORDER BY A.BIZ_YR DESC
    </select>

    <!-- 서비스실행사업 콤보조회 -->
    <select id="selectSrvcExcnBiz" resultType="HashMap">
    SELECT DISTINCT
        A.SRVC_EXCN_BIZ_NM
        , A.SRVC_EXCN_BIZ_NO
        , B.BIZ_YR
        , A.BIZ_BGNG_YMD
        , INST_NO
        , A.ALTMNT_GROUP_LCLAS_SE_CD
        , B.ALTMNT_GROUP_PRD_CL_SE_CD
    FROM SDA420 A                               /* 서비스실행사업 */
    LEFT JOIN SDA400 B                          /* 서비스사업 */
        ON A.SRVC_BIZ_NO = B.SRVC_BIZ_NO
    
    WHERE 1=1
        AND B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
    
    ORDER BY BIZ_YR DESC, SRVC_EXCN_BIZ_NO DESC
    </select>
    
    <!-- 근무일지목록 조회 -->
	<select id="selectWorkDiaryList" resultType="HashMap">
	
	<!-- 페이지 인덱서 헤더 -->
    <include refid="ComPagingMapper.pageHeader" />      
    <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
	
     B.WRT_YMD                                                                         --작성일자
	    , A.SRVC_EXCN_BIZ_NM                                                                 --서비스실행사업명
	    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
	        WHERE CMMNS_CD_ID = 'ALTMNT_GROUP_SCLAS_SE_CD'
	        AND CMMNS_CD_VALUE = B.ALTMNT_GROUP_SCLAS_SE_CD) AS ALTMNT_GROUP_SCLAS_SE_NM     --배정그룹구분명
	    , REGEXP_REPLACE(LISTAGG(DEC_B64(D.FLNM_ENCPT), ',') 
	       WITHIN GROUP (ORDER BY FLNM_ENCPT DESC), '([^,]+)(,\1)*(,|$)', '\1\3') AS FLNM_ENCPT    --종사자이름 배열
	    , (SELECT DEC_B64(FLNM_ENCPT) FROM SCA100
	        WHERE ENFSN_NO = B.MNGR_NO) AS MNGR_NM_ENCPT                                      --관리자명
	    , B.MNGR_IDNTY_YN                                                                  --관리자확인여부
	    , B.SRVC_EXCN_BIZ_NO                                                               --서비스실행사업번호
	    , B.ALTMNT_GROUP_SCLAS_SE_CD                                                             --배정그룹구분코드
	    , B.TKCG_INST_NO AS INST_NO                                                                  --담당기관번호
	    , E.BIZ_YR                                                                             -- 사업연도
	FROM SDA420 A
	INNER JOIN AFA230 B
	    ON A.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO
	LEFT JOIN AFA231 C
	    ON B.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO
	    AND B.ALTMNT_GROUP_SCLAS_SE_CD = C.ALTMNT_GROUP_SCLAS_SE_CD
	    AND B.WRT_YMD = C.WRT_YMD
	    AND C.TKCG_INST_NO LIKE #{INST_NO} ||'%'
	LEFT JOIN SCA100 D
	    ON C.PIC_NO = D.ENFSN_NO
	INNER JOIN SDA400 E
	    ON A.SRVC_BIZ_NO = E.SRVC_BIZ_NO
	WHERE E.BIZ_YR LIKE #{BIZ_YR} || '%'
	    AND A.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
	    AND B.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} || '%'
	    AND B.WRT_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}
	    AND B.MNGR_IDNTY_YN LIKE #{MNGR_IDNTY_YN} || '%'
	    AND B.TKCG_INST_NO = #{INST_NO}
    GROUP BY B.WRT_YMD
        , A.SRVC_EXCN_BIZ_NM
        , B.ALTMNT_GROUP_SCLAS_SE_CD
        , B.MNGR_NO
        , B.MNGR_IDNTY_YN
        , B.SRVC_EXCN_BIZ_NO
        , B.ALTMNT_GROUP_SCLAS_SE_CD
        , B.TKCG_INST_NO
        , E.BIZ_YR
        
    ORDER BY B.WRT_YMD DESC
      <!-- 페이지 인덱서 OFFSET 조건 -->
      <include refid="ComPagingMapper.pageOffset"/>
	</select>
    
    <!-- 근무일지 상세조회(근무일지) -->
    <select id="selectWorkDiary"  resultType="HashMap">
    SELECT 
        A.SRVC_EXCN_BIZ_NO                                                --서비스실행사업번호
        , A.ALTMNT_GROUP_SCLAS_SE_CD                                            --배정그룹구분코드
        , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
           WHERE CMMNS_CD_ID = 'ALTMNT_GROUP_SCLAS_SE_CD'
            AND CMMNS_CD_VALUE = A.ALTMNT_GROUP_SCLAS_SE_CD) AS ALTMNT_GROUP_SCLAS_SE_NM          --배정그룹소분류구분명
        , A.WRT_YMD                                                       --작성일자
        , A.MNGR_IDNTY_YN                                                 --관리자확인여부
        , A.MNGR_NO                                                       --관리자번호
        , A.TKCG_INST_NO AS INST_NO                                       --담당기관번호
        , C.BIZ_YR                                                        --사업연도
    FROM AFA230 A                                                   /*근무일지*/
    INNER JOIN SDA420 B                                             /*서비스실행사업 테이블*/
        ON A.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO                      --서비스실행사업번호
    INNER JOIN SDA400 C                                             /*서비스사업테이블*/
        ON B.SRVC_BIZ_NO = C.SRVC_BIZ_NO                                --서비스사업번호
    WHERE A.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'              --서비스실행사업번호
        AND A.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} ||'%'         --배정그룹구분코드
        AND A.WRT_YMD LIKE #{WRT_YMD} || '%'                              --작성일자
    </select>
    
    <!-- 근무일지 상세조회(시간대별근무내용) -->
    <select id="selectWorkCnList" resultType="HashMap">
    SELECT B.BGNG_HR                                                   --시작시
	    , B.END_HR                                                     --종료시간
	    , DEC_B64(A.FLNM_ENCPT) AS FLNM_ENCPT                          --종사자명
	    , B.PIC_NO                                                     --종사자번호 
	    , B.WORK_CN                                                    --근무내용
	    , B.SRVC_EXCN_BIZ_NO                                           --서비스실행사업번호
	    , B.WRT_YMD                                                    --작성일자
	    , B.ALTMNT_GROUP_SCLAS_SE_CD                                         --배정그룹구분번호                                       
	    , B.HR_TASKWK_CN_SN                                            --시간업무내용일련번호
	    , B.TKCG_INST_NO AS INST_NO                                    --담당기관번호
	    
	FROM SCA100 A
	INNER JOIN AFA231 B
	    ON A.ENFSN_NO = B.PIC_NO
	INNER JOIN AFA230 C
	    ON C.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO
	    AND C.ALTMNT_GROUP_SCLAS_SE_CD = B.ALTMNT_GROUP_SCLAS_SE_CD
	    AND C.WRT_YMD = B.WRT_YMD
	WHERE B.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
	    AND B.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} ||'%'
	    AND B.WRT_YMD LIKE #{WRT_YMD} || '%'
    </select>
    
    <!-- 근무일지 상세조회(청소년관찰기록) -->
    <select id="selectYngbgsObservRcordList" resultType="HashMap">
    SELECT DISTINCT DEC_B64(A.TRPR_NM_ENCPT) AS TRPR_NM_ENCPT
        , D.PERIOD_MEDCIN_TAKNG_SE_CD                                                              --정기적인약복용    
        , D.COMPNO_CHC_TYPE_MNG_NO                                                                 --복수선택유형관리번호 
        , D.SYMPTM_NM                                                                              --증상명        
        , D.MEDCIN_KND_NM                                                                          --약종류명       
        , D.OBSERV_RCORD_CN                                                                        --관찰기록       
        , D.CASE_MNG_NO                                                                            --사례관리번호     
        , D.CASE_MNG_ODRNO                                                                         --사례관리차수     
        , D.SRVC_EXCN_BIZ_NO                                                                       --서비스실행사업번호  
        , D.ALTMNT_GROUP_SCLAS_SE_CD                                                                     --배정그룹구분코드
        , D.WRT_YMD                                                                                --작성일자
        , (SELECT  LISTAGG(COMPNO_TYPE_SCLAS_SE_CD, ',') 
                WITHIN GROUP (ORDER BY COMPNO_TYPE_SCLAS_SE_CD) 
           FROM AFA131
           WHERE COMPNO_CHC_TYPE_MNG_NO = D.COMPNO_CHC_TYPE_MNG_NO) AS PERIOD_MEDCIN_TAKNG     --복용시기
    FROM SEA200 A                                                                                   /*대상자정보 테이블*/
    INNER JOIN SEB100 B                                                                             /*사례기본 테이블*/                    
        ON A.TRPR_INFO_NO = B.TRPR_INFO_NO                                                              --대상자정보번호                   
    INNER JOIN SEB120 C                                                                             /*서비스제공대상자 테이블*/                
        ON B.CASE_MNG_NO = C.CASE_MNG_NO                                                                --사례관리번호                    
        AND B.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO                                                         --사례관리차수                    
    LEFT JOIN AFA232 D                                                                              /*청소년관찰기록 테이블*/                 
        ON B.CASE_MNG_NO = D.CASE_MNG_NO                                                                --사례관리번호                    
        AND B.CASE_MNG_ODRNO = D.CASE_MNG_ODRNO                                                         --사례관리차수                    
    LEFT JOIN AFA131 E                                                                              /*복수선택유형상세 테이블*/                
        ON D.COMPNO_CHC_TYPE_MNG_NO = E.COMPNO_CHC_TYPE_MNG_NO                                          --복수선택유형관리번호                
    WHERE B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}                                                      --단위업무구분코드                  
        AND C.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'                                          --서비스실행사업번호                 
        AND D.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} || '%'                                      --배정그룹구분코드                  
        AND D.WRT_YMD LIKE #{WRT_YMD} || '%'                                                            --작성일자
        AND B.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} || '%'                                      --배정그룹구분코드
    </select>
    
    <!-- 근무일지 등록 시 청소년 목록 조회 -->
    <select id="selectYngbgsList" resultType="HashMap">
    <![CDATA[
    /*isry.csemd.mdlrtrehabcrsemng.lvingmng.mapper.LvingMngMapper.selectYngbgsList 근무일지 청소년 목록 조회*/
    SELECT DISTINCT
        DEC_B64(A.TRPR_NM_ENCPT) AS TRPR_NM_ENCPT   -- 대상자명[암호화]
    ,   C.CASE_MNG_NO                               -- 사례관리번호
    ,   C.CASE_MNG_ODRNO                            -- 사례관리차수
    ,   D.SRVC_EXCN_BIZ_NO                          -- 서비스실행사업번호
    ,   D.ALTMNT_GROUP_SCLAS_SE_CD                  -- 배정그룹소분류구분코드
	FROM SEA200 A                                  /* 대상자정보 */
	INNER JOIN SEB100 B                            /* 사례기본 */
	    ON A.TRPR_INFO_NO = B.TRPR_INFO_NO
	INNER JOIN SEB120 C                            /* 서비스사업대상자 */
	    ON B.CASE_MNG_NO = C.CASE_MNG_NO
	    AND B.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO
	INNER JOIN AFA240 D                            /* 생활동관리 */
	    ON C.SRVC_EXCN_BIZ_NO = D.SRVC_EXCN_BIZ_NO
	WHERE B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
	    AND C.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'
	    AND D.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} || '%'
	    AND B.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} || '%'
	]]>
    </select>
    
    <!-- 근무일지 등록(근무일지) -->
    <insert id="insertWorkDiary">
    <![CDATA[
    INSERT INTO AFA230(
        SRVC_EXCN_BIZ_NO
    ,   ALTMNT_GROUP_SCLAS_SE_CD
    ,   WRT_YMD
    ,   TKCG_INST_NO
    ,   FRST_RGTR_ID
    ,   LAST_MDFR_ID
    ) VALUES (
        #{SRVC_EXCN_BIZ_NO}
    ,   #{ALTMNT_GROUP_SCLAS_SE_CD}
    ,   #{WRT_YMD}
    ,   #{INST_NO}
    ,   #{USER_ID}
    ,   #{USER_ID}
	)
	]]>
    </insert>
    
    <!-- 근무일지 등록(시간대별근무내용) -->
    <insert id="insertWorkCn">
    <![CDATA[
    INSERT INTO AFA231(
          SRVC_EXCN_BIZ_NO
        , ALTMNT_GROUP_SCLAS_SE_CD
        , WRT_YMD
        , HR_TASKWK_CN_SN
        , BGNG_HR
        , END_HR
        , WORK_CN
        , PIC_NO
        , TKCG_INST_NO
        , FRST_RGTR_ID
        , LAST_MDFR_ID
    ) VALUES
    ]]>
    <foreach collection="list" item="item" index="i" separator="," >
    <![CDATA[
	    ( #{item.SRVC_EXCN_BIZ_NO}
        , #{item.ALTMNT_GROUP_SCLAS_SE_CD}
        , #{item.WRT_YMD}
        , (SELECT NVL(MAX(HR_TASKWK_CN_SN), 0) + #{i}+1 FROM AFA231
            WHERE SRVC_EXCN_BIZ_NO = #{item.SRVC_EXCN_BIZ_NO}
                AND ALTMNT_GROUP_SCLAS_SE_CD = #{item.ALTMNT_GROUP_SCLAS_SE_CD}
                AND WRT_YMD = #{item.WRT_YMD})
        , #{item.BGNG_HR}
        , #{item.END_HR}
        , #{item.WORK_CN}
        , #{item.PIC_NO}
        , #{item.INST_NO}
        , #{item.USER_ID}
        , #{item.USER_ID}
	    )
	]]>
    </foreach>
    </insert>
    
    <!-- 근무일지 등록(청소년관찰기록) -->
    <insert id="insertYngbgsObservRcord">
    INSERT INTO AFA232(
          CASE_MNG_NO
	    , CASE_MNG_ODRNO
	    , SRVC_EXCN_BIZ_NO
	    , ALTMNT_GROUP_SCLAS_SE_CD
	    , WRT_YMD
	    , PERIOD_MEDCIN_TAKNG_SE_CD
	    , SYMPTM_NM
	    , MEDCIN_KND_NM
	    , OBSERV_RCORD_CN
	    , COMPNO_CHC_TYPE_MNG_NO
	    , FRST_RGTR_ID
	    , FRST_REG_DT
	    , LAST_MDFR_ID
	    , LAST_MDFCN_DT
	) VALUES
	<foreach collection="list" item="item" separator="," >
	    ( #{item.CASE_MNG_NO}
	    , #{item.CASE_MNG_ODRNO}
	    , #{item.SRVC_EXCN_BIZ_NO}
	    , #{item.ALTMNT_GROUP_SCLAS_SE_CD}
	    , #{item.WRT_YMD}
	    , #{item.PERIOD_MEDCIN_TAKNG_SE_CD}
	    , #{item.SYMPTM_NM}
	    , #{item.MEDCIN_KND_NM}
	    , #{item.OBSERV_RCORD_CN}
	    , #{item.COMPNO_CHC_TYPE_MNG_NO}
	    , #{item.USER_ID}
	    , SYSDATE
	    , #{item.USER_ID}
	    , SYSDATE 
	    )
	</foreach>
    </insert>
    
    <!-- 복수선택유형 등록 -->
    <insert id="insertCompnoChc">
    INSERT INTO AFA130 (
          COMPNO_CHC_TYPE_MNG_NO
	    , FRST_RGTR_ID
	    , FRST_REG_DT
	    , LAST_MDFR_ID
	    , LAST_MDFCN_DT
	) VALUES (
	      #{COMPNO_CHC_TYPE_MNG_NO}
	    , #{USER_ID}
	    , SYSDATE
	    , #{USER_ID}
	    , SYSDATE
	)
    </insert>
    
    <!-- 복수선택유형 상세 등록 -->
    <insert id="insertCompnoChcDtl">
    /* insertCompnoChcDtl */
    
    INSERT INTO AFA131 (
          COMPNO_CHC_TYPE_MNG_NO
        , COMPNO_CHC_TYPE_DTL_SN
        , COMPNO_TYPE_LCLAS_SE_CD
        , COMPNO_TYPE_MLSFC_SE_CD
        , COMPNO_TYPE_SCLAS_SE_CD
        , FRST_RGTR_ID
        , LAST_MDFR_ID
    ) VALUES
    <foreach collection="list" item="item" index="i" separator=" , " >
    (
        #{item.COMPNO_CHC_TYPE_MNG_NO}
        , (SELECT NVL(MAX(COMPNO_CHC_TYPE_DTL_SN), 0) + #{i}+1 FROM AFA131
            WHERE COMPNO_CHC_TYPE_MNG_NO = #{item.COMPNO_CHC_TYPE_MNG_NO})
        , SUBSTR(#{item.COMPNO_TYPE_SCLAS_SE_CD},1,2)
        , SUBSTR(#{item.COMPNO_TYPE_SCLAS_SE_CD},1,4)
        , #{item.COMPNO_TYPE_SCLAS_SE_CD}
        , #{item.USER_ID}
        , #{item.USER_ID}
    )
    </foreach>
    </insert>

    
    <!-- 근무일지 수정(관리자 확인) -->
    <update id="updateWorkDiary">
    UPDATE AFA230 SET 
          MNGR_IDNTY_YN = #{MNGR_IDNTY_YN}
        , MNGR_NO = #{MNGR_NO}
        , LAST_MDFR_ID = #{USER_ID}
        , LAST_MDFCN_DT = SYSDATE
        
    WHERE 1=1
        AND SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO__origin}
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD__origin}
        AND WRT_YMD = #{WRT_YMD__origin}
    </update>
    
    <!-- 시간대별근무내용 수정 -->
    <update id="updateWorkCn">
    <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" index="i" close="; END;" >
	    UPDATE AFA231 SET 
	          HR_TASKWK_CN_SN = #{item.HR_TASKWK_CN_SN}
	        , BGNG_HR = #{item.BGNG_HR}
	        , END_HR = #{item.END_HR}
	        , WORK_CN = #{item.WORK_CN}
	        , LAST_MDFR_ID = #{item.USER_ID}
	        , LAST_MDFCN_DT = SYSDATE
	    WHERE SRVC_EXCN_BIZ_NO = #{item.SRVC_EXCN_BIZ_NO__origin}
	        AND ALTMNT_GROUP_SCLAS_SE_CD = #{item.ALTMNT_GROUP_SCLAS_SE_CD__origin}
	        AND WRT_YMD = #{item.WRT_YMD__origin}
	        AND HR_TASKWK_CN_SN = #{item.HR_TASKWK_CN_SN__origin}
    </foreach>
    </update>
    
    <!-- 청소년관찰기록 수정 -->
    <update id="updateYngbgsObservRcord">
    <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;" >
	     UPDATE AFA232 SET 
	        SRVC_EXCN_BIZ_NO = #{item.SRVC_EXCN_BIZ_NO}
	        , ALTMNT_GROUP_SCLAS_SE_CD = #{item.ALTMNT_GROUP_SCLAS_SE_CD}
	        , WRT_YMD = #{item.WRT_YMD}
	        , PERIOD_MEDCIN_TAKNG_SE_CD = #{item.PERIOD_MEDCIN_TAKNG_SE_CD}
	        , SYMPTM_NM = #{item.SYMPTM_NM}
	        , MEDCIN_KND_NM = #{item.MEDCIN_KND_NM}
	        , OBSERV_RCORD_CN = #{item.OBSERV_RCORD_CN}
	        , COMPNO_CHC_TYPE_MNG_NO = #{item.COMPNO_CHC_TYPE_MNG_NO}
	        , LAST_MDFR_ID = #{item.USER_ID}
	        , LAST_MDFCN_DT = SYSDATE
	    WHERE CASE_MNG_NO = #{item.CASE_MNG_NO}
	        AND CASE_MNG_ODRNO = #{item.CASE_MNG_ODRNO}
	        AND SRVC_EXCN_BIZ_NO = #{item.SRVC_EXCN_BIZ_NO__origin}
	        AND ALTMNT_GROUP_SCLAS_SE_CD = #{item.ALTMNT_GROUP_SCLAS_SE_CD__origin}
	        AND WRT_YMD = #{item.WRT_YMD__origin}
    </foreach>
    </update>
    
    <!-- 복수선택유형상세 삭제 -->
    <delete id="deleteCompnoChcDtl">
    DELETE FROM AFA131 
    WHERE COMPNO_CHC_TYPE_MNG_NO = #{COMPNO_CHC_TYPE_MNG_NO}
    </delete>
    
    <!-- 근무일지 중복체크 -->
    <select id="selectWorkDiaryExist" resultType="int">
    SELECT COUNT(*) AS WORK_DIARY_CNT
    FROM AFA230
    WHERE SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD}
        AND WRT_YMD = #{WRT_YMD}
    </select>
    
    <!-- 시간대별근무내용 삭제 -->
    <delete id="deleteWorkCn">
    <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;" >
        DELETE FROM AFA231 WHERE
	        SRVC_EXCN_BIZ_NO = #{item.SRVC_EXCN_BIZ_NO__origin}
	        AND ALTMNT_GROUP_SCLAS_SE_CD = #{item.ALTMNT_GROUP_SCLAS_SE_CD__origin}
	        AND WRT_YMD = #{item.WRT_YMD__origin}
	        AND HR_TASKWK_CN_SN = #{item.HR_TASKWK_CN_SN__origin}    
    </foreach>
    </delete>
    
    <update id="updateWorkDiaryAprv">
    UPDATE AFA230 SET
        MNGR_IDNTY_YN = #{MNGR_IDNTY_YN}
        , MNGR_NO = #{MNGR_NO}
        , TKCG_INST_NO = #{INST_NO}
    WHERE SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO__origin}
	    AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD__origin}
	    AND WRT_YMD = #{WRT_YMD__origin}
    </update>
    
    <!-- 일일점검표 목록조회 -->
    <select id="selectDayChckList" resultType="HashMap">
    
        <!-- 페이지 인덱서 헤더 -->
        <include refid="ComPagingMapper.pageHeader" />      
        <!-- 페이지 인덱서 실행 쿼리 SELECT 이후-->
    A.WRT_YMD                                                                     --작성일자
	    , C.SRVC_EXCN_BIZ_NM                                                             --서비스실행사업명
	    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
	        WHERE CMMNS_CD_ID = 'ALTMNT_GROUP_SCLAS_SE_CD'
	        AND CMMNS_CD_VALUE = A.ALTMNT_GROUP_SCLAS_SE_CD) AS ALTMNT_GROUP_SCLAS_SE_NM        --배정그룹구분명
	    , (SELECT DEC_B64(FLNM_ENCPT) FROM SCA100
	       WHERE ENFSN_NO = A.NIGHT_PIC_NO1) AS NIGHT_PIC_NO1_FLNM_ENCPT                        --야간담당자A명
	    , (SELECT DEC_B64(FLNM_ENCPT) FROM SCA100
           WHERE ENFSN_NO = A.NIGHT_PIC_NO2) AS NIGHT_PIC_NO2_FLNM_ENCPT                        --야간담당자B명
	    , A.FCLTY_ENVRN_RCMM_CN                                                          --시설환경건의사항내용
	    , A.SRVC_EXCN_BIZ_NO                                                             --서비스실행사업번호
	    , A.ALTMNT_GROUP_SCLAS_SE_CD                                                           --배정그룹구분번호
	    , A.NIGHT_PIC_NO1                                                                       --담당자A번호
	    , A.NIGHT_PIC_NO2                                                                       --담당자B번호
	    , A.TKCG_INST_NO AS INST_NO                                                      --기관번호
	    , D.BIZ_YR                                                                       --서비스사업연도
	FROM AFA220 A                                                                  /*일일점검표 테이블*/
	INNER JOIN SDA420 C                                                            /*서비스실행사업 테이블*/
	    ON A.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO                                     --서비스실행사업번호
	INNER JOIN SDA400 D                                                            /*서비스사업 테이블*/
	    ON D.SRVC_BIZ_NO = C.SRVC_BIZ_NO                                               --서비스사업번호
	WHERE 1=1
	    <if test='BIZ_YR != null and BIZ_YR != ""'>
		    AND D.BIZ_YR = #{BIZ_YR}                                                         --사업연도	    
	    </if>
	    AND A.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'                         --서비스실행사업번호
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} ||'%'                      --배정그룹구분코드
	    AND (A.NIGHT_PIC_NO1 LIKE #{PIC_NO} || '%' OR A.NIGHT_PIC_NO1 IS NULL)                                      --담당자A번호
        AND (A.NIGHT_PIC_NO2 LIKE #{PIC_NO} || '%'  OR A.NIGHT_PIC_NO2 IS NULL)                                     --담당자B번호
	    <if test='BGNG_YMD != null and BGNG_YMD !="" and END_YMD != null and END_YMD != ""'>
	       AND A.WRT_YMD BETWEEN #{BGNG_YMD} AND #{END_YMD}                            --시작일자,종료일자
	    </if>
	    AND A.DEL_YN = 'N'                                                             --삭제여부
	    <if test='WRT_YMD != null and WRT_YMD !=""'>
	       AND A.WRT_YMD = #{WRT_YMD}
	    </if>
        AND A.TKCG_INST_NO = #{INST_NO}
        <if test="ENFSN_NO != null and ENFSN_NO != ''">
		    AND (SRVC_EXCN_BIZ_NO, ALTMNT_GROUP_SCLAS_SE_CD) IN (
			    SELECT SRVC_EXCN_BIZ_NO
			      , ALTMNT_GROUP_SCLAS_SE_CD 
			    FROM AFA241 
			    WHERE PIC_NO = #{PIC_NO})
		</if>
	ORDER BY A.WRT_YMD
      <!-- 페이지 인덱서 OFFSET 조건 -->
      <include refid="ComPagingMapper.pageOffset"/>
    </select>
    
    <!-- 일일점검표 상세조회(일일점검표상세, 점검표 통합) -->
    <select id="selectDayChck" resultType="HashMap">
    <![CDATA[
    /* selectDayChck - 일일점검표 상세조회 LEE.SEOUNG.JAE*/
    SELECT A.WRT_YMD                                                                       --작성일자
	    , A.SRVC_EXCN_BIZ_NO                                                               --서비스실행사업번호
	    , A.ALTMNT_GROUP_SCLAS_SE_CD                                                             --배정그룹구분코드
	    , (SELECT CMMNS_CD_VALUE_NM
	       FROM SAC100
	       WHERE CMMNS_CD_ID = 'ALTMNT_GROUP_SCLAS_SE_CD'
	           AND CMMNS_CD_VALUE = A.ALTMNT_GROUP_SCLAS_SE_CD) AS ALTMNT_GROUP_SCLAS_SE_NM      --배정그룹소분류구분명
	    , (SELECT UP_CMMNS_CD_VALUE
		   FROM SAC100
		   WHERE CMMNS_CD_ID = 'DD_DD_CHECKL_DTL_SE_CD'
		      AND CMMNS_CD_VALUE = B.DD_DD_CHECKL_DTL_SE_CD) AS UP_CMMNS_CD_VALUE          --공통코드 상위코드
	    , B.DD_DD_CHECKL_DTL_SE_CD                                                         --일일점검표상세구분코드
	    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
	        WHERE CMMNS_CD_ID = 'DD_DD_CHECKL_DTL_SE_CD'
	            AND CMMNS_CD_VALUE = B.DD_DD_CHECKL_DTL_SE_CD) AS DD_DD_CHECKL_DTL_SE_NM   --일일점검표상세구분명
	    , B.TPRI_CHCK_RESULT_SE_CD                                                         --1차점검결과구분코드
	    , B.SCD_CHCK_RESULT_SE_CD                                                          --2차점검결과구분코드
	    , A.FCLTY_ENVRN_RCMM_CN                                                            --시설환경건의사항내용
	    , A.NIGHT_PIC_NO1                                                                  --담당자A번호
	    , A.NIGHT_PIC_NO2                                                                  --담당자B번호
	    , A.DEL_YN                                                                         --삭제여부
	    , D.BIZ_YR                                                                         --사업연도
	    , A.TKCG_INST_NO AS INST_NO                                                        --기관번호
	FROM AFA220 A                                                                      /*일일점검표 테이블*/
	LEFT JOIN AFA221 B                                                                /*일일점검표 상세 테이블*/
	    ON A.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO                                         --서비스실행사업번호
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD = B.ALTMNT_GROUP_SCLAS_SE_CD                                    --배정그룹구분코드
	    AND A.WRT_YMD = B.WRT_YMD                                                          --작성일자
	INNER JOIN SDA420 C                                                                /*서비스실행사업 테이블*/
	    ON A.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO                                         --서비스실행사업번호
	INNER JOIN SDA400 D                                                                /*서비스사업 테이블*/
	    ON C.SRVC_BIZ_NO = D.SRVC_BIZ_NO                                                   --서비스사업번호
	WHERE A.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD}
	    AND A.WRT_YMD = #{WRT_YMD}
	    AND A.DEL_YN = 'N'
	ORDER BY B.DD_DD_CHECKL_DTL_SE_CD
	]]>
    </select>
    
    <!--일일점검표 등록시 조회(점검표) -->
    <select id="selectDayChckToInsert" resultType="HashMap">
    <![CDATA[
    /* selectDayChckToInsert - 일일점검표 등록시 조회(점검표) LEE.SEOUNG.JAE*/
    SELECT CMMNS_CD_VALUE AS DD_DD_CHECKL_DTL_SE_CD                                     --공통코드값
	    , CMMNS_CD_VALUE_NM AS DD_DD_CHECKL_DTL_SE_NM                                   --공통코드값명
	    , UP_CMMNS_CD_VALUE                                                             --상위공통코드값
	FROM SAC100                                                                    /*공통코드값 테이블*/
	WHERE CMMNS_CD_ID = 'DD_DD_CHECKL_DTL_SE_CD'
	ORDER BY CMMNS_CD_VALUE
	]]>
    </select>
    
    <!-- 일일점검표 등록 -->
    <insert id="insertDayChckList">
    INSERT INTO AFA220 (
        SRVC_EXCN_BIZ_NO                                                                --서비스실행사업번호
        , ALTMNT_GROUP_SCLAS_SE_CD                                                            --배정그룹구분코드
        , WRT_YMD                                                                       --작성일자
        , FCLTY_ENVRN_RCMM_CN                                                           --시설환경건의사항내용
        , NIGHT_PIC_NO1                                                                 --담당자A번호
        , NIGHT_PIC_NO2                                                                 --담당자B번호
        , TKCG_INST_NO                                                                  --기관번호
        , DEL_YN                                                                        --삭제여부
        , FRST_RGTR_ID                                                                  --최초등록자아이디
        , FRST_REG_DT                                                                   --최초등록일자
        , LAST_MDFR_ID                                                                  --최종수정자아이디
        , LAST_MDFCN_DT                                                                 --최종수정일자
    ) VALUES (
        #{SRVC_EXCN_BIZ_NO}
        , #{ALTMNT_GROUP_SCLAS_SE_CD}
        , #{WRT_YMD}
        , #{FCLTY_ENVRN_RCMM_CN}
        , #{NIGHT_PIC_NO1}
        , #{NIGHT_PIC_NO2}
        , #{INST_NO}
        , 'N'
        , #{USER_ID}
        , SYSDATE
        , #{USER_ID}
        , SYSDATE
    )
    </insert>
    
    <!-- 일일점검표상세 등록 -->
    <insert id="insertChckList">
    INSERT INTO AFA221 (
        SRVC_EXCN_BIZ_NO                                                                --서비스실행사업번호
        , ALTMNT_GROUP_SCLAS_SE_CD                                                            --배정그룹구분코드
        , WRT_YMD                                                                       --작성일자
        , DD_DD_CHECKL_DTL_SE_CD                                                        --일일점검표상세구분코드
        , TPRI_CHCK_RESULT_SE_CD                                                        --1차점검결과구분코드
        , SCD_CHCK_RESULT_SE_CD                                                         --2차점검결과구분코드
        , FRST_RGTR_ID                                                                  --최초등록자아이디
        , FRST_REG_DT                                                                   --최초등록일자
        , LAST_MDFR_ID                                                                  --최종수정자아이디
        , LAST_MDFCN_DT                                                                 --최종수정일자
    ) VALUES 
    <foreach collection="list" item="item" separator=",">
	    (
	        #{item.SRVC_EXCN_BIZ_NO}
	        , #{item.ALTMNT_GROUP_SCLAS_SE_CD}
	        , #{item.WRT_YMD}
	        , #{item.DD_DD_CHECKL_DTL_SE_CD}
	        , #{item.TPRI_CHCK_RESULT_SE_CD}
	        , #{item.SCD_CHCK_RESULT_SE_CD}
	        , #{item.USER_ID}
	        , SYSDATE
	        , #{item.USER_ID}
	        , SYSDATE
	    )
    </foreach>
    </insert>
    
    <!-- 일일점검표 수정 -->
    <update id="updateDayChckList">
    UPDATE AFA220 SET 
        NIGHT_PIC_NO1 = #{NIGHT_PIC_NO1}
        , NIGHT_PIC_NO2 = #{NIGHT_PIC_NO2}
        , WRT_YMD = #{WRT_YMD}
        ,LAST_MDFR_ID = #{USER_ID}
        ,LAST_MDFCN_DT = SYSDATE
    WHERE 1=1
        AND SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO__origin}
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD__origin}
        AND WRT_YMD = #{WRT_YMD__origin}
    </update>
    
    <!-- 일일점검표 상세 수정 -->
    <update id="updateChckList">
    <foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close="; END;">
    UPDATE AFA221 SET 
        WRT_YMD = #{item.WRT_YMD}
        , TPRI_CHCK_RESULT_SE_CD = #{item.TPRI_CHCK_RESULT_SE_CD}
        , SCD_CHCK_RESULT_SE_CD = #{item.SCD_CHCK_RESULT_SE_CD}
        , LAST_MDFR_ID = #{item.USER_ID}
        , LAST_MDFCN_DT = SYSDATE
    WHERE 1=1
        AND SRVC_EXCN_BIZ_NO = #{item.SRVC_EXCN_BIZ_NO__origin}
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{item.ALTMNT_GROUP_SCLAS_SE_CD__origin}
        AND WRT_YMD = #{item.WRT_YMD__origin}
        AND DD_DD_CHECKL_DTL_SE_CD = #{item.DD_DD_CHECKL_DTL_SE_CD}
    </foreach>
    </update>
    
    <!-- 생활동관리 목록조회 -->
    <select id="selectDormitList" resultType="HashMap">
    SELECT A.SRVC_EXCN_BIZ_NO                                                          --서비스실행사업번호
	    , B.BIZ_BGNG_YMD                                                               --서비스실행사업시작일자
	    , B.BIZ_END_YMD                                                                --서비스실행사업종료일자
	    , TO_CHAR(TO_DATE(B.BIZ_BGNG_YMD),'YYYY-MM-DD') || ' ~ ' 
	       || TO_CHAR(TO_DATE(B.BIZ_END_YMD) ,'YYYY-MM-DD')           AS EDU_PRD       --서비스실행사업기간
	    , B.INST_NO                                                                    --기관번호
	    , A.ALTMNT_GROUP_SCLAS_SE_CD                                                         --배정그룹구분코드
	    , A.PSNCPA_NOPE                                                                --정원수
	    , COUNT(J.CASE_MNG_NO) AS ALTMNT_CNT                                           --배정수
	    , C.PIC_NO AS INDIV_PIC_NO                                                     --개별화
	    , E.PIC_NO AS WIK_PIC_NO                                                       --주간
	    , F.PIC_NO AS NITHT_PIC_NO_A                                                   --야간A
	    , G.PIC_NO AS NITHT_PIC_NO_B                                                   --야간B
	    , A.SRVC_EXCN_BIZ_NO AS SRVC_EXCN_BIZ_NO_KEY                                   --서비스실행사업번호(원래 값을 받아오기 위한 키)
        , A.ALTMNT_GROUP_SCLAS_SE_CD AS ALTMNT_GROUP_SCLAS_SE_CD_KEY                               --배정그룹구분코드(원래 값을 받아오기 위한 키)
        , A.PSNCPA_NOPE AS PSNCPA_NOPE_KEY                                             --정원수(원래 값을 받아오기 위한 키)
        , C.PIC_NO AS INDIV_PIC_NO_KEY                                             --개별화(원래 값을 받아오기 위한 키)
        , E.PIC_NO AS WIK_PIC_NO_KEY                                               --주간(원래 값을 받아오기 위한 키)
        , F.PIC_NO AS NITHT_PIC_NO_A_KEY                                           --야간A(원래 값을 받아오기 위한 키)
        , G.PIC_NO AS NITHT_PIC_NO_B_KEY                                           --야간B(원래 값을 받아오기 위한 키)
	FROM AFA240 A                                                  /*생활동관리 테이블*/
	INNER JOIN SDA420 B                                            /*서비스실행사업 테이블*/
	    ON A.SRVC_EXCN_BIZ_NO = B.SRVC_EXCN_BIZ_NO                     --서비스실행사업번호
	LEFT JOIN AFA241 C                                            /*영역별담당자 테이블*/
	    ON A.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO                     --서비스실행사업번호
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD = C.ALTMNT_GROUP_SCLAS_SE_CD                --배정그룹구분코드
	    AND C.TKCG_RELM_SE_CD = '01'                                   --담당영역구분코드(개별화)
	    AND C.TKCG_INST_NO = #{INST_NO}                                --담당기관번호
	LEFT JOIN AFA241 E
	    ON A.SRVC_EXCN_BIZ_NO = E.SRVC_EXCN_BIZ_NO
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD = E.ALTMNT_GROUP_SCLAS_SE_CD
	    AND E.TKCG_RELM_SE_CD = '05'                                   --담당영역구분코드(주간)
	    AND E.TKCG_INST_NO = #{INST_NO}                                --담당기관번호
	LEFT JOIN AFA241 F
	    ON A.SRVC_EXCN_BIZ_NO = F.SRVC_EXCN_BIZ_NO
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD = F.ALTMNT_GROUP_SCLAS_SE_CD
	    AND F.TKCG_RELM_SE_CD = '07'                                   --담당영역구분코드(야간)
	    AND F.TKCG_INST_NO = #{INST_NO}                                --담당기관번호
	LEFT JOIN AFA241 G
	    ON A.SRVC_EXCN_BIZ_NO = G.SRVC_EXCN_BIZ_NO
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD = G.ALTMNT_GROUP_SCLAS_SE_CD
	    AND G.TKCG_RELM_SE_CD = '08'                                   --담당영역구분코드(야간2)
	    AND G.TKCG_INST_NO = #{INST_NO}                                --담당기관번호
	INNER JOIN SDA400 H                                            /*서비스사업 테이블*/
	    ON B.SRVC_BIZ_NO = H.SRVC_BIZ_NO                               --서비스사업번호
	LEFT JOIN SEB120 I                                            /*서비스사업대상자 테이블*/
	    ON A.SRVC_EXCN_BIZ_NO = I.SRVC_EXCN_BIZ_NO                     --서비스실행사업번호
	    AND I.DEL_YN = 'N'                                             --삭제여부
    LEFT JOIN SEB100 J                                             /*사례기본 테이블*/
        ON I.CASE_MNG_NO = J.CASE_MNG_NO                               --사례관리번호
        AND I.CASE_MNG_ODRNO = J.CASE_MNG_ODRNO                        --사례관리차수
        AND J.ALTMNT_GROUP_SCLAS_SE_CD = A.ALTMNT_GROUP_SCLAS_SE_CD                --배정그룹구분코드
	WHERE H.BIZ_YR LIKE #{BIZ_YR} || '%'                               --사업연도
	    AND A.SRVC_EXCN_BIZ_NO LIKE #{SRVC_EXCN_BIZ_NO} || '%'         --서비스실행사업번호
	    AND A.ALTMNT_GROUP_SCLAS_SE_CD LIKE #{ALTMNT_GROUP_SCLAS_SE_CD} || '%'     --배정그룹구분코드
	    AND B.INST_NO = #{INST_NO}                                     --기관번호
	GROUP BY A.SRVC_EXCN_BIZ_NO
	    , A.ALTMNT_GROUP_SCLAS_SE_CD
	    , B.BIZ_BGNG_YMD
	    , B.BIZ_END_YMD
	    , B.INST_NO
	    , A.PSNCPA_NOPE
	    , C.PIC_NO
	    , E.PIC_NO
	    , F.PIC_NO
	    , G.PIC_NO
	ORDER BY BIZ_BGNG_YMD DESC, ALTMNT_GROUP_SCLAS_SE_CD ASC
    </select>
    
    <!-- 저장된 모든 생활동 목록 조회 -->
    <select id="selectDormitAllList" resultType="HashMap">
    <![CDATA[
    /*selectDormitAllList - 저장된 모든 생활동 목록 조회 LEE.SEOUNG.JAE*/
    SELECT SRVC_EXCN_BIZ_NO
        , ALTMNT_GROUP_SCLAS_SE_CD
    FROM AFA240
    ]]>
    </select>
    
    <!-- 생활동 현재 거주현황 목록 -->
    <select id="selectDormitNowStrdcList" resultType="HashMap">
    SELECT B.CASE_MNG_NO                                                               --사례관리번호
	    , B.CASE_MNG_ODRNO                                                             --사례관리차수
	    , DEC_B64(A.TRPR_NM_ENCPT) AS TRPR_NM_ENCPT                                    --대상자명암호화
	    , A.TRPR_BRTH_YMD                                                              --대상자출생일
	    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
	       WHERE CMMNS_CD_ID = 'SXDC_SE_CD'
	           AND CMMNS_CD_VALUE = A.SXDC_SE_CD) AS SXDC_SE_NM                        --대상자성별
	    , (SELECT CMMNS_CD_VALUE_NM FROM SAC100
            WHERE CMMNS_CD_ID = 'ACBG_SE_CD'
                AND CMMNS_CD_VALUE = E.ACBG_SE_CD 
          ) || ' ' || (SELECT CMMNS_CD_VALUE_NM FROM SAC100
            WHERE CMMNS_CD_ID = 'GRADE_SE_CD'
                AND CMMNS_CD_VALUE = E.GRADE_SE_CD
          ) AS ACBG_GRADE_SE_NM                                                        --입교종류(교급)    
	    , D.BIZ_BGNG_YMD                                                               --서비스시작일자
	    , D.BIZ_END_YMD                                                                --서비스종료일자
	    , TO_CHAR(TO_DATE(D.BIZ_BGNG_YMD),'YYYY-MM-DD') || ' ~ ' 
           || TO_CHAR(TO_DATE(D.BIZ_END_YMD) ,'YYYY-MM-DD')   AS EDU_PRD               --서비스실행사업기간
	FROM SEA200 A                                                                  /*대상자정보 테이블*/
	INNER JOIN SEB100 B                                                            /*사례기본 테이블*/
	    ON A.TRPR_INFO_NO = B.TRPR_INFO_NO                                             --대상자정보번호
	INNER JOIN SEB120 C                                                            /*서비스사업대상자 테이블*/
	    ON B.CASE_MNG_NO = C.CASE_MNG_NO                                               --사례관리번호
	    AND B.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO                                        --사례관리차수
	    AND C.DEL_YN = 'N'
	INNER JOIN SDA420 D                                                            /*서비스실행사업 테이블*/
	    ON D.SRVC_EXCN_BIZ_NO = C.SRVC_EXCN_BIZ_NO                                     --서비스실행사업번호
    LEFT JOIN 
       (SELECT A.*
           , ROW_NUMBER() OVER(PARTITION BY A.TRPR_INFO_NO ORDER BY B.ADDTNG_MNG_VALUE1 DESC, A.MNG_SN DESC) AS RN
       FROM SEA230 A                   /* 학력상태 */
       LEFT JOIN SAC100 B
       ON B.CMMNS_CD_ID = 'ACBG_SE_CD'
           AND B.CMMNS_CD_VALUE = A.ACBG_SE_CD
       WHERE A.DEL_YN != 'Y'
       ) E
    ON E.TRPR_INFO_NO = A.TRPR_INFO_NO
        AND E.RN = 1
	WHERE B.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}                                     --단위업무구분코드
	    AND B.ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD}                               --배정그룹구분코드
	    AND C.SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}                                   --서비스실행사업번호
    </select>
    
    <!-- 생활동관리 등록 -->
    <insert id="insertDormit">
    INSERT INTO AFA240(
        SRVC_EXCN_BIZ_NO
        , ALTMNT_GROUP_SCLAS_SE_CD
        , PSNCPA_NOPE
        , FRST_RGTR_ID
        , FRST_REG_DT
        , LAST_MDFR_ID
        , LAST_MDFCN_DT
    ) VALUES 
    <foreach collection="list" item="item" separator=",">
	    (
	        #{item.SRVC_EXCN_BIZ_NO}
	        , #{item.ALTMNT_GROUP_SCLAS_SE_CD}
	        , #{item.PSNCPA_NOPE}
	        , #{item.USER_ID}
	        , SYSDATE
	        , #{item.USER_ID}
	        , SYSDATE
	    ) 
    </foreach>
    </insert>
    
    <!-- 영역별담당자 등록 -->
    <insert id="insertEarePic">
    INSERT INTO AFA241(
        SRVC_EXCN_BIZ_NO
        , ALTMNT_GROUP_SCLAS_SE_CD
        , TKCG_RELM_SE_CD
        , TKCG_INST_NO
        , PIC_NO
        , FRST_RGTR_ID
        , FRST_REG_DT
        , LAST_MDFR_ID
        , LAST_MDFCN_DT
    ) VALUES 
    <foreach collection="list" item="item" separator=",">
	    (
	        #{item.SRVC_EXCN_BIZ_NO}
	        , #{item.ALTMNT_GROUP_SCLAS_SE_CD}
	        , #{item.TKCG_RELM_SE_CD}
	        , #{item.INST_NO}
	        , #{item.PIC_NO}
	        , #{item.USER_ID}
	        , SYSDATE
	        , #{item.USER_ID}
	        , SYSDATE
	    )
    </foreach>
    </insert>
    
    <!-- 생활동관리 삭제 -->
    <delete id="deleteDormit">
    DELETE FROM AFA240 
    WHERE SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO_KEY}
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD_KEY}
    </delete>
    
    <!-- 영역별담당자 삭제 -->
    <delete id="deleteEarePic">
    DELETE FROM AFA241
    WHERE SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO_KEY} 
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD_KEY}
    </delete>
    
    <!-- 근무일지/일일점검표 담당 영역 야간인지 체크 -->
    <select id="selectCheckTkcgRelmNight" resultType="HashMap">
    <![CDATA[
    /*근무일지/일일점검표 담당 영역 야간인지 체크 selectCheckTkcgRelmNight - LEE.SEOUNG.JAE */
    SELECT 
        SRVC_EXCN_BIZ_NO
        , ALTMNT_GROUP_SCLAS_SE_CD
        , TKCG_RELM_SE_CD
        , PIC_NO
    FROM AFA241
    WHERE SRVC_EXCN_BIZ_NO = #{SRVC_EXCN_BIZ_NO}
        AND ALTMNT_GROUP_SCLAS_SE_CD = #{ALTMNT_GROUP_SCLAS_SE_CD}
    ]]>
    </select>
    
</mapper>




