<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.cysns.stats.dscsnmdlrtsrvc.mapper.DscsnMdlrtSrvcMapper">
    <select id="selectDscsnMdlrtSrvcList" resultType="HashMap">
    <![CDATA[
    /* SQL ID : isry.cysns.stats.dscsnmdlrtsrvc.mapper.DscsnMdlrtSrvcMapper selectDscsnMdlrtSrvcList - [응용3팀]이상훈 */

    WITH TMP000 AS (
    SELECT
        NVL(B.INDV_IDNTFC_NO,A.TRPR_INFO_NO) AS TRPR_INFO_NO
    ,   B.SXDC_SE_CD
    ,   A.LINK_TYPE_SE_CD
    ,   A.CASE_MNG_NO
    ,   A.CASE_MNG_ODRNO
    ,   CASE WHEN A.ADDTNG_TRL_INSP_ENFORC_YN = 'Y' OR A.CNTER_ADDTNG_INSP_YN = 'Y' THEN 'Y' ELSE 'N' END AS ADDTNG_TRL_INSP_ENFORC_YN
    FROM ACA200 A
    JOIN SEA200 B
        ON  B.TRPR_INFO_NO          =   A.TRPR_INFO_NO
        AND B.DEL_YN                =   'N'
    LEFT JOIN ACA210 C
        ON  C.DGNSS_EXMN_MNG_NO     =   A.DGNSS_EXMN_MNG_NO
    LEFT JOIN ACA400 D
        ON  D.DGNSS_EXMN_MNG_NO     =   A.DGNSS_EXMN_MNG_NO
    LEFT JOIN (
        SELECT
            E2.RCPT_TRPR_INFO_NO
        ,   E1.RCPT_INST_NO
        ,   E1.RQST_YMD
        ,   ROW_NUMBER() OVER(PARTITION BY E2.SRVC_PVSN_RQST_NO ORDER BY E2.RCPT_SN DESC) AS ROW_NUMBER
        FROM SEB400 E1
        JOIN SEB420 E2
            ON  E2.SRVC_PVSN_RQST_NO    =   E1.SRVC_PVSN_RQST_NO
            AND E2.DEL_YN               =   'N'
        WHERE   1=1
            AND E1.DEL_YN               =   'N'
            AND E1.LINK_TYPE_SE_CD BETWEEN '07' AND '10'
        ) E
        ON  E.RCPT_TRPR_INFO_NO     =   A.TRPR_INFO_NO
        AND E.ROW_NUMBER            =   1
    LEFT JOIN SAA000 F
        ON  F.INST_NO               =   E.RCPT_INST_NO
    JOIN SEB100 G
        ON  G.CASE_MNG_NO           =   A.CASE_MNG_NO
        AND G.CASE_MNG_ODRNO        =   A.CASE_MNG_ODRNO
    JOIN SEB150 G2
        ON  G2.CASE_MNG_NO          =   G.CASE_MNG_NO
        AND G2.CASE_MNG_ODRNO       =   G.CASE_MNG_ODRNO
        AND G2.PCHPRS_YN            =   'Y'
    JOIN SAA000 G3
        ON  G3.INST_NO              =   G2.PIC_INST_NO
    WHERE   1=1
        AND G.CASE_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
    ]]>
    <if test="SGG_CD != NULL and SGG_CD != ''">
        AND NVL(F.SGG_CD,G3.SGG_CD) = #{SGG_CD}
    </if>
    <if test="CTPV_CD != NULL and CTPV_CD != ''">
        AND SUBSTR(NVL(F.SGG_CD,G3.SGG_CD),1,2) = #{CTPV_CD}
    </if>

    <!-- 20230727 이승재 - 권한추가 -->
    <include refid="cysnsBasicGropuAuthrt" />
    <!-- 20230727 이승재 - 권한추가 종료 -->

    <if test="INST_NO != NULL and INST_NO != ''">
        AND NVL(F.INST_NO,G3.INST_NO) = #{INST_NO}
    </if>
    <if test="ACBG != NULL and ACBG != ''">
        AND A.MEDIAA_SCHL_SE_CD = #{ACBG}
    </if>
    <if test="GRADE != NULL and GRADE != ''">
        AND NVL(C.GRADE_SE_CD,D.GRADE_SE_CD) = #{GRADE}
    </if>
    <if test="TRPR_SE != NULL and TRPR_SE != ''">
        AND A.TRPR_CHAR_SE_CD = #{TRPR_SE}
    </if>

    <choose>
        <when test='RELM_SE == NULL or RELM_SE == ""'>
            <if test='LEVEL_SE != NULL and LEVEL_SE !=""'>
                <if test='LEVEL_SE_SRCH_CND == "AND"'>
        AND (   A.BEFFAT_INTNET_DGNSS_SE_CD<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
            AND A.BEFFAT_SMRTP_DGNSS_SE_CD<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
            AND A.BEFFAT_GAMBLE_DGNSS_SE_CD<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
            )
                </if>
                <if test='LEVEL_SE_SRCH_CND == "OR"'>
        AND (   A.BEFFAT_INTNET_DGNSS_SE_CD
                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
            OR  A.BEFFAT_SMRTP_DGNSS_SE_CD
                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
            OR  A.BEFFAT_GAMBLE_DGNSS_SE_CD
                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
            )
                </if>
            </if>
        </when>
        <otherwise>
            <if test='RELM_SE_SRCH_CND == "OR"'>
        <foreach collection="ARR_RELM_SE" item="RELM" separator="OR" open="AND (" close=")">
            <if test='RELM == "INTNET_DGNSS_SE_CD"'>
            A.BEFFAT_INTNET_DGNSS_SE_CD
            </if><if test='RELM == "SMRTP_DGNSS_SE_CD"'>
            A.BEFFAT_SMRTP_DGNSS_SE_CD
            </if><if test='RELM == "GAMBLE_DGNSS_SE_CD"'>
            A.BEFFAT_GAMBLE_DGNSS_SE_CD
            </if>
            <choose>
                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                <otherwise><foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach></otherwise>
            </choose>
        </foreach>
            </if>
            <if test='RELM_SE_SRCH_CND == "AND"'>
        <foreach collection="ARR_RELM_SE" item="RELM" separator="AND" open="AND (" close=")">
            <if test='RELM == "INTNET_DGNSS_SE_CD"'>
            A.BEFFAT_INTNET_DGNSS_SE_CD
            </if><if test='RELM == "SMRTP_DGNSS_SE_CD"'>
            A.BEFFAT_SMRTP_DGNSS_SE_CD
            </if><if test='RELM == "GAMBLE_DGNSS_SE_CD"'>
            A.BEFFAT_GAMBLE_DGNSS_SE_CD
            </if>
            <choose>
                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                <otherwise><foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach></otherwise>
            </choose>
        </foreach>
            </if>
        </otherwise>
    </choose>
    <![CDATA[
    )

    SELECT
        NVL(CASE A.LINK_TYPE_SE_CD
        WHEN '07' THEN '학교 진단'
        WHEN '08' THEN '유관기관 진단'
        WHEN '09' THEN '센터 진단'
        WHEN '10' THEN '미연계(직접등록)'
        WHEN '11' THEN '미등록 사례지원'
        END,'합계') AS LINK_SE      /*연계구분*/
    ,   NVL(SUM(B.INDV_DSCSN_M),0) AS INDV_DSCSN_M       /*개인상담-남*/
    ,   NVL(SUM(B.INDV_DSCSN_F),0) AS INDV_DSCSN_F       /*개인상담-여*/
    ,   NVL(SUM(B.INDV_DSCSN_X),0) AS INDV_DSCSN_X       /*개인상담-미확인*/
    ,   NVL(SUM(B.INDV_DSCSN_T),0) AS INDV_DSCSN_T       /*개인상담-계*/
    ,   NVL(SUM(B.GR_DSCSN_M),0) AS GR_DSCSN_M       /*집단상담-남*/
    ,   NVL(SUM(B.GR_DSCSN_F),0) AS GR_DSCSN_F       /*집단상담-여*/
    ,   NVL(SUM(B.GR_DSCSN_X),0) AS GR_DSCSN_X       /*집단상담-미확인*/
    ,   NVL(SUM(B.GR_DSCSN_T),0) AS GR_DSCSN_T       /*집단상담-계*/
    ,   NVL(SUM(B.DSCSN_REAL_NMPR_M),0) AS DSCSN_REAL_NMPR_M     /*상담 실인원-남*/
    ,   NVL(SUM(B.DSCSN_REAL_NMPR_F),0) AS DSCSN_REAL_NMPR_F     /*상담 실인원-여*/
    ,   NVL(SUM(B.DSCSN_REAL_NMPR_X),0) AS DSCSN_REAL_NMPR_X     /*상담 실인원-미확인*/
    ,   NVL(SUM(B.DSCSN_REAL_NMPR_T),0) AS DSCSN_REAL_NMPR_T     /*상담 실인원-계*/
    ,   NVL(SUM(C.DETAIL_INSP_M),0) AS DETAIL_INSP_M     /*정밀검사-남*/
    ,   NVL(SUM(C.DETAIL_INSP_F),0) AS DETAIL_INSP_F     /*정밀검사-여*/
    ,   NVL(SUM(C.DETAIL_INSP_X),0) AS DETAIL_INSP_X     /*정밀검사-미확인*/
    ,   NVL(SUM(C.DETAIL_INSP_T),0) AS DETAIL_INSP_T     /*정밀검사-계*/
    ,   NVL(SUM(C.HSPTL_MDLRT_M),0) AS HSPTL_MDLRT_M     /*병원치료-남*/
    ,   NVL(SUM(C.HSPTL_MDLRT_F),0) AS HSPTL_MDLRT_F     /*병원치료-여*/
    ,   NVL(SUM(C.HSPTL_MDLRT_X),0) AS HSPTL_MDLRT_X     /*병원치료-미확인*/
    ,   NVL(SUM(C.HSPTL_MDLRT_T),0) AS HSPTL_MDLRT_T     /*병원치료-계*/
    ,   NVL(SUM(C.ETC_TRL_MDLRT_M),0) AS ETC_TRL_MDLRT_M     /*기타심리치료-남*/
    ,   NVL(SUM(C.ETC_TRL_MDLRT_F),0) AS ETC_TRL_MDLRT_F     /*기타심리치료-여*/
    ,   NVL(SUM(C.ETC_TRL_MDLRT_X),0) AS ETC_TRL_MDLRT_X     /*기타심리치료-미확인*/
    ,   NVL(SUM(C.ETC_TRL_MDLRT_T),0) AS ETC_TRL_MDLRT_T     /*기타심리치료-계*/
    ,   NVL(SUM(C.MDLRT_REAL_NMPR_M),0) AS MDLRT_REAL_NMPR_M     /*치료 실인원-남*/
    ,   NVL(SUM(C.MDLRT_REAL_NMPR_F),0) AS MDLRT_REAL_NMPR_F     /*치료 실인원-여*/
    ,   NVL(SUM(C.MDLRT_REAL_NMPR_X),0) AS MDLRT_REAL_NMPR_X     /*치료 실인원-미확인*/
    ,   NVL(SUM(C.MDLRT_REAL_NMPR_T),0) AS MDLRT_REAL_NMPR_T     /*치료 실인원-계*/
    ,   NVL(SUM(D.ADDTNG_TRL_INSP_NMPR_M),0) AS ADDTNG_TRL_INSP_NMPR_M       /*추가심리검사 인원-남*/
    ,   NVL(SUM(D.ADDTNG_TRL_INSP_NMPR_F),0) AS ADDTNG_TRL_INSP_NMPR_F       /*추가심리검사 인원-여*/
    ,   NVL(SUM(D.ADDTNG_TRL_INSP_NMPR_X),0) AS ADDTNG_TRL_INSP_NMPR_X       /*추가심리검사 인원-미확인*/
    ,   NVL(SUM(D.ADDTNG_TRL_INSP_NMPR_T),0) AS ADDTNG_TRL_INSP_NMPR_T       /*추가심리검사 인원-계*/
    ,   NVL(SUM(D.DSCSN_MDLRT_REAL_NMPR_M),0) AS DSCSN_MDLRT_REAL_NMPR_M     /*상담치료 실인원-남*/
    ,   NVL(SUM(D.DSCSN_MDLRT_REAL_NMPR_F),0) AS DSCSN_MDLRT_REAL_NMPR_F     /*상담치료 실인원-여*/
    ,   NVL(SUM(D.DSCSN_MDLRT_REAL_NMPR_X),0) AS DSCSN_MDLRT_REAL_NMPR_X     /*상담치료 실인원-미확인*/
    ,   NVL(SUM(D.DSCSN_MDLRT_REAL_NMPR_T),0) AS DSCSN_MDLRT_REAL_NMPR_T     /*상담치료 실인원-계*/
    FROM (
        SELECT
            '07' AS LINK_TYPE_SE_CD
        FROM DUAL
        UNION
        SELECT
            '08' AS LINK_TYPE_SE_CD
        FROM DUAL
        UNION
        SELECT
            '09' AS LINK_TYPE_SE_CD
        FROM DUAL
        UNION
        SELECT
            '10' AS LINK_TYPE_SE_CD
        FROM DUAL
        UNION
        SELECT
            '11' AS LINK_TYPE_SE_CD
        FROM DUAL) A
    LEFT JOIN (
        SELECT
            B1.LINK_TYPE_SE_CD AS LINK_TYPE_SE_CD        /*연계구분코드*/
    ]]>
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0101' AND B1.SXDC_SE_CD = 'M' THEN B1.TRPR_INFO_NO END) AS INDV_DSCSN_M       /*개인상담-남*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0101' AND B1.SXDC_SE_CD = 'F' THEN B1.TRPR_INFO_NO END) AS INDV_DSCSN_F       /*개인상담-여*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0101' AND B1.SXDC_SE_CD = 'X' THEN B1.TRPR_INFO_NO END) AS INDV_DSCSN_X       /*개인상담-미확인*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0101' THEN B1.TRPR_INFO_NO END) AS INDV_DSCSN_T       /*개인상담-계*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0102' AND B1.SXDC_SE_CD = 'M' THEN B1.TRPR_INFO_NO END) AS GR_DSCSN_M     /*집단상담-남*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0102' AND B1.SXDC_SE_CD = 'F' THEN B1.TRPR_INFO_NO END) AS GR_DSCSN_F     /*집단상담-여*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0102' AND B1.SXDC_SE_CD = 'X' THEN B1.TRPR_INFO_NO END) AS GR_DSCSN_X     /*집단상담-미확인*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B2.SRVC_RESRCE_MLSFC_SE_CD = '0102' THEN B1.TRPR_INFO_NO END) AS GR_DSCSN_T     /*집단상담-계*/
    <![CDATA[
        ,   COUNT(DISTINCT CASE WHEN B1.SXDC_SE_CD = 'M' THEN B1.TRPR_INFO_NO END) AS DSCSN_REAL_NMPR_M     /*상담 실인원-남*/
        ,   COUNT(DISTINCT CASE WHEN B1.SXDC_SE_CD = 'F' THEN B1.TRPR_INFO_NO END) AS DSCSN_REAL_NMPR_F     /*상담 실인원-여*/
        ,   COUNT(DISTINCT CASE WHEN B1.SXDC_SE_CD = 'X' THEN B1.TRPR_INFO_NO END) AS DSCSN_REAL_NMPR_X     /*상담 실인원-미확인*/
        ,   COUNT(DISTINCT B1.TRPR_INFO_NO) AS DSCSN_REAL_NMPR_T        /*상담 실인원-계*/
        FROM TMP000 B1
        JOIN (
            SELECT
                B2B.CASE_MNG_NO
            ,   B2B.CASE_MNG_ODRNO
            ,   B2C.SRVC_RESRCE_MLSFC_SE_CD
            FROM SEB500 B2A
            JOIN SEB510 B2B
                ON  B2B.SRVC_PVSN_NO    =   B2A.SRVC_PVSN_NO
                AND B2B.RESRCE_NO       =   B2A.RESRCE_NO
                AND B2B.DEL_YN          =   'N'
            JOIN SDA100 B2C
                ON  B2C.RESRCE_NO       =   B2B.RESRCE_NO
            WHERE   1=1
                AND B2A.DEL_YN                  =   'N'
                AND B2C.SRVC_RESRCE_MLSFC_SE_CD IN  ('0101','0102')
            ) B2
            ON  B2.CASE_MNG_NO      =   B1.CASE_MNG_NO
            AND B2.CASE_MNG_ODRNO   =   B1.CASE_MNG_ODRNO
        GROUP BY B1.LINK_TYPE_SE_CD
        UNION
        SELECT
            '11' AS LINK_TYPE_SE_CD        /*연계구분코드*/
        ,   0 AS INDV_DSCSN_M       /*개인상담-남*/
        ,   0 AS INDV_DSCSN_F       /*개인상담-여*/
        ,   0 AS INDV_DSCSN_X       /*개인상담-미확인*/
        ,   0 AS INDV_DSCSN_T       /*개인상담-계*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                B1.ELESCH_STDENT_MALE_NOPE      +   B1.ELESCH_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   B1.MSKUL_STDENT_MALE_NOPE       +   B1.MSKUL_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   B1.HGSCHL_STDENT_MALE_NOPE      +   B1.HGSCHL_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   B1.UNIVA_STDENT_MALE_NOPE       +   B1.UNIVA_OSCHL_MALE_NOPE
            +   B1.AGRDHS_IOCPTN_MALE_NOPE      +   B1.AGRDHS_EMPYMN_MALE_NOPE
            +   B1.PARNTS_PRTCR_MALE_NOPE       +   B1.LEADER_MALE_NOPE         +   B1.PEPL_MALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS GR_DSCSN_M     /*집단상담-남*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                B1.ELESCH_STDENT_FEMALE_NOPE    +   B1.ELESCH_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   B1.MSKUL_STDENT_FEMALE_NOPE     +   B1.MSKUL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   B1.HGSCHL_STDENT_FEMALE_NOPE    +   B1.HGSCHL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   B1.UNIVA_STDENT_FEMALE_NOPE     +   B1.UNIVA_OSCHL_FEMALE_NOPE
            +   B1.AGRDHS_IOCPTN_FEMALE_NOPE    +   B1.AGRDHS_EMPYMN_FEMALE_NOPE
            +   B1.PARNTS_PRTCR_FEMALE_NOPE     +   B1.LEADER_FEMALE_NOPE       +   B1.PEPL_FEMALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS GR_DSCSN_F     /*집단상담-여*/
        ,   0 AS GR_DSCSN_X     /*집단상담-미확인*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                B1.ELESCH_STDENT_MALE_NOPE      +   B1.ELESCH_OSCHL_MALE_NOPE
            +   B1.ELESCH_STDENT_FEMALE_NOPE    +   B1.ELESCH_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   B1.MSKUL_STDENT_MALE_NOPE       +   B1.MSKUL_OSCHL_MALE_NOPE
            +   B1.MSKUL_STDENT_FEMALE_NOPE     +   B1.MSKUL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   B1.HGSCHL_STDENT_MALE_NOPE      +   B1.HGSCHL_OSCHL_MALE_NOPE
            +   B1.HGSCHL_STDENT_FEMALE_NOPE    +   B1.HGSCHL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   B1.UNIVA_STDENT_MALE_NOPE       +   B1.UNIVA_OSCHL_MALE_NOPE
            +   B1.UNIVA_STDENT_FEMALE_NOPE     +   B1.UNIVA_OSCHL_FEMALE_NOPE
            +   B1.AGRDHS_IOCPTN_MALE_NOPE      +   B1.AGRDHS_EMPYMN_MALE_NOPE
            +   B1.AGRDHS_IOCPTN_FEMALE_NOPE    +   B1.AGRDHS_EMPYMN_FEMALE_NOPE
            +   B1.PARNTS_PRTCR_MALE_NOPE       +   B1.LEADER_MALE_NOPE         +   B1.PEPL_MALE_NOPE
            +   B1.PARNTS_PRTCR_FEMALE_NOPE     +   B1.LEADER_FEMALE_NOPE       +   B1.PEPL_FEMALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS GR_DSCSN_T     /*집단상담-계*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                B1.ELESCH_STDENT_MALE_NOPE      +   B1.ELESCH_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   B1.MSKUL_STDENT_MALE_NOPE       +   B1.MSKUL_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   B1.HGSCHL_STDENT_MALE_NOPE      +   B1.HGSCHL_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   B1.UNIVA_STDENT_MALE_NOPE       +   B1.UNIVA_OSCHL_MALE_NOPE
            +   B1.AGRDHS_IOCPTN_MALE_NOPE      +   B1.AGRDHS_EMPYMN_MALE_NOPE
            +   B1.PARNTS_PRTCR_MALE_NOPE       +   B1.LEADER_MALE_NOPE         +   B1.PEPL_MALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS DSCSN_REAL_NMPR_M     /*상담 실인원-남*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                B1.ELESCH_STDENT_FEMALE_NOPE    +   B1.ELESCH_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   B1.MSKUL_STDENT_FEMALE_NOPE     +   B1.MSKUL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   B1.HGSCHL_STDENT_FEMALE_NOPE    +   B1.HGSCHL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   B1.UNIVA_STDENT_FEMALE_NOPE     +   B1.UNIVA_OSCHL_FEMALE_NOPE
            +   B1.AGRDHS_IOCPTN_FEMALE_NOPE    +   B1.AGRDHS_EMPYMN_FEMALE_NOPE
            +   B1.PARNTS_PRTCR_FEMALE_NOPE     +   B1.LEADER_FEMALE_NOPE       +   B1.PEPL_FEMALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS DSCSN_REAL_NMPR_F     /*상담 실인원-여*/
        ,   0 AS DSCSN_REAL_NMPR_X     /*상담 실인원-미확인*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                B1.ELESCH_STDENT_MALE_NOPE      +   B1.ELESCH_OSCHL_MALE_NOPE
            +   B1.ELESCH_STDENT_FEMALE_NOPE    +   B1.ELESCH_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   B1.MSKUL_STDENT_MALE_NOPE       +   B1.MSKUL_OSCHL_MALE_NOPE
            +   B1.MSKUL_STDENT_FEMALE_NOPE     +   B1.MSKUL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   B1.HGSCHL_STDENT_MALE_NOPE      +   B1.HGSCHL_OSCHL_MALE_NOPE
            +   B1.HGSCHL_STDENT_FEMALE_NOPE    +   B1.HGSCHL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   B1.UNIVA_STDENT_MALE_NOPE       +   B1.UNIVA_OSCHL_MALE_NOPE
            +   B1.UNIVA_STDENT_FEMALE_NOPE     +   B1.UNIVA_OSCHL_FEMALE_NOPE
            +   B1.AGRDHS_IOCPTN_MALE_NOPE      +   B1.AGRDHS_EMPYMN_MALE_NOPE
            +   B1.AGRDHS_IOCPTN_FEMALE_NOPE    +   B1.AGRDHS_EMPYMN_FEMALE_NOPE
            +   B1.PARNTS_PRTCR_MALE_NOPE       +   B1.LEADER_MALE_NOPE         +   B1.PEPL_MALE_NOPE
            +   B1.PARNTS_PRTCR_FEMALE_NOPE     +   B1.LEADER_FEMALE_NOPE       +   B1.PEPL_FEMALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS DSCSN_REAL_NMPR_T        /*상담 실인원-계*/
        FROM SED100 B1
        JOIN SAA000 B2
            ON  B2.INST_NO  =   B1.PIC_INST_NO
        WHERE   1=1
            AND B1.SRVC_RESRCE_MLSFC_SE_CD = '0102'
            AND B1.SPRT_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
            AND (
                SELECT ADDTNG_MNG_VALUE1 FROM SAC100
                WHERE   CMMNS_CD_ID     = 'INTNET_SMRTP_STATS_SE_CD'
                    AND CMMNS_CD_VALUE  = '01'
                ) IN (
                SELECT SRVC_BIZ_NO FROM SDA420
                WHERE SRVC_EXCN_BIZ_NO IN (
                    SELECT SRVC_EXCN_BIZ_NO FROM SED110
                    WHERE   UNREGI_CASE_NO  = B1.UNREGI_CASE_NO
                        AND DEL_YN          = 'N'
                    )
                )
    ]]>
    <if test="SGG_CD != NULL and SGG_CD != ''">
            AND B2.SGG_CD = #{SGG_CD}
    </if>
    <if test="CTPV_CD != NULL and CTPV_CD != ''">
            AND SUBSTR(B2.SGG_CD,1,2) = #{CTPV_CD}
    </if>

    <!-- 20230727 이승재 - 권한추가 -->
    AND B2.INST_NO IN
    <foreach collection="INST_NOS" item="item" open="("
        separator="," close=")">
        #{item}
    </foreach>
    <!-- 20230727 이승재 - 권한추가 종료 -->

    <if test="INST_NO != NULL and INST_NO != ''">
            AND B2.INST_NO = #{INST_NO}
    </if>
    <if test="GRADE != NULL and GRADE != '' or TRPR_SE != NULL and TRPR_SE != '' or RELM_SE != NULL and RELM_SE != '' or LEVEL_SE != NULL and LEVEL_SE != ''">
            AND 1=2
    </if>
    <![CDATA[
        ) B
        ON  B.LINK_TYPE_SE_CD   =   A.LINK_TYPE_SE_CD
    LEFT JOIN (
        SELECT
            C1.LINK_TYPE_SE_CD AS LINK_TYPE_SE_CD        /*연계구분코드*/
    ]]>
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '01' AND C1.SXDC_SE_CD = 'M' THEN C1.TRPR_INFO_NO END) AS DETAIL_INSP_M        /*정밀검사-남*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '01' AND C1.SXDC_SE_CD = 'F' THEN C1.TRPR_INFO_NO END) AS DETAIL_INSP_F        /*정밀검사-여*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '01' AND C1.SXDC_SE_CD = 'X' THEN C1.TRPR_INFO_NO END) AS DETAIL_INSP_x        /*정밀검사-미확인*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '01' THEN C1.TRPR_INFO_NO END) AS DETAIL_INSP_T        /*정밀검사-계*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '02' AND C1.SXDC_SE_CD = 'M' THEN C1.TRPR_INFO_NO END) AS HSPTL_MDLRT_M        /*병원치료-남*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '02' AND C1.SXDC_SE_CD = 'F' THEN C1.TRPR_INFO_NO END) AS HSPTL_MDLRT_F        /*병원치료-여*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '02' AND C1.SXDC_SE_CD = 'X' THEN C1.TRPR_INFO_NO END) AS HSPTL_MDLRT_X        /*병원치료-미확인*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '02' THEN C1.TRPR_INFO_NO END) AS HSPTL_MDLRT_T        /*병원치료-계*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '03' AND C1.SXDC_SE_CD = 'M' THEN C1.TRPR_INFO_NO END) AS ETC_TRL_MDLRT_M      /*기타심리치료-남*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '03' AND C1.SXDC_SE_CD = 'F' THEN C1.TRPR_INFO_NO END) AS ETC_TRL_MDLRT_F      /*기타심리치료-여*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '03' AND C1.SXDC_SE_CD = 'X' THEN C1.TRPR_INFO_NO END) AS ETC_TRL_MDLRT_X      /*기타심리치료-미확인*/
        ,   COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN C2.SPRT_MTHD_SE_CD = '03' THEN C1.TRPR_INFO_NO END) AS ETC_TRL_MDLRT_T      /*기타심리치료-계*/
    <![CDATA[
        ,   COUNT(DISTINCT CASE WHEN C1.SXDC_SE_CD = 'M' THEN C1.TRPR_INFO_NO END) AS MDLRT_REAL_NMPR_M     /*치료 실인원-남*/
        ,   COUNT(DISTINCT CASE WHEN C1.SXDC_SE_CD = 'F' THEN C1.TRPR_INFO_NO END) AS MDLRT_REAL_NMPR_F     /*치료 실인원-여*/
        ,   COUNT(DISTINCT CASE WHEN C1.SXDC_SE_CD = 'X' THEN C1.TRPR_INFO_NO END) AS MDLRT_REAL_NMPR_X     /*치료 실인원-미확인*/
        ,   COUNT(DISTINCT C1.TRPR_INFO_NO) AS MDLRT_REAL_NMPR_T        /*치료 실인원-계*/
        FROM TMP000 C1
        JOIN ACA220 C2
            ON  C2.CASE_MNG_NO      =   C1.CASE_MNG_NO
            AND C2.CASE_MNG_ODRNO   =   C1.CASE_MNG_ODRNO
        GROUP BY C1.LINK_TYPE_SE_CD
        ) C
        ON  C.LINK_TYPE_SE_CD   =   A.LINK_TYPE_SE_CD
    LEFT JOIN (
        SELECT
            D1.LINK_TYPE_SE_CD AS LINK_TYPE_SE_CD        /*연계구분코드*/
        ,   COUNT(DISTINCT CASE WHEN D1.ADDTNG_TRL_INSP_ENFORC_YN = 'Y' AND D1.SXDC_SE_CD = 'M' THEN D1.TRPR_INFO_NO END) AS ADDTNG_TRL_INSP_NMPR_M     /*추가심리검사 인원-남*/
        ,   COUNT(DISTINCT CASE WHEN D1.ADDTNG_TRL_INSP_ENFORC_YN = 'Y' AND D1.SXDC_SE_CD = 'F' THEN D1.TRPR_INFO_NO END) AS ADDTNG_TRL_INSP_NMPR_F     /*추가심리검사 인원-여*/
        ,   COUNT(DISTINCT CASE WHEN D1.ADDTNG_TRL_INSP_ENFORC_YN = 'Y' AND D1.SXDC_SE_CD = 'X' THEN D1.TRPR_INFO_NO END) AS ADDTNG_TRL_INSP_NMPR_X     /*추가심리검사 인원-미확인*/
        ,   COUNT(DISTINCT CASE WHEN D1.ADDTNG_TRL_INSP_ENFORC_YN = 'Y' THEN D1.TRPR_INFO_NO END) AS ADDTNG_TRL_INSP_NMPR_T     /*추가심리검사 인원-계*/
        ,   COUNT(DISTINCT CASE WHEN D1.SXDC_SE_CD = 'M' THEN NVL(CONCAT(D2.CASE_MNG_NO,D2.CASE_MNG_ODRNO),CONCAT(D3.CASE_MNG_NO,D3.CASE_MNG_ODRNO)) END) AS DSCSN_MDLRT_REAL_NMPR_M        /*상담치료 실인원-남*/
        ,   COUNT(DISTINCT CASE WHEN D1.SXDC_SE_CD = 'F' THEN NVL(CONCAT(D2.CASE_MNG_NO,D2.CASE_MNG_ODRNO),CONCAT(D3.CASE_MNG_NO,D3.CASE_MNG_ODRNO)) END) AS DSCSN_MDLRT_REAL_NMPR_F        /*상담치료 실인원-여*/
        ,   COUNT(DISTINCT CASE WHEN D1.SXDC_SE_CD = 'X' THEN NVL(CONCAT(D2.CASE_MNG_NO,D2.CASE_MNG_ODRNO),CONCAT(D3.CASE_MNG_NO,D3.CASE_MNG_ODRNO)) END) AS DSCSN_MDLRT_REAL_NMPR_X        /*상담치료 실인원-미확인*/
        ,   COUNT(DISTINCT NVL(CONCAT(D2.CASE_MNG_NO,D2.CASE_MNG_ODRNO),CONCAT(D3.CASE_MNG_NO,D3.CASE_MNG_ODRNO))) AS DSCSN_MDLRT_REAL_NMPR_T       /*상담치료 실인원-계*/
        FROM TMP000 D1
        LEFT JOIN (
            SELECT
                D2B.CASE_MNG_NO
            ,   D2B.CASE_MNG_ODRNO
            ,   D2C.SRVC_RESRCE_MLSFC_SE_CD
            FROM SEB500 D2A
            JOIN SEB510 D2B
                ON  D2B.SRVC_PVSN_NO    =   D2A.SRVC_PVSN_NO
                AND D2B.RESRCE_NO       =   D2A.RESRCE_NO
                AND D2B.DEL_YN          =   'N'
            JOIN SDA100 D2C
                ON  D2C.RESRCE_NO       =   D2B.RESRCE_NO
            WHERE   1=1
                AND D2A.DEL_YN                  =   'N'
                AND D2C.SRVC_RESRCE_MLSFC_SE_CD IN  ('0101','0102')
            ) D2
            ON  D2.CASE_MNG_NO      =   D1.CASE_MNG_NO
            AND D2.CASE_MNG_ODRNO   =   D1.CASE_MNG_ODRNO
        LEFT JOIN ACA220 D3
            ON  D3.CASE_MNG_NO      =   D1.CASE_MNG_NO
            AND D3.CASE_MNG_ODRNO   =   D1.CASE_MNG_ODRNO
        GROUP BY D1.LINK_TYPE_SE_CD
        UNION
        SELECT
            '11' AS LINK_TYPE_SE_CD        /*연계구분코드*/
        ,   0 AS ADDTNG_TRL_INSP_NMPR_M     /*추가심리검사 인원-남*/
        ,   0 AS ADDTNG_TRL_INSP_NMPR_F     /*추가심리검사 인원-여*/
        ,   0 AS ADDTNG_TRL_INSP_NMPR_X     /*추가심리검사 인원-미확인*/
        ,   0 AS ADDTNG_TRL_INSP_NMPR_T     /*추가심리검사 인원-계*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                D1.ELESCH_STDENT_MALE_NOPE      +   D1.ELESCH_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   D1.MSKUL_STDENT_MALE_NOPE       +   D1.MSKUL_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   D1.HGSCHL_STDENT_MALE_NOPE      +   D1.HGSCHL_OSCHL_MALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   D1.UNIVA_STDENT_MALE_NOPE       +   D1.UNIVA_OSCHL_MALE_NOPE
            +   D1.AGRDHS_IOCPTN_MALE_NOPE      +   D1.AGRDHS_EMPYMN_MALE_NOPE
            +   D1.PARNTS_PRTCR_MALE_NOPE       +   D1.LEADER_MALE_NOPE         +   D1.PEPL_MALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS DSCSN_MDLRT_REAL_NMPR_M        /*상담치료 실인원-남*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                D1.ELESCH_STDENT_FEMALE_NOPE    +   D1.ELESCH_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   D1.MSKUL_STDENT_FEMALE_NOPE     +   D1.MSKUL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   D1.HGSCHL_STDENT_FEMALE_NOPE    +   D1.HGSCHL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   D1.UNIVA_STDENT_FEMALE_NOPE     +   D1.UNIVA_OSCHL_FEMALE_NOPE
            +   D1.AGRDHS_IOCPTN_FEMALE_NOPE    +   D1.AGRDHS_EMPYMN_FEMALE_NOPE
            +   D1.PARNTS_PRTCR_FEMALE_NOPE     +   D1.LEADER_FEMALE_NOPE       +   D1.PEPL_FEMALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS DSCSN_MDLRT_REAL_NMPR_F        /*상담치료 실인원-여*/
        ,   0 AS DSCSN_MDLRT_REAL_NMPR_X        /*상담치료 실인원-미확인*/
        ,   NVL(SUM(
    ]]>
    <trim prefixOverrides="+">
    <if test='ACBG == "1" or ACBG == NULL or ACBG == ""'>
                D1.ELESCH_STDENT_MALE_NOPE      +   D1.ELESCH_OSCHL_MALE_NOPE
            +   D1.ELESCH_STDENT_FEMALE_NOPE    +   D1.ELESCH_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "2" or ACBG == NULL or ACBG == ""'>
            +   D1.MSKUL_STDENT_MALE_NOPE       +   D1.MSKUL_OSCHL_MALE_NOPE
            +   D1.MSKUL_STDENT_FEMALE_NOPE     +   D1.MSKUL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "3" or ACBG == NULL or ACBG == ""'>
            +   D1.HGSCHL_STDENT_MALE_NOPE      +   D1.HGSCHL_OSCHL_MALE_NOPE
            +   D1.HGSCHL_STDENT_FEMALE_NOPE    +   D1.HGSCHL_OSCHL_FEMALE_NOPE
    </if>
    <if test='ACBG == "0" or ACBG == NULL or ACBG == ""'>
            +   D1.UNIVA_STDENT_MALE_NOPE       +   D1.UNIVA_OSCHL_MALE_NOPE
            +   D1.UNIVA_STDENT_FEMALE_NOPE     +   D1.UNIVA_OSCHL_FEMALE_NOPE
            +   D1.AGRDHS_IOCPTN_MALE_NOPE      +   D1.AGRDHS_EMPYMN_MALE_NOPE
            +   D1.AGRDHS_IOCPTN_FEMALE_NOPE    +   D1.AGRDHS_EMPYMN_FEMALE_NOPE
            +   D1.PARNTS_PRTCR_MALE_NOPE       +   D1.LEADER_MALE_NOPE         +   D1.PEPL_MALE_NOPE
            +   D1.PARNTS_PRTCR_FEMALE_NOPE     +   D1.LEADER_FEMALE_NOPE       +   D1.PEPL_FEMALE_NOPE
    </if>
    </trim>
    <![CDATA[
            ),0) AS DSCSN_MDLRT_REAL_NMPR_T       /*상담치료 실인원-계*/
        FROM SED100 D1
        JOIN SAA000 D2
            ON  D2.INST_NO  =   D1.PIC_INST_NO
        WHERE   1=1
            AND D1.SRVC_RESRCE_MLSFC_SE_CD = '0102'
            AND D1.SPRT_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
            AND (
                SELECT ADDTNG_MNG_VALUE1 FROM SAC100
                WHERE   CMMNS_CD_ID     = 'INTNET_SMRTP_STATS_SE_CD'
                    AND CMMNS_CD_VALUE  = '01'
                ) IN (
                SELECT SRVC_BIZ_NO FROM SDA420
                WHERE SRVC_EXCN_BIZ_NO IN (
                    SELECT SRVC_EXCN_BIZ_NO FROM SED110
                    WHERE   UNREGI_CASE_NO  = D1.UNREGI_CASE_NO
                        AND DEL_YN          = 'N'
                    )
                )
    ]]>
    <if test="SGG_CD != NULL and SGG_CD != ''">
            AND D2.SGG_CD = #{SGG_CD}
    </if>
    <if test="CTPV_CD != NULL and CTPV_CD != ''">
            AND SUBSTR(D2.SGG_CD,1,2) = #{CTPV_CD}
    </if>

    <!-- 20230727 이승재 - 권한추가 -->
    AND D2.INST_NO IN
    <foreach collection="INST_NOS" item="item" open="("
        separator="," close=")">
        #{item}
    </foreach>
    <!-- 20230727 이승재 - 권한추가 종료 -->

    <if test="INST_NO != NULL and INST_NO != ''">
            AND D2.INST_NO = #{INST_NO}
    </if>
    <if test="GRADE != NULL and GRADE != '' or TRPR_SE != NULL and TRPR_SE != '' or RELM_SE != NULL and RELM_SE != '' or LEVEL_SE != NULL and LEVEL_SE != ''">
            AND 1=2
    </if>
    <![CDATA[
        ) D
        ON  D.LINK_TYPE_SE_CD   =   A.LINK_TYPE_SE_CD
    GROUP BY ROLLUP(A.LINK_TYPE_SE_CD)
    ORDER BY A.LINK_TYPE_SE_CD
    ]]>
    </select>

    <!-- 20230727 이승재 - 권한추가 -->
    <sql id="cysnsBasicGropuAuthrt">
        AND G3.INST_NO IN
        <foreach collection="INST_NOS" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
        <if test=" GROUP_AUTHRT_SE_CD.SUBSTR(1,3) eq '40'.toString() ">
            /*종사자*/
            AND G2.CASE_PIC_NO = #{ENFSN_NO}
        </if>

    </sql>


</mapper>