<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="isry.cysns.stats.linkCaseMng.mapper.LinkCaseMngMapper">

    <select id="selectLinkCaseMngList" parameterType="HashMap" resultType="HashMap">
    <![CDATA[
    /* selectLinkCaseMngList(연계및사례관리) - LeeHyeSun */
    SELECT
	    NVL(LINK_TYPE, '합계') AS LINK_TYPE
	    ,  SUM(LINK_MCOUNT)    AS LINK_MCOUNT
	    ,  SUM(LINK_FCOUNT)    AS LINK_FCOUNT
	    ,  SUM(LINK_XCOUNT)    AS LINK_XCOUNT
	    ,  SUM(LINK_COUNT)     AS LINK_COUNT
	    ,  SUM(RCPT_MCOUNT)    AS RCPT_MCOUNT
	    ,  SUM(RCPT_FCOUNT)    AS RCPT_FCOUNT
	    ,  SUM(RCPT_XCOUNT)    AS RCPT_XCOUNT
	    ,  SUM(RCPT_COUNT)     AS RCPT_COUNT
	    ,  SUM(CASE_MCOUNT)    AS CASE_MCOUNT
	    ,  SUM(CASE_FCOUNT)    AS CASE_FCOUNT
	    ,  SUM(CASE_XCOUNT)    AS CASE_XCOUNT
	    ,  SUM(CASE_COUNT)     AS CASE_COUNT
	    ,  SUM(AFTFCT_MCOUNT)  AS AFTFCT_MCOUNT
	    ,  SUM(AFTFCT_FCOUNT)  AS AFTFCT_FCOUNT
	    ,  SUM(AFTFCT_XCOUNT)  AS AFTFCT_XCOUNT
	    ,  SUM(AFTFCT_COUNT)   AS AFTFCT_COUNT
	    ,  SUM(TRMN_MCOUNT)    AS TRMN_MCOUNT
	    ,  SUM(TRMN_FCOUNT)    AS TRMN_FCOUNT
	    ,  SUM(TRMN_XCOUNT)    AS TRMN_XCOUNT
	    ,  SUM(TRMN_COUNT)     AS TRMN_COUNT
	FROM (
        SELECT  
			CASE WHEN A.SCN_CD = '07' THEN '학교 진단'
		        WHEN A.SCN_CD = '08' THEN '유관기관 진단'
		        WHEN A.SCN_CD = '09' THEN '센터 진단'
		        WHEN A.SCN_CD = '10' THEN '미연계(직접등록)'
			END AS LINK_TYPE
			, NVL(B.LINK_MCOUNT, 0) AS LINK_MCOUNT      /*연계 - 남*/
			, NVL(B.LINK_FCOUNT, 0) AS LINK_FCOUNT      /*연계 - 여*/
			, NVL(B.LINK_XCOUNT, 0) AS LINK_XCOUNT      /*연계 - 미확인*/
			, NVL(B.LINK_COUNT, 0) AS LINK_COUNT        /*연계 - 계*/
			, NVL(B.RCPT_MCOUNT, 0) AS RCPT_MCOUNT      /*접수승인 - 남*/
			, NVL(B.RCPT_FCOUNT, 0) AS RCPT_FCOUNT      /*접수승인 - 여*/
			, NVL(B.RCPT_XCOUNT, 0) AS RCPT_XCOUNT      /*접수승인 - 미확인*/
			, NVL(B.RCPT_COUNT, 0) AS RCPT_COUNT        /*접수승인 - 계*/
			, NVL(C.CASE_MCOUNT, 0) AS CASE_MCOUNT      /*사례지원중 - 남*/
			, NVL(C.CASE_FCOUNT, 0) AS CASE_FCOUNT      /*사례지원중 - 여*/
			, NVL(C.CASE_XCOUNT, 0) AS CASE_XCOUNT      /*사례지원중 - 미확인*/
			, NVL(C.CASE_COUNT, 0) AS CASE_COUNT        /*사례지원중 - 계*/
			, NVL(C.AFTFCT_MCOUNT, 0) AS AFTFCT_MCOUNT  /*사후관리중 - 남*/
			, NVL(C.AFTFCT_FCOUNT, 0) AS AFTFCT_FCOUNT  /*사후관리중 - 여*/
			, NVL(C.AFTFCT_XCOUNT, 0) AS AFTFCT_XCOUNT  /*사후관리중 - 미확인*/
			, NVL(C.AFTFCT_COUNT, 0) AS AFTFCT_COUNT    /*사후관리중 - 계*/
			, NVL(C.TRMN_MCOUNT, 0) AS TRMN_MCOUNT      /*사례종결 - 남*/
			, NVL(C.TRMN_FCOUNT, 0) AS TRMN_FCOUNT      /*사례종결 - 여*/
			, NVL(C.TRMN_XCOUNT, 0) AS TRMN_XCOUNT      /*사례종결 - 미확인*/
			, NVL(C.TRMN_COUNT, 0) AS TRMN_COUNT        /*사례종결 - 계*/
        FROM (
	        SELECT
	              CMMNS_CD_VALUE AS SCN_CD
	        FROM SAC100
	        WHERE CMMNS_CD_ID = 'LINK_TYPE_SE_CD'
	        AND CMMNS_CD_VALUE IN ('07', '08', '09', '10')
	    ) A
	    /* 1. 연계인원, 접수승인인원*/
	    LEFT JOIN (
	        /* 1-1. 학교진단조사*/
	        SELECT 
	              B.LINK_TYPE_SE_CD
                ]]>
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS LINK_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS LINK_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS LINK_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>A.RQST_TRPR_INFO_NO) AS LINK_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_COUNT
	           <![CDATA[    
	        FROM SEB400 A
	        JOIN SEB420 B
	        ON A.SRVC_PVSN_RQST_NO = B.SRVC_PVSN_RQST_NO
	        AND B.RCPT_SN = (CASE WHEN B.RCPT_SE_CD = '40' THEN 
	                                (SELECT MAX(RCPT_SN) FROM SEB420 
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO 
	                                AND RCPT_UNT_TASKWK_SE_CD = 'U02')
	                            ELSE (
	                                (SELECT MAX(RCPT_SN) FROM SEB420
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO))
	                            END)
	        LEFT JOIN ACA210 C   /*학교진단조사*/
	        ON B.RCPT_TRPR_INFO_NO = C.TRPR_INFO_NO
	        LEFT JOIN SEA200 E  /*대상자정보번호*/
	        ON B.RCPT_TRPR_INFO_NO = E.TRPR_INFO_NO
	        LEFT JOIN SAA000 T1 /*기관*/
	        ON T1.INST_NO = A.RCPT_INST_NO
	        AND T1.INST_NO = A.RQST_INST_NO
	        
	        WHERE 1=1
	        AND A.LINK_TYPE_SE_CD = '07'
	        AND A.RQST_YMD BETWEEN #{SRT_DT} AND #{END_DT}
	        AND (B.RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD} OR B.RRQST_RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD})
	        ]]>
	        /* 권한 쿼리 최종변경사항 수정_권한쿼리시작*/
                <include refid="GroupAuthrtMapper.cnterPreconGropuAuthrt"/>  
            /* 권한 쿼리 최종변경사항 수정_권한쿼리시작*/
	        
	        <if test="CTPV_CD != NULL and CTPV_CD != ''">
	           AND T1.CTPV_CD = #{CTPV_CD}
	        </if>
	        <if test="SGG_CD != NULL and SGG_CD != ''">
	           AND T1.SGG_CD = #{SGG_CD}
	        </if>
	        <if test="INST_NO != NULL and INST_NO != ''">
	            AND T1.INST_NO = #{INST_NO}
	        </if>
	        <if test="ACBG != NULL and ACBG != ''">
	            AND C.MEDIAA_SCHL_SE_CD = #{ACBG}
	        </if>
	        <if test="GRADE != NULL and GRADE != ''">
	            AND C.GRADE_SE_CD = #{GRADE}
	        </if>
	        
	        <choose>
	            <when test='RELM_SE == NULL or RELM_SE == ""'>
	                <if test='LEVEL_SE != NULL and LEVEL_SE !=""'>
	                    <if test='LEVEL_SE_SRCH_CND == "AND"'>
					        AND ( <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.INTNET_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
					        AND <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.SMRTP_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
					        AND <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.GAMBLE_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
					        )
	                    </if>
	                    <if test='LEVEL_SE_SRCH_CND == "OR"'>
	                        AND ( <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.INTNET_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
	                        OR <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.SMRTP_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
	                        OR <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.GAMBLE_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
	                        )
	                    </if>
	                </if>
	            </when>
		        <otherwise>
                    <if test='RELM_SE_SRCH_CND == "OR"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="OR" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                C.INTNET_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "2"'>
	                            C.SMRTP_SRVY_RESULT_CN
	                        </if>
	                        <if test='RELM == "6"'>
	                            C.GAMBLE_SRVY_RESULT_CN
	                        </if>
	                        <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise>
                                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                                </otherwise>
                            </choose>
                       </foreach>
		           </if>
		           <if test='RELM_SE_SRCH_CND == "AND"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="AND" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                C.INTNET_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "2"'>
                                C.SMRTP_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "6"'>
                                C.GAMBLE_SRVY_RESULT_CN
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise>
                                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                                </otherwise>
                            </choose>
		              </foreach>
		           </if>
		        </otherwise>
	        </choose>
	        <![CDATA[
	        GROUP BY B.LINK_TYPE_SE_CD
	        
	        UNION ALL
	        
	        /* 1-2. 기관진단조사 (유관기관, 센터)*/
	        SELECT
	              B.LINK_TYPE_SE_CD
	              ]]>
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS LINK_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS LINK_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS LINK_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>A.RQST_TRPR_INFO_NO) AS LINK_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN B.RCPT_SE_CD = '21' THEN B.RCPT_TRPR_INFO_NO END) AS RCPT_COUNT
	            <![CDATA[
	        FROM SEB400 A   /*서비스제공의뢰*/
	        LEFT JOIN SEB420 B  /*서비스제공접수*/
	        ON A.SRVC_PVSN_RQST_NO = B.SRVC_PVSN_RQST_NO
	        AND B.RCPT_SN = (CASE WHEN B.RCPT_SE_CD = '40' THEN 
	                                (SELECT MAX(RCPT_SN) FROM SEB420 
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO 
	                                AND RCPT_UNT_TASKWK_SE_CD = 'U02')
	                            ELSE (
	                                (SELECT MAX(RCPT_SN) FROM SEB420
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO))
	                            END)
	        LEFT JOIN ACA400 C  /*기관진단조사*/
	        ON B.RCPT_TRPR_INFO_NO = C.TRPR_INFO_NO
	        LEFT JOIN SEA200 E  /*대상자정보번호*/
	        ON B.RCPT_TRPR_INFO_NO = E.TRPR_INFO_NO
	        LEFT JOIN SAA000 T1 /*기관*/
	        ON T1.INST_NO = A.RCPT_INST_NO
	        AND T1.INST_NO = A.RQST_INST_NO
	        
	        WHERE 1=1
            AND A.LINK_TYPE_SE_CD IN ('08', '09')
            AND A.RQST_YMD BETWEEN #{SRT_DT} AND #{END_DT}
            AND (B.RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD} OR B.RRQST_RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD})
	        ]]>
	        /* 권한 쿼리 최종변경사항 수정_권한쿼리시작*/
                <include refid="GroupAuthrtMapper.cnterPreconGropuAuthrt"/>  
            /* 권한 쿼리 최종변경사항 수정_권한쿼리시작*/
            
            <if test="CTPV_CD != NULL and CTPV_CD != ''">
               AND T1.CTPV_CD = #{CTPV_CD}
            </if>
            <if test="SGG_CD != NULL and SGG_CD != ''">
               AND T1.SGG_CD = #{SGG_CD}
            </if>
            <if test="INST_NO != NULL and INST_NO != ''">
                AND T1.INST_NO = #{INST_NO}
            </if>
            <if test="ACBG != NULL and ACBG != ''">
                AND C.STDNT_AGE_NM = #{ACBG}
            </if>
            <if test="GRADE != NULL and GRADE != ''">
                AND C.GRADE_SE_CD = #{GRADE}
            </if>
            
            <choose>
                <when test='RELM_SE == NULL or RELM_SE == ""'>
                    <if test='LEVEL_SE != NULL and LEVEL_SE !=""'>
                        <if test='LEVEL_SE_SRCH_CND == "AND"'>
                            AND (ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        AND ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        AND ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            )
                        </if>
                        <if test='LEVEL_SE_SRCH_CND == "OR"'>
                            AND (ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            OR ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            OR ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            )
                        </if>
                    </if>
                </when>
                <otherwise>
                    <if test='RELM_SE_SRCH_CND == "OR"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="OR" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1')
                            </if>
                            <if test='RELM == "2"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2')
                            </if>
                            <if test='RELM == "6"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6')
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise>
                                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                                </otherwise>
                            </choose>
                       </foreach>
                   </if>
                   <if test='RELM_SE_SRCH_CND == "AND"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="AND" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1')
                            </if>
                            <if test='RELM == "2"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2')
                            </if>
                            <if test='RELM == "6"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6')
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise><foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach></otherwise>
                            </choose>
                      </foreach>
                   </if>
                </otherwise>
            </choose>
            <![CDATA[
            GROUP BY B.LINK_TYPE_SE_CD
        ) B 
        ON A.SCN_CD = B.LINK_TYPE_SE_CD
        
        /* 2. 사례지원중인원, 사후관리중인원, 사례종결인원*/
        LEFT JOIN (
	        /* 2-1. 학교진단조사*/
	        SELECT  
	              B.LINK_TYPE_SE_CD
	              ]]>
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS CASE_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS CASE_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS CASE_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' THEN A.RQST_TRPR_INFO_NO END) AS CASE_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_COUNT
	            <![CDATA[
	        FROM SEB400 A
	        JOIN SEB420 B
	        ON A.SRVC_PVSN_RQST_NO = B.SRVC_PVSN_RQST_NO
	        AND B.RCPT_SN = (CASE WHEN B.RCPT_SE_CD = '40' THEN 
	                                (SELECT MAX(RCPT_SN) FROM SEB420 
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO 
	                                AND RCPT_UNT_TASKWK_SE_CD = 'U02')
	                            ELSE (
	                                (SELECT MAX(RCPT_SN) FROM SEB420
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO))
	                            END)
	        LEFT JOIN ACA210 C   /*학교진단조사*/
	        ON B.RCPT_TRPR_INFO_NO = C.TRPR_INFO_NO
	        LEFT JOIN ACA200 D  /*미디어과의존대상자*/
	        ON C.DGNSS_EXMN_MNG_NO = D.DGNSS_EXMN_MNG_NO
	        LEFT JOIN SEA200 E  /*대상자정보번호*/
	        ON B.RCPT_TRPR_INFO_NO = E.TRPR_INFO_NO
	        LEFT JOIN SEB100 F  /*사례기본*/
	        ON D.CASE_MNG_NO = F.CASE_MNG_NO
	        AND D.CASE_MNG_ODRNO = F.CASE_MNG_ODRNO
	        LEFT JOIN SEB150 F0 /*사례담당자*/
	        ON F0.PCHPRS_YN = 'Y'
	        AND F0.CASE_MNG_NO = F.CASE_MNG_NO
	        AND F0.CASE_MNG_ODRNO = F.CASE_MNG_ODRNO
	        LEFT JOIN SAA000 F3 /*기관*/
	        ON F3.INST_NO = A.RCPT_INST_NO
	        AND F3.INST_NO = A.RQST_INST_NO
	        
	        WHERE 1=1
            AND A.LINK_TYPE_SE_CD = '07'
            AND A.RQST_YMD BETWEEN #{SRT_DT} AND #{END_DT}
	        AND (B.RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD} OR B.RRQST_RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD})
            ]]>
            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
                <include refid="GroupAuthrtMapper.caseMngBassStatsGropuAuthrt"/>   
            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
            
            <if test="CTPV_CD != NULL and CTPV_CD != ''">
               AND F3.CTPV_CD = #{CTPV_CD}
            </if>
            <if test="SGG_CD != NULL and SGG_CD != ''">
               AND F3.SGG_CD = #{SGG_CD}
            </if>
            <if test="INST_NO != NULL and INST_NO != ''">
                AND F3.INST_NO = #{INST_NO}
            </if>
            <if test="ACBG != NULL and ACBG != ''">
                AND C.MEDIAA_SCHL_SE_CD = #{ACBG}
            </if>
            <if test="GRADE != NULL and GRADE != ''">
                AND C.GRADE_SE_CD = #{GRADE}
            </if>
            <if test="TRPR_SE != NULL and TRPR_SE != ''">
                AND D.TRPR_CHAR_SE_CD = #{TRPR_SE}
            </if>
            
            <choose>
                <when test='RELM_SE == NULL or RELM_SE == ""'>
                    <if test='LEVEL_SE != NULL and LEVEL_SE !=""'>
                        <if test='LEVEL_SE_SRCH_CND == "AND"'>
                            AND ( <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.INTNET_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                            AND <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.SMRTP_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                            AND <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.GAMBLE_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                            )
                        </if>
                        <if test='LEVEL_SE_SRCH_CND == "OR"'>
                            AND ( <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.INTNET_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                            OR <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.SMRTP_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                            OR <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="C.GAMBLE_SRVY_RESULT_CN IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                            )
                        </if>
                    </if>
                </when>
                <otherwise>
                    <if test='RELM_SE_SRCH_CND == "OR"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="OR" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                C.INTNET_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "2"'>
                                C.SMRTP_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "6"'>
                                C.GAMBLE_SRVY_RESULT_CN
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise>
                                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                                </otherwise>
                            </choose>
                       </foreach>
                   </if>
                   <if test='RELM_SE_SRCH_CND == "AND"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="AND" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                C.INTNET_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "2"'>
                                C.SMRTP_SRVY_RESULT_CN
                            </if>
                            <if test='RELM == "6"'>
                                C.GAMBLE_SRVY_RESULT_CN
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise>
                                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">DECODE(#{LEVEL}, '1', '3', '3', '1', '2', '2')</foreach>
                                </otherwise>
                            </choose>
                      </foreach>
                   </if>
                </otherwise>
            </choose>
            <![CDATA[
            GROUP BY B.LINK_TYPE_SE_CD
            
            UNION ALL
            
	        /* 2-2. 기관진단조사 (유관기관, 센터)*/
	        SELECT 
	              B.LINK_TYPE_SE_CD
	              ]]>
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS CASE_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS CASE_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS CASE_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' THEN A.RQST_TRPR_INFO_NO END) AS CASE_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '06' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' THEN A.RQST_TRPR_INFO_NO END) AS AFTFCT_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'M' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'F' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' AND E.SXDC_SE_CD = 'X' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN F.CASE_PRGRS_STTS_SE_CD = '08' AND E.CASE_MNG_SE_CD = '04' AND B.RCPT_SE_CD = '21' THEN A.RQST_TRPR_INFO_NO END) AS TRMN_COUNT
	            <![CDATA[
	        FROM SEB400 A
	        LEFT JOIN SEB420 B
	        ON A.SRVC_PVSN_RQST_NO = B.SRVC_PVSN_RQST_NO
	        AND B.RCPT_SN = (CASE WHEN B.RCPT_SE_CD = '40' THEN 
	                                (SELECT MAX(RCPT_SN) FROM SEB420 
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO 
	                                AND RCPT_UNT_TASKWK_SE_CD = 'U02')
	                            ELSE (
	                                (SELECT MAX(RCPT_SN) FROM SEB420
	                                WHERE SRVC_PVSN_RQST_NO = A.SRVC_PVSN_RQST_NO))
	                            END)
	        LEFT JOIN ACA400 C  /*기관진단조사*/
	        ON B.RCPT_TRPR_INFO_NO = C.TRPR_INFO_NO
	        LEFT JOIN ACA200 D  /*미디어과의존대상자*/
	        ON C.DGNSS_EXMN_MNG_NO = D.DGNSS_EXMN_MNG_NO
	        LEFT JOIN SEA200 E  /*대상자정보번호*/
	        ON B.RCPT_TRPR_INFO_NO = E.TRPR_INFO_NO
	        LEFT JOIN SEB100 F  /*사례기본*/
	        ON D.CASE_MNG_NO = F.CASE_MNG_NO
	        AND D.CASE_MNG_ODRNO = F.CASE_MNG_ODRNO
	        LEFT JOIN SEB150 F0 /*사례담당자*/
	        ON F0.PCHPRS_YN = 'Y'
	        AND F0.CASE_MNG_NO = F.CASE_MNG_NO
	        AND F0.CASE_MNG_ODRNO = F.CASE_MNG_ODRNO
	        LEFT JOIN SAA000 F3 /*기관*/
	        ON F3.INST_NO = A.RCPT_INST_NO
	        AND F3.INST_NO = A.RQST_INST_NO
	        
	        WHERE 1=1
            AND A.LINK_TYPE_SE_CD IN ('08', '09')
            AND A.RQST_YMD BETWEEN #{SRT_DT} AND #{END_DT}
            AND (B.RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD} OR B.RRQST_RCPT_UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD})
            ]]>
            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
                <include refid="GroupAuthrtMapper.caseMngBassStatsGropuAuthrt"/>   
            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
            
            <if test="CTPV_CD != NULL and CTPV_CD != ''">
               AND F3.CTPV_CD = #{CTPV_CD}
            </if>
            <if test="SGG_CD != NULL and SGG_CD != ''">
               AND F3.SGG_CD = #{SGG_CD}
            </if>
            <if test="INST_NO != NULL and INST_NO != ''">
                AND F3.INST_NO = #{INST_NO}
            </if>
            <if test="ACBG != NULL and ACBG != ''">
                AND C.STDNT_AGE_NM = #{ACBG}
            </if>
            <if test="GRADE != NULL and GRADE != ''">
                AND C.GRADE_SE_CD = #{GRADE}
            </if>
            <if test="TRPR_SE != NULL and TRPR_SE != ''">
                AND D.TRPR_CHAR_SE_CD = #{TRPR_SE}
            </if>
            
            <choose>
                <when test='RELM_SE == NULL or RELM_SE == ""'>
                    <if test='LEVEL_SE != NULL and LEVEL_SE !=""'>
                        <if test='LEVEL_SE_SRCH_CND == "AND"'>
                            AND (ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            AND ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            AND ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            )
                        </if>
                        <if test='LEVEL_SE_SRCH_CND == "OR"'>
                            AND (ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            OR ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            OR ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6') <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                            )
                        </if>
                    </if>
                </when>
                <otherwise>
                    <if test='RELM_SE_SRCH_CND == "OR"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="OR" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1')
                            </if>
                            <if test='RELM == "2"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2')
                            </if>
                            <if test='RELM == "6"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6')
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise>
                                    <foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
                                </otherwise>
                            </choose>
                       </foreach>
                   </if>
                   <if test='RELM_SE_SRCH_CND == "AND"'>
                        <foreach collection="ARR_RELM_SE" item="RELM" separator="AND" open="AND (" close=")">
                            <if test='RELM == "1"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '1')
                            </if>
                            <if test='RELM == "2"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '2')
                            </if>
                            <if test='RELM == "6"'>
                                ISRY_APP.FN_GET_DGNSS_RESULT(C.DGNSS_EXMN_MNG_NO, '6')
                            </if>
                            <choose>
                                <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
                                <otherwise><foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach></otherwise>
                            </choose>
                      </foreach>
                   </if>
                </otherwise>
            </choose>
            <![CDATA[
            GROUP BY B.LINK_TYPE_SE_CD
            
            UNION ALL 
        
	        /* 2-3. 미연계(직접등록)*/
	        SELECT 
	              LINK_TYPE_SE_CD
	              ]]>
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD IN ('01', '02', '03', '12') AND SXDC_SE_CD = 'M' THEN 1 END) AS CASE_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD IN ('01', '02', '03', '12') AND SXDC_SE_CD = 'F' THEN 1 END) AS CASE_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD IN ('01', '02', '03', '12') AND SXDC_SE_CD = 'X' THEN 1 END) AS CASE_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD IN ('01', '02', '03', '12') THEN 1 END) AS CASE_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '06' AND SXDC_SE_CD = 'M' THEN 1 END) AS AFTFCT_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '06' AND SXDC_SE_CD = 'F' THEN 1 END) AS AFTFCT_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '06' AND SXDC_SE_CD = 'X' THEN 1 END) AS AFTFCT_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '06' THEN 1 END) AS AFTFCT_COUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '08' AND SXDC_SE_CD = 'M' THEN 1 END) AS TRMN_MCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '08' AND SXDC_SE_CD = 'F' THEN 1 END) AS TRMN_FCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '08' AND SXDC_SE_CD = 'X' THEN 1 END) AS TRMN_XCOUNT
	            , COUNT(<if test='NMPR_SE == "1"'>DISTINCT</if>CASE WHEN CASE_PRGRS_STTS_SE_CD = '08' THEN 1 END) AS TRMN_COUNT
	            <![CDATA[
	        FROM (
                SELECT 
	                  A.LINK_TYPE_SE_CD
	                , C.CASE_PRGRS_STTS_SE_CD
	                , C.CASE_BGNG_YMD
	                , B.SXDC_SE_CD
	                , D.ACBG_SE_CD
	                , D.GRADE_SE_CD
	                , F3.CTPV_CD
	                , F3.SGG_CD
	                , F3.INST_NO
	                , A.TRPR_CHAR_SE_CD
	                , ROW_NUMBER() OVER(PARTITION BY B.TRPR_INFO_NO ORDER BY E.SRTNG_SQNCE DESC, D.GRADE_SE_CD DESC) ROW_NO
	                , ISRY_APP.FN_GET_DGNSS_RESULT(A.DGNSS_EXMN_MNG_NO, '1') AS DGNSS1--인터넷
	                , ISRY_APP.FN_GET_DGNSS_RESULT(A.DGNSS_EXMN_MNG_NO, '2') AS DGNSS2--스마트폰
	                , ISRY_APP.FN_GET_DGNSS_RESULT(A.DGNSS_EXMN_MNG_NO, '6') AS DGNSS6--도박
	            FROM ACA200 A
	            LEFT JOIN SEA200 B
	            ON A.TRPR_INFO_NO = B.TRPR_INFO_NO
	            LEFT JOIN SEB100 C
	            ON A.CASE_MNG_NO = C.CASE_MNG_NO
	            AND A.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO
	            LEFT JOIN SEA230 D
	            ON B.TRPR_INFO_NO = D.TRPR_INFO_NO
	            LEFT JOIN SAC100 E
	            ON E.CMMNS_CD_ID = 'ACBG_SE_CD' 
	            AND E.CMMNS_CD_VALUE = D.ACBG_SE_CD
	            LEFT JOIN SEB150 F
	            ON F.CASE_MNG_NO = C.CASE_MNG_NO
	            AND F.CASE_MNG_ODRNO = C.CASE_MNG_ODRNO
	            LEFT JOIN SEB150 F0 /*사례담당자*/
	            ON F0.PCHPRS_YN = 'Y'
	            AND F0.CASE_MNG_NO = F.CASE_MNG_NO
	            AND F0.CASE_MNG_ODRNO = F.CASE_MNG_ODRNO
	            LEFT JOIN SAA000 F3 /*기관*/
	            ON F3.INST_NO = F.PIC_INST_NO
	            
                WHERE 1=1
	            AND A.LINK_TYPE_SE_CD = ('10')
	            AND C.UNT_TASKWK_SE_CD = #{UNT_TASKWK_SE_CD}
	            ]]>
	            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리시작*/
	                <include refid="GroupAuthrtMapper.caseMngBassStatsGropuAuthrt"/>   
	            /* 20230220_강화영_권한 쿼리 최종변경사항 수정_권한쿼리종료*/
                <![CDATA[
                )
            WHERE 1=1
            AND ROW_NO = 1
            AND CASE_BGNG_YMD BETWEEN #{SRT_DT} AND #{END_DT}
	        ]]>
	        <if test="CTPV_CD != NULL and CTPV_CD != ''">
               AND CTPV_CD = #{CTPV_CD}
            </if>
            <if test="SGG_CD != NULL and SGG_CD != ''">
               AND SGG_CD = #{SGG_CD}
            </if>
            <if test="INST_NO != NULL and INST_NO != ''">
                AND INST_NO = #{INST_NO}
            </if>
            <if test="ACBG != NULL and ACBG != ''">
                AND ACBG_SE_CD = #{ACBG}
            </if>
            <if test="GRADE != NULL and GRADE != ''">
                AND GRADE_SE_CD = #{GRADE}
            </if>
            <if test="TRPR_SE != NULL and TRPR_SE != ''">
                AND TRPR_CHAR_SE_CD = #{TRPR_SE}
            </if>
            
            <choose>
	            <when test='RELM_SE == NULL or RELM_SE == ""'>
	                <if test='LEVEL_SE != NULL and LEVEL_SE !=""'>
	                    <if test='LEVEL_SE_SRCH_CND == "AND"'>
	                        AND (  DGNSS1<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        AND DGNSS2<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        AND DGNSS6<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        )
	                    </if>
	                    <if test='LEVEL_SE_SRCH_CND == "OR"'>
	                        AND (   DGNSS1<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        OR  DGNSS2<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        OR  DGNSS6<foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach>
	                        )
	                    </if>
	                </if>
	            </when>
	            <otherwise>
	                <if test='RELM_SE_SRCH_CND == "OR"'>
	                    <foreach collection="ARR_RELM_SE" item="RELM" separator="OR" open="AND (" close=")">
	                        <if test='RELM == "1"'>
	                        DGNSS1
	                        </if><if test='RELM == "2"'>
	                        DGNSS2
	                        </if><if test='RELM == "6"'>
	                        DGNSS6
	                        </if>
	                        <choose>
	                            <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
	                            <otherwise><foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach></otherwise>
	                        </choose>
	                    </foreach>
	                </if>
	                <if test='RELM_SE_SRCH_CND == "AND"'>
	                    <foreach collection="ARR_RELM_SE" item="RELM" separator="AND" open="AND (" close=")">
	                        <if test='RELM == "1"'>
	                        DGNSS1
	                        </if><if test='RELM == "2"'>
	                        DGNSS2
	                        </if><if test='RELM == "6"'>
	                        DGNSS6
	                        </if>
	                        <choose>
	                            <when test='LEVEL_SE == NULL or LEVEL_SE ==""'>IS NOT NULL</when>
	                            <otherwise><foreach collection="ARR_LEVEL_SE" item="LEVEL" separator="," open="IN (" close=")">#{LEVEL}</foreach></otherwise>
	                        </choose>
	                    </foreach>
	                </if>
	            </otherwise>
	        </choose>
	        <![CDATA[
	        
	        GROUP BY LINK_TYPE_SE_CD
            ) C
            ON A.SCN_CD = C.LINK_TYPE_SE_CD
	    )   
		GROUP BY ROLLUP(LINK_TYPE)
		
		
	ORDER BY CASE WHEN LINK_TYPE LIKE '%학교 진단%' THEN 1
                WHEN LINK_TYPE LIKE '%유관기관 진단%' THEN 2
                WHEN LINK_TYPE LIKE '%센터 진단%' THEN 3
                WHEN LINK_TYPE LIKE '%미연계(직접등록)%' THEN 4
                WHEN LINK_TYPE LIKE '%합계%' THEN 5
            END
    ]]>
    </select>
</mapper>